﻿

<hgroup class="title">
     <h2>@ViewBag.Token</h2>
    <h2>@ViewBag.Message</h2>
</hgroup>

<div style="width:750px; margin:0 auto;">
 @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <input type="hidden" name="orderId" value="1" />
        <button type="submit" >Proceed Authorize.Net</button>
    }
    <br/>
    
     @using (Html.BeginForm("Indexcyber", "Home", FormMethod.Post))
    {
     <button type="submit" >Proceed Cyber Source</button>
    }

</div>

