﻿<%@ Page Language="C#" AutoEventWireup="true"  MasterPageFile="~/MallAdmin/Themes/Standard/login.master" CodeBehind="ForgotPassword.aspx.cs" Inherits="WebApp.MallAdmin.ForgotPassword" %>

<%@ Register TagPrefix="ZNode" TagName="Spacer" Src="~/MallAdmin/Controls/Default/spacer.ascx" %> 
<%@ Register TagPrefix ="ZNode" TagName="forgotpassword" Src="~/MallAdmin/Controls/Default/ForgotPassword.ascx" %> 

<asp:Content ID="Content1" ContentPlaceHolderID="uxMainContent" runat="Server">
    <div class="Login"> 
        <div>
            <znode:Spacer ID="Spacer2" SpacerHeight="5" SpacerWidth="10" runat="server" />
        </div> 
        <div>
            <ZNode:forgotpassword ID="Forgotpassword1"  runat="server"></ZNode:forgotpassword>
        </div>
       
    </div>
</asp:Content>