﻿<%@ Page Title="Vendor Signup" Language="C#" MasterPageFile="~/MallAdmin/Themes/Standard/login.master" AutoEventWireup="true"    %>
<%@ Register src="~/MallAdmin/Controls/default/vendor/Register.ascx" tagname="Register" tagprefix="ZNode" %>

<asp:Content ID="Content1" ContentPlaceHolderID="uxMainContent" Runat="Server">
 <ZNode:Register ID="uxRegister" runat="server" />
</asp:Content>

