﻿@using Znode.Engine.MvcDemo.ViewModels
@model AddressViewModel

<div class="address-block">
    @if (@Model.Name != null && (ViewBag.ShowHeader != null && ViewBag.ShowHeader == true))
    {
        <div class="address-title">@Model.Name</div>
    }
    <div class="address-name">@Model.FirstName @Model.LastName</div>
    <div class="address-street">@Model.StreetAddress1<br />@Model.StreetAddress2</div>
    <div class="address-citystate">@Model.City, @Model.StateCode, @Model.CountryCode @Model.PostalCode</div>



    @if (!string.IsNullOrEmpty(Model.SourceLink))
    {

        if (Model.SourceLink == Znode.Engine.MvcDemo.Helpers.MvcDemoConstants.CheckoutShippingBilling)
        {
            <div class="address-change">
                <a href="@Model.SourceLink?isAddressChange=true" class="change-address">@Resources.ZnodeResource.LinkTextChange <span class="notsmall">@Resources.ZnodeResource.LinkTextAddress</span></a>
            </div>
        }
        else
        {
            <div class="address-change">
                <a href="@Model.SourceLink" class="change-address">@Resources.ZnodeResource.LinkTextChange <span class="notsmall">@Resources.ZnodeResource.LinkTextAddress</span></a>
            </div>
        }
    }
</div>