﻿@using Znode.Engine.MvcDemo.ViewModels
@model AddressViewModel

<dl class="edit-address-form">
    @Html.ValidationSummary(true)
    @if (ViewBag.HideDisplayName == null || ViewBag.HideDisplayName == false)
    {
    @* The display name input should be toggled via a parameter per view as needed *@
        <dt><label for="address_name">@Resources.ZnodeResource.ColumnDisplayName</label></dt>
        <dd class="form-helper">@Resources.ZnodeResource.HintTextDisplayName</dd>
        <dd>@Html.TextBoxFor(m => m.Name, new {@id = "address_name"})</dd>
        <dd class="form-error">@Html.ValidationMessageFor(m => m.Name)</dd>
    }
    else
    {
         @* Set default value for model validation *@
        <dt><input id="address_name" name="Name" type="hidden" value="Default Address"></dt>
    }
    <dt><label for="address_firstname">@Resources.ZnodeResource.ColumnFirstName</label></dt>
    <dd>@Html.TextBoxFor(m => m.FirstName,new { @id ="address_firstname" })</dd>
    <dd class="form-error">@Html.ValidationMessageFor(m => m.FirstName)</dd>

    <dt><label for="address_lastname">@Resources.ZnodeResource.ColumnLastName</label></dt>
    <dd>@Html.TextBoxFor(m => m.LastName,new { @id ="address_lastname" })</dd>
    <dd class="form-error">@Html.ValidationMessageFor(m => m.LastName)</dd>

    <dt><label for="address_company">@Resources.ZnodeResource.ColumnCompanyName</label></dt>
    <dd>@Html.TextBoxFor(m => m.CompanyName,new { @id ="address_company" })</dd>

    <dt><label for="address_street1">@Resources.ZnodeResource.ColumnStreetAddress</label></dt>
    <dd>@Html.TextBoxFor(m => m.StreetAddress1,new { @id ="address_street1", @class="form-input-long"})</dd>
    <dd>@Html.TextBoxFor(m => m.StreetAddress2,new { @id ="address_street2", @class="form-input-long"})</dd>
    <dd class="form-error">@Html.ValidationMessageFor(m => m.StreetAddress1)</dd>
    @*country dropdown list*@
     <dt><label for="address_country">@Resources.ZnodeResource.ColumnCountry</label></dt>
    <dd>
        @Html.DropDownList("CountryCode",new SelectList(Model.Countries,"Code","Name"), new { @id="address_country"})       
    </dd>
     <dd class="form-error">@Html.ValidationMessageFor(m => m.CountryCode)</dd>

    <dt><label for="address_state">@Resources.ZnodeResource.ColumnState</label></dt>
    <dd>
         @Html.DropDownList("StateCode",new SelectList(Model.States,"Code","Name"), new { @id="address_state"})    
    </dd>
    <dd class="form-error">@Html.ValidationMessageFor(m => m.StateCode)</dd>

    <dt><label for="address_city">@Resources.ZnodeResource.ColumnCity</label></dt>
    <dd>@Html.TextBoxFor(m => m.City,new { @id ="address_city" })</dd>
    <dd class="form-error">@Html.ValidationMessageFor(m => m.City)</dd>     

    <dt><label for="address_zipcode">@Resources.ZnodeResource.ColumnZipCode
        </label></dt>
    <dd>@Html.TextBoxFor(m => m.PostalCode,new { @id ="address_zipcode", @class="form-input-short"})</dd>
    <dd class="form-error">@Html.ValidationMessageFor(m => m.PostalCode)</dd>
</dl>
@Html.HiddenFor(ob => ob.StateCode, new { @id = "hdn_StateCode" })

@Html.HiddenFor(ob=>ob.CountryCode, new { @Value = "US"})

    @if (ViewBag.HideEmail == null || ViewBag.HideEmail == false)
    {
        <dl class="edit-address-email">
            <dt><label for="address_email">@Resources.ZnodeResource.ColumnEmailAddress*</label></dt>
            <dd class="form-helper">@Resources.ZnodeResource.RequiredBillingAddressEmail</dd>
            <dd>@Html.TextBoxFor(m => m.Email, new {@type = "email", @id = "address_email", @class = "form-input-long"})</dd>
            <dd class="form-error">@Html.ValidationMessageFor(m => m.Email)</dd>
        </dl>
    }


@if (Model.AddressId > 0)
{
    @Html.HiddenFor(m => m.AddressId)
}
@if (Model.AccountId > 0)
{
    @Html.HiddenFor(m => m.AccountId)
}


@if (ViewBag.IsAddAddress == null || ViewBag.IsAddAddress == false)
{
    if (Model.IsDefaultShipping)
    {
        @Html.HiddenFor(m => m.IsDefaultShipping)
    }
    if (Model.IsDefaultBilling)
    {
        @Html.HiddenFor(m => m.IsDefaultBilling)
    }
}
