﻿<script id="tmpl-typeahead-results" type="text/template">
<a href="#" class="close"><span>Close</span></a>
<ul>
    {{#matches}}
    <li><a href="/Search?searchTerm={{term}}&category={{category}}"><strong>{{product}}</strong> {{suffix}}</a></li>
    {{/matches}}  
</ul>    
</script>
<script id="tmpl-alertmessage" type="text/template">
    <div id="status-message" class="{{style}}">{{message}}</div>
</script>