﻿@using Znode.Engine.MvcDemo.Extensions
@{
    if (!String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = ViewBag.Title;
    }
    else
    {
        ViewBag.Title = Resources.ZnodeResource.TextStoreName;
    }
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Images/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/Images/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Images/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/Images/apple-touch-icon-152x152-precomposed.png">

    <script src="/Scripts/lib/jquery-2.0.3.min.js"></script>
    <script src="/Scripts/lib/modernizr.js"></script>

    <link rel="stylesheet" href="/Styles/maxwells/css/site.css">
</head>
<body id="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" class="@ViewContext.RouteData.Values["Action"]" data-controller="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" data-view="@ViewContext.RouteData.Values["Action"].ToString().FirstCharToUpper()">

    <div id="layout">
        <div id="mobile-menu">
            <div class="mobile-menu-container">
                <a href="#layout-header" class="mobile-menu-closetop"><span>@Resources.ZnodeResource.LinkTextClose</span></a>
                <div id="mobile-menu-clone"></div>
                <a href="#layout-header" class="mobile-menu-closebottom">@Resources.ZnodeResource.LinkTextClose</a>
            </div>
        </div>
        <header id="layout-header">
            <div class="header-toolbar">
                <ul>
                    <li class="header-toolbar-promo"><a href="/"><strong>@Resources.ZnodeResource.TitleSpecialOffer</strong> @Resources.ZnodeResource.TitleFreeShipping</a></li>
                    <li class="header-toolbar-cart"><a href="/cart">@Resources.ZnodeResource.TitleMycart <span class="cartcount"></span></a></li>
                    <li class="header-toolbar-account">@Html.Action("LoginStatus", "Account", true) </li>
                </ul>
            </div>
            <div class="container">
                <a href="/" class="header-logo">
                    <img src="/Images/logo-desktop.png" alt="" /></a>
                <div class="header-cart">
                    <a href="/cart">@Resources.ZnodeResource.TitleMycart <span class="cartcount"></span></a>
                </div>

                <nav class="header-nav">
                    <a href="#shortcuts" id="toggle-mobilemenu">Menu</a>
                    @{ Html.RenderAction("TopLevelList", "Category"); }
                </nav>
                <div class="header-search">
                    <form action="/search" method="GET">
                        <input type="text" autocomplete="off" id="header-search-input" name="searchterm" class="form-input" data-large="Find a product" data-medium="Search..." data-small="" placeholder="" />
                        <button type="submit" class="button"><span>Search</span></button>
                        <div id="typeahead-results"></div>
                    </form>
                </div>
            </div>
        </header>
        <div id="layout-content">
          <div class="container" id="SuccessMessage">@Html.Partial("_StatusMessage")</div>
            @RenderBody()
        </div>
        <footer id="layout-footer">
            <a href="#layout" class="to-top"><span>To top</span></a>
            <div class="container">
                <span class="footer-support">
                    <div class="footer-contact">
                        <h3 class="footer-header">@Resources.ZnodeResource.TextCustomerSupport</h3>
                        <a href="mailto:support@maxwellfinefruits.com">@Resources.ZnodeResource.TextEmailSupport</a>
                        <div>@Resources.ZnodeResource.TextSupportPhoneNumber</div>
                        <p><a href="/home/contentpage">@Resources.ZnodeResource.LinkTextContactus</a></p>
                        <div class="social-share">
                            <ul>
                                <li><a href="http://twitter.com" class="twitter"><span>Twitter</span></a></li>
                                <li><a href="http://facebook.com" class="facebook"><span>Facebook</span></a></li>
                            </ul>
                            <ul>
                                <p>
                                    <li>@Resources.ZnodeResource.TextCopyRights</li>
                                </p>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-promotion">
                        &nbsp;
                    </div>
                </span>
                <span id="footer-shortcuts" class="footer-sitemap">
                    <h4 class="footer-header small-only menu-top">Find products</h4>
                    <form class="footer-search" action="/search" method="GET">
                        <input type="text" autocomplete="off" name="searchterm" class="form-input" />
                        <button type="submit" class="button"><span>Search</span></button>
                    </form>
                    <nav class="footer-container-primary footer-shop">
                        <h4 class="footer-header">Shop</h4>
                        @{ Html.RenderAction("TopLevelList", "Category"); }
                        <ul>
                            <li class="to-top"><a href="#layout">To top</a></li>
                        </ul>
                    </nav>
                    <span class="footer-container-secondary">
                        <nav class="footer-help">
                            <h4 class="footer-header">@Resources.ZnodeResource.TitleHelp</h4>
                            <ul>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a href="/Account/dashboard">@Resources.ZnodeResource.LinkTextYourAccount</a></li>
                                    <li><a href="/Cart">@Resources.ZnodeResource.LinkTextYourCart</a></li>
                                    <li><a href="/Account/wishlist">@Resources.ZnodeResource.LinkTextYourWishlist</a></li>
                                    <li><a href="#" class="account-logout">@Resources.ZnodeResource.LinkTextLogOff</a></li>
                                }
                                else
                                {
                                    <li><a href="/Account/Login">Login</a></li>
                                    <li><a href="/Account/Signup">Register</a></li>
                                    
                                }
                                <li><a href="/Home/contentpage">@Resources.ZnodeResource.LinkTextContactus</a></li>
                                <li><a href="/Home/contentpage">@Resources.ZnodeResource.LinkTextFAQ</a></li>
                                <li><a href="/Home/contentpage">@Resources.ZnodeResource.LinkTextReturns</a></li>
                                <li><a href="/Home/contentpage">@Resources.ZnodeResource.LinkTextShippingInfo</a></li>

                                <li class="to-top"><a href="#layout">To top</a></li>
                            </ul>
                        </nav>
                        <nav class="footer-store">
                            <h4 class="footer-header">@Resources.ZnodeResource.TitleStoreInfo</h4>
                            <ul>
                                <li><a href="/Home/contentpage">@Resources.ZnodeResource.LinkTextOurCompany</a></li>
                                <li><a href="/Home/contentpage">@Resources.ZnodeResource.LinkTextFindaStore</a></li>
                                <li><a href="/Home/contentpage">@Resources.ZnodeResource.LinkTextCareers</a></li>
                                <li><a href="/Home/contentpage">@Resources.ZnodeResource.LinkTextPress</a></li>
                                <li><a href="/home/giftcard">@Resources.ZnodeResource.LinkTextGiftcards</a></li>
                                <li class="to-top"><a href="#layout">To top</a></li>
                            </ul>
                        </nav>
                    </span>
                </span>
            </div>
        </footer>
    </div>
    @Html.Partial("_InlineTemplates")

    <script src="/Scripts/lib/gluten.js"></script>
    <script src="/Scripts/lib/mustache.js"></script>
    <script src="/Scripts/helpers.js"></script>
    <script src="/Scripts/global.js"></script>
    <script src="/Scripts/home.js"></script>
    <script src="/Scripts/cart.js"></script>
    <script src="/Scripts/product.js"></script>
    <script src="/Scripts/checkout.js"></script>
    <script src="/Scripts/search.js"></script>
    <script src="/Scripts/account.js"></script>
    <script src="/Scripts/api.js"></script>
    <script src="/Scripts/category.js"></script>
    <script src="/Scripts/flexisel-product-slider.js"></script>
    <script src="/Scripts/jquery.simpleGallery.js"></script>
    <script src="/Scripts/jquery.simpleLens.js"></script>
</body>
</html>
