﻿<div class="social-share">
	<ul>
	    <li><a href="" class="twitter addthis_button_twitter"><span>Twitter</span></a></li>
	    <li><a href="" class="facebook addthis_button_facebook"><span>Facebook</span></a></li>
	    <li><a href="" class="pinterest addthis_button_pinterest"><span>Pinterest</span></a></li>
	    <li><a href="" class="email addthis_button_email"><span>Email</span></a></li>
        <li><a href="" class="addthis addthis_button"><span>Share</span></a></li>
	</ul>
</div>