﻿@model Znode.Engine.MvcDemo.ViewModels.BaseViewModel

@if (Model != null)
{
    if (!string.IsNullOrEmpty(Model.SuccessMessage))
    {
        <div id="status-message" class="success">
            @Model.SuccessMessage
        </div>
    }
    if (!string.IsNullOrEmpty(Model.ErrorMessage) && Model.HasError)
    {
        <div id="status-message" class="FailureText">
            @Model.ErrorMessage  
        </div>
    }
}