﻿@using Znode.Engine.MvcDemo.Helpers
@model int

<span class="star-rating">
    @for (int i = 1; i <= MvcDemoConstants.ReviewStarCount; i++)
     {
         if (Model >= i)
         {
               <span class="full"></span>
         }
         else
         {
              <span class="empty"></span>
         }
     }
</span>