﻿@model System.Web.Mvc.HandleErrorInfo

@{
	ViewBag.Title = "Page not found";
}
<div id="layout-error" class="container-narrow">
    <h1>Page could not be found</h1>
    <p>The page you were trying to reach is no longer available or has been moved.</p>
	<p><a href="/" class="arrow-right-before">Go to home page</a></p>
</div>