﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels

@model CategoryListViewModel

<ul>
	@{
	    foreach (var category in Model.Categories) 
        {
            <li><a href="@Url.GetCategoryUrl(category.SEOPageName, category.CategoryName)">@WebUtility.HtmlDecode(category.CategoryName)</a></li>  
        }
	}
</ul>