﻿@using Znode.Engine.MvcDemo
@using Znode.Engine.MvcDemo.ViewModels

@model KeywordSearchViewModel

<div id="layout-category">

    @if (Model.Categories != null && Model.Categories.Any())
    {

        ViewBag.Description = Model.SeoDescription;
        ViewBag.Keywords = Model.SeoKeywords;

    }

    @if (Model.Categories != null)
    {
        <div class="location">
            <h1 class="location-title">@Model.Category</h1>
        </div>
        <div class="category-features">
             @*to show category banners on category pages*@
            <div class="category-banner">@Html.Raw(@Model.CategoryBanner)</div>              
        </div>
        <div class="category-features">
            <div class="feature-left">
                <h3 class="section-header">@Resources.ZnodeResource.SubTitleBrowse</h3>
                <ul class="menu">
                    @foreach (var category in Model.Categories)
                    {
                        <li>@Html.ActionLink("View all " + category.Name, "Index", "Search", new { category = category.Name }, new { @class = "arrow-right-before" }) </li>
                        foreach (var subCategory in category.Hierarchy)
                        {
                        <li>@Html.ActionLink(subCategory.Name, "Index", "Search", new { category = subCategory.Name }, new { @class = "arrow-right-before" }) </li>
                        }
                    }
                </ul>
            </div>
            <div class="feature-right">
                <span class="top-promo">
                    @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "MVCDemoCategoryLandingSlot1" }); }
                </span>
                <ul class="features">
                    <li class="secondary-promo">
                        @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "MVCDemoCategoryLandingSlot2" }); }
                    </li>
                    <li>
                        @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "MVCDemoCategoryLandingSlot3" }); }
                    </li>
                </ul>
            </div>
        </div>
        <div class="category-filters">
            <h3 class="section-header"><a href="#" id="toggle-filters" data-toggle="#filter-container" class="toggle arrow-down-after">@Resources.ZnodeResource.SubTitleRefineBrowsing</a></h3>
            <div id="filter-container">
                <ul class="product-grid">
                    @foreach (var facet in Model.Facets)
                    {
                        <li>
                            @Html.Partial("../Search/_FacetList", facet)
                        </li>
                    }
                </ul>
            </div>
        </div>       
        <div class="category-products">
            <div class="category-products-banner">                
                <div class="view-opt"> 
                    <span>@Resources.ZnodeResource.ProductViewMode &nbsp;</span>                                  
                    <a href="javascript:void(0);" class="productview grid-view-opt-active" title="Grid View"></a>
                    <a href="javascript:void(0);" class="productview list-view-opt" title="List View"></a>
                    <a href="javascript:void(0);" class="productview text-view-opt" title="Text View"></a>
                </div>
                <h3 class="section-header">Popular in @Model.Category</h3>
            </div>
            @Html.Partial("../Product/_ProductGrid", Model.Products)

            <div class="category-more">

                @Html.ActionLink("View all " + @Model.Category, "Index", "Search",
                                 new
                                     {
                                         Category = Model.Category,
                                         pagenumber = 1
                                     },
                                 new
                                     {
                                         @class = "button"
                                     })

            </div>


            @*to show recently view item list*@
            <div id="category-recent-product"> 
                  <h4>@Resources.ZnodeResource.TextRecentViewProducts</h4>               
                <span class="recent-view-items"></span>
            </div>
        </div>
    }
</div>



