<%@ Control Language="C#" AutoEventWireup="true" Inherits="Znode.Engine.Demo.Controls_Default_Reviews_ProductAverageRating" Codebehind="ProductAverageRating.ascx.cs" %>
<span class="RatingImage"><a id="Productpath1" enableviewstate="false" runat="server"><asp:Placeholder ID="ImageRatingStar" runat="server" /></a></span>
<a id="Productpath2" enableviewstate="false" style="text-decoration:none;" runat="server">&nbsp;<asp:Label ID="lbltotalRating" runat="server"></asp:Label></a>
<span id="ReviewLink" runat="server" visible="false"> | <a href="#"><asp:Label id="lblReview" meta:resourcekey="lblReview" runat="server"/></a></span>