﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Dashboard.DashboardTitle</h2>
<div class="dashboard">
    <span>@Resources.Dashboard.TitleWelcome</span> &nbsp;<span> <b>@User.Identity.Name</b></span>

    <br />
    Manage your stores, products, inventory, promotions, and orders. 
    <br />
    <br />
    <div>
        <ul>
            <li>
                <div>
                    <span>Setup</span>
                    <ul>
                        <li><a href="/test/index">Store</a></li>
                        <li><a href="/test/index">Catalog</a></li>
                        <li><a href="/test/index">Categories</a></li>
                        <li><a href="/test/index">Payment</a></li>
                        <li><a href="/test/index">Shipping</a></li>
                        <li><a href="/test/index">Taxes</a></li>
                        <li><a href="/test/index">Manage Messages</a></li>
                        <li><a href="/test/index">Manage Banners</a></li>
                        <li><a href="/test/index">Manage Content Pages</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div>
                    <span>Inventory</span>
                    <ul>
                        <li><a href="/test/index">Products</a></li>
                        <li><a href="/test/index">Import/Export Data</a></li>
                        <li><a href="/test/index">Brands</a></li>
                        <li><a href="/test/index">Product Types</a></li>
                        <li><a href="/test/index">Attribute Types</a></li>
                        <li><a href="/test/index">Add-Ons Types</a></li>
                        <li><a href="/test/index">Highlight</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div>
                    <span>Marketing</span>
                    <ul>
                        <li><a href="/test/index">Promotions and Coupons</a></li>
                        <li><a href="/test/index">Gift Cards</a></li>
                        <li><a href="/test/index">Customer Reviews</a></li>
                        <li><a href="/test/index">Product Types</a></li>
                        <li><a href="/test/index">Attribute Types</a></li>
                        <li><a href="/test/index">Add-Ons Types</a></li>
                        <li><a href="/test/index">Highlight</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div>
                    <span>Orders</span>
                    <ul>
                        <li><a href="/test/index">View Orders</a></li>
                        <li><a href="/test/index">Create an Order</a></li>
                        <li><a href="/test/index">Profiles</a></li>
                        <li><a href="/test/index">Customers</a></li>
                        <li><a href="/test/index">Service Request</a></li>
                        <li><a href="/test/index">RMA Configuration</a></li>
                        <li><a href="/test/index">RMA Manager</a></li>
                        <li><a href="/test/index">Suppliers</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div>
                    <span>Vendors</span>
                    <ul>
                        <li><a href="/test/index">Vendor Products</a></li>
                        <li><a href="/test/index">Vendor Accounts</a></li>
                        <li><a href="/test/index">Franchise Administrators</a></li>
                        <li><a href="/test/index">Rejection Messages</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div>
                    <span>Reports</span>
                </div>
            </li>
            <li>
                <div>
                    <span>Advance</span>
                    <ul>
                        <li><a href="/test/index">Store Administrators</a></li>
                        <li><a href="/test/index">Key Rotation</a></li>
                        <li><a href="/test/index">Provider Engine</a></li>
                        <li><a href="/test/index">Manage Search Index</a></li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</div>
