@media screen
{
/* GENERAL STYLES */
body { margin-top: 0px; margin-left: 0px; margin-right: 10px; font-family:Arial, Calibri; font-size: 8pt; color:#333333; background-image:url(../Images/background/page_background.png); background-repeat:repeat-x;}		
h2, h3, h4 { font-family: Arial, Calibri,helvetica,sans-serif; color: #d50a20; }	

h1 {text-align: left;font-family: Georgia;font-size: 3.2em;font-weight: normal;color: #333333;margin-top: 10px;margin-bottom: 10px;}
h6 { font-family: Arial; color: #666666; font-size: 13pt; margin-bottom: 10px; margin-top: 0px; font-weight: bold; }

h2{font-size: 14px; margin-bottom:5px;}

h3{font-size: 12px; margin-bottom:5px;}

h4 {font-family:Arial;  margin-top: 10px; margin-bottom: 10px;  margin-right:10px; font-weight: bold; font-size: 10pt !important; color: #D25A0B; width:100%; padding-right: 5px; padding-bottom: 3px; padding-top: 3px;   }	
h4.SubTitle { clear:both; color:#e47625; font: normal 13px Arial !important; margin-bottom:5px; padding-top:3px;padding-bottom:3px; border-top:solid 1px #ececec; background-image:url(../images/gridHeaderBackground.jpg); height:27px; background-repeat:repeat-x; background-position:left 25px; }
h4.GridTitle { clear:both; color:#e47625; font: normal 13px Arial !important; width:99.8%; padding-top:2px;padding-bottom:2px; border-top:solid 1px #ececec; }

h5 {font-family: Arial; color: Black; font-size: 12pt; margin-bottom: 10px; margin-top: 0px; font-weight: bold; }
hr {border: 1;width: 100%;color: #cccccc;height: 1px;}

A:link { text-decoration: none;  font-family: Arial,Calibri,helvetica,sans-serif; color:#4890A9; font-weight:bold; }
A:Visited{text-decoration: none;  font-family: Arial,Calibri,helvetica,sans-serif;color:#4890A9; font-weight:bold;}
A:Hover { text-decoration: none;  font-family: Arial,Calibri,helvetica,sans-serif;color:#EC2B21; font-weight:bold;} 

a:link.actionlink { text-decoration: none;  font-family: Arial,Calibri,helvetica,sans-serif; color:#4890A9; font-weight:bold; text-transform:uppercase; }
a:visited.actionlink {text-decoration: none;  font-family: Arial,Calibri,helvetica,sans-serif;color:#4890A9; font-weight:bold; text-transform:uppercase;}
a:hover.actionlink { text-decoration: none;  font-family: Arial,Calibri,helvetica,sans-serif;color:#EC2B21; font-weight:bold; text-transform:uppercase;} 

.SuccessMark{font-weight: bold; color: Green; font-size: 9px; background-image: url(../Images/check.png); line-height:16px; background-repeat: no-repeat; padding-left: 15px; margin-bottom: 2px; margin-top: 2px; }
.CheckMark{ font-weight: bold; color: #000000; font-size: 9px; background-image: url(../Images/check.png); line-height:16px; background-repeat: no-repeat; padding-left: 15px; margin-bottom: 2px; margin-top: 2px; }
.ExclamationMark { font-weight: bold; color: #000000; font-size: 9px; background-image: url(../Images/warning_small.gif); background-repeat: no-repeat; padding-left: 15px; margin-bottom: 5px; margin-top: 5px; }
.Success{ font-weight: bold; color: Green; font-size: 9px; background-image: url(../Images/warning_small.gif); background-repeat: no-repeat; padding-left: 15px; margin-bottom: 5px; margin-top: 5px; }
.Error{ font-weight: bold; color: #ff0000; font-size: 11px; margin-bottom: 5px; margin-top: 5px; font-family:Arial, Verdana; }
p {	margin-top: 5px; margin-bottom: 10px;font-size: 11pt;font-family: Georgia;color: #333333;}
big{font-size: 9pt;}
small { font-size: 8pt; font-weight: normal; color: #666666; font-family: arial; border-top-width: 1px; border-left-width: 1px; border-left-color: #3399cc; border-bottom-width: 1px; border-bottom-color: #3399cc; border-top-color: #3399cc; border-right-width: 1px; border-right-color: #3399cc; }
.ShadowLine { background-image: url(../Images/shadow_vertical.gif); background-repeat: repeat-x; height: 5px; background-color: #ffffff; }	
.Button{ padding-left:5px; padding-right:5px; padding-top:2px;padding-bottom:2px; color:#333333;font-family:arial;font-size:11px;font-weight:bold;background-color:#fed;border:1px solid;border-top-color:#696;border-left-color:#696;border-right-color:#363;border-bottom-color:#363;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');}
.MiceText { font-size: 9px; color: #333333; font-family: arial; }
.PopupBody { text-align: center; margin-top: 0px; font-family: arial,helvetica,sans-serif; font-size: 8pt; color: #666666; background-color: #ffffff; }		
.Seperator { clear: both; text-align:center; width: 100%; height: 5px; line-height: 1px; background-image:url(../images/gridHeaderBackground.jpg); margin:0px 0px 10px 0px; }

/* PAGE SECTIONS */	
.TopStrip { padding-right: 5px; padding-bottom: 5px; padding-top: 2px; font-size: 9px; }
.TopStrip a{font-size: 9px;}
.LeftPane { background-color: #fbfbfb; padding-right: 5px; padding-left: 5px; padding-bottom: 20px; padding-top: 10px; width: 150px; border-right: #a2bcd5 1px solid; }
.EditorLeftPane { background-color: #efefef; padding-right: 5px; padding-left: 5px; padding-bottom: 20px; padding-top: 5px; width: 150px; border-right: #a2bcd5 2px solid; margin-right: 10px; }
.CenterPane { background-color: white; padding-right: 20px; padding-left: 20px; padding-bottom: 25px; padding-top: 10px; border-left: #a2bcd5 1px solid; border-right: #a2bcd5 2px solid; }
.EditPane { background-color: white; padding-right: 20px; padding-left: 20px; padding-bottom: 20px; padding-top: 20px; border-bottom: #a2bcd5 1px solid; border-left: #a2bcd5 1px solid; border-right: #a2bcd5 1px solid;}
.PopupPane { background-color: white; padding-right: 10px; padding-left: 20px; padding-bottom: 25px; padding-top: 20px; }

.ButtonStyle { text-align: right; padding-right: 10px; text-transform:capitalize; }

#Container 
{
	width:897px;    
    padding-bottom: 0px;
    padding-top:0px;
    text-align:left;
    margin:0px auto;
}

.HeaderPane { text-align: left; height: 65px; width:897px; }
.HeaderSpacer { padding-bottom: 15px; background-color: #E0E0E0; }
.HeaderPane .BackgroundLeft { width: 6px; background-image: url(../Images/header_background_left.png); background-repeat: no-repeat; background-position:top left; float:left; height:65px; }
.HeaderPane .BackgroundRight { width: 6px; height:65px; background-image: url(../Images/header_background_right.png); background-repeat: no-repeat; background-position: top right;	float:left; }
.HeaderPane .BackgroundMiddle { text-align: left; height: 65px;	background-repeat: repeat-x; background-image: url(../Images/header_bg.jpg); background-position: center center; width:883px; float:left; vertical-align:middle; }
.HeaderPane .Spliter { float:left; padding-top:12px; padding-left: 10px; padding-right: 10px; }
.HeaderPane .Logo { height: 65px; width: auto; float:left; }
.HeaderPane .Caption { text-align: left; font-family: arial; font-size: 12pt; color: #ffffff; font-weight: bold; text-transform: capitalize; text-transform: uppercase; float:left; padding-top:25px; padding-right:15px; }
.HeaderPane .PoweredByZnode { text-align: left;	float:left; }
.HeaderPane .RightElement { float:right; margin-top:15px; text-align:right; margin-right:25px;}
.HeaderPane .WelcomeNote { text-transform: uppercase; text-align: right; font-size: 9pt; color: #ffffff; font-weight: bold; }
.HeaderPane .Links { padding-top:3px;  }
.HeaderPane .Links .Caption { text-transform: uppercase; text-align: right; font-family: arial; font-size: 10pt; color: #ffffff; font-weight: bold; }
.HeaderPane .Links .LinkItem { padding-left: 10px; }
.HeaderPane .Links A:LINK { text-transform: uppercase; text-decoration: none; font-family: arial; font-size: 7pt; color: #ffffff; }
.HeaderPane .Links A:VISITED { text-transform: uppercase; text-decoration: none; font-family: arial; font-size: 7pt; color: #ffffff; }
.HeaderPane .Links A:HOVER { text-transform: uppercase; text-decoration: underline; font-family: arial; font-size: 7pt;	color: #ffffff; }

.MenuPane {	height: 45px;width: 897px;}
.MenuPane .PageTitle { color: #ffffff; font-size: 14pt; font-family: arial, Verdana, Tahoma,arial; font-weight: bold; padding-top: 8px; padding-left: 10px;}

.MenuPane .BackgroundMiddle {
	vertical-align: top;
	width: 879px;
	height: 45px;
	background-image: url(../Images/menu_background.png);
	background-repeat: repeat-x;
	background-position: left center;
	text-align: left;
	float:left;
}
.MenuPane .BackgroundRight
{
	width: 9px;
	height: 46px;
	background-image: url(../Images/menu_right.png);
	background-repeat: no-repeat;
	background-position: right top;
	float:left;
}
.MenuPane .BackgroundLeft
{
	width: 9px;
	height: 46px;
	background-image: url(../Images/menu_left.png);
	background-repeat: no-repeat;
	background-position: left top;
	float:left;
}

.ContentPane
{
	height: 100%;
	width: 897px;
	background-color: #ffffff;
}

.ContentPane .Content
{
	width: 887px;
	padding: 5px;
	margin: 0px;
	text-align: center;
	float:left;
	height:auto;
	background-image: url(../Images/content_border_line.png);
	background-repeat: repeat-y;
	background-position: center center;
}

.ContentPane .BottomImage
        {
	margin-bottom: -10px;
	
        }
.ContentPane .Content .Title {color:#e47625; font: bold 20px Arial; padding-top:3px;padding-bottom:3px;}

/*.ContentPane .Content .SubTitle {clear: both;color: rgb(202, 87, 3);margin-bottom: 5px;padding-top: 5px;padding-bottom: 3px;border-top: solid 1px #ececec;background-image:url(../images/gridHeaderBackground.jpg); height: 27px; background-repeat: repeat-x;background-position: left 25px;margin-top: 20px;}*/
.ContentPane .Content .SubTitle { clear:both; color:#e47625; font: normal 13px Arial; margin-bottom:5px; padding-top:3px;padding-bottom:3px; border-top:solid 1px #ececec; background-image:url(../images/gridHeaderBackground.jpg); height:27px; background-repeat:repeat-x; background-position:left 25px; }
.ContentPane .Content .GridTitle {clear: both;color: rgb(202, 87, 3);padding-top: 5px;padding-bottom: 5px;border-top: solid 1px #ececec;}

.ContentPane .Content .text {color:#000000; font: normal 14px Arial; padding-top:3px;padding-bottom:3px; }

.ContentPane .Content .ReportLeft {float:left; width:200px; color:#000000; font: normal 13px Arial; line-height:20px; border-right:solid 1px #ececec; }
.ContentPane .Content .ReportLeft .ReportMenuStyle { color:#056a9d; margin:0px; padding:0px; text-transform: uppercase; line-height:16px; text-decoration:none; }	
.ContentPane .Content .ReportLeft .ReportMenuItemStyle a { display:block; color:#056a9d; text-transform: uppercase; line-height:16px; width:auto; white-space:nowrap;text-decoration:none; font-size:10px; font-weight: bold; padding-right: 4px; padding-left: 4px; padding-bottom: 2px; padding-top:2px; }	
.ContentPane .Content .ReportLeft .ReportMenuItemStyle:hover a { display:block; text-transform: uppercase; line-height:16px; background-color:#e7f0f5; color:#EC2B21; }	
.ContentPane .Content .ReportLeft .ReportSelectedStyle a { display:block; text-decoration:none; text-transform: uppercase; line-height:16px; width:auto; white-space:nowrap; font-size:10px; font-weight: bold; padding-right: 4px; padding-left: 4px; padding-bottom: 2px; padding-top:2px; background-color:#e7f0f5;  color:#000;}
.ContentPane .Content .ReportLeft .ReportSelectedStyle:hover a { display:block; text-decoration:none; text-transform: uppercase; line-height:16px; width:auto; white-space:nowrap; font-size:10px; font-weight: bold; padding-right: 4px; padding-left: 4px; padding-bottom: 2px; padding-top:2px; background-color:#e7f0f5;  color:#EC2B21;}


.ContentPane .Content .ReportRight { float:left; width:660px; color:#000000; font: normal 12px Arial; padding-left:5px; }
.ContentPane .Content .ReportRight div.Reports { display:inline-block !important; width:100%; }

.ContentPane .Content .ReportLayout { width:100%; clear: both; }

.ContentPane .Content .ReportLayout .InputStype { width:33% }
.ContentPane .Content .ReportLayout INPUT[type=text] { width:80px; }

.ContentPane .Content .ReportLayout .Buttons { clear:both; text-align:right; padding-right:24px; }



.ImageButtons 
{    
    
}

.ImageButtons INPUT[type=submit]
{ 
    clear:both;     
    background-image:url(../Images/buttons/button_empty.gif);           
    background-position:center center;
    background-repeat:no-repeat;
    text-align:center;        
    border:none;
    width:150px;
    height:19px;
    background-color:White;
    color:White;
    font-family:Arial, Calibri, Sans-Serif;
    font-size:11px;
    font-weight:normal;        
    vertical-align:5px;
    text-transform:uppercase;
}

.ImageButtons INPUT[type=submit].Size175
{ 
    clear:both;     
    background-image:url(../Images/buttons/button_empty_175.gif);           
    background-position:center center;
    background-repeat:no-repeat;
    text-align:center;        
    border:none;
    width:175px;
    height:19px;
    background-color:White;
    color:White;
    font-family:Arial, Calibri, Sans-Serif;
    font-size:11px;
    font-weight:normal;        
    vertical-align:5px;
    text-transform:uppercase;
}

.ImageButtons INPUT[type=submit].Size210
{ 
    clear:both;     
    background-image:url(../Images/buttons/button_empty_210.gif);           
    background-position:center center;
    background-repeat:no-repeat;
    text-align:center;        
    border:none;
    width:210px;
    height:19px;
    background-color:White;
    color:White;
    font-family:Arial, Calibri, Sans-Serif;
    font-size:11px;
    font-weight:normal;        
    vertical-align:5px;
    text-transform:uppercase;
}

.ImageButtons INPUT[type=submit].Size100
{ 
    clear:both;     
    background-image:url(../Images/buttons/button_empty_100.gif);           
    background-position:center center;
    background-repeat:no-repeat;
    text-align:center;        
    border:none;
    width:100px;
    height:19px;
    background-color:White;
    color:White;
    font-family:Arial, Calibri, Sans-Serif;
    font-size:11px;
    font-weight:normal;        
    vertical-align:5px;
    text-transform:uppercase;
}

.ImageButtons INPUT[type=submit]:hover
{ 
    clear:both; 
    background-image:url(../Images/buttons/button_empty_highlight.gif);           
    background-position:center center;
    background-repeat:no-repeat;
    text-align:center;        
    border:none;
    width:150px;
    height:19px;
    font-family:Arial, Calibri, Sans-Serif;
    background-color:White;
    color:White;
    font-size:11px;
    font-weight:normal;        
    vertical-align:5px;
    text-transform:uppercase;
    cursor:pointer;
}

.ImageButtons INPUT[type=submit].Size175:hover
{ 
    clear:both; 
    background-image:url(../Images/buttons/button_empty_highlight_175.gif);           
    background-position:center center;
    background-repeat:no-repeat;
    text-align:center;        
    border:none;
    width:175px;
    height:19px;
    font-family:Arial, Calibri, Sans-Serif;
    background-color:White;
    color:White;
    font-size:11px;
    font-weight:normal;        
    vertical-align:5px;
    text-transform:uppercase;
    cursor:pointer;
}

.ImageButtons INPUT[type=submit].Size210:hover
{ 
    clear:both; 
    background-image:url(../Images/buttons/button_empty_highlight_210.gif);           
    background-position:center center;
    background-repeat:no-repeat;
    text-align:center;        
    border:none;
    width:210px;
    height:19px;
    font-family:Arial, Calibri, Sans-Serif;
    background-color:White;
    color:White;
    font-size:11px;
    font-weight:normal;        
    vertical-align:5px;
    text-transform:uppercase;
    cursor:pointer;
}

.ImageButtons INPUT[type=submit].Size100:hover
{ 
    clear:both; 
    background-image:url(../Images/buttons/button_empty_highlight_100.gif);           
    background-position:center center;
    background-repeat:no-repeat;
    text-align:center;        
    border:none;
    width:100px;
    height:19px;
    font-family:Arial, Calibri, Sans-Serif;
    background-color:White;
    color:White;
    font-size:11px;
    font-weight:normal;        
    vertical-align:5px;
    text-transform:uppercase;
    cursor:pointer;
}

.ReportRow {  width:680px; border:solid 1px red; }

a.AddButton 
{
    color: #676767;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    background-image: url(../Images/AdminAddNewIcon.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
    padding-top:7px;
    height:22px;
    display:inline-block;
    text-transform: uppercase;
}

.FooterPane
{
	height:87px;
	width:897px;
}
.FooterPane A:Link
{
	text-decoration: underline;
	font-family: Verdana;
	font-size: 7pt;
	font-weight: bolder;
}
.FooterPane A:Visited
{
	text-decoration: underline;
	font-family: Verdana;
	font-size: 7pt;
	font-weight: bolder;
}
.FooterPane A:Hover
{
	text-decoration: none;
	font-family: Verdana;
	font-size: 7pt;
	font-weight: bolder;
}
.FooterSpacer
{
	padding-bottom: 25px;
	background-color: #ffffff;
}

.FooterPane .ZnodeLogo
{
	position:relative; top:22px; left:15px; vertical-align:middle;
}

.FooterPane .CopyrightText {text-align: left; vertical-align: middle;margin-right: 25px;font-family: Verdana;font-size: 7pt;color: #555555;font-weight: bold;position: relative;float: right;}

.FooterPane .BackgroundMiddle
{
	text-align: left;
	background-image: url(../Images/footer_background.png);
	background-repeat: repeat-x;
	background-position: center center;
	float:left;
	height:87px;
	width:883px;
}
.FooterPane .BackgroundRight
{
	width: 7px;
	height:87px;
	background-image: url(../Images/footer_background_right.png);
	background-repeat: repeat-x;
	background-position: right center;
	float:left;
}
.FooterPane .BackgroundLeft
{
	width: 7px;
	background-image: url(../Images/footer_background_left.png);
	background-repeat: repeat-x;
	background-position: left center;
	float:left;
	height:87px;
}

.ClearBoth { clear:both; display:block; }

.LeftFloat { float:left; }

a.button span, a.link span {display: inline-block;cursor: pointer; line-height: 20px;}
a.button span.btn-wrap-out  {  padding-left: 8px;  background: url("../Images/buttons/button.png") no-repeat 0 0; }
a.button span.btn-wrap-in  { margin-right: -8px;  padding-right: 8px; background: url("../Images/buttons/button.png") no-repeat 100% 0; }
.button:hover span.btn-wrap-out,
.button.selected span.btn-wrap-out { background-position: 0 -26px; }
.button:hover span.btn-wrap-in, 
.button.selected span.btn-wrap-in  { background-position: 100% -26px; }

 a.button span.text
    {
    	padding: 6px 4px 7px;
	    font-size: 13px;
        line-height: 13px;
        white-space: nowrap;
        font-weight:bold;
        padding-left: 24px; background: url("../Images/add.png") no-repeat 0 50%;
    }
    
a.buttonlogin span {display: inline-block;cursor: pointer; line-height: 20px; font-weight:bold; font-size: 13px;  color: #444444; margin-right: 2px; margin-left:1px;}
a.buttonlogin span.btn-wrap-out  {  padding-left: 8px;  background: url("../Images/buttons/button.png") no-repeat 0 0; }
a.buttonlogin span.btn-wrap-in  { margin-right: -8px;  padding-right: 8px; background: url("../Images/buttons/button.png") no-repeat 100% 0; }
.buttonlogin:hover span.btn-wrap-out,
.buttonlogin.selected span.btn-wrap-out { background-position: 0 -26px; }
.buttonlogin:hover span.btn-wrap-in, 
.buttonlogin.selected span.btn-wrap-in  { background-position: 100% -26px; }




/* DASHBOARD */
.Dashboard { width:870px; margin-left:5px; margin-right:5px; text-align:center; background-color:#ffffff; }
.Dashboard .Caption{padding-left:15px; text-align:left;font-family:Arial;font-size:25pt; text-shadow: 3px 4px 4px #AAAAAA;}
.Dashboard .Smallcaption {font-family:Calibri;font-size:15pt;font-weight:bold;text-shadow: 3px 4px 4px #aaa;}
.Dashboard .TradeMark {font-family:Calibri;font-size:20pt;font-weight:bold;vertical-align:top;top:5px;position:relative;}
.Dashboard .DashBoardRow {padding-left:0px; clear:both; text-align:right; }
.Dashboard .Linebreak { height:60px; display:block;  }
.Dashboard .DashBoardRow .Item {width:180; height:210px; float:left; text-align:center; vertical-align: bottom; display: table-cell; padding:0px 25px 0px 18px; }
.Dashboard .DashBoardRow .Item a img {bottom: 10px; text-align:center; }
.Dashboard .DashBoardRow .IntroText {font-weight:bold; width:155px; font-size:11px; padding-top:15px; padding-left:10px; color:Black;}
.Dashboard .DashBoardRow .IntroText a:link{font-weight:bold; width:155px; font-size:11px; padding-top:15px; padding-left:10px; color:Black;}
.Dashboard .DashBoardRow .IntroText a:visited{font-weight:bold; width:155px; font-size:11px; padding-top:15px; padding-left:10px; color:Black;}
.Dashboard .DashBoardRow .IntroText a:hover{font-weight:bold; width:155px; font-size:11px; padding-top:15px; padding-left:10px; color:Black;}
.Dashboard .Separator { float:left; height:180px; padding:5px;  }


.Dashboard .Box
{   
	width: 187px;
    height: 280px;
    margin-top: 0px;
    vertical-align: top;
    background-color: #f2f2f2;    
    color:#808080;
    background-color:#ffffff;
    background-position:center top; background-image:url(../Images/background/alerts_bg.png); background-repeat:repeat-x;
}

.Dashboard .ItemLabel { width:160px; font-size: 10.5pt; font-family: tahoma,verdana,arial; color:#808080; padding-top:10px; }
.Dashboard .Box .Title { background-color: #f2f2f2; }
.Dashboard .Box .Inner { padding-right: 10px; padding-left: 10px; padding-top: 10px; text-align:left; }

.Dashboard .Item .MetricItems { padding-top:10px; }
.Dashboard .Item .MetricItem { padding-bottom: 1px; padding-left: 0px; }
.Dashboard .Item .MetricItem .MetricLabel { color:#808080; font-size: 7.5pt; font-family: Arial, Calibri; text-align:left; }
.Dashboard .Item .MetricItem .MetricValue { padding-bottom:0px; color:#808080; font-size: 7.5pt; font-family: Arial, sans-serif, Calibri; padding-left: 5px; font-weight:bold; }


.Dashboard .Item .AlertItems { padding-top:10px; }
.Dashboard .Item .AlertItem { padding-bottom:5px; font-weight:bold;  font-size: 7.5pt; font-family: Arial, Calibri; }
.Dashboard .Item .AlertItem a { text-decoration:none; color:#808080; font-size: 7.5pt; font-family: Arial, Calibri; font-weight:500;}
.Dashboard .Item .AlertItem a span { color:#808080; font-family: Arial, Calibri; font-weight:500;  }
.Dashboard .Item .AlertItem a:hover { text-decoration:underline; color:#808080; font-size: 7.5pt; font-family: Arial, Calibri;  font-weight:500;}

.Dashboard .Box .MetricLink { padding-top:5px; font-size: 7.5pt; font-family: Arial, verdana; font-weight:bold; text-decoration:none; }
.Dashboard .Box .MetricLink A:Link{ text-decoration:none; }
.Dashboard .Box .MetricLink A:Visited{  text-decoration:none; }
.Dashboard .Box .MetricLink A:Hover{  text-decoration:underline; }
.Dashboard .Box .Icon { padding-right: 2px; }
.Dashboard .Box .Shortcut { padding-bottom: 5px; padding-left: 0px; }

.Menu { padding:0px; margin:0px; vertical-align:text-top; }
.Menu .MenuItem { cursor:pointer; }
.Menu img {border:0px; vertical-align:top; padding:0px; margin:0px;}
.Menu .DashboardIcon { vertical-align:text-top;}



#BreadCrumb { text-align: left; vertical-align: middle; background-color: #f5f5f5; padding-right: 5px; padding-left: 5px; padding-bottom: 2px; padding-top: 2px; border-bottom: 1px solid #C0C0C0; font-size: 8pt; margin-bottom: 10px; }	
#BreadCrumb A:link { text-decoration: none; font-size: 8pt; }
#BreadCrumb A:Visited{text-decoration: none; font-size: 8pt; }
#BreadCrumb A:Hover{text-decoration: none; font-size: 8pt; }
.LoginStatus { padding-left:15px;padding-right:5px; } 
.MagnifyIcon { padding-right:5px; vertical-align:middle; }
.SearchIcon { vertical-align:middle; padding-left:5px; cursor:pointer; }

/* FORM */
.Form { margin-bottom: 15px; }
.FormTitle { font-weight: bold; font-size: 12px; color: #ffffff; font-family: arial; background-color: #6699cc; padding-right: 10px; padding-left: 10px; padding-bottom: 5px; padding-top: 5px; } 
.Form .Search { background-color: #f1f1f1; padding-right: 10px; padding-left: 10px; padding-bottom: 20px; padding-top: 10px; border-right: #b5b4b5 1px solid; border-top: #b5b4b5 1px solid; border-left: #b5b4b5 1px solid; border-bottom: #b5b4b5 1px solid; margin-top: 5px; margin-bottom: 5px; }
.Form .Asterix { color: red; font-size: 8pt; }
.Form .HeaderStyle { font-weight: bold; font-size: 11px; background-color: #e6e6e6; color: #333333; margin-bottom: 5px; margin-top: 10px; padding-bottom: 3px; padding-top: 3px; padding-left: 5px; padding-right: 5px; }
.Form .Row { margin-bottom: 10px; padding-bottom: 5px; margin-top:5px; }
.Form .CPassword { margin-bottom: 10px; padding-bottom: 5px; margin-top:5px; }
.Form .CPassword .FieldStyle { width:150px; display:inline-block; }
.Form .CPassword .ValueStyle { width:300px; }
.Form .FieldStyle { white-space: nowrap; font-size: 10pt; font-weight:bold; color: #404040; text-align: left; font-family: Calibri, arial; padding-right: 5px; }
.Form .ValueStyle {width:75%; font-size: 8pt; font-weight: normal; margin-bottom: 20px; font-family:Calibri, arial }
.Form .HtmlValueStyle {display:inline-block; width:75%; font-size: 8pt; font-weight: normal; margin-bottom: 20px; font-family:Calibri, arial}
.Form .HintStyle { font-size: 9pt;font-weight:normal; color: #666666; font-family: arial; border-top-width: 1px; border-left-width: 1px; border-left-color: #3399cc; border-bottom-width: 1px; border-bottom-color: #3399cc; border-top-color: #3399cc; border-right-width: 1px; border-right-color: #3399cc; }
.Form .ReportStyle { white-space: nowrap; font-size: 9pt; font-weight: bold; color: #333333; text-align: left; font-family: arial; padding-right: 5px;  margin-bottom: 20px; margin-top: 5px; }
.Form .StoreStyle { white-space: nowrap; font-size: 9pt; font-weight: bold; color: #333333; text-align: right; font-family: arial; padding-right: 5px;  margin-bottom: 20px; margin-top: 5px; }
.Form .HighlightHintStyle { font-size: 9pt;font-weight:bold; color: #666666; font-family: arial;margin-top:2px;border-top-width: 1px; border-left-width: 1px; border-left-color: #3399cc; border-bottom-width: 1px; border-bottom-color: #3399cc; border-top-color: #3399cc; border-right-width: 1px; border-right-color: #3399cc; }
.Form .Or { font-weight: bold; font-size: 14px; color: #336699; font-family: arial; padding-right: 10px; padding-left: 10px; text-transform: uppercase; }
.Form .HiddenFieldStyle { padding:0px; margin:0px; height:0px; width:0px; display:none; }
.Form .TextValueStyle { font-size: 8pt; font-weight: normal; margin-bottom: 5px; margin-top: 5px; }
.Bold {font-size: 8pt; font-weight:bold; }


/* EDIT FORM STYLES */
.FormView { margin-bottom: 15px; width:100%; }
.FormView .Search { background-color: #f1f1f1; padding-right: 10px; padding-left: 10px; padding-bottom: 20px; padding-top: 10px; border-right: #b5b4b5 1px solid; border-top: #b5b4b5 1px solid; border-left: #b5b4b5 1px solid; border-bottom: #b5b4b5 1px solid; margin-top: 5px; margin-bottom: 5px; }
.FormView .Asterix { color: red; font-size: 8pt; }
.FormView .HeaderStyle { font-weight: bold; font-size: 11px; background-color: #e6e6e6; color: #333333; margin-bottom: 5px; margin-top: 10px; padding-bottom: 3px; padding-top: 3px; padding-left: 5px; padding-right: 5px; }
.FormView .Row { margin-bottom: 10px; padding-bottom: 5px; margin-top:5px; }
.FormView .CPassword { margin-bottom: 10px; padding-bottom: 5px; margin-top:5px; }
.FormView .CPassword .FieldStyle { width:150px; display:inline-block; }
.FormView .CPassword .ValueStyle { width:300px; }
.FormView  .TextField {width:200px;}
.FormView .FieldStyle 
{     
    clear:both;
    width:200px; 
    display:inline-block; 
    float:left; 
    white-space: nowrap; 
    font-size: 9pt !important; 
    font-weight:bold; 
    color: #404040; 
    text-align: left; 
    font-family: arial, Calibri  !important;
    padding-top:3px;
    padding-right: 5px;
 }
.FormView .TreeFieldStyle {width: 300px; font-weight: normal; font-size: 9pt !important; font-family: arial, Calibri  !important; }
.FormView .TreeFieldStyle A:link { text-decoration: none;  color:black; font-weight:normal;}
.FormView .TreeFieldStyle A:Visited{text-decoration: none; color:black; font-weight:normal;}
.FormView .TreeFieldStyle A:Hover { text-decoration: none; color:black; font-weight:normal;}

.FormView .ValueStyle { float:left; font-size: 8pt; display:inline-block; font-weight: normal; margin-bottom: 20px; font-family: arial,Calibri }
.FormView .ValueStyleText { float:left; font-size: 8pt; display:inline-block; font-weight: normal; margin-bottom: 5px; font-family: arial,Calibri }
/* .FormView .ValueStyle textarea { width:100% !important;} */

.FormView .HintStyle { font-size: 9pt;font-weight:normal; color: #666666; font-family: arial; border-top-width: 1px; border-left-width: 1px; border-left-color: #3399cc; border-bottom-width: 1px; border-bottom-color: #3399cc; border-top-color: #3399cc; border-right-width: 1px; border-right-color: #3399cc; }
.FormView .ReportStyle { white-space: nowrap; font-size: 9pt; font-weight: bold; color: #333333; text-align: left; font-family: arial; padding-right: 5px;  margin-bottom: 20px; margin-top: 5px; }
.FormView .StoreStyle { white-space: nowrap; font-size: 9pt; font-weight: bold; color: #333333; text-align: right; font-family: arial; padding-right: 5px;  margin-bottom: 20px; margin-top: 5px; }
.FormView .HighlightHintStyle { font-size: 9pt;font-weight:bold; color: #666666; font-family: arial;margin-top:2px;border-top-width: 1px; border-left-width: 1px; border-left-color: #3399cc; border-bottom-width: 1px; border-bottom-color: #3399cc; border-top-color: #3399cc; border-right-width: 1px; border-right-color: #3399cc; }
.FormView .Or { font-weight: bold; font-size: 14px; color: #336699; font-family: arial; padding-right: 10px; padding-left: 10px; text-transform: uppercase; }
.FormView .HiddenFieldStyle { padding:0px; margin:0px; height:0px; width:0px; display:none; }
.FormView .TextValueStyle { font-size: 8pt; font-weight: normal; margin-bottom: 5px; margin-top: 5px; }
.FormView .ValueStyleH { float:left; font-size: 7pt;  display:inline-block; font-weight: normal; font-family:arial, Calibri }
.FormView .HintStyleH { clear:both; font-size: 7pt;font-weight:normal; color: #666666; font-family: arial; margin-bottom: 20px; border-top-width: 1px; border-left-width: 1px; border-left-color: #3399cc; border-bottom-width: 1px; border-bottom-color: #3399cc; border-top-color: #3399cc; border-right-width: 1px; border-right-color: #3399cc; }

.FormView .FieldStyle small {width: 150px; display: inline-block; white-space: normal; font-weight: normal; color: #404040;	text-align: left; padding-right: 5px; margin-bottom: 10px; margin-top: 5px; font-style: italic;}
.FormView .FieldStyle label {font-weight:normal;}
.FormView .h1Style { font-family: Arial; color: #e47625; font-size: 10pt; margin-bottom: 10px; margin-top: 0px; font-weight: bold;}

.Size350 .FieldStyle { clear:both; width:350px; display:inline-block; float:left; white-space: nowrap; font-size: 8pt; font-weight:bold; color: #404040; text-align: left; font-family:  arial,Calibri; padding-right: 5px; }
.Size350 .FieldStyle  small { width:350px; display:inline-block; white-space: normal; font-size: 7pt; font-weight:normal; color: #404040; text-align: left; font-family: arial,Calibri; padding-right: 5px; margin-bottom:10px; }
.Size100 .FieldStyle { clear:both; width:100px; display:inline-block; float:left; white-space: nowrap; font-size: 8pt; font-weight:bold; color: #404040; text-align: left; font-family:  arial,Calibri; padding-right: 5px; }
.Size100 .FieldStyle  small { width:100px; display:inline-block; white-space: normal; font-size: 7pt; font-weight:normal; color: #404040; text-align: left; font-family: arial,Calibri; padding-right: 5px; margin-bottom:10px; }

.DesignPageAdd .FieldStyle { clear:both; width:300px; display:inline-block; float:left; white-space: nowrap; font-size: 10pt; font-weight:bold; color: #404040; text-align: left; font-family:  arial,Calibri; padding-right: 5px; }
.DesignPageAdd .ValueStyle { float:left; font-size: 7pt; width:60%; display:inline-block; font-weight: normal; margin-bottom: 20px; font-family: arial,Calibri;}
/* .DesignPageAdd .ValueStyle textarea { width:100% !important;} */

.SEOProductPageAdd .FieldStyle { clear:both; width:210px; display:inline-block; float:left; white-space: nowrap; font-size: 10pt; font-weight:bold; color: #404040; text-align: left; font-family: arial,Calibri; padding-right: 5px; }
.SEOProductPageAdd .HintStyle {  clear:both; font-size: 9pt;font-weight:normal; color: #666666; font-family: arial; margin-bottom:10px; }

.Display .FieldStyle { clear:both; width:200px; display:inline-block; float:left; white-space: nowrap; font-size: 10pt; font-weight:bold; padding-top:5px; padding-bottom:5px; color: #404040; text-align: left; font-family: arial,Calibri; padding-right: 5px; }
.Display .ValueStyle { float:left; font-size: 10pt;  display:inline-block; font-weight: normal; padding-top:5px; padding-bottom:5px;  font-family: arial,Calibri; width:75%; }
.Display .FieldStyleA { clear:both; background-color:#EFF3FB;  width:200px; display:inline-block; float:left; white-space: nowrap; font-size: 10pt; font-weight:bold; padding-top:5px; padding-bottom:5px;  color: #404040; text-align: left; font-family: arial,Calibri; padding-right: 5px; }
.Display .ValueStyleA { float:left; font-size: 10pt; empty-cells:show; background-color:#EFF3FB; display:inline-block; font-weight: normal; padding-top:5px; padding-bottom:5px; font-family: arial,Calibri; width:75%; }
.Display .FieldStyleImg { clear:both; height:30px;  width:200px; display:inline-block; float:left; white-space: nowrap; font-size: 10pt; font-weight:bold; padding-top:10px; padding-bottom:0px;  color: #404040; text-align: left; font-family: arial,Calibri; padding-right: 5px; }
.Display .ValueStyleImg { float:left; font-size: 10pt; height:30px; display:inline-block; font-weight: normal; padding-top:5px; padding-bottom:5px; font-family: arial,Calibri; width:75%; }
.Display .FieldStyleImgA { clear:both; background-color:#EFF3FB; height:30px;  width:200px; display:inline-block; float:left; white-space: nowrap; font-size: 10pt; font-weight:bold; padding-top:10px; padding-bottom:0px;  color: #404040; text-align: left; font-family: arial,Calibri; padding-right: 5px; }
.Display .ValueStyleImgA { float:left; font-size: 10pt; background-color:#EFF3FB; height:30px; display:inline-block; font-weight: normal; padding-top:5px; padding-bottom:5px; font-family: arial,Calibri; width:75%; }
.Display .FieldStyleWithText { clear:both; float:left; font-size: 10pt; padding-top:5px; padding-bottom:5px; color: #404040; text-align: left; font-family: arial,Calibri; padding-right: 5px; }
.Display .FieldStyleAWithText { width:837px; background-color:#EFF3FB; clear:both; float:left; font-size: 10pt; padding-top:5px; padding-bottom:5px; color: #404040; text-align: left; font-family: arial,Calibri; padding-right: 5px; }
.Display .MainStyleA { background-color:#EFF3FB; display:inline-block;width:100%; }
/* VIEW FORM STYLES */
.ViewForm100 .FieldStyle { clear:both; width:100px; display:inline-block; float:left; white-space: nowrap; font-size: 9pt; font-weight:bold; padding-top:5px; padding-bottom:5px; color: #404040; text-align: left; font-family: arial,Calibri; padding-right: 5px; }
.ViewForm100 .ValueStyle { float:left; font-size: 9pt;  display:inline-block; font-weight: normal; padding-top:5px; padding-bottom:5px;  font-family: arial,Calibri; width:60%; }
.ViewForm100 .FieldStyleA { clear:both; background-color:#EFF3FB;  width:100px; display:inline-block; float:left; white-space: nowrap; font-size: 9pt; font-weight:bold; padding-top:5px; padding-bottom:5px;  color: #404040; text-align: left; font-family: arial,Calibri; padding-right: 5px; }
.ViewForm100 .ValueStyleA { float:left; font-size: 9pt; background-color:#EFF3FB; display:inline-block; font-weight: normal; padding-top:5px; padding-bottom:5px; font-family: arial,Calibri; width:60%; }
.ViewForm100 .FieldStyleImg { clear:both; height:30px;  width:100px; display:inline-block; float:left; white-space: nowrap; font-size: 9pt; font-weight:bold; padding-top:10px; padding-bottom:0px;  color: #404040; text-align: left; font-family: arial,Calibri; padding-right: 5px; }
.ViewForm100 .ValueStyleImg {  float:left; font-size: 9pt; height:30px; display:inline-block; font-weight: normal; padding-top:5px; padding-bottom:5px; font-family: arial,Calibri; width:75%; }
.ViewForm100 .FieldStyleImgA { clear:both; background-color:#EFF3FB; height:30px;  width:100px; display:inline-block; float:left; white-space: nowrap; font-size: 9pt; font-weight:bold; padding-top:10px; padding-bottom:0px;  color: #404040; text-align: left; font-family: arial,Calibri; padding-right: 5px; }
.ViewForm100 .ValueStyleImgA { float:left; font-size: 9pt; background-color:#EFF3FB; height:30px; display:inline-block; font-weight: normal; padding-top:5px; padding-bottom:5px; font-family: arial,Calibri; width:75%; }


.ViewForm200 .FieldStyleA {	clear: both; background-color: #EFF3FB;	width: 250px; display: inline-block;float: left;white-space: nowrap;font-size: 8pt;	font-weight: bold; padding-top: 5px;padding-bottom: 5px;color: #404040;	text-align: left;font-family: arial,Calibri;padding-right: 5px;	text-transform: uppercase;}
.ViewForm200 .FieldStyle { clear: both; width: 250px; display: inline-block; float: left; white-space: nowrap; font-size: 8pt; font-weight: bold; padding-top: 5px; padding-bottom: 5px; color: #404040; text-align: left; font-family: arial,Calibri; padding-right: 5px; text-transform: uppercase;}
.ViewForm200 .ValueStyleA { float: left; font-size: 9pt; empty-cells: show; background-color: #EFF3FB; display: inline-block; font-weight: normal; padding-top: 5px; padding-bottom: 5px; font-family: arial,Calibri; width: 500px;}
.ViewForm200 .ValueStyle {float: left; font-size: 9pt; display: inline-block; font-weight: normal; padding-top: 5px; padding-bottom: 5px; font-family: arial,Calibri; width: 500px;}
.ViewForm200 .FieldStyleImg { clear:both; height:30px;  width:200px; display:inline-block; float:left; white-space: nowrap; font-size: 9pt; font-weight:bold; padding-top:10px; padding-bottom:0px;  color: #404040; text-align: left; font-family: arial,Calibri; padding-right: 5px; }
.ViewForm200 .ValueStyleImg { float:left; font-size: 9pt; height:30px; display:inline-block; font-weight: normal; padding-top:5px; padding-bottom:5px; font-family: arial,Calibri; width:75%; }
.ViewForm200 .FieldStyleImgA { clear:both; background-color:#EFF3FB; height:30px;  width:200px; display:inline-block; float:left; white-space: nowrap; font-size: 9pt; font-weight:bold; padding-top:10px; padding-bottom:0px;  color: #404040; text-align: left; font-family: arial,Calibri; padding-right: 5px; }
.ViewForm200 .ValueStyleImgA { float:left; font-size: 9pt; empty-cells:show; background-color:#EFF3FB; height:30px; display:inline-block; font-weight: normal; padding-top:5px; padding-bottom:5px; font-family: arial,Calibri; width:75%; }

.ViewForm300 .FieldStyle { clear:both; width:350px; display:inline-block; float:left; white-space: nowrap; font-size: 9pt; font-weight:bold; padding-top:5px; padding-bottom:5px; color: #404040; text-align: left; font-family: arial,Calibri; padding-right: 5px; }
.ViewForm300 .ValueStyle { float:left; font-size: 9pt;  display:inline-block; font-weight: normal; padding-top:5px; padding-bottom:5px;  font-family:arial,Calibri; width:55%; }
.ViewForm300 .FieldStyleA { clear:both; background-color:#EFF3FB;  width:350px; display:inline-block; float:left; white-space: nowrap; font-size:9pt; font-weight:bold; padding-top:5px; padding-bottom:5px;  color: #404040; text-align: left; font-family:arial,Calibri; padding-right: 5px; }
.ViewForm300 .ValueStyleA { float:left; font-size: 9pt; background-color:#EFF3FB; display:inline-block; font-weight: normal; padding-top:5px; padding-bottom:5px; font-family:arial,Calibri; width:55%; }
.ViewForm300 .FieldStyleImg { clear:both; height:30px;  width:350px; display:inline-block; float:left; white-space: nowrap; font-size: 9pt; font-weight:bold; padding-top:10px; padding-bottom:0px;  color: #404040; text-align: left; font-family:arial,Calibri; padding-right: 5px; }
.ViewForm300 .ValueStyleImg { float:left; font-size: 9pt; height:30px; display:inline-block; font-weight: normal; padding-top:5px; padding-bottom:5px; font-family:arial,Calibri; width:55%; }
.ViewForm300 .FieldStyleImgA { clear:both; background-color:#EFF3FB; height:30px;  width:350px; display:inline-block; float:left; white-space: nowrap; font-size: 9pt; font-weight:bold; padding-top:10px; padding-bottom:0px;  color: #404040; text-align: left; font-family:arial,Calibri; padding-right: 5px; }
.ViewForm300 .ValueStyleImgA { float:left; font-size: 9pt; background-color:#EFF3FB; height:30px; display:inline-block; font-weight: normal; padding-top:5px; padding-bottom:5px; font-family:arial,Calibri; width:55%; }

.ViewForm{}
.ViewForm .FieldStyle { padding-right: 20px; font-weight: bold; text-align: right; }
.ViewForm .ValueStyle{padding-right: 20px;}
.ViewForm .RowStyle{ background-color: #EFF3FB; padding-bottom:5px; padding-top:5px;}
.ViewForm .AlternatingRowStyle{ background-color: #FFFFFF; padding-bottom:5px; padding-top:5px;}

.SearchForm .RowStyle { clear:both; }
.SearchForm .RowStyle .ItemStyle { float:left; padding-bottom:5px; }
.SearchForm .RowStyle .ItemStyle .FieldStyle { width:200px; display:inline-block; padding-bottom:0px; text-transform:uppercase; white-space: nowrap; font-size: 9pt; font-weight:normal; color: #404040; text-align: left; font-family: arial,Calibri; padding-right: 5px; }
.SearchForm .RowStyle .ItemStyle .small { white-space: normal; font-size: 7pt; text-transform:none; font-weight:normal; color: #404040; text-align: left; font-family: arial,Calibri; padding-right: 5px; margin-bottom:10px; }
.SearchForm .RowStyle .ItemStyle .ValueStyle { width:200px; font-size: 8pt;  display:inline-block; font-weight: normal; font-family:arial,Calibri; }

/* MENU */
#Menu
{
    font-size: 10px !important;
    color: white;
    font-family: arial;
    margin-left:0px;
    text-transform: uppercase;   
}
#Menu A:link { text-decoration: none; }
#Menu A:Visited{text-decoration: none; }
#Menu A:Hover{text-decoration: none; }
#Menu .StaticMenuStyle {margin:0px; padding:0px; text-transform: uppercase; height:42px;  background-repeat:no-repeat; background-image:url(../images/tab/menu_inactive.gif); background-position:top center;}	
#Menu .StaticMenuItemStyle { text-transform: uppercase; width:auto; color: #f1eded; font-size:12px; font-weight: bold; padding-left: 0px; padding-bottom: 5px; padding-top: 6px;}	
#Menu .StaticHoverStyle {text-transform: uppercase; height:43px; color: #ffffff; background-repeat:no-repeat; background-image:url(../images/tab/menu_inactive.gif); background-position:top center; }	
#Menu .StaticSelectedStyle { text-transform: uppercase; height:43px; color: #ffffff; background-repeat:no-repeat; background-image:url(../images/tab/menu_active.gif); background-position:top center;}
#Menu .DynamicMenuStyle
{
    font-size: 9px;
    color: white;
    font-family: arial;
    margin-top: 2px;
    z-index: 100;
}
#Menu .DynamicMenuItemStyle { font-size: 9px; color: white; background-color: #2975a7; padding-right: 3px; padding-left: 3px; padding-bottom: 5px; padding-top: 5px; border-bottom: #ffffff 1px solid; border-right: #125592 1px solid; border-left: #125592 1px solid; width:170px; }
#Menu .DynamicHoverStyle{color: #ffffff; background-color: gray;}
#Menu .DynamicSelectedStyle{ } 
#Menu .MenuBottomLine {}	

#SubMenu {margin: 0px 7px 7px 7px; border-bottom:solid 1px #ececec; width:100;}
#SubMenu A:link { text-decoration: none; }
#SubMenu A:Visited{text-decoration: none; }
#SubMenu A:Hover{text-decoration: none; }
#SubMenu .SubStaticMenuStyle {margin:0px; padding:0px; text-transform: uppercase; line-height:18px; }	
#SubMenu .SubStaticMenuItemStyle a {text-transform: uppercase; margin-left:0px; margin-right:6px; width:auto; white-space:nowrap; color: #777777; font-size:12px; font-weight: normal; padding-right: 4px; padding-left: 4px; padding-bottom: 2px; padding-top:2px; }	
#SubMenu .SubStaticMenuItemStyle a:hover {text-transform: uppercase; height:15px; background-color:#cccccc; color:#000000; }	
#SubMenu .SubStaticSelectedStyle a { text-transform: uppercase; width:auto; white-space:nowrap; color: #000000; font-size:12px; font-weight: normal; padding-right: 4px; padding-left: 4px; padding-bottom: 2px; padding-top:2px; background-color:#cccccc;}
#SubMenu .SubDynamicMenuItemStyle
{
    font-size: 9px;
    color: white;
    font-family: arial;
    background-color: #336699;
    margin-top: 2px;
    z-index: 100;
}
#SubMenu .SubDynamicMenuItemStyle { font-size: 9px; color: white; background-color: #2975a7; padding-right: 3px; padding-left: 3px; padding-bottom: 5px; padding-top: 5px; border-bottom: #ffffff 1px solid; border-right: #125592 1px solid; border-left: #125592 1px solid; width:170px; }
#SubMenu .SubDynamicHoverStyle{color: #ffffff; background-color: gray;}
#SubMenu .SubDynamicSelectedStyle{ } 

		
/* TREEVIEW */
.AdminNavigation { margin-bottom: 15px; padding-bottom: 5px; padding-left: 5px; font-family: Arial; font-size: 11px; color: #335669; margin-top: 0px; }
.AdminNavigation A:link { text-decoration: none; color: #335669; }
.AdminNavigation A:Visited{text-decoration: none; color: #335669;}
.AdminNavigation A:Hover { color: #335669; text-decoration: none; } 
.AdminNavigation .Title { color: black; font-weight: bold; padding-right: 10px; padding-left: 10px; padding-bottom: 5px; padding-top: 5px; font-size: 8pt; font-family: arial; }
.AdminNavigation .TreeView { padding-left: 10px; }
.AdminNavigation .NodeStyle { font-weight: normal; padding-bottom: 5px; padding-top: 5px; }
.AdminNavigation .RootNodeStyle { font-size: 8pt; font-family: arial; font-weight: bold; padding-bottom: 5px; padding-top: 5px; width: 200px; padding-right: 5px; padding-left: 5px; margin-top: 10px; background-image: url(../Images/left_header_admin.jpg); background-repeat: repeat-y; }
.AdminNavigation .HoverNodeStyle { background-color: #dceef5; width: 200px; }
.AdminNavigation .ParentNodeStyle {padding-left: 5px;}
.AdminNavigation .LeafNodeStyle {padding-left: 5px; }
.AdminNavigation .SelectedNodeStyle { color: #D25A0B; font-weight: bold;background-color: #ffffff; width: 200px;}


/* GRIDVIEW */
.Grid { border-bottom: #c0c0c0 1px solid; padding-bottom: 10px; text-align:left; border-left:0px; border-right:0px; font-size: 12px; }
.Grid .FooterStyle { background-color: #ffffff; color: white; font-weight: bold;}
.Grid .RowStyle { background-color: #E7F0F5; }
.Grid .PagerStyle { text-decoration:none; background-color: white; color: #404040; font-weight: bold; text-align:left; border-top:solid 1px #c0c0c0; }
.Grid .PagerStyle A:link { text-decoration:underline;  color: #404040; }
.Grid .PagerStyle td span { text-decoration:none;  color: #404040; }
.Grid .PagerStyle A:hover {text-decoration:none;   color: #404040; }
.Grid .PagerStyle A:visited { text-decoration:underline;  color: #404040; }
.Grid .HeaderStyle th { background-image:url(../images/gridHeaderBackground.jpg); background-position:0px -1px; background-repeat:repeat-x; text-transform: uppercase; color: #494949; font-size: 11px; font-weight: bold; text-align:left;  border-right:solid 1px #e1e1e1; height:30px; }
.Grid .HeaderStyle th A:link { text-decoration:underline;  color: #494949; }
.Grid .HeaderStyle th A:hover {text-decoration:none;   color: #494949; }
.Grid .HeaderStyle th A:visited { text-decoration:underline;  color: #494949; }
.Grid .AlternatingRowStyle{ background-color: #FFFFFF;}
.Grid td { border-right:solid 1px #e1e1e1; }
/* for hiding the right border of the last cell of the grid */
.Grid { border-right:solid 2px white !important; }

 .SearchHeaderStyle { text-align:left; font-weight: bold; font-size: 11px; color: white; background-color: #5d7b9d; height:20px; padding:4px 0px 0px 10px}
 .SearchRowStyle { text-align:left; font-weight: bold; font-size: 11px; color: black; background-color: #f1f1f1;  padding:0px 0px 0px 0px}

.Grid .RowStyle a.Button
{
    border:none; background:none; padding-left:5px; padding-right:5px; text-transform:uppercase; 
    padding-top:2px;padding-bottom:2px; color:#4f99b9;font-family:arial;font-size:11px;font-weight:bold; white-space:nowrap;
}

.Grid .AlternatingRowStyle a.Button
{
    border:none; background:none; padding-left:5px; padding-right:5px; text-transform:uppercase; 
    padding-top:2px;padding-bottom:2px; color:#4f99b9;font-family:arial;font-size:11px;font-weight:bold; white-space:nowrap;
}

/* DASHBOARD */
.Dashboard .Box
{
    border-right: #888888 1px solid;
    border-top: #888888 1px solid; 
    border-left: #888888 1px solid;
    border-bottom: #888888 1px solid;
    width: 240px;
    height: 250px;
    margin-top: 20px;
    vertical-align: top;
    background-color: #FBFBFB;
}
.Dashboard .Box A:link { text-decoration: none; font-size: 8pt; }
.Dashboard .Box A:Visited{text-decoration: none;font-size: 8pt;}
.Dashboard .Box A:Hover { text-decoration: none; font-size: 8pt; color: #ff0000; } 
.Dashboard .Box .Title
{
    background-color: #888888;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-bottom: #888888 1px solid;
}


.Dashboard .Box .Title .Icon { padding-right: 5px; }
.Dashboard .Box .Title .Caption { padding-top: 5px; font-weight: bold; color: #ffffff; font-family: arial, Arial; font-size: 8pt; }
.Dashboard .Box .Inner { padding-right: 10px; padding-left: 10px; padding-bottom: 10px; padding-top: 15px; }
.Dashboard .Box .SubTitle { font-weight: bold; font-size: 8pt; padding-bottom: 10px; font-family: arial; color: #666666; }
.Dashboard .Box .Metric { padding-bottom: 10px; padding-left: 0px; }
.Dashboard .Box .MetricLabel { color: #333333; font-size: 7pt; font-family: verdana; }
.Dashboard .Box .MetricValue { color: #333333; font-size: 7pt; font-family: verdana; padding-left: 5px; font-weight: bold; }
.Dashboard .Box .Icon { padding-right: 2px; }
.Dashboard .Box .Shortcut { padding-bottom: 5px; padding-left: 0px; }
.Dashboard .Box .PopularKeywords { padding-left: 0px; }
.Dashboard .Box .PopularKeywords .Keyword { padding-bottom: 10px; padding-left: 0px; }
.Dashboard .Box .PopularKeywords .ArrowIcon { padding-right: 5px; vertical-align:text-top; }
.Dashboard .Status {border-right: #aca899 1px solid; border-top: #aca899 1px solid; border-left: #aca899 1px solid; border-bottom: #aca899 1px solid; background-color: #ffffea; padding-right: 5px; padding-left: 5px; padding-bottom: 5px; padding-top: 5px; margin-top:25px; margin-bottom:15px; font-size: 8pt; font-family: arial; }
.Dashboard .Status A:link { text-decoration: none; font-size: 8pt; }
.Dashboard .Status A:Visited{text-decoration: none;font-size: 8pt;}
.Dashboard .Status A:Hover{text-decoration: none;font-size: 8pt;} 
.Dashboard .Box .ReportItem{ background-image: url(../Images/filter.gif); line-height:16px; background-repeat: no-repeat; padding-left: 20px; margin-bottom: 10px; margin-top: 2px; }
.Dashboard .Box .HelpItem{ background-image: url(../Images/question.gif); line-height:16px; background-repeat: no-repeat; padding-left: 20px; margin-bottom: 10px; margin-top: 2px; }
.Dashboard .Box .SearchItem{ background-image: url(../Images/magnify.gif); line-height:16px; background-repeat: no-repeat; padding-left: 20px; margin-bottom: 10px; margin-top: 2px; font-size:8pt; }

/*
.Dashboard .Box .AlertItem { background-image: url(../Images/warning_small.gif); line-height:16px; background-repeat: no-repeat; padding-left: 20px; margin-bottom: 10px; margin-top: 2px; }
.Dashboard .Box .MetricItem{ background-image: url(../Images/108-graph2.gif); line-height:16px; background-repeat: no-repeat; padding-left: 20px; margin-bottom: 10px; margin-top: 2px; }
*/

.Dashboard .NewsItem{ background-image: url(../Images/arrow.gif); background-repeat: no-repeat; padding-left: 15px; margin-bottom: 10px; margin-top: 2px;  font-size:8pt; }
.Dashboard .URLText{ color: #333333; font-size: 8pt; font-family: arial; }    

/* Landing Pages */
.LandingPage{ padding: 10px; }
.LandingPage .Shortcut { margin-bottom: 5px; margin-left: 0px; margin-top: 30px; text-transform:uppercase; font-size:12px; }
.LandingPage h4 { font-size:17px; margin:0px; text-transform:uppercase; padding:0px; }
.ActionLink A:link { text-decoration: none; font-size: 10pt; }
.ActionLink A:Visited{text-decoration: none;font-size: 10pt;}
.ActionLink A:Hover{text-decoration: none;font-size: 10pt;} 

/* License Classes */
.License {border-right: #c0c0c0 1px solid; padding-right: 10px; border-top: #c0c0c0 1px solid; padding-left: 10px; padding-bottom: 10px; border-left: #c0c0c0 1px solid; padding-top: 10px; border-bottom: #c0c0c0 1px solid; background-color: #fcfcfc; margin: 40px 40px 100px; }
.License .Row { padding-bottom: 5px; }
.License .FieldLabel { padding-right: 10px; font-weight: bold; font-family: arial; }
.License .Status { border-right: #aca899 1px solid; border-top: #aca899 1px solid; border-left: #aca899 1px solid; border-bottom: #aca899 1px solid; background-color: #ffffea; padding-right: 5px; padding-left: 5px; padding-bottom: 5px; padding-top: 5px; margin-top: 15px; margin-bottom: 0px; }
.ConfirmationText {font-size:14px;margin-top:20px;margin-bottom:20px;}
.LicenseConfirmationPopupStyle {background-color: White;width: 700px;margin: 0px;padding: 10px;border:#000000 4px solid;}
.ImageButtons INPUT[type=submit].Size75
{ 
    clear:both;     
    background-image:url(../Images/buttons/button_empty_100.gif);           
    background-position:center center;
    background-repeat:no-repeat;
    text-align:center;        
    border:none;
    width:100px;
    height:19px;
    background-color:White;
    color:White;
    font-family:Arial, Calibri, Sans-Serif;
    font-size:11px;
    font-weight:normal;        
    vertical-align:5px;
    text-transform:uppercase;
}

/* TABS */
#Tabs { padding: 0; width: 100%; background: transparent; voice-family: "\"}\""; voice-family: inherit; }
#Tabs ul { font: bold 9px Arial; margin: 0; margin-left: 15px; /*margin between first menu item and left browser edge*/ padding: 0; list-style: none; }
#Tabs li { display: inline; margin: 0 2px 0 0; padding: 0; }
#Tabs a { float: left; display: block; color: white; margin: 0 1px 0 0; /*Margin between each menu item*/ padding: 5px 10px; text-decoration: none; letter-spacing: 1px; background-color: #128cdd; /*Default menu color*/ border-bottom: 1px solid white; font-weight: bold; font-size: 11px; font-family: arial; }
#Tabs a:hover { background-color: gray; /*Menu hover bgcolor*/ }
#Tabs #current a { /*currently selected tab*/ }
#TabsLine { clear: both; padding: 0; width: 100%; height: 1px; line-height: 1px; background: #128cdd; }
.Login { text-align:left; padding-right: 10px; padding-left: 10px; padding-bottom: 10px; padding-top: 10px;  margin: 40px 40px 100px;}
.LoginPage { text-align:left; padding-right: 10px; padding-left: 10px; padding-bottom: 10px; padding-top: 10px;  margin: 10px 40px 100px;}
/*************************************************/
/* Order Desk Page */
/*************************************************/
.OrderDesk {}
.OrderDesk .LinkButton { font-size:12px; margin-bottom:10px; }
.CustomerSearch { }
.CustomerSearch .SearchBox { margin-top:10px;}

/* Modal Popup */
.modalBackground { background-color:#414141; filter:alpha(opacity=70);  opacity:0.7;}
.PopupStyle
{
    background-color: White;
    width: 900px;
    margin: 0px;
    padding: 15px;
    border-right: #336699 2px solid;
    border-top: #336699 2px solid;
    border-left: #336699 2px solid;
    border-bottom: #336699 2px solid;
}
.NodePopupStyle
{
    background-color: White;
    width: 350px;
    margin: 0px;
    padding: 15px;
    border-right: #336699 2px solid;
    border-top: #336699 2px solid;
    border-left: #336699 2px solid;
    border-bottom: #336699 2px solid;
}


/**************************************************/
/* Update progress style - Quick Order page
/**************************************************/
.overlay {position: fixed;z-index: 99;top: 0px;left: 0px;background-color: #FFFFFF;width: 100%;height: 100%;filter: Alpha(Opacity=70);opacity: 0.70; -moz-opacity: 0.70; }
* html .overlay { position: absolute; height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px'); width: expression(document.body.scrollWidth > document.body.offsetWidth ? document.body.scrollWidth : document.body.offsetWidth + 'px'); }
.loader { z-index: 100; position: fixed; width: 120px; margin-left: -60px; top: 50%; left: 50%; }
* html .loader { position: absolute; margin-top: expression((document.body.scrollHeight / 4) + (0 - parseInt(this.offsetParent.clientHeight / 2) + (document.documentElement && document.documentElement.scrollTop || document.body.scrollTop)) + 'px'); }

/*************************************************/
/* Quick Order Page */
/*************************************************/
.QuickOrder { width:100%; }
.QuickOrder .SearchGrid { width:100%;padding-bottom: 10px; margin-bottom:10px; }
.QuickOrder .SearchGrid .HeaderStyle { text-align:left; font-weight: bold; font-size: 11px; color: white; background-color: #5d7b9d; }
.QuickOrder .SearchGrid .RowStyle {  vertical-align:middle; font-weight: normal; font-size: 11px; color: #333333; background-color: #F7F6F3; }
.QuickOrder .SearchGrid .AlternatingRowStyle { vertical-align:middle; font-weight: normal; font-size: 11px; background-color: #ffffff; }
.QuickOrder .SearchGrid .FooterStyle { background-color: #5d7b9d; }
.QuickOrder .SearchGrid .PagerStyle { font-weight: bold; font-size: 11px; color: white; padding:0px; background-color: #5d7b9d; vertical-align:middle; }

.QuickOrder .Grid {width:100%; margin-bottom:0px; display:table;}
.QuickOrder .Grid .HeaderStyle { font-weight: bold; font-size: 11px; color: white; background-color: #5d7b9d; padding:2px; }
.QuickOrder .Grid .HeaderStyle td { padding:4px 0px 4px 2px; }
.QuickOrder .Grid .RowStyle { font-weight: normal; font-size: 11px; color: #333333; background-color: #F7F6F3; }
.QuickOrder .Grid .RowStyle td { padding:4px 0px 4px 2px; }
.QuickOrder .Grid .AlternatingRowStyle { vertical-align:middle; font-weight: normal; font-size: 11px; background-color: #ffffff; }
.QuickOrder .Grid .AlternatingRowStyle td { padding:4px 0px 4px 2px; }
.QuickOrder .Grid .FooterStyle { }
.QuickOrder .Grid td { border-bottom: #5d7b9d 1px solid; vertical-align:middle;}
.QuickOrder .Grid a{text-decoration:none;color:#003399;}
.QuickOrder .Grid a:link{text-decoration:none;color:#003399;}
.QuickOrder .Grid a:hover{text-decoration:underline;color:#F60}
.QuickOrder .Grid a:visited{text-decoration:none;color:#003399;}
.QuickOrder .Grid .ProductName { font-size:11px; }
.QuickOrder .Grid .ProductStyle { font-size:11px; }
.QuickOrder .Grid .EditLink { margin:0px; margin-left:5px; vertical-align:middle; text-decoration:underline; }
.QuickOrder .Grid .EditLink A:Link{ text-decoration:underline; }
.QuickOrder .Grid .EditLink A:Hover{ text-decoration:underline; }
.QuickOrder .Grid .EditLink A:Visited{ text-decoration:underline; }
.QuickOrder .Grid .Attributes { }
.QuickOrder .Grid .Attributes .FieldStyle { font-size:10px; font-weight:bold; }
.QuickOrder .Grid .Attributes .ValueStyle { font-size:11px; margin-bottom:3px; }
.QuickOrder .Grid .Price { font-size:11px; margin:0px; }
.QuickOrder .SubmitButton { margin:0px; margin-bottom:15px; }
.QuickOrder .HintText { font-size:11px; margin-left:0px; margin-bottom:10px; }
.QuickOrder .TotalBox .CartTotals { margin-bottom: 10px; text-align: right; font-weight:bold; padding-right:12px; }
.QuickOrder .TotalBox .AddToCartButton { text-align:right;}
.QuickOrder .ProductDetail { width:100%; }
.QuickOrder .ProductDetail .OuterBorder { margin-top: 0px; margin-bottom: 20px; margin-left:0px; font-size: 8pt; border:solid 5px #eff3f6; display:inline-block; vertical-align:top; padding:10px;}
.QuickOrder .ProductDetail .UpdateProgress {color:Black; background-color:#FAFEFE;padding:1px; padding-left:2px; margin-top:5px; border:1px solid #8ADAD8;width:90px; text-align:center;}
.QuickOrder .ProductDetail .Description { font-size: 8pt; border: #eff3f6 5px solid; vertical-align:top; padding:10px;}

.QuickOrder .ProductDetail .CloseLink { text-align:right; }
.QuickOrder .ProductDetail .CloseLink a {text-decoration:none; color: black; padding-right:10px; font-size:14px; font-family: arial,helvetica;  font-weight:bold; }
.QuickOrder .ProductDetail .FieldStyle { white-space: nowrap; font-size: 11px; font-weight: bold; color: #4b4b4b; padding-bottom:0px; margin-bottom: 0px; padding-right: 10px; padding-top:3px; }
.QuickOrder .ProductDetail .ValueStyle {font-size: 11px; font-weight: normal; color: #333333; padding-bottom: 2px; padding-top: 2px; }

.QuickOrder .AttributeGrid .SizeGrid {background-color:#FAFEFE; width:auto; margin: 0px 0px 0px 0px; padding:1px;border-bottom:solid 1px #ACBEF6;}
.QuickOrder .AttributeGrid .SizeGrid .Title {letter-spacing:1px; background-color:#6175A6;color:white; border-bottom: solid 1px #6175A6;font: bold 11px Arial;padding-left:10px;padding-top:3px;padding-bottom:3px;}
.QuickOrder .AttributeGrid .SizeGrid .Legend {color: #7777a4;padding: 0px; margin: 0px;border-top: solid 1px #ACBEF6;}
.QuickOrder .AttributeGrid .SizeGrid .inStock { color: #7777a4; }
.QuickOrder .AttributeGrid .SizeGrid .outOfStock { color: #7777a4; }
.QuickOrder .AttributeGrid .SizeGrid .HeaderStyle { color:#7777a4;font-weight:normal;background-color:#FAFEFE;padding:0px;border-bottom: solid 1px #ACBEF6;}
.QuickOrder .AttributeGrid .SizeGrid .LeftColStyle {color:#7777a4;font-weight:normal;background-color:#FAFEFE;padding:3px;text-align:right;border-left:solid 1px #ACBEF6;}
.QuickOrder .AttributeGrid .SizeGrid .RowStyle { padding: 0px; background-color:#EAF6F6;color:#0F9B97;}
.QuickOrder .AttributeGrid .SizeGrid .RowStyle .HeaderStyle { border-bottom: none; border-right: none; }
.QuickOrder .AttributeGrid .SizeGrid td { border-right:solid 1px #ACBEF6;}
.QuickOrder .AttributeGrid .SizeGrid .HeaderStyle { text-align: center; width: 25px; }
.QuickOrder .AttributeGrid .SizeGrid .Header { width: 25px; }

/**************************************************/
/* SHOPPING CART                                 
/**************************************************/
.TableContainer { width:100%; }
.ShoppingCart { margin-bottom: 10px; width:100%;}
.ShoppingCart .LinkButton { margin-bottom:15px; }
.ShoppingCart .CheckoutBox { margin-bottom: 10px; margin-top: 10px; text-align: right; }
.ShoppingCart .CustomerService { font-weight: bold; font-size: 9pt; font-family:Arial; }
.ShoppingCart .Grid { width:100%; }
.ShoppingCart .Grid .Header { font-weight: bold; font-size: 11px; color: white; background-color: #5d7b9d; }
.ShoppingCart .Grid .Row { font-weight: normal; font-size: 11px; color: #333333; background-color: #F7F6F3; }
.ShoppingCart .Grid .AlternatingRow { font-weight: normal; font-size: 11px; color: #284775; background-color: #ffffff; }
.ShoppingCart .Grid .Description { font-size: 11px; font-family: arial; padding-top: 5px; }
.ShoppingCart .Update { font-weight: normal; margin-top: 5px; }
.ShoppingCart .Grid .Quantity { width: 60px; height: 25px; }
.ShoppingCart .CartTotals { margin-bottom: 10px; text-align: right; }
.ShoppingCart .Apply {color:#3c3c9e;}
.ShoppingCart .gobutton {vertical-align:middle;padding-bottom:6px;}
.ShoppingCart .TotalBox td {padding-left:20px;text-align:right;}
.ShoppingCart .bold {font-weight:bold;}

/**************************************************/
/* DashBoard Top Links                                 
/**************************************************/
.DashBoardItems {}
.DashBoardItems td {text-align:center; width:148px; padding:3px;}

.StoreTree {margin-top:10px;}
.StoreTitle {font-family: arial,helvetica; font-size: 14px; margin-bottom: 5px; margin-top: 10px; font-weight: normal; }

.DashboardAlert
{
	display:block;
	width:180px;
	height:138px;
	/* fonts for the tabs */
}
.DashboardAlert .ajax__tab_tab
{
	/* header text is always be bold */
	font-weight:normal;	
	font-size:12pt;
	text-align:left;
}
.DashboardAlert .ajax__tab_body 
{
	background-color:#fff;
	border:1px solid #eeeeee;
	border-top:none;
	padding-left:10px;
	padding-bottom:0px;
	font-size:9px;
}
.DashboardAlert .ajax__tab_header
{
	border-bottom:1px solid #efefff;
	padding-right:10px;	
	text-transform:uppercase;	
}

.DashboardAlert .ajax__tab_panel 
{
    padding:0px;
    padding-top:10px;
    margin:0px;
}

.ajax__tab_panel .MetricItem { padding-bottom: 0px; padding-left: 0px; line-height:12px; }
.ajax__tab_panel .MetricItem  a { text-decoration:none; font-size: 8pt; font-family: verdana; font-weight:bold; }
.ajax__tab_panel .MetricItem .MetricLabel { color:#808080; font-size: 7.5pt; font-family: sans-serif, Arial, Calibri; text-align:left; }
.ajax__tab_panel .MetricItem .MetricValue { padding-bottom:0px; color:#808080; font-size: 7.5pt; font-family: sans-serif, Arial, Calibri; padding-left: 5px; font-weight:bold; }

.ajax__tab_panel .AlertItem { padding-bottom:5px; font-family: verdana;}
.ajax__tab_panel .AlertItem a { text-decoration:none; color:#808080; font-size: 7pt; font-family: sans-serif, Arial, Calibri; padding-left: 5px; font-weight:bold; }
.ajax__tab_panel .AlertItem a span { color:#4890A9; font-weight:bold; font-family:Arial, Comic Sans MS; }
.ajax__tab_panel .AlertItem a:hover { text-decoration:underline; color:#808080; font-size: 7pt; font-family: sans-serif, Arial, Calibri; padding-left: 5px; font-weight:bold; }


/* regular header styles */
.DashboardAlert .ajax__tab_header .ajax__tab_tab
{
	/* left/right rounded images are 11 pixels wide */
	margin:0px 11px 0px 13px;
	color:#999999; 
	background:url(../Images/tab/inactivetabbg.jpg) repeat-x;		
	padding-top:5px;
	width:66px;	
	height:23px;
}
.DashboardAlert .ajax__tab_header .ajax__tab_outer
{
	/* 2 pixel horizontal space between tabs */
	background:url(../Images/tab/righttab.jpg) no-repeat right top;
}
.DashboardAlert .ajax__tab_header .ajax__tab_inner
{
	background:url(../Images/tab/inactivelefttab.jpg) no-repeat left top;
}

/* active/hover headers styles */
.DashboardAlert .ajax__tab_active .ajax__tab_tab, 
.DashboardAlert .ajax__tab_hover .ajax__tab_tab  
{
	/* left/right rounded images are 11 pixels wide */
	margin:0px 11px 0px 13px;
	color:#252525;
	background:url(../Images/tab/activetabbg.jpg) repeat-x 0pt 0px;	
}
.DashboardAlert .ajax__tab_active .ajax__tab_outer,
.DashboardAlert .ajax__tab_hover .ajax__tab_outer
{
	/* 2 pixel horizontal space between tabs */
	background:url(../Images/tab/activerighttab.jpg) no-repeat 100% 0px;
}
.DashboardAlert .ajax__tab_active .ajax__tab_inner,
.DashboardAlert .ajax__tab_hover .ajax__tab_inner
{
	background:url(../Images/tab/lefttab.jpg) no-repeat 0pt 0px;
}


input[type=image] { margin-right:5px; }

/* CSS rules for IE 7 only, it overrides the common rule.*/
#ie7css .FormView .ValueStyle { float:none; }
#ie7css .Display .ValueStyle { float:none; }
#ie7css .Display .ValueStyleA { float:none; }
#ie7css .Display .ValueStyleA { float:none; }
#ie7css .Display .ValueStyleImgA  { float:none; }
#ie7css .ViewForm100 .ValueStyle  { float:none; }
#ie7css .ViewForm100 .ValueStyleA { float:none; }
#ie7css .ViewForm100 .ValueStyleImg { float:none; }
#ie7css .ViewForm100 .ValueStyleImgA { float:none; }
#ie7css .ViewForm200 .ValueStyleA { float:none; }
#ie7css .ViewForm200 .ValueStyleA { float:none; }
#ie7css .ViewForm200 .ValueStyleImg { float:none; }
#ie7css .ViewForm200 .ValueStyleImgA { float:none; }
#ie7css .ViewForm300 .ValueStyle { float:none; }
#ie7css .Display .ValueStyleA { float:none; }
#ie7css .Display .ValueStyleImg { float:none; }
#ie7css .ViewForm300 .ValueStyleImgA  { float:none; }
#ie7css .ImageButtons INPUT[type=submit] { vertical-align:3px; }
#ie7css .ImageButtons INPUT[type=submit].Size175 { vertical-align:3px; }
#ie7css .ImageButtons INPUT[type=submit].Size100 { vertical-align:3px; }
#ie7css .ImageButtons INPUT[type=submit].Size75 { vertical-align:3px; }
#ie7css .ImageButtons INPUT[type=submit]:hover { vertical-align:3px; }
#ie7css .ImageButtons INPUT[type=submit].Size175:hover { vertical-align:3px; }
#ie7css .ImageButtons INPUT[type=submit].Size100:hover { vertical-align:3px; }
#ie7css .ContentPane .Content .ReportRight {float:none;}
#ie7css .ContentPane .Content .ReportRight .Reports { display:inline-block; width:100%; padding-bottom:25px; }

}


/* background style for the screen when an ajax progress update is displayed */
#ajaxProgressBg {
    border: 0; padding: 0; margin: 0; width: auto; position: absolute; background-color: #444444; opacity: 0.3;
    filter: Alpha(opacity:30); z-index: 0; }
#ajaxProgress{
    padding: 0; position: absolute; background-color: #FFFFFF; background: #FFFFFF url(../images/loading.gif) no-repeat 50%;
    z-index: 1; left:50%; top:40%; margin-left:-100px; width:100px; height:100px; border: solid 2px #444444; }
    
    
/**************************************************/
/* PRODUCT DETAIL                                 
/**************************************************/
#ProductDetail { margin-left:15px; font-family:Arial; color:#666666;}
#ProductDetail .Title {font-size:28px; color:#60AF3A;}
#ProductDetail .Horizontalline {border-top:1px solid silver;margin:6px 0px 0px 0px;}
#ProductDetail .LeftContent {float:left;width:440px;margin-right:10px;}
#ProductDetail .RightContent {float:left;width:295px;margin-left:10px;background:url(../images/seperator_bg.gif); background-repeat:repeat-y; background-position:left top;}
#ProductDetail .Description {margin: 0px 0px 10px 0px;font-size:10pt; padding-right:10px;}
#ProductDetail .Label A {font-weight: normal;font-size:10pt;margin-right:5px;text-decoration:none;}
#ProductDetail .BrandLabel A {font-weight: normal;font-size:10pt;margin-right:5px;text-decoration:none;}
#ProductDetail .Image { margin-bottom:10px;text-align:center; padding:10px;}
#ProductDetail .Zoom { margin-bottom: 20px; text-align: center; }
#ProductDetail .StarRating {margin-top:15px;}
#ProductDetail .StarRating A {text-decoration:none;}
#ProductDetail .Tabs { margin-top: 30px; margin-bottom:0px;  font-size: 8pt; }
#ProductDetail .OrderingOptions {text-transform:uppercase; text-align:right; padding-left:20px; padding-right:0px;padding-bottom:10px;padding-top:10px;}
#ProductDetail .Quantity {margin-right:10px;}
#ProductDetail .StockMsg {text-transform:capitalize; text-align:right; font-family:Arial; font-size:14px;color:#666666;margin-top:10px;padding-left:180px; margin-bottom:5px;}
#ProductDetail .Price {font-size: 12px; font-weight: normal;font-family:Arial;}
#ProductDetail .PriceContent {text-transform:capitalize;text-align:right;margin-left:285px;}
#ProductDetail .RegularPrice { font-size: 12px; font-weight: normal; text-decoration: line-through; margin-right:1px;margin-left:2px;}
#ProductDetail .SalePrice {font-size: 14px;color:#313131;}
#ProductDetail .CallForPriceMsg {font-size: 14px;font-weight:bold; color:#cb5d2a;}
#ProductDetail .AddToCartButton {margin-top:15px;text-align:right;}
#ProductDetail .AttributeDropDown { width:136px; height:20px; border:1px solid #B7B7B7; }
#ProductDetail .AddOnDropDown { width:136px; height:20px; border:1px solid #B7B7B7; margin:3px; }
#ProductDetail .AddOnTextBox { width:132px; height:16px; border:1px solid #B7B7B7; }
#ProductDetail .AddOnValidator { padding-right:10px; }
 /* ----------------IMAGE SLIDER STARTS------------- */
#ProductDetail #CatalogImage_outer {width:260px;margin:0px;background:#ffffff;overflow:hidden;position:relative;bottom:10px;right:9px;padding:0px}
#ProductDetail #CatalogImage_outer .SlideItMoo_forward,
#ProductDetail #CatalogImage_outer .SlideItMoo_back{display:block;position:absolute;cursor:pointer;width:24px;height:260px;bottom:0px;right:0px;background:url(../images/RightScroll.gif) no-repeat center;}
#ProductDetail #CatalogImage_outer .SlideItMoo_back {left:0px;background:url(../images/LeftScroll.gif) no-repeat center;}
#ProductDetail #CatalogImage_inner{width:260px;overflow:hidden;position:relative;left:25px;left:0px;margin:0px;padding:0px 0px 0px 0px;}
#ProductDetail #CatalogImage_items {display:block;position:relative;height:250px;}
#ProductDetail #CatalogImage_items div.CatalogImage_element {width:260px;height:250px;display:block;position:relative;float:left;margin:0px 0px 0px 0px;font-size:11px;text-align:center;color:#FFFFFF;}
#ProductDetail #CatalogImage_items a {}
#ProductDetail #CatalogImage_items a img{ border:none; }
/* ----------------IMAGE SLIDER ENDS------------- */
/*---------- SWATCHES ------------*/
#ProductDetail .ProductSwatches {text-align:center;margin:10px 0px 20px 10px;height:20px;}
#ProductDetail .ProductSwatches .Text {float:left;margin:3px 20px 0px 30px;color:#848484;font-size: 10px;font-weight:bold; font-family: Arial;}
#ProductDetail .ProductSwatches .ProductViews .Swatches {}
#ProductDetail .ProductSwatches .ProductViews .Swatches .ItemStyle { padding-left:8px; padding-top:2px; padding-bottom:3px; vertical-align:top;}
#ProductDetail .ProductSwatches .SwatchImage {cursor:pointer;border:solid 1px #313131; cursor:pointer; text-align:center;height:15px;}
/* ----------SWATCHES ENDS ---------*/
/* ----------------AJAX TAB STYLE STARTS---------- */
#ProductDetail #Tab .CustomTabStyle .ajax__tab_body 
{
    border-top:Solid 4px #c0c0c0; border-left:Solid 4px #c0c0c0;border-bottom:Solid 4px #c0c0c0;border-right:Solid 4px #c0c0c0; color:#666666; font-size:10pt; 
    height:210px; width:420px;color:#666666; font-size:10pt;background-color:#ffffff; padding-top:3px;padding-right:13px;
}
#ProductDetail #Tab .CustomTabStyle .ajax__tab_outer {height:27px; padding-right:4px;background:url(../Images/Rplain.gif) no-repeat right; background-position:top right;}
#ProductDetail #Tab .CustomTabStyle .ajax__tab_inner {padding-left:4px;background:url(../Images/Lplain.gif) no-repeat;}
#ProductDetail #Tab .CustomTabStyle .ajax__tab_tab {width:119px; margin:0;background:url(../Images/mplain.gif) repeat-x; padding-top:10px; padding-left:10px; padding-right:10px;}
#ProductDetail #Tab .CustomTabStyle .ajax__tab_hover { cursor:pointer; }
#ProductDetail #Tab .CustomTabStyle .ajax__tab_hover .ajax__tab_outer {padding-right:4px;background:url(../Images/Rplain.gif) no-repeat right; background-position:top right;}
#ProductDetail #Tab .CustomTabStyle .ajax__tab_hover .ajax__tab_inner {padding-left:4px;background:url(../Images/Lplain.gif) no-repeat;}
#ProductDetail #Tab .CustomTabStyle .ajax__tab_hover .ajax__tab_tab {background:url(../Images/mplain.gif) repeat-x;}
#ProductDetail #Tab .CustomTabStyle .ajax__tab_active .ajax__tab_outer {background:url(../Images/faright.gif) no-repeat right; color:#666666;  background-position:top right;}
#ProductDetail #Tab .CustomTabStyle .ajax__tab_active .ajax__tab_inner {background:url(../Images/faleft.gif) no-repeat;color:#666666;}
#ProductDetail #Tab .CustomTabStyle .ajax__tab_active .ajax__tab_tab {padding-bottom:-10px; background:url(../Images/famiddle.gif) repeat-x; color:#666666; font-weight:600;}
#ProductDetail #Tab .Features {margin:10px;}
#ProductDetail #Tab .Reviews {margin:10px;}
#ProductDetail #Tab .ShippingInfo {margin:10px;}
/* ----------------AJAX TAB STYLE ENDS----------------*/
#ProductDetail #RelatedTabs {margin-top:20px; margin-left:15px; vertical-align:text-bottom;}
#ProductDetail #RelatedTabs .RelatedProductTabStyle .ajax__tab_body {height:100px; width:273px; padding-top:5px; border-top:1px Solid #666666;}
#ProductDetail #RelatedTabs .RelatedProductTabStyle .ajax__tab_tab { height:19px;width:134px;font-size:10px; word-spacing:2px; padding-top:5px; font-family:Times New Roman;}
#ProductDetail #RelatedTabs .RelatedProductTabStyle .ajax__tab_hover { cursor:pointer; }
#ProductDetail #RelatedTabs .RelatedProductTabStyle .ajax__tab_active .ajax__tab_inner {background:url(../Images/tab_grey_bg.gif) no-repeat; text-align:center; color:#ffffff;font-size:10px;word-spacing:0px;font-family:Times New Roman;}
#ProductDetail #RelatedTabs .Text {color:#666666;}
/* ----------------AJAX RELATED TAB STYLE ENDS--------*/
#ProductDetail #DetailPageLink {clear:left;word-spacing:0.5px; color: #313131;font-size:12px; background:#f5f5f5; background:url(../Images/emailfriend_bg.gif); background-repeat:repeat-x; width:295px; height:64px;margin-left:1px; }
#ProductDetail #DetailPageLink #InternalLinks { float:left; margin-top:10px;margin-left:15px; }
#ProductDetail #DetailPageLink #InternalLinks .GiftImage { position:relative; left:5px; } 
#ProductDetail #DetailPageLink #InternalLinks .FriendImage { position:relative; left:3px; }
#ProductDetail #DetailPageLink #SocialLinks { float:right; margin-top:10px; margin-right:10px; margin-bottom:5px;margin-left:15px; }
#ProductDetail #DetailPageLink #SocialLinks .FBImage {position:relative;top:0px;right:0px;}
#ProductDetail #DetailPageLink #SocialLinks .TwitterImage {position:relative;top:0px;}
/* ----------------Cross Sell Related Item------------*/
#ProductDetail .CrossSellItem .Image { margin:0px; border:0px; padding:0px; }
#ProductDetail .CrossSell #CrossSellItems_outer {height:70px;overflow:hidden;position:relative;bottom:0px;right:0px;margin-top:5px;margin-left:5px; background:#ffffff; display:block;}
#ProductDetail .CrossSell #CrossSellItems_outer .SlideItMoo_forward,
#ProductDetail .CrossSell #CrossSellItems_outer .SlideItMoo_back{display:block;position:absolute; cursor:pointer;width:14px;height:50px;top:10px;bottom:0px;right:0px;background:url(../images/crossSell_RightScroll.gif) no-repeat center;}
#ProductDetail .CrossSell #CrossSellItems_outer .SlideItMoo_back {left:0px;background:url(../images/crossSell_LeftScroll.gif) no-repeat center;}
#ProductDetail .CrossSell #CrossSellItems_inner{overflow:hidden;position:relative;left:20px;margin:0px;padding:0px 5px 0px 5px;}
#ProductDetail .CrossSell #CrossSellItems {display:block;position:relative;}
#ProductDetail .CrossSell #CrossSellItems div.CrossSellItem {display:block;float:left;padding:0px 10px 0px 10px;font-size:11px;text-align:center;color:#FFFFFF;}
#ProductDetail .CrossSell #CrossSellItems .Image {text-align:center;margin:10px 0px 10px 0px;width:50px;height:50px;}
/* ---------------- Best Sellers ------------*/
#ProductDetail .BestSellerItem .Image { margin:0px; border:0px; padding:0px; }
#ProductDetail .BestSeller #BestSellers_outer {height:70px;margin-left:5px;margin-top:5px; overflow:hidden;position:relative;bottom:0px;right:0px;background:#ffffff; display:block; width: 260px !important;}
#ProductDetail .BestSeller #BestSellers_outer .SlideItMoo_forward,
#ProductDetail .BestSeller #BestSellers_outer .SlideItMoo_back{display:block;position:absolute; cursor:pointer;width:14px;height:50px;top:10px; right:0px;background:url(../images/crossSell_RightScroll.gif) no-repeat center;}
#ProductDetail .BestSeller #BestSellers_outer .SlideItMoo_back {left:0px;background:url(../images/crossSell_LeftScroll.gif) no-repeat center;}
#ProductDetail .BestSeller #BestSellers_inner { overflow:hidden;position:relative;left:20px;margin:0px;padding:0px 5px 0px 5px; width: 210px !important;}
#ProductDetail .BestSeller #BestSellers_Items {display:block;position:relative; width: 400px !important;}
#ProductDetail .BestSeller #BestSellers_Items div.BestSellerItem {display:block;float:left;padding:0px 10px 0px 10px;font-size:11px;text-align:center;color:#FFFFFF;}
#ProductDetail .BestSeller #BestSellers_Items .Image {text-align:center;margin:10px 0px 10px 0px;width:50px;height:50px;}
/* ---------------- Product Reviews ------------*/
#ProductDetail #Review { margin-left:10px; margin-right:0px; width:380px; color:#646464; font-size:12px; }
#ProductDetail #Review .TitleStyle { font-size: 12px; word-wrap: break-word; font-weight:bold; padding:0px; color:#646464;}
#ProductDetail #Review .AlignRight { text-align:right; }
#ProductDetail #Review .ItemStyle { }
#ProductDetail #Review .ReviewItem { padding-top:10px;  text-align:left; }
#ProductDetail #Review .ReviewItem .Title { font-size:13px; font-weight:lighter; margin-top: 10px; margin-bottom: 10px; color: #444444; padding-right: 5px; padding-left: 0px; padding-bottom: 3px; padding-top: 3px; background-color: #eaebeb; border-left: #d3d3d3 1px solid; border-bottom: #8e9fba 1px solid; border-top-width: 1px; border-top-color: #d3d3d3; border-right-width: 1px; border-right-color: #d3d3d3;}
#ProductDetail #Review .ReviewItem .Title .Subject { padding-left:10px; font-size: 13px; font-weight:bold; color:#000000; }
#ProductDetail #Review .ReviewItem .Text { padding-top:5px; padding-bottom:5px;}
#ProductDetail #Review .ReviewItem .Content { margin-top:5px; margin-bottom:5px; margin-left:10px; color:#646464; }
#ProductDetail #Review .ReviewItem .StarRating { text-align:left; }
#ProductDetail #Review .ReviewItem .Content .Row { margin-top:5px; font-size:12px; color:#646464; text-align:left; }
#ProductDetail #Review .ReviewItem .Content .Row .FieldStyle { font-size:12px; color:#646464; font-weight:bold; margin-bottom:5px;  }
#ProductDetail #Review .ReviewItem .Content .Row .ValueStyle { margin-left:10px; font-size:12px; color:#646464; margin-bottom:5px; }
#ProductDetail #Review .Paging { margin-top:5px; margin-bottom:0px; text-align:right;  font-size:12px; color:#646464;}
#ProductDetail #Review .Sorting { text-align:right; padding-top:0px; color: #646464; font-size:12px; }
#ProductDetail #Review .Link { font-size:11px; text-align:left; width:40%;  }
#ProductDetail #Review .Spacer { margin-bottom:5px; }

#ProductDetail .box { border:solid 1px gray; display:inline-block; margin:10px;  padding:20px;}

.Legend {display:inline-block; padding:5px; vertical-align:middle;}
.Legend span{margin-top:-10px; vertical-align:middle;display:inline-block; padding:5px;}
.SuccessMsg {color: black; font-size: 13px;}

.tooltip
{
    display: inline;
    vertical-align:bottom;
}
    .tooltip .content
    {
        display: none;
    }
    
    a.learn-more
{
    display: inline-block;
    background: url("../Images/help.png") no-repeat 0 0;
    width: 14px;
    height: 14px;
    margin-left: 2px;
}
a.learn-more:hover
{
    background-position: 0 -14px;
}
    a.learn-more span
    {
        display: none;
  }

/* 
#MallAdminResetPwd .FormView .ValueStyle { width: 350px; } 
#MallAdminResetPwd .ImageButtons { padding-left: 205px;}  
*/

/*Reset Password Page Styles*/
.ResetPwd {
    font-size: 1.2em;
}
 .ResetPwd .inputsRow,  .ResetPwd .ImageButtons {
    clear: both;
 }
 .ResetPwd .inputsRow > div {
    float: left;
 }
 .ResetPwd .inputsRow div.FieldStyle {
    font-size: 1.1em;
    font-weight: bold;
    width: 200px;
 }
.ResetPwd .inputsRow div.ValueStyle {
    font-size: 1em;
    width: 355px;
 }
 .ResetPwd .ImageButtons {
    margin-left: 205px;
}
#PasswordExpired{
    margin: 15px 0 20px 0;
}
.Login.ResetPwdLogin {
	margin: 0 15px;
}
.ResetPwd h1 {
	margin-top: 0px;
}


/* Mall Admin Menu */

#top-nav
{
    /* background: url("../Images/Layout/topnav_bg.png") repeat-x 0 0; */
    height: 41px;
}

    #top-nav ul.horizontal-nav
    {
        padding: 8px 0 0;
        margin: 0;
        list-style-type: none;
    }

        #top-nav ul.horizontal-nav > li
        {
            /*background: url("../Images/Layout/topnav_seperator.png") no-repeat 0 0;*/
            margin: 0 0 0 15px;
            padding: 0 0 0 15px;
            float: left;
        }

            #top-nav ul.horizontal-nav > li.dashboard
            {
                background: none;
                margin: 0;
            }

            #top-nav ul.horizontal-nav > li.preview
            {
                background: none;
                float: right;
                margin-right: 30px;
            }

            #top-nav ul.horizontal-nav > li .nav-item
            {
                display: inline-block;
            }

                #top-nav ul.horizontal-nav > li .nav-item > a.link
                {
                    font-size: 14px;
                    font-weight: bold;
                    color: #FFFFFF;
                }

                    #top-nav ul.horizontal-nav > li .nav-item > a.link.selected
                    {
                    }

            #top-nav ul.horizontal-nav > li.preview .nav-item > a.link
            {
                font-size: 12px;
            }

            #top-nav ul.horizontal-nav > li .nav-item > a.link span.wrap-out
            {
                padding-left: 8px;
            }

            #top-nav ul.horizontal-nav > li .nav-item > a.link span.wrap-in
            {
                margin-right: -8px;
                padding-right: 8px;
            }

            #top-nav ul.horizontal-nav > li.preview .nav-item > a.link span.wrap-out
            {
                background: url("../Images/Buttons/button_primary.png") no-repeat 0 0;
                -moz-border-topleft-radius: 5px;
                -webkit-border-topleft-radius: 5px;
                border-top-left-radius: 5px;
                -moz-border-bottomleft-radius: 5px;
                -webkit-border-bottomleft-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            #top-nav ul.horizontal-nav > li.preview .nav-item > a.link span.wrap-in
            {
                background: url("../Images/Buttons/button_primary.png") no-repeat 100% 0;
                -moz-border-topright-radius: 5px;
                -webkit-border-topright-radius: 5px;
                border-top-right-radius: 5px;
                -moz-border-bottomright-radius: 5px;
                -webkit-border-bottomright-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            #top-nav ul.horizontal-nav > li .nav-item > a.link span.text
            {
                padding: 6px 3px;
                font-size: 14px;
                line-height: 14px;
                white-space: nowrap;
            }

            * + html #top-nav ul.horizontal-nav > li .nav-item > a.link span.text
            {
                height: 13px;
            }

            #top-nav ul.horizontal-nav > li.preview .nav-item > a.link span.text
            {
                font-size: 12px;
            }

            #top-nav ul.horizontal-nav > li .nav-item > a.link.selected
            {
                color: #333333;
            }

            #top-nav ul.horizontal-nav > li .nav-item:hover > a.link
            {
                color: #0A6C98;
                text-decoration: underline;
            }

            #top-nav ul.horizontal-nav > li.preview .nav-item:hover > a.link
            {
                color: #FFFFFF;
                text-decoration: none;
            }

            #top-nav ul.horizontal-nav > li .nav-item.no-children:hover > a.link span.wrap-out
            {
                background: url("../Images/Layout/topnav_item_bg.png") no-repeat 0 -27px;
            }

            #top-nav ul.horizontal-nav > li.preview .nav-item:hover > a.link span.wrap-out
            {
                background: url("../Images/Buttons/button_primary.png") no-repeat 0 -27px;
            }

            #top-nav ul.horizontal-nav > li .nav-item > a.link.selected span.wrap-out
            {
                background: url("../Images/Layout/topnav_item_bg.png") no-repeat 0 0;
            }

            #top-nav ul.horizontal-nav > li .nav-item:hover > a.link span.wrap-out
            {
                background: url("../Images/Layout/topnav_item_bg.png") no-repeat 0 -54px;
            }

            #top-nav ul.horizontal-nav > li .nav-item.no-children:hover > a.link span.wrap-in
            {
                background: url("../Images/Layout/topnav_item_bg.png") no-repeat 100% -27px;
            }

            #top-nav ul.horizontal-nav > li.preview .nav-item:hover > a.link span.wrap-in
            {
                background: url("../Images/Buttons/button_primary.png") no-repeat 100% -27px;
            }

            #top-nav ul.horizontal-nav > li .nav-item > a.link.selected span.wrap-in
            {
                background: url("../Images/Layout/topnav_item_bg.png") no-repeat 100% 0;
            }

            #top-nav ul.horizontal-nav > li .nav-item:hover > a.link span.wrap-in
            {
                background: url("../Images/Layout/topnav_item_bg.png") no-repeat 100% -54px;
            }

            #top-nav ul.horizontal-nav > li .nav-item div.sub-nav
            {
                position: absolute;
                width: 190px;
                padding: 0 0 7px;
                background: url("../Images/Layout/topnav_subnav_bottom_bg.png") no-repeat 0 100%;
                background-size:190px;
                z-index: 10;
            }

            * + html #top-nav ul.horizontal-nav > li .nav-item div.sub-nav
            {
                margin-top: -1px;
            }

                #top-nav ul.horizontal-nav > li .nav-item div.sub-nav ul.vertical-nav
                {
                    padding: 0 5px 0 0;
                    margin: 0;
                    background: url("../Images/Layout/topnav_subnav_bg.png")  repeat-y 0 0;
                    background-size:190px;
                }

                    #top-nav ul.horizontal-nav > li .nav-item div.sub-nav ul.vertical-nav li
                    {
                        padding: 6px 12px;
                        border-bottom: solid 1px #C1C1C1;
                    }

                        #top-nav ul.horizontal-nav > li .nav-item div.sub-nav ul.vertical-nav li a
                        {
                            font-size: 13px;
                            font-weight: bold;
                        }


.TabDescription
{
    width: 70%;
    float: left;
    padding-bottom: 10px;
    padding-top: 3px;
}


/*To display the popup on gridview*/

    .remarkdetail{ display:none; }
    .remark:hover .remarkdetail{
     display:block; position:absolute; 
     text-align:left;  
     width:auto; 
     /*max-height:300px;*/ 
	 height:auto;
     overflow:auto; 
     background-color:#ffffde; 
     border:1px solid #bbb; padding:3px;
	 margin-top:-130px;
             }

    .submitbutton {
	background-color:#e17c39;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	height:19px;
	line-height:15px;
	width:auto;
	text-decoration:none;
	text-align:center;
    border: none;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    margin-right: 5px;
}.submitbutton:hover {
	background-color:#b34d04;
}.submitbutton:active {
	position:relative;
	top:1px;
}

 /* For Firefox alignment*/
@-moz-document url-prefix() 
{
    .submitbutton, .cancelbutton
    {
        padding-bottom: 3px;
    }
}


 .cancelbutton {
	background-color:#AFAFAF;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	height:19px;
	line-height:15px;
	width:auto;
	text-decoration:none;
	text-align:center;
    border: none;
    cursor: pointer;
    vertical-align: top;
    text-transform: uppercase;
    margin-right: 5px;
}.cancelbutton:hover {
	background-color:grey;
}.cancelbutton:active {
	position:relative;
	top:1px;
}
 .editbutton {
	background-color:#e17c39;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial, Calibri, Sans-Serif;
	font-size:11px;
	font-weight:normal;
	font-style:normal;
	height:19px;
	line-height:15px;
	width:auto;
	text-decoration:none;
	text-align:center;
    border: none;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
}.editbutton:hover {
	background-color:#b34d04;
}.editbutton:active {
	position:relative;
	top:1px;
}