﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductTypeListViewModel
@using Resources;
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

@if (!Equals(Model, null) && Model.ProductTypes.Count > 0)
{
    <div>
        @{

    WebGrid grid = new WebGrid(rowsPerPage: 5, ajaxUpdateContainerId: "grid-container");
    grid.Bind(source: Model.ProductTypes, rowCount: Model.TotalResults, autoSortAndPage: false);
        }
        <div id="grid">
            @grid.GetHtml(
            htmlAttributes: new { id = "producttypesList", @class = "table" },
            fillEmptyRows: false,
            mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",
            columns: new[] {
                grid.Column(header: @ZnodeResources.TitleId,format: @<span> <span id="spanName_@item.ProductTypeId">@item.ProductTypeId</span></span>),
                grid.Column(header: @ZnodeResources.LabelProductType,format: @<span> <span id="spanName_@item.Name">@item.Name</span></span>),
                grid.Column(header: @ZnodeResources.LabelDescription,format: @<span> <span id="spanName_@item.Description">@item.Description</span></span>),
                grid.Column(header: @ZnodeResources.LabelDisplayOrder,format: @<span> <span id="spanName_@item.DisplayOrder">@item.DisplayOrder</span></span>),
                grid.Column(header: @ZnodeResources.LabelAction,format:@<text> @Html.ActionLink(ZnodeResources.LabelEdit, ZnodeResources.LabelEdit, new { @id = @item.ProductTypeId })  |</text>),
                grid.Column(header: "",format:@<text> @Html.ActionLink(ZnodeResources.LabelAttributes, "AttributesList", new { @id = @item.ProductTypeId })  |</text>),
                grid.Column(header: "",format:@<text>@Html.Raw("<span onclick='CommonHelper.BindDeleteConfirmDialog(\" " + ZnodeResources.ConfirmDeleteTitle + "\", \" " + ZnodeResources.ConfirmDeleteMessage + "\", \"/" + controllerName + "/" + ZnodeResources.LabelDelete + "/" + @item.ProductTypeId + "\");'>" + ZnodeResources.LabelDelete + "</span>")</text>)
                }
  )
            @grid.CustomPager(Html)
            @Html.Hidden("dir", grid.SortDirection) @Html.Hidden("col", grid.SortColumn)
        </div>
    </div>
}
else
{
    <div>@ZnodeResources.NoRecordFoundMessageText</div>
}