﻿@model Znode.Engine.MvcAdmin.ViewModels.AttributeTypesViewModel
@{
    ViewBag.Title = "AddAttribute";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="container" id="grid-container">
    <div class="col-md-12">

        <h2>Add Product Type Attribute</h2>

       @using (Html.BeginForm("CreateAttribute", controllerName, FormMethod.Post))
       {
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.DropDownListFor(m => m.AttributeTypeId, Model.GetAttributesList, new { @id = "ddlAttributeTypeId" })
                @Html.HiddenFor(moel => Model.ProductTypeId)
            </div>
            <div class="form-group">
                <button type="submit" class="btn-text red"> Save </button>
                <button type="button" class="btn-text grey" onclick="javascript: location.href = '/ProductType/List';">Cancel</button>
            </div>
            
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}