﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductTypeViewModel
@using Resources;
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="container" id="grid-container">
    
    <div class="col-md-12">
        
        <h2>@Resources.ZnodeResources.HeaderProductAttributeType " @Model.Name "</h2>
        @switch (@Model.IsSuccess) // Model is how you access your passed data
        {
            case true:
                <div id="divProductTypeError" class="alert alert-danger" role="alert">@ZnodeResources.ErrorProductTypeAttributeMessage</div>
                break;
            case false:
            
                break;
        }
        <div class="col-lg-4 col-md-6 col-sm-4 pull-right">
            <button type="button" class="btn-text grey" onclick="javascript: location.href = '/ProductType/List';">Back</button>
            <button @Html.Raw(@Model.IsSuccess ? "disabled=\"disabled\"" : "") type="submit" class="btn-text red" onclick="javascript: location.href = '/ProductType/AddAttribute/'+@Model.ProductTypeId;"> Add Attribute </button>
            
        </div>
        
        @{
            
            if (Model != null && Model.attributeTypes != null)
            {
                WebGrid grid = new WebGrid(rowsPerPage: 5, ajaxUpdateContainerId: "grid-container");
                grid.Bind(source: Model.attributeTypes, rowCount: Model.TotalResults, autoSortAndPage: false);

                
    <div id="grid">
        @grid.GetHtml(
            htmlAttributes: new { id = "producttypesList", @class = "table" },
            fillEmptyRows: false,
            mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",
            columns: new[] {
                grid.Column(header: @ZnodeResources.TitleId,format: @<span> <span id="spanName_@item.ProductAttributeTypeId">@item.ProductAttributeTypeId</span></span>),
                grid.Column(header: @ZnodeResources.TitleAttribute,format: @<span> <span id="spanName_@item.Name">@item.Name</span></span>),
                grid.Column(header: @ZnodeResources.TitleDisplayOrder,format: @<span> <span id="spanName_@item.DisplayOrder">@item.DisplayOrder</span></span>),
                grid.Column(header: @ZnodeResources.LabelAction,format:@<text>@Html.Raw("<span onclick='CommonHelper.BindDeleteConfirmDialog(\" " + ZnodeResources.ConfirmDeleteTitle + "\", \" " + ZnodeResources.ConfirmDeleteMessage + "\", \"/" + controllerName + "/" + ZnodeResources.LabelDelete + "Attribute" + "/" + @item.ProductAttributeTypeId + "?" + "ProductTypeId=" + @item.ProductTypeId + "\");'>" + ZnodeResources.LabelDelete + "</span>")</text>)
                }
               )
        @grid.CustomPager(Html)
        @Html.Hidden("dir", grid.SortDirection) @Html.Hidden("col", grid.SortColumn)
    </div>
            }
            else
            {
                <div>@Resources.ZnodeResources.NoRecordFoundMessageText</div>
            }
        }
    </div>
</div>