﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductTypeViewModel
@using Resources;
@{
    ViewBag.Title = @ZnodeResources.HeaderCreateEditProductType;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}



@using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
{
    string isActiveStatus = (!Equals(Model, null) && Model.IsFranchisable) ? "checked='checked'" : string.Empty;
    @Html.HiddenFor(moel => Model.ProductTypeId)
    <div id="grid-container">
        <div class="col-lg-12 col-md-6 col-sm-6">
            <h1>@ZnodeResources.AddProductTypeHeading</h1>
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.TextBoxFor(m => m.Name, new { @placeholder = @ZnodeResources.PlaceHolderName })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="form-group">
                <label>
                    <input @isActiveStatus id="IsFranchisable" name="IsFranchisable" type="checkbox" value="true">
                    <span class="lbl padding-8">@ZnodeResources.LabelIsFranchisable</span>
                    <input name="IsFranchisable" type="hidden" value="false">
                </label>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.DisplayOrder, new { @placeholder = @ZnodeResources.PlaceHolderDisplayOrder })
                @Html.ValidationMessageFor(m => m.DisplayOrder)
            </div>
            <div class="form-group">
                
                @Html.TextAreaFor(m => m.Description, new { @placeholder = @ZnodeResources.PlaceHolderDescription, @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
            <br />
            <button type="button" class="btn-text gre" onclick="javascript: location.href = '/ProductType/List';">Cancel</button>
            <button type="submit" class="btn-text red">Save</button>

        </div>
    </div>
}
