﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductTypeListViewModel
@using Resources
@{
    ViewBag.Title = "ProductTypeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 stord-title">
            <h1 class="left">
                @ZnodeResources.ProductTypeHeader<a data-toggle="popover" data-contentwrapper=".popover-content"><i class="glyphicon glyphicon-question-sign"></i> </a>
            </h1>
            <p class="left">
                @ZnodeResources.ProductTypeSubMessage
            </p>
        </div>
        <div class="col-sm-12 stord-search">
            <div class="col-lg-6 col-md-6 col-sm-8 nopadding">
                @using (Ajax.BeginForm("List", "ProductType", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {

                    <div class="form-group">
                        @Html.TextBoxFor(m => m.SearchProductType, new { @placeholder = @ZnodeResources.PlaceholderProductType })
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(m => m.SearchDescription, new { @placeholder = @ZnodeResources.PlaceholderProductTypedesc })
                    </div>
                    <div class="col-sm-5 ClearBoth">
                        <input type="submit" name="Search" value="@ZnodeResources.ButtonSearch" id="btnSearch" class="btn-text red" />
                        @Html.ActionLink("Clear", "List")
                    </div>
                }
            </div>
            <div class="col-lg-6 col-md-6 col-sm-4">
                @Html.ActionLink(@ZnodeResources.ButtonAddNewProductType, "Create", "ProductType", new { @role = "button" , @class="btn-text red pull-right" })
            </div>
        </div>
        <div class="col-sm-12 stord-list">
            <h3>Product Type List</h3>
            @Html.Partial("_List", Model)
        </div>
    </div>
</div>