﻿
@{
    ViewBag.Title = "zNode | Home";
}
<div class="col-sm-12">
    <div class="home-page-container">
        <h2>Let's Start...</h2>

        <div class="col-sm-12 col-md-12 col-lg-11 col-lg-offset-1 ">
            <div class="col-sm-6 col-md-3">
                <ul class="quick-links-ul">
                        <li>
                            <a href="#">
                                <div class="img-circle img-responsive quick-links-circle">
                                    <i class="z-store"></i><h3>Create Store</h3>
                                </div>
                            </a>
                            <div class="circle-details">
                                <p>Set up stores, associate a catalog, and create URLs to access the store.</p>
                            </div>
                        </li>
                 </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <ul class="quick-links-ul">
                    <li>
                        <a href="#">
                            <div class="img-circle img-responsive quick-links-circle">
                                <i class="z-catalog"></i><h3>Create Catalog</h3>
                            </div>
                        </a>
                        <div class="circle-details">
                            <p>Catalogs are groupings of selected categories that you want to display in your store (example: Summer Catalog).</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <ul class="quick-links-ul">
                    <li>
                        <a href="#">
                            <div class="img-circle img-responsive quick-links-circle">
                                <i class="z-category"></i><h3>Create Category</h3>
                            </div>
                        </a>
                        <div class="circle-details">
                            <p>Categories are hierarchical groupings of products in your catalog (example: Apparel, Electronics, etc).</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <ul class="quick-links-ul">
                    <li>
                        <a href="#">
                            <div class="img-circle img-responsive quick-links-circle">
                                <i class="z-product"></i><h3>Add Product</h3>
                            </div>
                        </a>
                        <div class="circle-details">
                            <p>Add or manage products and inventory in your store.</p>
                        </div>
                    </li>
                </ul>
            </div>               
        </div>

    </div>
</div>


