<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/Account/Login.ascx" TagName="Login" TagPrefix="ZNode" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
   <div class="ContentContainer"><ZNode:Login ID="uxLogin" runat="server" ShowRememberMeOption="false" Visible="true"/></div>
</asp:Content>