﻿@model Znode.Engine.MvcAdmin.ViewModels.HighlightsListViewModel
@using Znode.Engine.MvcAdmin.Helpers
@using Resources

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div>
    @{
        WebGrid grid = new WebGrid(rowsPerPage: 5, ajaxUpdateContainerId: "grid-container");
        if (!Equals(Model, null) && !Equals(Model.Highlights, null))
        {
            grid.Bind(source: Model.Highlights, rowCount: Model.TotalResults, autoSortAndPage: false);
        }
    }
    
    @if (!Equals(Model, null) && !Equals(Model.Highlights, null))
    {
        <div id="grid">
         @grid.GetHtml(
            htmlAttributes: new { id = "grid", @class = "table" },
            headerStyle: "grid-header",
            columns: grid.Columns(
                grid.Column(header: @ZnodeResources.TitleId, format: @<span> <span id="spanName_@item.HighlightId">@item.HighlightId</span></span>),
                grid.Column(header: @ZnodeResources.TitlelImage,format:@<span> <img id="spanName_@item.Name" src="@item.ImageSmallThumbnailPath" alt="@item.Name" /></span>),
                grid.Column(header: @ZnodeResources.LabelHighlightName,format: @<span> <span id="spanName_@item.Name">@item.Name</span></span>),
                grid.Column(header: @ZnodeResources.TitleEnableHyperlink, format: @<i class="@HelperMethods.GetCheckMark(item.ShowPopup )"></i>),
                grid.Column(header: @ZnodeResources.LabelHighlightType,format: @<span> <span id="spanName_@item.HighlightType.Name">@item.HighlightType.Name</span></span>),
                grid.Column(header: @ZnodeResources.LabelDisplayOrder,format:@<span> <span id="spanName_@item.DisplayOrder">@item.DisplayOrder</span> </span>),
                grid.Column(header: @ZnodeResources.TitleManufacturerIsActive ,format: @<i class="@HelperMethods.GetCheckMark(item.IsActive)"></i>),
                grid.Column(header: @ZnodeResources.LabelAction, format: @<text>@Html.ActionLink(ZnodeResources.LabelEdit, ZnodeResources.LabelEdit, new { @id = @item.highlightId }, new { @title = ZnodeResources.LabelEdit }) </text>),
                grid.Column(header: "",format:@<text>@Html.Raw("<span class='delete-link' title = '" + ZnodeResources.LabelDelete + "' onclick='CommonHelper.BindDeleteConfirmDialog(\" " + ZnodeResources.ConfirmDeleteTitle + "\", \" " + ZnodeResources.ConfirmDeleteMessage + "\", \"/" + controllerName + "/" + ZnodeResources.LabelDelete + "/" + @item.highlightId + "\");'>" + ZnodeResources.LabelDelete + "</span>")</text>)
         ))
         @grid.CustomPager(Html)           
        </div>
    }
    else
    {
        <span>@ZnodeResources.LabelHighlightNoRecordFound</span>
    }

</div>