﻿@model Znode.Engine.MvcAdmin.ViewModels.HighlightViewModel
@using Znode.Engine.MvcAdmin.Helpers
@using Resources

@{
    ViewBag.Title = @ZnodeResources.HeaderHighlight;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}


<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @if (actionName.ToLower() == "Create".ToLower())
        {
            <h1>@ZnodeResources.HeaderCreateHighlight</h1>
        }
        else
        {
            <h1>@ZnodeResources.HeaderEditHighlight @Model.Name</h1>
        }
    </div>
    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        string isActiveStatus = (!Equals(Model, null) && Model.IsActive) ? "checked='checked'" : string.Empty;
        @Html.ValidationSummary(true)
    <div class="col-sm-12 add-new-item">
        <div class="col-sm-12 col-md-6 col-lg-5 item-group">
            @Html.HiddenFor(model => model.HighlightId)
            @Html.HiddenFor(model => model.LocaleId)

            <div id="generalSettings">
                <h4>@ZnodeResources.SubHeaderHighlightGeneralSettings</h4>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.Name, new { @class="required"})
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.TypeId)
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.TypeId, Model.HighlightTypeList, new { @id = "ddlHighlightList" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.DisplayOrder, new { @class = "required" })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.DisplayOrder)
                        @Html.ValidationMessageFor(model => model.DisplayOrder)
                    </div>
                </div>
                <div class="form-group">                    
                    <div class="col-sm-8 col-sm-offset-4">
                        <label>
                            <input @isActiveStatus id="IsActive" name="IsActive" type="checkbox" value="true">
                            <span class="lbl padding-8">@ZnodeResources.LabelEnableHighlight</span>
                            <input name="IsActive" type="hidden" value="false">
                        </label>
                    </div>
                </div>                                                                                                                                                      
            </div>

            <div id="highlightImage">
                <h4>@ZnodeResources.HeaderHighlightImage</h4>
                <p class="sub">@ZnodeResources.DescriptionHighlightImage</p>

                @if (Model.IsEditMode)
                {
                    <div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                <img src=@Model.ImageMediumPath id="imgHighlight" class="img-responsive" />
                            </div>
                            <div class="col-sm-8">
                                <div class="col-sm-12">
                                    <label>
                                        <input type="radio" name="imageRadioGroup" id="rdoKeepCurrent" checked="checked" onclick="Highlight.KeepCurrentImage()" />
                                        <span class="lbl padding-8">@ZnodeResources.TextHighlightRdoKeepImage </span>
                                    </label>
                                </div>
                                <div class="col-sm-12">
                                    <label>
                                        <input type="radio" name="imageRadioGroup" id="rdoUploadNew" onclick="Highlight.UploadNewImage()" />
                                        <span class="lbl padding-8">@ZnodeResources.TextHighlightRdoUploadImage  </span>
                                    </label>
                                </div>
                                <div class="col-sm-12">
                                    <label>
                                        <input type="radio" name="imageRadioGroup" id="rdoNoImage" onclick="Highlight.NoImage()" />
                                        <span class="lbl padding-8">@ZnodeResources.TextHighlightRdoNoImage </span>
                                        @Html.HiddenFor(model => model.NoImage, new { @id = "hdnNoImage" })
                                    </label>
                                </div>                                
                                <div id="editImageSettings" class="hidden">
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.Image)
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.Image)
                                            @Html.HiddenFor(m => m.ImageFile)
                                        </div>
                                    </div>                                                                        
                                </div>

                            </div>
                        </div>                        
                        
                    </div>
                }
                else
                {
                    <div id="editImageSettings">
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.Image)
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.Image)
                                @Html.HiddenFor(m => m.ImageFile)
                            </div>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.ImageAltTag)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.ImageAltTag)
                    </div>
                </div>
            </div>            

        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-5 col-lg-offset-1 item-group">
            <div id="highlightClickSettings">
                <h4>@ZnodeResources.SubHeaderHighlightClickSettings</h4>

                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @ZnodeResources.DescriptionHighlightOnClickBehaviour
                    </div>
                    <div class="col-sm-8">
                        <label>
                            <input type="radio" name="onClickBehavior" checked="checked" id="displayText" onclick="Highlight.DisplayText()" />
                            <span class="lbl padding-8">@ZnodeResources.TextHighlightRdoDisplayText</span>
                        </label><br />
                        <label>
                            <input type="radio" name="onClickBehavior" id="hyperlink" onclick="Highlight.Hyperlink()" />
                            <span class="lbl padding-8">@ZnodeResources.TextHighlightRdoHyperlink</span>
                        </label>
                    </div>
                </div>

                <div id="divDisplayText">
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.LabelFor(model => model.Description)                            
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.EditorFor(model => model.Description)
                            <span class="sub">@ZnodeResources.DescriptionHighlightDisplayText</span>
                        </div>
                    </div>
                </div>
                <div id="divHyperlink" class="hidden">
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Hyperlink)
                            <span class="sub">Enter a web address to link this Highlight to. The address must be the full path to the page you want to go to (ex: http://www.znode.com). </span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Hyperlink)
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest"> @ZnodeResources.ButtonSubmitRequest</button>
                @Html.ActionLink(@ZnodeResources.ButtonCancel, "List", "Highlight", new { @Class = "btn-text grey", @title = @ZnodeResources.ButtonCancel })
            </div>

        </div>

    </div>
    }
    @Scripts.Render("~/bundle/Highlight")
</div>