﻿@model Znode.Engine.MvcAdmin.ViewModels.HighlightsListViewModel
@using Resources;

@{
    ViewBag.Title = ZnodeResources.HeaderHighlight;
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1 class="left">
            @ZnodeResources.HeaderHighlight
        </h1>
    </div>
    <div class="col-sm-12 search-container">
        <p class="left">@ZnodeResources.DescriptionHighlight</p>
        <button type="button" class="btn-text red pull-right" onclick="javascript: location.href = '/Highlight/Create';" title="@ZnodeResources.LinkAddNewHighlight">@ZnodeResources.LinkAddNewHighlight</button>
    </div>
    <div class="col-sm-12 product-search">
        <h3>@ZnodeResources.SubHeaderHighlightSearch</h3>
    @using (Ajax.BeginForm(actionName, controllerName, new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
    {
        <div class="col-lg-4 col-md-4 col-sm-12 product-group">
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="col-sm-8 col-lg-9">
                    @Html.TextBoxFor(model => model.Name)
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 product-group">
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    @Html.LabelFor(model => model.HighlightTypeList)
                </div>
                <div class="col-sm-8 col-lg-9">
                    @Html.DropDownListFor(model => model.TypeId, Model.HighlightTypeList, new { @id = "ddlHighlightList" })
                </div>
            </div>

            </div>
        <div class="col-lg-4 col-md-4 col-sm-12 product-group">
            <button type="button" name="Search" id="btnSearch" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
            <button type="reset" name="Clear" id="btnClear" class="btn-text grey" title="@ZnodeResources.ButtonClear">@ZnodeResources.ButtonClear</button>
        </div>
    }
</div>
    <div class="col-sm-12 list-container">
        <h3>@ZnodeResources.SubHeaderHighlightList</h3>
        @Html.Partial("_List", Model)
    </div>
</div>