﻿@model Znode.Engine.MvcAdmin.ViewModels.GiftCardListViewModel
@using Resources
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    WebGrid grid = new WebGrid(rowsPerPage: 5, ajaxUpdateContainerId: "grid-container");
    if (!Equals(Model, null) && !Equals(Model.GiftCards, null))
    {
        grid.Bind(source: Model.GiftCards, rowCount: Model.TotalResults, autoSortAndPage: false);
    }
}
<div>
    @if (!Equals(Model, null) && !Equals(Model.GiftCards, null))
    {
        <div id="grid">
            @grid.GetHtml(
                htmlAttributes: new { id = "grid", @class = "table" },
                headerStyle: "grid-header",
                columns: new[] {
                grid.Column(header: ZnodeResources.LabelgiftGridHeaderId,format: @<span> <span id="spanName_@item.GiftCardId">@item.GiftCardId</span></span>),
                grid.Column(header: ZnodeResources.LabelgiftGridHeaderName,format: @<span> <span id="spanName_@item.Name">@item.Name</span></span>),
                grid.Column(header: ZnodeResources.LabelgiftGridHeaderCardNumber,format: @<span> <span id="spanName_@item.CardNumber">@item.CardNumber</span></span>),
                grid.Column(header: ZnodeResources.LabelgiftGridHeaderCreateDate,format: @<span> <span id="spanName_@item.CreateDate">@item.CreateDate.ToString("MM/dd/yyyy")</span></span>),
                grid.Column(header: ZnodeResources.LabelgiftGridHeaderExpirationDate,format: @<span> <span id="spanName_@item.ExpirationDate">@Convert.ToDateTime(item.ExpirationDate).ToString("MM/dd/yyyy")</span></span>),
                grid.Column(header: ZnodeResources.LabelgiftGridHeaderAmount,format: @<span> <span id="spanName_@item.Amount"> $ @item.Amount</span></span>),
                grid.Column(header: ZnodeResources.LabelgiftGridHeaderAction,format:@<text> @Html.ActionLink(ZnodeResources.LabelEdit, ZnodeResources.LabelEdit, new { giftCardId = item.GiftCardId }, new { @title = ZnodeResources.LabelEdit })</text>),
                grid.Column(header: "",format:@<text> @Html.Raw("<span class='delete-link' title = '"+ZnodeResources.LabelDelete+"' onclick='CommonHelper.BindDeleteConfirmDialog(\" " + ZnodeResources.ConfirmDeleteTitle + "\", \" " + ZnodeResources.ConfirmDeleteMessage + "\", \"/" + controllerName + "/" + ZnodeResources.LabelDelete + "/" + @item.GiftCardId + "\");'>" + ZnodeResources.LabelDelete + "</span>")</text>)
            })
            @grid.CustomPager(Html)
            @Html.Hidden("dir", grid.SortDirection) @Html.Hidden("col", grid.SortColumn)
        </div>
    }
    else
    {
        <span>No Records Found.</span>
    }
</div>
