﻿@model Znode.Engine.MvcAdmin.ViewModels.GiftCardViewModel
@using Resources;
@{
    ViewBag.Title = "CreateEditGiftCards";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            if (actionName.ToLower() == "Create".ToLower())
            {
                <h1>@ZnodeResources.HeaderAddNewGiftCard</h1>
            }
            else
            {
                string Expired = Model.ExpirationDate < DateTime.Now ? "(Card Expired)" : " ";
                <h1>@ZnodeResources.HeaderEditGiftCard <text> - @Html.ValueFor(model => model.Name) @Expired</text></h1>
            }
        }
    </div>
    <div class="col-lg-5 col-md-8 col-sm-12 add-new-container">
        <h3>@ZnodeResources.SubHeaderGeneralInformation</h3> 
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
        {
                                       
                <div class="form-group">
                    <div class="col-sm-4 col-lg-3 nopadding">
                        @Html.LabelFor(model => model.CardNumber)
                    </div>
                    <div class="col-sm-8 col-lg-9">
                        @Html.TextBoxFor(model => model.CardNumber, new { @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.CardNumber)
                    </div>   
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-lg-3 nopadding">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="col-sm-8 col-lg-9">
                        @Html.TextBoxFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div> 
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-lg-3 nopadding">
                        @Html.LabelFor(model => model.PortalId)
                    </div>
                    <div class="col-sm-8 col-lg-9">
                        @Html.DropDownListFor(model => model.PortalId, Model.PortalList)
                        @Html.ValidationMessageFor(model => model.PortalId)
                    </div> 
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-lg-3 nopadding">
                        @Html.LabelFor(model => model.Amount, new { @class = "required" })
                    </div>
                    <div class="col-sm-8 col-lg-9">
                        @Html.TextBoxFor(model => model.Amount)
                        @Html.ValidationMessageFor(model => model.Amount)
                    </div> 
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-lg-3 nopadding">
                        @Html.LabelFor(model => model.ExpirationDate, new { @class = "required" })
                    </div>
                    <div class="col-sm-8 col-lg-9">
                        @Html.TextBoxFor(model => model.ExpirationDate, "{0:yyyy-MM-dd}", new { @class = "datepicker" })
                        @Html.ValidationMessageFor(model => model.ExpirationDate)
                    </div> 
                </div>
                <div class="form-group">
                        <input id="EnableToCustomerAccount" name="EnableToCustomerAccount" checked="@Model.EnableToCustomerAccount" type="checkbox" value="true" onchange="CommonHelper.ShowTextBox()">
                        <span class="lbl padding-8">@ZnodeResources.TextEnableCustomerAccount</span>
                        <input name="IsActive" type="hidden" value="false">
                </div>
                    <div class="form-group">
                        <div id="ShowAccountId" class="hidden">
                            <div class="col-sm-4 col-lg-3 nopadding">
                                @Html.LabelFor(model => model.AccountId)
                            </div>
                            <div class="col-sm-8 col-lg-9">
                                @Html.TextBoxFor(model => model.AccountId)
                                @Html.ValidationMessageFor(model => model.AccountId)
                            </div>
                        </div>
                    </div>
                <div class="form-group">
                    @if (actionName.ToLower() == "Edit".ToLower())
                    {
                        @Html.HiddenFor(model => model.GiftCardId)
                    }
                </div>
                    <div class="pull-right">
                        <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                        <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript: location.href = '/GiftCard/List' ;">@ZnodeResources.ButtonCancel</button>
                    </div>
               
        }
        </div>
    </div>