﻿@model Znode.Engine.MvcAdmin.ViewModels.GiftCardListViewModel
@using Resources
@{
    ViewBag.Title = "Gift Cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1 class="left">@ZnodeResources.HeaderGiftCard</h1>
    </div>
    <div class="col-sm-12 search-container">
        <p class="left">@ZnodeResources.TextGiftCards</p>
        <button type="button" class="btn-text red pull-right" title="@ZnodeResources.LabelAddGiftCard" onclick="javascript: location.href = '/GiftCard/Create' ;">@ZnodeResources.LabelAddGiftCard</button>
    </div>
    <div class="col-sm-12 product-search">
        <h3>@ZnodeResources.SubHeaderSearchGiftCards</h3>
        <div class="col-lg-4 col-md-4 col-sm-12 product-group">
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    @Html.Label(@ZnodeResources.LabelgiftGridHeaderName)
                </div>
                <div class="col-sm-8  col-lg-9">
                    @Html.TextBox("txtName")
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                   @Html.Label(@ZnodeResources.LabelgiftGridHeaderCardNumber)
                </div>
                <div class="col-sm-8 col-lg-9">
                    @Html.TextBox("txtCardNumber")
                </div>
            </div>           
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 product-group">
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    @Html.Label(@ZnodeResources.LabelAccountId)
                </div>
                <div class="col-sm-8 col-lg-9">
                    @Html.TextBox("txtAccountId")
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    @Html.Label(@ZnodeResources.LabelBalance)
                </div>
                <div class="col-sm-8 col-lg-9">
                    @Html.TextBox("txtBalance")
                </div>
            </div>
         </div>
        <div class="col-lg-4 col-md-4 col-sm-12 product-group">
            <div class="form-group">
                <input type="checkbox" id="chkExcludeExpired" name="chkExcludeExpired" value="true" />
                <span class="lbl padding-8">@ZnodeResources.TextExcludeExpiredGiftcards</span>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 product-group">
            <button type="submit" name="Search" id="btnSearch" class="btn-text red" title="@ZnodeResources.ButtonSearch">@ZnodeResources.ButtonSearch</button>
            <button type="reset" class="btn-text grey" title="@ZnodeResources.ButtonClear">@ZnodeResources.ButtonClear</button>
        </div>
  </div>
    <div class="col-sm-12 list-container">
        <h3>@ZnodeResources.SubHeaderGiftCardList</h3>
        <div id="grid">
            @Html.Partial("_List")
        </div>
   </div>
</div>   
