<%@ Control Language="C#" AutoEventWireup="true" EnableViewState="false" Inherits="Znode.Engine.Demo.Controls_Default_Common_CustomerServicePhone" Codebehind="CustomerServicePhone.ascx.cs" %>
<asp:Label ID="uxCustomerServicePhone" runat="server" EnableViewState="false" Text="Label"></asp:Label>