﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Znode.Engine.Demo.Controls_Default_Common_DefaultTab"  EnableViewState="false" Codebehind="DefaultTab.ascx.cs" %>

<img  id="TabMenu" src="" alt="Store" usemap="#MapDemoStoreTab" style="width:1280px;height:41px;" border="0" runat="server"/>
<map id="MapDSTab" name="MapDemoStoreTab">
<area shape="rect" coords="287,8,394,36" href="/" alt="" title="" />
<%--<area shape="rect" coords="404,8,511,36" href="/Speciality" alt="" title="" />
<area shape="rect" coords="528,8,637,36" href="/B2B" alt="" title="" />--%>
</map>