﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Znode.Engine.Demo.Controls_Default_Common_Localelist" Codebehind="Localelist.ascx.cs" %>

<asp:DropDownList ID="ddlLanguage" runat="server" AutoPostBack="True" />
