<%@ Control Language="C#" AutoEventWireup="true" EnableViewState="false" Inherits="Znode.Engine.Demo.Controls_Default_Common_Logo" Codebehind="Logo.ascx.cs" %>
<asp:Image ID="uxLogoImage" runat="server" ClientIDMode="Static" />