<%@ Control Language="C#" AutoEventWireup="true" EnableViewState="false" Inherits="Znode.Engine.Demo.Controls_Default_Navigation_NavigationBreadCrumbs" Codebehind="NavigationBreadCrumbs.ascx.cs" %>

<div class="BreadCrumbLabel"><asp:Label ID="lblPath" runat="server"></asp:Label><asp:PlaceHolder runat="server" ID="ControlsPlaceHolder"></asp:PlaceHolder></div>
