﻿<ul class="account-menu">
	<li><a href="/account/dashboard">@Resources.ZnodeResource.LinkTextYourAccount</a></li>
	<li><a href="/account/Wishlist">@Resources.ZnodeResource.LinkTextWishlist</a></li>
    <li><a href="/account/orderhistory">@Resources.ZnodeResource.LinkTextOrderHistory</a></li>
    <li><a href="/account/addressbook">@Resources.ZnodeResource.LinkTextAddressBook</a></li>
    <li><a href="/account/Reviews">Review history</a></li>
	<li><a href="/account/editprofile">@Resources.ZnodeResource.LinkTextEditProfile</a></li>
</ul>