﻿@*
    The PRODUCT_NAME value corresponds to the name of the most expensive
    product in the order. 

    The COUNT value corresponds to the total number of products on
    the order minus the one shown (PRODUCT_NAME)

    The number of orders looping will be variable. On the Dashboard there should only
    be 3 recent orders showing. On the Order History page it should display all orders.

*@
@using Znode.Engine.MvcDemo.ViewModels

@model IEnumerable<OrdersViewModel>

@if (Model.Any())
{
    <div class="account-recent-orders">
        <ul class="recent-order recent-order-headers">
            <li class="recent-order-title">
                <h5>@Resources.ZnodeResource.TitleSummary</h5>
            </li>
            <li class="recent-order-date notsmall">
                <h5>@Resources.ZnodeResource.TitleDate</h5>
            </li>
            <li class="recent-order-id notsmall">
                <h5>@Resources.ZnodeResource.TitleOrder</h5>
            </li>
            <li class="recent-order-total">
                <h5>@Resources.ZnodeResource.TitleTotal</h5>
            </li>
            <li class="recent-order-reorder"></li>
        </ul>
        @foreach (var items in Model)
        {
            <ul class="recent-order">
                <li class="recent-order-title">
                    <a href="/account/orderreceipt/@items.OrderId">
                        <span class="recent-order-product">@WebUtility.HtmlDecode(@items.MaxOrderLineItem.Name)</span>
                        <div class="recent-order-meta">
                            <div class="order-meta-items">
                                @if (items.HasMultipleItems)
                                {
                                    <span>Plus @items.OtherItemCount other items</span>
                                }
                            </div>
                            <div class="order-meta-id">Order #@items.OrderId</div>
                            <div class="order-meta-date">@items.OrderDate</div>
                        </div>
                    </a>
                </li>
                <li class="recent-order-date notsmall">
                    @items.OrderDate
                </li>
                <li class="recent-order-id">
                    @items.OrderId
                </li>
                <li class="recent-order-total">
                    @items.OrderTotal.ToString("C")
                </li>

                <li class="recent-order-reorder">

                    <a href="/account/ReorderProducts/@items.OrderId" style="color:blue;">@Resources.ZnodeResource.TextReoder</a>
                    @*<a href="/account/ReorderProductsList?Id=@items.OrderId&orderLineItemId=0&isOrder=true">@Resources.ZnodeResource.TextReoder</a>*@

                </li>
            </ul>
        }
    </div>
}
else
{
    <p>There is no orders.</p>
}