﻿@using Znode.Engine.MvcDemo.ViewModels
@model ChangePasswordViewModel
<dl>
    @Html.ValidationSummary(true)

    @if(!Model.IsResetPassword)
    {
        <dt><label for="reset_oldpassword">@Resources.ZnodeResource.ColumnCurrentPassword*</label></dt>
        <dd>@Html.PasswordFor(m => m.OldPassword, new {@type="password", @id="reset_oldpassword"} )</dd>
        <dd class="form-error">@Html.ValidationMessageFor(m => m.OldPassword)</dd>
    }
    
    <dt><label for="reset_password">@Resources.ZnodeResource.ColumnNewPassword*</label></dt>
    <dd class="form-helper">  @Resources.ZnodeResource.ValidPassword</dd>
    <dd>@Html.PasswordFor(m => m.NewPassword, new {@type="password", @id="reset_password"} )</dd>
    <dd class="form-error">@Html.ValidationMessageFor(m => m.NewPassword)</dd>
    
    <dt><label for="reset_verify">@Resources.ZnodeResource.ColumnReTypeNewPassword*</label></dt>
    <dd>@Html.PasswordFor(m => m.ReTypeNewPassword, new {@type="password", @id="reset_verify"} )</dd>
    <dd class="form-error">@Html.ValidationMessageFor(m => m.ReTypeNewPassword)</dd>
     @Html.HiddenFor(x => x.PasswordToken)
    @Html.HiddenFor(x => x.UserName)
</dl>
