﻿@using Znode.Engine.MvcDemo.ViewModels

@model AccountViewModel
<div id="layout-account-book">
	<div class="location"><h1 class="location-title">@Resources.ZnodeResource.TitleAddressBook</h1></div>
	<div class="container">
		<a href="./account_dashboard" class="account-gohome">@Resources.ZnodeResource.LinkTextBackToAccount</a>
		<nav class="account-container-menu">
			@Html.Partial("_AccountMenu")
		</nav>
	    <div class="account-container-content">
	        <div id="addressList">
	            <ul class="address-list address-list-primary">
	                <li>
	                    <h5 class="section-header-color">@Resources.ZnodeResource.SubTitlePrimaryShipping</h5>
	                     @if (Model.ShippingAddress != null)
                        {
                            @Html.Partial("_DisplayAddress", Model.ShippingAddress ?? new AddressViewModel())
                        }
                        else
                        {
                            <p>@Resources.ZnodeResource.ErrorNoPrimaryAddress</p>
                        }
	                </li>
	                <li>
	                    <h5 class="section-header-color">@Resources.ZnodeResource.SubTitlePrimaryBilling</h5>
	                    @if (Model.BillingAddress != null)
                        {
                            @Html.Partial("_DisplayAddress", Model.BillingAddress ?? new AddressViewModel())
                        }
                        else
                        {
                            <p>@Resources.ZnodeResource.ErrorNoPrimaryAddress</p>
                        }
	                </li>
	            </ul>
	        </div>
	        <p>
	            <a href="/account/editAddress" class="button">Add new address</a>
	        </p>
            @if (Model.Addresses.Any())
            {
                <h3 class="section-header">@Resources.ZnodeResource.TitleAllAddress</h3>
                <ul class="address-list">
                    @foreach (var address in Model.Addresses)
                    {
                        <li>
                            @Html.Partial("_DisplayAddress", address)
                            <form method="POST" class="form">
                                <button type="submit">@Resources.ZnodeResource.LinkTextPrimaryShipping</button>
                                <input type="hidden" value="@address.AddressId" name="id" />
                                <input type="hidden" value="false" name="isDefaultBillingAddress" />
                            </form>
                            <form method="POST" class="form">
                                <button type="submit">@Resources.ZnodeResource.LinkTextPrimaryBilling</button>
                                <input type="hidden" value="@address.AddressId" name="id" />
                                <input type="hidden" value="true" name="isDefaultBillingAddress" />
                            </form>
                        </li>
                    }
                </ul>
            }
	    </div>
	</div>
</div>