﻿<div id="layout-account-changepassword">
	<div class="location"><h1 class="location-title">@Resources.ZnodeResource.TitleChangePassword</h1></div>
	<div class="container">
		<a href="./account_dashboard" class="account-gohome">@Resources.ZnodeResource.LinkReturnToProfile</a>
		<nav class="account-container-menu">
			@Html.Partial("_AccountMenu")
		</nav>
		<div class="account-container-content">
			<p>
                @Resources.ZnodeResource.SubTextChangePassword
            </p>
		    <form method="POST" action="ChangePassword" class="form">
		        @Html.Partial("_ResetPassword")
		        <p>
		            <button type="submit" class="button button-primary">@Resources.ZnodeResource.ButtonResetPassword</button>
		            <a href="dashboard" class="form-cancel">@Resources.ZnodeResource.ButtonCancel</a>    
		        </p>
		    </form>
		</div>
	</div>
</div>
