﻿@using System.Web.UI.WebControls
@using Znode.Engine.MvcDemo.ViewModels

@model AccountViewModel

<div id="layout-account-dashboard">
	<div class="location"><h1 class="location-title">Your account</h1></div>
	<div class="container">
	    <nav class="account-container-menu">
	        @Html.Partial("_AccountMenu")
	    </nav>
        @if (Model != null)
        {
            <div class="account-container-content">
                <div class="dashboard-content">
                    <h3 class="section-header">@Resources.ZnodeResource.SubTextYourWishList</h3>
	                 <p>
	                   @string.Format(Resources.ZnodeResource.SubTextWishlistItems, (Model != null ? Model.WishlistCount : 0))
	                </p>
                    <a href="/Account/Wishlist" class="arrow-right-after">@Resources.ZnodeResource.LinkTextViewWishList</a>
                </div>

                <div class="dashboard-content">
                    <h3 class="section-header">@Resources.ZnodeResource.SubTitleRecentOrders</h3>
                    @Html.Partial("_OrderHistory", Model.DashboardOrders)
                    @if (Model.Orders.Any())
                    {
                        <a href="/account/orderhistory" class="arrow-right-after">@Resources.ZnodeResource.LinkTextCompleteOrderHistory</a>
                    }

                </div>

                <div class="dashboard-content">
                    <h3 class="section-header">@Resources.ZnodeResource.TitleAddressBook</h3>
                    <ul class="dashboard-addresses">
                        <li>
                            <h5>@Resources.ZnodeResource.SubTitlePrimaryShipping</h5>
                            @if (Model.ShippingAddress != null)
                            {
                                @Html.Partial("_DisplayAddress", Model.ShippingAddress ?? new AddressViewModel())
                            }
                            else
                            {
                                <p>@Resources.ZnodeResource.ErrorNoPrimaryAddress</p>
                            }
                        </li>
                        <li>
                            <h5>@Resources.ZnodeResource.SubTitlePrimaryBilling</h5>
                            @if (Model.BillingAddress != null)
                            {
                                @Html.Partial("_DisplayAddress", Model.BillingAddress ?? new AddressViewModel())
                            }
                            else
                            {
                                <p>@Resources.ZnodeResource.ErrorNoPrimaryAddress</p>
                            }
                        </li>
                    </ul>
                    <p><a href="/account/addressbook" class="arrow-right-after">@Resources.ZnodeResource.LinkTextViewAddressBook</a></p>
                    <p><a href="/account/editaddress" class="arrow-right-after">Add new address</a></p>
                </div>

            
                <div class="dashboard-content">
                    <h3 class="section-header">@Resources.ZnodeResource.SubTextYourReviews</h3>
                    <p>@string.Format(Resources.ZnodeResource.SubTextReviewItems, Model.ReviewCount)</p>
                    <a href="/Account/Reviews" class="arrow-right-after">@Resources.ZnodeResource.LinkTextViewReviews</a>
                </div>


                <div class="dashboard-content">
                    <h3 class="section-header">@Resources.ZnodeResource.TitleAccountProfile</h3>
                    <a href="/account/editprofile" class="dashboard-profile">
                        @Model.UserName<br />
                        @Model.EmailAddress
                    </a>
                    <p><a href="/account/editprofile" class="arrow-right-after">@Resources.ZnodeResource.LinkTextEditYourProfile</a></p>
                    <p><a href="/account/changepassword" class="arrow-right-after">@Resources.ZnodeResource.LinkTextChangePassword</a></p>

                </div>


            </div>
        }
	</div>
</div>