﻿@using Znode.Engine.MvcDemo.ViewModels
@{
    ViewBag.HideEmail = true;
    ViewBag.IsAddAddress = true;
}
@model AddressViewModel

<div id="layout-account-editaddress">
	<div class="location"><h1 class="location-title">@Resources.ZnodeResource.TitleEditAddress</h1></div>
	<div class="container">
		<a href="./addressbook" class="account-gohome">@Resources.ZnodeResource.TitleAddressBook</a>
		<nav class="account-container-menu">
			@Html.Partial("_AccountMenu")
		</nav>
	    <div class="account-container-content">
	        <form class="form" method="POST" action="">
	            @Html.Partial("_EditAddress", Model)
	            <p class="styled-input">
	                <input type="checkbox" id="asdefault_shipping" name="IsDefaultShipping" value="true" @(Model.IsDefaultShipping ? "checked='checked'" : "") /><label for="asdefault_shipping">@Resources.ZnodeResource.CheckBoxTextShippingAddress</label>    
	            </p>
	            <p class="styled-input">
	                <input type="checkbox" id="asdefault_billing" name="IsDefaultBilling" value="true" @(Model.IsDefaultBilling ? "checked='checked'" : "")/><label for="asdefault_billing">@Resources.ZnodeResource.CheckBoxTextBillingAddress</label>    
	            </p>
	            <p>
	                <button type="submit" class="button button-action">@Resources.ZnodeResource.ButtonSaveChanges</button>
	                <a href="/account/addressbook/" class="form-cancel">@Resources.ZnodeResource.ButtonCancel</a>
	            </p>
	        </form>
            @if (Model != null && Model.AddressId > 0)
            {
                <form class="form" method="POST" action="/account/DeleteAddress">
                    <p>
                        @*<a href="#" id="delete-address" class="fade">@Resources.ZnodeResource.LinkTextDeleteAddress</a>    *@
                        <button type="submit" id="delete-address" class="button">@Resources.ZnodeResource.LinkTextDeleteAddress</button>

                        <input type="hidden" name="id" value="@Model.AddressId"/>
                    </p>
                </form>
            }
	    </div>
	</div>
</div>
        
