﻿@model Znode.Engine.MvcDemo.ViewModels.AccountViewModel
<div id="layout-account-editprofile">
	<div class="location"><h1 class="location-title">@Resources.ZnodeResource.LinkTextEditProfile</h1></div>
	<div class="container">
		<a href="/account/dashboard" class="account-gohome">@Resources.ZnodeResource.LinkTextBackToAccount</a>
		<nav class="account-container-menu">
			@Html.Partial("_AccountMenu")
		</nav>
	    <div class="account-container-content">
	        <p>
	            @Resources.ZnodeResource.SubTextEditProfile
	        </p>
	        <form method="POST" action="/account/EditProfile" class="form">
	            @Html.ValidationSummary(true)
	            <dl>
	                <dt>Username</dt>
	                <dd>@Model.UserName</dd>
                    @Html.HiddenFor(m => m.UserName)
	                <dt><label for="profile_email">@Resources.ZnodeResource.ColumnEmailAddress*</label></dt>
	                <dd>@Html.TextBoxFor(model => model.EmailAddress, new { @id = "profile_email" })</dd>
	                <dd class="form-error">@Html.ValidationMessageFor(m => m.EmailAddress)</dd>
	            </dl>
	            <p>
	                <a href="/account/changepassword" class="arrow-right-after">@Resources.ZnodeResource.TitleChangePassword</a>    
	            </p>
	            <p class="styled-input">
	                <input type="checkbox" id="signup_optin" name="EmailOptIn" value="true" @(Model.EmailOptIn ? "checked='checked'" : "")/><label for="signup_optin">@Resources.ZnodeResource.CheckBoxTextNewsLetter</label>    
	            </p>
	            <p>
	                <button type="submit" class="button button-primary">Update profile</button>
	                <a href="dashboard" class="form-cancel">@Resources.ZnodeResource.ButtonCancel</a>    
	            </p>
	        </form>
	    </div>
	</div>
</div>