﻿@using Znode.Engine.MvcDemo.ViewModels

@model AccountViewModel

<div id="layout-forgotpassword">
    <div class="location">
        <h1 class="location-title">@Resources.ZnodeResource.TextResetPassword</h1>
    </div>
    <div class="container">
        <p>
            @Resources.ZnodeResource.SubTextResetPassword
        </p>
        <form method="POST" action="/account/ForgotPassword" class="form">
            @Html.ValidationSummary(true)
            <dl>
                <dt>
                    <label for="forgot_username">@Resources.ZnodeResource.ColumnUsername*</label></dt>
                <dd>@Html.TextBoxFor(m => m.UserName, new { @type = "text", @id = "forgot_username", @class = "form-input" })</dd>
                <dd class="form-error">@Html.ValidationMessageFor(m => m.UserName)</dd>
                <dt>
                    <label for="forgot_email">@Resources.ZnodeResource.ColumnEmailAddress*</label></dt>
                <dd>@Html.TextBoxFor(m => m.EmailAddress, new { @type = "email", @id = "forgot_email", @class = "form-input-long" })</dd>
                <dd class="form-error">@Html.ValidationMessageFor(m => m.EmailAddress)</dd>
            </dl>
            <p>
                <input type="hidden" id="dynamic-userid" name="userid" value="" />
                <button type="submit" class="button button-primary">@Resources.ZnodeResource.ButtonSubmitRequest</button>
                <a href="Login" class="form-cancel">@Resources.ZnodeResource.ButtonCancel</a>
            </p>

           
        </form>
    </div>
</div>
