﻿@using Znode.Engine.MvcDemo.ViewModels

@model AccountViewModel

<div id="layout-account-orderhistory">
	<div class="location"><h1 class="location-title">@Resources.ZnodeResource.LinkTextOrderHistory</h1></div>
	<div class="container">
		<a href="./account_dashboard" class="account-gohome">@Resources.ZnodeResource.LinkTextBackToAccount</a>
		<nav class="account-container-menu">
			@Html.Partial("_AccountMenu")
		</nav>
	    <div class="account-container-content">
	        <h3 class="section-header">@string.Format(Resources.ZnodeResource.TextOrderHistory, Model.Orders.Count)</h3>
	        <p>
	            @Resources.ZnodeResource.SubTextOrderHistory
	        </p>
	        @Html.Partial("_OrderHistory", Model.Orders)
	    </div>
	</div>
</div>