﻿@using System.Globalization
@using Znode.Engine.MvcDemo.ViewModels

@{
    if (!String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = ViewBag.Title;
    }
    else
    {
        ViewBag.Title = Resources.ZnodeResource.TextStoreName;
    }
}


@model OrdersViewModel

<div id="layout-account-receipt">
    <div class="location">
        <h1 class="location-title">@Html.Raw(string.Format(Resources.ZnodeResource.TitleOrderReceipt.ToString(), Model.OrderId.ToString())) <small>on @Model.OrderDate</small></h1>
        <h2 class="receipt-print-store">@ViewBag.Title</h2>
    </div>
	<div class="container-narrow">
	    <a href="/account/orderhistory" class="account-gohome">@Resources.ZnodeResource.LinkTextReturnOrderHistory</a>
		<nav class="account-container-menu">
			@Html.Partial("_AccountMenu")
		</nav>
	    <div class="account-container-content">
	        <a class="receipt-print" href="#" onclick="window.print();return false;"><span>@Resources.ZnodeResource.TextPrint</span></a>
	        <div class="grid-row">
	            <div class="receipt-info grid-m-4">
	                <h3 class="section-header-color">@Resources.ZnodeResource.TextDetails:</h3>
	                <div><strong>@Resources.ZnodeResource.TitleDate:</strong> @Model.OrderDate</div>
	                <div><strong>@Resources.ZnodeResource.TitleOrder:</strong> @Model.OrderId</div>
	                <div><strong>@Resources.ZnodeResource.TitleAccount:</strong> @Model.AccountId</div>
	                <div><strong>@Resources.ZnodeResource.TitlePayment:</strong> @Model.PaymentMethod</div>
	            </div>
	            <div class="receipt-info grid-m-4">
	                <h3 class="section-header-color">@Resources.ZnodeResource.TitleShippingTo</h3>
	                @Html.Partial("_DisplayAddress", Model.ShippingAddress)
	            </div>
	            <div class="receipt-info grid-m-4">
	                <h3 class="section-header-color">@Resources.ZnodeResource.TitleBillingTo</h3>
	                @Html.Partial("_DisplayAddress", Model.BillingAddress)
	            </div>
	        </div>
            
	        <div class="receipt-item-list table">
	            <ul class="table-tr">
	                <li class="table-td receipt-column-item header">@Resources.ZnodeResource.ColumnTitleItem</li>
	                <li class="table-td receipt-column-quantity header">@Resources.ZnodeResource.ColumnTitleQty</li>
	                <li class="table-td receipt-column-price header">@Resources.ZnodeResource.ColumnTitlePrice</li>
	                <li class="table-td receipt-column-total header">@Resources.ZnodeResource.ColumnTitleTotal</li>
                    <li class="table-td receipt-column-total header"></li>
	            </ul>
	            @foreach (var items in Model.OrderLineItems)
                {
                    <ul class="receipt-item table-tr">
                        <li class="table-td receipt-column-item">@WebUtility.HtmlDecode(@items.Name)
                            <div>@Html.Raw(@items.Description)</div>
                        </li>
                        <li class="table-td receipt-column-quantity">@items.Quantity<div>&nbsp;</div>
                        </li>
                        <li class="table-td receipt-column-price">@items.Price.ToString("C")
                            <div>&nbsp;</div>
                        </li>
                        <li class="table-td receipt-column-total">@items.Total.ToString("C")
                            <div>&nbsp;</div>
                        </li>
                        <li class="table-td receipt-column-total">

                            <a href="/account/ReorderSingleProduct/@items.OrderLineItemId">@Resources.ZnodeResource.TextReoder</a>
                            @*<a href="/account/ReorderProductsList?Id=0&orderLineItemId=@items.OrderLineItemId&isOrder=false">@Resources.ZnodeResource.TextReoder</a>*@

                        </li>
                    </ul>
                }
            </div>
            <div class="receipt-totals table" style="margin-right: 50px;">
                <ul class="table-tr">
                    <li class="table-td totals-column-label">@Resources.ZnodeResource.ColumnSubTotal</li>
                    <li class="table-td totals-column-total">@Model.SubTotal.ToString("C")</li>
                    <li class="table-td totals-column-total">&nbsp;</li>
                </ul>
                @if (Model.Discount != 0)
                {
                    <ul class="table-tr">
                        <li class="table-td totals-column-label">@Resources.ZnodeResource.ColumnDiscounts</li>
                        <li class="table-td totals-column-total">@Model.Discount.ToString("C")</li>
                        <li class="table-td totals-column-total">&nbsp;</li>
                    </ul>
                }
                @if (Model.Tax > 0)
                {
                    <ul class="table-tr">
                        <li class="table-td totals-column-label">@Resources.ZnodeResource.ColumnTax</li>
                        <li class="table-td totals-column-total">@Model.Tax.ToString("C")</li>
                        <li class="table-td totals-column-total">&nbsp;</li>
                    </ul>
                }
                @if (Model.Shipping > 0)
                {
                    <ul class="table-tr">
                        <li class="table-td totals-column-label">@Resources.ZnodeResource.ColumnShipping</li>
                        <li class="table-td totals-column-total">@Model.Shipping.ToString("C")</li>
                        <li class="table-td totals-column-total">&nbsp;</li>
                    </ul>
                }
                @if (Model.GiftCardAmount != 0)
                {
                    <ul class="table-tr">
                        <li class="table-td totals-column-label">@Resources.ZnodeResource.LinkTextGiftcards</li>
                        <li class="table-td totals-column-total">@Model.GiftCardAmount.ToString("C")</li>
                        <li class="table-td totals-column-total">&nbsp;</li>
                    </ul>
                }
                <ul class="table-tr receipt-total">
                    <li class="table-td totals-column-label">@Resources.ZnodeResource.ColumnTitleTotal</li>
                    <li class="table-td totals-column-total">@Model.OrderTotal.ToString("C")</li>
                    <li class="table-td totals-column-total">&nbsp;</li>
                </ul>
	        </div>
	    </div>
    </div>
</div>