﻿@using Znode.Engine.MvcDemo.Maps
@using Znode.Engine.MvcDemo.ViewModels
@model RegisterViewModel

<div id="layout-register">
	<div class="location"><h1 class="location-title">@Resources.ZnodeResource.TitleRegisterAccount</h1></div>
    <div class="container">
        <form method="POST" class="form">
            <dl>
                @Html.ValidationSummary(true)
                <dt><label for="signup_email">@Resources.ZnodeResource.ColumnEmailAddress*</label></dt>
                <dd>@Html.TextBoxFor(m => m.EmailAddress, new {@id = "signup_email", @class = "form-input-long"})</dd>
                <dd class="form-error">@Html.ValidationMessageFor(m => m.EmailAddress)</dd>
                
                <dt><label for="signup_username">@Resources.ZnodeResource.ColumnUsername*</label></dt>
                <dd>@Html.TextBoxFor(m => m.UserName, new {@id = "signup_username" })</dd>
                <dd class="form-error">@Html.ValidationMessageFor(m => m.UserName)</dd>

                <dt><label for="signup_password">@Resources.ZnodeResource.ColumnCreatePassword</label></dt>
                <dd class="form-helper">Password must be at least 8 alphanumeric characters and contain at least one number</dd>
                <dd>@Html.PasswordFor(m => m.Password, new {@type="password", @id="signup_password"} )</dd>
                <dd class="form-error">@Html.ValidationMessageFor(m => m.Password)</dd>
                
                <dt><label for="signup_verify">@Resources.ZnodeResource.ColumnReTypePassword</label></dt>
                <dd>@Html.PasswordFor(m => m.ReTypePassword, new {@type="password", @id="signup_verify"} ) </dd>
                <dd class="form-error">@Html.ValidationMessageFor(m => m.ReTypePassword)</dd>
                
                <dt><label for="signup_security_question">@Resources.ZnodeResource.ColumnSecurityQuestion*</label></dt>
                <dd>@Html.DropDownListFor(x => x.SelectedSecurityQuestion,RegisterViewModel.GetSecurityQuestionlist(),new { @id="signup_security_question"})</dd>
                                
                <dt><label for="signup_security_answer">@Resources.ZnodeResource.ColumnSecurityAnswer*</label></dt>
                <dd>   @Html.TextBoxFor(x => x.SecurityAnswer,new { @id="signup_security_answer"})</dd>
                <dd class="form-error">@Html.ValidationMessageFor(m => m.SecurityAnswer)</dd>
            </dl>
            <p class="styled-input">
                <input type="checkbox" id="signup_optin" name="EmailOptIn" value="true" /><label for="signup_optin">@Resources.ZnodeResource.CheckBoxTextNewsLetter</label>    
            <p>
                <button type="submit" class="button button-primary">@Resources.ZnodeResource.ButtonCreateAccount</button>
                @Html.ActionLink(@Resources.ZnodeResource.ButtonCancel, "Login", "Account",new { @class="form-cancel" })
                 
            </p>
        </form>
    </div>
</div>