﻿<div id="layout-forgotpassword">
	<div class="location"><h1 class="location-title">@Resources.ZnodeResource.TextResetPassword</h1></div>
    <div class="container">
        <p>
            @Resources.ZnodeResource.TextResetChangePassword
        </p>
        <form method="POST" action="ResetPassword" class="form">
            @Html.Partial("_ResetPassword")
            <p>
                <button type="submit" class="button button-primary">@Resources.ZnodeResource.ButtonResetPassword</button>
                <a href="Login" class="form-cancel">@Resources.ZnodeResource.ButtonCancel</a>    
            </p>
        </form>
    </div>
</div>