﻿@using Znode.Engine.MvcDemo.Helpers
@model Znode.Engine.MvcDemo.ViewModels.ReviewViewModel
<div id="layout-account-reviewhistory">
	<div class="location"><h1 class="location-title">Review history</h1></div>
	<div class="container-narrow">
		<a href="./account_dashboard" class="account-gohome">@Resources.ZnodeResource.LinkTextBackToAccount</a>
		<nav class="account-container-menu">
			@Html.Partial("_AccountMenu")
		</nav>
	    <div class="account-container-content">
	        <h3 class="section-header">@string.Format(Resources.ZnodeResource.SubTextReviewProducts, (Model.Items != null ? Model.Items.Count() : 0))</h3>

	        @if (Model.Items != null && Model.Items.Any())
	        {
	            <p>
	                @Resources.ZnodeResource.SubTextReviewHistory    
	            </p>
                <ul class="review-item">
	            @foreach (var item in Model.Items)
	            {
	                
	                    <li class="review-item-detail">
	                        <a href="@Url.GetProductUrl(item.Product.SeoPageName, item.Product.ProductId.ToString())" class="review-item-title underline">
	                            @WebUtility.HtmlDecode(item.Product.Name)
	                        </a>
	                        @Html.Partial("../Product/_ReviewRow",item)
	                    </li>
	            }
                </ul>                
	        }
	        else
	        {
	            <p>
	                <em>@Resources.ZnodeResource.ErrorNoReviewsFound</em>
	            </p>
	        }
	        
	    </div>
	</div>
</div>