﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels

@model WishListViewModel
<div id="layout-account-wishlist">
	<div class="location"><h1 class="location-title">@Resources.ZnodeResource.TitleWishlist</h1></div>
	<div class="container-narrow">
		<a href="./account_dashboard" class="account-gohome">@Resources.ZnodeResource.LinkTextBackToAccount</a>
	    <nav class="account-container-menu">
	        @Html.Partial("_AccountMenu")
	    </nav>
	    <div class="account-container-content">
	        <h3 class="section-header">
	            @Html.Raw(string.Format(@Resources.ZnodeResource.SubTextWishlistCount, (Model.Items != null ? Model.Items.Count(x => x.Product!=null && x.Product.IsActive) : 0)))
	        </h3>
	        @if (Model.Items != null && Model.Items.Any(x => x.Product!=null))
	        {
	            <p id="subTextWishList">
	                @Resources.ZnodeResource.SubTextWishList
	            </p>

	            foreach (var item in Model.Items)
	            {
	                if (item.Product != null && item.Product.IsActive)
	                {
	                    <ul class="wishlist-item">
	                        <li class="wishlist-item-detail">
	                            <a href="@Url.GetProductUrl(item.Product.SeoPageName, item.Product.ProductId.ToString())">
	                                <span class="wishlist-item-image">
	                                    <img id="product-image" src="@item.Product.ImageMediumPath" alt="@item.Product.ImageAltTag" />
	                                </span>
	                                <div class="wishlist-item-title">@WebUtility.HtmlDecode(@item.Product.Name)</div>
	                                <div class="wishlist-item-date">@Resources.ZnodeResource.ColumnTextAdded @item.CreateDate.ToShortDateString()</div>
	                            </a>
	                        </li>
	                        <li class="wishlist-item-price">
	                            @if (item.Product.IsCallForPricing)
	                            {
	                                <div class="price" > @Resources.ZnodeResource.TextCallForPricing </div>
	                            }
	                            else
	                            {
                                    if (item.Product.Price != item.Product.ProductPrice)
	                                {
	                                    <span class="cut-price">@item.Product.Price.ToString("C")</span>
	                                }
	                                @item.Product.ProductPrice.ToString("c")
	                            }
	                        </li>
	                        <li class="wishlist-item-tocart">
	                            @if ((item.Product.AddOns != null && item.Product.AddOns.Any()) || (!string.IsNullOrEmpty(item.Product.BundleItemsIds)))
	                            {
	                                <form action="/product/@item.Product.SeoPageName/@item.ProductId">
	                                    <button type="submit" class="button button-small" id="button-addtocart" @(item.Product.IsCallForPricing ? "disabled=disabled" : "")>@Resources.ZnodeResource.ButtonAddToCart</button>
	                                </form>
	                            }
	                            else
	                            {
	                                <form method="post" action="/Product/AddToCart">
	                                    <button type="submit" class="button button-small" id="button-addtocart" @(item.Product.IsCallForPricing ? "disabled=disabled" : "")>@Resources.ZnodeResource.ButtonAddToCart</button>
	                                    <input type="hidden" name="productId" value="@item.ProductId" />
	                                    <input type="hidden" name="sku" value="@item.Product.Sku" />
	                                    <input type="hidden" name="price" value="@item.Product.Price"/>
	                                    <input type="hidden" name="Quantity" value="1" />
	                                    <input type="hidden" name="wishid" value="@item.WishListId"/>
	                                </form>    
	                            }
	                        </li>
	                        <li class="wishlist-item-remove">
								<a href="#" data-id="@item.WishListId">@Resources.ZnodeResource.LinkTextRemove</a>
	                        </li>
	                    </ul>
	                }
	            }
	        }
            <p id="noWishList" @(Model.Items != null && Model.Items.Any(x => x.Product != null) ? "style=display:none" : "")>
                <em>@Resources.ZnodeResource.ErrorNoWishlist</em>
            </p>
            
	    </div>
	</div>
</div>