<%@ Control Language="C#" AutoEventWireup="True" Inherits="Znode.Engine.FranchiseAdmin.Controls.Default.CustomMessage" Codebehind="CustomMessage.ascx.cs" %>
<asp:Label id="lblMsg" runat="server"></asp:Label> 