<%@ Control Language="C#" AutoEventWireup="True" Inherits="Znode.Engine.FranchiseAdmin.Controls.Default.Profilelist" Codebehind="Profilelist.ascx.cs" %>
<asp:DropDownList ID="ddlprofilleList" runat="server"></asp:DropDownList>