<%@ Control Language="C#" AutoEventWireup="True" Inherits="Znode.Engine.FranchiseAdmin.Controls.Default.SalesDepartmentPhone" Codebehind="SalesDepartmentPhone.ascx.cs" %>
<asp:Label ID="uxSalesDepartmentPhone" runat="server" Text="Label"></asp:Label>