<%@ Control Language="c#" Inherits="Znode.Engine.FranchiseAdmin.Controls.Default.Spacer" Codebehind="Spacer.ascx.cs" AutoEventWireup="True" %>
<asp:Image id="imgClear" runat="server" ImageUrl="~/FranchiseAdmin/Themes/images/clear.gif"></asp:Image><br/>
