﻿@using Znode.Engine.MvcDemo.ViewModels
@model AddressViewModel

<dl class="edit-address-form">
    @Html.ValidationSummary(true)

    @if(Model.AccountId > 0) {
    <dt>
        <label for="address_name">@Resources.ZnodeResource.ColumnDisplayName</label></dt>
    <dd class="form-helper">@Resources.ZnodeResource.HintTextDisplayName</dd>
    <dd>@Html.TextBoxFor(m => m.Name, new { @id = "address_name" })</dd>
    <dd class="form-error">@Html.ValidationMessageFor(m => m.Name)</dd>
    }

    <dt>
        <label for="address_firstname">@Resources.ZnodeResource.ColumnFirstName</label></dt>
    <dd>@Html.TextBoxFor(m => m.FirstName, new { @id = "address_firstname" })</dd>
    <dd class="form-error">@Html.ValidationMessageFor(m => m.FirstName)</dd>

    <dt>
        <label for="address_lastname">@Resources.ZnodeResource.ColumnLastName</label></dt>
    <dd>@Html.TextBoxFor(m => m.LastName, new { @id = "address_lastname" })</dd>
    <dd class="form-error">@Html.ValidationMessageFor(m => m.LastName)</dd>

    <dt>
        <label for="address_company">@Resources.ZnodeResource.ColumnCompanyName</label></dt>
    <dd>@Html.TextBoxFor(m => m.CompanyName, new { @id = "address_company" })</dd>

    <dt>
        <label for="address_street1">@Resources.ZnodeResource.ColumnStreetAddress</label></dt>
    <dd>@Html.TextBoxFor(m => m.StreetAddress1, new { @id = "address_street1", @class = "form-input-long" })</dd>
    <dd>@Html.TextBoxFor(m => m.StreetAddress2, new { @id = "address_street2", @class = "form-input-long" })</dd>
    <dd class="form-error">@Html.ValidationMessageFor(m => m.StreetAddress1)</dd>
    @*country dropdown list*@
    <dt>
        <label for="address_country">@Resources.ZnodeResource.ColumnCountry</label></dt>
    <dd>
        @Html.DropDownListFor(ob => ob.CountryCode, new SelectList(Model.Countries, "Code", "Name"), new { @class = "address_country" })
    </dd>
    <dd class="form-error">@Html.ValidationMessageFor(m => m.CountryCode)</dd>

    <dt>
        <label for="address_state">@Resources.ZnodeResource.ColumnState</label></dt>
    <dd>

        @Html.DropDownListFor(ob => ob.StateCode, new SelectList(Model.States, "Code", "Name"), new { @class = "address_state" })

    </dd>
    <dd class="form-error">@Html.ValidationMessageFor(m => m.StateCode)</dd>
     <dt>
        <label for="address_city">@Resources.ZnodeResource.ColumnCity</label></dt>
    <dd>@Html.TextBoxFor(m => m.City, new { @id = "address_city" })</dd>
    <dd class="form-error">@Html.ValidationMessageFor(m => m.City)</dd>

    <dt>
        <label for="address_zipcode">@Resources.ZnodeResource.ColumnZipCode
        </label>
    </dt>
    <dd>@Html.TextBoxFor(m => m.PostalCode, new { @id = "address_zipcode", @class = "form-input-short" })</dd>
    <dd class="form-error">@Html.ValidationMessageFor(m => m.PostalCode)</dd>
</dl>

@Html.HiddenFor(ob => ob.CountryCode, new { @id = "hdn_CountryCode" })
@Html.HiddenFor(ob => ob.StateCode, new { @class = "hdn_StateCode" })


@if (Model.AddressId > 0)
{
    @Html.HiddenFor(m => m.AddressId)
}
@if (Model.AccountId > 0)
{
    @Html.HiddenFor(m => m.AccountId)
}



@if (Model.IsDefaultShipping)
{
    @Html.HiddenFor(m => m.IsDefaultShipping)
}
@if (Model.IsDefaultBilling)
{
    @Html.HiddenFor(m => m.IsDefaultBilling)
}

