﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels

@model AddOnViewModel 

@if (Model.DisplayType == MvcDemoConstants.AddonDisplayTypeDropDown)
{
	<dt><label for="AddOn-@Model.AddOnId">@Model.Title</label></dt>
    <dd>
       @Html.AddOnDropDownListFor(x => x.SelectedAddOnValue, Model.AddOnValues, (Model.SelectedAddOnValue != null ? Model.SelectedAddOnValue[0] : 0), (Model.OptionalIndicator ? Model.Title : ""), new { @class = "AddOn" }) 
       @Html.HiddenFor(x => x.AddOnId)
    </dd>
}
@if (Model.DisplayType == MvcDemoConstants.AddonDisplayTypeRadioButton)
{
    <dt><label for="AddOn-@Model.AddOnId">@Model.Title</label></dt>
    <dd class="styled-input">
        @foreach (var addonValues in Model.AddOnValues)
        {
            <input type="radio" id="AddOnValue-@addonValues.AddOnValueId" name="@Html.ViewData.TemplateInfo.GetFullHtmlFieldName("SelectedAddOnValue")" value="@addonValues.AddOnValueId" class="AddOn" @(Model.SelectedAddOnValue != null ? (Model.SelectedAddOnValue.Contains(addonValues.AddOnValueId) ? "checked=checked" : "") : "") />
            <label for="AddOnValue-@addonValues.AddOnValueId">@addonValues.Name</label>
        }
        @Html.HiddenFor(x => x.AddOnId)
    </dd>
}

@if (Model.DisplayType == MvcDemoConstants.AddonDisplayTypeCheckBox)
{
    <dt><label for="AddOn-@Model.AddOnId">@Model.Title</label></dt>
    <dd class="styled-input">
        @foreach (var addonValues in Model.AddOnValues)
        {
            <input type="checkbox" id="AddOnValue-@addonValues.AddOnValueId" name="@(Html.ViewData.TemplateInfo.GetFullHtmlFieldName("SelectedAddOnValue"))" value="@addonValues.AddOnValueId" class="AddOn" @(Model.SelectedAddOnValue != null ? (Model.SelectedAddOnValue.Contains(addonValues.AddOnValueId) ? "checked=checked" : "") : "") />
            <label for="AddOnValue-@addonValues.AddOnValueId">@addonValues.Name</label>   
        }
        @Html.HiddenFor(x => x.AddOnId)
        
    </dd>
}