﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels

@model AttributeTypeViewModel



<dt>
    <label>@Model.Name</label></dt>
<dd>
    @Html.AttributeDropDownListFor(model => model.SelectedAttributeId, Model.DropdownAttributes, Model.ToBeFiltered, new { @class = "attribute", rel = Model.AttributeTypeId })
</dd>

