﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@model ProductViewModel


   <div id="bundle-item-@Model.ProductId" class="bundle-item" data-id="@Model.ProductId" >
		<div class="bundle-item-image">
			<img src="@Model.ImageMediumPath" alt="@Model.Name"/>
		</div>
		<div class="bundle-item-details">
			<h3 class="bundle-item-title">@Model.Name</h3>
			<div class="bundle-item-description">@Model.ShortDescription</div>
			<div>

				<span id="dynamic-product-variations-@Model.ProductId">
					<dl>
						@Html.EditorFor(item => Model.ProductAttributes.Attributes)
					</dl>
				</span>
				<span id="dynamic-product-addons-@Model.ProductId">
					<dl>
						@Html.EditorFor(item => Model.AddOns)
					</dl>
				</span>   
			</div>
			@Html.HiddenFor(x => x.Sku)
			@Html.HiddenFor(x => x.ProductId)

		    @if (!Model.ShowAddToCart)
            {
                <div id="dynamic-inventory" class="status-outofstock">@Model.InventoryMessage</div>
            }
		</div>
	</div>