﻿@model Znode.Engine.Payment.Api.Models.PaymentModel

@{
    ViewBag.Title = "Card Information";
}
<div style="width:750px; margin:0 auto;">
    <div style="border: black solid 1px; padding: 5px; width: 500px;">
        <h2>Card Information</h2>
        
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ccform" }))
    {
  
        <label>Name on credit card*</label>
       
   <input type="text" data-item="CardHolderName"/>
        
        <label>Credit card number*</label>
        <input type="text" data-item="CardNumber"/>
   <div id="errornumber" class="field-validation-error" style="display: none">Enter valid Credit Card Number</div>

        <label>Credit card expiration date*</label>
        
        @Html.DropDownList("CardExpirationMonth",Model.Month)
        @Html.DropDownList("CardExpirationYear", Model.Year)
        <label>Card security number*</label>
        <input type="text" data-item="CardSecurityCode"/>
       
        <label class="form-helper">A 3-digit number usually found on the back of your card</label>
        <p>
            <input type="button" id="SendApi" value="Submit" />
        </p>
    
       @* Order Details *@
        @Html.Hidden("OrderId", Model.OrderId)
        @Html.Hidden("Discount", Model.Discount)
        @Html.Hidden("ShippingCost", Model.ShippingCost)
        @Html.Hidden("SubTotal", Model.SubTotal)
        @Html.Hidden("Total", Model.Total)
        @Html.Hidden("TaxCost", Model.TaxCost)

@* Billing Address *@
        @Html.HiddenFor(model => model.BillingCity)
        @Html.HiddenFor(model => model.BillingCountryCode)
        @Html.HiddenFor(model => model.BillingFirstName)
        @Html.HiddenFor(model => model.BillingLastName)
        @Html.HiddenFor(model => model.BillingName)
        @Html.HiddenFor(model => model.BillingPhoneNumber)
        @Html.HiddenFor(model => model.BillingPostalCode)
        @Html.HiddenFor(model => model.BillingStateCode)
        @Html.HiddenFor(model => model.BillingStreetAddress1)
        @Html.HiddenFor(model => model.BillingStreetAddress2)
        @Html.HiddenFor(model => model.BillingEmailId)

@* Shipping Address *@
        @Html.HiddenFor(model => model.ShippingCity)
        @Html.HiddenFor(model => model.ShippingCountryCode)
        @Html.HiddenFor(model => model.ShippingFirstName)
        @Html.HiddenFor(model => model.ShippingLastName)
        @Html.HiddenFor(model => model.ShippingName)
        @Html.HiddenFor(model => model.ShippingPhoneNumber)
        @Html.HiddenFor(model => model.ShippingPostalCode)
        @Html.HiddenFor(model => model.ShippingStateCode)
        @Html.HiddenFor(model => model.ShippingStreetAddress1)
        @Html.HiddenFor(model => model.ShippingStreetAddress2)
        @Html.HiddenFor(model => model.ShippingEmailId)

@* Gateway Info  *@
        @Html.HiddenFor(model => model.GatewayLoginName)
        @Html.HiddenFor(model => model.GatewayLoginPassword)
        @Html.HiddenFor(model => model.GatewayTestMode)
        @Html.HiddenFor(model => model.GatewayCustom1)
        @Html.HiddenFor(model => model.GatewayPreAuthorize)
        @Html.HiddenFor(model => model.GatewayTransactionKey)
        @Html.HiddenFor(model => model.GatewayCurrencyCode)
        @Html.HiddenFor(model => model.GatewayType)
        @Html.HiddenFor(model => model.ReturnUrl)
        @Html.HiddenFor(model => model.CancelUrl)

    }
</div>
  </div>
<script>
   
    $(document).ready(function () {
        function Mod10(ccNumb) {  // v2.0
            var valid = "0123456789"  // Valid digits in a credit card number
            var len = ccNumb.length;  // The length of the submitted cc number
            var iCCN = parseInt(ccNumb);  // integer of ccNumb
            var sCCN = ccNumb.toString();  // string of ccNumb
            sCCN = sCCN.replace(/^\s+|\s+$/g, '');  // strip spaces
            var iTotal = 0;  // integer total set at zero
            var bNum = true;  // by default assume it is a number
            var bResult = false;  // by default assume it is NOT a valid cc
            var temp;  // temp variable for parsing string
            var calc;  // used for calculation of each digit

            // Determine if the ccNumb is in fact all numbers
            for (var j = 0; j < len; j++) {
                temp = "" + sCCN.substring(j, j + 1);
                if (valid.indexOf(temp) == "-1") { bNum = false; }
            }

            // if it is NOT a number, you can either alert to the fact, or just pass a failure
            if (!bNum) {
                /*alert("Not a Number");*/bResult = false;
            }

            // Determine if it is the proper length 
            if ((len == 0) && (bResult)) {  // nothing, field is blank AND passed above # check
                bResult = false;
            } else {  // ccNumb is a number and the proper length - let's see if it is a valid card number
                if (len >= 15) {  // 15 or 16 for Amex or V/MC
                    for (var i = len; i > 0; i--) {  // LOOP throught the digits of the card
                        calc = parseInt(iCCN) % 10;  // right most digit
                        calc = parseInt(calc);  // assure it is an integer
                        iTotal += calc;  // running total of the card number as we loop - Do Nothing to first digit
                        i--;  // decrement the count - move to the next digit in the card
                        iCCN = iCCN / 10;                               // subtracts right most digit from ccNumb
                        calc = parseInt(iCCN) % 10;    // NEXT right most digit
                        calc = calc * 2;                                 // multiply the digit by two
                        // Instead of some screwy method of converting 16 to a string and then parsing 1 and 6 and then adding them to make 7,
                        // I use a simple switch statement to change the value of calc2 to 7 if 16 is the multiple.
                        switch (calc) {
                            case 10: calc = 1; break;       //5*2=10 & 1+0 = 1
                            case 12: calc = 3; break;       //6*2=12 & 1+2 = 3
                            case 14: calc = 5; break;       //7*2=14 & 1+4 = 5
                            case 16: calc = 7; break;       //8*2=16 & 1+6 = 7
                            case 18: calc = 9; break;       //9*2=18 & 1+8 = 9
                            default: calc = calc;           //4*2= 8 &   8 = 8  -same for all lower numbers
                        }
                        iCCN = iCCN / 10;  // subtracts right most digit from ccNum
                        iTotal += calc;  // running total of the card number as we loop
                    }  // END OF LOOP
                    if ((iTotal % 10) == 0) {  // check to see if the sum Mod 10 is zero
                        bResult = true;  // This IS (or could be) a valid credit card number.
                    } else {
                        bResult = false;  // This could NOT be a valid credit card number
                    }
                }
            }
           
           
            return bResult; // Return the results
        }
        

        $("#SendApi").click(function (e) {
            
            var isValid = true;
            $('input[data-item="CardNumber"],input[data-item="CardHolderName"],input[data-item="CardSecurityCode"]').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red",
                        "background": "#FFCECE"
                    });
                }
                else {
                    $(this).css({
                        "border": "1px solid black",
                        "background": ""
                    });
                }
            });
            if (!Mod10($('input[data-item="CardNumber"]').val())) {
                isValid = false;
                $('#errornumber').show();
                $('input[data-item="CardNumber"]').css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });
            }
            if (isValid == false)
                e.preventDefault();
           
            if (isValid) {
                $('#errornumber').hide();
                $('body').append('<div id="ajaxBusy"><p id="ajaxBusyMsg">Please wait...</p></div>');
                $("#ajaxBusy").show();
              
                var cardnumber = $('input[data-item="CardNumber"]').val();
                var name = $('input[data-item="CardHolderName"]').val();
                var cvv = $('input[data-item="CardSecurityCode"]').val(); 
                var expMonth = $("#CardExpirationMonth").val();
                var expYear = $("#CardExpirationYear").val();
                var discount = $('#Discount').val();
                var ShippingCost = $('#ShippingCost').val();
                var SubTotal = $('#SubTotal').val();
                var Total = $('#Total').val();
                var TaxCost = $('#TaxCost').val();

                var OrderId = $('#OrderId').val();
                var BillingCity = $('#BillingCity').val();
                var BillingCountryCode = $('#BillingCountryCode').val();
                var BillingFirstName = $('#BillingFirstName').val();
                var BillingLastName = $('#BillingLastName').val();
                var BillingName = $('#BillingName').val();
                var BillingPhoneNumber = $('#BillingPhoneNumber').val();
                var BillingPostalCode = $('#BillingPostalCode').val();
                var BillingStateCode = $('#BillingStateCode').val();
                var BillingStreetAddress1 = $('#BillingStreetAddress1').val();
                var BillingStreetAddress2 = $('#BillingStreetAddress2').val();
                var BillingEmailId = $('#BillingEmailId').val();

                var ShippingCity = $('#ShippingCity').val();
                var ShippingCountryCode = $('#ShippingCountryCode').val();
                var ShippingFirstName = $('#ShippingFirstName').val();
                var ShippingLastName = $('#ShippingLastName').val();
                var ShippingName = $('#ShippingName').val();
                var ShippingPhoneNumber = $('#ShippingPhoneNumber').val();
                var ShippingPostalCode = $('#ShippingPostalCode').val();
                var ShippingStateCode = $('#ShippingStateCode').val();
                var ShippingStreetAddress1 = $('#ShippingStreetAddress1').val();
                var ShippingStreetAddress2 = $('#ShippingStreetAddress2').val();
                var ShippingEmailId = $('#ShippingEmailId').val();

                var GatewayLoginName = $('#GatewayLoginName').val();
                var GatewayLoginPassword = $('#GatewayLoginPassword').val();
                var GatewayTestMode = $('#GatewayTestMode').val();
                var GatewayCustom1 = $('#GatewayCustom1').val();
                var GatewayPreAuthorize = $('#GatewayPreAuthorize').val();
                var GatewayTransactionKey = $('#GatewayTransactionKey').val();
                var GatewayCurrencyCode = $('#GatewayCurrencyCode').val();
                var Gateway = $('#GatewayType').val();
                var ReturnUrl = $('#ReturnUrl').val();
                var CancelUrl = $('#CancelUrl').val();

                var payment = {
                    "GatewayType": Gateway,
                    "GatewayLoginName": GatewayLoginName,
                    "GatewayLoginPassword": GatewayLoginPassword,
                    "GatewayTestMode": GatewayTestMode,
                    "GatewayCustom1": GatewayCustom1,
                    "GatewayPreAuthorize": GatewayPreAuthorize,
                    "GatewayTransactionKey": GatewayTransactionKey,
                    "GatewayCurrencyCode": GatewayCurrencyCode,
                    "OrderId": OrderId,
                    "BillingCity": BillingCity,
                    "BillingCountryCode": BillingCountryCode,
                    "BillingFirstName": BillingFirstName,
                    "BillingLastName": BillingLastName,
                    "BillingName": BillingName,
                    "BillingPhoneNumber": BillingPhoneNumber,
                    "BillingPostalCode": BillingPostalCode,
                    "BillingStateCode": BillingStateCode,
                    "BillingStreetAddress1": BillingStreetAddress1,
                    "BillingStreetAddress2": BillingStreetAddress2,
                    "BillingEmailId": BillingEmailId,
                    "ShippingCity": ShippingCity,
                    "ShippingCountryCode": ShippingCountryCode,
                    "ShippingFirstName": ShippingFirstName,
                    "ShippingLastName": ShippingLastName,
                    "ShippingName": ShippingName,
                    "ShippingPhoneNumber": ShippingPhoneNumber,
                    "ShippingPostalCode": ShippingPostalCode,
                    "ShippingStateCode": ShippingStateCode,
                    "ShippingStreetAddress1": ShippingStreetAddress1,
                    "ShippingStreetAddress2": ShippingStreetAddress2,
                    "ShippingEmailId": ShippingEmailId,
                    "ShippingCost": ShippingCost,
                    "SubTotal": SubTotal,
                    "TaxCost": TaxCost,
                    "Total": Total,
                    "Discount": discount,
                    "CardSecurityCode": cvv,
                    "CardNumber": cardnumber,
                    "CardHolderName": name,
                    "CardExpirationMonth": expMonth,
                    "CardExpirationYear": expYear,
                    "CancelUrl": CancelUrl,
                    "ReturnUrl": ReturnUrl
                };
                //$.post('/payment/SubmitPayment', payment, function (data) {
                //    if (data.Token != undefined)
                //        window.location.href = ReturnUrl + data.Token + "&Message=" + data.Message;
                //    else {
                //        window.location.href = CancelUrl + data.Message;
                //    }
                //},'html');

                $.ajax({
                    url: "/payment/SubmitPayment",
                    type: "Post",
                    data: JSON.stringify(payment),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#ajaxBusy").hide();
                        if (data.Token != "")
                            window.location.href = ReturnUrl  + data.Token + "&Message=" + data.Message;
                        else {
                            window.location.href = CancelUrl  + data.Message;
                        }
                    },
                    error: function (msg) { $("#ajaxBusy").hide(); alert(msg.responseXML); }
                });
            }
        });
    });
</script>