<%@ Page Language="C#" MasterPageFile="~/Themes/Standard/edit.master" AutoEventWireup="true" %>
<%@ Register Src="DownloadFacets.ascx" TagName="DownloadFacets" TagPrefix="ZNode" %>


<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="uxMainContent">
    <div><ZNode:DownloadFacets ID="DownloadTag" runat="server" /></div>
</asp:Content>
