<%@ Page Language="C#" MasterPageFile="~/Themes/Standard/edit.master" AutoEventWireup="true" %>
<%@ Register Src="Download.ascx" TagName="Download" TagPrefix="ZNode" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="uxMainContent">
    <ZNode:Download ID="Download1" runat="server" />   
</asp:Content>
