﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Themes/Standard/edit.master" AutoEventWireup="true"  %>
<%@ Register Src="DownloadCustomerPricing.ascx" TagName="CustomerPricing" TagPrefix="ZNode" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="uxMainContent">    
    <ZNode:CustomerPricing ID="DownloadCustomerPricing1" runat="server" />
</asp:Content>
