<%@ Page Language="C#" MasterPageFile="~/Themes/Standard/edit.master" AutoEventWireup="true" %>
<%@ Register Src="UpdatePricing.ascx" TagName="UpdatePricing" TagPrefix="ZNode" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="uxMainContent">    
    <ZNode:UpdatePricing ID="UpdatePricing1" runat="server" />
</asp:Content>
