﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Themes/Standard/edit.master" AutoEventWireup="true" %>
<%@ Register Src="UploadCustomerPricing.ascx" TagName="CustomerPricing" TagPrefix="ZNode" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="uxMainContent">    
    <ZNode:CustomerPricing ID="UploadCustomerPricing1" runat="server" />
</asp:Content>
