<%@ Page Language="C#" MasterPageFile="~/Themes/Standard/content.master" AutoEventWireup="true" %>
<%@ Register Src="UploadFacets.ascx" TagName="UploadFacets" TagPrefix="ZNode" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="uxMainContent">    
    <ZNode:UploadFacets ID="uxUpdateSku" runat="server" />
</asp:Content>
