﻿@model Znode.Engine.MvcAdmin.Models.ListViewModel
@using Resources;
@{
   
    ViewBag.Title = "_TwoListView";
}

<div class="FormSection AttributeUpDownSection ClearFix">
    <div class="ClearFix AssignAttributeSection">
        <div class="Unassigned-Attributes">
            <p>
                @ViewBag.UnAssignedTitle
            </p>
            
            @Html.ListBoxFor(model => model.UnAssignedId, Model.UnAssignedList.OrderBy(m=>m.Text), new {@id="UnAssignedId" })
        </div>
       <div class="Symbol">
                      <button type="button" id="mvUnassignToAssignBtn" class="ActiveNextBtn" title="From Unassign to Assign"><span><span>&nbsp;</span></span></button>
                    <button type="button" id="mvAssignToUnassignBtn"  class="ActivePrevBtn" title="From Assign to Unassign"><span><span>&nbsp;</span></span></button>
                </div>

        <div class="Assigned-Attributes">
            <p>
              @ViewBag.AssignedTitle
            </p>
            @Html.ListBoxFor(model => model.AssignedId, Model.AssignedList, new {@id="AssignedId"})
           
        </div>
       <div class="UpDownButton">
                    <button id="move-up" title="Up" type="button" class="ActiveUpBtn"><span><span>&nbsp;</span></span></button>
                    <button id="move-down" title="Down" type="button"  class="ActiveDownBtn"><span><span>&nbsp;</span></span></button>
                </div>
    </div>
    <div>
         <p class="field-validation-error FormErrorContainer" id="errorMessage">
                @ViewBag.message
            </p>
        </div>
</div>

@System.Web.Optimization.Scripts.Render("~/bundles/TwoListView")
@System.Web.Optimization.Scripts.Render("~/bundles/jquery")

<script>
    var listViewPage = new ListViewPage();
    $(document).ready(function () {
        var unAssignListLength = $("#UnAssignedId option").length;
        var assignListLength = $("#AssignedId").children().length;
        if (unAssignListLength == 0) { $("#mvUnassignToAssignBtn").addClass('DisableNextBtn').removeClass('ActiveNextBtn').attr('disabled', 'disabled'); }
        if (assignListLength == 0) { $("#mvAssignToUnassignBtn").addClass('DisablePrevBtn').removeClass('ActivePrevBtn').attr('disabled', 'disabled'); }
        if (assignListLength <= 1) {
            $("#move-up").addClass('DisableUpBtn').removeClass('ActiveUpBtn').attr('disabled', 'disabled');
            $("#move-down").addClass('DisableDownBtn').removeClass('ActiveDownBtn').attr('disabled', 'disabled');
        }
        RegMvAssignToUnassignBtnClick();
        RegMvUnassignToAssignBtnClick();
        RegMvUpBtnClick();
        RegMvDownBtnClick();
    })

    /*Register Move Assign To Unassign button click event*/
    function RegMvAssignToUnassignBtnClick() {
        $("#mvAssignToUnassignBtn").off("click");
        $('#mvAssignToUnassignBtn').on("click", listViewPage.MoveFromAssignedToUnassigned);
    }

    /*Register Move Unassign To Assign  button click event*/
    function RegMvUnassignToAssignBtnClick() {
        $("#mvUnassignToAssignBtn").off("click");
        $('#mvUnassignToAssignBtn').on("click", listViewPage.MoveFromUnassignedToAssigned);
    }

    /*Register Move Up button click event*/
    function RegMvUpBtnClick() {
        $("#move-up").off("click");
        $('#move-up').on("click", listViewPage.MoveUp);
    }

    /*Register Move Down button click event*/
    function RegMvDownBtnClick() {
        $("#move-down").off("click");
        $('#move-down').on("click", listViewPage.MoveDown);
    }

    function Validate() {
        $("#AssignedId option").attr("selected", "selected");
        var options = $("[id*=AssignedId] option:selected");
        $("#UnAssignedId option").attr("selected", false);
        return true;
    }
</script>