/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */
/*
 | Variables
 | Prefix all variables with base-
 |
 */
/*
 |
 | Mixins
 | 
 */
/*
 | User Account Views
 |
 | 2014; Znode, Inc.
 */
.account-container-menu {
    display: none;
}

.account-container-content {
    padding: 20px 0;
}

    .account-container-content .item-header {
        color: #af0604;
    }

.account-gohome {
    display: block;
    color: #666;
}

    .account-gohome:before {
        font-family: "icomoon", arial, helvetica, sans-serif;
        content: "\e3b7";
    }

.address-list li {
    padding: 15px 0;
    border-bottom: dotted 1px #ccc;
}

    .address-list li:last-child {
        border: none;
    }

.account-recent-orders .recent-order-id {
    display: none;
}

.account-recent-orders .recent-order {
    margin-bottom: 15px;
    font-size: 1.8rem;
}

    .account-recent-orders .recent-order:after {
        content: "";
        display: table;
        clear: both;
    }

.account-recent-orders .recent-order-title {
    float: left;
    width: 70%;
    padding-right: 10px;
}

    .account-recent-orders .recent-order-title a {
        color: #000;
    }

.account-recent-orders .recent-order-meta {
    color: #999;
    font-size: 1.4rem;
}

.account-recent-orders .recent-order-total {
    float: left;
    width: 30%;
    text-align: right;
}

@media all and (min-width: 37.5em) {
    .account-gohome {
        display: none;
    }

    .account-container-menu {
        display: block;
        float: left;
        width: 28%;
    }

    .account-container-content {
        padding: 0 0 30px;
        float: left;
        width: 72%;
    }

    .account-menu li {
        font-size: 1.8rem;
        padding-bottom: 1.5em;
    }

    .account-menu a {
        color: #4f616d;
    }

    .account-recent-orders .order-meta-date {
        display: none;
    }

    .account-recent-orders .recent-order-product:after {
        font-family: "icomoon", arial, helvetica, sans-serif;
        content: "\e3b5";
        color: #999;
    }

    .account-recent-orders .recent-order-title {
        width: 60%;
    }

    .account-recent-orders .recent-order-date {
        float: left;
        width: 20%;
    }

    .account-recent-orders .recent-order-total {
        width: 20%;
    }

    .address-list:after {
        content: "";
        display: table;
        clear: both;
    }

    .address-list li {
        float: left;
        width: 50%;
        padding-right: 15px;
        border: none;
    }
}

@media all and (min-width: 53.12em) {
    .account-recent-orders .recent-order-title {
        width: 50%;
    }

    .account-recent-orders .recent-order-date {
        width: 20%;
    }

    .account-recent-orders .recent-order-id {
        display: block;
        float: left;
        width: 10%;
    }

    .account-recent-orders .recent-order-total {
        width: 20%;
    }

    .account-recent-orders .order-meta-id {
        display: none;
    }

    .account-container-menu {
        width: 25%;
    }

    .account-container-content {
        width: 75%;
    }

    .address-list li {
        width: 33%;
    }
}

@media all and (min-width: 70em) {
    .account-container-menu {
        width: 22%;
    }

    .account-container-content {
        width: 78%;
    }
}
/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */
/*
 | Variables
 | Prefix all variables with base-
 |
 */
/*
 |
 | Mixins
 | 
 */
/*
 | User Account 
 | Login
 |
 | 2014; Znode, Inc.
 */
#layout-account-login .account-login-container {
    padding-top: 10px;
}

#layout-account-login .account-signup-container {
    padding-top: 30px;
}

#layout-account-login .account-signup-link {
    font-size: 1.8rem;
    color: #af0604;
    display: block;
    margin-bottom: 30px;
}

@media all and (min-width: 37.5em) {
    #layout-account-login .account-login-container,
    #layout-account-login .account-signup-container {
        float: left;
        width: 50%;
    }

    #layout-account-login .account-signup-container {
        padding-top: 30px;
    }
}

@media all and (min-width: 53.12em) {
    #layout-account-login .login-form input {
        width: 60%;
    }
}
/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */
/*
 | Variables
 | Prefix all variables with base-
 |
 */
/*
 |
 | Mixins
 | 
 */
/*
 | User Account 
 | Dashboard
 |
 | 2014; Znode, Inc.
 */
#layout-account-dashboard .link-arrow-right {
    display: block;
    text-align: right;
}

#layout-account-dashboard .dashboard-content {
    margin-bottom: 50px;
}

#layout-account-dashboard .dashboard-addresses .address-block {
    color: #000;
}

#layout-account-dashboard .dashboard-addresses li {
    padding-bottom: 30px;
}

#layout-account-dashboard .dashboard-profile {
    color: #000;
    display: block;
    padding-bottom: 25px;
}

#layout-account-dashboard .wishlist-count {
    font-size: 2.4rem;
    color: #000;
}

@media all and (min-width: 37.5em) {
    #layout-account-dashboard .dashboard-addresses:after {
        content: "";
        display: table;
        clear: both;
    }

    #layout-account-dashboard .dashboard-addresses li {
        float: left;
        width: 45%;
    }
}

@media all and (min-width: 53.12em) {
    #layout-account-dashboard .container {
        padding-right: 10rem;
    }
}
/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */
/*
 | Variables
 | Prefix all variables with base-
 |
 */
/*
 |
 | Mixins
 | 
 */
/*
 | User Account 
 | Address book
 |
 | 2014; Znode, Inc.
 */
#layout-account-book .address-list {
    font-size: 1.8rem;
}

    #layout-account-book .address-list a {
        font-size: 1.6rem;
    }

    #layout-account-book .address-list button {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        border: none;
        border-radius: 0;
        background: none;
        font-family: "source_sans_pro", arial, helvetica, sans-serif;
        border: 0;
        padding: 12px 0 0 0;
        font-size: 1.6rem;
        text-decoration: underline;
        color: #666;
    }

#layout-account-book .address-list-primary li {
    border: none;
}

#layout-account-book .address-block .address-title {
    color: #af0604;
}

@media all and (min-width: 37.5em) {
    #layout-account-book .address-list-primary {
        margin-bottom: 30px;
    }

    #layout-account-book .address-list li {
        min-height: 250px;
    }
}
/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */
/*
 | Variables
 | Prefix all variables with base-
 |
 */
/*
 |
 | Mixins
 | 
 */
/*
 | User Account 
 | Profile
 |
 | 2014; Znode, Inc.
 */
#layout-account-profile .profile-change-password {
    display: block;
    padding-bottom: 30px;
    font-size: 1.4rem;
}

/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */
/*
 | Variables
 | Prefix all variables with base-
 |
 */
/*
 |
 | Mixins
 | 
 */
/*
 | User Account 
 | Wishlist
 |
 | 2014; Znode, Inc.
 */
#layout-account-wishlist .wishlist-item {
    border-bottom: solid 1px #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

    #layout-account-wishlist .wishlist-item:after {
        content: "";
        display: table;
        clear: both;
    }

#layout-account-wishlist .wishlist-item-image {
    display: none;
}

#layout-account-wishlist .wishlist-item-detail {
    float: left;
    width: 100%;
}

#layout-account-wishlist .wishlist-item-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #000;
}

#layout-account-wishlist .wishlist-item-date {
    font-size: 1.4rem;
    color: #999;
}

#layout-account-wishlist .wishlist-item-price {
    float: left;
    width: 45%;
    font-size: 1.8rem;
    padding-right: 15px;
}

#layout-account-wishlist .wishlist-item-remove {
    float: left;
    width: 10%;
    text-align: right;
}

    #layout-account-wishlist .wishlist-item-remove a {
        position: relative;
        display: block;
        margin: 0;
        padding: 0 0 0 2.86rem;
        width: 2.86rem;
        height: 2.86rem;
        text-indent: 100%;
        overflow: hidden;
        text-decoration: none;
        line-height: 2.2rem;
        float: right;
        color: #999;
    }

        #layout-account-wishlist .wishlist-item-remove a:before {
            position: absolute;
            top: 50%;
            margin-top: -1.1rem;
            left: 50%;
            margin-left: -1.1rem;
            display: block;
            width: 2.2rem;
            height: 2.2rem;
            content: "\e250";
            font-family: "icomoon", arial, helvetica, sans-serif;
            font-size: 2.2rem;
            text-indent: 0;
        }

#layout-account-wishlist .wishlist-item-tocart {
    float: left;
    width: 45%;
    text-align: right;
}

    #layout-account-wishlist .wishlist-item-tocart .button {
        display: inline;
        width: auto;
        margin: 0;
    }

@media all and (min-width: 37.5em) {
    #layout-account-wishlist .wishlist-item-image {
        display: block;
        width: 64px;
        height: 64px;
        float: left;
        overflow: hidden;
        margin-right: 15px;
    }

        #layout-account-wishlist .wishlist-item-image img {
            width: 100%;
        }

    #layout-account-wishlist .wishlist-item-detail {
        width: 50%;
    }

    #layout-account-wishlist .wishlist-item-price {
        width: 18%;
        text-align: right;
    }

    #layout-account-wishlist .wishlist-item-remove {
        width: 7%;
    }

    #layout-account-wishlist .wishlist-item-tocart {
        width: 25%;
    }
}
/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */
/*
 | Variables
 | Prefix all variables with base-
 |
 */
/*
 |
 | Mixins
 | 
 */
/*
 | User Account 
 | Reviews
 |
 | 2014; Znode, Inc.
 */
#layout-account-reviewhistory .review-item {
    border-bottom: solid 1px #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

    #layout-account-reviewhistory .review-item:after {
        content: "";
        display: table;
        clear: both;
    }

#layout-account-reviewhistory .review-item-title {
    color: #000;
    font-size: 2rem;
    padding-bottom: 4px;
    display: block;
}

/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */
/*
 | Variables
 | Prefix all variables with base-
 |
 */
/*
 |
 | Mixins
 | 
 */
/*
 | User Account 
 | Orrder receipt
 |
 | 2014; Znode, Inc.
 */
#layout-account-receipt .receipt-print,
#layout-account-receipt .location-title small,
#layout-account-receipt .receipt-print-store {
    display: none;
}

#layout-account-receipt .table-td {
    padding: 3px 5px;
}

#layout-account-receipt .receipt-item .table-td {
    padding: 5px;
    border-bottom: solid 1px #ccc;
    border-right: solid 1px #ccc;
}

    #layout-account-receipt .receipt-item .table-td:last-child {
        border-right: none;
    }

#layout-account-receipt .receipt-item-list {
    width: 100%;
    margin-top: 20px;
}

    #layout-account-receipt .receipt-item-list .header {
        background-color: #333;
        color: #fff;
    }

#layout-account-receipt .receipt-info {
    margin-bottom: 15px;
}

#layout-account-receipt .receipt-column-item {
    width: 45%;
}

#layout-account-receipt .receipt-column-quantity {
    width: 15%;
    text-align: center;
}

#layout-account-receipt .receipt-column-price {
    width: 20%;
    text-align: right;
}

#layout-account-receipt .receipt-column-total {
    width: 20%;
    text-align: right;
}

#layout-account-receipt .receipt-totals {
    width: 60%;
    margin-top: 15px;
}

#layout-account-receipt .totals-column-label {
    width: 40%;
}

#layout-account-receipt .totals-column-total {
    width: 60%;
    text-align: right;
}

#layout-account-receipt .receipt-total {
    font-weight: bold;
}

    #layout-account-receipt .receipt-total .table-td {
        border-top: solid 1px #000;
    }

.account-recent-orders .recent-order-reorder {
    float: right;
    margin-top: -22px;
}

    .account-recent-orders .recent-order-reorder a {
        color: #000;
    }


@media all and (min-width: 37.5em) {
    #layout-account-receipt .receipt-print {
        display: block;
        text-align: right;
        color: #666;
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

        #layout-account-receipt .receipt-print span:before {
            font-family: "icomoon", arial, helvetica, sans-serif;
            content: "\e118";
            padding-right: 8px;
        }

    #layout-account-receipt .receipt-totals {
        width: 40%;
        float: right;
    }
}

.touch #layout-account-receipt .receipt-print {
    display: none;
}

/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */
/*
 | Variables
 | Prefix all variables with base-
 |
 */
/*
 |
 | Mixins
 | 
 */
/*
 | User Account 
 | Order receipt print styles
 |
 | 2014; Znode, Inc.
 */
@media print {
    #Account.orderreceipt #layout-header,
    #Account.orderreceipt #layout-footer,
    #Account.orderreceipt .account-container-menu,
    #Account.orderreceipt .receipt-print,
    #Account.orderreceipt .account-gohome {
        display: none;
    }

    #Account.orderreceipt .receipt-info {
        float: left;
        width: 33%;
    }

    #Account.orderreceipt .account-container-content {
        width: 100%;
    }

    #Account.orderreceipt .container-narrow {
        padding: 0;
    }

    #Account.orderreceipt .location-title {
        padding: 0;
        font-weight: bold;
    }

    #Account.orderreceipt .location {
        background: none;
        color: #000;
        padding: 0;
        margin: 0;
    }

    #Account.orderreceipt .section-header-color {
        color: #000;
    }

    #Account.orderreceipt .location-title small {
        display: inline;
    }

    #Account.orderreceipt .receipt-print-store {
        display: block;
        font-weight: normal;
    }

    #Account.orderreceipt .receipt-totals {
        float: right;
        width: 40%;
    }

    #Account.orderreceipt .receipt-item-list .header {
        background: none;
        color: #000;
        font-weight: bold;
        border-bottom: solid 2px #000;
    }
}
