/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */
/*
 | Variables
 | Prefix all variables with base-
 |
 */
/*
 |
 | Mixins
 | 
 */
/*
 | Cart view 
 |
 | 2014; Znode, Inc.
 */
.cart-table .cart-item {
  border-bottom: solid 1px #999;
  padding-bottom: 15px;
  margin-bottom: 25px; }
.cart-table .cart-item-title {
  color: #000;
  font-size: 2.4rem;
  font-weight: bold; }
.cart-table .cart-item-image {
  display: none; }
.cart-table .cart-item-description {
  color: #666; }
.cart-table .cart-item-remove {
  color: #999;
  margin: 8px 0;
  display: block; }
  .cart-table .cart-item-remove:before {
    font-family: "icomoon", arial, helvetica, sans-serif;
    content: "\e250";
    padding-right: 5px; }
.cart-table .cart-item-edit {
  display: none; }
.cart-table .cart-item-options ul {
  margin-top: 15px; }
  .cart-table .cart-item-options ul:after {
    content: "";
    display: table;
    clear: both; }
  .cart-table .cart-item-options ul li {
    width: 33%;
    float: left; }
  .cart-table .cart-item-options ul .label {
    display: block;
    font-size: 1.4rem;
    color: #666;
    font-weight: normal; }
.cart-table .cart-item-unitprice {
  color: #666; }
.cart-table .cart-item-total {
  text-align: right;
  font-weight: bold; }
.cart-table .cart-item-amount {
  font-size: 2.2rem; }
.cart-table .cart-item-quantity {
  font-size: 2.2rem; }
  .cart-table .cart-item-quantity .quantity {
    display: none; }
  .cart-table .cart-item-quantity select {
    font-size: 1.8rem;
    background-color: #F9F9F9;
    width: auto; }
@media all and (min-width: 37.5em) {
  .cart-table .cart-item {
    padding-bottom: 25px; }
    .cart-table .cart-item:after {
      content: "";
      display: table;
      clear: both; }
    .cart-table .cart-item:last-child {
      margin-bottom: 20px;
      border-bottom: solid 3px #999; }
  .cart-table .cart-item-info {
    float: left;
    width: 50%; }
  .cart-table .cart-item-options {
    float: left;
    width: 50%; }
    .cart-table .cart-item-options ul {
      margin-top: 0; }
  .cart-table .cart-item-description {
    padding-right: 20px; } }
@media all and (min-width: 53.12em) {
  .cart-table .cart-item-image {
    display: block;
    float: left;
    width: 20%;
    max-height: 160px;
    overflow: hidden; }
    .cart-table .cart-item-image img {
      width: 100%; }
  .cart-table .cart-item-info {
    width: 65%; }
  .cart-table .cart-item-options {
    width: 35%; }
  .cart-table .cart-item-details {
    float: left;
    width: 80%;
    padding-left: 2em; } }

#layout-cart.cart-totals .cart-table .cart-item-remove,
#layout-cart.cart-totals .cart-item-quantity select {
  display: none; }
#layout-cart.cart-totals .cart-item-quantity .quantity {
  display: block; }
#layout-cart.cart-totals .location {
  margin-bottom: 0; }
#layout-cart.cart-totals .cart-products {
  margin-top: 20px;
  margin-bottom: 30px; }
#layout-cart.cart-totals .checkout-totals-shippingto {
  font-size: 1.8rem;
  padding-bottom: 30px; }
#layout-cart.cart-totals .cart-item-edit {
  color: #999;
  margin: 8px 0;
  display: block; }
  #layout-cart.cart-totals .cart-item-edit:before {
    font-family: "icomoon", arial, helvetica, sans-serif;
    content: "\e011";
    padding-right: 5px; }
#layout-cart .cart-friendlytotal .location-title {
  font-size: 2.4rem;
  text-align: center; }
#layout-cart .cart-friendlytotal span {
  display: block; }
#layout-cart .cart-promocode.active #toggle-cart-promocode {
  display: none; }
#layout-cart .cart-promocode.active #cart-promocode-container {
  display: block; }
#layout-cart #toggle-cart-promocode {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 10.5em;
  font-size: 1.8rem;
  color: #af0604;
  border-bottom: dotted 1px #af0604; }
#layout-cart #cart-promocode-container {
  display: none;
  background-color: #F7F7E0;
  padding: 1em;
  border-top: solid 1px #999;
  border-bottom: solid 1px #999; }
#layout-cart .cart-promocode-status {
  margin-top: 15px;
  font-size: 1.4rem; }
  #layout-cart .cart-promocode-status li {
    padding-bottom: .5em; }
  #layout-cart .cart-promocode-status .success {
    color: #090; }
    #layout-cart .cart-promocode-status .success:before {
      font-family: "icomoon", arial, helvetica, sans-serif;
      content: "\e372"; }
  #layout-cart .cart-promocode-status .error {
    color: #c00; }
    #layout-cart .cart-promocode-status .error:before {
      font-family: "icomoon", arial, helvetica, sans-serif;
      content: "\e36b"; }
  #layout-cart .cart-promocode-status strong {
    width: 10em;
    padding-left: 5px;
    text-transform: uppercase; }
#layout-cart .cart-total {
  margin: 30px 0; }
  #layout-cart .cart-total:after {
    content: "";
    display: table;
    clear: both; }
#layout-cart .cart-total-table {
  font-size: 2.2rem;
  margin: 0; }
  #layout-cart .cart-total-table:after {
    content: "";
    display: table;
    clear: both; }
  #layout-cart .cart-total-table dt, #layout-cart .cart-total-table dd {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    width: 50%;
    text-align: right;
    padding-bottom: 2px; }
  #layout-cart .cart-total-table .total {
    border-top: solid 1px #999;
    font-weight: bold;
    padding-top: 10px;
    font-size: 2.4rem;
    color: #57ad68; }
#layout-cart .cart-total-footnote {
  font-size: 1.3rem;
  text-align: right;
  color: #999; }
#layout-cart .cart-checkout-button {
  margin-top: 30px; }

@media all and (min-width: 37.5em) {
  #layout-cart .cart-friendlytotal .location-title {
    font-size: 3rem;
    text-align: left; }
  #layout-cart .cart-friendlytotal span {
    display: inline; }
  #layout-cart .cart-promocode {
    float: left;
    width: 50%; }
  #layout-cart .cart-total {
    float: left;
    width: 50%;
    margin-top: 0; }
    #layout-cart .cart-total .cart-checkout-button {
      float: right;
      width: 70%; }
  #layout-cart #toggle-cart-promocode {
    text-align: left;
    display: inline;
    margin: 0;
    width: auto;
    color: #af0604;
    border-bottom: none; }
  #layout-cart #cart-promocode-container {
    display: block;
    background: none;
    padding: .5em 0;
    border: none; }
    #layout-cart #cart-promocode-container input {
      width: 12em;
      display: inline; }
    #layout-cart #cart-promocode-container input, #layout-cart #cart-promocode-container button {
      font-size: 1.4rem;
      padding-top: .2em;
      padding-bottom: .2em; }
  #layout-cart .cart-promocode-status {
    margin-top: 15px;
    font-size: 1.4rem; }
    #layout-cart .cart-promocode-status li {
      padding-bottom: .5em; }
    #layout-cart .cart-promocode-status .success {
      color: #090; }
      #layout-cart .cart-promocode-status .success:before {
        font-family: "icomoon", arial, helvetica, sans-serif;
        content: "\e372"; }
    #layout-cart .cart-promocode-status .fail {
      color: #c00; }
      #layout-cart .cart-promocode-status .fail:before {
        font-family: "icomoon", arial, helvetica, sans-serif;
        content: "\e36b"; }
    #layout-cart .cart-promocode-status strong {
      width: 10em;
      padding-left: 5px;
      text-transform: uppercase; } }
@media all and (min-width: 53.12em) {
  #layout-cart .cart-products, #layout-cart .cart-summary {
    padding-right: 5rem; }
  #layout-cart .cart-summary:after {
    content: "";
    display: table;
    clear: both; }

  /* Centering a big for tablets */
  .touch #layout-cart .cart-products, .touch #layout-cart .cart-summary {
    padding: 0 6rem; } }
@media all and (min-width: 70em) {
  #layout-cart .cart-products, #layout-cart .cart-summary {
    padding-right: 15rem; } }
