/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */
/*
 | Variables
 | Prefix all variables with base-
 |
 */
/*
 |
 | Mixins
 | 
 */
/*
 | Category landing page 
 |
 | 2014; Znode, Inc.
 */
#layout-category .category-title {
  background-color: #e5e5e5;
  color: #222;
  border-bottom: solid 1px #999;
  padding: 1em 0;
  margin-bottom: 20px; }
  #layout-category .category-title h1 {
    display: block;
    padding: 0 1.3rem 0 1.3rem;
    position: relative; }
    #layout-category .category-title h1:after {
      content: "";
      display: table;
      clear: both; }
    @media all and (min-width: 37.5em) {
      #layout-category .category-title h1 {
        padding: 0 1.6rem 0 1.6rem; } }
    @media all and (min-width: 70em) {
      #layout-category .category-title h1 {
        padding: 0 0 0 0;
        max-width: 70em;
        margin: 0 auto; } }
#layout-category .feature-left {
  display: block;
  padding: 0 1.3rem 0 1.3rem;
  position: relative; }
  #layout-category .feature-left:after {
    content: "";
    display: table;
    clear: both; }
  @media all and (min-width: 37.5em) {
    #layout-category .feature-left {
      padding: 0 1.6rem 0 1.6rem; } }
  @media all and (min-width: 70em) {
    #layout-category .feature-left {
      padding: 0 0 0 0;
      max-width: 70em;
      margin: 0 auto; } }
#layout-category .feature-right .title {
  font-weight: 400; }
#layout-category .menu {
  margin: 10px 0;
  font-size: 1.8rem; }
  #layout-category .menu a {
    display: block;
    color: #af0604;
    padding: .5em 0; }
#layout-category .feature-promo {
  display: block;
  border-top: solid 1px #fff; }
  #layout-category .feature-promo .title {
    color: #fff;
    font-size: 2.6rem;
    padding: 1.6em 1.3rem;
    text-shadow: 1px 1px 3px #000; }
  #layout-category .feature-promo.promo-a {
    background: url(../../images/bg_apple.jpg); }
  #layout-category .feature-promo.promo-b {
    background: url(../../images/bg_flowers.jpg); }
  #layout-category .feature-promo.promo-c {
    background: url(../../images/bg_strawberry.jpg); }
  #layout-category .feature-promo.promo-d {
    background: url(../../images/bg_ingredients.jpg); }
#layout-category .category-products {
  display: block;
  padding: 20px 1.3rem 20px 1.3rem;
  position: relative; }
  #layout-category .category-products:after {
    content: "";
    display: table;
    clear: both; }
  @media all and (min-width: 37.5em) {
    #layout-category .category-products {
      padding: 20px 1.6rem 20px 1.6rem; } }
  @media all and (min-width: 70em) {
    #layout-category .category-products {
      padding: 20px 0 20px 0;
      max-width: 70em;
      margin: 0 auto; } }
#layout-category .category-filters {
  display: block;
  padding: 10px 1.3rem 10px 1.3rem;
  position: relative; }
  #layout-category .category-filters:after {
    content: "";
    display: table;
    clear: both; }
  @media all and (min-width: 37.5em) {
    #layout-category .category-filters {
      padding: 10px 1.6rem 10px 1.6rem; } }
  @media all and (min-width: 70em) {
    #layout-category .category-filters {
      padding: 10px 0 10px 0;
      max-width: 70em;
      margin: 0 auto; } }
  #layout-category .category-filters #toggle-filters {
    color: #000; }
    #layout-category .category-filters #toggle-filters:after {
      font-family: "icomoon", arial, helvetica, sans-serif;
      content: "\e3b6"; }
  #layout-category .category-filters #filter-container {
    display: none; }
    #layout-category .category-filters #filter-container:after {
      content: "";
      display: table;
      clear: both; }
  #layout-category .category-filters OLD.filter-list {
    margin-bottom: 20px; }
    #layout-category .category-filters OLD.filter-list .filter-name {
      background-color: #333;
      color: #fff;
      padding: .3em; }
    #layout-category .category-filters OLD.filter-list a {
      display: block;
      padding: .5em 1em;
      font-size: 1.8rem; }
#layout-category .category-more {
  display: block;
  text-align: center;
  border-top: dotted 1px #999;
  padding: 10px 0;
  margin-top: 20px;
  font-size: 1.8rem; }
  #layout-category .category-more .button {
    display: block;
    margin: 20px auto; }

@media all and (min-width: 37.5em) {
  #layout-category .category-title {
    background: none;
    padding: 0;
    border: none;
    color: #fff; }
    #layout-category .category-title h1 {
      background-color: #af0604;
      display: block;
      padding: 0.5em 1.3rem 0.5em 1.3rem;
      position: relative; }
      #layout-category .category-title h1:after {
        content: "";
        display: table;
        clear: both; }
  #layout-category .category-features {
    display: block;
    padding: 0 1.3rem 20px 1.3rem;
    position: relative; }
    #layout-category .category-features:after {
      content: "";
      display: table;
      clear: both; }
  #layout-category .feature-left {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    width: 35%;
    padding-right: 12px; }
  #layout-category .feature-right {
    float: left;
    width: 65%;
    padding-left: 12px; }
    #layout-category .feature-right .title {
      margin: 0;
      font-weight: normal; }
  #layout-category .image-promo {
    border-top: none;
    height: 180px;
    overflow: hidden;
    display: block; }
  #layout-category .features {
    padding-top: 10px; }
    #layout-category .features:after {
      content: "";
      display: table;
      clear: both; }
    #layout-category .features li {
      width: 50%;
      float: left; }
      #layout-category .features li:last-child {
        padding-left: 12px; }
  #layout-category .category-filters {
    display: block;
    padding: 20px 1.3rem 20px 1.3rem;
    position: relative;
    background-color: #FAF6E9;
    border-top: dotted 1px #999;
    border-bottom: dotted 1px #999; }
    #layout-category .category-filters:after {
      content: "";
      display: table;
      clear: both; }
    #layout-category .category-filters .section-header {
      border-bottom: none;
      margin: 0; }
    #layout-category .category-filters #toggle-filters {
      color: #000;
      text-align: center;
      display: block; }
    #layout-category .category-filters .filter-list .filter-name {
      background: none;
      color: #222;
      padding: 0;
      font-weight: bold;
      border-bottom: dotted 1px #222; }
    #layout-category .category-filters .filter-list a {
      display: block;
      padding: .5em 0;
      font-size: 1.8rem; }
  #layout-category .category-products {
    display: block;
    padding: 20px 1.3rem 20px 1.3rem;
    position: relative; }
    #layout-category .category-products:after {
      content: "";
      display: table;
      clear: both; }
  #layout-category .category-more .button {
    width: 15em; } }
    @media all and (min-width: 37.5em) and (min-width: 37.5em) {
      #layout-category .category-title h1 {
        padding: 0.5em 1.6rem 0.5em 1.6rem; } }
    @media all and (min-width: 37.5em) and (min-width: 70em) {
      #layout-category .category-title h1 {
        padding: 0.5em 0 0.5em 0;
        max-width: 70em;
        margin: 0 auto; } }
  @media all and (min-width: 37.5em) and (min-width: 37.5em) {
    #layout-category .category-features {
      padding: 0 1.6rem 20px 1.6rem; } }
  @media all and (min-width: 37.5em) and (min-width: 70em) {
    #layout-category .category-features {
      padding: 0 0 20px 0;
      max-width: 70em;
      margin: 0 auto; } }
  @media all and (min-width: 37.5em) and (min-width: 37.5em) {
    #layout-category .category-filters {
      padding: 20px 1.6rem 20px 1.6rem; } }
  @media all and (min-width: 37.5em) and (min-width: 70em) {
    #layout-category .category-filters {
      padding: 20px 0 20px 0;
      max-width: 70em;
      margin: 0 auto; } }
  @media all and (min-width: 37.5em) and (min-width: 37.5em) {
    #layout-category .category-products {
      padding: 20px 1.6rem 20px 1.6rem; } }
  @media all and (min-width: 37.5em) and (min-width: 70em) {
    #layout-category .category-products {
      padding: 20px 0 20px 0;
      max-width: 70em;
      margin: 0 auto; } }
@media all and (min-width: 53.12em) {
  #layout-category .category-title h1 {
    padding-left: 1em; }
  #layout-category .category-features {
    display: block;
    padding: 0 1.3rem 20px 1.3rem;
    position: relative; }
    #layout-category .category-features:after {
      content: "";
      display: table;
      clear: both; }
  #layout-category .feature-left {
    width: 25%; }
  #layout-category .feature-right {
    width: 75%; }
  #layout-category .image-promo {
    height: 220px; }
  #layout-category .top-promo {
    float: left;
    display: block;
    width: 33%;
    padding-right: 12px; }
  #layout-category .features {
    width: 66%;
    float: left;
    padding-top: 0; }
    #layout-category .features:after {
      content: "";
      display: table;
      clear: both; }
    #layout-category .features li {
      width: 50%;
      float: left; }
      #layout-category .features li:last-child {
        padding-left: 12px; }
  #layout-category .category-filters {
    padding: 20px 1em; } }
  @media all and (min-width: 53.12em) and (min-width: 37.5em) {
    #layout-category .category-features {
      padding: 0 1.6rem 20px 1.6rem; } }
  @media all and (min-width: 53.12em) and (min-width: 70em) {
    #layout-category .category-features {
      padding: 0 0 20px 0;
      max-width: 70em;
      margin: 0 auto; } }
