/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */
/*
 | Variables
 | Prefix all variables with base-
 |
 */
/*
 |
 | Mixins
 | 
 */
/*
 | Home controller
 | Home page and gift card views
 |
 | 2014; Znode, Inc.
 */
#layout-home .home-header {
  text-align: center;
  color: #af0604;
  padding-bottom: 12px;
  text-transform: uppercase;
  display: block;
  font-weight: 300; }
  #layout-home .home-header span {
    border-bottom: dotted 1px #af0604;
    padding: 0 2em; }
#layout-home .home-promo {
  position: relative;
  overflow: hidden;
  display: block;
  background-color: #333; }
  #layout-home .home-promo .home-promo-content {
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 10; }
#layout-home .home-promo-primary.container {
  padding: 0; }
#layout-home .home-promo-primary .home-promo {
  height: 200px; }
#layout-home .home-promo-primary .home-promo-content {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  padding: 0 15px; }
#layout-home .home-promo-primary .home-promo-title {
  font-size: 2.6rem;
  font-weight: normal;
  padding-top: 20px; }
#layout-home .home-promo-primary .home-promo-action {
  font-size: 1.4rem; }
  #layout-home .home-promo-primary .home-promo-action:after {
    font-family: "icomoon", arial, helvetica, sans-serif;
    content: "\e3b5"; }
#layout-home .home-wide-promo {
  display: block;
  padding: 0.5em 1.3rem 0.5em 1.3rem;
  position: relative;
  display: block;
  text-align: center;
  border-top: dotted 1px #999;
  border-bottom: dotted 1px #999;
  background-color: #fff;
  color: #af0604;
  margin: 1em; }
  #layout-home .home-wide-promo:after {
    content: "";
    display: table;
    clear: both; }
  @media all and (min-width: 37.5em) {
    #layout-home .home-wide-promo {
      padding: 0.5em 1.6rem 0.5em 1.6rem; } }
  @media all and (min-width: 70em) {
    #layout-home .home-wide-promo {
      padding: 0.5em 0 0.5em 0;
      max-width: 70em;
      margin: 0 auto; } }
  #layout-home .home-wide-promo .home-promo-title {
    font-size: 2.2rem;
    text-shadow: none; }
#layout-home .home-promo-secondary {
  margin-bottom: 30px; }
  #layout-home .home-promo-secondary .home-shortcuts {
    font-size: 1.8rem;
    background-color: #af0604;
    padding: 1em;
    color: #fff; }
    #layout-home .home-promo-secondary .home-shortcuts a {
      color: #fff;
      display: block; }
      #layout-home .home-promo-secondary .home-shortcuts a:after {
        font-family: "icomoon", arial, helvetica, sans-serif;
        content: "\e3b5";
        vertical-align: bottom;
        padding-left: 3px; }
    #layout-home .home-promo-secondary .home-shortcuts li {
      padding: .5em 0; }
  #layout-home .home-promo-secondary .home-promo {
    height: 100px;
    border-top: solid 1px #fff; }
  #layout-home .home-promo-secondary .home-promo-content {
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    top: 0;
    padding: 0 15px; }
  #layout-home .home-promo-secondary .home-promo-title {
    font-size: 2.2rem;
    font-weight: normal;
    position: relative;
    padding-top: 20px; }
  #layout-home .home-promo-secondary .home-promo-action {
    font-size: 1.4rem;
    display: block; }
    #layout-home .home-promo-secondary .home-promo-action:after {
      font-family: "icomoon", arial, helvetica, sans-serif;
      content: "\e3b5"; }
#layout-home .home-header a {
  text-align: center;
  color: #af0604;
  padding-bottom: 12px;
  text-transform: uppercase;
  display: block;
  font-weight: 300; }
  #layout-home .home-header a span {
    border-bottom: dotted 1px #af0604;
    padding: 0 2em; }

#layout-giftcardcheck .frame, #layout-giftcardcheck .reload {
  text-align: center; }
#layout-giftcardcheck .frame {
  margin-bottom: 30px; }
#layout-giftcardcheck h3 {
  font-size: 2.6rem; }

@media all and (min-width: 37.5em) {
  #layout-home .home-promo-primary.container {
    padding-bottom: 20px; }
  #layout-home .home-promo-primary .home-promo {
    height: 320px; }
  #layout-home .home-promo-primary .home-promo-content {
    background-color: #af0604;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    padding: 25px 25px 25px 15px;
    top: 120px;
    border-bottom: solid 3px #300;
    width: 45%; }
  #layout-home .home-promo-primary .home-promo-title {
    font-size: 2.6rem;
    font-weight: normal;
    padding-top: 0; }
  #layout-home .home-promo-primary .home-promo-action {
    font-size: 1.4rem; }
    #layout-home .home-promo-primary .home-promo-action:after {
      font-family: "icomoon", arial, helvetica, sans-serif;
      content: "\e3b5"; }
  #layout-home .home-wide-promo {
    margin: 0 15px; }
  #layout-home .home-promo-secondary {
    display: block;
    padding: 20px 1.3rem 30px 1.3rem;
    position: relative; }
    #layout-home .home-promo-secondary:after {
      content: "";
      display: table;
      clear: both; }
    #layout-home .home-promo-secondary:after {
      content: "";
      display: table;
      clear: both; }
    #layout-home .home-promo-secondary .home-shortcuts {
      border-right: solid 12px white; }
    #layout-home .home-promo-secondary .home-promo {
      height: 210px; }
    #layout-home .home-promo-secondary .home-promo-title {
      padding-top: 50px; }
  #layout-home .home-column {
    position: relative;
    width: 33%;
    float: left;
    padding-right: 12px;
    height: 210px; }
    #layout-home .home-column.home-shortcuts {
      width: 34%; }
    #layout-home .home-column:last-child {
      padding-right: 0; }
    #layout-home .home-column img {
      position: absolute;
      left: 0;
      top: 0; }

  #layout-giftcardcheck .frame, #layout-giftcardcheck .reload {
    text-align: left; }
  #layout-giftcardcheck .frame {
    width: 45%; }

  #giftcard-balance-form {
    width: 45%; } }
  @media all and (min-width: 37.5em) and (min-width: 37.5em) {
    #layout-home .home-promo-secondary {
      padding: 20px 1.6rem 30px 1.6rem; } }
  @media all and (min-width: 37.5em) and (min-width: 70em) {
    #layout-home .home-promo-secondary {
      padding: 20px 0 30px 0;
      max-width: 70em;
      margin: 0 auto; } }
@media all and (min-width: 53.12em) {
  #layout-home .home-column {
    width: 37%; }
    #layout-home .home-column.home-shortcuts {
      width: 26%; } }
@media all and (min-width: 70em) {
  #layout-home .home-promo-primary .home-promo-content {
    width: 30%; }
  #layout-home .home-wide-promo {
    margin: 0 auto; } }
