/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */
/*
 | Variables
 | Prefix all variables with base-
 |
 */
/*
 |
 | Mixins
 | 
 */
/*
 | Structure and Layout 
 | Site wrapper regions, header/footer, menus, etc.
 |
 | 2014; Znode, Inc.
 */
#mobile-menu {
  display: none;
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999; }
  #mobile-menu .to-top {
    display: none; }
  #mobile-menu.active {
    display: block; }
  #mobile-menu .mobile-menu-container {
    width: 85%;
    margin: 30px auto 50px;
    background-color: #242424;
    font-weight: 300; }
  #mobile-menu .mobile-menu-closetop {
    position: absolute;
    right: 12%;
    top: 30px;
    color: #000;
    padding: 0;
    z-index: 99; }
    #mobile-menu .mobile-menu-closetop span {
      position: relative;
      display: block;
      margin: 0;
      padding: 0 0 0 2.6rem;
      width: 2.6rem;
      height: 2.6rem;
      text-indent: 100%;
      overflow: hidden;
      text-decoration: none;
      line-height: 2rem; }
      #mobile-menu .mobile-menu-closetop span:before {
        position: absolute;
        top: 50%;
        margin-top: -1rem;
        left: 50%;
        margin-left: -1rem;
        display: block;
        width: 2rem;
        height: 2rem;
        content: "\e36c";
        font-family: "icomoon", arial, helvetica, sans-serif;
        font-size: 2rem;
        text-indent: 0; }
  #mobile-menu .mobile-menu-closebottom {
    background-color: #fff;
    display: block;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    text-align: center;
    padding: 1em 0;
    color: #222; }
    #mobile-menu .mobile-menu-closebottom:after {
      font-family: "icomoon", arial, helvetica, sans-serif;
      content: "\e36c";
      vertical-align: bottom;
      font-size: 2rem; }
  #mobile-menu .footer-search {
    padding: 1em; }
  #mobile-menu .footer-header {
    background-color: #fff;
    color: #000;
    padding: .3em 1em;
    font-size: 1.6rem; }
    #mobile-menu .footer-header.menu-top {
      position: relative;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px; }
  #mobile-menu li {
    border-bottom: solid 1px #999; }
  #mobile-menu a {
    display: block;
    color: #fff;
    padding: .75em 1em;
    font-size: 2rem; }

#layout,
#layout-header,
#layout-content,
#layout-footer {
  position: relative; }
  #layout:after,
  #layout-header:after,
  #layout-content:after,
  #layout-footer:after {
    content: "";
    display: table;
    clear: both; }

#layout {
  background-color: #fff; }

#layout-header .header-toolbar-cart,
#layout-header .header-toolbar-account {
  display: none; }
#layout-header .header-logo {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 0;
  left: 0;
  z-index: 99;
  overflow: hidden;
  background: url(../../../Images/logo-mobile.png);
  background-size: 90px 90px; }
  #layout-header .header-logo img {
    display: none; }
#layout-header .header-cart {
  background-color: #222;
  color: #fff;
  height: 45px;
  padding-left: 100px;
  font-size: 1.8rem;
  font-weight: 300; }
  #layout-header .header-cart a {
    display: block;
    color: #fff;
    line-height: 4rem; }
    #layout-header .header-cart a:before {
      font-family: "icomoon", arial, helvetica, sans-serif;
      content: "\e0c1";
      padding-right: .5em;
      font-size: 2.6rem; }
#layout-header .header-nav {
  font-weight: 300;
  background-color: #4f616d;
  color: #fff;
  height: 45px;
  padding-left: 100px;
  font-size: 2rem; }
  #layout-header .header-nav li {
    display: none; }
  #layout-header .header-nav a {
    display: block;
    color: #fff;
    line-height: 4rem; }
#layout-header #toggle-mobilemenu {
  display: block; }
  #layout-header #toggle-mobilemenu:before {
    font-family: "icomoon", arial, helvetica, sans-serif;
    content: "\e2af";
    padding-right: .5em;
    font-size: 2.6rem; }
#layout-header .header-toolbar {
  background-color: #fff;
  color: #999; }
  #layout-header .header-toolbar ul, #layout-header .header-toolbar li {
    font-size: 1.6rem;
    list-style: none; }
  #layout-header .header-toolbar a {
    color: #999; }
#layout-header .header-toolbar-promo {
  padding: 12px 15px; }
#layout-header .header-search {
  display: none;
  padding: 1em;
  border-bottom: solid 1px #4f616d; }
  #layout-header .header-search input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background: none;
    border-radius: 3px;
    background-color: #fff;
    border: solid 1px #ccc; }

#layout-footer {
  background-color: #333;
  color: #fff; }
  #layout-footer .footer-promotion {
    padding: 1em; }
  #layout-footer .footer-sitemap {
    display: block;
    background-color: #fff; }
  #layout-footer a {
    color: #fff; }
  #layout-footer .to-top {
    background-color: #000;
    color: #fff;
    display: block;
    text-align: right;
    font-size: 1.4rem; }
    #layout-footer .to-top a {
      color: #fff;
      padding: .3em 1em; }
    #layout-footer .to-top span:after {
      font-family: "icomoon", arial, helvetica, sans-serif;
      content: "\e3b4"; }
  #layout-footer .social-share {
    padding: 10px 0; }

@media all and (max-width: 37.5em) {
  #layout-header > .container {
    padding: 0; }

  #layout-footer .container {
    padding: 0; }
  #layout-footer .to-top {
    background-color: #333;
    text-align: right; }
    #layout-footer .to-top a {
      color: #fff; }
      #layout-footer .to-top a:after {
        font-family: "icomoon", arial, helvetica, sans-serif;
        content: "\e3b4"; }
  #layout-footer > .to-top {
    background-color: #fff;
    color: #999;
    padding: .3em 1em;
    border: none; }
  #layout-footer .footer-sitemap {
    background-color: #fff; }
    #layout-footer .footer-sitemap .footer-header {
      background-color: #af0604;
      color: #fff;
      padding: .5em 1em;
      margin: 0; }
    #layout-footer .footer-sitemap li {
      font-size: 1.8rem;
      border-bottom: solid 1px #ccc; }
      #layout-footer .footer-sitemap li:last-child {
        border: none; }
    #layout-footer .footer-sitemap a {
      color: #000;
      display: block;
      padding: .8em 1em; }
    #layout-footer .footer-sitemap .to-top a {
      padding: .3em 1em;
      font-size: 1.4rem;
      color: #fff; }
  #layout-footer .footer-contact, #layout-footer .footer-promotion {
    padding: 1em; }
  #layout-footer .footer-search {
    padding: 1em; } }
/* Medium */
@media all and (min-width: 37.5em) {
  #layout-header {
    border-bottom: solid 1px #999;
    padding-bottom: 10px; }
    #layout-header #toggle-mobilemenu {
      display: none; }
    #layout-header .header-logo {
      width: 200px;
      position: relative;
      float: left;
      background: none;
      left: auto; }
      #layout-header .header-logo img {
        display: block;
        width: 100%; }
    #layout-header .header-cart {
      display: none;
      position: absolute;
      top: 20px;
      right: 1.5em;
      width: auto;
      text-align: center;
      padding: 0 1em;
      border: none;
      background: none;
      color: #222;
      font-size: 1.6rem; }
      #layout-header .header-cart a {
        color: #222; }
        #layout-header .header-cart a:before {
          font-size: 2rem; }
    #layout-header .header-nav {
      background-color: #fff;
      color: #222;
      display: block;
      font-size: 2rem;
      text-transform: uppercase;
      padding-top: 90px;
      padding-left: 0; }
      #layout-header .header-nav a {
        color: #222; }
      #layout-header .header-nav li {
        display: block;
        float: left;
        padding-right: 1.3em; }
    #layout-header .header-search {
      display: block;
      float: right;
      padding-top: 25px;
      border: none;
      position: absolute;
      right: 0;
      top: 0; }
      #layout-header .header-search form {
        position: relative; }
      #layout-header .header-search input {
        font-size: 1.6rem;
        width: 15em;
        border-color: #ccc;
        border-radius: 3px;
        padding-left: .5em;
        margin-right: 30px; }
      #layout-header .header-search button {
        width: auto;
        padding: 0;
        background: none;
        border: none;
        display: inline;
        min-width: 0;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0; }
        #layout-header .header-search button span {
          position: relative;
          display: block;
          margin: 0;
          padding: 0 0 0 2.6rem;
          width: 2.6rem;
          height: 2.6rem;
          text-indent: 100%;
          overflow: hidden;
          text-decoration: none;
          line-height: 2rem;
          color: #999; }
          #layout-header .header-search button span:before {
            position: absolute;
            top: 50%;
            margin-top: -1rem;
            left: 50%;
            margin-left: -1rem;
            display: block;
            width: 2rem;
            height: 2rem;
            content: "\e1b7";
            font-family: "icomoon", arial, helvetica, sans-serif;
            font-size: 2rem;
            text-indent: 0; }
          #layout-header .header-search button span:before {
            display: inline; }
    #layout-header .header-toolbar {
      background-color: #af0604;
      color: #fff; }
      #layout-header .header-toolbar:after {
        content: "";
        display: table;
        clear: both; }
      #layout-header .header-toolbar a {
        color: #fff; }
      #layout-header .header-toolbar ul {
        float: right;
        width: 100%; }
        #layout-header .header-toolbar ul:after {
          content: "";
          display: table;
          clear: both; }
        #layout-header .header-toolbar ul li {
          float: left; }
      #layout-header .header-toolbar .header-toolbar-account,
      #layout-header .header-toolbar .header-toolbar-cart {
        display: block;
        float: right;
        padding: 12px 1.6em; }
      #layout-header .header-toolbar .header-toolbar-promo {
        float: none;
        width: 100%;
        background-color: #faf6e9; }
        #layout-header .header-toolbar .header-toolbar-promo a {
          color: #af0604; }
      #layout-header .header-toolbar .header-toolbar-cart a {
        background-color: #7d0403;
        padding: .2em .5em;
        border-radius: 3px;
        border: solid 1px #640302; }
      #layout-header .header-toolbar .header-toolbar-cart a:after {
        font-family: "icomoon", arial, helvetica, sans-serif;
        content: "\e0c1";
        padding-left: .5em;
        font-size: 1.4rem; }

  #typeahead-results {
    display: none;
    position: absolute;
    left: -45px;
    background-color: #f2f2f2;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 15px;
    width: 100%;
    z-index: 50; }
    #typeahead-results.active {
      display: block; }
    #typeahead-results .close {
      position: absolute;
      right: 0;
      top: 0; }
      #typeahead-results .close span {
        position: relative;
        display: block;
        margin: 0;
        padding: 0 0 0 3.12rem;
        width: 3.12rem;
        height: 3.12rem;
        text-indent: 100%;
        overflow: hidden;
        text-decoration: none;
        line-height: 2.4rem;
        color: #999; }
        #typeahead-results .close span:before {
          position: absolute;
          top: 50%;
          margin-top: -1.2rem;
          left: 50%;
          margin-left: -1.2rem;
          display: block;
          width: 2.4rem;
          height: 2.4rem;
          content: "\e36c";
          font-family: "icomoon", arial, helvetica, sans-serif;
          font-size: 2.4rem;
          text-indent: 0; }
    #typeahead-results a {
      color: #000; }
    #typeahead-results li {
      padding: 5px; }

  #layout-footer {
    padding: 15px 0 30px; }
    #layout-footer .footer-search,
    #layout-footer .to-top {
      display: none; }
    #layout-footer .footer-support {
      float: right;
      width: 45%; }
    #layout-footer .footer-header {
      font-size: 1.8rem; }
    #layout-footer .footer-promotion {
      padding: 0; }
    #layout-footer .footer-sitemap {
      background: none;
      display: block;
      float: right;
      width: 55%;
      font-size: 1.4rem; }
      #layout-footer .footer-sitemap:after {
        content: "";
        display: table;
        clear: both; }
      #layout-footer .footer-sitemap .footer-container-primary,
      #layout-footer .footer-sitemap .footer-help,
      #layout-footer .footer-sitemap .footer-store {
        float: left;
        width: 33%;
        display: block; }
      #layout-footer .footer-sitemap li {
        padding: .4em 0; }
    #layout-footer .social-share ul {
      width: auto; } }
@media all and (min-width: 59.3em) {
  #layout-header .header-toolbar ul {
    display: block;
    padding: 0 1.3rem 0 1.3rem;
    position: relative;
    float: none; }
    #layout-header .header-toolbar ul:after {
      content: "";
      display: table;
      clear: both; }
  #layout-header .header-toolbar .header-toolbar-promo {
    float: left;
    width: auto;
    padding: 12px 0;
    background-color: #af0604; }
    #layout-header .header-toolbar .header-toolbar-promo a {
      color: white; }

  #layout-footer .footer-support {
    float: none;
    width: auto; }
  #layout-footer .footer-contact {
    float: right;
    width: 35%; }
  #layout-footer .footer-promotion {
    float: right;
    width: 25%;
    padding: 0 2em; }
  #layout-footer .footer-sitemap {
    display: block;
    float: right;
    width: 40%;
    font-size: 1.4rem; }
    #layout-footer .footer-sitemap:after {
      content: "";
      display: table;
      clear: both; }
    #layout-footer .footer-sitemap .footer-store {
      padding-top: 0; }
    #layout-footer .footer-sitemap li {
      padding: .4em 0; } }
  @media all and (min-width: 59.3em) and (min-width: 37.5em) {
    #layout-header .header-toolbar ul {
      padding: 0 1.6rem 0 1.6rem; } }
  @media all and (min-width: 59.3em) and (min-width: 70em) {
    #layout-header .header-toolbar ul {
      padding: 0 0 0 0;
      max-width: 70em;
      margin: 0 auto; } }
/* XLarge */
@media all and (min-width: 70em) {
  #layout-header {
    margin-bottom: 12px; }
    #layout-header .header-search input {
      width: 12em; } }
