/*********************
    Common variables
*/
/*********************
    Glyphs 
*/
/* Icon shortcuts */
/*********************
    Responsive 

    Small: 0 - 460px
    Small widescreen: 461px - 600px
    Medium: 461px - 770px
    Large: 770px - 1120px
    XLarge: 1121px+

*/
/*********************
    Utility helpers 
*/
/*********************
    Generic helpers
*/
.frame {
  padding: 0 1em;
}

/* Responsive */
@media all and (max-width: 461px) {
  .notsmall, .medium-only, .large-only {
    display: none;
  }
}
@media all and (min-width: 461px) {
  .small-only {
    display: none;
  }
}
@media all and (min-width: 461px) and (max-width: 770px) {
  .large-only {
    display: none;
  }
}
@media all and (min-width: 770px) and (1121px) {
  .medium-only {
    display: none;
  }
}
@media all and (min-width: 1121px) {
  .medium-only, .small-only {
    display: none;
  }
}
/*********************
    Module styles
*/
/*********************
    Web font definitions

    Make sure web font files are in the fonts/ folder
*/
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
