/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */
/*
 | Variables
 | Prefix all variables with base-
 |
 */
/*
 |
 | Mixins
 | 
 */
/*
 | Style Modules 
 |
 | Styles for components (often partials) that are dependent on specific elements or markup structure.
 | Uses inline media queries to keep things grouped
 |
 | 2014; Znode, Inc.
 */
/*
 | Lists
 */
.list-group ul {
  margin-bottom: 30px; }
.list-group a {
  display: block;
  font-size: 1.8rem;
  padding: .5em 0; }
.list-group .list-group-title, .list-group .list-group-title-background {
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
  border-bottom: dotted 1px #666;
  padding-bottom: 2px;
  margin-bottom: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
.list-group .list-group-title-background {
  border: none;
  background-color: #4f616d;
  color: white;
  padding: .3em 1em; }

/*
 | Status message - Part of layout
 */
#status-message {
  margin: 20px 0;
  font-size: 1.8rem;
  background-color: #fcf8e3;
  color: #333333;
  border: solid 1px #e8ca2b;
  border-radius: 4px;
  padding: 10px 20px; }
  #status-message.error {
    background-color: #f2dede;
    color: #333333;
    border: solid 1px #b84c4c; }
  #status-message.success {
    background-color: #dff0d8;
    color: #333333;
    border: solid 1px #67b646; }

/*
 | Rating Stars
 */
.star-rating .full:before {
  font-family: "icomoon", arial, helvetica, sans-serif;
  content: "\e2fe";
  display: inline;
  font-weight: normal; }
.star-rating .half:before {
  font-family: "icomoon", arial, helvetica, sans-serif;
  content: "\e2fd";
  display: inline;
  font-weight: normal; }
.star-rating .empty:before {
  font-family: "icomoon", arial, helvetica, sans-serif;
  content: "\e2fc";
  display: inline;
  font-weight: normal; }

/*
 | Product review row
 */
.product-review {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 30px; }
  .product-review .star-rating {
    display: block; }
  .product-review .review-title {
    font-weight: bold; }
  .product-review .review-meta,
  .product-review .review-body {
    padding: 0;
    margin: 0;
    list-style: none; }
  .product-review .review-meta {
    padding-bottom: 5px;
    color: #666;
    font-size: 1.4rem; }
  @media all and (min-width: 37.5em) {
    .product-review .star-rating {
      display: inline;
      margin-right: 8px; } }

/*
 | Address block
 */
.address-block {
  position: relative; }
  .address-block .address-title {
    font-weight: bold;
    color: #666; }
  .address-block .change-address {
    margin-top: 8px;
    display: block;
    text-decoration: underline;
    color: #666; }
  @media all and (max-width: 37.5em) {
    .address-block .change-address {
      font-family: arial, helvetica, sans-serif;
      background-color: #e5e5e5;
      border: solid 1px #999999;
      border-radius: 4px;
      color: black;
      text-decoration: none;
      text-align: center;
      padding: .4em 1em;
      margin: .5em 0;
      font-size: 1.8rem;
      display: block;
      width: 100%;
      display: inline;
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      font-size: 1.4rem;
      padding: .3em .5em; } }
    @media all and (max-width: 37.5em) and (min-width: 37.5em) {
      .address-block .change-address {
        padding: .3em 1em;
        display: inline-block;
        width: auto; } }

/*
 | Background image blocks; Used on category landing pages
 */
.image-promo, .image-promo-top {
  display: block;
  position: relative;
  padding: 20px 16px;
  background: url(/Images/build/bg_triangular.gif);
  background-color: #af0604;
  border-top: solid 1px white;
  overflow: hidden; }
  .image-promo img, .image-promo-top img {
    display: none; }
  .image-promo .image-promo-title, .image-promo-top .image-promo-title {
    font-weight: normal;
    font-size: 2.4rem;
    color: #fff;
    text-shadow: 1px 1px 3px #000; }
    .image-promo .image-promo-title .image-promo-summary, .image-promo-top .image-promo-title .image-promo-summary {
      display: block;
      font-size: .7em; }
  @media all and (min-width: 37.5em) {
    .image-promo, .image-promo-top {
      border: none;
      min-height: 150px; }
      .image-promo img, .image-promo-top img {
        display: block;
        position: absolute;
        top: -25px;
        left: -25px;
        z-index: 0; }
      .image-promo .image-promo-title, .image-promo-top .image-promo-title {
        position: absolute;
        bottom: 18%;
        left: 16px;
        z-index: 10; }
      .image-promo.background .image-promo-title, .background.image-promo-top .image-promo-title {
        width: 100%;
        font-size: 1.8rem;
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        background-color: #af0604;
        padding: 8px 16px;
        border-top: solid 6px #fff; } }

@media all and (min-width: 37.5em) {
  .image-promo-top .image-promo-title {
    position: absolute;
    top: 18%;
    left: 16px; }
  .image-promo-top.background .image-promo-title {
    top: 0;
    left: 0;
    bottom: auto;
    border-bottom: solid 6px #fff;
    border-top: none; } }

/*
 | Product grid list. Use with tiles.
 */
ul.product-grid {
  padding: 15px 0; }
  ul.product-grid:after {
    content: "";
    display: table;
    clear: both; }
  @media all and (max-width: 37.5em) {
    ul.product-grid .product-tile {
      padding: 15px 0;
      border-bottom: solid 1px #ccc; }
      ul.product-grid .product-tile > a:after {
        content: "";
        display: table;
        clear: both; }
      ul.product-grid .product-tile .image, ul.product-grid .product-tile .info {
        float: left;
        width: 50%; }
      ul.product-grid .product-tile .image {
        padding-right: 10px; }
      ul.product-grid .product-tile .title {
        background: none;
        color: #000;
        padding: 0; }
      ul.product-grid .product-tile .price {
        font-size: 1.6rem;
        padding: 0; } }
  @media all and (min-width: 28.75em) and (max-width: 37.5em) {
    ul.product-grid > li {
      width: 49%;
      display: inline-block;
      vertical-align: top;
      padding-right: 12px; }
    ul.product-grid .product-tile {
      padding: 10px 0 50px 0;
      border: none; }
      ul.product-grid .product-tile .image, ul.product-grid .product-tile .info {
        float: none;
        width: 100%; }
      ul.product-grid .product-tile .image {
        padding-right: 0; }
      ul.product-grid .product-tile .title {
        background: none;
        color: #000;
        padding: 0; }
      ul.product-grid .product-tile .price {
        font-size: 1.8rem;
        padding: .2em .5em; } }
  @media all and (min-width: 37.5em) {
    ul.product-grid > li {
      display: inline-block;
      vertical-align: top;
      width: 33%;
      padding-right: 12px; } }
  @media all and (min-width: 53.12em) {
    ul.product-grid > li {
      width: 19%; } }

/*
 | Product tile (in grid)
 */
.product-tile {
  padding-bottom: 60px; }
  .product-tile a {
    color: #000; }
  .product-tile .image {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 210px; }
  .product-tile img {
    width: 100%;
    max-width: 100%; }
  .product-tile .price {
    padding: .2em 0;
    font-size: 2.2rem;
    color: #af0604; }
  .product-tile .title {
    background-color: #000;
    font-size: 1.8rem;
    color: #fff;
    padding: .2em .5em; }
  @media all and (min-width: 28.75em) and (max-width: 37.5em) {
    .product-tile .title {
      background: none;
      color: #000;
      font-size: 1.8rem;
      padding: 0; }
    .product-tile .image {
      height: 210px;
      line-height: 204px; }
      .product-tile .image img {
        vertical-align: bottom; }
    .product-tile .price {
      background-color: #faf6e9;
      color: #af0604;
      font-size: 1.8rem;
      padding: .2em .5em; } }
  @media all and (min-width: 37.5em) {
    .product-tile .image {
      height: 210px;
      line-height: 204px; }
      .product-tile .image img {
        vertical-align: bottom; }
    .product-tile .title {
      background: none;
      color: #000;
      padding: 5px 0 0 0; }
    .product-tile .price {
      background-color: #faf6e9;
      color: #af0604;
      font-size: 1.8rem;
      padding: .2em .5em; } }

/*
 | Location summary block
 */
.location-summary {
  display: block;
  padding: 10px 1.3rem 10px 1.3rem;
  position: relative;
  background-color: #faf6e9;
  border-bottom: solid 1px #999; }
  .location-summary:after {
    content: "";
    display: table;
    clear: both; }
  @media all and (min-width: 37.5em) {
    .location-summary {
      padding: 10px 1.6rem 10px 1.6rem; } }
  @media all and (min-width: 70em) {
    .location-summary {
      padding: 10px 0 10px 0;
      max-width: 70em;
      margin: 0 auto; } }
  .location-summary .location-summary-title {
    font-weight: 400;
    font-size: 1.8rem; }
  @media all and (min-width: 70em) {
    .location-summary {
      background: none;
      color: #af0604;
      border-color: #af0604; }
      .location-summary .location-summary-title {
        padding-left: 1.6rem; } }

/*
 | Page location block
 */
.location {
  display: block;
  padding: 1.3rem 1.3rem 1.3rem 1.3rem;
  position: relative;
  background-color: #e5e5e5;
  color: #222;
  border-bottom: solid 1px #999;
  margin-bottom: 20px; }
  .location:after {
    content: "";
    display: table;
    clear: both; }
  @media all and (min-width: 37.5em) {
    .location {
      padding: 1.3rem 1.6rem 1.3rem 1.6rem; } }
  @media all and (min-width: 70em) {
    .location {
      padding: 1.3rem 0 1.3rem 0;
      max-width: 70em;
      margin: 0 auto; } }
  .location.with-summary {
    margin-bottom: 0; }
  .location a {
    color: #222; }
  .location .location-title {
    font-size: 3rem;
    font-weight: 400; }
  .location.no-background {
    background: none; }
    .location.no-background .location-title {
      font-weight: 700;
      color: #000; }
  @media all and (min-width: 37.5em) {
    .location {
      background-color: #af0604;
      padding: 0;
      border: none;
      color: #fff;
      margin-bottom: 20px; }
      .location a {
        color: #fff; }
      .location .location-title {
        padding: .8rem 1.6rem;
        font-size: 3rem; } }
  @media all and (min-width: 70em) {
    .location .location-title {
      padding-left: 1.6rem; }
    .location.no-background .location-title {
      padding-left: 0;
      padding-right: 0; } }

/*
 | Generic form
 */
.form .form-title {
  color: #222;
  margin: 1em 0; }
.form dl, .form dt, .form dd {
  padding: 0;
  margin: 0;
  list-style: none; }
.form dl {
  margin-bottom: 1em; }
.form dt {
  font-weight: bold;
  color: #666;
  font-size: 1.6rem;
  margin-top: 25px;
  display: block; }
  .form dt:first-child {
    margin-top: 0; }
.form dd {
  font-size: 1.8rem;
  padding-top: .2em; }
.form dd.form-error .field-validation-error {
  background-color: #c00;
  color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  padding: .2em .5em;
  border-radius: 3px;
  margin-top: 4px; }
.form dd.form-helper {
  font-size: 1.4rem;
  color: #999;
  padding-top: 0; }
.form a.form-cancel {
  color: #999;
  display: block;
  text-align: center;
  padding: 20px 0; }
  @media all and (min-width: 37.5em) {
    .form a.form-cancel {
      margin-left: 2em;
      display: inline;
      text-align: left;
      padding: 0; } }
.form .form-submit {
  background-color: #57ad68;
  border-color: #346a3f;
  color: white; }

/*
 | Social media glyphs
 */
.social-share {
  display: block; }
  .social-share ul:after {
    content: "";
    display: table;
    clear: both; }
  .social-share a {
    color: #999; }
  .social-share li {
    float: left;
    padding-right: 1rem; }
  .social-share .twitter {
    position: relative;
    display: block;
    margin: 0;
    padding: 0 0 0 3.12rem;
    width: 3.12rem;
    height: 3.12rem;
    text-indent: 100%;
    overflow: hidden;
    text-decoration: none;
    line-height: 2.4rem; }
    .social-share .twitter:before {
      position: absolute;
      top: 50%;
      margin-top: -1.2rem;
      left: 50%;
      margin-left: -1.2rem;
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      content: "\e49f";
      font-family: "icomoon", arial, helvetica, sans-serif;
      font-size: 2.4rem;
      text-indent: 0; }
  .social-share .facebook {
    position: relative;
    display: block;
    margin: 0;
    padding: 0 0 0 3.12rem;
    width: 3.12rem;
    height: 3.12rem;
    text-indent: 100%;
    overflow: hidden;
    text-decoration: none;
    line-height: 2.4rem; }
    .social-share .facebook:before {
      position: absolute;
      top: 50%;
      margin-top: -1.2rem;
      left: 50%;
      margin-left: -1.2rem;
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      content: "\e49b";
      font-family: "icomoon", arial, helvetica, sans-serif;
      font-size: 2.4rem;
      text-indent: 0; }
  .social-share .pinterest {
    position: relative;
    display: block;
    margin: 0;
    padding: 0 0 0 3.12rem;
    width: 3.12rem;
    height: 3.12rem;
    text-indent: 100%;
    overflow: hidden;
    text-decoration: none;
    line-height: 2.4rem; }
    .social-share .pinterest:before {
      position: absolute;
      top: 50%;
      margin-top: -1.2rem;
      left: 50%;
      margin-left: -1.2rem;
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      content: "\e4d6";
      font-family: "icomoon", arial, helvetica, sans-serif;
      font-size: 2.4rem;
      text-indent: 0; }
  .social-share .email {
    position: relative;
    display: block;
    margin: 0;
    padding: 0 0 0 3.12rem;
    width: 3.12rem;
    height: 3.12rem;
    text-indent: 100%;
    overflow: hidden;
    text-decoration: none;
    line-height: 2.4rem; }
    .social-share .email:before {
      position: absolute;
      top: 50%;
      margin-top: -1.2rem;
      left: 50%;
      margin-left: -1.2rem;
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      content: "\e491";
      font-family: "icomoon", arial, helvetica, sans-serif;
      font-size: 2.4rem;
      text-indent: 0; }
  .social-share .addthis {
    position: relative;
    display: block;
    margin: 0;
    padding: 0 0 0 3.12rem;
    width: 3.12rem;
    height: 3.12rem;
    text-indent: 100%;
    overflow: hidden;
    text-decoration: none;
    line-height: 2.4rem; }
    .social-share .addthis:before {
      position: absolute;
      top: 50%;
      margin-top: -1.2rem;
      left: 50%;
      margin-left: -1.2rem;
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      content: "\e35f";
      font-family: "icomoon", arial, helvetica, sans-serif;
      font-size: 2.4rem;
      text-indent: 0; }

/*
 | Total table for cart and checkout.
 */
.total-table:after {
  content: "";
  display: table;
  clear: both; }
.total-table dt, .total-table dd {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
  width: 50%;
  text-align: right;
  padding-bottom: 2px; }
.total-table .total {
  font-weight: bold; }

/*
 | Common login partial
 */
.login-form .login-form-forgotpassword {
  font-size: 1.4rem;
  color: #999;
  text-align: center;
  padding: 1em 0;
  display: block;
  text-decoration: underline; }
  @media all and (min-width: 37.5em) {
    .login-form .login-form-forgotpassword {
      text-align: left; } }
