/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */
/*
 | Variables
 | Prefix all variables with base-
 |
 */
/*
 |
 | Mixins
 | 
 */
/*
 | Product detail 
 | Includes review and bundle options imports
 |
 | 2014; Znode, Inc.
 */
#layout-product .status-outofstock {
  background-color: #c00;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  padding: 4px 8px;
  text-align: center;
  margin-top: 3px; }
#layout-product .wishlist-status {
  background-color: #57ad68;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  padding: 4px 8px;
  text-align: center;
  margin: 3px 0 10px 0; }
  #layout-product .wishlist-status a {
    color: #fff; }
    #layout-product .wishlist-status a:before {
      font-family: "icomoon", arial, helvetica, sans-serif;
      content: "\e372";
      font-weight: normal;
      padding-right: 5px; }
  #layout-product .wishlist-status.error {
    background-color: #c00; }
#layout-product .product-breadcrumb {
  display: block;
  font-size: 1.4rem;
  padding: 1em 0; }
#layout-product .product-name {
  font-weight: normal;
  font-size: 3.6rem;
  padding-bottom: 1rem;
  line-height: 1em;
  padding-top: 15px; }
#layout-product .product-price {
  font-size: 3.6rem;
  font-weight: normal;
  padding: .3em 0; }
  #layout-product .product-price .cut-price {
    text-decoration: line-through;
    color: #999;
    padding-left: 10px;
    font-size: 3rem; }
#layout-product .product-overview .button-wishlist {
  margin: 25px 0; }
#layout-product .product-images img {
  max-width: 100%; }
#layout-product .product-altimages .toggle {
  display: block;
  text-align: center;
  border-bottom: dotted 1px #999;
  padding: .5em; }
  #layout-product .product-altimages .toggle span:after {
    font-family: "icomoon", arial, helvetica, sans-serif;
    content: "\e3b6"; }
#layout-product .product-altimages ul {
  display: none;
  border-bottom: none;
  padding-top: 10px; }
  #layout-product .product-altimages ul:after {
    content: "";
    display: table;
    clear: both; }
#layout-product .product-altimages li {
  width: 25%;
  padding-right: 10px;
  float: left; }
#layout-product .product-status {
  color: #090;
  padding: 1em 0 .5em; }
#layout-product .product-rating {
  color: #666;
  margin: 0 0 10px 0; }
  #layout-product .product-rating a {
    color: #666;
    text-decoration: underline;
    padding-left: 5px; }
  #layout-product .product-rating .full:before {
    font-family: "icomoon", arial, helvetica, sans-serif;
    content: "\e2fe";
    display: inline; }
  #layout-product .product-rating .none:before {
    font-family: "icomoon", arial, helvetica, sans-serif;
    content: "\e2fc"; }
#layout-product .product-bundles {
  background-color: #faf6e9;
  border: solid 1px #ccc;
  padding: 10px;
  margin: 15px 0; }
  #layout-product .product-bundles .notice {
    font-size: 1.4rem;
    color: #999; }
  #layout-product .product-bundles ul {
    margin-top: 10px; }
#layout-product .bundle-item:after {
  content: "";
  display: table;
  clear: both; }
#layout-product .bundle-item-image {
  float: left;
  width: 64px;
  height: 64px;
  overflow: hidden;
  margin: 0 10px 10px 0;
  border: solid 1px #ccc; }
  #layout-product .bundle-item-image img {
    width: 100%; }
#layout-product .bundle-item-title {
  font-size: 1.8rem;
  font-weight: normal; }
#layout-product .product-details {
  background-color: #faf6e9;
  border-top: solid 1px #999;
  padding-bottom: 30px; }
  #layout-product .product-details .product-options {
    margin-top: 30px; }
  #layout-product .product-details .product-variations dl {
    padding: 0;
    margin: 0;
    list-style: none; }
  #layout-product .product-details .product-variations dt {
    font-weight: bold;
    padding-bottom: 2px; }
  #layout-product .product-details .product-variations dd {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 15px; }
  #layout-product .product-details .product-variations select {
    width: 100%; }
  #layout-product .product-details .product-tocart {
    margin-top: 20px; }
    #layout-product .product-details .product-tocart .price {
      font-size: 4rem;
      margin-bottom: 20px; }
      #layout-product .product-details .product-tocart .price div {
        font-color: #666;
        font-size: 1.6rem;
        font-weight: normal; }
    #layout-product .product-details .product-tocart button {
      width: 100%;
      margin: .5em 0; }
      #layout-product .product-details .product-tocart button.button-cart {
        background-color: #57ad68;
        border-color: #346a3f;
        color: white;
        font-size: 2.2rem;
        padding: .5em 0; }
      #layout-product .product-details .product-tocart button.wishlist {
        padding: .5em 0; }
    #layout-product .product-details .product-tocart .share {
      display: none; }
#layout-product .product-addons dd label {
  font-size: 1.8rem;
  margin-bottom: 12px; }
#layout-product .product-content {
  border-top: double 3px #999;
  padding: 10px 0;
  margin-top: 30px; }
  #layout-product .product-content .tabs {
    display: none; }
  #layout-product .product-content .tab-control {
    font-size: 1.8rem;
    padding: .6em 0; }
    #layout-product .product-content .tab-control a {
      color: #000; }
      #layout-product .product-content .tab-control a:after {
        font-family: "icomoon", arial, helvetica, sans-serif;
        content: "\e3b6"; }
  #layout-product .product-content .toggle {
    color: #000; }
    #layout-product .product-content .toggle:after {
      font-family: "icomoon", arial, helvetica, sans-serif;
      content: "\e3b6"; }
  #layout-product .product-content .tab-content {
    display: none;
    padding: 10px 0;
    border-bottom: solid 1px #999; }
#layout-product .product-extras {
  border-top: dotted 1px #999;
  background-color: #fff;
  padding: 1em 0; }
#layout-product .extras-yml .product-grid {
  margin: 5px 0 60px; }
  @media all and (min-width: 28.75em) and (max-width: 37.5em) {
    #layout-product .extras-yml .product-grid li {
      width: 100%;
      padding-right: 0; } }
#layout-product .extras-yml .product-tile {
  padding-bottom: 1em; }
  @media all and (min-width: 28.75em) and (max-width: 37.5em) {
    #layout-product .extras-yml .product-tile {
      min-height: 0; } }
#layout-product .extras-yml .image, #layout-product .extras-yml .price {
  display: none; }
#layout-product .extras-yml .title {
  color: #af0604;
  background: none;
  padding: 0; }

@media all and (min-width: 37.5em) {
  #layout-product {
    margin-top: 15px; }
    #layout-product .product-name {
      padding-top: 0; }
    #layout-product .product-images {
      float: left;
      width: 45%;
      padding-right: 2em; }
    #layout-product .product-details {
      margin-top: 15px; }
    #layout-product .product-overview {
      float: left;
      width: 55%; }
    #layout-product .product-options:after {
      content: "";
      display: table;
      clear: both; }
    #layout-product .product-variations {
      float: left;
      width: 50%;
      padding-right: 3.2rem; }
      #layout-product .product-variations select {
        background-color: #efefef; }
    #layout-product .product-tocart {
      float: left;
      width: 50%; }
    #layout-product .product-content {
      border: none;
      padding-right: 3.2rem; }
      #layout-product .product-content .tabs {
        display: block;
        padding: 0 1.6rem;
        border-bottom: dotted 1px #999;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-size: 1.8rem; }
        #layout-product .product-content .tabs:after {
          content: "";
          display: table;
          clear: both; }
        #layout-product .product-content .tabs a {
          color: #000; }
          #layout-product .product-content .tabs a:after {
            font-family: "icomoon", arial, helvetica, sans-serif;
            content: "\e3b6"; }
          #layout-product .product-content .tabs a.active {
            font-weight: bold; }
        #layout-product .product-content .tabs li {
          float: left;
          padding-right: .5em;
          border-right: solid 1px #000; }
          #layout-product .product-content .tabs li:last-child {
            border: none;
            padding-left: .8em; }
      #layout-product .product-content .tab-content {
        display: block;
        border-bottom: none; }
    #layout-product .product-extras {
      background-color: #fff; }
      #layout-product .product-extras .image {
        display: block; }
      #layout-product .product-extras .product-grid {
        margin: 5px 0; }
        #layout-product .product-extras .product-grid li {
          width: 25%; }
      #layout-product .product-extras .product-tile {
        padding-bottom: 1em; }
      #layout-product .product-extras .price {
        display: block;
        background: none;
        color: #666;
        padding: 0;
        font-size: 1.6rem; }
      #layout-product .product-extras .title {
        padding: 3px 0;
        font-size: 1.8rem; }
      #layout-product .product-extras .extras-fbt {
        background-color: #efefef;
        border: solid 1px #ccc;
        border-radius: 3px;
        padding: 10px 20px;
        margin-bottom: 40px; }
        #layout-product .product-extras .extras-fbt:after {
          content: "";
          display: table;
          clear: both; }
        #layout-product .product-extras .extras-fbt h4 {
          margin: 0 0 10px 0; }
        #layout-product .product-extras .extras-fbt .product-grid {
          margin-top: 0;
          padding-top: 0; }
          #layout-product .product-extras .extras-fbt .product-grid li {
            width: 49%; }
        #layout-product .product-extras .extras-fbt .product-tile {
          width: 80%;
          margin: 0 auto; }
          #layout-product .product-extras .extras-fbt .product-tile .image {
            float: left;
            width: 40%;
            border: solid 1px #ccc;
            height: auto;
            line-height: 0; }
          #layout-product .product-extras .extras-fbt .product-tile .info {
            float: left;
            width: 60%;
            padding-left: 15px; }
          #layout-product .product-extras .extras-fbt .product-tile .price {
            background: none;
            padding: 0; }
          #layout-product .product-extras .extras-fbt .product-tile .title {
            padding: 0;
            font-size: 1.8rem; }
      #layout-product .product-extras .extras-yml .product-grid {
        margin-top: 0;
        padding-top: 0; }
        #layout-product .product-extras .extras-yml .product-grid li {
          width: 19%;
          padding: 0 20px; }
      #layout-product .product-extras .extras-yml .product-tile {
        min-height: 280px; }
      #layout-product .product-extras .extras-yml .price {
        color: #999; }
      #layout-product .product-extras .extras-yml .title {
        line-height: 1.2em;
        font-weight: normal;
        color: #000; }
      #layout-product .product-extras .extras-yml .image {
        height: auto;
        line-height: 0; }
    #layout-product .product-addons dd label {
      font-size: 1.8rem;
      margin-bottom: 6px; } }
@media all and (min-width: 53.12em) {
  #layout-product .product-options {
    float: right;
    width: 60%; }
  #layout-product .product-content {
    width: 40%;
    float: right; }
  #layout-product .product-altimages .toggle {
    display: none;
    border: none; }
  #layout-product .product-variations, #layout-product .product-tocart {
    float: left;
    width: 50%; }
  #layout-product .product-altimages ul {
    border-top: dotted 1px #999;
    display: block; }
  #layout-product .product-extras .product-grid li {
    width: 20%; }
  #layout-product .product-extras .extras-fbt .product-tile {
    width: 60%;
    margin: 0; }
    #layout-product .product-extras .extras-fbt .product-tile .image {
      width: 40%; }
    #layout-product .product-extras .extras-fbt .product-tile .info {
      width: 60%; }
  #layout-product .product-extras .extras-yml .product-grid li {
    width: 18%;
    padding: 0 20px; }
  #layout-product .product-extras .extras-yml .image {
    padding-right: 60px; }
  #layout-product .product-status {
    padding: 0 0 20px 0; }
  #layout-product .product-bundles {
    width: 75%; } }
@media all and (min-width: 70em) {
  #layout-product {
    margin-top: 0; }
    #layout-product .product-bundles {
      width: 60%; } }
.touch #layout-product .social-share {
  display: none; }

/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */
/*
 | Variables
 | Prefix all variables with base-
 |
 */
/*
 |
 | Mixins
 | 
 */
/*
 | Product detail 
 | Write review form
 |
 | 2014; Znode, Inc.
 */
#layout-writereview .star-rating {
  font-size: 3.6rem; }
  #layout-writereview .star-rating label {
    margin-right: 8px;
    cursor: pointer; }
  #layout-writereview .star-rating .empty {
    color: #666; }
  #layout-writereview .star-rating .full {
    color: #FFD100; }
#layout-writereview .setrating input {
  position: absolute;
  top: 0;
  left: -9999px; }

@media all and (min-width: 53.12em) {
  #layout-writereview .star-rating {
    font-size: 3rem; } }
/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */
/*
 | Variables
 | Prefix all variables with base-
 |
 */
/*
 |
 | Mixins
 | 
 */
/*
 | Product detail 
 | Bundle options view (when add to cart)
 |
 | 2014; Znode, Inc.
 */
#layout-bundlesettings .bundle-item {
  background-color: #faf6e9;
  border: solid 1px #ccc;
  padding: 15px;
  margin-bottom: 25px; }
  #layout-bundlesettings .bundle-item:after {
    content: "";
    display: table;
    clear: both; }
  #layout-bundlesettings .bundle-item dl {
    margin-top: 15px; }
#layout-bundlesettings .bundle-item-image {
  float: left;
  width: 25%;
  overflow: hidden;
  padding-right: 15px; }
  #layout-bundlesettings .bundle-item-image img {
    width: 100%;
    border: solid 1px #ccc; }
#layout-bundlesettings .bundle-item-details {
  float: left;
  width: 75%;
  font-size: 1.8rem;
  font-weight: normal; }

@media all and (min-width: 37.5em) {
  #layout-bundlesettings .bundle-item {
    width: 80%; } }
@media all and (min-width: 53.12em) {
  #layout-bundlesettings .bundle-item {
    width: 60%; } }
