/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */
/*
 | Variables
 | Prefix all variables with base-
 |
 */
/*
 |
 | Mixins
 | 
 */
/*
 | Base reset 
 | Element-dependent styles and overrides
 |
 | 2014; Znode, Inc.
 */
/*
 | Normalize reset 
 |
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

h2 {
  font-size: 1.5em;
  margin: .83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: .83em;
  margin: 1.67em 0; }

h6 {
  font-size: .67em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu, ol, ul {
  padding: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6, ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*
 | Custom resets
 |
 */
html {
  font-size: 62.5%;
  font-family: "source_sans_pro", arial, helvetica, sans-serif;
  background-color: #333; }

body {
  font-size: 1.6rem; }

a {
  text-decoration: none; }

h4 {
  margin: .5em 0; }

h5 {
  font-size: 1.4rem;
  color: #999; }

/*
 | Form elements and controls
 |
 */
.form input,
.form-input,
.form-input-short,
.form-input-long,
select.styled,
.form textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background: none;
  font-size: 2rem;
  font-weight: normal;
  background-color: #f8f8f8;
  color: black;
  border-radius: 4px;
  border: solid 1px #b2b2b2;
  padding: .4em .5em;
  vertical-align: middle;
  width: 100%; }

@media all and (min-width: 37.5em) {
  .form input,
  .form-input,
  select.styled {
    width: 12em; }

  .form-input-short,
  .form .form-input-short {
    width: 8em; }

  .form-input-long,
  .form .form-input-long {
    width: 20em; }

  .form textarea {
    max-width: 25em; } }
.button,
.form .form-submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background: none;
  font-family: arial, helvetica, sans-serif;
  background-color: #e5e5e5;
  border: solid 1px #999999;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  text-align: center;
  padding: .4em 1em;
  margin: .5em 0;
  font-size: 1.8rem;
  display: block;
  width: 100%;
  min-width: 6em; }
  @media all and (min-width: 37.5em) {
    .button,
    .form .form-submit {
      padding: .3em 1em;
      display: inline-block;
      width: auto; } }

.button:disabled, .button-action, .button-primary {
  background-color: #999;
  color: #ccc; }

.button-action {
  background-color: #57ad68;
  border-color: #346a3f;
  color: white; }

.button-primary {
  background-color: #428bca;
  border-color: #245682;
  color: white; }

.button-small {
  font-size: 1.8rem;
  padding: .3em .75em; }

select {
  background-color: #f8f8f8;
  font-size: 2rem;
  width: 100%; }
  @media all and (min-width: 37.5em) {
    select {
      width: auto; } }

.styled-input input[type=radio] {
  display: none; }
  .styled-input input[type=radio]:checked + label:before {
    font-family: "icomoon", arial, helvetica, sans-serif;
    content: "\e438";
    color: #000; }
  .styled-input input[type=radio] + label {
    display: block;
    position: relative;
    padding-left: 2em;
    cursor: pointer; }
    .styled-input input[type=radio] + label:before {
      font-family: "icomoon", arial, helvetica, sans-serif;
      content: "\e439";
      margin-right: 10px;
      position: absolute;
      top: 2px;
      left: 5px;
      color: #666; }
.styled-input input[type=checkbox] {
  display: none; }
  .styled-input input[type=checkbox]:checked + label:before {
    font-family: "icomoon", arial, helvetica, sans-serif;
    content: "\e435";
    color: #000; }
  .styled-input input[type=checkbox] + label {
    display: block;
    position: relative;
    padding-left: 2em;
    cursor: pointer; }
    .styled-input input[type=checkbox] + label:before {
      font-family: "icomoon", arial, helvetica, sans-serif;
      content: "\e436";
      margin-right: 10px;
      position: absolute;
      top: 2px;
      left: 5px;
      color: #666; }

select.styled {
  position: relative;
  background: url(../../images/select-arrow.png) right center no-repeat #e5e5e5;
  cursor: pointer;
  padding: .4em 40px .4em 1em;
  width: 100%;
  text-indent: 0.01px;
  text-overflow: ''; }
  select.styled::-ms-expand {
    display: none; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
    select.styled {
      background-image: url(../../images/select-arrow-2x.png);
      background-size: 27px 11px; } }
  @media all and (min-width: 37.5em) {
    select.styled {
      padding: .3em 40px .3em 1em;
      width: auto; } }

/*
 | Responsive grid shortcuts
 | See base for configurable grid settings
 |
 */
.grid-row {
  position: relative; }
  .grid-row:after {
    content: "";
    display: table;
    clear: both; }

@media all and (min-width: 28.75em) and (max-width: 37.5em) {
  .grid-sw-0 {
    display: none; }

  .grid-sw-1 {
    float: left;
    width: 8.33333%; }

  .grid-sw-2 {
    float: left;
    width: 16.66667%; }

  .grid-sw-3 {
    float: left;
    width: 25%; }

  .grid-sw-4 {
    float: left;
    width: 33.33333%; }

  .grid-sw-5 {
    float: left;
    width: 41.66667%; }

  .grid-sw-6 {
    float: left;
    width: 50%; }

  .grid-sw-7 {
    float: left;
    width: 58.33333%; }

  .grid-sw-8 {
    float: left;
    width: 66.66667%; }

  .grid-sw-9 {
    float: left;
    width: 75%; }

  .grid-sw-10 {
    float: left;
    width: 83.33333%; }

  .grid-sw-11 {
    float: left;
    width: 91.66667%; }

  .grid-sw-12 {
    float: none;
    width: 100%; }

  .grid-sw-right {
    float: right; } }
@media all and (min-width: 37.5em) {
  .grid-m-0 {
    display: none; }

  .grid-m-1 {
    float: left;
    width: 8.33333%; }

  .grid-m-2 {
    float: left;
    width: 16.66667%; }

  .grid-m-3 {
    float: left;
    width: 25%; }

  .grid-m-4 {
    float: left;
    width: 33.33333%; }

  .grid-m-5 {
    float: left;
    width: 41.66667%; }

  .grid-m-6 {
    float: left;
    width: 50%; }

  .grid-m-7 {
    float: left;
    width: 58.33333%; }

  .grid-m-8 {
    float: left;
    width: 66.66667%; }

  .grid-m-9 {
    float: left;
    width: 75%; }

  .grid-m-10 {
    float: left;
    width: 83.33333%; }

  .grid-m-11 {
    float: left;
    width: 91.66667%; }

  .grid-m-12 {
    float: none;
    width: 100%; }

  .grid-m-right {
    float: right; } }
@media all and (min-width: 53.12em) {
  .grid-l-0 {
    display: none; }

  .grid-l-1 {
    float: left;
    width: 8.33333%; }

  .grid-l-2 {
    float: left;
    width: 16.66667%; }

  .grid-l-3 {
    float: left;
    width: 25%; }

  .grid-l-4 {
    float: left;
    width: 33.33333%; }

  .grid-l-5 {
    float: left;
    width: 41.66667%; }

  .grid-l-6 {
    float: left;
    width: 50%; }

  .grid-l-7 {
    float: left;
    width: 58.33333%; }

  .grid-l-8 {
    float: left;
    width: 66.66667%; }

  .grid-l-9 {
    float: left;
    width: 75%; }

  .grid-l-10 {
    float: left;
    width: 83.33333%; }

  .grid-l-11 {
    float: left;
    width: 91.66667%; }

  .grid-l-12 {
    float: none;
    width: 100%; }

  .grid-l-right {
    float: right; } }
@media all and (min-width: 70em) {
  .grid-xl-0 {
    display: none; }

  .grid-xl-1 {
    float: left;
    width: 8.33333%; }

  .grid-xl-2 {
    float: left;
    width: 16.66667%; }

  .grid-xl-3 {
    float: left;
    width: 25%; }

  .grid-xl-4 {
    float: left;
    width: 33.33333%; }

  .grid-xl-5 {
    float: left;
    width: 41.66667%; }

  .grid-xl-6 {
    float: left;
    width: 50%; }

  .grid-xl-7 {
    float: left;
    width: 58.33333%; }

  .grid-xl-8 {
    float: left;
    width: 66.66667%; }

  .grid-xl-9 {
    float: left;
    width: 75%; }

  .grid-xl-10 {
    float: left;
    width: 83.33333%; }

  .grid-xl-11 {
    float: left;
    width: 91.66667%; }

  .grid-xl-12 {
    float: none;
    width: 100%; }

  .grid-xl-right {
    float: right; } }
/*
 | Web fonts and glyphs
 |
 */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.svg#icomoon") format("svg"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'source_sans_pro';
  src: url("fonts/sourcesanspro-light-webfont.eot");
  src: url("fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sourcesanspro-light-webfont.woff") format("woff"), url("fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("fonts/sourcesanspro-light-webfont.svg#source_sans_proregular") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'source_sans_pro';
  src: url("fonts/sourcesanspro-regular-webfont.eot");
  src: url("fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'source_sans_pro';
  src: url("fonts/sourcesanspro-bold-webfont.eot");
  src: url("fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("fonts/sourcesanspro-bold-webfont.ttf") format("truetype"), url("fonts/sourcesanspro-bold-webfont.svg#source_sans_proregular") format("svg");
  font-weight: 700;
  font-style: normal; }
