/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */
/*
 | Variables
 | Prefix all variables with base-
 |
 */
/*
 |
 | Mixins
 | 
 */
/*
 | Search view, category browsing 
 |
 | 2014; Znode, Inc.
 */
#layout-search .search-title {
  margin-bottom: 0; }
#layout-search .search-filterdescription {
  font-size: 1.8rem;
  color: #000;
  padding: 10px 0; }
#layout-search .search-appliedfilters {
  border-bottom: solid 1px #999;
  padding: .5em 0;
  font-size: 1.4rem; }
  #layout-search .search-appliedfilters .search-info .search-sorting {
    display: none; }
  #layout-search .search-appliedfilters ul:after {
    content: "";
    display: table;
    clear: both; }
  #layout-search .search-appliedfilters ul li {
    float: left; }
  #layout-search .search-appliedfilters a {
    display: block;
    color: #999;
    padding-right: 12px; }
    #layout-search .search-appliedfilters a:after {
      font-family: "icomoon", arial, helvetica, sans-serif;
      content: "\e36c";
      padding-left: 3px; }
#layout-search .search-filters {
  padding-top: 20px; }
  #layout-search .search-filters #toggle-filters a {
    color: #000; }
  #layout-search .search-filters #toggle-filters a:after {
    font-family: "icomoon", arial, helvetica, sans-serif;
    content: "\e3b6"; }
  #layout-search .search-filters #search-filterlist {
    display: none; }
#layout-search .list-group-title-background {
  font-weight: bold;
  background-color: #4f616d;
  color: #fff;
  padding: .2em .5em;
  font-size: 1.4rem; }
#layout-search .filter-list {
  font-size: 1.8rem;
  margin-bottom: 20px; }
  #layout-search .filter-list a {
    display: block;
    padding: .5em 0; }
  #layout-search .filter-list sup {
    color: #999; }
#layout-search .search-sorting {
  padding: 20px 0; }
  #layout-search .search-sorting select {
    width: 100%;
    font-size: 2rem;
    background-color: #efefef; }
#layout-search .search-pagination ul:after {
  content: "";
  display: table;
  clear: both; }
#layout-search .search-pagination .search-more-nav {
  float: left;
  width: 50%;
  text-align: center;
  padding-right: 10px; }
  #layout-search .search-pagination .search-more-nav:last-child {
    padding-left: 10px;
    padding-right: 0; }
#layout-search .search-more-pages {
  text-align: center;
  padding: 10px 0; }
#layout-search .search-results-wait {
  text-align: center;
  font-size: 2.4rem;
  color: #999;
  padding: 30px 0; }

@media all and (min-width: 37.5em) {
  #layout-search .search-pagination {
    border-top: solid 1px #999;
    padding: 30px 0; }
    #layout-search .search-pagination ul {
      width: 50%;
      margin: 0 auto; }
    #layout-search .search-pagination .search-more-nav {
      width: 40%;
      text-align: center; }
    #layout-search .search-pagination .button {
      display: inline; }
  #layout-search .search-more-pages {
    float: left;
    font-size: 1.8rem;
    padding: 0;
    vertical-align: middle; }
  #layout-search .search-filterdescription {
    padding-bottom: 0; }
  #layout-search .search-info {
    padding-bottom: 10px; }
    #layout-search .search-info:after {
      content: "";
      display: table;
      clear: both; } }
@media all and (min-width: 53.12em) {
  #layout-search .search-rail {
    float: left;
    width: 20%; }
  #layout-search .search-results {
    float: left;
    width: 80%;
    padding-left: 3rem; }
    #layout-search .search-results .product-grid li {
      width: 24%; }
    #layout-search .search-results .search-sorting {
      display: none; }
  #layout-search .search-filters #toggle-filters {
    display: none; }
  #layout-search .search-filters #search-filterlist {
    display: block; }
  #layout-search .search-info {
    position: relative;
    border-bottom: solid 1px #999; }
    #layout-search .search-info .search-sorting {
      display: block; }
  #layout-search .search-sorting {
    float: right;
    padding: 0; }
  #layout-search .filter-list {
    font-size: 1.6rem; }
  #layout-search .search-filterdescription {
    padding-bottom: 0; }
  #layout-search .search-appliedfilters {
    border-bottom: none;
    font-size: 1.6rem;
    float: left;
    padding: 0; }
    #layout-search .search-appliedfilters ul {
      width: 100%; }
    #layout-search .search-appliedfilters a {
      color: #999;
      padding: .5em 1em .5em 0; }
      #layout-search .search-appliedfilters a:after {
        font-family: "icomoon", arial, helvetica, sans-serif;
        content: "\e36c";
        padding-left: 3px; } }
