/*
|	BASE PARTIAL
|	Should include all variables and mixins
*/
/*
|   EXAMPLE TEMPLATE
|   Styles for template view only. For reference only.
|
*/
#layout-example h6 {
  background-color: #E8E8E8;
  font-family: arial;
  font-size: 2rem;
  padding: 1em;
  color: #999;
  margin: 20px 0;
  text-transform: uppercase; }
#layout-example .example-promosquare {
  background-image: url(../../images/bg_apple.jpg); }
  @media all and (min-width: 37.5em) {
    #layout-example .example-promosquare {
      height: 250px;
      width: 300px;
      margin: 10px 0; } }
