﻿


@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels

@model CategoryListViewModel


 <nav class="home-shortcuts home-column">
 <ul>
     @{
         if (Model != null && Model.Categories.Count > 0)
         {

             for (int index = 0; index < Model.Categories.Count; index++)
             {
                 <li><a href="@Url.GetCategoryUrl(Model.Categories[index].SEOPageName, Model.Categories[index].CategoryName)"> Shop @WebUtility.HtmlDecode(Model.Categories[index].CategoryName)</a></li>

                 if (index == 3)
                 {
                     break;
                 }
             }
         }
     }
 </ul>
     </nav>

        
 