﻿@{
	ViewBag.Title = "Contact";
}

<hgroup class="title">
	<h1>@ViewBag.Title.</h1>
	<h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
	<header>
		<h3>@Resources.ZnodeResource.TitlePhone</h3>
	</header>
	<p>
		<span class="label">@Resources.ZnodeResource.TextMainPhone</span>
		<span>@Resources.ZnodeResource.TextMainPhoneNumber</span>
	</p>
	<p>
		<span class="label">@Resources.ZnodeResource.TextAfterHours</span>
		<span>@Resources.ZnodeResource.TextAfterHoursNumber</span>
	</p>
</section>

<section class="contact">
	<header>
		<h3>@Resources.ZnodeResource.TitleEmail</h3>
	</header>
	<p>
		<span class="label">@Resources.ZnodeResource.ColumnSupport</span>
		<span><a href="mailto:Support@example.com">@Resources.ZnodeResource.ColumnSupportEmail</a></span>
	</p>
	<p>
		<span class="label">@Resources.ZnodeResource.ColumnMarketing</span>
		<span><a href="mailto:Marketing@example.com">@Resources.ZnodeResource.ColumnMarketingEmail</a></span>
	</p>
	<p>
		<span class="label">@Resources.ZnodeResource.ColumnGeneral</span>
		<span><a href="mailto:General@example.com">@Resources.ZnodeResource.ColumnGeneralEmail</a></span>
	</p>
</section>

<section class="contact">
	<header>
		<h3>@Resources.ZnodeResource.ColumnAddress</h3>
	</header>
	<p>
		@Resources.ZnodeResource.ColumnAddressValue
	</p>
</section>
