﻿@using Znode.Engine.MvcDemo.ViewModels

@model GiftCardViewModel

<div id="layout-giftcardcheck">
    <div class="location">
        <h1 class="location-title">@Resources.ZnodeResource.ColumnGiftCardBalance
        </h1>
    </div>
    <div class="container">
        <p>
            @Resources.ZnodeResource.SubTextGiftCardBalance <a href="/home/contentpage" class="underline">@Resources.ZnodeResource.LinkTextNeedMoreGiftCard</a>
        </p>
		<div id="giftcard-balance-result"></div>
        <form id="giftcard-balance-form" class="form">
            <dl>
                <dt><label for="gitcard_number">@Resources.ZnodeResource.ColumnGiftCardNumber</label></dt>
                <dd><input type="text" id="giftcard_number" name="giftcard" class="form-input" /></dd>
                <dd class="form-error"></dd>
            </dl>
            <p>
                <button type="submit" class="button button-primary">@Resources.ZnodeResource.ButtonCheckBalance</button>
            </p>
        </form>
    </div>
</div>
<script type="text/template" id="tmpl-giftcardbalance">
    <div class="frame">
        <strong>@Resources.ZnodeResource.ColumnBalanceonGiftCard</strong>
        <h3>{{amount}}</h3>
    </div>
</script>
