﻿
<div id="layout-home">
	<a href="/Category?category=Fruit" class="container home-promo-primary">
	    <div class="home-promo">
	        @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "MVCDemoSplash" }); }
	        @*<img src="/Images/t.gif" data-src="/Images/splash-apples-large.jpg" data-small="/Images/splash-apples-small.jpg" />*@

            <div class="flexslider">
              <ul class="slides">
                <li>
                  <img src="/Images/t.gif" data-src="/Images/splash-apples-large.jpg" data-small="/Images/splash-apples-small.jpg"  />
                </li>
                <li>
                  <img src="/Images/t.gif" data-src="/Images/bg-wine-large.jpg" data-small="/Images/bg-wine-large.jpg"  />
                </li>
                <li>
                  <img src="/Images/t.gif" data-src="/Images/splash-apples-large.jpg" data-small="/Images/splash-apples-small.jpg"  />
                </li>
                <li>
                  <img src="/Images/t.gif" data-src="/Images/bg-wine-large.jpg" data-small="/Images/bg-wine-large.jpg"  />
                </li>
              </ul>
            </div>
	    </div>
	    
	</a>
	<a href="/Category?category=Wine" class="home-wide-promo container">
		<span class="home-promo-title">Save 10% on our wide selection of wines</span>
	</a>
    <div class="home-promo-secondary">
          @{ Html.RenderAction("GetCategories", "Category"); }
        <div class="home-column">
            @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "MVCDemoHomePageLeftSlot" }); }
        </div>
        <div class="home-column">
           @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "MVCDemoHomePageRightSlot" }); }
        </div>
    </div>

    <div class="home-products container">
        <h3 class="home-header"><span>Popular items</span></h3>
        @{ Html.RenderAction("GetHomePageSpecials", "Product"); }
    </div>
    
</div>

@*Slider Banner Script*@
<script src="~/Scripts/flexslider.js"></script>
<script type="text/javascript">   
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
</script>
