﻿
<div id="layout-home">
	
    <div class="home-promo-secondary">
       
        <div class="home-column">
            @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "MVCDemoHomePageLeftSlot" }); }
        </div>
        <div class="home-column">
           @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "MVCDemoHomePageRightSlot" }); }
        </div>
    </div>

    <div class="home-products container">
        <h3 class="home-header"><span>Popular items</span></h3>
        @{ Html.RenderAction("GetHomePageSpecials", "Product"); }
    </div>
    
    <div class="home-products container">
		<h3 class="home-header"><span>Popular items</span></h3>
	       @{ Html.RenderAction("GetProductsByIds", "Product",
	           new {ids = "302,303,304,305,306"}); }
	</div>
    
</div>
