﻿
<div id="layout-home">
    <script>
        $(function() {
            $.get("/ProductAsync/GetConfigs", { "key": "MVCDemoHomePageLeftSlot" }, function (response) {
                $("#a").append(response);
                App.global.lazyLoadImages("#a");
            });

            $.get("/ProductAsync/GetConfigs", { "key": "MVCDemoHomePageRightSlot" }, function (response) {
                $("#b").append(response);
                App.global.lazyLoadImages("#b");
            });

            $.get("/ProductAsync/GetHomePageSpecials", false, function(response) {
                $("#c").append(response);
                App.global.lazyLoadImages("#c");
            });

            $.get("/ProductAsync/GetProductsByIds", { "ids": "302,303,304,305,306" }, function(response) {
                $("#d").append(response);
                App.global.lazyLoadImages("#d");
            });
        });
    </script>
    <div id="a"></div>
    <div id="b"></div>
    <div id="c"></div>
    <div id="d"></div>
</div>
