﻿@model Znode.Engine.MvcAdmin.ViewModels.CatalogListViewModel

@{
    ViewBag.Title = "AddCatalog";
}

<h2>AddCatalog</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CatalogListViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        @{
    var grid = new WebGrid(rowsPerPage: 5);
    grid.Bind(Model.Categories);
    grid.Pager(WebGridPagerModes.NextPrevious);
        }
        <div id="grid">
            @grid.GetHtml(
 htmlAttributes: new { id = "grid", @class = "table" },
 fillEmptyRows: false,
 mode: WebGridPagerModes.All,
 firstText: "<< First",
 previousText: "< Prev",
 nextText: "Next >",
 lastText: "Last >>",
 columns: new[] {
 grid.Column(header: "ID",format: @<span> <span id="spanName_@item.CategoryId">@item.CategoryId</span></span>), 
 grid.Column(header: "Name",format: @<span> <span id="spanName_@item.Name">@item.Name</span></span>), 
 grid.Column(header: "Display Order",format: @<span> <span id="spanDisplayOrder_@item.DisplayOrder">@item.DisplayOrder</span></span>), 
 grid.Column(header: "Enabled",format: @<span> <span id="spanEnabled_@item.IsVisible">@item.IsVisible</span></span>), 
 grid.Column(header: "Action",format:@<text> <a href="#" id="Edit_@item.CategoryId" class="edit">Edit</a></text>), 
    grid.Column(header: "",format:@<text><a href="#" id="Delete_@item.CategoryId" class="delete">Delete</a></text>)
})
        </div>



        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
