﻿@model Znode.Engine.MvcAdmin.ViewModels.CatalogListViewModel

@{
    ViewBag.Title = "CatalogList";
}

<h2>CatalogList</h2>
@{
    var grid = new WebGrid(rowsPerPage: 5);
    grid.Bind(Model.Catalogs);
    grid.Pager(WebGridPagerModes.NextPrevious);
}
<div id="grid" >
    @grid.GetHtml(
 htmlAttributes: new { id = "grid", @class="table" },
 fillEmptyRows: false,
 mode: WebGridPagerModes.All,
 firstText: "<< First",
 previousText: "< Prev",
 nextText: "Next >",
 lastText: "Last >>",
 columns: new[] {
 grid.Column("CatalogId",header: "ID", canSort: true), 
 grid.Column(header: "Name",format: @<span> <span id="spanName_@item.CatalogId">@item.Name</span></span>), 
 grid.Column(header: "IsActive",format: @<span> <span id="spanIsActive_@item.CatalogId">@item.IsActive</span></span>), 
 grid.Column(header: "Action",format:@<text> <a href="#" id="Edit_@item.CatalogId" class="edit">Manage</a></text>),
   grid.Column(header: "",format:@<text> <a href="#" id="Copy_@item.CatalogId" style="display:block" class="copy">Copy</a></text>),
    grid.Column(header: "",format:@<text><a href="#" id="Delete_@item.CatalogId" class="delete">Delete</a></text>)
})
    
</div>
