<%@ Control Language="c#" Inherits="Znode.Engine.MallAdmin.Spacer" Codebehind="Spacer.ascx.cs" %>
<asp:Image id="imgClear" runat="server" ImageUrl="~/MallAdmin/Themes/images/clear.gif"></asp:Image><br/>
