﻿@model Znode.Engine.MvcAdmin.ViewModels.AttributesListViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleStoreManagement;
    var attributeTypeId = ViewContext.Controller.ValueProvider.GetValue("id").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string attibuteTypeName = Equals(Model.Attributes[0].AttributeTypeName, null) ? string.Empty : Model.Attributes[0].AttributeTypeName;
}
<h2>@ZnodeResources.HeaderAttributeValue @attibuteTypeName</h2>
<h3>@ZnodeResources.SubHeaderAttributeValueList </h3>
<div class="container">
    <div class="col-md-12">
        <div>
            <button type="button" class="btn-text grey" onclick="javascript: location.href = '/AttributeTypes/List';">@ZnodeResources.ButtonBackToAttribute</button>
            <button type="button" class="btn-text grey" onclick="javascript: location.href = '/AttributeTypes/createAttribute/@attributeTypeId';">@ZnodeResources.ButtonAddValue</button>
        </div>

        @{
            var grid = new WebGrid(rowsPerPage: 5);
            if (!Equals(Model, null) && !Equals(Model.Attributes, null))
            {
                grid.Bind(Model.Attributes);
                grid.Pager(WebGridPagerModes.NextPrevious);
            }
        }

        @if (Model != null)
        {
            <div id="grid">
                @grid.GetHtml(
 htmlAttributes: new { id = "grid", @class = "table" },
 fillEmptyRows: false,
 mode: WebGridPagerModes.All,
 firstText: "<< First",
 previousText: "< Prev",
 nextText: "Next >",
 lastText: "Last >>",
 columns: new[] {
            grid.Column("AttributeId",header: "ID", canSort: true),
            grid.Column(header:  ZnodeResources.LabelName,format: @<span> <span id="spanName_@item.AttributeId">@item.Name</span></span>),
            grid.Column(header: ZnodeResources.LabelAttributeValueDisplayOrder,format: @<span> <span id="spanName_@item.AttributeId">@item.DisplayOrder</span></span>),
            grid.Column(header: ZnodeResources.LabelAction,format:@<text>@Html.ActionLink(ZnodeResources.LabelEdit, ZnodeResources.LabelEdit + "Attribute", new { @id = @item.AttributeId })</text>),
            grid.Column(header: "",format:@<text>@Html.Raw("<span class='delete-link' onclick='CommonHelper.BindDeleteConfirmDialog(\" " + ZnodeResources.ConfirmDeleteTitle + "\", \" " + ZnodeResources.ConfirmDeleteMessage + "\", \"/" + controllerName + "/DeleteAttribute/" + @item.AttributeId + "\");'>" + ZnodeResources.LabelDelete + "</span>")</text>)
                })
            </div>
        }
    </div>
</div>
