﻿@model Znode.Engine.MvcAdmin.ViewModels.AttributesViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleStoreManagement;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var attributeTypeId = ViewContext.Controller.ValueProvider.GetValue("id").RawValue.ToString();

}

@{
    if (actionName.ToLower().Contains("create"))
    {
        <h2>@ZnodeResources.SubHeaderAddNewAttributeValue</h2>
    }
    else
    {
        <h2>@ZnodeResources.SubHeaderEditAttributeValue</h2>
    }
}

@using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
{
    <div class="col-sm-6">
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "required" })
            @Html.TextBoxFor(model => model.Name, new { @maxlength = 50 })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DisplayOrder, new { @class = "required" })
            @Html.TextBoxFor(model => model.DisplayOrder, new { @maxlength = 4 })
            @Html.ValidationMessageFor(model => model.DisplayOrder)
        </div>
        @Html.HiddenFor(model => model.AttributeId)
        @Html.HiddenFor(model => model.AttributeTypeId)

        <button type="submit" class="btn-text red"> @ZnodeResources.ButtonSubmitRequest</button>
        <button type="button" class="btn-text grey" onclick="javascript: location.href = '/AttributeTypes/AttributeValueList/@attributeTypeId';">@ZnodeResources.ButtonCancel</button>
    </div>
}
