﻿@model Znode.Engine.MvcAdmin.ViewModels.AttributeTypesViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleStoreManagement;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

@{
    if (actionName.ToLower().Equals("create"))
    {
        <h2>@ZnodeResources.SubHeaderAddNewAttributeType</h2>
    }
    else
    {
        <h2>@ZnodeResources.SubHeaderEditAttributeType</h2>
    }
}

@using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
{
    <div class="col-sm-6">
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "required" })
            @Html.TextBoxFor(model => model.Name, new { @maxlength = 50 })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DisplayOrder, new { @class = "required" })
            @Html.TextBoxFor(model => model.DisplayOrder, new { @maxlength = 4 })
            @Html.ValidationMessageFor(model => model.DisplayOrder)
        </div>

        @if (actionName.ToLower().Equals("edit"))
        {
            @Html.HiddenFor(model => model.AttributeTypeId)
            @Html.HiddenFor(model => model.LocaleId)
        }

        <button type="submit" class="btn-text red"> @ZnodeResources.ButtonSubmitRequest</button>
        <button type="button" class="btn-text grey" onclick="javascript: location.href = '/AttributeTypes/List/';">@ZnodeResources.ButtonCancel</button>
    </div>
}
