﻿@model Znode.Engine.MvcAdmin.ViewModels.AttributeTypesListViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleStoreManagement;
}
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<h2>@ZnodeResources.HeaderAttributeTypes</h2>
<h4>@ZnodeResources.AttributeTypeSubMessage</h4>
@{
    var grid = new WebGrid(rowsPerPage: 5);
    grid.Bind(Model.AttributeType);
    grid.Pager(WebGridPagerModes.NextPrevious);
}

<div class="container">
    <div class="col-md-12">
        <div>
            <button type="button" class="btn-text grey" onclick="javascript: location.href = '/AttributeTypes/Create';">@ZnodeResources.ButtonAddNewAttributeType</button>
        </div>
        <h3>@ZnodeResources.SubHeaderAttributeList</h3>
        <div id="grid">
            @grid.GetHtml(
 htmlAttributes: new { id = "grid", @class = "table" },
 fillEmptyRows: false,
 mode: WebGridPagerModes.All,
 firstText: "<< First",
 previousText: "< Prev",
 nextText: "Next >",
 lastText: "Last >>",
 columns: new[] {
            grid.Column("AttributeTypeId",header: "ID", canSort: true),
            grid.Column(header: ZnodeResources.LabelName,format: @<span> <span id="spanName_@item.AttributeTypeId">@item.Name</span></span>),
            grid.Column(header:  ZnodeResources.LabelDisplayOrder,format: @<span> <span id="spanName_@item.AttributeTypeId">@item.DisplayOrder</span></span>),
            grid.Column(header: ZnodeResources.LabelAction,format:@<text>@Html.ActionLink(ZnodeResources.LabelSeeValues, "AttributeValueList", new { @id = @item.AttributeTypeId, @name = @item.Name })</text>),
            grid.Column(header: "",format:@<text>@Html.ActionLink(ZnodeResources.LabelEdit, ZnodeResources.LabelEdit, new { @id = @item.AttributeTypeId }, new {  @title = @item.Name })</text>),
            grid.Column(header: "",format:@<text>@Html.Raw("<span class='delete-link' onclick='CommonHelper.BindDeleteConfirmDialog(\" " + ZnodeResources.ConfirmDeleteTitle + "\", \" " + ZnodeResources.ConfirmDeleteMessage + "\", \"/" + controllerName + "/" + ZnodeResources.LabelDelete + "/" + @item.AttributeTypeId + "\");'>" + ZnodeResources.LabelDelete + "</span>")</text>)
            })

        </div>
    </div>
</div>
