@using System.Configuration
@model Znode.Framework.Api.HelpPage.Models.HelpPageApiModel

@{ 
    var description = Model.ApiDescription;
    var hasParameters = description.ParameterDescriptions.Count > 0;
	var hasRequestSamples = Model.SampleRequests.Count > 0;
	var hasResponseSamples = Model.SampleResponses.Count > 0;
	var hasExpands = Model.Expands.Count > 0;
	var hasFilters = Model.Filters.Count > 0;
	var hasSorts = Model.Sorts.Count > 0;
	var hasPaging = Model.Page.Count > 0;
}

@functions
{
	private string GetExpandUsage(string method, string relativePath, string key)
	{
		return String.Format("{0} {1}?expand={2}", method, relativePath, key);
	}
	
	private string GetFilterUsage(string method, string relativePath, string key)
	{
		var sep = ConfigurationManager.AppSettings["UriKeyValueSeparator"];
		var op = "{operator}";
		var value = "{value}";

		return String.Format("{0} {1}?filter={2}{3}{4}{5}{6}", method, relativePath, key, sep, op, sep, value);
	}

	private string GetSortUsage(string method, string relativePath, string key)
	{
		return String.Format("{0} {1}?sort={2}", method, relativePath, key);
	}
	
	private string GetPagingUsage(string method, string relativePath, string key)
	{
		var sep = ConfigurationManager.AppSettings["UriKeyValueSeparator"];
		var value = "{value}";

		return String.Format("{0} {1}?page={2}{3}{4}", method, relativePath, key, sep, value);
	}
}

<h1>@description.HttpMethod.Method @description.RelativePath</h1>

<div>
    @if (description.Documentation != null)
    {
        <p class="description">@description.Documentation</p>
    }
    else
    {
        <p>No documentation available.</p>
    }

    @if (hasParameters || hasExpands || hasFilters || hasSorts || hasPaging || hasRequestSamples)
    {
	    <h2>Request Information</h2>
		
        if (hasParameters)
        {
            <h3>&raquo; Parameters</h3>
            @Html.DisplayFor(apiModel => apiModel.ApiDescription.ParameterDescriptions, "Parameters")
        }

	    if (hasExpands)
	    {
		    <h3>&raquo; Expands</h3>
			<table class="help-page-table">
				<thead>
					<tr>
						<th width="20%">Name</th>
						<th width="40%">Description</th>
						<th width="40%">Usage</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var expand in Model.Expands.OrderBy(item => item.Key))
					{
						<tr>
							<td><strong>@expand.Key</strong></td>
							<td>@expand.Value</td>
							<td>@GetExpandUsage(description.HttpMethod.Method, description.RelativePath, expand.Key.ToLower())</td>
						</tr>
					}
				</tbody>
			</table>
			//@Html.DisplayFor(m => Model, "Expands")
	    }
		
	    if (hasFilters)
	    {
		    <h3>&raquo; Filters</h3>
			<table class="help-page-table">
				<thead>
					<tr>
						<th width="20%">Name</th>
						<th width="40%">Description</th>
						<th width="40%">Usage</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var filter in Model.Filters.OrderBy(item => item.Key))
					{
						<tr>
							<td><strong>@filter.Key</strong></td>
							<td>@filter.Value</td>
							<td>@GetFilterUsage(description.HttpMethod.Method, description.RelativePath, filter.Key.ToLower())</td>
						</tr>
					}
				</tbody>
			</table>
			//@Html.DisplayFor(apiModel => apiModel.Filters, "Filters")
	    }
		
	    if (hasSorts)
	    {
		    <h3>&raquo; Sorting</h3>
			<table class="help-page-table">
				<thead>
					<tr>
						<th width="20%">Name</th>
						<th width="40%">Description</th>
						<th width="40%">Usage</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var sort in Model.Sorts.OrderBy(item => item.Key))
					{
						<tr>
							<td><strong>@sort.Key</strong></td>
							<td>@sort.Value</td>
							<td>@GetSortUsage(description.HttpMethod.Method, description.RelativePath, sort.Key.ToLower())</td>
						</tr>
					}
				</tbody>
			</table>
			//@Html.DisplayFor(apiModel => apiModel.Sorts, "Sorting")
	    }
		
	    if (hasPaging)
	    {
		    <h3>&raquo; Paging</h3>
			<table class="help-page-table">
				<thead>
					<tr>
						<th width="20%">Name</th>
						<th width="40%">Description</th>
						<th width="40%">Usage</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var page in Model.Page.OrderBy(item => item.Key))
					{
						<tr>
							<td><strong>@page.Key</strong></td>
							<td>@page.Value</td>
							<td>@GetPagingUsage(description.HttpMethod.Method, description.RelativePath, page.Key.ToLower())</td>
						</tr>
					}
				</tbody>
			</table>
			//@Html.DisplayFor(apiModel => apiModel.Page, "Paging")
	    }
		
        if (hasRequestSamples)
        {
            <h3>Request Body Formats</h3>
            @Html.DisplayFor(apiModel => apiModel.SampleRequests, "Samples")
        }
    } 

    @if (hasResponseSamples)
    {
        <h2>Response Information</h2> 
	    <h3>&raquo; Response Body Formats</h3>
		<p class="description">If this endpoint supports expands, they will be included in the sample response body below. However, please note that expands are NOT included in the response body by default. Expands are only included in the response body if they came through as part of the request.</p>
        @Html.DisplayFor(apiModel => apiModel.SampleResponses, "Samples")
    }
</div>