@model Dictionary<string, string>

<table class="help-page-table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var sort in Model.OrderBy(item => item.Key))
		{
			<tr>
				<td class="parameter-name"><strong>@sort.Key.ToLower()</strong></td>
				<td class="parameter-documentation">@sort.Value</td>
			</tr>
		}
	</tbody>
</table>
