﻿<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/Checkout/CheckoutMultipleAddress.ascx" TagName="Cart" TagPrefix="ZNode" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">

   <div class="ContentContainer"><ZNode:Cart ID="uxCart" runat="server"  Visible="true"/></div>
</asp:Content>