﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@model CartItemViewModel

@*
    This is used for both cart and checkout needs so some elements will toggle based
    on view. This toggling is currently handled via CSS. 
*@

<ul class="cart-item">
    <li class="cart-item-info">
        <div class="cart-item-image"><a href="@Url.GetProductUrl(Model.Product.SeoPageName, Model.Product.ProductId.ToString())">
            <img src="@Model.ImagePath" alt="@WebUtility.HtmlDecode(Model.Product.Name)" /></a></div>
        <div class="cart-item-details">
            <a href="@Url.GetProductUrl(Model.Product.SeoPageName, Model.Product.ProductId.ToString())" class="cart-item-title">@WebUtility.HtmlDecode(Model.Product.Name)</a>
            <div class="cart-item-description">@Html.Raw(@Model.Description)</div>
            @using (Html.BeginForm("RemoveItem", "Cart", FormMethod.Post))
            {
                @Html.Hidden("guid", @Model.ExternalId)
                <a href="#" class="cart-item-remove" style="width:150px;">@Resources.ZnodeResource.LinkTextRemoveItem</a>
            }
            <a href="/cart" class="cart-item-edit">@Resources.ZnodeResource.LinkTextEditCart</a>
            @if (Model.InsufficientQuantity)
            {
                <div class="status-outofstock">@Resources.ZnodeResource.ErrorOutofStock</div>
            }
        </div>
    </li>
    <li class="cart-item-options">
        <ul>
            <li class="cart-item-unitprice">
                <span class="label">@Resources.ZnodeResource.ColumnTitleItemPrice</span>
                <span class="cart-item-amount">@Model.UnitPrice.ToString("C")</span>
            </li>
            <li class="cart-item-quantity">
                 @using (Html.BeginForm("UpdateQuantity", "Cart", FormMethod.Post))
                 {
                     <span class="label">@Resources.ZnodeResource.ColumnTitleQuantity</span>
                     <span class="quantity">@Model.Quantity</span>
                     <select name="Quantity" id="Quantity" class="cartQuantity">
                         @for (int quantity = @Model.Product.MinQuantity; quantity <= @Model.Product.MaxQuantity; quantity++)
                         {
                             <option @(Model.Quantity == quantity ? "selected" : "")>@quantity</option>
                         }                
                     </select>
                    @Html.Hidden("guid", @Model.ExternalId)
                 }
            </li>
            <li class="cart-item-total">
                <span class="label">@Resources.ZnodeResource.ColumnTitleTotal</span>
                <span class="cart-item-amount">@Model.ExtendedPrice.ToString("C")</span>
            </li>
        </ul>
    </li>
</ul>
