﻿@using Znode.Engine.MvcDemo.ViewModels
@model CartViewModel
@*
    This partial will be used on the cart and cart review page.
    When those pages loads, this partial should loop through any applied promo codes
    Even if there are no applied codes, this partial needs to be on the page as front-end handling may need it
*@


<ul class="cart-promocode-status">
    @* Loop start *@
    @if (!string.IsNullOrEmpty(Model.Coupon) && !string.IsNullOrEmpty(Model.CouponMessage))
    {
        <li @(Model.CouponApplied ? "class=success" : "class=error")><strong>@Model.Coupon</strong> - @Model.CouponMessage</li>
    }
    @* Loop end *@
</ul>



@* Inline template for ajax handling *@
<script id="tmpl-promocodes" type="text/template">
    <li class="{{style}}"><strong>{{promocode}}</strong> - {{message}}</li>
</script>
