﻿@using Znode.Engine.MvcDemo.ViewModels
@model CartViewModel

<dl class="cart-total-table total-table">
    <dt>@Resources.ZnodeResource.ColumnSubTotal</dt>
    <dd>@Convert.ToDecimal(Model.SubTotal).ToString("C")</dd>
    
    
    <dt>@Resources.ZnodeResource.ColumnDiscounts</dt>
    <dd id="dynamic-discount-amount">@Model.Discount.ToString("C")</dd>
    
    
    @if (Model.TaxCost > 0)
    {
        <dt>@Resources.ZnodeResource.ColumnTax</dt>
        <dd>@Model.TaxCost.ToString("C")</dd>
    }
    
    @if (Model.ShippingCost > 0)
    {
        @* Only show during cart review, after shipping info is provided *@
        <dt>@Resources.ZnodeResource.ColumnShipping</dt>
        <dd>@Model.ShippingCost.ToString("C")</dd>
    }

    <dt class="total">@Resources.ZnodeResource.ColumnOrderTotal</dt>
    <dd class="total" id="dynamic-order-total">@Convert.ToDecimal(Model.Total).ToString("C")</dd>
</dl>
