﻿@using Znode.Engine.MvcDemo.ViewModels
@model CartViewModel



<div id="layout-cart">
    <div class="cart-friendlytotal location">
        <h1 class="location-title">@Resources.ZnodeResource.TextYourTotal <strong>@Model.Total.GetValueOrDefault(0).ToString("C")</strong> <span>for @Model.Count items</span></h1>
    </div>    
    @if (Model.Items.Any())
    {
        <div class="cart-products cart-table container-narrow">           
            @foreach (var cartItem in Model.Items)
            {
                @Html.Partial("_CartRow", cartItem)
            }
        </div>
        <div class="cart-summary container">
            <div>
                 @using (Html.BeginForm("RemoveAllCartItems", "Cart", FormMethod.Post))
                {
                    <a href="#" class="cart-item-remove-all" style="width:200px;">@Resources.ZnodeResource.TextRemoveAllCartItems</a>
                }
            </div>
            <div class="cart-promocode">
                <a href="#" class="toggle" id="toggle-cart-promocode" data-toggle="#cart-promocode-container">@Resources.ZnodeResource.TextPromoCode</a>
                <form id="cart-promocode-container">
                    <input type="text" id="promocode" name="Coupon" class="form-input" size="40" />
                    <button type="submit" class="button" >@Resources.ZnodeResource.ButtonApply</button>
                    @Html.Partial("_PromoCodes", Model)
                </form>
            </div>
            <div class="cart-total">
                @Html.Partial("_TotalTable", Model)
                <div class="cart-total-footnote">@Resources.ZnodeResource.TextTotalShippingTax</div>              
            </div>
             <div class="cart-total-btn">
                 <a href="/" class="button cart-checkout-button button-action">@Resources.ZnodeResource.ButtonContinueShopping</a>
				<a href="/Checkout" class="button cart-checkout-button button-action">@Resources.ZnodeResource.ButtonCheckout</a>
            </div>
        </div>
    }
    else
    {
        <div class="cart-summary container">
            <p class="text-center">@Resources.ZnodeResource.ErrorNoCartItemsFound</p>
        </div>

    }
</div>
