﻿<div id="layout-checkout-newshipping">
	<div class="location">
		<h1 class="location-title">@Resources.ZnodeResource.TitleBillingAddress</h1>
	</div>
	<div class="checkout-step">
		<h2 class="checkout-step-title">@Resources.ZnodeResource.SubTitleCheckout4of5</h2>
	</div>
	<div class="container-narrow">
	    
	    <form class="form" method="GET" action="/Cart/CheckoutShippingMethod">
	        <p class="checkout-useshipping styled-input">
	            <input type="checkbox" id="use-shippingaddress" /> <label for="use-shippingaddress"><strong>@Resources.ZnodeResource.CheckboxSameAsShipping</strong><br />Joe Bafootslick <small class="tinyfade">1234 Maple St, Columbus, OH 43215</small></label>
	        </p>
            <h3 class="section-header">@Resources.ZnodeResource.SubTitleNewAddress</h3>
	        @Html.Partial("_EditAddress")    
	        <dl>
	            <dt><label for="address_email">@Resources.ZnodeResource.RequiredEmailAddress</label></dt>
	            <dd class="form-helper">@Resources.ZnodeResource.TextReceiptNotice</dd>
	            <dd><input type="email" id="address_email" name="email"  class="form-input-long" /></dd>
	        </dl>
	        <p>
	            <button type="submit" class="button button-action">@Resources.ZnodeResource.ButtonNextStep</button>
	            <a href="/Cart" class="form-cancel">@Resources.ZnodeResource.ButtonCancel</a>   
	        </p>
	    </form>
	</div>

</div>