﻿<div id="layout-checkout-payment">
   <div class="location"><h1 class="location-title">Payment</h1></div>
   <div class="checkout-step">
        <h2 class="checkout-step-title">Checkout Step 4 of 4</h2>
    </div>
	<div class="container-narrow">
		
			<h3 class="payment-total">
				Total payment due is: <span>$999.99</span>
			</h3>
			<div class="payment-address-active grid-row">
				<div class="payment-address grid-row grid-m-6 grid-l-4">
					<h4>Selected billing address:</h4>
					<div class="address-block">
					    <div class="address-title"><em>FRIENDLY</em></div>
						<div class="address-name">FIRSTNAME LASTNAME</div>
						<div class="address-street">STREET ADDRESS</div>
						<div class="address-citystate">CITY, STATE, ZIPCODE</div>
					</div>
					<a href="#" class="change-address">Change <span class="notsmall">address</span></a>
				</div>
				<div class="payment-address grid-row grid-m-6 grid-l-4">
					<h4>Selected shipping address:</h4>
					<div class="address-block">
					    <div class="address-title"><em>FRIENDLY</em></div>
						<div class="address-name">FIRSTNAME LASTNAME</div>
						<div class="address-street">STREET ADDRESS</div>
						<div class="address-citystate">CITY, STATE, ZIPCODE</div>
					</div>
					<a href="#" class="change-address">Change <span class="notsmall">address</span></a>
				</div>
			</div>
			<div class="grid-row">
				<h4 class="section-header">Select payment method</h4>
				<div id="payment-methods" class="grid-m-3">
					
					<ul>
						<li>
							<a href="#" data-toggle="payment-creditcard" class="">Credit card</a>
						</li>
						<li>
							<a href="#" data-toggle="payment-paypal" class="">Paypal</a>
						</li>
						<li>
							<a href="#" data-toggle="payment-po" class="">Purchase order</a>
						</li>
						<li>
							<a href="#" data-toggle="payment-cod" class="">Cash on delivery</a>
						</li>
						<li>
							<a href="#" data-toggle="payment-google" class="">Google Checkout</a>
						</li>
					</ul>
				</div>
			    <form id="payment-creditcard" class="form payment-method grid-m-9">
			        <h3 class="section-header-background notsmall">Credit card</h3>
			        <dl>
			            <dt><label>Name on credit card*</label></dt>
			            <dd><input type="text" class="form-input-long" /></dd>

			            <dt><label>Credit card number*</label></dt>
			            <dd><input type="text" class="form-input-long" /></dd>

			            <dt><label>Credit card expiration date*</label></dt>
			            <dd class="cc-expiration grid-row">
			                <select><option>01</option></select>
			                <select><option>2013</option></select>
			            </dd>

			            <dt><label>Card security number*</label></dt>
			            <dd class="form-helper">A 3-digit number usually found on the back of your card</dd>
			            <dd><input type="text" class="form-input-short" /></dd>
			        </dl>
			        <p>
			            <button type="submit" class="button button-action">Complete purchase</button>
			        </p>
			        <p>
			            Your credit card will be charged upon completing purchase.
			        </p>
			    </form>
			    <div id="payment-paypal" class="form payment-method grid-m-9">
			        <h3 class="section-header-background notsmall">Paypal</h3>
                
			    </div>
                <form id="payment-po" class="form payment-method grid-m-9">
                    <h3 class="section-header-background notsmall">Purchase order</h3>
                    <dl>
                        <dt><label>PO Number*</label></dt>
                        <dd><input type="text" class="form-input-long" /></dd>
                    </dl>
                    <p>
			            <button type="submit" class="button button-action">Complete purchase</button>
			        </p>
                
			    </form>


	</div>
</div>