﻿<%@ Master Language="C#" MasterPageFile="~/Themes/Default/MasterPages/main.master" AutoEventWireup="true" %>

<%@ Register Src="~/Controls/Default/Account/EditContact.ascx"TagName="EditContact" TagPrefix="ZNode" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
<div class="ContentContainer">
<ZNode:EditContact ID="uxEditContact" runat="server"  Visible="true" />
</div>
</asp:Content>