<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/Product/RetrieveImages.ascx" TagName="RetrieveImages" TagPrefix="ZNode" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
	<ZNode:RetrieveImages id="RetrieveImages" runat="server" />
</asp:Content>
