<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/ShoppingCart/cart.ascx" TagName="Cart" TagPrefix="ZNode" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
	<!-- Scripts - BEGIN -->
	<script language="javascript" type="text/javascript" src="js/mootools/mootools-1.2.1-core.js"></script>
	<script language="javascript" type="text/javascript" src="js/mootools/mootools-1.2-more.js"></script>
	<script language="javascript" type="text/javascript" src="js/mootools/SlideItMoo-1.1.js"></script>
	<!-- Scripts - END  -->
	
   <div class="ContentContainer"><ZNode:Cart ID="uxCart" runat="server"  Visible="true"/></div>
</asp:Content>