﻿@model Znode.Plugin.Framework.Models.ConfigurationModel

@{
    ViewBag.Title = "Plugin Configurator";
}

<h2>Plugin Configurator</h2>


<table class="table">
    @{
        var index = 0;
    }

    @foreach (var item in Model.Plugins)
    {
        if (index == 0)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => item.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.Version)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.IsInstalled)
                </th>
                <th></th>
            </tr>
        }

        <tr>
            <td>
                @Html.DisplayFor(model => item.Title)
            </td>
            <td>
                @Html.DisplayFor(model => item.Version)
            </td>
            <td>
                @Html.DisplayFor(model => item.IsInstalled)
            </td>
            <td>
                @if (item.IsInstalled)
                {
                    @Html.ActionLink("Configure", "Index", item.ConfigurationEndPoint) @Html.Raw("|") 
                    @Html.ActionLink("Uninstall", "Uninstall", new {name = item.Name});
                }
                else
                {
                    @Html.ActionLink("Install", "Install", new {name = item.Name })
                }
            </td>
        </tr>

        index++;
    }

</table>

