﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/bootstrap-3.3.1/css/bootstrap.css" rel="stylesheet" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="wrapper">
        <header>
            <div class="container-fluid header">
                <div class="col-lg-2 col-md-2 col-sm-2 nopadding">
                    <img src="~/Content/themes/base/images/multifront_logo.png" alt="Multifront Dashboard" class="img-responsive" />
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 nopadding">
                    
                    <div class="col-lg-2 col-md-2 col-sm-2 col-md-offset-10 header-top-nav">
                       <section id="login">
                        @Html.Partial("_LoginPartial")
                        </section>
                    </div>

                </div>
            </div>
        </header>
        <div id="body" class="container-fluid main-wrapper">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-11 col-md-11 col-sm-11">
                    <!--Add Page Here-->
                    @RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>

                </div>                    
            </div>
        </div>
        </div>
        <footer>
            <div class="container-fluid">
                <div class="row footer">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <img src="~/Content/themes/base/images/znode_logo_small.gif" alt="Znode" class="img-responsive footer-logo" />
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-md-offset-8">
                              <p class="copyright">Powered by Znode Copyright 2015,Znode Inc, All Rights Reserved</p>
                          </div>
                    </div>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
