﻿@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="left"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;<a href="#">Account</a></div> 
            <div class="left"><i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></div>
        }
    </text>
} else {
        <div class="left"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</div>
         <div class="left"><i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</div>    
}

                                                               
                        