﻿@model Znode.Engine.MvcAdmin.ViewModels.LoginViewModel

<form method="POST" class="login-form form">
    <h3 class="form-title">@Resources.Account.TitleAdminLogin</h3>
    <dl>
        <dt>
            <label for="login_username">@Resources.Account.ColumnUsername</label></dt>
        <dd>@Html.TextBoxFor(model => model.Username, new { @id = "login_username" })</dd>
        <dd class="form-error">@Html.ValidationMessageFor(m => m.Username)</dd>
        <dt>
            <label for="login_password">@Resources.Account.ColumnPassword</label></dt>
        <dd>@Html.PasswordFor(model => model.Password, new { @id = "login_password" })</dd>
        <dd class="form-error">@Html.ValidationMessageFor(m => m.Password)</dd>
    </dl>
    <dl>
        <dt>
            <p class="styled-input">
                <input type="checkbox" id="RememberMe" name="RememberMe" value="true" /><label for="RememberMe">@Resources.Account.CheckBoxTextLoginRemember</label></p>
        </dt>
    </dl>
    <button type="submit" class="form-submit">@Resources.Account.ButtonLogin</button>
    @if (ViewBag.CheckoutLogin != null)
    {
        @Html.Hidden("returnUrl", "~/Checkout")
    }
    <a href="/account/forgotpassword" class="login-form-forgotpassword">@Resources.Account.LinkTextForgetPassword</a>
</form>
