﻿@model Znode.Engine.MvcAdmin.ViewModels.PaymentOptionListViewModel
@using Resources;
<div id="grid-container">
    <div class="col-lg-12 col-md-12 col-sm-12 nav-toggle">
        <div class="left">
            <a href="#menu-toggle" id="menu-toggle" data-toggle="tooltip" data-placement="right" data-original-title="Toggle Navigation"><i class="z-hamburger"></i></a>
        </div>
        <div class="left dropdown-top">
            
        </div>
        
    </div>
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 stord-title">
            <h1 class="left">
                Payment Options
                <a data-toggle="popover" data-contentwrapper=".popover-content"><i class="glyphicon glyphicon-question-sign"></i> </a>
            </h1>
            <p class="left">Set up payment options such as credit cards, purchase orders, and PayPal. </p>
        </div>
        <div class="col-sm-12 stord-search">
            
            <div class="col-lg-6 col-md-6 col-sm-4">
                <input type="submit" value="Add New Sotre" id="" class="btn-text red pull-right" />
            </div>
        </div>
        <div class="col-sm-12 stord-list">
            <h3>Payment Options List</h3>
             @Html.Partial("_List", Model)
        </div>

    </div>
</div>
