@import "_base.scss";

/*
 | User Account 
 | Order receipt print styles
 |
 | 2014; Znode, Inc.
 */
 
@media print {
	#Account.orderreceipt {
		#layout-header,
		#layout-footer,
		.account-container-menu,
		.receipt-print,
		.account-gohome
		{
			display: none;
		}
		
		.receipt-info {
			float: left;
			width: 33%;
		}
		
		.account-container-content {
			width: 100%;
		}
		
		.container-narrow {
			padding: 0;
		}
		
		.location-title {
			padding: 0;
			font-weight: bold;
		}
		
		.location {
			background: none;
			color:#000;
			padding: 0;
			margin: 0;
		}
		
		.section-header-color {
			color: #000;
		}
		
		.location-title small {
			display: inline;
		}
		
		.receipt-print-store {
			display: block;
			font-weight: normal;
		}
		
		.receipt-totals {
			float: right;
			width: 40%;
		}
		
		.receipt-item-list .header {
			background: none;
			color: #000;
			font-weight: bold;
			border-bottom: solid 2px #000;
		}
		
	}

}