@import "_base.scss";

/*
 | User Account 
 | Reviews
 |
 | 2014; Znode, Inc.
 */
 
 
// Base/small device
#layout-account-reviewhistory {
	.review-item {
		@include clear;
		border-bottom: solid 1px #ccc;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	
	.review-item-title {
		color: #000;
		font-size: 2rem;
		padding-bottom: 4px;
		display: block;
	}
}
