@import "_base.scss";

/*
 | User Account 
 | Wishlist
 |
 | 2014; Znode, Inc.
 */
 
 
// Base/small device
#layout-account-wishlist {
	.wishlist-item {
		@include clear;
		border-bottom: solid 1px #ccc;
		margin-bottom: 20px;
		padding-bottom: 10px;
	}
	
	.wishlist-item-image {
		display: none;
	}

	.wishlist-item-detail {
		float: left;
		width: 100%;
	}
	
	.wishlist-item-title {
		font-size: 1.8rem;
		font-weight: bold;
		color: #000;
	}
	
	.wishlist-item-date {
		font-size: 1.4rem;
		color: #999;
	}
	
	.wishlist-item-price {
		float: left;
		width: 45%;
		//text-align: right;
		font-size: 1.8rem;
		padding-right: 15px;
	}
	
	.wishlist-item-remove {
		float: left;
		width: 10%;
		text-align: right;
		
		a {
			@include iconReplace(2.2rem, $icon-trash);
			float: right;
			color: #999;
		}
	}
	
	
	.wishlist-item-tocart {
		float: left;
		width: 45%;
		text-align: right;
		
		.button {
			display: inline;
			width: auto;
			margin: 0;
		}
	}
}


// Medium device
@include screensize(medium) {
	#layout-account-wishlist {
		.wishlist-item-image {
			display: block;
			width: 64px;
			height: 64px;
			float: left;
			overflow: hidden;
			margin-right: 15px;
			
			img {
				width: 100%;
			}
		}
		
		.wishlist-item-detail {
			width: 50%;
		}
		
		.wishlist-item-price {
			width: 18%;
			text-align: right;
		}
		
		.wishlist-item-remove {
			width: 7%;
		}
		
		
		.wishlist-item-tocart {
			width: 25%;
			
		}		
	}
}



// Large device
@include screensize(large) {

}	