@import "_base.scss";

/*
 | User Account 
 | Profile
 |
 | 2014; Znode, Inc.
 */
 
 
// Base/small device
#layout-account-profile {
	.profile-change-password {
		display: block;
		padding-bottom: 30px;
		font-size: 1.4rem;
	}
}
