@import "_base.scss";

/*
 | User Account 
 | Orrder receipt
 |
 | 2014; Znode, Inc.
 */
 
 
// Base/small device
#layout-account-receipt {
	.receipt-print,
	.location-title small,
	.receipt-print-store
	{
		display: none;
	}

	.table-td {
		padding: 3px 5px;
	}
	
	.receipt-item .table-td {
		padding: 5px;
		border-bottom: solid 1px #ccc;
		border-right: solid 1px #ccc;
		
		&:last-child {
			border-right: none;
		}
	}

	.receipt-item-list {
		width: 100%;
		margin-top: 20px;
		
		.header {
			background-color: #333;
			color: #fff;
			
		}
	}
	
	.receipt-info {
		margin-bottom: 15px;
	}
	
	.receipt-column-item {
		width: 45%;
	}
	
	.receipt-column-quantity {
		width: 15%;
		text-align: center;
	}
	
	.receipt-column-price {
		width: 20%;
		text-align: right;
	}
	
	.receipt-column-total {
		width: 20%;
		text-align: right;
	}
	
	.receipt-totals {
		width: 60%;
		margin-top: 15px;
	}
	
	.totals-column-label {
		width: 40%;
	}
	
	.totals-column-total {
		width: 60%;
		text-align: right;
	}
	
	.receipt-total {
		font-weight:bold;
		
		.table-td {
			border-top: solid 1px #000;
		}
	}

}


// Medium device
@include screensize(medium) {
	#layout-account-receipt {
		.receipt-print {
			display: block;
			text-align: right;
			color: #666;
			font-size: 1.6rem;
			margin-bottom: 10px;
			
			span:before {
				@include icon($icon-printer);
				padding-right: 8px;
			}
		}
	
		.receipt-totals {
			width: 40%;
			float: right;
		}
	}
}


// Hide from touch devices
.touch #layout-account-receipt .receipt-print {
	display: none;
}