@import "_base.scss";

/*
 | User Account 
 | Address book
 |
 | 2014; Znode, Inc.
 */
 
 
// Base/small device
#layout-account-book {
	.address-list {
		font-size: 1.8rem;

		a {
			font-size: 1.6rem;
		}
		
		button {
			@include inputreset;
			font-family: $base-font-primary;
			border: 0;
			padding: 12px 0 0 0;
			font-size: 1.6rem;
			text-decoration: underline;
			color: #666;
		}
	}

	.address-list-primary li {
		border: none;
	}
	
	.address-block .address-title {
		color: $base-color-primary;
	}
}


// Medium device
@include screensize(medium) {
	#layout-account-book {
		.address-list-primary {
			margin-bottom: 30px;
		}
		
		.address-list {
			li {
				min-height: 250px;
			}
		}		
	}
}

