@import "_base.scss";

/*
 | User Account 
 | Login
 |
 | 2014; Znode, Inc.
 */
 
 
// Base/small device
#layout-account-login {

	.account-login-container {
		padding-top: 10px;
	}

	.account-signup-container {
		padding-top: 30px;
	}
	
	.account-signup-link {
		font-size: 1.8rem;
		color: $base-color-primary;
		display: block;
		margin-bottom: 30px;
	}
}



// Medium device
@include screensize(medium) {
	#layout-account-login {
		.account-login-container,
		.account-signup-container {
			float: left;
			width: 50%;
		}

		.account-signup-container {
			padding-top: 30px;
		}
	}
}



// Large device
@include screensize(large) {
	#layout-account-login {
		.login-form input {
			width: 60%;
		}
	}
}	