@import "_base.scss";

/*
 | User Account 
 | Dashboard
 |
 | 2014; Znode, Inc.
 */
 
 
// Base/small device
#layout-account-dashboard {
	.recent-order-headers {
		//display: none;
	}

	.link-arrow-right {
		display: block;
		text-align: right;
	}

	.dashboard-content {
		margin-bottom: 50px;
	}
	

	.dashboard-addresses {
		.address-block {
			color: #000; 
		}

		li {
			padding-bottom: 30px;
		}
	}

	.dashboard-profile {
		color: #000;
		display: block;
		padding-bottom: 25px;
	}
	
	.wishlist-count {
		font-size: 2.4rem;
		color: #000;
	}
} 


// Medium device
@include screensize(medium) {
	#layout-account-dashboard {
		.dashboard-addresses {
			@include clear;

			li {
				float: left;
				width: 45%;
			}
		}
	}
}



// Large device
@include screensize(large) {
	#layout-account-dashboard {
		.container {
			padding-right: 10rem;
		}

		.link-arrow-right {
			//text-align: left;
		}
	}
}	