/*
 | BASE SASS
 | Global variables and mixins
 |
 | 2014; Znode, Inc.
 */


/*
 | Variables
 | Prefix all variables with base-
 |
 */

// Fonts
$base-font-primary: "source_sans_pro", arial, helvetica, sans-serif;
$base-font-glyphs:  "icomoon", arial, helvetica, sans-serif;
$base-font-default: arial, helvetica, sans-serif;

$base-font-normal: 400;
$base-font-bold:   700;
$base-font-light:  300;


// Colors
$base-color-primary:       #AF0604; // red
$base-color-secondary:     #4f616d; // blue-grey
$base-color-tertiary:      #FAF6E9; // light tan
$base-color-action:        #57AD68; // call to action (green)

$base-fgcolor-primary:     #fff;
$base-fgcolor-secondary:   #fff;
$base-fgcolor-tertiary:    #000;
$base-fgcolor-action:      #fff;

$base-fgcolor-light:       #fff; // foreground; white
$base-fgcolor-dark:        #000; // foreground; black

$base-bgcolor-light:       #e5e5e5; // background; light grey
$base-bgcolor-dark:        #333;    // background; dark grey

$base-bgcolor-button:      #e5e5e5;    // standard button (grey)
$base-fgcolor-button:      #333;    

$base-bgcolor-input:        #F8F8F8;
$base-fgcolor-input:        #000;

$base-bgcolor-alert-info:   #fcf8e3;
$base-fgcolor-alert-info:   #333;

$base-bgcolor-alert-error:   #f2dede;
$base-fgcolor-alert-error:   #333;

$base-bgcolor-alert-success:   #dff0d8;
$base-fgcolor-alert-success:   #333;



// Web font glyphs (no prefix)
$icon-cart:       "\e0c1"; // Shopping cart
$icon-menu:       "\e2af"; // Hamburger menu
$icon-arrowdown:  "\e3b6"; // Tiny down arrow (dropdowns)
$icon-arrowright: "\e3b5"; // Tiny right arrow
$icon-arrowleft:  "\e3b7"; // Tiny right arrow
$icon-arrowup:    "\e3b4"; // Tiny up arrow (expands)
$icon-starfull:   "\e2fe"; // Rating star filled
$icon-starempty:  "\e2fc"; // Rating star empty
$icon-starhalf:   "\e2fd"; // Half star rating
$icon-xclose:     "\e36c"; // Small close X mark
$icon-twitter:    "\e49f"; // Twitter logo
$icon-facebook:   "\e49b"; // Facebook logo
$icon-pinterest:  "\e4d6"; // Pinterest logo
$icon-email:      "\e491"; // Envelope
$icon-trash:      "\e250"; // Trash can
$icon-xcancel:    "\e36b"; // Large X mark
$icon-edit:       "\e011"; // Edit pencil
$icon-printer:    "\e118"; // Printer
$icon-cartadd:    "\e0c8"; // Add to cart (cart with plus sign)
$icon-checkmark:  "\e372"; // Checkmark
$icon-search:     "\e1b7"; // magnifying glass
$icon-addthis:    "\e35f"; // plus sign (for social sharing)

$icon-radio-unchecked:    "\e439"; // Radio button, unchecked
$icon-radio-checked:      "\e438"; // Radio button, checked
$icon-checkbox-unchecked: "\e436"; // Checkbox, unchecked
$icon-checkbox-checked:   "\e435"; // Checkbox, checked



// Responsive screen sizes. Use ems to account for zooming (pxtoems.com)
// Value should define the max size for the device size
$base-screen-smallwide: 28.75em; // < 460px
$base-screen-small:     37.5em; // < 601px
$base-screen-medium:    53.12em; // < 850px
$base-screen-desktop:   59.3em; // < 950px
$base-screen-large:     70em; // < 1121px; 'xlarge' is anything greater than 'large'



// Wrap container padding
$base-screen-padding-small:  1.3rem;
$base-screen-padding-medium: 1.6rem;


// Grids and gutter spacing
$base-grid-columns: 12;
$base-gutter-width: 12px;





/*
 |
 | Mixins
 | 
 */

 
// Media query alias
// Define keywords for conditions, use responsive size variables
// Options: smallonly, smallwide, medium, mediumonly, desktop, large, largeonly, xlarge
@mixin screensize($size) {
    @if $size == xlarge {
        @media all and (min-width: $base-screen-large) { @content; }
    }
    @else if $size == largeonly {
        @media all and (min-width: $base-screen-medium) and ($base-screen-large) { @content; }
    }
    @else if $size == large {
        @media all and (min-width: $base-screen-medium) { @content; }
    }
    @else if $size == desktop {
        @media all and (min-width: $base-screen-desktop) { @content; }
    }
    @else if $size == medium {
        @media all and (min-width: $base-screen-small) { @content; }
    }
    @else if $size == mediumonly {
        @media all and (min-width: $base-screen-small) and (max-width: $base-screen-medium) { @content; }
    }
    @else if $size == smallwide {
        @media all and (min-width: $base-screen-smallwide) and (max-width: $base-screen-small) { @content; }
    }
    @else if $size == smallonly {
        @media all and (max-width: $base-screen-small) { @content; }
    }
}


// Pixel density media query. No screen size assumptions.
@mixin ifRetina {
    @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
    only screen and (-moz-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-device-pixel-ratio: 1.5) {
        @content;
    }
}




// Parent container sizing with optional top/bottom padding
// Defines edge padding and max width for containers

@mixin container($tp:0, $bp:0) {
    @include clear;
	display: block;
    padding: $tp $base-screen-padding-small $bp $base-screen-padding-small;
    position: relative;

    @include screensize(medium) {
        padding: $tp $base-screen-padding-medium $bp $base-screen-padding-medium;
    }

    @include screensize(xlarge) {
        padding: $tp 0 $bp 0;
        max-width: $base-screen-large;
        margin: 0 auto;
    }
}



// Glyph render. Pass character code or use $icon- variables
@mixin icon($content) {
	font-family: $base-font-glyphs;
	content: $content;
}


// Glyph render. Replace element text with only glyph.
@mixin iconReplace($iconSize, $content) {
    position: relative;
    display: block;
    margin: 0;
    padding: 0 0 0 ($iconSize*1.3);
    width: ($iconSize*1.3);
    height: ($iconSize*1.3);
    text-indent: 100%;
    overflow: hidden;
    text-decoration: none;
    line-height: $iconSize;

    &:before {
        position: absolute;
        top: 50%;
        margin-top: -($iconSize/2);
        left: 50%;
        margin-left: -($iconSize/2);
        display: block;
        width: $iconSize;
        height: $iconSize;
        content: $content;
        font-family: $base-font-glyphs;
        font-size: $iconSize;
        text-indent: 0;
    }
}


// Color button background, foreground and border. Use AFTER with button mixin shortcut.
@mixin buttoncolor($bg: $base-bgcolor-button, $fg:$base-fgcolor-button) {
    background-color: $bg;
    border-color: darken($bg, 20%);
    color: $fg;
}


// Strips default input styles
@mixin inputreset {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background: none;
}


// Strips default button styles, uses flat button style.
@mixin button {
	font-family: $base-font-default;
    background-color: $base-bgcolor-button;
    border: solid 1px darken($base-bgcolor-button, 30%);
    border-radius: 4px;
    color: $base-fgcolor-dark;
    text-decoration: none;
    text-align: center;
    padding: .4em 1em;
    margin: .5em 0;
    font-size: 1.8rem;
    display: block;
    width: 100%;

    @include screensize(medium) {
        padding: .3em 1em;
        display: inline-block;
        width : auto;
    }
}


// Simple table for numbers
@mixin totalTable {
    @include clear;

    dt,dd {
        @include clean;
        float: left;
        width: 50%;
        text-align: right;
        padding-bottom: 2px;
    }
}


// Clearfix
@mixin clear {
    &:after {
       content: "";
       display: table;
       clear: both;                  
    }
}


// Strips padding/margin/lists
@mixin clean {
    padding: 0;
    margin: 0;
    list-style: none;
}

// Positions element offsite (alternative to display:none)
@mixin offsite {
    position:absolute;
    top:0;
    left:-9999px;
}


// Positions element back inline. Use to cancel offsite mixin.
@mixin onsite {
    position: relative;
    top: 0;
    left: 0;
}