@import "_base.scss";

/*
 | Checkout 
 | Shipping address view
 |
 | 2014; Znode, Inc.
 */
 
 
// Base/small device
#layout-checkout-shippingselect {
	.shipping-item-image {
		display: none;
	}


	.checkout-shippingselect-products {
		position: relative;
	}

	.shipping-item {
		@include clear;
	}

	.shipping-item {
		position: absolute;
		left: 0;
		top: 0;
		background-color: #fff;

		&:last-child {
			position: relative;
		}
	}
}



#layout-checkout-shipsingle {
	.location {
		margin-bottom: 0;
	}

	.shipping-methods {
		font-size: 1.8rem;

		li {
			padding-bottom: 20px;
		}
	}

	.shipping-method-details {
		color: $base-color-primary;
	}
}


#layout-checkout-newshipping {
	padding-bottom: 40px;

	.checkout-newshipping-default-address {
		padding: 15px 0;
	}

	.location {
		margin-bottom: 0;
	}

	
	.checkout-newshipping-locations {
		margin-top: 40px;

		li {
			@extend .checkout-newshipping-address;
			padding-bottom: 25px;
		}
	}
	

	.checkout-newshipping-multiship {
		display: block;
		text-align: center;
		color: #999;
		margin: .5em 0;
		text-decoration: underline;
	}

	.button.primary {
		margin-bottom: 15px;
	}

	.checkout-useshipping small {
		display: block;
	}
	
	.useshipping {
		padding: 20px 0;
	}
}


// Medium device
@include screensize(medium) {
	#layout-checkout-shipsingle {
		.shipping-address {
			color: #999;

			a {
				color: #ccc;
			}
		}

		.shipping-methods {
			padding: 0 40px 0 0;
		}
	}
	
	
	#layout-checkout-newshipping {
		.stackform {
			width: 50%;
		}

		.checkout-newshipping-locations {
			@include clear;

			li {
				width: 33%;
				padding: 0 1rem 3rem 0;
				float: left;
			}
		}

		.checkout-newshipping-multiship {
			text-align: left;
		}

		.button {
			width: 12em;
			display: inline;
		}
	}	
}



// Large device
@include screensize(large) {
	#layout-checkout-newshipping .stackform {
		width: 35%;
	}
}	