@import "_base.scss";

/*
 | Checkout 
 | Payments view
 |
 | 2014; Znode, Inc.
 */
 
 
// Base/small device
#layout-checkout-payment {
	.location {
		margin-bottom: 0;
	}

	.cc-expiration select {
		width: 46%;
		float: left;

		&:first-child {
			margin-right: 4%;
		}
	}

	.payment-address {
		margin-bottom: 30px;
	}

	.change-address {
		display: block;
		text-decoration: underline;
		padding-top: 10px;
		font-size: 1.4rem;
	}

	.payment-method {
		display: none;
	}

	.payment-total {
		text-align: center;
		font-size: 2.4rem;
		padding: 15px 0;

		span {
			display: block;
		}
	}
	
	.payment-method .total-table {
		dt {
			width:25%;
			text-align: left;
		}
		
		dd {
			width: 75%;
			padding-right: 50%;
		}
	}
}


// Small device only
@include screensize(smallonly) {
	#layout-checkout-payment {
		.change-address {
			@include button;
			@include buttoncolor(#e5e5e5, #333);
			float: right;
			width: 80px;
			font-size: 1.4rem;
		}
	}
	
	#payment-methods {
		a {
			@include button;
		}

		a.active {
			//@include buttoncolor(#428BCA, #fff);
			border: 0;
			border-radius: 0;
			background-color: $base-color-primary;
			color: $base-fgcolor-primary;
			font-weight: bold;
			

		
			&:after {
				@include icon($icon-xclose); //"\e361"
				float: right;
				padding-left: 8px;
				color: $base-fgcolor-primary;
				font-weight: normal;
			}
		}
	}
}



// Medium device
@include screensize(medium) {
	#layout-checkout-payment {
		.cc-expiration select {
			width: auto;

			&:first-child {
				margin-right: 10px;
			}
		}

		.payment-total {
			text-align: left;

			span {
				display: inline;
			}
		}
		
		.payment-method {
			padding: 12px 0 0 30px;
		}
	}
	
	#payment-methods {
		padding-right: 20px;
		margin-bottom: 20px;

		li {
			padding: 12px 0;
			border-bottom: solid 1px #ccc;
			text-align: right;
		}

		a {
			display: block;
			color: $base-color-primary;
		}

		a:after {
			@include icon($icon-arrowright);
		}
	}

	#payment-creditcard.payment-method {
		display: block;
	}

	#payment-giftcard {
		.giftcard-applyagain {
			input, button {
				font-size: 1.4rem;
				padding-top: .2em;
				padding-bottom: .2em;
			}
		}
	}
}
