@import "_base.scss";

/*
 | Checkout 
 | Login view
 |
 | 2014; Znode, Inc.
 */
 
 
// Base/small device
#layout-checkout-login {
	padding-bottom: 40px;

	


	.checkout-login-user {
		display: none;
		margin-top: 20px;

		.button {
			@include buttoncolor($base-color-action, $base-fgcolor-action);
		}
	}

	.checkout-login-user-title {
		font-size: 2.4rem;
		color: #666;
		padding-bottom: 5px;
	}

	

	.checkout-login-usercancel {
		padding: 10px 0;
		display: block;
		color: #999;
		text-decoration: underline;
	}

}


// Small device only
@include screensize(smallonly) {
	#layout-checkout-login {
		.checkout-login-options {
			a {
				@include button;
				font-size: 2rem;
				margin-bottom: 1em;
			}
		}
	}
}



// Medium device
@include screensize(medium) {
	#layout-checkout-login {
		.checkout-login-options {
			float: right;
			width: 45%;
			padding-top: 80px;

			a {
				font-size: 1.8rem;
				margin-bottom: 2em;
				display: block;
				color: $base-color-primary;

				&:before {
					@include icon($icon-arrowright);
				}
			}
		}

		.checkout-login-user {
			float: right;
			width: 55%;
		}

		a.checkout-login-asuser {
			display: none;
		}

		.checkout-login-user {
			display: block;
			margin-top: 0;

			form {
				width: 75%;
			}
		}

		.checkout-login-user-title {
			display: none;
		}

		.checkout-login-usercancel {
			display: none;
		}

		.checkout-login-forgotpassword {
			text-align: left;
		}

	}
}



// Large device
@include screensize(large) {
	#layout-checkout-login {
		.checkout-login-options {
			float: right;
			width: 65%;
		}

		.checkout-login-user {
			float: right;
			width: 35%;
		}
	}
}	