@import "_base.scss";

/*
 | Product detail 
 | Write review form
 |
 | 2014; Znode, Inc.
 */
 
 
// Base/small device
#layout-writereview {
	.star-rating {
		font-size: 3.6rem; 
		
		label {
			margin-right: 8px;
			cursor: pointer;
		}
		
		.empty {
			color: #666;
		}
		
		.full {
			color: #FFD100;
		}
	}
	
	.setrating input {
		@include offsite;
	}
}


// Large device
@include screensize(large) {
	#layout-writereview {
		.star-rating {
			font-size: 3rem; 
		}
	}
}	