@import "_base.scss";

/*
 | Product detail 
 | Bundle options view (when add to cart)
 |
 | 2014; Znode, Inc.
 */
 
 
// Base/small device
#layout-bundlesettings {
	.bundle-item {
		@include clear;
		background-color: $base-color-tertiary;
		border: solid 1px #ccc;
		padding: 15px;
		margin-bottom: 25px;
		
		dl {
			margin-top: 15px;
		}
	}
	
	.bundle-item-image {
		float: left;
		width: 25%;
		overflow: hidden;
		padding-right: 15px;
		
		img {
			width: 100%;
			border: solid 1px #ccc;
		}
	}
	
	.bundle-item-details {
		float: left;
		width: 75%;
		
		font-size: 1.8rem;
		font-weight: normal;
	}


}


// Medium device
@include screensize(medium) {
	#layout-bundlesettings {
		.bundle-item {
			width: 80%;
		}
	}
}



// Large device
@include screensize(large) {
	#layout-bundlesettings {
		.bundle-item {
			width: 60%;
		}
	}
}	