@import "_base.scss";

/*
 | User Account Views
 |
 | 2014; Znode, Inc.
 */

 
 
// Common account styles
.account-container-menu {
	display: none;
}

.account-container-content {
	padding: 20px 0;

	.item-header {
		color: $base-color-primary;
	}
}

.account-gohome {
	display: block;
	color: #666;

	&:before {
		@include icon($icon-arrowleft);
	}
}

.address-list {
	li {
		padding: 15px 0;
		border-bottom: dotted 1px #ccc;

		&:last-child {
			border: none;
		}
	}
}


// Recent order history table
.account-recent-orders {
	.recent-order-id {
		display: none;
	}

	.recent-order {
		@include clear;
		margin-bottom: 15px;
		font-size: 1.8rem;
	}

	.recent-order-title {
		float: left;
		width: 70%;
		padding-right: 10px;

		a { color: #000; }
	}

	.recent-order-meta {
		color: #999;
		font-size: 1.4rem;
	}

	.recent-order-total {
		float: left;
		width: 30%;
		text-align: right;
	}
}



// Medium
@include screensize(medium) {

	// COMMON ++++++++++
	.account-gohome {
		display: none;
	}

	.account-container-menu {
		display: block;
		float: left;
		width: 28%;
	}

	.account-container-content {
		padding: 0 0 30px;
		float: left;
		width: 72%;
	}	

	.account-menu {
		li {
			font-size: 1.8rem;
			padding-bottom: 1.5em;
		}

		a {
			color: $base-color-secondary;
		}
	}

	.account-recent-orders {
		.order-meta-date {
			display: none;
		}

		.recent-order-product { 
			&:after {
				@include icon($icon-arrowright);
				color: #999;
			}
		}


		.recent-order-title {
			width: 60%;
		}

		.recent-order-date {
			float: left;
			width: 20%;
		}

		.recent-order-total {
			width: 20%;
		}
	}


	.address-list {
		@include clear;

		li {
			float: left;
			width: 50%;
			padding-right: 15px;
			border: none;
		}
	}
}



// Large
@include screensize(large) {
	.account-recent-orders {
		.recent-order-title {
			width: 50%;
		}

		.recent-order-date {
			width: 20%;
		}

		.recent-order-id {
			display: block;
			float: left;
			width: 10%;
		}

		.recent-order-total {
			width: 20%;
		}

		.order-meta-id {
			display: none;
		}
	}

	.account-container-menu {
		width: 25%;
	}

	.account-container-content {
		width: 75%;
	}	

	.address-list {
		li {
			width: 33%;
		}
	}	
}



// Xlarge
@include screensize(xlarge) {
	.account-container-menu {
		width: 22%;
	}

	.account-container-content {
		width: 78%;
	}	
}



// Import account view styles

@import "_account_login.scss";
@import "_account_dashboard.scss";
@import "_account_addressbook.scss";
@import "_account_profile.scss";
@import "_account_wishlist.scss";
@import "_account_reviews.scss";
@import "_account_receipt.scss";
@import "_account_receipt_print.scss";


