@import "_base.scss";

/*
 | Cart view 
 |
 | 2014; Znode, Inc.
 */

// Common table for cart rows
.cart-table {
	.cart-item {
		border-bottom: solid 1px #999;
		padding-bottom: 15px;
		margin-bottom: 25px;
	}

	.cart-item-title {
		color: #000;
		font-size: 2.4rem;
		font-weight: bold;
	}

	.cart-item-image {
		display: none;
	}

	.cart-item-description {
		color: #666;
	}

	.cart-item-remove {
		color: #999;
		margin: 8px 0;
		display: block;

		&:before {
			@include icon($icon-trash);
			padding-right: 5px;
		}
	}
	
	.cart-item-edit {
		display: none;
	}

	.cart-item-options ul {
		@include clear;
		margin-top: 15px;

		li {
			width: 33%;
			float: left;
		}

		.label {
			display: block;
			font-size: 1.4rem;
			color: #666;
			font-weight: normal;
		}
	}

	.cart-item-unitprice {
		color: #666;
	}

	.cart-item-total {
		text-align: right;
		font-weight: bold;
	}


	.cart-item-amount {
		font-size: 2.2rem;
	}

	.cart-item-quantity {
		font-size: 2.2rem;
		
		.quantity {
			display: none;
		}

		select {
			font-size: 1.8rem;
			background-color: #F9F9F9;
			width: auto;
		}
	}


	// MEdium
	@include screensize(medium) {
		.cart-item {
			@include clear;
			padding-bottom: 25px;

			&:last-child {
				margin-bottom: 20px;
				border-bottom: solid 3px #999;
			}
		}

		.cart-item-info {
			float: left;
			width: 50%;
		}

		.cart-item-options {
			float: left;
			width: 50%;

			ul {
				margin-top: 0;
			}
		}
		
		.cart-item-description {
			padding-right: 20px;
		}
	}


	// Large
	@include screensize(large) {
		.cart-item-image {
			display: block;
			float: left;
			width: 20%;
			max-height: 160px;
			overflow: hidden;

			img {
				width: 100%;
			}
		}

		.cart-item-info {
			width: 65%;
		}

		.cart-item-options {
			width: 35%;
		}

		.cart-item-details {
			float: left;
			width: 80%;
			padding-left: 2em;
		}

	}
}			



// Cart review
#layout-cart {
	&.cart-totals {
		.cart-table .cart-item-remove,
		.cart-item-quantity select
		{
			display: none;
		}
		
		.cart-item-quantity .quantity {
			display: block;
		}
	
		.location {
			margin-bottom: 0;
		}

		.cart-products {
			margin-top: 20px;
			margin-bottom: 30px;
		}

		.checkout-totals-shippingto {
			font-size: 1.8rem;
			padding-bottom: 30px;
		}
		
		.cart-item-edit {
			color: #999;
			margin: 8px 0;
			display: block;

			&:before {
				@include icon($icon-edit);
				padding-right: 5px;
			}
		}
	}

	.cart-friendlytotal {
		.location-title {
			font-size: 2.4rem;
			text-align: center;
		}

		span {
			display: block;
		}
	}

	.cart-promocode {
		&.active {
			#toggle-cart-promocode {
				display: none;
			}

			#cart-promocode-container {
				display: block;
			}
		}
	}

	#toggle-cart-promocode {
		display: block;
		text-align: center;
		margin: 0 auto;
		width: 10.5em;
		font-size: 1.8rem;
		color: $base-color-primary;
		border-bottom: dotted 1px $base-color-primary;
	}

	#cart-promocode-container {
		display: none;
		background-color: #F7F7E0;
		padding: 1em;
		border-top: solid 1px #999;
		border-bottom: solid 1px #999;
	}

	.cart-promocode-status {
		margin-top: 15px;
		font-size: 1.4rem;

		li {
			padding-bottom: .5em;
		}


		.success {
			color: #090;

			&:before {
				@include icon($icon-checkmark);
			}
		}

		.error { 
			color:#c00;

			&:before {
				@include icon($icon-xcancel);
			}
		}

		strong {
			width: 10em;
			padding-left: 5px;
			text-transform: uppercase;
		}
	}


	.cart-total {
		@include clear;
		margin: 30px 0;
	}

	.cart-total-table {
		@include totalTable;
		font-size: 2.2rem;
		margin: 0;

		.total {
			border-top: solid 1px #999;
			font-weight: bold;
			padding-top: 10px;
			font-size: 2.4rem;
			color: $base-color-action;
		}
	}

	.cart-total-footnote {
		font-size: 1.3rem;
		text-align: right;
		color: #999;
	}

	.cart-checkout-button {
		margin-top: 30px;
	}


}


@include screensize(medium) {
	#layout-cart {

		.cart-friendlytotal {
			.location-title {
				font-size: 3rem;
				text-align: left;
			}

			span {
				display: inline;
			}
		}

		.cart-promocode {
			float: left;
			width: 50%;
		}

		.cart-total {
			float: left;
			width: 50%;
			margin-top: 0;


			.cart-checkout-button {
				float: right;
				width: 70%;	
			}
		}


		#toggle-cart-promocode {
			text-align: left;
			display: inline;
			margin: 0;
			width: auto;
			color: $base-color-primary;
			border-bottom: none;
		}

		#cart-promocode-container {
			display: block;
			background: none;
			padding: .5em 0;
			border: none;

			input {
				width: 12em;
				display: inline;
			}

			input, button {
				font-size: 1.4rem;
				padding-top: .2em;
				padding-bottom: .2em;
			}
		}

		.cart-promocode-status {
			margin-top: 15px;
			font-size: 1.4rem;

			li {
				padding-bottom: .5em;
			}


			.success {
				color: #090;

				&:before {
					@include icon($icon-checkmark);
				}
			}

			.fail { 
				color:#c00;

				&:before {
					@include icon($icon-xcancel);
				}
			}

			strong {
				width: 10em;
				padding-left: 5px;
				text-transform: uppercase;
			}
		}




	}
}



@include screensize(large) {
	#layout-cart {
		.cart-products, .cart-summary {
			padding-right: 5rem;
		}

		

		.cart-summary {
			@include clear;
		}
	}


	/* Centering a big for tablets */
	.touch {
		#layout-cart {
			.cart-products, .cart-summary {
				padding: 0 6rem;
			}
		}
	}

}



@include screensize(xlarge) {
	#layout-cart {
		.cart-products, .cart-summary {
			padding-right: 15rem;
		}
	}
}