@import "_base.scss";

/*
 | Category landing page 
 |
 | 2014; Znode, Inc.
 */

#layout-category {
	.category-title {
		background-color: #e5e5e5;
		color: #222;
		border-bottom: solid 1px #999;
		padding: 1em 0;
		margin-bottom: 20px;

		h1 {
			@include container(0,0);
		}
	}

	.feature-left {
		@include container(0,0);
	}

	.feature-right {
		.title {
			font-weight: 400;
		}
	}


	.menu {
		margin: 10px 0;
		font-size: 1.8rem;

		a {
			display: block;
			color: $base-color-primary;
			padding: .5em 0;
		}
	}

	.feature-promo {
		display: block;
		border-top: solid 1px #fff;

		.title {
			color: #fff;
			font-size: 2.6rem;
			padding: 1.6em 1.3rem;
			text-shadow: 1px 1px 3px #000;
		}

		&.promo-a {
			background:url(../../images/bg_apple.jpg);
		}

		&.promo-b {
			background:url(../../images/bg_flowers.jpg);
		}

		&.promo-c {
			background:url(../../images/bg_strawberry.jpg);
		}

		&.promo-d {
			background:url(../../images/bg_ingredients.jpg);
		}		
	}


	.category-products {
		@include container(20px,20px);
	}


	.category-filters {
		@include container(10px, 10px);

		#toggle-filters {
			color: #000;

			&:after {
				@include icon($icon-arrowdown);
			}
		}

		#filter-container {
			display: none;
			@include clear;
			//padding-top: 20px;
		}

		OLD.filter-list {
			margin-bottom: 20px;

			.filter-name {
				background-color: #333;
				color: #fff;
				padding: .3em;
			}

			a {
				display: block;
				padding: .5em 1em;
				font-size: 1.8rem;
			}
		}
	}

	.category-more {
		display: block;
		text-align: center;
		border-top: dotted 1px #999;
		padding: 10px 0;
		margin-top: 20px;
		font-size: 1.8rem;

		.button {
			display: block;
			margin: 20px auto;
		}
	}


}


// Medium
@include screensize(medium) {
	#layout-category {
		.category-title {
			background: none;
			padding: 0;
			border: none;
			color: #fff;
			
			h1 {
				background-color: $base-color-primary;
				@include container(.5em, .5em);
			}
		}

		.category-features {
			@include container(0,20px);
		}

		.feature-left {
			@include clean;
			float: left;
			width: 35%;
			padding-right: $base-gutter-width;
		}

		.feature-right {
			float: left;
			width: 65%;
			padding-left: $base-gutter-width;


			.title {
				margin: 0;
				font-weight: normal;
			}
		}

		.image-promo {
			border-top: none;
			height: 180px;
			overflow: hidden;
			display: block;
		}

		.features {
			@include clear;
			padding-top: 10px;

			

			li {
				width: 50%;
				float: left;

				&:last-child {
					padding-left: $base-gutter-width;
				}
			}
		}


		.category-filters {
			@include container(20px, 20px);
			background-color: #FAF6E9;
			border-top: dotted 1px #999;
			border-bottom: dotted 1px #999;

			.section-header {
				border-bottom: none;
				margin: 0;
			}

			#toggle-filters {
				color: #000;
				text-align: center;
				display: block;
			}

			.filter-list {
				//width: 20%;
				//float: left;
				//padding-right: 1em;

				.filter-name {
					background: none;
					color: #222;
					padding: 0;
					font-weight: bold;
					border-bottom: dotted 1px #222;
				}

				a {
					display: block;
					padding: .5em 0;
					font-size: 1.8rem;
				}
			}

		}


		.category-products {
			@include container(20px,20px);
		}

		.category-more .button {
			width: 15em;
		}


	}
}



// Large
@include screensize(large) {
	#layout-category {
		.category-title h1 {
			padding-left: 1em;
		}

		.category-features {
			@include container(0,20px);
		}

		.feature-left {
			width: 25%;
		}

		.feature-right {
			width: 75%;
		}

		.image-promo {
			height: 220px;
		}

		.top-promo {
			float: left;
			display: block;
			width: 33%;
			padding-right: $base-gutter-width;
		}

		.features {
			@include clear;
			width: 66%;
			float: left;
			padding-top: 0;


			li {
				width: 50%;
				float: left;

				&:last-child {
					padding-left: $base-gutter-width;
				}
			}
		}

		.category-filters {
			padding: 20px 1em;
		}

	}
}


//@import "categoryalt.scss";