@import "_base.scss";

#layout-altcategory {
	

	.category-feature {
		@include container;
	}
	
	.feature-splash,
	.browse-sidebar {
		display: none;
	}
	
	.feature-nav {
		.menu {
			margin: 10px 0;
			font-size: 1.8rem;

			a {
				display: block;
				color: $base-color-primary;
				padding: .5em 0;
			}
		}
	}
	
	.category-filters {
		padding: 10px 0;

		#toggle-filters {
			color: #000;

			&:after {
				@include icon($icon-arrowdown);
			}
		}

		#filter-container {
			display: none;
			@include clear;
		}
	}

	

}


// MEDIUM
@include screensize(medium) {
	#layout-altcategory {
		.location {
			@include offsite;
		}
		
		.category-filters { 
			display: none;
		}
	
		.category-feature {
			@include container;
			position: relative;
			height: 350px;
			overflow: hidden;
		}

		.feature-splash {
			display: block;
			
			img {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
			}
			
			.title {
				position: absolute;
				top: 15%;
				left: 20px;
				font-size: 3.6rem;
				color: #fff;
				z-index: 2;
			}
		
		}
		
		.feature-nav {
			position: absolute;
			top: 0;
			right: 0;
			width: 250px;
			height: 360px;
			background-color: #43041f;
			border-left: solid 1px darken(#43041f, 25%);
			color: #fff;
			z-index: 3;
			padding: 20px;
			
			.section-header {
				display: none;
			}
			
			li {
				padding: 15px 0;
				font-size: 2.2rem;
				border-bottom: solid 1px lighten(#43041f, 10%);
				
				&:last-child {
					border: none;
				}
			}
			
			.menu a {
				color: #fff;
			}
		}
		
		
		.category-browse {
			position: relative;
		}
		
		.browse-grid {
			margin-right: 250px;
			
			.product-grid > li {
				width: 50%;
			}
			
			.product-tile {
				position: relative;
				border-bottom: solid 1px #ccc;
				min-height: 250px;
				max-height: 250px;
				padding: 15px 0;
			
				.image {
					height: auto;
					width: 30%;
					max-height: none;
				}
				
				.info {
					position: absolute;
					top: 30px;
					right: 0;
					width: 65%;
				}
				
				.price {
					background: none;
					padding: 0;
				}
				
				.title {
					font-size: 2.2rem;
					padding: 0;
				}
			}
		}

		.browse-sidebar {
			display: block;
			position: absolute;
			top: 0;
			right: -$base-screen-padding-medium;
			width: 250px;
			
			.list-group-title-background {
				margin: 0;
				border-radius: 0;
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;
				background-color: lighten(#43041f, 10%)
			}
		}

	}
}



@include screensize(large) {
	#layout-altcategory {
		.feature-nav {
			width: 300px;
		}
		
		.browse-grid {
			margin-right: 300px;
			
			.product-tile {
				min-height: 360px;
				max-height: 360px;
			}
		}
		
		.browse-sidebar {
			width: 300px;
		}
	}
}



@include screensize(xlarge) {
	#layout-altcategory {
		.browse-grid .product-tile {
			min-height: 400px;
			max-height: 400px;
		}
		
		.browse-sidebar {
			width: 300px;
			right: 0;
		}
	}
}