@import "_base.scss";

/*
 | Checkout 
 |
 | 2014; Znode, Inc.
 */

 
// Common
.checkout-exit {
	display: block;
	font-size: 1.4rem;
	color: #999;
	margin-top: 4rem;
	text-align: center;
}


.checkout-step {
	@include clear;
	@include container;
	background-color: $base-color-tertiary;
	color: $base-fgcolor-tertiary;
	border-bottom: solid 1px #999;

	.checkout-step-title {
		font-size: 1.8rem;
		font-weight: $base-font-normal;
		padding: 6px 0;
		margin: 0;
	}
}


// Hide address change buttons
.CheckoutGuestShipping #layout-checkout-newshipping .edit-address-email { display: none; }


// Medium
@include screensize(medium) {
	.checkout-exit {
		display: none;
	}
	
	
	.checkout-step {
    	padding: 0;
    	border-bottom: solid 1px $base-color-primary;

        .checkout-step-title {
            padding: .8rem 1.6rem;
        }
    }
}



// Xlarge (wide desktop)
@include screensize(xlarge) {
	.checkout-step {
    	background-color: #fff;
		color: $base-color-primary;
		

        .checkout-step-title {
            padding-left: 1.6rem;
        }
    }
}



@import "_checkout_payments.scss";
@import "_checkout_shipping.scss";
@import "_checkout_login.scss";
