@import "_base.scss";


/*
 | Global utility styles 
 |
 | Independent utility classes that are not dependent on specific elements
 | These should be single-level classes only with no nested children
 |
 | 2014; Znode, Inc.
 */

 
 
// Site container class
// Restrains width and provides padding/centering, see container() mixin for math
// See responsive section for .narrow-frame device rules
.container,
.container-narrow,
.container-center {
    @include container;
}

// Simple hide
.hide {
    display: none;
}

// Minimum small text
.tiny {
    font-size: 1.4rem;
}

.tinyfade {
    @extend .tiny;
    color: #999;
}

.fade {
	color: #999;
}


// Strikethrough for original price
.cut-price {
	text-decoration: line-through;
	color: #999;
}


// Underline 
.underline {
    text-decoration: underline;
}


// Text alignment
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}


// CSS Table
.table { display: table; }
.table-tr { display: table-row; }
.table-td { display: table-cell; }


// Well frame, generics
.frame {
	background-color: #efefef;
	border: solid 1px #ccc;
	border-radius: 3px;
	padding: 20px;
}


// Next-to-button cancel link
.action-cancel {
    color: #999;
    text-decoration: underline;
    display: block;
    text-align: center;
    margin-top: 2em;

    @include screensize(medium) {
        display: inline;
        margin-left: 2.6em;
        margin-top: 0;
        text-align: left;
    }
}


// Adds right arrow to end of text
.arrow-right-after:after,
.arrow-right-before:before 
{
    @include icon($icon-arrowright);
}

// Left arrow before text (go back arrow)
.arrow-left-before:before {
    @include icon($icon-arrowleft);
}

// Adds down arrow at end of text
.arrow-down-after:after {
    @include icon($icon-arrowdown);
}

// Adds down arrow at end of text
.arrow-up-after:after {
    @include icon($icon-arrowup);
}


// Style button as a link
.button-aslink {
	@include inputreset;
	font-family: $base-font-primary;
	border: 0;
	padding: 0;
	margin: 0;
	font-size: 1.6rem;
	font-weight: normal;
	text-decoration: underline;
}


/*
 | Headers and Titles
 |
 */


// Underlined header, dark
.section-header {
    font-size: 1.8rem;
    font-weight: $base-font-bold;
    color: $base-fgcolor-dark;
    border-bottom: dotted 1px $base-fgcolor-dark;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

// Underlined header, colored
.section-header-color {
    @extend .section-header;
    color: $base-color-primary;
}


// Primary color background
.section-header-background {
	font-size: 1.8rem;
    font-weight: $base-font-bold;
    background-color: $base-color-primary;
    color: $base-fgcolor-primary;
	padding: 5px 10px;
	margin-bottom: 10px;
}


// Feature header, centered, underlined and capitalized
.feature-header {
    font-size: 1.8rem;
    font-weight: $base-font-light;
    color: $base-color-primary;
    text-align: center;
    text-transform: uppercase;
    
    span {
        text-align: center;
        border-bottom: dotted 1px $base-color-primary;
        padding: 0 2em;
    }
}





/*
 | Responsive conditions
 |
 */

// Small device only
@include screensize(smallonly) {
    .notsmall, .medium-only, .large-only { display: none; }

    input {
        width: 100%;
    }

    input[type=checkbox], input[type=radio] {
        width: auto;
    }
}




// Medium device 
@include screensize(medium) {
    .small-only { display: none; }
}


// Medium device strict
@include screensize(mediumonly) {
    .large-only { display: none; }
}


// Large device
@include screensize(large) {

    // Narrows container and centers on page
    .container-center {
        padding: 0 6.5rem;
    }

    // Narrows container from right, still justified
    .container-narrow {
        padding-right: 12rem;
    }
}


// Large device strict
@include screensize(largeonly) {
    .medium-only { display: none; }
}


// XLarge device (widescreen desktop)
@include screensize(xlarge) {
    .medium-only, .small-only { display: none; }
}


@import "modules.scss";