@import "_base.scss";

/*
 | Home controller
 | Home page and gift card views
 |
 | 2014; Znode, Inc.
 */

 
 // Home page
#layout-home {
	.home-header {
		text-align: center;
		color: $base-color-primary;
		padding-bottom: 12px;
		text-transform: uppercase;
		display: block;
		font-weight: 300;

		span {
			border-bottom: dotted 1px $base-color-primary;
			padding: 0 2em;
		}
	}	
	
	
	.home-promo {
		position: relative;
		overflow: hidden;
		display: block;
		background-color: #333;
		
		.home-promo-content {
			position: absolute;
			left: 0;
			top: 20px;
			z-index: 10;
		}
		
		img {
			//width: 100%;
		}
	}
	
	.home-promo-primary {
		
		&.container {
			padding: 0;
		}
		
		.home-promo {
			height: 200px;
		}
	
		.home-promo-content {
			color: #fff;
			text-shadow: 1px 1px 3px #000;
			padding: 0 15px;
		}
		
		.home-promo-title {
			font-size: 2.6rem;
			font-weight: normal;
			padding-top: 20px;
		}
		
		.home-promo-action {
			font-size: 1.4rem;
			
			&:after {
				@include icon($icon-arrowright);
			}
		}
	}
	
	
	.home-wide-promo {
		@include container(.5em, .5em);
		display: block;
		text-align: center;
		border-top: dotted 1px #999;
		border-bottom: dotted 1px #999;
		background-color: #fff;
		color: $base-color-primary;
		margin: 1em;

		.home-promo-title {
			font-size: 2.2rem;
			text-shadow: none;
		}
	}	
	
	
	.home-promo-secondary {
		margin-bottom: 30px;
	
		.home-shortcuts {
			font-size: 1.8rem;
			background-color: $base-color-primary;
			padding: 1em;
			color: #fff;

			a {
				color: #fff;
				display: block;

				&:after {
					@include icon($icon-arrowright);
					vertical-align: bottom;
					padding-left: 3px;
				}
			}

			li {
				padding: .5em 0;
			}
		}	
		
		
		.home-promo {
			height: 100px;
			border-top: solid 1px #fff;
		}
	
		.home-promo-content {
			color: #fff;
			text-shadow: 1px 1px 3px #000;
			top: 0;
			padding: 0 15px;
		}
		
		.home-promo-title {
			font-size: 2.2rem;
			font-weight: normal;
			position: relative;
			padding-top: 20px;
		}
		
		.home-promo-action {
			font-size: 1.4rem;
			display: block;
			
			&:after {
				@include icon($icon-arrowright);
			}
		}
	
	}
	
	
	.home-header a {
		text-align: center;
		color: $base-color-primary;
		padding-bottom: 12px;
		text-transform: uppercase;
		display: block;
		font-weight: 300;

		span {
			border-bottom: dotted 1px $base-color-primary;
			padding: 0 2em;
		}
	}	
}

// Gift card check form
#layout-giftcardcheck {
	.frame, .reload {
		text-align: center;
	}
	
	.frame {
		margin-bottom: 30px;
	}
	
	h3 {
		font-size: 2.6rem;
	}
}



// Medium
@include screensize(medium) {
	#layout-home {
		.home-promo-primary {
			
			&.container {
				padding-bottom: 20px;
			}
			
			.home-promo {
				height: 320px;
			}
		
			.home-promo-content {
				background-color: $base-color-primary;
				color: #fff;
				text-shadow: 1px 1px 3px #000;
				padding: 25px 25px 25px 15px;
				top: 120px;
				border-bottom: solid 3px #300;
				width: 45%;
			}
			
			.home-promo-title {
				font-size: 2.6rem;
				font-weight: normal;
				padding-top: 0;
			}
			
			.home-promo-action {
				font-size: 1.4rem;
				
				&:after {
					@include icon($icon-arrowright);
				}
			}
		}	
		
		.home-wide-promo {
			margin: 0 15px;
		}
	
	
	
		.home-promo-secondary {
			@include clear;
			@include container(20px,30px);
			
			.home-shortcuts {
				border-right: solid $base-gutter-width #fff;
			}
			
			.home-promo {
				height: 210px;
			}
			
			.home-promo-title {
				padding-top: 50px;
			}
		}
		
		
	
		.home-column {
			position: relative;
			width: 33%;
			float: left;
			padding-right: $base-gutter-width;
			height: 210px;
			
			&.home-shortcuts {
				width: 34%;
			}

			&:last-child {
				padding-right: 0;
			}
			
			img {
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
	
	
	#layout-giftcardcheck {
		.frame, .reload {
			text-align: left;
		}
		
		.frame {
			width: 45%;
		}
	}
	
	#giftcard-balance-form {
		width: 45%;
	}
}



// Large device
@include screensize(large) {
	#layout-home {
		.home-column {
			width: 37%;
			
			&.home-shortcuts {
				width: 26%;
			}
		}
	}
}



// XLarge device
@include screensize(xlarge) {
	#layout-home {
		.home-promo-primary {
			.home-promo-content {
				width: 30%;
			}
		}
			
		.home-wide-promo {
			margin: 0 auto;
		}
	}
}