@import "_base.scss";

/*
 | Structure and Layout 
 | Site wrapper regions, header/footer, menus, etc.
 |
 | 2014; Znode, Inc.
 */


// Overlay menu for small devices
#mobile-menu {
	display: none;
	position: absolute;
	width: 100%;
	background: rgba(0, 0, 0, 0.75);
	z-index: 999;

	.to-top {
		display: none;
	}

	&.active {
		display: block;
	}

	.mobile-menu-container {
		width: 85%;
		margin: 30px auto 50px;
		background-color: #242424;
		font-weight: 300;
	}

	.mobile-menu-closetop {
		position: absolute;
		right: 12%;
		top: 30px;
		color: #000;
		padding: 0;
		z-index: 99;

		span {
			@include iconReplace(2rem, $icon-xclose);
		}
	}	

	.mobile-menu-closebottom {
		background-color: #fff;
		display: block;
		border-bottom-left-radius:6px;
		border-bottom-right-radius:6px;
		text-align: center;
		padding: 1em 0;
		color: #222;

		&:after {
			@include icon($icon-xclose);
			vertical-align: bottom;
			font-size: 2rem;
		}
	}
	

	.footer-search {
		padding: 1em;
	}

	.footer-header {
		background-color: #fff;
		color: #000;
		padding: .3em 1em;
		font-size: 1.6rem;

		&.menu-top {
			position: relative;
			border-top-left-radius:6px;
			border-top-right-radius:6px;
		}
	}	

	li {
		border-bottom: solid 1px #999;
	}

	a {
		display: block;
		color: #fff;
		padding: .75em 1em;
		font-size: 2rem;
	}
}



#layout,
#layout-header,
#layout-content,
#layout-footer 
	{
		@include clear;
		position: relative;
	}

	
#layout {
	background-color: #fff;
}



// Header, small device base
#layout-header {

	.header-toolbar-cart, 
	.header-toolbar-account {
		display: none;
	}

	.header-logo {
		position: absolute;
		width: 90px;
		height: 90px;
		top: 0;
		left: 0;
		z-index: 99;
		overflow: hidden;
		background: url(../../../Images/logo-mobile.png);
		background-size: 90px 90px;

		img {
			display: none;
		}
	}

	.header-cart {
		background-color: #222;
		color: #fff;
		height: 45px;
		padding-left: 100px;
		font-size: 1.8rem;
		font-weight: 300;

		a {
			display: block;
			color: #fff;
			line-height: 4rem;

			&:before {
				@include icon($icon-cart);
				padding-right: .5em;
				font-size: 2.6rem;
			}
		}
	}

	.header-nav {
		font-weight: 300;
		background-color: $base-color-secondary;
		color: #fff;
		height: 45px;
		padding-left: 100px;
		font-size: 2rem;

		li {
			display: none;
		}

		a {
			display: block;
			color: #fff;
			line-height: 4rem;
		}
	}


	#toggle-mobilemenu {
		display: block;

		&:before {
			@include icon($icon-menu);
			padding-right: .5em;
			font-size: 2.6rem;
		}
	}


	.header-toolbar {
		background-color: #fff;
		color: #999;

		ul,li {
			font-size: 1.6rem;
			list-style: none;
		}

		a {
			color: #999;
		}
	}
	
	.header-toolbar-promo {
		padding: 12px 15px;
	}

	.header-search {
		display: none;
		padding: 1em;
		border-bottom: solid 1px $base-color-secondary;

		input {
			@include inputreset;
			border-radius: 3px;
			background-color: #fff;
			border: solid 1px #ccc;
		}

	}
}

// Footer, small device base
#layout-footer {
	background-color: #333;
	color: #fff;

	.footer-promotion {
		padding: 1em;
	}

	.footer-sitemap {
		display: block;
		background-color: #fff;
	}

	a {
		color: #fff;
	}

	.to-top {
		background-color: #000;
		color: #fff;
		display: block;
		text-align: right;
		font-size: 1.4rem;

		a {
			color: #fff;
			padding: .3em 1em;
		}

		span:after {
			@include icon($icon-arrowup);
		}
	}

	.social-share {
		padding: 10px 0;
	}
}










// Small-only; saves undoing with overrides
@include screensize(smallonly) {
	#layout-header > .container {
		padding: 0;
	}

	#layout-footer {

		.container {
			padding: 0;
		}

		.to-top {
			background-color: #333;
			text-align: right;

			a {
				color: #fff;

				&:after {
					@include icon($icon-arrowup);
				}
			}
		}

		& > .to-top {
			background-color: #fff;
			color: #999;
			padding: .3em 1em;
			border: none;
		}

		.footer-sitemap {
			background-color: #fff;

			.footer-header {
				background-color: $base-color-primary;
				color: #fff;
				padding: .5em 1em;
				margin: 0;
			}

			li {
				font-size: 1.8rem;
				border-bottom: solid 1px #ccc;

				&:last-child {
					border: none;
				}
			}

			a {
				color: #000;
				display: block;
				padding: .8em 1em;
			}

			.to-top a {
				padding: .3em 1em;
				font-size: 1.4rem;
				color: #fff;
			}
		}

		.footer-contact, .footer-promotion {
			padding: 1em;
		}

		.footer-search {
			padding: 1em;
		}

	}


}


/* Medium */
@include screensize(medium) {
	#layout-header {
		border-bottom: solid 1px #999;
		padding-bottom: 10px;

		#toggle-mobilemenu {
			display: none;
		}


		.header-logo {
			width: 200px;
			position: relative;
			float: left;
			background: none;
			left: auto;

			img {
				display: block;
				width: 100%;
			}
		}

		.header-cart {
			display: none;
			position: absolute;
			top: 20px;
			right: 1.5em;
			width: auto;
			text-align: center;
			padding: 0 1em;
			border: none;
			background: none;
			color: #222;
			font-size: 1.6rem;

			a {
				color: #222;

				&:before {
					font-size: 2rem;
				}
			}
		}

		.header-nav {
			background-color: #fff;
			color: #222;
			display: block;
			font-size: 2rem;
			text-transform: uppercase;
			padding-top: 90px;
			padding-left: 0;

			a {
				color: #222;
			}

			li {
				display: block;
				float: left;
				padding-right: 1.3em;
			}
		}



		.header-search {
			display: block;
			float: right;
			padding-top: 25px;
			border: none;
			position: absolute;
			right: 0;
			top: 0;
			
			form {
				position: relative;
			}

			input {
				//@include inputreset;
				font-size: 1.6rem;
				width: 15em;
				border-color: #ccc;
				border-radius: 3px;
				padding-left: .5em;
				margin-right: 30px;
			}

			button {
				width: auto;
				padding: 0;
				background: none;
				border: none;
				display: inline;
				min-width: 0;
				position: absolute;
				top: 0;
				right: 0;
				margin: 0;

				span {
					@include iconReplace(2rem, $icon-search);
					color: #999;

					&:before {
						display: inline;
					}
				}
			}



		}

		.header-toolbar {
			@include clear;
			background-color: $base-color-primary;
			color: #fff;

			a {
				color: #fff;
			}

			ul {
				@include clear;
				float: right;
				width: 100%;

				li {
					float: left;
				}
			}

			.header-toolbar-account,
			.header-toolbar-cart {
				display: block;
				float: right;
				//padding-left: 1.6em;
				padding: 12px 1.6em;
			}

			.header-toolbar-promo {
				float: none;
				width: 100%;
				background-color: $base-color-tertiary;
				
				a {
					color: $base-color-primary;
				}
			}

			.header-toolbar-cart {
				a {
					background-color: darken($base-color-primary, 10%);
					padding: .2em .5em;
					border-radius: 3px;
					border:solid 1px darken($base-color-primary, 15%);
				}

				a:after {
					@include icon($icon-cart);
					padding-left: .5em;
					font-size: 1.4rem;
				}
			}
		}
	}

	#typeahead-results {
		display: none;
		position: absolute;
		left: -45px;
		background-color: darken(#fff, 5%);
		border: solid 1px #ccc;
		border-radius: 4px;
		padding: 15px;
		width: 100%;
		z-index: 50;

		&.active {
			display: block;
		}
		
		.close {
			position: absolute;
			right: 0;
			top: 0;
			
			span {
				@include iconReplace(2.4rem, $icon-xclose);
				color: #999;
			}
		}

		a {
			color: #000;
		}

		li {
			padding: 5px;
		}
		
		

	}


	#layout-footer {
		padding: 15px 0 30px;

		.footer-search,
		.to-top {
			display: none;
		}

		.footer-support {
			float: right;
			width: 45%;
		}

		.footer-header {
			font-size: 1.8rem;
		}

		.footer-promotion {
			padding: 0;
		}

		.footer-sitemap {
			@include clear;
			background: none;
			display: block;
			float: right;
			width: 55%;
			font-size: 1.4rem;

			.footer-container-primary,
			.footer-help,
			.footer-store {
				float: left;
				width: 33%;
				display: block;
			}

			li {
				padding: .4em 0;
			}
		}


		.social-share ul {
			width: auto;
		}
	}


}




// Common desktop, accounts for 960px width and main nav
@include screensize(desktop) {
	#layout-header {
		
		.header-toolbar {
			ul {
				@include container;
				float: none;
				
			}
		
			.header-toolbar-promo {
				float: left;
				width: auto;
				padding: 12px 0;
				background-color: $base-color-primary;
				
				a {
					color: $base-fgcolor-primary;
				}
			}
		}
	}



	#layout-footer {
		.footer-support {
			float: none;
			width: auto;
		}

		.footer-contact {
			float: right;
			width: 35%;
		}

		.footer-promotion {
			float: right;
			width: 25%;
			padding: 0 2em;
		}

		.footer-sitemap {
			@include clear;
			display: block;
			float: right;
			width: 40%;
			font-size: 1.4rem;

			.footer-store {
				padding-top: 0;	
			}

			li {
				padding: .4em 0;
			}
		}

		
	}	
}



/* XLarge */
@include screensize(xlarge) {
	#layout-header {
		margin-bottom: $base-gutter-width;
		
		.header-search {
			input {
				width: 12em;
			}
		}

	}
}
