@import "_base.scss";


/*
 | Style Modules 
 |
 | Styles for components (often partials) that are dependent on specific elements or markup structure.
 | Uses inline media queries to keep things grouped
 |
 | 2014; Znode, Inc.
 */


/*
 | Lists
 */
.list-group {

    ul {
        margin-bottom: 30px;
    }

    a {
        display: block;
        font-size: 1.8rem;
        padding: .5em 0;
    }

	.list-group-title {
		font-size: 1.4rem;
		font-weight: $base-font-normal;
		color: #000;
		border-bottom: dotted 1px #666;
		padding-bottom: 2px;
		margin-bottom: 5px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

    .list-group-title-background {
        @extend .list-group-title;
        border: none;
        background-color: $base-color-secondary;
        color: $base-fgcolor-secondary;
        padding: .3em 1em;
    }
}



/*
 | Status message - Part of layout
 */
#status-message {
	margin: 20px 0;
	font-size: 1.8rem;
	background-color: $base-bgcolor-alert-info;
	color: $base-fgcolor-alert-info;
	border: solid 1px darken($base-bgcolor-alert-info, 40%);
	border-radius: 4px;
	padding: 10px 20px;
	
	&.error {
		background-color: $base-bgcolor-alert-error;
		color: $base-fgcolor-alert-error;
		border: solid 1px darken($base-bgcolor-alert-error, 40%);	
	}
	
	&.success {
		background-color: $base-bgcolor-alert-success;
		color: $base-fgcolor-alert-success;
		border: solid 1px darken($base-bgcolor-alert-success, 40%);	
	}
}


/*
 | Rating Stars
 */
.star-rating {
	.full:before {
		@include icon($icon-starfull);
		display: inline;
		font-weight: normal;
	}
	
	.half:before {
		@include icon($icon-starhalf);
		display: inline;
		font-weight: normal;
	}

	.empty:before {
		@include icon($icon-starempty);
		display: inline;
		font-weight: normal;
	}
}




/*
 | Product review row
 */
.product-review {
	@include clean;
	margin-bottom: 30px;
	
	.star-rating {
		display: block;
	}
	
	.review-title {
		font-weight: bold;
	}
	
	.review-meta,
	.review-body
	{
		@include clean;
	}
	
	.review-meta {
		padding-bottom: 5px;
		color: #666;
		font-size: 1.4rem;
	}
	
	@include screensize(medium) {
		.star-rating {
			display: inline;
			margin-right: 8px;
		}
	}
}




/*
 | Address block
 */
.address-block {
	position: relative;

    .address-title {
		font-weight: bold;
		color: #666;
    }
	
	.change-address {
		margin-top: 8px;
		display: block;
		text-decoration: underline;
		color: #666;
	}
	

	
	@include screensize(smallonly) {
		.change-address {
			@include button;
			display: inline;
			width: auto;
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			font-size: 1.4rem;
			padding: .3em .5em;
		}		
	}
}



/*
 | Background image blocks; Used on category landing pages
 */
.image-promo {
	display: block;
	position: relative;
	padding: 20px 16px;
	//background-color: $base-color-primary;
	background: url(/Images/build/bg_triangular.gif);
    background-color: $base-color-primary;
	border-top: solid 1px $base-fgcolor-primary;
	overflow: hidden;
	
	img {
		display: none;
	}

	.image-promo-title {
		font-weight: normal;
		font-size: 2.4rem;
		color: #fff;
		text-shadow: 1px 1px 3px #000;

		.image-promo-summary {
			display: block;
			font-size: .7em;
		}
	}

	@include screensize(medium) {
		border: none;
		min-height: 150px;
		
		img {
			display: block;
			position: absolute;
			top: -25px;
			left: -25px;
			z-index:0;
		}

		.image-promo-title {
			position: absolute;
			bottom: 18%;
			left: 16px;
			z-index: 10;
		}

        &.background .image-promo-title {
            width: 100%;
            font-size: 1.8rem;
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            background-color: $base-color-primary;
            padding: 8px 16px;
            border-top: solid 6px #fff;
        }
	}
}

// Places text higher in block
.image-promo-top {
	@extend .image-promo;

	@include screensize(medium) {
		.image-promo-title {
			position: absolute;
			top: 18%;
			left: 16px;
		}

        &.background .image-promo-title {
            top: 0;
            left: 0;
            bottom: auto;
            border-bottom: solid 6px #fff;
            border-top: none;
        }
	}
}



/*
 | Product grid list. Use with tiles.
 */
ul.product-grid {
    @include clear;
    padding: 15px 0;


    @include screensize(smallonly) {
        .product-tile {
            padding: 15px 0;
            border-bottom: solid 1px #ccc;

            & > a {
                @include clear;
            }

            .image, .info {
                float: left;
                width: 50%;
            }

            .image {
                padding-right: 10px;
            }

            .title {
                background: none;
                color: #000;
                padding: 0;
            }

            .price {
                font-size: 1.6rem;
                padding: 0;
            }
        }
    }




    // x2 tiles per row
    @include screensize(smallwide) {
        & > li {
            width: 49%;
			display: inline-block;
			vertical-align: top;
            padding-right: $base-gutter-width;
        }

        .product-tile {
            padding: 10px 0 50px 0;
            border: none;

            .image, .info {
                float: none;
                width: 100%;
            }

            .image {
                padding-right: 0;
            }

            .title {
                background: none;
                color: #000;
                padding: 0;
            }

            .price {
                font-size: 1.8rem;
                padding: .2em .5em;
            }
        }
    } 

    // x3 tiles per row
    @include screensize(medium) {
        & > li {
			display: inline-block;
			vertical-align: top;
            width: 33%;
            padding-right: $base-gutter-width;
        }
    }   

    // x5 tiles per row
    @include screensize(large) {
        & > li {
            width: 19%;
        }
    }

}


/*
 | Product tile (in grid)
 */
.product-tile {
    padding-bottom: 60px;

    a {
        color: #000;
    }

    .image {
        position: relative;
        overflow: hidden;
        width: 100%;
		max-height: 210px;
    }

    img {
        width: 100%;
		max-width: 100%;
    }

    .price {
        padding: .2em 0;
        font-size: 2.2rem;
        color: $base-color-primary;
    }

    .title {
        background-color: #000;
        font-size: 1.8rem;
        color: #fff;
        padding: .2em .5em;
    }


    // Small widescreen gets open price, title background
    @include screensize(smallwide) {
        .title {
            background: none;
            color: #000;
            font-size: 1.8rem;
            padding: 0;
        }
		
		.image {
			height: 210px;
			line-height: 204px;
			
			img {
				vertical-align: bottom;
			}
		}

        .price {
			background-color: $base-color-tertiary;
            color: $base-color-primary;
            font-size: 1.8rem;
            padding: .2em .5em;
        }
    }


    // Medium+ gets price background, open title
    @include screensize(medium) {
		.image {
			height: 210px;
			line-height: 204px;
			
			img {
				vertical-align: bottom;
			}
		}

        .title {
            background: none;
            color: #000;
            padding: 5px 0 0 0;
        }

        .price {
            background-color: $base-color-tertiary;
            color: $base-color-primary;
            font-size: 1.8rem;
            padding: .2em .5em;
        }
    }

}





/*
 | Location summary block
 */
.location-summary {
	@include container(10px, 10px);
	background-color: $base-color-tertiary;
	border-bottom: solid 1px #999;

	.location-summary-title {
		font-weight: $base-font-normal;
		font-size: 1.8rem;
	}

    @include screensize(xlarge) {
    	background: none;
    	color: $base-color-primary;
    	border-color: $base-color-primary;

        .location-summary-title  {
            padding-left: 1.6rem;
        }
    }	
}




/*
 | Page location block
 */
.location {
    @include container($base-screen-padding-small, $base-screen-padding-small);
    background-color: #e5e5e5;
    color: #222;
    border-bottom: solid 1px #999;
    margin-bottom: 20px;

    &.with-summary {
    	margin-bottom: 0;
    }

    
    a {
        color: #222;
    }

    .location-title {
        font-size: 3rem;
        font-weight: 400;
    }

    &.no-background {
        background: none;

        .location-title {
            font-weight: 700;
            color: #000;
        }
    }



    // Medium gets theme background color
    @include screensize(medium) {
        background-color: $base-color-primary;
        padding: 0;
        border: none;
        color: #fff;
        margin-bottom: 20px;

        a {
            color: #fff;
        }
        
        .location-title {
            padding: .8rem 1.6rem;
            font-size: 3rem;
        }
    }


    @include screensize(xlarge) {
        .location-title {
            padding-left: 1.6rem;
        }

        &.no-background .location-title {
            padding-left: 0;
            padding-right: 0;
        }
    }
}


/*
 | Generic form
 */
.form {
    .form-title {
        color: #222;
        margin: 1em 0;
    }

    dl,dt,dd { @include clean; }

    dl {
        margin-bottom: 1em;
    }

    dt {
        font-weight: bold;
        color: #666;
        font-size: 1.6rem;
        margin-top: 25px;
        display: block;

        &:first-child {
            margin-top: 0; 
        }
    }

    dd {
        font-size: 1.8rem;
        padding-top: .2em;
    }


    dd.form-error .field-validation-error {
		background-color: #c00;
        color: #fff;
        font-weight: bold;
        font-size: 1.6rem;
        padding: .2em .5em;
		border-radius: 3px;
		margin-top: 4px;
    }

    dd.form-helper {
        font-size: 1.4rem;
        color: #999;
        padding-top: 0;
    }


    a.form-cancel {
        color: #999;
        display: block;
        text-align: center;
        padding: 20px 0;

        @include screensize(medium) {
            margin-left: 2em;
            display: inline;
            text-align: left;
            padding: 0;
        }
    }

    .form-submit {
        @include buttoncolor($base-color-action, $base-fgcolor-action);
    }
}



/*
 | Social media glyphs
 */
$social-share-size: 2.4rem;

.social-share {
    display: block;

    ul {
        @include clear;
    }

    a {
        color: #999;
    }

    li {
        float: left;
        padding-right: 1rem;
    }

    .twitter {
        @include iconReplace($social-share-size, $icon-twitter);
    }

    .facebook {
        @include iconReplace($social-share-size, $icon-facebook);
    }

    .pinterest {
        @include iconReplace($social-share-size, $icon-pinterest);
    }

    .email {
        @include iconReplace($social-share-size, $icon-email);
    }
	
	.addthis {
        @include iconReplace($social-share-size, $icon-addthis);
    }
}



/*
 | Total table for cart and checkout.
 */
.total-table {
	@include clear;

    dt,dd {
        @include clean;
        float: left;
        width: 50%;
        text-align: right;
        padding-bottom: 2px;
    }
	
	.total {
		font-weight: bold;
	}
}




/*
 | Common login partial
 */
.login-form {
    .login-form-forgotpassword {
        font-size: 1.4rem;
        color: #999;
        text-align: center;
        padding: 1em 0;
        display: block;
        text-decoration: underline;

        @include screensize(medium) {
            text-align: left;
        }
    }
}