@import "_base.scss";

/*
 | Product detail 
 | Includes review and bundle options imports
 |
 | 2014; Znode, Inc.
 */


 // Base/small
#layout-product {
	.status-outofstock {
		background-color: #c00;
		color: #fff;
		font-weight: bold;
		border-radius: 5px;
		padding: 4px 8px;
		text-align: center;
		margin-top: 3px;
	}
	
	.wishlist-status {
		background-color: $base-color-action;
		color: #fff;
		font-weight: bold;
		border-radius: 5px;
		padding: 4px 8px;
		text-align: center;
		margin: 3px 0 10px 0;
		
		a {
			color: #fff;
			
			&:before {
				@include icon($icon-checkmark);
				font-weight: normal;
				padding-right: 5px;
			}
		}
		
		&.error {
			background-color: #c00;
		}
	}
	
	// Primary content
	.product-breadcrumb {
		display: block;
		font-size: 1.4rem;
		padding: 1em 0;
	}

	.product-name {
		font-weight: normal;
		font-size: 3.6rem;
		padding-bottom: 1rem;
		line-height: 1em;
		padding-top: 15px;
	}

	.product-price {
		font-size: 3.6rem;
		font-weight: normal;
		padding: .3em 0;

		.cut-price {
			text-decoration:line-through;
			color: #999;
			padding-left: 10px;
			font-size: 3rem;
		}
	}

	.product-overview .button-wishlist {
		margin: 25px 0;
	}

	.product-images {
		img {
			max-width: 100%;
		}
	}

	.product-altimages {
		.toggle {
			display: block;
			text-align: center;
			border-bottom: dotted 1px #999;
			padding: .5em;

			span:after {
				@include icon($icon-arrowdown);
			}
		}

	 	ul {
	 		@include clear;
	 		display: none;
	 		border-bottom: none;
	 		padding-top: 10px;
	 	}

	 	li {
	 		width: 25%;
	 		padding-right: 10px;
	 		float: left;
	 	}		
	}

	.product-status {
		color: #090;
		padding: 1em 0 .5em;
	}

	.product-rating {
		color: #666;
		margin: 0 0 10px 0;

		a {
			color: #666;
			text-decoration: underline;
			padding-left: 5px;
		}

		.full:before {
			@include icon($icon-starfull);
			display: inline;
		}

		.none:before {
			@include icon($icon-starempty);
		}
	}
	
	
	// Included bundle items; image and title only
	.product-bundles {
		background-color: $base-color-tertiary;
		border: solid 1px #ccc;
		padding: 10px;
		margin: 15px 0;
		
		.notice {
			font-size: 1.4rem;
			color: #999;
		}
		
		ul {
			margin-top: 10px;
		}
	}
	
	.bundle-item {
		@include clear;
	}
	
	.bundle-item-image {
		float: left;
		width: 64px;
		height: 64px;
		overflow: hidden;
		margin: 0 10px 10px 0;
		border: solid 1px #ccc;
		
		img {
			width: 100%;
		}
	}
	
	.bundle-item-title {
		font-size: 1.8rem;
		font-weight: normal;
	}


	
	
	
	.product-details {
		background-color: $base-color-tertiary;
		border-top: solid 1px #999;
		padding-bottom: 30px;

		.product-options {
			margin-top: 30px;
		}

		.product-variations {

			dl {
				@include clean;
			}

			dt {
				font-weight: bold;
				padding-bottom: 2px;
			}

			dd {
				@include clean;
				padding-bottom: 15px;
			}

			select {
				width: 100%;
			}
		}

		.product-tocart {
			margin-top: 20px;
			
			.price {
				font-size: 4rem;
				margin-bottom: 20px;

				div {
					font-color: #666;
					font-size: 1.6rem;
					font-weight: normal;
				}
			}

			button {
				width: 100%;
				margin: .5em 0;

				&.button-cart {
					@include buttoncolor($base-color-action, $base-fgcolor-action);
					font-size: 2.2rem;
					padding: .5em 0;
				}

				&.wishlist {
					padding: .5em 0;
				}
			}

			.share {
				display: none;
			}
		}		
	}		
	
	.product-addons {
		dd label {
			font-size: 1.8rem;
			margin-bottom: 12px;
		}
	}

	// Long details and reviews
	.product-content {
		border-top: double 3px #999;
		padding: 10px 0;
		margin-top: 30px; 

		.tabs {
			display: none;
		}

		.tab-control {
			font-size: 1.8rem;
			padding: .6em 0;

			a { 
				color: #000;

				&:after {
					@include icon($icon-arrowdown);
				}
			}
		}
		
		.toggle {
			color: #000;

			&:after {
				@include icon($icon-arrowdown);
			}
		}

		.tab-content {
			display: none;
			padding: 10px 0;
			border-bottom: solid 1px #999;
		}
	}	

	
	// Cross products and related
	.product-extras {
		border-top: dotted 1px #999;
		background-color: #fff;
		padding: 1em 0;
	}
	
	.extras-yml {
		.product-grid {
			margin: 5px 0 60px;

			@include screensize(smallwide) {
		        li {
		            width: 100%;
		            padding-right: 0;
		        }
		    }
		}

		.product-tile {
			padding-bottom: 1em;

			@include screensize(smallwide) {
		        min-height: 0;
		    }
		}

		.image, .price {
			display: none;
		}

		.title {
			color: $base-color-primary;
			background: none;
			padding: 0;
		}

	}
}


// MEDIUM
@include screensize(medium) {
	#layout-product {
		margin-top: 15px;
		
		.product-name {
			padding-top: 0;
		}
	
		.product-images {
			float: left;
			width: 45%;
			padding-right: 2em;
		}

		.product-details {
			
			margin-top: 15px;
		}

		.product-overview {
			float: left;
			width: 55%;
			//padding-top: 20px;
		}

		.product-options {
			@include clear;
		}

		.product-variations {
			float: left;
			width: 50%;
			padding-right: ($base-screen-padding-medium*2);

			select {
				background-color: #efefef;
			}
		}

		.product-tocart {
			float: left;
			width: 50%;
		}

		.product-content {
			border: none;
			
			padding-right: ($base-screen-padding-medium * 2);

			.tabs {
				@include clear;
				display: block;
				padding: 0 $base-screen-padding-medium;
				border-bottom: dotted 1px #999;
				padding-bottom: 10px;
				margin-bottom: 10px;
				font-size: 1.8rem;

				a {
					color: #000;

					&:after {
						@include icon($icon-arrowdown);
					}
					
					&.active {
						font-weight: bold;
					}
				}

				li {
					float: left;
					padding-right: .5em;
					border-right: solid 1px #000;

					&:last-child {
						border: none;
						padding-left: .8em;
					}

					
				}
			}

			.tab-content {
				display: block;
				border-bottom: none;
			}
		}

		
		
		
		.product-extras {
			background-color: #fff;

			.image {
				display: block;
			}

			.product-grid {
				margin: 5px 0;

				li {
					width: 25%;
					
				}
			}

			.product-tile {
				padding-bottom: 1em;
				
			}

			.price {
				display: block;
				background: none;
				color: #666;
				padding: 0;
				font-size: 1.6rem;
			}

			.title {
				padding: 3px 0;
				font-size: 1.8rem;
			}			
		
			// Bought together
			.extras-fbt {
				@include clear;
				background-color: #efefef;
				border: solid 1px #ccc;
				border-radius: 3px;
				padding: 10px 20px;
				margin-bottom: 40px;
				
				h4 {
					margin: 0 0 10px 0;
				}
				
				.product-grid {
					margin-top: 0;
					padding-top: 0;
					
					li {
						width: 49%;
					}
				}
				
				.product-tile {
					width: 80%;
					margin: 0 auto;
					
					.image {
						float: left;
						width: 40%;
						border: solid 1px #ccc;
						height: auto;
						line-height: 0;
					}
					
					.info {
						float: left;
						width: 60%;
						padding-left: 15px;
					}
					
					.price {
						background: none;
						padding: 0;
					}
					
					.title {
						padding: 0;
						font-size: 1.8rem;
					}
				
				}
			
			}
			
			// Recommended
			.extras-yml {
				
				
				.product-grid {
					margin-top: 0;
					padding-top: 0;
					
					li {
						width: 19%;
						padding: 0 20px;
					}
				}
				
				.product-tile {
					min-height: 280px;
				}
				
				.price {
					color: #999;
				}
				
				.title {
					line-height: 1.2em;
					font-weight: normal;
					color: #000;
				}
				
				.image {
					height: auto;
					line-height: 0;
					
				}
				
			}
		}
		
		
		.product-addons {
			dd label {
				font-size: 1.8rem;
				margin-bottom: 6px;
			}
		}
	}
}



// LARGE
@include screensize(large) {
	#layout-product {
		
	
		.product-options {
			float: right;
			width: 60%;
		}

		 .product-content {
		 	width: 40%;
		 	float: right;
		 }

		 .product-altimages {
		 	.toggle {
		 		display: none;
		 		border: none;
		 	}
		 }

		.product-variations, .product-tocart {
			float: left;
			width: 50%;
		}

		.product-altimages ul {
			border-top: dotted 1px #999;
			display: block;
		}

		.product-extras {
			.product-grid {
				li {
					width: 20%;
				}
			}
			
			// Bought together
			.extras-fbt {
				.product-tile {
					width: 60%;
					margin: 0;
					
					.image {
						width: 40%;
					}
					
					.info {
						width: 60%;
					}
				}
			
			}
			
			// Recommended
			.extras-yml {
				.product-grid {
					li {
						width: 18%;
						padding: 0 20px;
					}
				}

				.image {
					padding-right: 60px;
				}
				
			}
		}

		.product-status {
			padding: 0 0 20px 0;
		}

		
		.product-bundles {
			width: 75%;
		}
	}
	
}


@include screensize(xlarge) {
	#layout-product {
		margin-top: 0;
		
		.product-bundles {
			width: 60%;
		}
	}
}



// Hide social sharing icons for touch devices, they have built-in tools
.touch #layout-product .social-share {
	display: none;
}



@import "_product_review.scss";
@import "_product_bundles.scss";



