@import "_base.scss";

/*
 | Base reset 
 | Element-dependent styles and overrides
 |
 | 2014; Znode, Inc.
 */



/*
 | Normalize reset 
 |
 */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6,ul,ol,li { padding:0; margin:0; list-style: none; }

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}



/*
 | Custom resets
 |
 */
html {
  font-size: 62.5%; // Resets to 10px base
  font-family: $base-font-primary;
  background-color: #333;
}

body {
  font-size: 1.6rem; // 16px base (16 / 10)
}

a {
	text-decoration: none;
}

h4 {
	margin: .5em 0;
}

h5 {
	font-size: 1.4rem;
	color: #999;
}




/*
 | Form elements and controls
 |
 */

// Reset input elements
.form input,
.form-input,
.form-input-short,
.form-input-long,
select.styled,
.form textarea
{
	@include inputreset;
	
	font-size: 2rem;
	font-weight: normal;
	background-color: $base-bgcolor-input;
	color: $base-fgcolor-input;
	border-radius:4px;
	border: solid 1px darken($base-bgcolor-button, 20%);
	padding: .4em .5em;
	vertical-align: middle;
	
	width: 100%; // Always full width on small devices
}


// All variable input sizes on larger devices
@include screensize(medium) {
	.form input,
	.form-input,
	select.styled {
		width: 12em;
	}

	.form-input-short,
	.form .form-input-short {
		width: 8em;
	}

	.form-input-long,
	.form .form-input-long {
		width: 20em;
	}
	
	.form textarea {
		max-width: 25em;
	}
}


// Standard button. See global for theme colors
.button,
.form .form-submit {
	@include inputreset;
	@include button;
	min-width: 6em;
}

.button:disabled {
	background-color: #999;
	color: #ccc;
}

// Color buttons
.button-action {
    @include buttoncolor($base-color-action, $base-fgcolor-action);
	@extend .button:disabled;
}

.button-primary {
    @include buttoncolor(#428BCA, #fff);
	@extend .button:disabled;
}

.button-small {
	font-size: 1.8rem;
	padding: .3em .75em;
}


select {
	background-color: $base-bgcolor-input;
	font-size: 2rem;
	width: 100%;

	@include screensize(medium) {
		width: auto;
	}
}

// Styled radio/checkbox inputs using glyphs
// Works well on most current popular browsers. (Web fonts shakey on fringe browsers)
.styled-input {
    input[type=radio] {
        display: none;

        &:checked + label:before {
            @include icon($icon-radio-checked);
            color: #000;
        }

        & + label {
            display: block;
            position: relative;
            padding-left: 2em;
            cursor: pointer;

            &:before {
                @include icon($icon-radio-unchecked);
                margin-right: 10px;
                position: absolute;
                top: 2px;
                left: 5px;
                color: #666;
            }
        }
    }

    input[type=checkbox] {
        display: none;

        &:checked + label:before {
            @include icon($icon-checkbox-checked);
            color: #000;
        }

        & + label {
            display: block;
            position: relative;
            padding-left: 2em;
            cursor: pointer;

            &:before {
                @include icon($icon-checkbox-unchecked);
                margin-right: 10px;
                position: absolute;
                top: 2px;
                left: 5px;
                color: #666;

            }
        }
    }
}



// Overrides select default but not 100% cross-browser
// Recommended to use browser defualt for select elements
select.styled { 
	position:relative;
	background:url(../../images/select-arrow.png) right center no-repeat $base-bgcolor-button;
	cursor:pointer;
	padding: .4em 40px .4em 1em;
	width: 100%;
	text-indent: 0.01px;
    text-overflow: '';

    &::-ms-expand {
		display: none;
	}

	@include ifRetina {
		background-image:url(../../images/select-arrow-2x.png);
		background-size: 27px 11px;
	}

	@include screensize(medium) {
		padding: .3em 40px .3em 1em;
		width: auto;
	}
}




/*
 | Responsive grid shortcuts
 | See base for configurable grid settings
 |
 */

// Do not edit these variables. Use _base.scss
$grid-single:       (100% / $base-grid-columns);
$grid-loop-max:     ($base-grid-columns - 1);

.grid-row {
    @include clear;
    position: relative;
}

// Smallwide (horz phone)
@include screensize(smallwide) {
    .grid-sw-0 {
        display: none;
    }

    @for $i from 1 through $grid-loop-max  {
        .grid-sw-#{$i} {
            float: left; width: ($grid-single * $i);
        }
    }

    .grid-sw-12 {
        float: none;
        width: 100%;
    }

	.grid-sw-right {
 		float: right;
	}    
}


// Medium (tablet)
@include screensize(medium) {
    .grid-m-0 {
        display: none
    }

    @for $i from 1 through $grid-loop-max {
        .grid-m-#{$i} {
            float: left; width: ($grid-single * $i);
        }
    }

    .grid-m-12 {
        float: none;
        width: 100%;
    }

    .grid-m-right {
	 	float: right;
	}
}


// Large (desktop)
@include screensize(large) {
    .grid-l-0 {
        display: none;
    }

    @for $i from 1 through $grid-loop-max {
        .grid-l-#{$i} {
            float: left; width: ($grid-single * $i);
        }
    }

    .grid-l-12 {
        float: none;
        width: 100%;
    }

    .grid-l-right {
	 	float: right;
	}
}


// Xlarge (widescreen)
@include screensize(xlarge) {
    .grid-xl-0 {
        display: none;
    }

    @for $i from 1 through $grid-loop-max {
        .grid-xl-#{$i} {
            float: left; width: ($grid-single * $i);
        }
    }

    .grid-xl-12 {
        float: none;
        width: 100%;
    }

    .grid-xl-right {
	 	float: right;
	}
}





/*
 | Web fonts and glyphs
 |
 */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
		
	font-weight: normal;
	font-style: normal;
}

// Light
@font-face {
   font-family: 'source_sans_pro';
    src: url('fonts/sourcesanspro-light-webfont.eot');
    src: url('fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-light-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-light-webfont.svg#source_sans_proregular') format('svg');
   font-weight: 300;
   font-style: normal;
}

// Normal
@font-face {
   font-family: 'source_sans_pro';
    src: url('fonts/sourcesanspro-regular-webfont.eot');
    src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
   font-weight: 400;
   font-style: normal;
}

// Bold
@font-face {
   font-family: 'source_sans_pro';
    src: url('fonts/sourcesanspro-bold-webfont.eot');
    src: url('fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-bold-webfont.svg#source_sans_proregular') format('svg');
   font-weight: 700;
   font-style: normal;
}
