@import "_base.scss";

/*
 | Search view, category browsing 
 |
 | 2014; Znode, Inc.
 */

// Base
#layout-search {
	.search-title {
		margin-bottom: 0;
	}

	.search-filterdescription {
		font-size: 1.8rem;
		color: #000;
		padding: 10px 0;
	}

	.search-appliedfilters {
		border-bottom: solid 1px #999;
		padding: .5em 0;
		font-size: 1.4rem;

		.search-info .search-sorting {
			display: none;
		}

		ul {
			@include clear;

			li {
				float: left;
			}
		}

		a {
			display: block;
			color: #999;
			padding-right: 12px;

			&:after {
				@include icon($icon-xclose);
				padding-left: 3px;
			}
		}
	}

	.search-filters {
		padding-top: 20px;

		#toggle-filters {
			a {
				color: #000;
			}

			a:after {
				@include icon($icon-arrowdown);
			}
		}

		#search-filterlist {
			display: none;
		}
	}

	.list-group-title-background {
		font-weight: bold;
		background-color: $base-color-secondary;
		color: #fff;
		padding: .2em .5em;
		font-size: 1.4rem;
	}

	.filter-list {
		font-size: 1.8rem;
		margin-bottom: 20px;

		a {
			display: block;
			padding: .5em 0;
		}

		sup {
			color: #999;
		}
	}

	

	.search-sorting {
		padding: 20px 0;

		select {
			width: 100%;
			font-size: 2rem;
			background-color: #efefef;
		}
	}
	
	
	// Pagination
	.search-pagination {
		ul {
			@include clear;
		}
		
		.search-more-nav {
			float: left;
			width: 50%;
			text-align: center;
			padding-right: 10px;
			
			&:last-child {
				padding-left: 10px;
				padding-right: 0;
			}
		}
	}
	
	.search-more-pages {
		text-align: center;
		padding: 10px 0;
	}
	
	.search-results-wait {
		text-align: center;
		font-size: 2.4rem;
		color: #999;
		padding: 30px 0;
	}


}

// Medium
@include screensize(medium) {
	#layout-search {
		.search-pagination {
			border-top: solid 1px #999;
			padding: 30px 0;
			
			ul {
				width: 50%;
				margin: 0 auto;
			}
			
			li {
				//height: 50px;
			}
			
			.search-more-nav {
				width: 40%;
				text-align: center;
			}
			
			.button {
				display: inline;
			}
		}
		
		.search-more-pages {
			float: left;
			font-size: 1.8rem;
			padding: 0;
			vertical-align: middle;
		}

		.search-filterdescription {
			padding-bottom: 0;
		}
		
		.search-info {
			@include clear;
			
			padding-bottom: 10px;
		}
	}
}


// LArge
@include screensize(large) {
	#layout-search {
		.search-rail {
			float: left;
			width: 20%;
		}

		.search-results {
			float: left;
			width: 80%;
			padding-left: 3rem;

			.product-grid li {
				width: 24%;
			}

			.search-sorting {
				display: none;
			}
		}

		.search-filters {
			#toggle-filters {
				display: none;
			}

			#search-filterlist {
				display: block;
			}
		}	

		.search-info {
			position: relative;
			border-bottom: solid 1px #999;

			.search-sorting {
				display: block;
			}
		}

		.search-sorting {
			float: right;
			padding: 0;
		}

		.filter-list {
			font-size: 1.6rem;
		}

		.search-filterdescription {
			padding-bottom: 0;

		}

		.search-appliedfilters {
			border-bottom: none;
			font-size: 1.6rem;
			float: left;
			padding: 0;

			ul {
				width: 100%;
			}

			a {
				color: #999;
				padding: .5em 1em .5em 0;

				&:after {
					@include icon($icon-xclose);
					padding-left: 3px;
				}
			}
		}	

	}
}