@import "_base.scss";

/*
|   EXAMPLE TEMPLATE
|   Styles for template view only. For reference only.
|
*/

#layout-example {

	// Header for documentation
	h6 {
		background-color: #E8E8E8;
		font-family: arial;
		font-size: 2rem;
		padding: 1em;
		color: #999;
		margin: 20px 0;
		text-transform: uppercase;
	}




	.example-promosquare {
		background-image: url(../../images/bg_apple.jpg);

		@include screensize(medium) {
			height: 250px;
			width: 300px;
			margin: 10px 0;
		}
	}

}