<%@ Control Language="C#" AutoEventWireup="True" Inherits="Znode.Engine.Admin.Controls.Default.Profilelist" CodeBehind="Profilelist.ascx.cs" %>
<asp:DropDownList ID="ddlprofilleList" runat="server"></asp:DropDownList>