<%@ Control Language="c#" Inherits="Znode.Engine.Admin.Controls.Default.Spacer" CodeBehind="Spacer.ascx.cs" AutoEventWireup="True" %>
<asp:Image ID="imgClear" runat="server" ImageUrl="~/Themes/images/clear.gif"></asp:Image><br />
