﻿<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master"%>
<%@ Register Src="~/Controls/Default/Checkout/GoogleNotification.ascx"  TagName="Notifications" TagPrefix="ZNode" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="Server">
    <div class="ContentContainer">
        <ZNode:Notifications ID="Notification" runat="server" Visible="true" />
    </div>
</asp:Content>
