﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductFacetsViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleStoreManagement;
}

@{
    <h2>@ZnodeResources.SubHeaderAssociatedFacets</h2>
}


@using (Ajax.BeginForm("AssociatedFacets", "Product",
       new AjaxOptions()
       {
           HttpMethod = "post",
           //OnComplete = "Product.CheckSucess",
           OnSuccess = "Product.CheckSucess",
           UpdateTargetId = "panel7",
           InsertionMode = InsertionMode.Replace
       }))
{

    @Html.Label("", ZnodeResources.LabelAssociateFacetGroup)
    <br />
    @Html.DropDownListFor(m => m.FacetGroupId, Model.FacetGroups, new { @id = "ddlFacetGroups", @OnChange = "Product.BindFacetsList(this,"+Model.ProductId+"); return false;" })
    <br />


    @Html.Label("", ZnodeResources.LabelAssociateFacets)
    <br />
    <div id="chklistFacets">
        @Html.Partial("_FacetCheckBoxList")
    </div>
    @Html.HiddenFor(m => m.ProductId)
    <div class="ClearBoth">
        <button type="submit" class="button button-primary">@ZnodeResources.ButtonSubmitRequest</button>
        <button type="button" class="form-cancel" onclick="javascript: location.href = '/Product/Manage?id=@Model.ProductId';">@ZnodeResources.ButtonCancel</button>
    </div>
}


