﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductTagsViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleStoreManagement;
}

@{
    <h2>@ZnodeResources.SubHeaderProductFacets</h2>

    <h5>@ZnodeResources.DescriptionProdcutFacets </h5>
}


@using (Ajax.BeginForm("ProductTags", "Product",
       new AjaxOptions()
       {
           HttpMethod = "post",
           //OnComplete = "Product.CheckSucess",
           OnSuccess = "Product.CheckSucess",
           UpdateTargetId = "panel7",
           InsertionMode = InsertionMode.Replace
       }))
{

    @Ajax.ActionLink("Associate Facet", "GetAssociatedFacets", "Product", new { @productId = Model.ProductId }, new AjaxOptions()
{
    HttpMethod = "Get",
    //OnComplete = "Product.CheckSucess",
    //OnSuccess = "Product.CheckSucess",
    UpdateTargetId = "panel7",
    InsertionMode = InsertionMode.Replace
}, new { @Class = "btn-text red", @title = "Associate Facet" })
    @*<div class="ClearBoth">
        <button type="submit" class="button button-primary">@ZnodeResources.ButtonSubmitRequest</button>
        <button type="button" class="form-cancel" onclick="javascript: location.href = '/Product/Manage?id=@Model.ProductId';">@ZnodeResources.ButtonCancel</button>
    </div>*@
}

