﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductTagsViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleStoreManagement;
}

@{
    <h2>@ZnodeResources.SubHeaderProductTags</h2>
    
    <h5>@ZnodeResources.DescriptionProductTags </h5>
}


@using (Ajax.BeginForm("ProductTags", "Product",
       new AjaxOptions()
       {
           HttpMethod = "post",
           //OnComplete = "Product.CheckSucess",
           OnSuccess = "Product.CheckSucess",
           UpdateTargetId = "panel7",
           InsertionMode = InsertionMode.Replace
       }))
{

    @Html.TextAreaFor(m => m.ProductTags)
    @Html.HiddenFor(m => m.ProductId)
    <div class="ClearBoth">
        <button type="submit" class="button button-primary">@ZnodeResources.ButtonSubmitRequest</button>
        <button type="button" class="form-cancel" onclick="javascript: location.href = '/Product/Manage?id=@Model.ProductId';">@ZnodeResources.ButtonCancel</button>
    </div>
}
