﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleStoreManagement;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}


<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            if (actionName.ToLower().Equals("create"))
            {
                <h1>@ZnodeResources.CreateProductHeading</h1>
            }
            else
            {
                <h1>@ZnodeResources.EditProductHeading</h1>
            }
        }
    </div>
    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
    {
        <div class="col-sm-12 add-new-item">
            @Html.ValidationSummary(true)
            <div class="col-sm-12 col-md-6 col-lg-5 item-group">
                <h4>@ZnodeResources.LabelGeneralInformation</h4>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.Name, new { @class = "required" })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.Name, new { @maxlength = 500 })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.Sku, new { @class = "required" })
                        <span class="sub">@ZnodeResources.LabelProductSkuDescription</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.Sku, new { @maxlength = 200 })
                        @Html.ValidationMessageFor(model => model.Sku)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.ProductCode, new { @class = "required" })
                        <span class="sub">@ZnodeResources.LabelProductCodeDescription</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.ProductCode, new { @maxlength = 100 })
                        @Html.ValidationMessageFor(model => model.ProductCode)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.ProductTypeId)
                        <span class="sub">@ZnodeResources.LabelProductTypeDescription</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.ProductTypeId, Model.ProductTypeList, new { @onchange = "Product.GetProductAttribute(this);" })
                        @Html.ValidationMessageFor(model => model.ProductTypeId)
                    </div>
                </div>
                <div class="form-group" id="divAttributes" style="display:none">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.ProductAttributes, new { @class = "required" })
                    </div>
                    <div class="col-sm-8">
                        @Html.HiddenFor(model => model.ProductAttributes)
                        <div id="divProductAttributes">
                        </div>
                    </div>
                </div>
                <div id="divGiftCards" style="display:none">
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.ExpirationPeriod, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.ExpirationPeriod)
                            @Html.ValidationMessageFor(model => model.ExpirationPeriod, null, new { @id = "valExpirationPeriod" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.ExpirationFrequency, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.ExpirationFrequency, Model.ExpirationFrequencyList)
                            @Html.ValidationMessageFor(model => model.ExpirationFrequency, null, new { @id = "valExpirationFrequency" })
                        </div>
                    </div>
                    @Html.Hidden("IsProductTypeGiftCards", 0)
                </div>

                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.BrandId)
                        <span class="sub">@ZnodeResources.LabelProductBrandDescription</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.BrandId, Model.ManufacturerList, ZnodeResources.LabelNotApplicable)
                        @Html.ValidationMessageFor(model => model.BrandId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.SupplierId)
                        <span class="sub">@ZnodeResources.LabelProductSupplierDescription</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.SupplierId, Model.SupplierList, ZnodeResources.LabelNotApplicable)
                        @Html.ValidationMessageFor(model => model.SupplierId)
                    </div>
                </div>
                <div class="form-group border-bottom">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.DownloadLink)
                        <span class="sub">@ZnodeResources.LabelProductDownloadlinkDescription</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.DownloadLink)
                        @Html.ValidationMessageFor(model => model.DownloadLink)
                    </div>
                </div>


                <h4>@ZnodeResources.LabelPricing</h4>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.RetailPrice, new { @class = "required" })
                    </div>
                    <div class="col-sm-8 left-inner-icon">
                        <i class="z-dollar"></i>
                        @Html.TextBoxFor(model => model.RetailPrice, new { @maxlength = 8 })
                        @Html.ValidationMessageFor(model => model.RetailPrice)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.SalePrice)
                    </div>
                    <div class="col-sm-8 left-inner-icon">
                        <i class="z-dollar"></i>
                        @Html.TextBoxFor(model => model.SalePrice, new { @maxlength = 8 })
                        @Html.ValidationMessageFor(model => model.SalePrice)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.WholeSalePrice)
                        <span class="sub">@ZnodeResources.LabelProductWholeSaleDescription</span>
                    </div>
                    <div class="col-sm-8 left-inner-icon">
                        <i class="z-dollar"></i>
                        @Html.TextBoxFor(model => model.WholeSalePrice, new { @maxlength = 8 })
                        @Html.ValidationMessageFor(model => model.WholeSalePrice)
                    </div>
                </div>
                <div class="form-group border-bottom">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.TaxClassId)
                        <span class="sub">@ZnodeResources.LabelProductTaxClassDescription</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.TaxClassId, Model.TaxClassList)
                        @Html.ValidationMessageFor(model => model.TaxClassId)
                    </div>
                </div>

                <h4>@ZnodeResources.LabelInventory</h4>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.QuantityOnHand, new { @class = "required" })
                        <span class="sub">@ZnodeResources.LabelProductQuantityOnHandDescription</span>
                    </div>
                    <div class="col-sm-8">
                        @if (actionName.ToLower().Equals("create"))
                        {
                            @Html.TextBoxFor(model => model.QuantityOnHand, new { @maxlength = 4, @Value = 999 })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.QuantityOnHand, new { @maxlength = 4 })
                        }

                        @Html.ValidationMessageFor(model => model.QuantityOnHand)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.ReorderLevel)
                        <span class="sub">@ZnodeResources.LabelProductReorderLevelDescription</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.ReorderLevel, new { @maxlength = 4 })
                        @Html.ValidationMessageFor(model => model.ReorderLevel)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.MinQuantity)
                        <span class="sub">@ZnodeResources.LabelProductMinQuantityDescription</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.MinQuantity, new { @maxlength = 4, @Value = 1 })
                        @Html.ValidationMessageFor(model => model.MinQuantity)
                    </div>
                </div>
                <div class="form-group border-bottom">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.MaxQuantity)
                        <span class="sub">@ZnodeResources.LabelProductMaxQuantityDescription</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.MaxQuantity, new { @maxlength = 4, @Value = 10 })
                        @Html.ValidationMessageFor(model => model.MaxQuantity)
                    </div>
                </div>

                <h4>@ZnodeResources.LabelDisplaySetting</h4>
                <div class="form-group border-bottom">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.DisplayOrder)
                        <span class="sub">@ZnodeResources.LabelProductDisplayOrderDescription</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.DisplayOrder, new { @maxlength = 4, @Value = 500 })
                        @Html.ValidationMessageFor(model => model.DisplayOrder)
                    </div>
                </div>

                <h4>@ZnodeResources.LabelShippingSetting</h4>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.FreeShipping)
                    </div>
                    <div class="col-sm-8">
                        @*<input id="@Model.FreeShipping" name="@Model.FreeShipping" checked="@Model.FreeShipping" type ="checkbox" class="css-checkbox chkboxstyle" value=@Model.FreeShipping onchange="Product.ToggleShipping();" />*@
                        <input id="FreeShipping" name="FreeShipping" checked="@Model.FreeShipping" type="checkbox" value="true" class="css-checkbox chkboxstyle" onchange="Product.ToggleShipping();">
                        <span class="lbl padding-8">@ZnodeResources.LableEnableFreeShipping</span>
                    </div>
                </div>
                <div id="divShipping">
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.ShippingRuleTypeId)
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.ShippingRuleTypeId, Model.ShippingRuleTypeList, new { @onchange = "Product.ToggleShippingRate(this);" })
                            @Html.ValidationMessageFor(model => model.ShippingRuleTypeId)
                        </div>
                    </div>
                    <div class="form-group" id="divShippingRate" style="display:none;">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.ShippingRate)
                            <span class="sub">This applies only for "Fixed Rate Per Item" custom shipping option.</span>
                        </div>
                        <div class="col-sm-8">
                            <i class="z-dollar"></i>
                            @Html.TextBoxFor(model => model.ShippingRate, new { @maxlength = 8 })
                            @Html.ValidationMessageFor(model => model.ShippingRate)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-5 col-lg-offset-1 item-group">

                <h4>@ZnodeResources.LabelProductAttribute</h4>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.Weight)
                    </div>
                    <div class="col-sm-8 right-inner-icon">
                        <i>LBS</i>
                        @Html.TextBoxFor(model => model.Weight, new { @maxlength = 8 })
                        @Html.ValidationMessageFor(model => model.Weight)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.Height)
                    </div>
                    <div class="col-sm-8 right-inner-icon">
                        <i>IN</i>
                        @Html.TextBoxFor(model => model.Height, new { @maxlength = 8 })
                        @Html.ValidationMessageFor(model => model.Height)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.Width)
                    </div>
                    <div class="col-sm-8 right-inner-icon">
                        <i>IN</i>
                        @Html.TextBoxFor(model => model.Width, new { @maxlength = 8 })
                        @Html.ValidationMessageFor(model => model.Width)
                    </div>
                </div>
                <div class="form-group border-bottom">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.Length)
                    </div>
                    <div class="col-sm-8 right-inner-icon">
                        <i>IN</i>
                        @Html.TextBoxFor(model => model.Length, new { @maxlength = 8 })
                        @Html.ValidationMessageFor(model => model.Length)
                    </div>
                </div>

                <h4>@ZnodeResources.LabelProductImage</h4>
                <div class="form-group">
                    <span class="sub">@ZnodeResources.LabelProductImageDescription</span>
                    <div class="col-sm-4 nopadding">
                        @Html.Label(ZnodeResources.LabelImage)
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.ProductImage)
                        @Html.ValidationMessageFor(model => model.ProductImage)
                    </div>
                </div>
                <div class="form-group border-bottom">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.ImageAltTag)
                        <span class="sub">@ZnodeResources.LabelProductImageAltDescription</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.ImageAltTag)
                        @Html.ValidationMessageFor(model => model.ImageAltTag)
                    </div>
                </div>

                <h4>@ZnodeResources.LabelDescription</h4>
                <div class="form-group">
                    <div class="col-sm-12 nopadding">
                        @Html.LabelFor(model => model.ShortDescription)
                    </div>
                    <div class="col-sm-12 nopadding">
                        @Html.TextAreaFor(model => model.ShortDescription)
                        @Html.ValidationMessageFor(model => model.ShortDescription)
                        <span class="sub">@ZnodeResources.LabelProductShortDescription</span>
                    </div>
                </div>
                <div class="form-group border-bottom">
                    <div class="col-sm-12 nopadding">
                        @Html.LabelFor(model => model.LongDescription)
                    </div>
                    <div class="col-sm-12 nopadding">
                        @Html.EditorFor(model => model.LongDescription)
                        @Html.ValidationMessageFor(model => model.LongDescription)
                    </div>
                </div>

                <div class="form-group border-bottom">
                    <div class="col-sm-12 nopadding">
                        @Html.LabelFor(model => model.FeaturesDescription)
                    </div>
                    <div class="col-sm-12 nopadding">
                        @Html.EditorFor(model => model.FeaturesDescription)
                        @Html.ValidationMessageFor(model => model.FeaturesDescription)
                        <span class="sub">@ZnodeResources.LabelProductFeaturesDescription</span>
                    </div>
                </div>
                <div class="form-group border-bottom">
                    <div class="col-sm-12 nopadding">
                        @Html.LabelFor(model => model.ProductSpecifications)
                    </div>
                    <div class="col-sm-12 nopadding">
                        @Html.EditorFor(model => model.ProductSpecifications)
                        @Html.ValidationMessageFor(model => model.ProductSpecifications)
                        <span class="sub">@ZnodeResources.LabelProductSpecificationDescription</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 nopadding">
                        @Html.LabelFor(model => model.ShippingInformation)
                    </div>
                    <div class="col-sm-12 nopadding">
                        @Html.EditorFor(model => model.ShippingInformation)
                        @Html.ValidationMessageFor(model => model.ShippingInformation)
                        <span class="sub">@ZnodeResources.LabelProductShippingInfoDescription</span>
                    </div>
                </div>

                <div class="form-group ">
                    <div class="pull-right">
                        @Html.HiddenFor(model => model.ProductId)
                        @Html.HiddenFor(model => model.SkuId)
                        <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest" onclick="return Product.ValidateAttributes();"> @ZnodeResources.ButtonSubmitRequest</button>
                        <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript: location.href = '/Product/List';">@ZnodeResources.ButtonCancel</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@Scripts.Render("~/bundles/Product")
@section Scripts {
    <script type="text/JavaScript">
        $(document).ready(function () {
            Product.load();
        });
    </script>
}