﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductListViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleStoreManagement;
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1 class="left">
            @ZnodeResources.ProductTitle
        </h1>
    </div>   
    <div class="col-sm-12 search-container">
        <p class="left">Manage products and inventory in your store.</p>
        <button type="button" class="btn-text red pull-right" title="@ZnodeResources.CreateProductHeading" onclick="javascript: location.href =  '/Product/Create';">@ZnodeResources.CreateProductHeading</button>
    </div>
    <div class="col-sm-12 product-search">
        <h3>Search Products</h3>
        <div class="col-lg-4 col-md-4 col-sm-12 product-group">
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    <label>Product Name:</label>
                </div>
                <div class="col-sm-8 col-lg-9">
                    <input type="text" placeholder="Product Name">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    <label>Product Number:</label>
                </div>
                <div class="col-sm-8 col-lg-9">
                    <input type="text" placeholder="Product Number">
                </div>                                
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    <label>SKU:</label>
                </div>
                <div class="col-sm-8 col-lg-9">
                    <input type="text" placeholder="SKU">
                </div>                                 
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 product-group">
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    <label>Catalog:</label>
                </div>
                <div class="col-sm-8 col-lg-9">
                    <select>
                        <option>Selected Catalog</option>
                        <option>Option-1</option>
                        <option>Option-2</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    <label>Brand:</label>
                </div>
                <div class="col-sm-8 col-lg-9">
                    <select>
                        <option>Selected Brand</option>
                        <option>Option-1</option>
                        <option>Option-2</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    <label>Product Type:</label>
                </div>
                <div class="col-sm-8 col-lg-9">
                    <select>
                        <option>Selected Type</option>
                        <option>Option-1</option>
                        <option>Option-2</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 product-group">
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    <label>Product Category:</label>
                </div>
                <div class="col-sm-8 col-lg-9">
                    <select>
                        <option>Selected Category</option>
                        <option>Option-1</option>
                        <option>Option-2</option>
                    </select>
                </div>
            </div>
            <div class="pull-right">
                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSearch">@ZnodeResources.ButtonSearch</button>
                <button type="reset" class="btn-text grey" title="@ZnodeResources.ButtonClear">@ZnodeResources.ButtonClear</button>                
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <h3>Products List</h3>
        @{
            var grid = new WebGrid(rowsPerPage: 5);
            grid.Bind(Model.Products);
            grid.Pager(WebGridPagerModes.NextPrevious);
        }
        <div id="grid">
            @grid.GetHtml(
             htmlAttributes: new { id = "grid", @class = "table" },
             fillEmptyRows: false,
             mode: WebGridPagerModes.All,
             firstText: "<< First",
             previousText: "< Prev",
             nextText: "Next >",
             lastText: "Last >>",
             columns: new[] {
            grid.Column(header: @ZnodeResources.TitleProductId,format: @<span> <span id="spanName_@item.ProductId">@item.ProductId</span></span>),
            grid.Column(header: "Image",format: @<span> <img src="@item.ImageSmallThumbnailPath" alt="@item.Name" /></span>),
            grid.Column(header: "Name",format: @<span> <span id="spanName_@item.ProductId">@item.Name</span></span>),
             grid.Column(header: "Retail Price",format: @<span> <span id="spanName_@item.ProductId">@item.RetailPrice</span></span>),
             grid.Column(header: "Sales Price",format: @<span> <span id="spanName_@item.ProductId">@item.SalePrice</span></span>),
             grid.Column(header: "Wholesale Price",format: @<span> <span id="spanName_@item.ProductId">@item.WholeSalePrice</span></span>),
             grid.Column(header: "In stock",format: @<span> <span id="spanName_@item.ProductId">@item.QuantityOnHand</span></span>),
             grid.Column(header: "Display Order",format: @<span> <span id="spanName_@item.ProductId">@item.DisplayOrder</span></span>),
            grid.Column(header: "IsActive",format: @<span> <span id="spanIsActive_@item.ProductId">@item.IsActive</span></span>),
            grid.Column(header: "Action",format:@<text>@Html.ActionLink(ZnodeResources.LabelManage, ZnodeResources.LabelManage, new { @id = @item.ProductId })</text>),
            grid.Column(header: "",format:@<text> <a href="#" id="Copy_@item.ProductId" style="display:block" class="copy">Copy</a></text>),
            grid.Column(header: "",format:@<text><a href="#" id="Delete_@item.ProductId" class="delete">Delete</a></text>)
            })
            @grid.CustomPager(Html)
        </div>
    </div>
</div>