﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleStoreManagement;
}

@{
    <h2>@ZnodeResources.SubHeaderManageProduct</h2>
}
@{
    var productId = Equals(Model, null) ? 0 : Model.ProductId;
}
<button type="button" class="btn-text grey" onclick="javascript: location.href =  '/Product/List';">@ZnodeResources.ButtonProductList</button>



<div class="container main-wrapper">
    <div class="Tab-container">
            <ul id="tabManageProduct" class="nav nav-tabs">
            <li class="active"><a href="#panel-1" data-toggle="tab" class="tabs">@ZnodeResources.TabProductInfo</a></li>
            <li><a href="#panel-2" data-toggle="tab" class="tabs">@ZnodeResources.TabProductSetting</a></li>
            <li><a href="#panel-2" data-toggle="tab" class="tabs">@ZnodeResources.TabProductCategory</a></li>
            <li><a href="#panel-2" data-toggle="tab" class="tabs">@ZnodeResources.TabProductSku</a></li>
            <li><a href="#panel-2" data-toggle="tab" class="tabs">@ZnodeResources.TabProductBundles</a></li>
            <li><a href="/Product/GetProductFacets" data-queryparam="productId=@Model.ProductId" data-targetitemid="panel7" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabProductFacet</a></li>
            <li><a href="/Product/GetProductTags" data-queryparam="productId=@Model.ProductId" data-targetitemid="panel7" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabProductTag</a></li>
            <li><a href="#panel-2" data-toggle="tab" class="tabs">@ZnodeResources.TabProductImage</a></li>
            <li><a href="#panel-2" data-toggle="tab" class="tabs">@ZnodeResources.TabProductAddons</a></li>
            <li><a href="#panel-2" data-toggle="tab" class="tabs">@ZnodeResources.TabProductTier</a></li>
            <li><a href="#panel-2" data-toggle="tab" class="tabs">@ZnodeResources.TabProductHighlight</a></li>
            <li><a href="#panel-2" data-toggle="tab" class="tabs">@ZnodeResources.TabProductDigitalAsset</a></li>

        </ul>
        <div id="tabContents" class="tab-content">
            <!--Panels 1-->
            <div class="tab-pane fade in active" id="panel-1">
                    <button type="button" class="btn-text grey" onclick="javascript: location.href = '/Product/Edit/@productId';">@ZnodeResources.ButtonEditProductInformation</button>

                <div class="col-sm-6">
                    <span>@ZnodeResources.LabelGeneralInformation</span>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name)
                        @Html.Label("", Model.Name)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.BrandName)
                        @Html.Label("", Model.BrandName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductCode)
                        @Html.Label("", Model.ProductCode)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MinQuantity)
                        @Html.Label("", Model.MinQuantity.ToString())

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MaxQuantity)
                        @Html.Label("", Model.MaxQuantity.ToString())
                    </div>
                    <div class="form-group">
                            @Html.LabelFor(model => model.ProductTypeName)
                            @Html.Label("", Model.ProductTypeName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SupplierName)
                        @Html.Label("", Model.SupplierName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.RetailPrice)
                        @Html.Label("", Model.RetailPrice.ToString())
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SalePrice)
                        @Html.Label("", Model.SalePrice.ToString())
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.WholeSalePrice)
                        @Html.Label("", Model.WholeSalePrice.ToString())
                    </div>
                    <div class="form-group">
                            @Html.LabelFor(model => model.TaxClassName)
                            @Html.Label("", Model.TaxClassName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DownloadLink)
                        @Html.Label("", Model.DownloadLink)
                    </div>
                    <span>@ZnodeResources.LabelDisplaySetting</span>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DisplayOrder)
                        @Html.Label("", Model.DisplayOrder.ToString())
                    </div>
                    <span>@ZnodeResources.LabelShippingSetting</span>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FreeShipping)
                            <i class="@HelperMethods.GetCheckMark(Model.FreeShipping.Value)"></i>
                    </div>
                    <div class="form-group">
                            @Html.LabelFor(model => model.ShippingRule)
                            @Html.Label("", Model.ShippingRule)
                    </div>
                    <div class="form-group">
                            @Html.LabelFor(model => model.ShippingRate)
                            @Html.Label("", Model.ShippingRate)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Weight)
                        @Html.Label("", Model.Weight.ToString())
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Height)
                        @Html.Label("", Model.Height.ToString())
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Width)
                        @Html.Label("", Model.Width.ToString())
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Length)
                        @Html.Label("", Model.Length.ToString())
                    </div>
                    <span>@ZnodeResources.LabelProductImage</span>
                    <div class="form-group">
                        <img src="@Model.ImageMediumPath" alt="@Model.Name" />
                    </div>
                    <span>@ZnodeResources.LabelDescription</span>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ShortDescription)
                        @Html.Label("", Model.ShortDescription)
                    </div>
                    <span>@ZnodeResources.LabelDescription</span>
                    <div class="form-group">
                        @Html.LabelFor(model => model.LongDescription)
                        @Html.Label("", Model.LongDescription)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FeaturesDescription)
                        @Html.Label("", Model.FeaturesDescription)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductSpecifications)
                        @Html.Label("", Model.ProductSpecifications)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ShippingInformation)
                        @Html.Label("", Model.ShippingInformation)
                    </div>
                </div>
            </div>
            <!--Panels 2-->
            <div class="tab-pane fade" id="panel-2">
                @*@Html.Partial("_AssociatedFacets", Model.AssociatedFacets)*@
            </div>

            <div class="tab-pane fade" id="panel7">
              
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/product")
