<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="~/Themes/Specialty/MasterPages/main.master" %>
<%@ Register Src="~/Controls/Default/product/product.ascx" TagName="Product" TagPrefix="ZNode" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
	<!-- Scripts - BEGIN -->
	<script language="javascript" type="text/javascript" src="js/mootools/mootools-1.2.1-core.js"></script>
	<script language="javascript" type="text/javascript" src="js/mootools/mootools-1.2-more.js"></script>
	<script language="javascript" type="text/javascript" src="js/mootools/SlideItMoo-1.1.js"></script>	
	<!-- Scripts - END  -->
	
	<div><ZNode:Product ID="uxProduct" runat="server"  Visible="true"/></div>
</asp:Content>