﻿/*   
Theme Name: Znode Dashboard.
Theme URI: http://znode.com
Description: Znode e-commerce framework Dashboard theme. 
Author: Znode.
Author URI: 
Version: 1.0.0.1
*/

html, body {height:100%;}
.nopadding{padding:0; margin:0;}
.left{float:left;}
.right{float:right;}
/*Layout Page CSS*/
.header {background-color:#186486; min-height:60px;}
.wrapper{min-height:100%;height: auto;}
.main-wrapper {min-height:100%;height: auto;}
.footer {background-color:#d2d2d2; min-height:50px;}
.footer-logo{margin-top:7px;}
.header-top-nav div {color:#fff;padding:20px 10px;}
.header-top-nav div a{color:#fff; text-decoration:none;}
.copyright{color:#000;padding:15px 0;}
/*Dashboard Page CSS*/
