﻿/***********************************************************/
/*	ZNode Multifront Stylesheet
/*	Copyright 2004-2010, www.WebApp.com, All Rights Reserved.
/***********************************************************/

/**************************************************/
/* GLOBAL                                  
/**************************************************/
Body
{
    background-image:url(../../Images/BGSwirls.gif);background-position:left top;background-repeat:no-repeat;
    font-family: verdana,helvetica,sans-serif;
    font-size: 8pt; 
    text-align:left;
    color:#b3b3b3;
    margin-top:7px;
}

/**************************************************/
/* GLOBAL STYLES                                 
/**************************************************/
h1, h2, h3, h4 {color: #333333;}
h1 {margin-left:0px; font-family: Tahoma ;font-weight:normal; padding-left:10px; background-color:#f5f5f5; font-size:20px; height:32px; color:#333333; margin-top:0px; padding-top:5px;}
h2 { font-size: 16px; margin-bottom: 5px; }
h3 { font-size: 14px; margin-bottom: 5px; }
h4 {}
h5 { margin-top: 10px; margin-bottom: 10px; font-weight: bold; font-size: 11px; color: #444444; padding-right: 5px; padding-left: 5px; padding-bottom: 3px; padding-top: 3px; background-color: #eaebeb; border-left: #d3d3d3 1px solid; border-bottom: #8e9fba 1px solid; border-top-width: 1px; border-top-color: #d3d3d3; border-right-width: 1px; border-right-color: #d3d3d3; }
select {}
hr { border: 0; width: 100%; color: #4682b4; height: 1px; }
p { font-size: 8pt; color: #6f6f6e;}
big { font-size: 10pt; }
small { font-size: 7pt; }
.Error { font-weight: bold; color: #ff0000; font-size: 12px; margin-bottom: 5px; margin-top: 5px; }
.FailureText {color:Red;}
.Success{ font-weight: bold; color: Green; font-size: 13px;  white-space:pre; background-image: url(../../Images/check.png); background-repeat: no-repeat; padding-left: 15px; margin-bottom: 10px; margin-top: 5px; }
.Optional {font-weight: bold; color:  Blue; font-size: 13px; white-space:pre;  background-image: url(../../Images/warning_small.gif); background-repeat: no-repeat; padding-left: 15px; margin-bottom: 10px; margin-top: 5px; }
.AddOnMessage { color: #cb5d2a; font-size:11px; }
.ProductPageNewItem {text-align:right;position:relative;bottom:145px;right:2px;}
.NewItemStyle {position:relative;bottom:12px;left:60px;}
.PluginMessage{ margin-left:10px; font-size:12px; font-weight:normal; font-family:Verdana; text-align:left;}

/**************************************************/
/* COMMON STYLES                                 
/**************************************************/

.Title {font-family:Arial;font-size:11px;color:#6f6f6e;}
.PageTitle {padding:5px 0px 0px 10px;font-family: Tahoma ;font-weight:normal;background-color:#f5f5f5; font-size:20px; height:32px; color:#333333; margin-top:0px;margin-bottom:10px;}

a:link { color: #333333; text-decoration: none; }
a:visited { color: #333333; text-decoration: none; }
a:hover { color: #666666; text-decoration: none; }
a img{ border:none; }

a.Button 
{
    color: #f2f2f2;background-color:#53B53A; 
    font-style:normal;font-weight: bold;font-size: 7pt;
    display:inline-block;
    text-transform: uppercase;
    padding:5px 10px 5px 10px;
    vertical-align:middle;text-align:center;text-decoration:none;    
}

/**************************************************/
/* FORMS                                         
/**************************************************/
.Form {margin-bottom:10px; width:100%; color:#6f6f6e;}
.Form .Title {padding:5px 0px 0px 10px; font-weight:bold; height: 24px; font-size:16px; background-color:#EAEBEB;}
.FormTitle { font-weight: bold; font-size: 14px; color: #7C7C7C; background-color: #EAEBEB; padding-right: 10px; padding-left: 10px; padding-bottom: 5px; padding-top: 5px; border-bottom: #b4b4b4 0px solid; }
.Form .Search { background-color: #f1f1f1; padding-right: 10px; padding-left: 10px; padding-bottom: 20px; padding-top: 10px; border-right: #b5b4b5 1px solid; border-top: #b5b4b5 1px solid; border-left: #b5b4b5 1px solid; border-bottom: #b5b4b5 1px solid; margin-top: 5px; margin-bottom: 5px; }
.Form .Asterix { color: red; }
.Form .HeaderStyle { font-weight: bold; font-size: 11px;background-color: #eaebeb;color: #333333; margin-bottom: 5px; margin-top: 10px; padding-bottom: 3px; padding-top: 3px; padding-left: 5px; padding-right: 5px; }
.Form .Row { padding-bottom: 10px; color: #7C7C7C;}
.Form .FieldStyle {display: block; white-space: nowrap; width:120px; white-space: nowrap; font-size: 12px; font-weight: bold; color: #4b4b4b; text-align: right; margin-bottom: 10px; padding-right: 10px; padding-top:6px; }
.Form .ValueStyle {display:block; font-size: 11px; font-weight: normal; color: #333333; padding-bottom: 2px; padding-top: 2px; }
.Form .ValueField {padding-bottom:8px;padding-top:5px;}
.Form .SuccessMsg {color: Green; font-size: 13px;}
.Form .BackLink {color:#333333;font-size: 11px;text-decoration:underline;}
.Form .TextField {width:155px;margin-left:5px;}
.Form .HintStyle { font-size: 10px; font-weight: normal; color: #333333; padding-left: 10px; border-right: #3399cc 1px solid; padding-right: 10px; border-top: #3399cc 1px solid; padding-bottom: 5px; border-left: #3399cc 1px solid; padding-top: 5px; border-bottom: #3399cc 1px solid; background-color: #ffffcc; margin-left: 10px; margin-top: 5px; margin-bottom: 5px; }
.Form .ChangePassword { margin-top:10px; margin-right:5px; border:none; height:19px; width:101px;}
.Form .EditContact { margin-top:10px; margin-right:5px; border:none; height:19px; width:101px;}
.Form .ForgetLink {margin-top:10px;}
.Form .RememberMe {padding-bottom:5px;}
.Form .Rightalign {padding-left:7px;margin-bottom:30px;}
.Form .LeftContent {float:left; width:160px; white-space:normal;vertical-align:middle;}
.Form .ReviewLeftContent {float:left; width:160px;}
.Form .ShoppingTotalContent {float:left; width:100px;}
.Form .RightContent {float:right;}
.Form .CouponContent {float:left; margin-top:10px; position:relative; vertical-align:middle; width:450px; text-align:left;}
.Form .Clear {clear:both;}
.Form .ContactUsButton { padding-left:10px; float:left; width:160px; white-space:normal;vertical-align:middle; }

.Or { font-weight: bold; font-size: 14px; color: #336699; font-family: arial; padding-right: 10px; padding-left: 10px; text-transform: uppercase; }
.Form .Link {padding-left:7px; font-weight: bold; font-size: 11px; color: #336699; font-family: arial; margin-bottom:5px; }
.Form A {text-decoration:underline;}
.Form .Button {text-decoration:none;}
.AccessDenied {padding-bottom:20px;color:Red;font-weight:bold;}
.Content { padding-top:10px;padding-bottom:10px;}
.RatingImage { padding-right:5px; vertical-align:middle; }

.Loginpage { padding-bottom:0px; padding-top:0px; font-family:Arial; margin-top:0px;}
.Loginpage .QuickSearchfield {float:left;margin-top:0px;}
.Loginpage .QuickSearchfield .Button {position:relative;top:5px; padding-right:5px;}
.Loginpage .BreadCrumb {background:url(../../images/freeshipping_bg_spring.jpg) no-repeat; background-position:right;height:50px;}
.Loginpage .BreadCrumb .BreadCrumbLabel {padding-top:20px;margin-left:20px;}
.Loginpage .BreadCrumb A {color: #7C7C7C; text-decoration: none;}
.Loginpage .PromoText {position:relative;top:-13px; float:right; right:12px;}

/**************************************************/
/* PAGE SECTIONS                                  
/**************************************************/
#HomePageTab {height:41px; background-image: url(../../Images/Home_tab.jpg); vertical-align:bottom; background-repeat: repeat-x; margin-left:-5px;margin-right:-8px; margin-top:-7px; }
#DefaultTab {margin-top:-1px; margin-left:-5px; vertical-align:bottom;}
#Container { width:960px;background:transperancy;margin:auto 150px;}
#LeftColumn {float:left; width:180px; margin-top:5px;}
#SeperateColumn { }
#MiddleColumn { background:url(../../images/seperator_bg.gif); background-repeat:repeat-y; background-position:left center; float:left; width:780px;margin-bottom:50px;}
#MiddleColumn .Field { margin-top:5px; margin-bottom:5px; }
#MiddleColumn .FeaturedCategory { float:left; width:780px; }

/*************************************/
/* BreadCrumb
/*************************************/
#BreadCrumb {background:url(../../images/freeshipping_bg_spring.jpg); background-repeat:no-repeat; background-position:right;height:50px;}
#BreadCrumb .BreadCrumbLabel {margin-left:15px;padding-top:20px;}
#BreadCrumb .PromoText {position:relative;top:-15px;right:12px;float:right;}

/**************************************************/
/* Header Content
/**************************************************/
#Header {margin-bottom:20px;margin-top:10px;display:inline-block;}
#Header table {width:100%;}
#Logo {width:220px;float:left;}

#SiteLinks {width:425px;float:left;margin-top:20px;margin-right:8px;}
#SiteLinks .Link {font-family:Arial;font-size:12px;margin-left:2px; margin-right:2px;letter-spacing:0px;}
#SiteLinks .Link A:link { margin-right:2px;}
#SiteLinks .Link A:visited {margin-right:2px;}

#CartItemCount {}
#CartItemCount .Button {height:20px;padding:0px 10px 0px 10px;margin:0px 5px 0px 5px;position:relative;bottom:1px;}
#CartItemCount .Text {position:relative;top:3px;}

.LoginText {font-family:Arial;color: #71C75C;margin-right:2px; margin-bottom:0px; padding-right:0px; text-decoration:none; font-size:14px; height:30px; font-weight:bold;}
.LoginName .Login {font-family:Arial; color:#71C75C; text-decoration:none;font-size:14px;position:relative; float:right;}
.RightTopcontent {width:500px; float:right;text-align:right;}
.CustomerServiceLinks {width:300px; float:left;color:#333333;margin-left:5px;margin-top:15px;}
.CustomerServiceLinks img {vertical-align:middle;border:none;}
.CustomerServiceLinksText {font-family:Arial;font-size:12px;vertical-align:middle;margin-right:3px;}
.HomePromoContent {position:relative;left:-4px;margin-right:10px;}

/******************************/
/* Footer Content
/******************************/
#FooterContent {clear:left;width:959px; text-align:left;height:95px;background:url(../../Images/Footer.gif);background-position:left;background-repeat:no-repeat; }

#FooterContent #NewsLetterSignUp { width:180px; float:left; margin-left:8px; margin-top:15px;}
#FooterContent #NewsLetterSignUp .ValueStyle { display:block; font-size: 11px; font-weight: normal; color: #333333; padding-bottom: 2px; padding-top: 5px; }
#FooterContent #NewsLetterSignUp .ImageButton {vertical-align:middle;padding-left:3px; padding-bottom:5px; }
#FooterContent #NewsLetterSignUp img {vertical-align:bottom;}

#FooterContent #FooterCard { margin:0px; float:left; width:260px; margin-top:15px; height:30px;}
#FooterContent #FooterCard .Title { margin-bottom:5px;}
#FooterContent #FooterCard img {vertical-align:middle;margin-right:5px;}

#FooterContent #FooterShipping { width:150px; margin:0px; margin-top:15px; float:left;  position:relative; left:0px; bottom:0px;}
#FooterContent #FooterShipping .Title { margin-bottom:5px;}
#FooterContent #FooterShipping img { vertical-align:middle;margin-right:5px;}

#FooterContent #FooterCopyRight { text-align:left; margin:0px; position:relative; float:left; right:410px; top:70px; }

#FooterContent #FooterSecured { width:250px; text-align:left;  margin:0px; float:right; position:relative; bottom:0px; right:40px;}
#FooterContent #FooterSecured .Title { margin-bottom:5px;}
#FooterContent #FooterSecured img { vertical-align:middle;margin-right:5px;}

#Footer { padding-right: 5px; padding-left: 5px; padding-bottom: 10px; padding-top: 5px; margin-bottom: 30px; margin-top:10px;}

#Footer .FooterLinks {text-transform:capitalize;font-size:12px;font-family:Arial;margin-left:15px;}
#Footer .FooterLinks .Link {color: #6f6f6e; margin-left:5px; margin-right:4px;letter-spacing:0.3px;}
#Footer .FooterLinks .Link A:link { margin-right:2px; }
#Footer .FooterLinks .Link A:visited { margin-right:2px; }

#Footer p {text-transform:none;font-size:11px;font-family:Arial;margin-left:15px;color: #6f6f6e;letter-spacing:0.3px;word-spacing:1px;}

/**************************************************/
/* CONTENT PAGE SECTIONS                            
/**************************************************/
.ContentPage { color:#646464; font-size:11px; margin-top:-10px;}
.ContentPage .PageTitle {padding-left:0px;}
.ContentPage .SubTitle{margin-top:10px;}

/**************************************************/
/* HOME QUICK SEARCH                                 
/**************************************************/
#HomepageStyle {}
#HomepageStyle .HomePagePromo {float:left;clear:left;margin-right:6px;margin-top:7px;padding-bottom:10px;}
#HomepageStyle .HomePagePromo img {width:716px;height:350px;}
#HomepageStyle .HomePagePromoRightTop {float:left;position:relative;top:8px;}
#HomepageStyle .HomePagePromoRightTop img {width:227px;height:166px;border:none;}
#HomepageStyle .HomePagePromoRightBottom {float:left;clear:none; position:relative;top:25px;}
#HomepageStyle .HomePagePromoRightBottom img {width:227px;height:166px;border:none;}
#HomepageStyle .HomePageSpecials {clear:left;}
#HomepageStyle .horizontalline {border-top:1px solid silver;margin-bottom:10px;}
#HomeQuickSearch {float:left;margin-top:8px;margin-bottom:0px;}
#HomeQuickSearch .WaterMark {font-size:12px;font-family:Arial;font-style:italic;color: #6f6f6e;margin-top:10px;}
#HomeQuickSearch .TextBox {font-size:12px;font-family:Arial;color: #6f6f6e;margin-top:10px;}
#HomeQuickSearch .Button {position:relative;top:5px;} 
#HomepageStyle .HomeSpecialsBG  {background:url(../../images/freeshipping_bg_spring.jpg); background-repeat:no-repeat; background-position:right; vertical-align:middle;height:45px; left:15px; display:block;}
#HomepageStyle .HomeSpecialsBG .PromoSpecialText {position:relative; float:right; top:13px;text-align:right; right:12px;}
/* --------------------BANNER ROTATOR--------------------- */
#SlideItMoo_banners_outer {display:block;position:relative;width:716px;height:350px;margin:0px;margin-right:8px;}
#SlideItMoo_banners_inner {position:relative ;overflow:hidden ;width:716px;height:350px;}
#SlideItMoo_banners_items {white-space:nowrap;display:block;position:relative;}
#SlideItMoo_banners_items a img {border:none;text-decoration:none;}
/* --------------------BANNER ROTATOR ENDS--------------------- */

/**************************************************/
/* MENU                                          
/**************************************************/
#Menu { background-color: #61ae3f;font-size: 11px; color: white; font-family: Futura; text-align: left;font-weight: bold; text-transform: capitalize; }
#Menu .StaticMenuStyle {}
#Menu .StaticMenuItemStyle{font-size: 10px;color: white;font-weight: bold;text-transform: uppercase;padding:10px 13px 10px 13px;margin-left:1px;height:38px;}
#Menu .StaticHoverStyle {background-color: #3a791f; } 
#Menu .StaticSelectedStyle {background-color: #3a791f; }
#Menu .DynamicMenuStyle {z-index:100;}
#Menu .DynamicMenuItemStyle {z-index:100;background-color: #61ae3f;height:38px;text-transform: uppercase;font-size: 10px;color: white; font-weight: bold; padding:7px 13px 7px 13px;border-top :dotted 1px white;}
#Menu .DynamicHoverStyle {background-color:#3a791f;} 
#Menu .DynamicSelectedStyle { }

/**************************************************/
/* CATEGORY TREEVIEW                                 
/**************************************************/
.CategoryTreeView { margin-bottom: 15px; padding-bottom: 5px; padding-left: 0px;clear:left;padding-top:5px;}
.CategoryTreeView .Rightarrow {color:#75BF4C;font-weight:bolder;font-size:14px;}
.CategoryTreeView .Title { text-transform:uppercase; font-size: 12px; font-weight:bold;color:#333333; padding:10px 10px 5px 0px;}
.CategoryTreeView .TreeView {}
.CategoryTreeView .NodeStyle {font-weight: normal;font-size: 10pt;font-family: Arial;padding:2px 2px 2px 0px;color: #5C5C5C;}
.CategoryTreeView .HoverNodeStyle {color: #333333;}
.CategoryTreeView .SelectedNodeStyle { font-weight: bold; }

/************************************************/
/* Product Tagging
/************************************************/
.ProductTagging { text-align: left; margin-top: 0px; margin-bottom:25px; }
.ProductTagging .Title {word-spacing:1px;text-transform:uppercase; font-size: 12px; font-weight:bold;color: #333333; padding:10px 10px 5px 0px;}
.ProductTagging .ValueStyle {padding-bottom:5px;padding-top:5px;padding-left:0px;margin-left:5px;margin-bottom:5px;}
.ProductTagging .DynamicValueStyle {padding-bottom:0px;padding-left:0px;width:150px;}
/* DROPDOWNLIST */
.ProductTagging .dropdownText { margin-right:10px; font-family: Arial;font-size:11px;width:140px;height:20px; color:#333311;border:1px solid #B7B7B7;}
/* Links Control */
.ProductTagging .LinksTitle {text-transform:uppercase;color: #cb5d2a;font-size:11px;margin-bottom:0px;margin-left:5px;font-family: Arial;font-weight:bold;}
.ProductTagging .linkBtnTagText {text-transform:none;text-decoration:none; color: #3a6ea5;font-size:11px;font-weight:normal;font-family: verdana;padding-left:5px;}
.ProductTagging .linkBtnTagTextSelected {text-transform:capitalize;text-decoration:none; color: #3a6ea5;font-size:11px;font-weight:bold;font-family: verdana;padding-left:5px; }
/* RADIOBUTTON Control */
.ProductTagging .RadioButton {font-weight: normal;font-size: 8pt;font-family: verdana;padding-bottom: 2px;padding-top: 2px;color: #3a6ea5;padding-left: 2px;padding-right: 2px;}
.ProductTagging .RadioButtonListTitle {text-transform:uppercase;color: #cb5d2a;font-size:11px;font-weight:bold;font-family: verdana;margin-left:5px;}
/* Icons Control */
.ProductTagging .IconsTitle {text-transform:uppercase;color: #cb5d2a;font-size:11px;font-weight:bold;font-family: verdana;margin-left:5px;}

.ProductTagging .SelectedTagText {  color:black; margin-left:5px;font-size:7pt;}
.ProductTagging .SelectedTagValue {  color:#555555; margin-left:5px; font-size:7pt;display:inline-block;}
  /*Znode Version 7.2.2
    Css class added for facets link - Start */
    .facetsLink_label {
        color: #0099FF !important;
        cursor: pointer;
        background: none;
        border: none;
    }
    /*Css class added for facets link - End */
/**************************************************/
/* SPECIALS TREEVIEW                                 
/**************************************************/
.SpecialsTreeView { margin-bottom: 15px; padding-bottom: 5px; padding-left: 0px; }
.SpecialsTreeView .Title { text-transform:uppercase; color: #333333; font-weight: bold; padding-right: 10px; padding-left:0px; padding-bottom: 5px; padding-top: 10px; font-size: 12px; font-family: Tahoma; }
.SpecialsTreeView .TreeView { padding-left: 0px; }
.SpecialsTreeView .LeafNodeStyle { padding-left:0px;padding-bottom:5px;}
.SpecialsTreeView .NodeStyle { font-weight: normal; font-size: 10pt; font-family: Arial; padding-bottom: 2px; padding-top: 2px; color: #5C5C5C; padding-left: 0px; padding-right: 2px; }

/**************************************************/
/*  SPECIALS Page                                 
/**************************************************/
#Specials { text-align: left;}
#Specials .Title {font-size:26px;color: #6f6f6e;font-family:Times New Roman;letter-spacing:0px;margin:0px 0px 10px 0px;padding-top:10px;}
#Specials .SpecialItem 
{
    text-align:left;width:173px;height:auto;min-height:220px;margin:3px 5px 0px 5px;padding:0px 3px 10px 3px; 
    background-image:url(../../images/line_seperator.gif);background-repeat:no-repeat;background-position:right center;
}
#Specials .SpecialItem .DetailLink {width:170px; font-family:Arial;font-weight:normal;color:#313131;font-size:13pt;margin-right:5px; min-height:37px; height:auto; display:inline-block;}
#Specials .SpecialItem .DetailLink A:link { text-decoration: none;}
#Specials .SpecialItem .DetailLink A:Visited { text-decoration: none;}
#Specials .SpecialItem .DetailLink A:Hover { text-decoration: none;}
#Specials .SpecialItem .ShortDescription {height:30px; font-size: 9pt; overflow:hidden; font-family:Arial;font-weight:normal;color:#313131;margin-top:5px;margin-right:5px;}
#Specials .SpecialItem .Image {height:95px; margin-bottom:0px;text-align:center;vertical-align:text-bottom; }
#Specials .SpecialItem .StarRating {font-family:Arial;font-weight:normal;color:#313131; font-size:9pt;text-align:left;margin-left:0px;}
#Specials .SpecialItem .BuyButton { margin-bottom:0px; margin-top:5px;}
#Specials .ItemStyle {vertical-align:top;}
#Specials .SpecialItem .Price {margin-bottom:2px; font-weight: normal; font-size: 18px;color: #df7228; text-align:left; }
#Specials .SpecialItem .RegularPrice { font-weight: normal; font-size: 18px; font-family: verdana,arial; color: #df7228; text-decoration: line-through; }
#Specials .SpecialItem .SalePrice { font-weight: normal; font-size: 18px;color: #df7228; padding-top: 5px; }
#Specials .SpecialItem .CallForPrice { margin-bottom: 5px; }
/* --------------------BANNER ROTATOR---------------------*/
#Specials #SlideItMoo_outer {position:relative;margin-left:5px;bottom:10px;margin-right:0px;margin-top:7px;margin-bottom:10px;}
#Specials #SlideItMoo_outer .SlideItMoo_forward,
#Specials #SlideItMoo_outer .SlideItMoo_back{position:absolute;cursor:pointer;width:25px;height:240px;top:15px;right:30px;background:url(../../images/RightScroll.gif) no-repeat center;} 
#Specials #SlideItMoo_outer .SlideItMoo_back {left:-15px;background:url(../../images/LeftScroll.gif) no-repeat center;}
#Specials #SlideItMoo_inner{width:100%;overflow:hidden;margin:0px 0px 0px 10px;padding:10px 0px 10px 0px;}
#Specials #SlideItMoo_items div.SlideItMoo_element {float:left;clear:right;}

/**************************************************/
/* CATEGORY DETAIL                                 
/**************************************************/
.CategoryDetail { margin-bottom:20px; }
.CategoryDetail #FreeShipping {  }
.CategoryDetail h1{ margin-left:15px;}
.CategoryDetail .Description { margin:15px;}
.CategoryDetail #ProductListNavigation { height:39px; border-bottom:solid 1px #c0c0c0; }
/*---------Paging Style Starts---------*/
.CategoryDetail .TopPagingSection {  }
.CategoryDetail .Sorting { float:left; margin-top:10px;}
.CategoryDetail .Sorting .Label {color:#313131; font-weight: bold; font-size:10px; margin-right: 5px;}
.CategoryDetail .Sorting select { font-size: 8pt; font-family: verdana; }
.CategoryDetail .TopPaging { margin-right:10px; margin-top:10px; float:right; color:#313131;font-family:Arial;font-size:12px; }
.CategoryDetail .Paging { text-align:right;margin-right:10px;margin-bottom:10px;margin-top:10px; color:#313131;font-family:Arial;font-size:12px;}

/*--------Paging Button Style----------*/
.CategoryDetail .TopPaging .Button {padding:3px 15px 3px 15px;position:relative;bottom:2px;}
.CategoryDetail .Paging .Button {padding:3px 15px 3px 15px;position:relative;bottom:2px;}
.CategoryDetail .Pagingdropdown {border:#f5f5f5;color:#313131;font-family:Arial;font-size:12px;background-color:#f5f5f5;}
.CategoryDetail .SlashSeparator { margin-right:5px; margin-left:5px; }
.CategoryDetail .BottomPaging { height:39px; float:left;border-top:solid 1px #c0c0c0;border-bottom:solid 1px #c0c0c0; width:765px; padding-bottom:0px;display:block; text-align:right;}
.CategoryDetail .ActivePage   { color: #ffffff; background-color:#61AD40; text-align: center; padding:1px 5px 1px 5px; font-size: 13px; margin:0px 2px 0px 2px; font-weight:normal; text-decoration:none; }
.CategoryDetail .InactivePage { color: #7F7F7F; background-color:#ECECEC; text-align: center; padding:1px 5px 1px 5px; font-size: 13px; margin:0px 2px 0px 2px; font-weight:normal; text-decoration:none; }
.CategoryDetail .NavigationStyle { text-align: right; margin-top: 15px; margin-bottom: 10px; font-size: 11px; color: #444444; padding-right: 5px; padding-left: 5px; padding-bottom: 3px; padding-top: 3px; border-top-width: 1px; border-top-color: #d3d3d3; border-right-width: 1px; border-right-color: #d3d3d3; border-left-width: 1px; border-left-color: #d3d3d3; border-bottom-width: 1px; border-bottom-color: #8e9fba; }
/*---------Paging Style Ends--------*/
.CategoryDetail .ProductList { text-align:left; margin-bottom:0px; margin-left:20px;}
.CategoryDetail .CategoryProductlist {float:left;}
.CategoryDetail .ProductListItem {vertical-align:top;text-align:left; width:170px; height:auto; display:inline-block; margin:0px 7px 40px 7px;}
.CategoryDetail .ProductListItem .GrayBorder {background-color:#D1D1D1; width:160px; height:1px; margin-top:5px;}
.CategoryDetail .ProductListItem .DetailLink {margin-bottom:1px; font-family:Arial; font-weight:normal; color:#313131; font-size: 13pt; height:auto;display:inline-block;}
.CategoryDetail .ProductListItem .ShortDescription {height:15px;font-size: 9pt;font-family:Arial;font-weight:normal;color:#313131;margin-top:3px;}
.CategoryDetail .ProductListItem .Image {height:105px;margin-top:2px; text-align:center;}
.CategoryDetail .ProductListItem .StarRating {color:#313131; font-size:8pt; vertical-align:top;} 
.CategoryDetail .ProductListItem .Price {font-weight: normal; font-size: 18px;color: #df7228; text-align:left;margin-bottom:5px;}
.CategoryDetail .ProductListItem .RegularPrice { font-weight: normal; font-size: 18px; font-family: verdana,arial; color: #df7228; text-decoration: line-through; }
.CategoryDetail .ProductListItem .SalePrice { font-weight: normal; font-size: 18px;color: #df7228; padding-top: 5px; }
/*--------View Button Style----------*/

.CategoryDetail .ProductListItem .CallForPrice {font-weight: normal; font-size: 18px;color: #df7228; text-align:left;margin-bottom:5px; }
.CategoryDetail .ProductList .Separator {padding-top:20px;}
.CategoryDetail .ProductList .ItemStyle {padding-top:15px;}
/*------------SubCategoryList Grid Style-------- */
.CategoryDetail .SubCategoryList { width:100%; padding:20px; margin-bottom:20px; margin-left:0px; margin-top: 15px;display:inline-block;}
.CategoryDetail .Title {padding:5px 0px 5px 5px;background-color: #F5F5F5;color: #6f6f6e;font-size: 25px;font-family:Times New Roman;letter-spacing:0px;margin-bottom:10px;margin-left:0px;}
.CategoryDetail .SubCategoryListItem {vertical-align:top;text-align:left; width:170px; height:150px; margin:0px;}
.CategoryDetail .SubCategoryListItem .GrayBorder {background-color:#D1D1D1; width:160px; height:1px; margin-top:5px;}
.CategoryDetail .SubCategoryListItem .DetailLink {margin-bottom:1px; font-family:Arial; font-weight:normal; color:#313131; font-size: 13pt; height:35px;}
.CategoryDetail .SubCategoryListItem .ShortDescription {height:15px;font-size: 9pt;font-family:Arial;font-weight:normal;color:#313131;margin-top:3px;}
.CategoryDetail .SubCategoryListItem .Image {height:105px;margin-top:2px; text-align:center;}
.CategoryDetail .SubCategoryListItem .StarRating {color:#313131; font-size:8pt; vertical-align:top;} 
.CategoryDetail .SubCategoryListItem .Price { border:1px; font-weight: normal; font-size: 18px;color: #df7228; text-align:left;margin-bottom:5px;}
.CategoryDetail .SubCategoryListItem .RegularPrice { font-weight: normal; font-size: 18px; font-family: verdana,arial; color: #df7228; text-decoration: line-through; }
.CategoryDetail .SubCategoryListItem .SalePrice { font-weight: normal; font-size: 18px;color: #df7228; padding-top: 5px; }
.CategoryDetail .SubCategoryListItem .BuyButton { margin-bottom: 5px; margin-top:7px;padding-top:0px;}
.CategoryDetail .SubCategoryListItem .CallForPrice { margin-bottom: 5px; }
/*---------- SWATCHES ------------*/
.CategoryDetail .ProductListItem .ProductSwatches {height:15px; width:160px;margin-top:5px;}
.CategoryDetail .ProductListItem .ColorCaption {float:left;margin-top:4px;color:#848484;font-size: 10px;font-weight:bold; font-family: Arial;}
.CategoryDetail .ProductListItem .ProductViews .Swatches {cursor:pointer;text-align:right;float:right;margin-top:2px;}
.CategoryDetail .ProductListItem .ProductViews .Swatches .ItemStyle {padding-left:4px;padding-top:2px;}
.CategoryDetail .ProductListItem .SwatchImage {border:solid 1px #313131; cursor:pointer; text-align:center;height:10px;}

/**************************************************/
/* PRODUCT DETAIL                                 
/**************************************************/
#ProductDetail { margin-left:15px;font-family:Arial;color:#666666;}
#ProductDetail .Title {font-size:28px; color:#60AF3A;}
#ProductDetail .Horizontalline {border-top:1px solid silver;margin:6px 0px 0px 0px;}
#ProductDetail .LeftContent {float:left;width:440px;margin-right:10px;}
#ProductDetail .RightContent {float:left;width:295px;margin-left:10px;background:url(../images/seperator_bg.gif); background-repeat:repeat-y; background-position:left top;}
#ProductDetail .Description {margin: 0px 0px 10px 0px;font-size:10pt; padding-right:10px;}
#ProductDetail .Label A {font-weight: normal;font-size:10pt;margin-right:5px;text-decoration:none;}
#ProductDetail .BrandLabel A {font-weight: normal;font-size:10pt;margin-right:5px;text-decoration:none;}
#ProductDetail .Image { margin-bottom:10px;text-align:center; padding:10px;}
#ProductDetail .Zoom { margin-bottom: 20px; text-align: center; }
#ProductDetail .StarRating {margin-top:15px;}
#ProductDetail .StarRating A {text-decoration:none;}
#ProductDetail .Tabs { margin-top: 30px; margin-bottom:0px;  font-size: 8pt; }
#ProductDetail .OrderingOptions {text-transform:uppercase; text-align:right; padding-left:20px; padding-right:0px;padding-bottom:10px;padding-top:10px;}
#ProductDetail .Quantity {margin-right:10px;}
#ProductDetail .StockMsg {text-transform:capitalize; text-align:right; font-family:Arial; font-size:14px;color:#666666;margin-top:10px;padding-left:180px; margin-bottom:5px;}
#ProductDetail .Price {font-size: 12px; font-weight: normal;font-family:Arial;}
#ProductDetail .PriceContent {text-transform:capitalize;text-align:right;margin-left:285px;}
#ProductDetail .RegularPrice { font-size: 12px; font-weight: normal; text-decoration: line-through; margin-right:1px;margin-left:2px;}
#ProductDetail .SalePrice {font-size: 14px;color:#313131;}
#ProductDetail .CallForPriceMsg {font-size: 14px;font-weight:bold; color:#cb5d2a;}
#ProductDetail .AddToCartButton {margin-top:15px;text-align:right;}
#ProductDetail .AttributeDropDown { width:136px; height:20px; border:1px solid #B7B7B7; }
#ProductDetail .AddOnDropDown { width:136px; height:20px; border:1px solid #B7B7B7; }
#ProductDetail .AddOnTextBox { width:132px; height:16px; border:1px solid #B7B7B7; }
#ProductDetail .AddOnValidator { padding-right:10px; }
 /* ----------------IMAGE SLIDER STARTS------------- */
#ProductDetail #CatalogImage_outer {width:260px;margin:0px;background:#ffffff;overflow:hidden;position:relative;bottom:10px;right:9px;padding:0px}
#ProductDetail #CatalogImage_outer .SlideItMoo_forward,
#ProductDetail #CatalogImage_outer .SlideItMoo_back{display:block;position:absolute;cursor:pointer;width:24px;height:260px;bottom:0px;right:0px;background:url(../../images/RightScroll.gif) no-repeat center;}
#ProductDetail #CatalogImage_outer .SlideItMoo_back {left:0px;background:url(../../images/LeftScroll.gif) no-repeat center;}
#ProductDetail #CatalogImage_inner{width:260px;overflow:hidden;position:relative;left:25px;left:0px;margin:0px;padding:0px 0px 0px 0px;}
#ProductDetail #CatalogImage_items {display:block;position:relative;height:250px;}
#ProductDetail #CatalogImage_items div.CatalogImage_element {width:260px;height:260px;display:block;position:relative;float:left;margin:0px 0px 0px 0px;font-size:11px;text-align:center;color:#FFFFFF;}
#ProductDetail #CatalogImage_items a {}
#ProductDetail #CatalogImage_items a img{ border:none; }
/* ----------------IMAGE SLIDER ENDS------------- */
/*---------- SWATCHES ------------*/
#ProductDetail .ProductSwatches {text-align:center;margin:10px 0px 20px 10px;height:20px;}
#ProductDetail .ProductSwatches .Text {float:left;margin:3px 20px 0px 30px;color:#848484;font-size: 10px;font-weight:bold; font-family: Arial;}
#ProductDetail .ProductSwatches .ProductViews .Swatches {}
#ProductDetail .ProductSwatches .ProductViews .Swatches .ItemStyle { padding-left:8px; padding-top:2px; padding-bottom:3px; vertical-align:top;}
#ProductDetail .ProductSwatches .SwatchImage {cursor:pointer;border:solid 1px #313131; cursor:pointer; text-align:center;height:15px;}
/* ----------SWATCHES ENDS ---------*/
/* ----------------AJAX TAB STYLE STARTS---------- */
#ProductDetail #Tab .CustomTabStyle .ajax__tab_body 
{
    border-top:Solid 1px #c0c0c0; border-left:Solid 4px #c0c0c0;border-left:Solid 4px #c0c0c0;border-bottom:Solid 4px #c0c0c0;border-right:Solid 4px #c0c0c0; color:#666666; font-size:10pt; 
    height:210px; width:420px;color:#666666; font-size:10pt;background-color:#ffffff; padding-top:5px;padding-right:13px;
}
#ProductDetail #Tab .CustomTabStyle .ajax__tab_outer {padding-right:4px;background:url(../../Images/Rplain.gif) no-repeat right; background-position:top right;}
#ProductDetail #Tab .CustomTabStyle .ajax__tab_inner {padding-left:4px;background:url(../../Images/Lplain.gif) no-repeat;}
#ProductDetail #Tab .CustomTabStyle .ajax__tab_tab { width:119px; height:22px;margin:0;background:url(../../Images/mplain.gif) repeat-x; padding-top:10px; padding-left:10px; padding-right:10px;}
#ProductDetail #Tab .CustomTabStyle .ajax__tab_hover { cursor:pointer; }
#ProductDetail #Tab .CustomTabStyle .ajax__tab_hover .ajax__tab_outer { padding-right:4px;background:url(../../Images/Rplain.gif) no-repeat right; background-position:top right;}
#ProductDetail #Tab .CustomTabStyle .ajax__tab_hover .ajax__tab_inner { padding-left:4px;background:url(../../Images/Lplain.gif) no-repeat;}
#ProductDetail #Tab .CustomTabStyle .ajax__tab_hover .ajax__tab_tab { height:22px;background:url(../../Images/mplain.gif) repeat-x;}
#ProductDetail #Tab .CustomTabStyle .ajax__tab_active .ajax__tab_outer {background:url(../../Images/faright.gif) no-repeat right; color:#666666;  background-position:top right;}
#ProductDetail #Tab .CustomTabStyle .ajax__tab_active .ajax__tab_inner {background:url(../../Images/faleft.gif) no-repeat;color:#666666;}
#ProductDetail #Tab .CustomTabStyle .ajax__tab_active .ajax__tab_tab {height:22px;padding-bottom:-10px; background:url(../../Images/famiddle.gif) repeat-x; color:#666666; font-weight:600;}
#ProductDetail #Tab .Features {margin:10px;}
#ProductDetail #Tab .Reviews {margin:10px;}
#ProductDetail #Tab .ShippingInfo {margin:10px;}
/* ----------------AJAX TAB STYLE ENDS----------------*/
#ProductDetail #RelatedTabs {margin-top:20px; margin-left:15px; vertical-align:text-bottom;}
#ProductDetail #RelatedTabs .RelatedProductTabStyle .ajax__tab_body {height:100px; width:273px; padding-top:5px; border-top:1px Solid #666666;}
#ProductDetail #RelatedTabs .RelatedProductTabStyle .ajax__tab_tab { height:19px;width:134px;font-size:10px; word-spacing:2px; padding-top:5px; font-family:Times New Roman;}
#ProductDetail #RelatedTabs .RelatedProductTabStyle .ajax__tab_hover { cursor:pointer; }
#ProductDetail #RelatedTabs .RelatedProductTabStyle .ajax__tab_active .ajax__tab_inner {background:url(../../Images/tab_grey_bg.gif) no-repeat; text-align:center; color:#ffffff;font-size:10px;word-spacing:0px;font-family:Times New Roman;}
/* ----------------AJAX RELATED TAB STYLE ENDS--------*/
#ProductDetail #DetailPageLink {clear:left;word-spacing:0.5px; color: #313131;font-size:12px; background:#f5f5f5; background:url(../../Images/emailfriend_bg.gif); background-repeat:repeat-x; width:295px; height:64px;margin-left:1px; }
#ProductDetail #DetailPageLink #InternalLinks { float:left; margin-top:10px;margin-left:15px; }
#ProductDetail #DetailPageLink #InternalLinks .GiftImage { position:relative; left:5px; } 
#ProductDetail #DetailPageLink #InternalLinks .FriendImage { position:relative; left:3px; }
#ProductDetail #DetailPageLink #SocialLinks { float:right; margin-top:10px; margin-right:10px; margin-bottom:5px;margin-left:15px; }
#ProductDetail #DetailPageLink #SocialLinks .FBImage {position:relative;top:0px;right:0px;}
#ProductDetail #DetailPageLink #SocialLinks .TwitterImage {position:relative;top:0px;}
/* ----------------Cross Sell Related Item------------*/
#ProductDetail .CrossSellItem .Image { margin:0px; border:0px; padding:0px; }
#ProductDetail .CrossSell #CrossSellItems_outer {height:70px;overflow:hidden;position:relative;bottom:0px;right:0px;margin-top:5px;margin-left:5px; background:#ffffff; display:block;}
#ProductDetail .CrossSell #CrossSellItems_outer .SlideItMoo_forward,
#ProductDetail .CrossSell #CrossSellItems_outer .SlideItMoo_back{display:block;position:absolute; cursor:pointer;width:14px;height:50px;top:10px;bottom:0px;right:0px;background:url(../../images/crossSell_RightScroll.gif) no-repeat center;}
#ProductDetail .CrossSell #CrossSellItems_outer .SlideItMoo_back {left:0px;background:url(../../images/crossSell_LeftScroll.gif) no-repeat center;}
#ProductDetail .CrossSell #CrossSellItems_inner{overflow:hidden;position:relative;left:20px;margin:0px;padding:0px 5px 0px 5px;}
#ProductDetail .CrossSell #CrossSellItems {display:block;position:relative;}
#ProductDetail .CrossSell #CrossSellItems div.CrossSellItem {display:block;float:left;padding:0px 10px 0px 10px;font-size:11px;text-align:center;color:#FFFFFF;}
#ProductDetail .CrossSell #CrossSellItems .Image {text-align:center;margin:10px 0px 10px 0px;width:50px;height:50px;}
/* ---------------- Best Sellers ------------*/
#ProductDetail .BestSellerItem .Image { margin:0px; border:0px; padding:0px; }
#ProductDetail .BestSeller #BestSellers_outer {height:70px;margin-left:5px;margin-top:5px; overflow:hidden;position:relative;bottom:0px;right:0px;background:#ffffff; display:block; width: 260px !important;}
#ProductDetail .BestSeller #BestSellers_outer .SlideItMoo_forward,
#ProductDetail .BestSeller #BestSellers_outer .SlideItMoo_back{display:block;position:absolute; cursor:pointer;width:14px;height:50px;top:10px; right:0px;background:url(../../images/crossSell_RightScroll.gif) no-repeat center;}
#ProductDetail .BestSeller #BestSellers_outer .SlideItMoo_back {left:0px;background:url(../../images/crossSell_LeftScroll.gif) no-repeat center;}
#ProductDetail .BestSeller #BestSellers_inner { overflow:hidden;position:relative;left:20px;margin:0px;padding:0px 5px 0px 5px; width: 210px !important;}
#ProductDetail .BestSeller #BestSellers_Items {display:block;position:relative; width: 400px !important;}
#ProductDetail .BestSeller #BestSellers_Items div.BestSellerItem {display:block;float:left;padding:0px 10px 0px 10px;font-size:11px;text-align:center;color:#FFFFFF;}
#ProductDetail .BestSeller #BestSellers_Items .Image {text-align:center;margin:10px 0px 10px 0px;width:50px;height:50px;}
/* ---------------- Product Reviews ------------*/
#ProductDetail #Review { margin-left:10px; margin-right:0px; width:380px; color:#646464; font-size:12px; }
#ProductDetail #Review .TitleStyle { font-size: 12px; word-wrap: break-word; font-weight:bold; padding:0px; color:#646464;}
#ProductDetail #Review .AlignRight { text-align:right; }
#ProductDetail #Review .ItemStyle { }
#ProductDetail #Review .ReviewItem { padding-top:10px;  text-align:left; }
#ProductDetail #Review .ReviewItem .Title { font-size:13px; font-weight:lighter; margin-top: 10px; margin-bottom: 10px; color: #444444; padding-right: 5px; padding-left: 0px; padding-bottom: 3px; padding-top: 3px; background-color: #eaebeb; border-left: #d3d3d3 1px solid; border-bottom: #8e9fba 1px solid; border-top-width: 1px; border-top-color: #d3d3d3; border-right-width: 1px; border-right-color: #d3d3d3;}
#ProductDetail #Review .ReviewItem .Title .Subject { padding-left:10px; font-size: 13px; font-weight:bold; color:#000000; }
#ProductDetail #Review .ReviewItem .Text { padding-top:5px; padding-bottom:5px;}
#ProductDetail #Review .ReviewItem .Content { margin-top:5px; margin-bottom:5px; margin-left:10px; color:#646464; }
#ProductDetail #Review .ReviewItem .StarRating { text-align:left; }
#ProductDetail #Review .ReviewItem .Content .Row { margin-top:5px; font-size:12px; color:#646464; text-align:left; }
#ProductDetail #Review .ReviewItem .Content .Row .FieldStyle { font-size:12px; color:#646464; font-weight:bold; margin-bottom:5px;  }
#ProductDetail #Review .ReviewItem .Content .Row .ValueStyle { margin-left:10px; font-size:12px; color:#646464; margin-bottom:5px; }
#ProductDetail #Review .Paging { margin-top:5px; margin-bottom:0px; text-align:right;  font-size:12px; color:#646464;}
#ProductDetail #Review .Sorting { text-align:right; padding-top:0px; color: #646464; font-size:12px; }
#ProductDetail #Review .Link { font-size:11px; text-align:left; width:40%;  }
#ProductDetail #Review .Spacer { margin-bottom:5px; }

/**************************************************/
/* SHOPPING CART                                 
/**************************************************/
.ShoppingCart {margin-bottom: 10px;background-color: white;}
#ie7css .ShoppingCart .CheckoutBox {margin-top:-5px;}
.ShoppingCart .CheckoutBox {margin-top:5px;vertical-align:middle; font-family:Arial; text-align: right; background-color: white; }
.ShoppingCart .CustomerService { font-weight: bold; font-size: 9pt; font-family:Arial; background-color: #FFFFFF;}
.ShoppingCart #HomeQuickSearch .Button {padding:0px;}
.ShoppingCart .BreadCrumb {background:url(../../images/freeshipping_bg_spring.jpg) no-repeat; background-position:right;height:50px;  padding-bottom:8px;}
.ShoppingCart .BreadCrumb .PromoText {position:relative;top:16px;float:right;right:12px;}
.ShoppingCart .Horizontal{float:left; width:100%; border-top:1px dotted #898989;margin: 0px 0px 5px 0px;}
.ShoppingCart .Grid {}
.ShoppingCart .Grid .Header{font-family:Arial; background-color: white; text-transform:uppercase; border-bottom: solid 1px #C0C0C0; font-weight: bold; font-size: 12px;color: #494949; }
.ShoppingCart .Grid .Row {font-weight: normal; font-size: 11px; color: #999999;background-color:white;border-bottom:solid 1px #DFDFDF; border-collapse:inherit;}
.ShoppingCart .Grid .Quantity { width: 60px; height: 25px; } 
.ShoppingCart .Grid .AlternatingRow {border-bottom:solid 1px #DFDFDF;margin-top:5px; font-weight: normal; font-size: 11px; color: #999999; background-color: #F5F5F5; pdding-top: 20px;padding-bottom: 20px;}
.ShoppingCart .Grid .Row .RemoveItem, .ShoppingCart .Grid .AlternatingRow .RemoveItem{height:60px; padding-left:20px; width:70px;}
.ShoppingCart .Grid .ProductName{ font-size: 12px; font-weight:bold; font-family:Arial; font-family: verdana; color: #494949;}
.ShoppingCart .Grid .Description { font-size: 12px; font-family: verdana; padding-top: 5px; }
.ShoppingCart .Grid a:link, .ShoppingCart .Grid a:visited {color: #494949; font-family:Arial; font-size: 15px;font-weight: bold; text-decoration:none;}
.ShoppingCart .Update { font-weight: normal; margin-top: 5px; }
.ShoppingCart .Quantity { width: 40px; height: 15px; }
.ShoppingCart .CartTotals { margin-bottom: 10px; text-align: right; }
.ShoppingCart .Apply {vertical-align:bottom;margin-top:45px; color:#757575; font-weight:bold;}
.ShoppingCart .TotalBox {text-align:right; color:#494949; display:block; height:40px;}
.ShoppingCart .TotalBox table{ float:right;}
.ShoppingCart .TotalBox td {width:122px; padding:3px;text-align:left; border-bottom: solid 1px #C0C0C0; background-color:White;}
.ShoppingCart .TotalBox tr {height:40px;}
.ShoppingCart .TotalBox .TotalValue {text-align:right; color:#494949}
.ShoppingCart .bold td{text-align:left; font-weight:bold;}
.ShoppingCart .ShipBy{text-align:left; font-weight:bold;color:#494949}
.ShoppingCart .CrossSellItem {border:2px solid #cccccc;height:auto;width:175px; text-align: center; padding-right: 5px; padding-left: 5px; padding-bottom: 0px; padding-top: 0px;margin-top: 10px; margin-bottom: 10px; margin-left: 0px;margin-right:18px; }
.ShoppingCart .TableContainer .TotalBox {width:100%}
.ShoppingCart .TableContainer .TotalBox .FieldValue{text-align:right; color:#494949; width:80px; padding-right:5px;}
.ShoppingCart .ShippingText{padding-bottom:20px; color:red}
.ShoppingCart .PromotionText{margin-top:-5px; color:red; float:left;} 
#ie7css .PromotionText{margin-top:13px; color:red; float:left;} 
.ShoppingCart .CartRelatedItem .ItemStyle {vertical-align:top; padding:0px; text-align:left; padding-bottom:5px;}
.ShoppingCart .Button {padding:5px 20px 5px 20px;}
.ShoppingCart .GrayButton {background-color:#8E8E8E;margin-right:5px;}

/**************************************************/
/* CART ITEM RELATED PRODUCTS GRID
/**************************************************/
#CartItemRelatedProducts { text-align: left;margin-bottom:50px;}
#CartItemRelatedProducts .Title {padding:5px 0px 5px 5px;background-color: #F5F5F5;color: #6f6f6e;font-size: 25px;font-family:Times New Roman;letter-spacing:0px;margin-bottom:10px;margin-left:0px;}
#CartItemRelatedProducts .CartRelatedItem 
{
    vertical-align:top;text-align:left;width:173px;height:190px;padding-left:5px; padding-right:7px;margin-right:5px;
    background-image:url(../../images/line_seperator.gif);background-repeat:no-repeat;background-position:right center;
}
#CartItemRelatedProducts .CartRelatedItem .Price { font-weight: normal; font-size: 18px;color: #df7228; text-align:center; }
#CartItemRelatedProducts .CartRelatedItem .RegularPrice { font-weight: normal; font-size: 18px; font-family: verdana,arial; color: #df7228; text-decoration: line-through; }
#CartItemRelatedProducts .CartRelatedItem .SalePrice { font-weight: normal; font-size: 18px;color: #df7228; padding-top: 5px; }
#CartItemRelatedProducts .CartRelatedItem .CallForPrice { margin-bottom: 5px; }
#CartItemRelatedProducts .CartRelatedItem .DetailLink {height:37px;font-family:Arial;font-weight:normal;color:#313131; font-size: 13pt;}
#CartItemRelatedProducts .CartRelatedItem .ShortDescription {height:14px;font-size: 9pt; overflow:hidden; font-family:Arial;font-weight:normal;color:#313131;margin-top:3px;}
#CartItemRelatedProducts .CartRelatedItem .Image { height:100px; margin-bottom:0px;text-align:center;vertical-align:text-bottom; }
#CartItemRelatedProducts .CartRelatedItem .StarRating {font-family:Arial;font-weight:normal;color:#313131; font-size:9pt;text-align:left;margin-left:0px;}
/* --------------------SLIDER---------------------*/
#CartItemRelatedProducts #Cart_CrossSellItem_outer {position:relative;margin-left:5px;bottom:10px;margin-right:0px;margin-top:7px;}
#CartItemRelatedProducts #Cart_CrossSellItem_outer .SlideItMoo_forward,
#CartItemRelatedProducts #Cart_CrossSellItem_outer .SlideItMoo_back{position:absolute;cursor:pointer;width:25px;height:200px;top:15px;bottom:10px;right:35px;background:url(../../images/RightScroll.gif) no-repeat center;} 
#CartItemRelatedProducts #Cart_CrossSellItem_outer .SlideItMoo_back {left:-15px;background:url(../../images/LeftScroll.gif) no-repeat center;}
#CartItemRelatedProducts #Cart_CrossSellItem_inner{width:100%;overflow:hidden;margin:0px 0px 0px 10px;padding:10px 0px 10px 0px;}
#CartItemRelatedProducts #Cart_CrossSellItem_items {}
#CartItemRelatedProducts #Cart_CrossSellItem_items div.Cart_CrossSellItem_element {float:left;clear:right;}

/**************************************************/
/* Product Dynamic Attributes/AddOns Style
/**************************************************/
#Attributes .Option { display:block; margin-bottom:10px;}
#Attributes .OptionLabel {padding-right:10px;}

#Add-Ons .Option { display:block; margin-bottom:10px;}
#Add-Ons .OptionLabel {padding-right:10px;}
#Add-Ons .DynamicValueStyle {padding-bottom:0px;padding-left:10px;}
#Add-Ons .AddonTitle {color:#6074A6;font-size:12px;margin-bottom:0px;padding-left:3px;font-family: Arial;font-weight:bold;}

/*****************************************************/
/* Quick Watch page                            
/*****************************************************/
#Quickwatch { text-align:left;font-family:Arial;color:#666666;}
#Quickwatch #LeftElement {width:310px;float:left;background-image:url(../../Images/quickwatch_separator.jpg);background-position:right;background-repeat:no-repeat;height:auto;}
#Quickwatch #RightElement {float:left; width:330px;}
#Quickwatch .ProductDetail { margin-left:10px;}
#Quickwatch .ProductDetail .Title {font-size:28px; color:#60AF3A;}
#Quickwatch #Description { font-size:10pt; padding-top:0px; width:330px;}
#Quickwatch .ProductNum { font-size:8pt; margin-top:10px; }
#Quickwatch .StarRating { margin-bottom:10px; margin-top:10px; }
#Quickwatch .ProductDetail .OrderingOptions { width:340px;text-transform:uppercase;text-align:right; padding-top:15px; }
#Quickwatch .Quantity { padding-right:8px; }
#Quickwatch .ProductDetail .Pricing {width:340px; text-align:right; margin-top:5px; }
#Quickwatch .ProductDetail .Pricing .ProductPrice {padding-left:200px; }
#Quickwatch .ProductDetail .TotalPriceText { color: #c0c0c0; font-size: 12px; }
#Quickwatch .ProductDetail .ProductPrice { color: #666666; font-size: 12px; }
#Quickwatch .ProductDetail .RegularPrice { font-size:12px; font-weight: normal; text-decoration: line-through; margin-right: 5px; }
#Quickwatch .ProductDetail .Content{ text-align:right; }
#Quickwatch .ProductDetail .Pricing .Content .StockMsg {margin-bottom:5px; font-size:14px; color:#646464; text-transform:capitalize;}
#Quickwatch .ProductDetail .AddToCartButton { margin-top:5px; padding:5px 5px 5px 5px;}
#Quickwatch .QuantityDropDown { font-family: Arial;font-size:11px;width:136px;height:20px; color:#999999;border:1px solid #B7B7B7; }
#Quickwatch .AttributeDropDown { font-family: Arial;font-size:11px;width:136px;height:20px; color:#999999;border:1px solid #B7B7B7; }
#Quickwatch .AddOnDropDown { font-family: Arial;font-size:11px;width:136px;height:20px; color:#999999;border:1px solid #B7B7B7; }
#Quickwatch .AddOnTextBox { font-family: Arial;font-size:11px; width:136px; height:20px; color:#999999; border:1px solid #B7B7B7; }
#Quickwatch .AddOnValidator { padding-right:10px; }
#Quickwatch h1#Title { height:auto; color:#60AF3A; font-size:21pt;background-color:#fff; padding:0px; margin:0px; width:330px; }
/* ----------------IMAGE SLIDER------------- */
#Quickwatch #CatalogImage_outer {width:260px;margin:0px;background:#ffffff;overflow:hidden;position:relative;bottom:0px;right:9px;padding:0px}
#Quickwatch #CatalogImage_outer .SlideItMoo_forward,
#Quickwatch #CatalogImage_outer .SlideItMoo_back{display:block;position:absolute;cursor:pointer;width:24px;height:260px;bottom:0px;right:0px;background:url(../../images/RightScroll.gif) no-repeat center;}
#Quickwatch #CatalogImage_outer .SlideItMoo_back {left:0px;background:url(../../images/LeftScroll.gif) no-repeat center;}
#Quickwatch #CatalogImage_inner{width:260px;overflow:hidden;position:relative;left:25px;padding:0px 0px 0px 0px;margin:0px;}
#Quickwatch #CatalogImage_items {display:block;position:relative;height:250px;}
#Quickwatch #CatalogImage_items div.CatalogImage_element {width:260px;height:260px;display:block;position:relative;float:left;margin:0px 0px 0px 0px;font-size:11px;text-align:center;color:#FFFFFF;}
#Quickwatch #CatalogImage_items a {}
#Quickwatch #CatalogImage_items a img{ border:none; }
/*---------- SWATCHES ------------*/
#Quickwatch .ProductSwatches { text-align:left;margin:10px 0px 20px 10px;height:20px;}
#Quickwatch .ProductSwatches .Text {float:left;margin:3px 10px 0px 20px;color:#848484;font-size: 10px;font-weight:bold; font-family: Arial;}
#Quickwatch .ProductSwatches .ProductViews .Swatches .ItemStyle {padding-left:8px;padding-top:2px;vertical-align:top;}
#Quickwatch .ProductSwatches .SwatchImage {cursor:pointer;border:solid 1px #313131; cursor:pointer; text-align:left;height:15px; }
/* ---------------- Details Page Link ----------------*/
#Quickwatch #DetailPageLink {height:64px;width:305px; word-spacing:0.5px; color: #313131;font-size:12px; background:#f5f5f5; background:url(../../Images/emailfriend_bg.gif); background-repeat:repeat-x; }
#Quickwatch #DetailPageLink #InternalLinks { float:left; margin-top:10px;margin-left:15px; }
#Quickwatch #DetailPageLink #InternalLinks .GiftImage { position:relative; left:5px; }
#Quickwatch #DetailPageLink #InternalLinks .FriendImage { position:relative; left:3px;}
#Quickwatch #DetailPageLink #SocialLinks { float:right; margin-top:10px; margin-right:10px; margin-bottom:5px;margin-left:15px; }
#Quickwatch #DetailPageLink #SocialLinks .FBImage {position:relative;top:0px;right:0px;}
#Quickwatch #DetailPageLink #SocialLinks .TwitterImage {position:relative;top:0px;}
/* ----------------AJAX RELATED TAB STYLE STARTS----------------*/
#Quickwatch #RelatedTabs { margin-top:20px; margin-left:0px;}
#Quickwatch #RelatedTabs .RelatedProductTabStyle .ajax__tab_body {height:100px; width:306px; border-top:1px Solid #666666;}
#Quickwatch #RelatedTabs .RelatedProductTabStyle .ajax__tab_tab {height:22px;width:137px;font-size:10px;word-spacing:2px;font-family:Times New Roman; padding-top:4px;}
#Quickwatch #RelatedTabs .RelatedProductTabStyle .ajax__tab_hover { cursor:pointer; }
#Quickwatch #RelatedTabs .RelatedProductTabStyle .ajax__tab_active .ajax__tab_inner {background:url(../../Images/tab_grey_bg.gif); background-repeat:repeat; color:#ffffff;font-size:10px;word-spacing:2px; font-family:Times New Roman;}
/* ----------------Cross Sell Related Item------------*/
#Quickwatch .CrossSellItem .Image { margin:0px; border:0px; padding:0px; }
#Quickwatch .CrossSell #CrossSellItems_outer {height:70px;overflow:hidden;position:relative;bottom:0px;right:0px;margin-top:5px;margin-left:5px; background:#ffffff; display:block; width: 290px !important;}
#Quickwatch .CrossSell #CrossSellItems_outer .SlideItMoo_forward,
#Quickwatch .CrossSell #CrossSellItems_outer .SlideItMoo_back{display:block;position:absolute; cursor:pointer;width:14px;height:50px;top:10px;bottom:0px;right:0px;background:url(../../images/crossSell_RightScroll.gif) no-repeat center;}
#Quickwatch .CrossSell #CrossSellItems_outer .SlideItMoo_back {left:0px;background:url(../../images/crossSell_LeftScroll.gif) no-repeat center;}
#Quickwatch .CrossSell #CrossSellItems_inner{overflow:hidden;position:relative;left:20px;margin:0px;padding:0px 5px 0px 5px; width: 270px !important;} 
#Quickwatch .CrossSell #CrossSellItems {display:block;position:relative;}
#Quickwatch .CrossSell #CrossSellItems div.CrossSellItem {display:block;float:left;padding:0px 10px 0px 10px;font-size:11px;text-align:center;color:#FFFFFF;}
#Quickwatch .CrossSell #CrossSellItems .Image {text-align:center;margin:10px 0px 10px 0px;width:50px;height:50px;}
#Quickwatch .CrossSell #CrossSellItems a {}
#Quickwatch .CrossSell #CrossSellItems a img{ border:none; }
/* ---------------- Best Sellers ------------*/
#Quickwatch .BestSellerItem .Image { margin:0px; border:0px; padding:0px; }
#Quickwatch .BestSeller #BestSellers_outer {height:70px;margin-left:5px;margin-top:5px; overflow:hidden;position:relative;bottom:0px;right:0px;background:#ffffff; display:block; width: 290px !important;}
#Quickwatch .BestSeller #BestSellers_outer .SlideItMoo_forward,
#Quickwatch .BestSeller #BestSellers_outer .SlideItMoo_back{display:block;position:absolute; cursor:pointer;width:14px;height:50px;top:10px; right:0px;background:url(../../images/crossSell_RightScroll.gif) no-repeat center;}
#Quickwatch .BestSeller #BestSellers_outer .SlideItMoo_back {left:0px;background:url(../../images/crossSell_LeftScroll.gif) no-repeat center;}
#Quickwatch .BestSeller #BestSellers_inner { overflow:hidden;position:relative;left:20px;margin:0px;padding:0px 5px 0px 5px; width: 270px !important;}
#Quickwatch .BestSeller #BestSellers_Items {display:block;position:relative; width: 400px !important;}
#Quickwatch .BestSeller #BestSellers_Items div.BestSellerItem {display:block;float:left;padding:0px 10px 0px 10px;font-size:11px;text-align:center;color:#FFFFFF;}
#Quickwatch .BestSeller #BestSellers_Items .Image {text-align:center;margin:10px 0px 10px 0px;width:50px;height:50px;}
#Quickwatch .BestSeller #BestSellers_Items a {}
#Quickwatch .BestSeller #BestSellers_Items a img{ border:none; }
/* ----------------AJAX TAB STYLE----------------*/
#Quickwatch .Tabs { }
#Quickwatch #Tab .CustomTabStyle .ajax__tab_body { height:150px;width:331px;*width:339px; border-top:Solid 1px #c0c0c0; border-left:Solid 4px #c0c0c0;border-left:Solid 4px #c0c0c0;border-bottom:Solid 4px #c0c0c0;border-right:Solid 4px #c0c0c0; color:#666666; font-size:10pt; color:#666666; font-size:10pt;background-color:#ffffff;}
#Quickwatch #Tab .CustomTabStyle .ajax__tab_outer {padding-right:4px;background:url(../../Images/Rplain.gif) no-repeat right; background-position:top right;}
#Quickwatch #Tab .CustomTabStyle .ajax__tab_inner {padding-left:4px;background:url(../../Images/Lplain.gif) no-repeat;}
#Quickwatch #Tab .CustomTabStyle .ajax__tab_tab { text-align:center; width:105px;padding:10px 0px 9px 0px;margin:0;background:url(../../Images/mplain.gif) repeat-x;}
#Quickwatch #Tab .CustomTabStyle .ajax__tab_hover { cursor:pointer; }
#Quickwatch #Tab .CustomTabStyle .ajax__tab_hover .ajax__tab_outer { padding-right:4px;background:url(../../Images/Rplain.gif) no-repeat right; background-position:top right;}
#Quickwatch #Tab .CustomTabStyle .ajax__tab_hover .ajax__tab_inner { padding-left:4px;background:url(../../Images/Lplain.gif) no-repeat;}
#Quickwatch #Tab .CustomTabStyle .ajax__tab_hover .ajax__tab_tab { background:url(../../Images/mplain.gif) repeat-x;}
#Quickwatch #Tab .CustomTabStyle .ajax__tab_active .ajax__tab_outer {background:url(../../Images/faright.gif) no-repeat right; color:#333311;  background-position:top right;}
#Quickwatch #Tab .CustomTabStyle .ajax__tab_active .ajax__tab_inner {background:url(../../Images/faleft.gif) no-repeat;color:#333311;}
#Quickwatch #Tab .CustomTabStyle .ajax__tab_active .ajax__tab_tab { background:url(../../Images/famiddle.gif) repeat-x; color:#333311; font-weight:600;}
#Quickwatch #Tab .Features { margin:10px 0px 10px 10px; }
#Quickwatch #Tab .Reviews { margin:10px 0px 10px 10px;}
#Quickwatch #Tab .ShippingInfo { margin:10px 0px 10px 10px;}
/* ---------------- Product Reviews ------------*/
#Quickwatch #Review { margin-left:10px; margin-right:0px; width:270px;color:#646464; font-size:12px; }
#Quickwatch #Review .ReviewList { width:200px;}
#Quickwatch #Review .TitleStyle { font-size: 11px; word-wrap: break-word; font-weight:bold; padding:0px; color:#646464;}
#Quickwatch #Review .AlignRight { text-align:right;}
#Quickwatch #Review .ReviewItem { padding-top:10px; text-align:left; }
#Quickwatch #Review .ItemStyle { width:265px; overflow:hidden; }
#Quickwatch #Review .ReviewItem .Title { font-size:13px; font-weight:lighter; margin-top: 10px; margin-bottom: 0px; color: #444444; padding-right: 5px; padding-left: 0px; padding-bottom: 3px; padding-top: 3px; }
#Quickwatch #Review .ReviewItem .Title .Subject { padding-left:0px; font-size: 13px; font-weight:bold; color:#000000; }
#Quickwatch #Review .ReviewItem .Text { padding-top:5px; padding-bottom:5px;}
#Quickwatch #Review .ReviewItem .Content { margin-top:0px; margin-bottom:5px; margin-left:0px; color:#646464; }
#Quickwatch #Review .ReviewItem .StarRating { text-align:left; }
#Quickwatch #Review .ReviewItem .Content .Row { margin-top:5px; font-size:12px; color:#646464; text-align:left; }
#Quickwatch #Review .ReviewItem .Content .Row .FieldStyle { font-size:12px; color:#646464; font-weight:bold; margin-bottom:5px;  }
#Quickwatch #Review .ReviewItem .Content .Row .ValueStyle { margin-left:10px; font-size:12px; color:#646464; margin-bottom:5px; }
#Quickwatch #Review .Paging { margin-top:5px; margin-bottom:0px; text-align:right;  font-size:12px; color:#646464;}
#Quickwatch #Review .Sorting {text-align:right;font-size:12px; }
#Quickwatch #Review .Link { font-size:11px; text-align:left; width:40%; }
#Quickwatch #Review .Spacer { margin-bottom:5px; }
#Quickwatch #Review .SortByDropdown { font-family: Arial;font-size:11px;width:100px;height:20px; color:#999999;border:1px solid #B7B7B7; }

/**************************************************/
/*  Recently Viewed Products Page                  
/**************************************************/
#RecentlyViewedProduct { font-family:Arial;background:#f5f5f5;display:block;margin-top:10px;margin-bottom:50px;}
#RecentlyViewedProduct .ItemBorder {margin:0px 7px 0px 10px; background-color:#D1D1D1; width:160px; height:1px;}
#RecentlyViewedProduct .RecentlyViewedItem {}
#RecentlyViewedProduct .CustomTitle { color: #333311; font-weight:bold; font-size: 10pt; background-color:#f5f5f5; width:165px;padding:7px 7px 5px 10px;}
#RecentlyViewedProduct .RegularPrice { text-align: center; font-weight: bold; font-size: 8pt; color: #666666; text-decoration: line-through; }
#RecentlyViewedProduct .SalePrice { text-align: center; font-weight: bold; font-size: 8pt; color: #cc6600; }
#RecentlyViewedProduct .NamePriceDetail {width:160px;height:24px;margin:5px 0px 10px 10px; font-size: 8pt; font-weight: bold; color:#333311; }
#RecentlyViewedProduct .NamePriceDetail .Name {margin-right:5px;}
#RecentlyViewedProduct .NamePriceDetail .Price { text-align: center; font-weight: bold; font-size: 8pt; color: #cc6600; background-color:#f5f5f5;}
#RecentlyViewedProduct .RelatedImage { border:0px; padding:0px; text-align:center;margin:5px 0px 5px 0px;}
/* ----------------IMAGE SLIDER STARTS-------------*/
#RecentlyViewed_outer {overflow:hidden;width:180px;height:135px;background:#f5f5f5;position:relative;display:block;padding-bottom:10px;}
#RecentlyViewed_outer .SlideItMoo_forward,
#RecentlyViewed_outer .SlideItMoo_back {top:45px;right:10px; display:block;overflow:hidden;position:absolute;cursor:pointer; width:16px;height:16px;background:url(../../images/nextScroll.gif) no-repeat center;}
#RecentlyViewed_outer .SlideItMoo_back {overflow:hidden;left:10px;background:url(../../images/previousScroll.gif) no-repeat center;}
#RecentlyViewed_outer #RecentlyViewed_Items {margin-left:0px !important;} 
#RecentlyViewed_outer #RecentlyViewed_Items div.RecentlyViewedItem {padding-bottom:10px;}
#RecentlyViewed_outer #RecentlyViewed_Items a {}
#RecentlyViewed_outer #RecentlyViewed_Items .Image {text-align:center;height:105px;width:100px;margin-left:40px !important;margin-top:2px;margin-bottom:2px;}
#RecentlyViewed_outer #RecentlyViewed_Items a img{margin:5px 0px 5px 0px;}
/* ----------------IMAGE SLIDER ENDS------------- */

/************************************************/
/* Shopping Cart Navigation						*/
/************************************************/
#NavigationCart {font-weight: bold; font-size: 10pt;color: #333311; font-family:Arial; background:#F5F5F5; display:block;width:180px;margin-bottom:50px;height:165px;}
#NavigationCart .GrayBorder { background-color:#D1D1D1; width:160px; height:1px;margin-left:10px;}
#NavigationCart .CallForPrice { text-align: center; font-weight: bold; font-size: 11px; color: #cc6600; }
#NavigationCart .RegularPrice { text-align: center; font-weight: bold; font-size: 8pt; color: #666666; text-decoration: line-through; }
#NavigationCart .SalePrice { text-align: center; font-weight: bold; font-size: 8pt; color: #cc6600; }
#NavigationCart .Price { text-align: left; font-weight: bold; font-size: 8pt; color: #cc6600; margin:0px; padding:0px; }
#NavigationCart .ShortDescription { margin-bottom: 5px; }
#NavigationCart .Image { background:#f5f5f5; border:0px;text-align:left;}
#NavigationCart #Header { margin:0px; padding:0px; }
#NavigationCart #Header .MyCartTitle {float:left;clear:both; margin:5px 0px 5px 10px;text-align:left;} 
#NavigationCart #Header .Total {margin:5px 0px 0px 10px;width:160px;font-weight:normal;color: #df7228;text-align:right; }
#NavigationCart .Detail {width:160px;height:22px;margin:2px 0px 7px 10px; font-size: 8pt; font-weight: bold; color:#333311;}
#NavigationCart .Detail .Name {margin-right:5px; }
#NavigationCart .BuyButton { margin:0px 0px 10px 10px;overflow:hidden;display:block; }
/* ----------------IMAGE SLIDER STARTS-------------*/
#NavigationCart_outer {overflow:hidden; width:180px;height:160px; background:#f5f5f5;display:block; position:relative;padding-bottom:5px;}
#NavigationCart_outer .SlideItMoo_forward,
#NavigationCart_outer .SlideItMoo_back {display:block;top:45px;right:10px; overflow:hidden;position:absolute;cursor:pointer; width:16px;height:16px;background:url(../../images/nextScroll.gif) no-repeat center;}
#NavigationCart_outer .SlideItMoo_back {left:10px;background:url(../../images/previousScroll.gif) no-repeat center;}
#NavigationCart_outer #NavigationCart_Items {margin-left:0px !important;}
#NavigationCart_outer #NavigationCart_Items div.NavigationCartItem {}
#NavigationCart_outer #NavigationCart_Items .Image {text-align:center;height:105px;width:100px;margin-left:40px !important;margin-top:2px;margin-bottom:2px;}
#NavigationCart_outer #NavigationCart_Items a img{margin:5px 0px 5px 0px;}
/* ----------------IMAGE SLIDER STARTS-------------*/

/**************************************************/
/*  Shop By Brand Page                                 
/**************************************************/
.Brand { margin-bottom:20px; }
.Brand #FreeShipping {  }
.Brand h1{ margin-left:15px;}
.Brand .Description { margin:15px;}
.Brand #ProductListNavigation { height:39px; border-bottom:solid 1px #c0c0c0;margin-bottom:15px; }
/*---------Paging Style Starts---------*/
.Brand .TopPagingSection {  }
.Brand .Sorting { float:left; margin-top:10px;}
.Brand .Sorting .Label {color:#313131; font-weight: bold; font-size:10px; margin-right: 5px;}
.Brand .Sorting select { font-size: 8pt; font-family: verdana; }
.Brand .TopPaging { margin-right:10px; margin-top:10px; float:right; color:#313131;font-family:Arial;font-size:12px; }
.Brand .Paging { text-align:right;margin-right:10px;margin-bottom:10px;margin-top:10px; color:#313131;font-family:Arial;font-size:12px;}
.Brand .Previous { margin-right:5px;position:relative;top:3px;}
.Brand .Pagenumbers {margin-right:5px;position:relative;top:-1px;}
.Brand .Next { margin-left:5px; margin-right:10px;position:relative;top:3px; }
.Brand .Pagingdropdown {border:#f5f5f5;color:#313131;font-family:Arial;font-size:12px;background-color:#f5f5f5;}
.Brand .SlashSeparator { margin-right:5px; margin-left:5px; }
.Brand .BottomPaging { height:39px; float:left;border-top:solid 1px #c0c0c0;border-bottom:solid 1px #c0c0c0; width:765px; padding-bottom:0px;display:block; text-align:right;}
.Brand .ActivePage   { color: #ffffff; background-color:#61AD40; text-align: center; padding:1px 5px 1px 5px; font-size: 13px; margin:0px 2px 0px 2px; font-weight:normal; text-decoration:none; }
.Brand .InactivePage { color: #7F7F7F; background-color:#ECECEC; text-align: center; padding:1px 5px 1px 5px; font-size: 13px; margin:0px 2px 0px 2px; font-weight:normal; text-decoration:none; }
.Brand .NavigationStyle { text-align: right; margin-top: 15px; margin-bottom: 10px; font-size: 11px; color: #444444; padding-right: 5px; padding-left: 5px; padding-bottom: 3px; padding-top: 3px; border-top-width: 1px; border-top-color: #d3d3d3; border-right-width: 1px; border-right-color: #d3d3d3; border-left-width: 1px; border-left-color: #d3d3d3; border-bottom-width: 1px; border-bottom-color: #8e9fba; }
/*---------Pagingn Style Ends--------*/
.Brand .ProductList{  text-align:left; margin-bottom:0px; margin-left:20px;}
.Brand .BrandProductlist {float:left;}
.Brand .BrandListItem {vertical-align:top;text-align:left; width:170px; height:auto; display:inline-block; margin:0px 7px 40px 7px;}
.Brand .BrandListItem .GrayBorder {background-color:#D1D1D1; width:160px; height:1px; margin-top:5px;}
.Brand .BrandListItem .DetailLink {margin-bottom:1px; font-family:Arial; font-weight:normal; color:#313131; font-size: 13pt; height:auto;display:inline-block;}
.Brand .BrandListItem .DetailLink A:link { color: #313131; text-decoration: none;  }
.Brand .BrandListItem .DetailLink A:Visited { color: #313131; text-decoration: none; }
.Brand .BrandListItem .DetailLink A:Hover { color: #313131; text-decoration: none; }
.Brand .BrandListItem .ShortDescription {height:15px;font-size: 9pt;font-family:Arial;font-weight:normal;color:#313131;margin-top:3px;}
.Brand .BrandListItem .Image {height:105px;margin-top:2px; text-align:center;}
.Brand .BrandListItem .StarRating {color:#313131; font-size:8pt; vertical-align:top;} 
.Brand .BrandListItem .Price { border:1px; font-weight: normal; font-size: 18px;color: #df7228; text-align:left;margin-bottom:5px;}
.Brand .BrandListItem .RegularPrice { font-weight: normal; font-size: 18px; font-family: verdana,arial; color: #df7228; text-decoration: line-through; }
.Brand .BrandListItem .SalePrice { font-weight: normal; font-size: 18px;color: #df7228; padding-top: 5px; }
.Brand .BrandListItem .BuyButton { margin-bottom: 5px; margin-top:7px;padding-top:0px;}
.Brand .BrandListItem .CallForPrice { margin-bottom: 5px; }
.Brand .BrandListItem .Separator {padding-top:20px;}
.Brand .BrandListItem .ItemStyle {padding-top:15px;}
/*---------- SWATCHES ------------*/
.Brand .BrandListItem .ProductSwatches {height:15px; width:160px;margin-top:5px;}
.Brand .BrandListItem .ColorCaption {float:left;margin-top:4px;color:#848484;font-size: 10px;font-weight:bold; font-family: Arial;}
.Brand .BrandListItem .ProductViews .Swatches {cursor:pointer;text-align:right;float:right;margin-top:2px;}
.Brand .BrandListItem .ProductViews .Swatches .ItemStyle {padding-left:4px;padding-top:2px;}
.Brand .BrandListItem .SwatchImage {border:solid 1px #313131; cursor:pointer; text-align:center;height:10px;}

/**************************************************/
/*  Shop By Price Page                                 
/**************************************************/
.Price { margin-bottom:20px; }
.Price #FreeShipping {  }
.Price h1{ margin-left:15px;}
.Price .Description { margin:15px;}
.Price #ProductListNavigation { height:39px; border-bottom:solid 1px #c0c0c0;margin-bottom:15px; }
/*---------Paging Style Starts---------*/
.Price .TopPagingSection {  }
.Price .Sorting { float:left; margin-top:10px;}
.Price .Sorting .Label {color:#313131; font-weight: bold; font-size:10px; margin-right: 5px;}
.Price .Sorting select { font-size: 8pt; font-family: verdana; }
.Price .TopPaging { margin-right:10px; margin-top:10px; float:right; color:#313131;font-family:Arial;font-size:12px; }
.Price .Paging { text-align:right;margin-right:10px;margin-bottom:10px;margin-top:10px; color:#313131;font-family:Arial;font-size:12px;}
.Price .Previous { margin-right:5px;position:relative;top:3px;}
.Price .Pagenumbers {margin-right:5px;position:relative;top:-1px;}
.Price .Next { margin-left:5px; margin-right:10px;position:relative;top:3px; }
.Price .Pagingdropdown {border:#f5f5f5;color:#313131;font-family:Arial;font-size:12px;background-color:#f5f5f5;}
.Price .SlashSeparator { margin-right:5px; margin-left:5px; }
.Price .BottomPaging { height:39px; float:left;border-top:solid 1px #c0c0c0;border-bottom:solid 1px #c0c0c0; width:765px; padding-bottom:0px;display:block; text-align:right;}
.Price .ActivePage   { color: #ffffff; background-color:#61AD40; text-align: center; padding:1px 5px 1px 5px; font-size: 13px; margin:0px 2px 0px 2px; font-weight:normal; text-decoration:none; }
.Price .InactivePage { color: #7F7F7F; background-color:#ECECEC; text-align: center; padding:1px 5px 1px 5px; font-size: 13px; margin:0px 2px 0px 2px; font-weight:normal; text-decoration:none; }
.Price .NavigationStyle { text-align: right; margin-top: 15px; margin-bottom: 10px; font-size: 11px; color: #444444; padding-right: 5px; padding-left: 5px; padding-bottom: 3px; padding-top: 3px; border-top-width: 1px; border-top-color: #d3d3d3; border-right-width: 1px; border-right-color: #d3d3d3; border-left-width: 1px; border-left-color: #d3d3d3; border-bottom-width: 1px; border-bottom-color: #8e9fba; }
/*---------Pagingn Style Ends--------*/
.Price .ProductList{  text-align:left; margin-bottom:0px; margin-left:20px;}
.Price .PriceProductlist {float:left;}
.Price .PriceListItem {vertical-align:top;text-align:left; width:170px; height:auto; display:inline-block; margin:0px 7px 40px 7px;}
.Price .PriceListItem .GrayBorder {background-color:#D1D1D1; width:160px; height:1px; margin-top:5px;}
.Price .PriceListItem .DetailLink {margin-bottom:1px; font-family:Arial; font-weight:normal; color:#313131; font-size: 13pt; height:auto;display:inline-block;}
.Price .PriceListItem .ShortDescription {height:15px;font-size: 9pt;font-family:Arial;font-weight:normal;color:#313131;margin-top:3px;}
.Price .PriceListItem .Image {height:105px;margin-top:2px; text-align:center;}
.Price .PriceListItem .StarRating {color:#313131; font-size:8pt; vertical-align:top;} 
.Price .PriceListItem .Price { border:1px; font-weight: normal; font-size: 18px;color: #df7228; text-align:left;margin-bottom:5px;}
.Price .PriceListItem .RegularPrice { font-weight: normal; font-size: 18px; font-family: verdana,arial; color: #df7228; text-decoration: line-through; }
.Price .PriceListItem .SalePrice { font-weight: normal; font-size: 18px;color: #df7228; padding-top: 5px; }
.Price .PriceListItem .BuyButton { margin-bottom: 5px; margin-top:7px;padding-top:0px;}
.Price .PriceListItem .CallForPrice { margin-bottom: 5px; }
.Price .PriceListItem .Separator {padding-top:20px;}
.Price .PriceListItem .ItemStyle {padding-top:15px;}
/*---------- SWATCHES ------------*/
.Price .PriceListItem .ProductSwatches {height:15px; width:160px;margin-top:5px;}
.Price .PriceListItem .ColorCaption {float:left;margin-top:4px;color:#848484;font-size: 10px;font-weight:bold; font-family: Arial;}
.Price .PriceListItem .ProductViews .Swatches {cursor:pointer;text-align:right;float:right;margin-top:2px;}
.Price .PriceListItem .ProductViews .Swatches .ItemStyle {padding-left:4px;padding-top:2px;}
.Price .PriceListItem .SwatchImage {border:solid 1px #313131; cursor:pointer; text-align:center;height:10px;}

/**************************************************/
/* News Letter Singup
/**************************************************/
#NewsLetter { margin-bottom:35px; }
#NewsLetter .Title { text-transform:uppercase; color: #333333;  padding-right: 10px; padding-left:0px; padding-bottom: 5px; padding-top: 10px; font-size: 12px; font-family: Tahoma; font-weight:bold; }
#NewsLetter .Text { text-decoration:none; color:#5C5C5C; padding-left:0px; }

/**************************************************/
/* PRODUCT SEARCH                                 
/**************************************************/
#ProductSearch { }
#ProductSearch h1{ margin-left:15px; margin-top:10px;}
#ProductSearch .Description{ margin-left:15px; margin-bottom:15px;}
#ProductSearch .SearchForm { margin-bottom:0px; border-bottom:solid 1px #c0c0c0; margin-left:20px; }
#ProductSearch .SearchForm .Row {height:40px;}
#ProductSearch .SearchForm .FieldStyle {text-align:right; width:140px; left:215px; white-space: nowrap; font-size: 11px; font-weight: bold; color: #4b4b4b;margin-bottom: 10px; padding-right: 10px; padding-top:6px;}
#ProductSearch .SearchForm .ValueStyle { margin-left:160px; font-size: 11px; font-weight: normal; color: #333333; margin-bottom: 10px; padding-right: 10px; padding-top:0px; margin-top:-30px; }

/**************************************************/
/* Wish List Grid
/**************************************************/
.WishList { font-family:Arial; font-size:11px; }
.WishList .Grid { width:100%; }
.WishList .Header { font-family:Arial; text-transform:uppercase; border-bottom: solid 1px #C0C0C0; font-weight: bold; background-color: #e6e6e6; color: #333333; margin-bottom: 5px; margin-top: 10px; padding-bottom: 3px; padding-top: 3px; padding-left: 5px; padding-right: 5px; }
.WishList .Grid .Row { border-bottom: solid 1px #C0C0C0; font-weight: normal; font-size: 12px; color: #999999; background-color:White; }
.WishList .Grid .AlternatingRow { border-bottom: solid 1px #C0C0C0;font-weight: normal; font-size: 12px; background-color: #F5F5F5; padding: 5px; }
.WishList .Grid .Description { font-size: 12px; padding-top: 5px; }
.WishList .Grid .CallForPrice { text-align: center; font-weight: bold; font-size: 12px; color: #646464; }
.WishList .RegularPrice { text-align: center; font-weight: bold; font-size: 12px; color: #646464; text-decoration: line-through; }
.WishList .SalePrice { text-align: center; font-weight: bold; font-size: 12px; color: #cc6600; padding-top: 5px; }

/**************************************************/
/* GiftCardHistory List Grid
/**************************************************/
.GiftCardHistory { font-family:Arial; font-size:11px; }
.GiftCardHistory .Grid { width:100%; }
.GiftCardHistory .Header { font-family:Arial; text-transform:uppercase; border-bottom: solid 1px #C0C0C0; font-weight: bold; background-color: #e6e6e6; color: #333333; margin-bottom: 5px; margin-top: 10px; padding-bottom: 3px; padding-top: 3px; padding-left: 5px; padding-right: 5px; }
.GiftCardHistory .Grid .Row { border-bottom: solid 1px #C0C0C0; font-weight: normal; font-size: 12px; color: #999999; background-color:White; }
.GiftCardHistory .Grid .AlternatingRow { border-bottom: solid 1px #C0C0C0;font-weight: normal; font-size: 12px; background-color: #F5F5F5; padding: 5px; }
.GiftCardHistory .Grid .GiftCardHistoryID {font-size: 12px; padding-top: 5px;  width:50px; }
.GiftCardHistory .Grid .CardNumber {font-size: 12px; padding-top: 5px;  width:250px; }
.GiftCardHistory .Grid .TransactionDate, .GiftCardHistory .Grid .TransactionAmount{font-size: 12px; padding-top: 5px;  width:150px; }

/**************************************************/
/* GRID                                           
/**************************************************/
.Grid { color: #646464; border-bottom: #c0c0c0 1px solid; padding-bottom: 10px;width:100%;}
.HeaderStyle { font-family:Arial; text-transform:uppercase; border-bottom: solid 1px #C0C0C0; font-weight: bold; font-size: 12px; background-color: white;}
.RowStyle { border-bottom: solid 1px #C0C0C0; font-weight: normal; font-size: 11px; background-color:White; }
.AlternatingRowStyle { border-bottom: solid 1px #C0C0C0;font-weight: normal; font-size: 11px; background-color: #F5F5F5; padding: 5px;}
.FooterStyle { background-color: #507CD1; color: white; font-weight: bold; }
.PagerStyle { background-color: #fbfbfb; text-align: center; }

/**************************************************/
/* SITE MAP
/**************************************************/
.SiteMap {}
.SiteMap h1 {padding-left:0px;}
.SiteMap .ShoppingCartNavigation { padding-right:20px;margin:0px; }
.SiteMap h5 { margin-left:15px; margin-top:0px; }
.SiteMap .CatalogMap { width:350px; padding-left:5px; }
.SiteMap .CatalogMap .CategoryNavigation { margin-left:15px; }

/**************************************************/
/* SHOPPING CART NAVIGATION                                 
/**************************************************/
.SiteMap .ShoppingCartNavigation { color:#646464; }
.SiteMap .ShoppingCartNavigation .NodeStyle { font-weight: normal; font-size: 10pt; font-family: Arial; padding-bottom: 2px;  padding-top: 2px;   color: #5C5C5C; padding-left: 0px;  padding-right: 0px; }
.SiteMap .ShoppingCartNavigation .RootNodeStyle { text-transform:uppercase; color: #333333; font-weight: bold; padding-right:10px;padding-left:0px; padding-bottom: 5px; padding-top: 10px; font-size: 12px; font-family: Tahoma; }
.SiteMap .ShoppingCartNavigation .HoverNodeStyle { color: red;  }
.SiteMap .ShoppingCartNavigation .ParentNodeStyle { }
.SiteMap .ShoppingCartNavigation .LeafNodeStyle { color: #5C5C5C; }
.SiteMap .ShoppingCartNavigation .LeafNodeStyle A:Link { color: #5C5C5C; }
.SiteMap .ShoppingCartNavigation .LeafNodeStyle A:Visited { color: #5C5C5C; }
.SiteMap .ShoppingCartNavigation .LeafNodeStyle A:HOVER { color: red; }
.SiteMap .ShoppingCartNavigation .SelectedNodeStyle {  }

/***************************************************/
/* STORE LOCATOR
/***************************************************/
.StoreLocator {margin-bottom:20px;}
.StoreLocator h1{padding-left:0px;}
.StoreLocator .SearchContent { background-color: white; padding-left: 10px; width: 440px; margin-bottom: 10px; }
.StoreLocator .SearchContent table {margin-left:10px;margin-top:15px; color:White;}
.StoreLocator .Row { padding-bottom: 10px; }
.StoreLocator .FieldStyle {vertical-align:top;display: block; white-space: nowrap; font-size: 11px; font-weight: bold; color: #6F6F6E; text-align: right; margin-bottom: 10px; padding-right: 10px; padding-top:6px; }
.StoreLocator .Button { }
.StoreList {}
.StoreList .TextContent {float:left;margin-left:5px;margin-top:20px;}
.StoreList .TextContent div {margin-bottom:4px;}
.StoreList .ImageContent {float:right;}
.StoreList .Address {color:Black;}

/*************************************/
/* Contact Us
/*************************************/
.ContactUs  h1{padding-left:0px;}

/*************************************/
/* Customer Feedback
/*************************************/
.Feedback h1 {padding-left:0px;}

/**************************************************/
/* CHECKOUT                                 
/**************************************************/
.Checkout {padding-bottom: 30px; padding-top: 0px; width:100%; padding-right: 10px; padding-left: 0px; text-align: left;margin-top:0px; }
.Checkout h1{}
.Checkout .Overview { font-size: 11px; color: black; padding-bottom: 20px; }
.Checkout .Or { font-weight: bold; font-size: 16px; color: #0099cc; font-family: arial; padding-right: 10px; padding-left: 10px; }
.Checkout .Steps { text-align: left; height: 25px; }
.Checkout .Steps .Passive { font-weight: bold; font-size: 11px; color: silver; margin-right: 10px; }
.Checkout .Steps .Active { font-weight: bold; font-size: 11px; color: #4F893F; margin-right: 10px;}
.Checkout .Review {color:#313131; margin-left:0px; text-align:left;}
.Checkout .NextButton { }
.Checkout .BackLink { margin-top:50px; }

/* background style for the screen when an ajax progress update is displayed */
#ajaxProgressBg {
    border: 0; padding: 0; margin: 0; width: auto; position: absolute; background-color: #444444; opacity: 0.3;
    filter: Alpha(opacity:30); z-index: 1000; }
#ajaxProgress{
    padding: 0; position: absolute; background-color: #FFFFFF; background: #FFFFFF url(../../images/loading.gif) no-repeat 50%;
    z-index: 1; left:50%; margin-left:-100px; width:100px; height:100px; border: solid 2px #444444; }

/**************************************************/
/* Hightlight 
/**************************************************/
.Highlight
{
    margin: 40px 0px 0px;
    border: 0px;
    text-align: left;
}
.Highlight .HighlightName { font-size:11px; }
.HighlightItem { margin-bottom:15px; margin-left:20px; text-align:center; }
.HighlightItem .DetailLink { padding-top:15px; font-size: 12px; font-weight: bold; }

/*************************************************/
/* Highlight tool Tip style
/*************************************************/
#dhtmltooltip{
position: absolute;
left: -300px;
width: 200px;
font:Arial;
border: 1px solid black;
padding: 2px;
background-color: lightyellow;
visibility: hidden;
z-index: 100;
filter:progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=120,Strength=3);
}

#dhtmlframe { position: absolute; left: -300px; font:Arial; border: 0px; padding: 0px; visibility: hidden; z-index: 99;}

/**************************************************/
/* NOTIFICATION - PAYPAL & GOOGLE EXPRESS CHECKOUT
/**************************************************/
#Notification { margin-bottom:200px; }
#Notification .BackLink A:Link{ margin-left:10px; }
#Notification .BackLink A:Visited{ margin-left:10px; }
#Notification .BackLink A:Hover{ margin-left:10px; }
#Notification .Text { margin-left:10px; font-size:12px; font-weight:normal; font-family:Verdana; text-align:left; margin-bottom:10px;  margin-bottom:15px; }

/** THIRD PARTY CONTROL STYLE STARTS**/

/* SqueezeBox - Expandable Lightbox
 *
 * Allows to open various content as modal,
 * centered and animated box.
 *
 * @version		1.1 rc4
 *
 * @license		MIT-style license
 * @author		Harald Kirschner <mail [at] digitarald.de>
 * @copyright	Author
 */

#sbox-overlay {
	position: absolute;
	background-color: #000;
	left: 0px;
	top: 0px;
	zoom: 1;
}

#sbox-window {
	position: absolute;
	background-color: #fff;
	text-align: left;
	overflow: visible;
	padding: 10px;
	/* invalid values, but looks smoother! */
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border:solid 8px #61ae3f;
}

#sbox-btn-close {
	position: absolute;
	width: 30px;
	height: 30px;
	right: -15px;
	top: -15px;
	background: url(../../images/closebox.png) no-repeat center;
	border: none;
}

.sbox-window-ie6 #sbox-btn-close {
	background-image: url(../../images/closebox.png);
}

.sbox-loading #sbox-content {
	background-image: url(../../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
}

#sbox-content {
	clear: both;
	overflow: auto;
	background-color: #fff;
	height: 100%;
	width: 100%;	
}

.sbox-content-image#sbox-content {
	overflow: visible;
}

#sbox-image {
	display: block;
}

.sbox-content-image img {
	display: block;
	width: 100%;
	height: 100%;
}

.sbox-content-iframe#sbox-content {
	overflow: visible;
}

/* Hides scrollbars */
.body-overlayed {
	overflow: hidden;
}
/* Hides flash (Firefox problem) and selects (IE) */
.body-overlayed embed, .body-overlayed object, .body-overlayed select {
	visibility: hidden;
}
#sbox-window embed, #sbox-window object, #sbox-window select {
	visibility: visible;
}

/* Shadows */
.sbox-bg {
	position: absolute;
	width: 33px;
	height: 40px;	
}

.sbox-bg-n {
	left: 0;
	top: -40px;
	width: 100%;	
}
.sbox-bg-ne {
	right: -33px;
	top: -40px;	
}
.sbox-bg-e {
	right: -33px;
	top: 0;
	height: 100%;
}
.sbox-bg-se {
	right: -33px;
	bottom: -40px;	
}
.sbox-bg-s {
	left: 0;
	bottom: -40px;
	width: 100%;	
}
.sbox-bg-sw {
	left: -33px;
	bottom: -40px;	
}
.sbox-bg-w {
	left: -33px;
	top: 0;
	height: 100%;	
}
.sbox-bg-nw {
	left: -33px;
	top: -40px;
}

/** THIRD PARTY CONTROL STYLE ENDS**/