﻿@model Znode.Engine.MvcAdmin.ViewModels.FacetListViewModel
@using Resources;
@{
    ViewBag.Title = "FacetGroups";
    string itemId = ViewContext.HttpContext.Request.QueryString.Get("itemId").ToString();
}

<h3>@ZnodeResources.AssociateFacetHeader</h3>
<div>
    @Html.ActionLink("Add Facet", "CreateFacet", "Facet", new { @itemId= itemId }, null)

    @Html.Partial("_AssociatedFacetList")
</div>