﻿@model Znode.Engine.MvcAdmin.ViewModels.FacetListViewModel
@using Resources
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    WebGrid grid = new WebGrid(rowsPerPage: 5);
    if (!Equals(Model, null) && !Equals(Model.Facets, null))
    {
        grid.Bind(Model.Facets);
        grid.Pager(WebGridPagerModes.NextPrevious);
    }

}
<div id="gridfacetgroups">
    @if (!Equals(Model, null) && !Equals(Model.Facets, null))
    {
        <div id="grid">
            @grid.GetHtml(
                    htmlAttributes: new { id = "facetList", @class = "table" },
                    fillEmptyRows: false,
                    mode: WebGridPagerModes.All,
                    firstText: "<< First",
                    previousText: "< Prev",
                    nextText: "Next >",
                    lastText: "Last >>",
                    columns: grid.Columns(
                    grid.Column(header: "FACET ID", format: @<span> <span id="spanName_@item.FacetID">@item.FacetID</span></span>),
                    grid.Column(header: "FACET NAME", format: @<span>@item.FacetName</span>),
                    grid.Column(header: "DISPLAY ORDER", format: @<span>@item.FacetDisplayOrder</span>),
                    grid.Column(header: "ACTIONS",format:@<text>@Html.ActionLink("EDIT", "EditFacet", controllerName, new { @itemId = item.FacetID }, new { @id = "edit_" + item.FacetID + "" })&nbsp;&nbsp;&nbsp;&nbsp;@Html.Raw("<span onclick='CommonHelper.BindDeleteConfirmDialog(\" " + ZnodeResources.ConfirmDeleteTitle + "\", \" " + ZnodeResources.ConfirmDeleteMessage + "\", \"/" + controllerName + "/DeleteFacet/" + @item.FacetID + "\");'>" + ZnodeResources.LabelDelete + "</span>")</text>)
                    ))
        </div>
    }
    else
    {
        <span>@ZnodeResources.NoRecordFoundMessageText</span>
    }
</div>