﻿@model Znode.Engine.MvcAdmin.ViewModels.FacetGroupViewModel
@using Resources;
@{
    ViewBag.Title = "FacetGroups";
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();
    
}

@using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
{
    <h3>@ZnodeResources.FacetGroupInformationHeader</h3>
    <div>
        @Html.Label("txtFacetGroupName", ZnodeResources.FacetGroupName)
        @Html.TextBoxFor(m => m.FacetGroupLabel, new { @id = "txtFacetGroupName" })
        @Html.ValidationMessageFor(m => m.FacetGroupLabel)
        <br />

        @Html.Label("txtDisplayOrder", ZnodeResources.DisplayOrderText)
        @Html.TextBoxFor(m => m.DisplayOrder, new { @id = "txtDisplayOrder", maxlength = "9" })
        @Html.ValidationMessageFor(m => m.DisplayOrder)

        @if (!Model.IsEditMode)
        { 
            @Html.DropDownListFor(m => m.ControlTypeId, Model.TagControlType, new {@id="ddlControlTypeId", @Style= "display:none;"})
            <br />
            @Html.Label("ddlCatalog", ZnodeResources.SelectCatalogText)
            @Html.DropDownListFor(m => m.CatalogId, Model.Catalogs, new { @id = "ddlCatalog" })
            <br />
        }
        else
        {
            @Html.HiddenFor(m => m.CatalogId) 
            @Html.HiddenFor(m => m.ControlTypeId)
            @Html.HiddenFor(m => m.FacetGroupId)
        }
        
        <div>
            <h3>@ZnodeResources.AssociatedFacetDescription</h3>
            <div id="associatedcategories">
                @Html.Partial("_AssociateCatagories")
            </div>
        </div>

        <div class="ClearBoth">
            <button type="submit" id="btnCreateFacetGroup" class="button button-primary">@ZnodeResources.ButtonSubmitRequest</button>
            <button type="button" class="form-cancel" onclick="javascript: location.href = '/Facet/List';">@ZnodeResources.ButtonCancel</button>
        </div>
    </div>
}