﻿@model Znode.Engine.MvcAdmin.ViewModels.FacetGroupListViewModel
@using Resources
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    WebGrid grid = new WebGrid(rowsPerPage: 5);
    if (!Equals(Model, null) && !Equals(Model.FacetGroups, null))
    {
        grid.Bind(Model.FacetGroups);
        grid.Pager(WebGridPagerModes.NextPrevious);
    }

}
<div id="gridfacetgroups">
    @if (Model.FacetGroups != null)
    {
        <div id="grid">
            @grid.GetHtml(
                    htmlAttributes: new { id = "facetGroupsList", @class = "table" },
                    fillEmptyRows: false,
                    mode: WebGridPagerModes.All,
                    firstText: "<< First",
                    previousText: "< Prev",
                    nextText: "Next >",
                    lastText: "Last >>",
                    columns: grid.Columns(
                    grid.Column(header: "FACETGROUPID", format: @<span> <span id="spanName_@item.FacetGroupId">@item.FacetGroupId</span></span>),
                    grid.Column(header: "NAME", format: @<span>@item.FacetGroupLabel</span>),
                    grid.Column(header: "DISPLAY ORDER", format: @<span>@item.DisplayOrder</span>),
                    grid.Column(header: "ACTIONS",format:@<text>@Html.ActionLink("MANAGE", "ManageFacetGroup", controllerName, new { @itemId = item.FacetGroupId }, new { @id = "manage_" + item.FacetGroupId + "" })&nbsp;&nbsp;&nbsp;&nbsp;@Html.Raw("<span title='Delete' class='delete-link' onclick='CommonHelper.BindDeleteConfirmDialog(\" " + ZnodeResources.ConfirmDeleteTitle + "\", \" " + ZnodeResources.ConfirmDeleteMessage + "\", \"/" + controllerName + "/DeleteFacetGroup/" + @item.FacetGroupId + "\");'>" + ZnodeResources.LabelDelete + "</span>")</text>)
                 ))
        </div>
    }
    else
    {
        <span>@Resources.ZnodeResources.NoRecordFoundMessageText</span>
    }
</div>