﻿@model Znode.Engine.MvcAdmin.ViewModels.FacetGroupViewModel
@using Resources;
@{
    ViewBag.Title = "FacetGroups";
}

@using (Html.BeginForm())
{
    var activePanelClassName = "active";
    var activeTabContentClassName = "in active";
    var activePanel1=string.Empty;
    var activePanel2 = string.Empty;
    var activeTabContent1 = string.Empty;
    var activeTabContent2 = string.Empty;

    if (!Equals(TempData[MvcAdminConstants.DisplayAssociatedFacet], null) && Model.IsEditMode)
    {
        activePanel1 = string.Empty;
        activePanel2 = activePanelClassName;
        activeTabContent1 = string.Empty;
        activeTabContent2 = activeTabContentClassName;
    }
    else
    {
        activePanel1 = activePanelClassName;
        activePanel2 = string.Empty;
        activeTabContent1 = activeTabContentClassName;
        activeTabContent2 = string.Empty;
    }

    if (Model.IsEditMode)
    {
        <h2>@string.Format(ZnodeResources.ManageFacetGroupHeader, Model.FacetGroupLabel)</h2>
    }
    else
    {
        <h2>@ZnodeResources.CreateFacetGroupHeader</h2>
    }
    <!--Main-Wrapper-->
    <div class="container main-wrapper">
        <div class="Tab-container">
            <ul id="myTab" class="nav nav-tabs">
                <li class="@activePanel1"><a href="#panel-1" data-toggle="tab" class="tabs">@ZnodeResources.FacetGroupInformationText</a></li>
                @if (Model.IsEditMode)
                {
                    <li class="@activePanel2"><a href="#panel-2" data-toggle="tab" class="tabs">@ZnodeResources.AssociatedFacetText</a></li>
                }

            </ul>
            <div id="myTabContent" class="tab-content">
                <!--Panels 1-->
                <div class="tab-pane fade @activeTabContent1" id="panel-1">
                    @Html.Partial("_FacetGroupInformation")
                </div>
                @if (Model.IsEditMode)
                {
                <!--Panels 2-->
                    <div class="tab-pane fade @activeTabContent2" id="panel-2">
                        @Html.Partial("_AssociatedFacets", Model.AssociatedFacets)
                    </div>
                }
            </div>
        </div>
    </div>
}
