﻿@model Znode.Engine.MvcAdmin.ViewModels.FacetViewModel
@using Resources;
@using Znode.Engine.MvcAdmin.Extensions;
@{
    ViewBag.Title = "Facet";
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();

}

@using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
{
    if (Model.IsEditMode)
    {
        <h3>@ZnodeResources.EditFacetHeader</h3>
    }
    else
    {
        <h3>@ZnodeResources.AddFacetHeader</h3>
    }

    <div>
        @Html.Label("txtFacetName", ZnodeResources.LabelFacetName)
        @Html.TextBoxFor(m => m.FacetName, new { @id = "txtFacetName" })
        @Html.ValidationMessageFor(m => m.FacetName)
        <br />

        @Html.Label("txtDisplayOrder", ZnodeResources.LabelDisplayOrder)
        @Html.TextBoxFor(m => m.FacetDisplayOrder, new { @id = "txtDisplayOrder", maxlength = "9" })
        @Html.ValidationMessageFor(m => m.FacetDisplayOrder)
        @Html.HiddenFor(m=>m.FacetGroupID)
        @Html.HiddenFor(m=>m.FacetID)
 

        <div class="ClearBoth">
            <button type="submit" id="btnCreateFacet" class="button button-primary">@ZnodeResources.ButtonSubmitRequest</button>
            <button type="button" class="form-cancel" onclick="javascript: location.href = '/Facet/ManageFacetGroup?itemId=@Model.FacetGroupID &mode=@MvcAdminConstants.AssociatedFacet';">@ZnodeResources.ButtonCancel</button>
        </div>

    </div>
}