﻿@model Znode.Engine.MvcAdmin.ViewModels.FacetGroupListViewModel
@using Resources;
@{
    ViewBag.Title = "FacetGroups";
}

@using (Html.BeginForm())
{
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@ZnodeResources.FacetGroupsHeader</h1>
        </div>
        <div class="col-sm-12 search-container">
            <p class="left">@ZnodeResources.FacetGroupsHeaderDescription</p>
            <button type="button" class="btn-text red pull-right" title="Add Facet Group" onclick="javascript: location.href = '/Facet/CreateFacetGroup';">Add Facet Group</button>
        </div>
        <div class="col-sm-12 product-search">
            <h3>@ZnodeResources.FacetGroupsSubTitle</h3>

            <div class="col-lg-4 col-md-4 col-sm-12 product-group">
                <div class="form-group">
                    <div class="col-sm-4 col-lg-3 nopadding">
                        @ZnodeResources.FacetGroupName
                    </div>
                    <div class="col-sm-8 col-lg-9">
                        <input name="reviewTitle" type="text" id="txtreviewtitle">
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 product-group">
                <div class="form-group">
                    <div class="col-sm-4 col-lg-3 nopadding">
                        @ZnodeResources.FacetGroupCatalog
                    </div>
                    <div class="col-sm-8 col-lg-9">
                        @Html.DropDownList("reviewStatus", Model.GetCatalogs, new { @id = "ddlreviewstatus" })
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 product-group">
                <div class="form-group">
                    <button type="submit" name="Search" id="btnSearch" class="btn-text red" title="@ZnodeResources.ButtonSearchFacetGroups">@ZnodeResources.ButtonSearchFacetGroups</button>
                    <button type="reset" name="Clear" id="btnClear" class="btn-text grey" title="@ZnodeResources.ButtonClearRequest">@ZnodeResources.ButtonClearRequest</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 list-container">
            <h3>@ZnodeResources.FacetGroupListText</h3>
            <div id="grid">
                @Html.Partial("_FacetGroups", Model)
            </div>
        </div>
    </div>
}
