﻿@model Znode.Engine.MvcAdmin.ViewModels.CatalogViewModel


<div class="col-sm-12 nopadding" id="grid-container">
    <div class="col-sm-12 nopadding">
        <button type="submit" class="btn-text red pull-right" title="@Resources.ZnodeResources.AssociateCategory" onclick="javascript: location.href = '/Catalog/AssociateCategories?catalogId=@Model.CatalogId'">@Resources.ZnodeResources.AssociateCategory</button>
    </div>
    <div class="col-sm-12 search-container nopadding">
        <p>@Resources.ZnodeResources._CategoryListDescription</p>
    </div>
    <div class="col-sm-12 search-container">
        <h4>Search Categories</h4>
        <div class="col-sm-4 nopadding">
            <div>
                <label>Category Name</label>
                <div class="form-group">
                    <input name="txtCategoryName" type="text" id="txtCategoryName" />
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonClear">@ZnodeResources.ButtonClear</button>
                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSearch">@ZnodeResources.ButtonSearch </button>
            </div>
        </div>

    </div>
    <div class="col-sm-12">
        @{
            if (Model != null && Model.Categories != null)
            {
                WebGrid grid = new WebGrid(rowsPerPage: Model.RecordPerPage, ajaxUpdateContainerId: "grid-container");
                grid.Bind(source: Model.Categories, rowCount: Model.TotalResults, autoSortAndPage: false);

                <div>
                    @grid.GetHtml(
         htmlAttributes: new { id = "grid", @class = "table" },
         headerStyle: "grid-header",
         columns: grid.Columns(
        grid.Column(header: "ID", format: @<span> <span id="spanName_@item.CategoryId">@item.CategoryId</span></span>),
 grid.Column(header: "CategoryName",format: @<span> <span id="spanName_@item.Name">@item.Name</span></span>),
 grid.Column(header: "Display Order",format: @<span> <span id="spanDisplayOrder_@item.DisplayOrder">@item.DisplayOrder</span></span>),
 grid.Column(header: "Enabled",format: @<span> <span id="spanEnabled_@item.ActiveInd">@item.ActiveInd</span></span>),
 grid.Column(header: "Action",format:@<text> <a href="#" id="Edit_@item.CategoryId" class="edit">Edit</a></text>),
    grid.Column(header: "",format:@<text><a href="#" id="Delete_@item.CategoryId" class="delete">Delete</a></text>))
)
                    @grid.CustomPager(Html)
                    @Html.Hidden("dir", grid.SortDirection) @Html.Hidden("col", grid.SortColumn)
                </div>
            }
            else
            {
                <div>@Resources.ZnodeResources.NoRecordFoundMessageText</div>
            }

        }
    </div>
</div>