﻿@model Znode.Engine.MvcAdmin.ViewModels.CategoryNodeViewModel
<div class="container" id="grid-container">
    <div class="col-md-12">
        <h4>Search Categories</h4>
        <div>
            <div>
                <span>Search Categories</span><br />
                <div class="form-group">
                    <input name="txtCategoryName" type="text" id="txtCategoryName" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="reset" class="btn-text grey" title="Clear">Clear</button>
            <button type="submit" class="btn-text red"> Search </button>
        </div>
        @{
            if (Model != null && Model.Categories != null)
            {
                WebGrid grid = new WebGrid(rowsPerPage: Model.RecordPerPage, ajaxUpdateContainerId: "grid-container");
                grid.Bind(source: Model.Categories, rowCount: Model.TotalResults, autoSortAndPage: false);

                <div>
                    @grid.GetHtml(
         htmlAttributes: new { id = "grid", @class = "table" },
         headerStyle: "grid-header",
         columns: grid.Columns(
        grid.Column(format: @<input type="hidden" name="span_@item.CategoryId" value="@item.CategoryId" />),
 grid.Column(header: "CategoryName",format: @<span> <a href="/Catalog/AssociateCategories?CatalogId=@Model.CatalogId&CategoryName=@item.Name&CategoryId=@item.CategoryId" id="spanName_@item.Name">@item.Name</a></span>),
             grid.Column(header: "Enabled",format: @<span> <span id="spanEnabled_@item.ActiveInd">@item.ActiveInd</span></span>),
 grid.Column(header: "Display Order",format: @<span> <span id="spanDisplayOrder_@item.DisplayOrder">@item.DisplayOrder</span></span>))
)
                    @grid.CustomPager(Html)
                    @Html.Hidden("dir", grid.SortDirection) @Html.Hidden("col", grid.SortColumn)
                </div>
            }
            else
            {
                <div>@Resources.ZnodeResources.NoRecordFoundMessageText</div>
            }            
        }
        @Html.HiddenFor(model=>model.CatalogName)
        @Html.HiddenFor(model=>model.CatalogId)
    </div>
</div>
