﻿@model Znode.Engine.MvcAdmin.ViewModels.CategoryNodeViewModel

<div class="container" id="grid-container">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <h4>@Resources.ZnodeResources.AssociateCategoryHeader @Model.CatalogName</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.HiddenFor(model => model.CategoryId)
                @Html.LabelFor(model => model.CategoryId)
                @Html.EditorFor(model => model.Category.CategoryName)
                <img src="~/Content/themes/base/images/drop-arrow.png" onclick="javascript: location.href = '/Catalog/SearchCategories?CatalogId=@Model.CatalogId&CatalogName=@Model.CatalogName';" />
                @Html.ValidationMessageFor(model => model.Category.CategoryName)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ParentCategoryNodeId)
                @Html.DropDownListFor(model => model.ParentCategoryNodeId, Model.ParentCategoryNodes, "No Parent- Root Level")
                @Html.ValidationMessageFor(model => model.ParentCategoryNodeId)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsActive)
                <label>
                    <input data-val="true" data-val-required="The IsActive field is required." checked="checked" id="IsActive" name="IsActive" type="checkbox" value="true">
                    <span class="lbl padding-8"></span>
                </label>

                @*@Html.CheckBoxFor(model => model.IsActive)*@
                @Html.ValidationMessageFor(model => model.IsActive)

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DisplayOrder)
                @Html.EditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ThemeId)
                @Html.DropDownListFor(model => model.ThemeId, Model.ThemeList, Resources.ZnodeResources.DropdownThemeDefault, new { @onchange = "AssociateCategory.BindCssList(cssList,masterPageList,this);" })
                @Html.ValidationMessageFor(model => model.ThemeId)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MasterPageId)
                @Html.DropDownListFor(model => model.MasterPageId, Model.MasterPageList, Resources.ZnodeResources.DropdownMasterDefault, new { @id = "masterPageList" })
                @Html.ValidationMessageFor(model => model.MasterPageId)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CssId)
                @Html.DropDownListFor(model => model.CssId, Model.CssList, Resources.ZnodeResources.DropdownThemeDefault, new { @id = "cssList" })
                @Html.ValidationMessageFor(model => model.CssId)
            </div>
            @Html.HiddenFor(model => model.CatalogId)
            @Html.HiddenFor(model => model.CatalogName)
            <div class="form-group">
                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript: location.href = '/Catalog/Manage?CatalogId=@Model.CatalogId';">@ZnodeResources.ButtonCancel</button>
            </div>
            @Scripts.Render("~/bundle/AssociateCategory")
        }
    </div>
</div>
