﻿@model Znode.Engine.MvcAdmin.ViewModels.CatalogViewModel

@{
    ViewBag.Title = Resources.ZnodeResources.CopyTitle;
   
}
<div class="container">
    <div class="col-md-12">
        <h2>@Resources.ZnodeResources.CopyCatalogHeader</h2>

        @using (Html.BeginForm(new { @class = "form" }))
        {
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.Name, Resources.ZnodeResources.CatalogName)
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="form-group">
                <button type="submit" class="btn-text red"> Submit </button>
                <button type="button" class="btn-text grey" onclick="javascript: location.href = '/Catalog/List';">Cancel</button>
            </div>
        }
    </div>
</div>
