﻿@model Znode.Engine.MvcAdmin.ViewModels.CatalogViewModel

@{
    ViewBag.Title = Resources.ZnodeResources.CreateEditTitle;
}

<div class="col-sm-12 dashboard-page-container" id="grid-container">
    <div class="tab-container">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#panel-1" data-toggle="tab" class="tabs">Settings</a></li>
            <li><a href="#panel-2" data-toggle="tab" class="tabs">Categories</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="panel-1">
                <div id="grid-container">
                    <div class="col-sm-4">
                        <h3>@Resources.ZnodeResources.CreateEditCatalogHeader</h3>
                        @using (Html.BeginForm(new { @class = "form" }))
                        {
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, Resources.ZnodeResources.CatalogName)
                                @Html.EditorFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                                <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript: location.href = '/Catalog/List';">@ZnodeResources.ButtonCancel</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="panel-2">
                @Html.Partial("_CategoriesList")
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
