﻿@model Znode.Engine.MvcAdmin.ViewModels.CatalogViewModel


<div class="container" id="grid-container">
    <div class="col-md-12">
        <h2>@Resources.ZnodeResources.DeleteCatalogHeader</h2>
        <p>Please confirm if you want to delete this catalog named <b>@Model.Name</b>.</p>
        <p style="font-weight: bold; color: Red">WARNING: This change cannot be undone.</p>
        @using (Html.BeginForm(new { @class = "form" }))
        {
            <div>
                <span>Select Option:</span>
                <br />
                <label>
                    @Html.RadioButtonFor(model => model.PreserveCategories, true, new { id = "PreserveCategories_true" })
                    <span for="PreserveCategories_true" class="lbl padding-8">Delete Catalog only and Preserve Categories and Products</span>
                </label>
                <br />

                <label>
                    @Html.RadioButtonFor(model => model.PreserveCategories, false, new { id = "PreserveCategories_false" })
                    <span for="PreserveCategories_false" class="lbl padding-8"> Delete Associated Categories and Products</span>
                </label>
                <br />
                @Html.ValidationMessageFor(model => model.PreserveCategories)
                @Html.HiddenFor(model=>model.CatalogId)
            </div>
            <div class="form-group">
                <button type="submit" class="btn-text red"> Delete </button>
                <button type="button" class="btn-text grey" onclick="javascript: location.href = '/Catalog/List';">Cancel</button>
            </div>
        }

    </div>
</div>
