﻿@model Znode.Engine.MvcAdmin.ViewModels.CatalogListViewModel

@{
    ViewBag.Title = Resources.ZnodeResources.CatalogListTitle;
}
<div class="col-sm-12 dashboard-page-container">    
        <div class="col-sm-12 title-container">
            <h1 class="left">
                @Resources.ZnodeResources.CatalogListHeader               
            </h1>            
        </div>
        <div class="col-sm-12 search-container">            
                <p class="left">@Resources.ZnodeResources.CatalogDescription</p>                       
                <button id="btnAddNewCatalog" class="btn-text red pull-right" title="ADD NEW CATALOG" onclick="javascript:location.href='@Url.Content("~/Catalog/Add")'">Add New Catalog</button>             
        </div> 
        <div class="col-sm-12 list-container">
            <h3>@Resources.ZnodeResources.CatalogListTitle</h3>
            @{
                if (Model != null && Model.Catalogs != null)
                {
                    WebGrid grid = new WebGrid(rowsPerPage: Model.RecordPerPage, ajaxUpdateContainerId: "grid-container");
                    grid.Bind(source: Model.Catalogs, rowCount: Model.TotalResults, autoSortAndPage: false);

                    <div>
                        @grid.GetHtml(
         htmlAttributes: new { id = "grid", @class = "table" },
         headerStyle: "grid-header",
         columns: grid.Columns(
         grid.Column("CatalogId", header: "ID"),
        grid.Column("Name", header: "Name", format: @<span> <span id="spanName_@item.CatalogId">@item.Name</span></span>),
 grid.Column(header: "IsActive",format: @<span> <span id="spanIsActive_@item.CatalogId">@item.IsActive</span></span>),
 grid.Column(header: "Action",format:@<text> <a href="/Catalog/Manage?CatalogId=@item.CatalogId" id="Edit_@item.CatalogId" class="edit">Manage</a></text>),
   grid.Column(header: "",format:@<text> <a href="/Catalog/Copy?CatalogId=@item.CatalogId" id="Copy_@item.CatalogId" style="display:block" class="copy">Copy</a></text>),
    grid.Column(header: "",format:@<text><a href="/Catalog/Delete?CatalogId=@item.CatalogId" id="Delete_@item.CatalogId" class="delete">Delete</a></text>))
)
                        @grid.CustomPager(Html)
                        @Html.Hidden("dir", grid.SortDirection) @Html.Hidden("col", grid.SortColumn)
                    </div>
                }
                else
                {
                    <div>@Resources.ZnodeResources.NoRecordFoundMessageText</div>
                }

            }
        </div>            
</div>