﻿.OrderReceipt {font-family:Arial;}
.OrderReceipt .Head{background-color: #C4E2B1; color:#4F893F; font-size: 1.5em; font-weight: bold; padding: .5em; border-bottom: solid 1px #4E883D;}
.OrderReceipt .SubHead{color: #4F893F;font-weight: bold; font-size: 12px; padding-bottom:5px; }
.OrderReceipt .SubHead1{color: #4F893F;font-weight: bold; font-size: 12px; padding-bottom:5px; Position:Relative; top:-83px;}
.OrderReceipt .SubHeadText{Position:Relative; top:-83px;}
.OrderReceipt .ReceiptTable {color: #333333;font-size: 12px;}
.OrderReceipt .ReceiptText {color: #333333;font-size: 12px;}
.OrderReceipt .Product {}
.OrderReceipt .DetailsHeader {background-color:#C4E2B1}
.OrderReceipt .DetailsHeader .ForeColor {color:#333333;}
.OrderReceipt .Product table td { border:silver 1px solid; color: #333333;font-size: 12px;}
.OrderReceipt .Feedback{color:#323232;}
.OrderReceipt .Border {font-size: 12px; text-align: left; color: #4F893F; border: solid 1px #4F893F; margin-top:10px;}
.OrderReceipt .Spacer { margin-bottom:5px; }
.OrderReceipt .Border .FeedBackLink a:link { font-size:11px; color: #333333; text-decoration: none;}
.OrderReceipt .Border .FeedBackLink a:visited { font-size:11px; color: #333333; text-decoration: none;}
.OrderReceipt .Border .FeedBackLink a:hover { font-size:11px; color: #666666; text-decoration: none;}
.OrderReceipt .Border .FeedBackLink a img{ border:none; }