﻿/*   
Theme Name: Znode Dashboard.
Theme URI: http://znode.com
Description: Znode e-commerce framework Dashboard theme. 
Author: Znode.
Author URI: 
Version: 1.0.0.1
*/

html, body {min-height:97%;height:97%; font-family:Arial;font-size:14px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;color:#292a2a;}
*{-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;-ms-transition: all 0.5s ease;transition: all 0.5s ease;}
/*Generalize CSS*/
.nopadding{padding:0; margin:0;}
.left{float:left;}
.right{float:right;}
a,a:hover,a:active,a:focus{outline: medium none;text-decoration:none;}
i,i:hover,i:active,i:focus{outline: medium none; font-family:30px;}
li {list-style:none;}
h1{color:#292a2a; margin:10px 0; font-size:30px;} 
h2{color:#292a2a; margin:10px 0;font-size:24px;}
h3{color:#292a2a; margin:10px 0;font-size:20px;}
h4{color:#292a2a; margin:6px 0;font-size:18px;}
h5{color:#292a2a; margin:4px 0;font-size:14px;}
h6{color:#292a2a; margin:2px 0;font-size:12px;}
.required:after {content:' * '; color:#e42e23;}
/*btn-text & Color*/
.btn-text {display:inline-block;min-width:120px; padding:5px 15px; text-align:center;font-family:Arial;border:0; color:#fff; font-size:15px; font-weight:500; text-transform:none;text-transform:uppercase;}
.btn-text-full {display:inline-block; width:100%; padding:5px 15px; text-align:center;font-family:Arial;border:0; color:#fff; font-size:15px; font-weight:500; text-transform:none;text-transform:uppercase;}
.btn-text:hover{color:#fff}
.red {background:#dc2920;}
.grey {background:#5c5c5c;}
/*Input Fields*/
input[type="text"], input[type="password"], input[type="email"]  {color:#4c4d4e; font-family: 'Arial';font-size:14px; width:100%; height:32px;padding: 0 10px; border:1px solid #c3c3c3; box-shadow:none;}
textarea {color:#4c4d4e; font-family: 'Arial';font-size:14px; width:100%;padding: 0 12px; border:0; box-shadow:none;resize: none;overflow-y: scroll; border:1px solid #c3c3c3;}
.left-inner-icon {position: relative;}
.left-inner-icon input {padding-left: 38px;}
.left-inner-icon i {position: absolute;padding: 9px 10px;pointer-events: none;}
.right-inner-icon {position: relative;}
.right-inner-icon input {padding-right: 38px;}
.right-inner-icon i {position: absolute;right: 0px;padding: 9px 25px 9px 0;pointer-events: none;}

/*Chackbox & Redio Button*/
input[type=checkbox],input[type=radio]{opacity:0;position:absolute;z-index:12;width:18px;height:18px;cursor:pointer;}
input[type=checkbox]:checked,input[type=radio]:checked,input[type=checkbox]:focus,input[type=radio]:focus{outline:none !important;cursor:pointer;}
input[type=checkbox]+.lbl,input[type=radio]+.lbl{position:relative;z-index:11;display:inline-block;margin:0;line-height:20px;min-height:14px;min-width:14px;font-weight:normal;cursor:pointer;}
input[type=checkbox]+.lbl.padding-8::before,input[type=radio]+.lbl.padding-8::before{margin-right:8px;}
input[type=checkbox]+.lbl::before,input[type=radio]+.lbl::before{font-family:Glyphicons Halflings;font-weight:normal;font-size:11px;color:#e42e23;content:"\a0";background-color:#FAFAFA;border:1px solid #CCC;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);border-radius:0;display:inline-block;text-align:center;vertical-align:baseline;height:16px;line-height:13px;min-width:16px;margin-right:1px; margin-top: -5px;}
input[type=radio]+.lbl::before{vertical-align:middle;}
input[type=checkbox]:checked+.lbl::before,input[type=radio]:checked+.lbl::before{display:inline-block;content:'\e013';background-color:#F5F8FC;border-color:#adb8c0;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05),inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),inset 15px 10px -12px rgba(255, 255, 255, 0.1);cursor:pointer;}
input[type=checkbox]:hover+.lbl::before,input[type=radio]:hover+.lbl::before,input[type=checkbox]+.lbl:hover::before,input[type=radio]+.lbl:hover::before{border-color:#1c7aad;cursor:pointer;}
input[type=checkbox]:active+.lbl::before,input[type=radio]:active+.lbl::before,input[type=checkbox]:checked:active+.lbl::before,input[type=radio]:checked:active+.lbl::before{box-shadow:0 1px 2px rgba(0, 0, 0, 0.05),inset 0px 1px 3px rgba(0, 0, 0, 0.1);}
input[type=checkbox]:disabled+.lbl::before,input[type=radio]:disabled+.lbl::before,input[type=checkbox][disabled]+.lbl::before,input[type=radio][disabled]+.lbl::before,input[type=checkbox].disabled+.lbl::before,input[type=radio].disabled+.lbl::before{background-color:#DDD !important;border-color:#CCC !important;box-shadow:none !important;color:#BBB;}
input[type=radio]+.lbl::before{border-radius:32px;font-family:Arial,Helvetica,sans-serif;font-size:34px;}
input[type=radio]:checked+.lbl::before{content:"\2022";}

/* select dropdown */
select{color:#292a2a;font-size:14px; width:200px; height:32px;padding: 0 10px; border:1px solid #bababa; box-shadow:none;outline: medium none;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;background: url('themes/base/images/drop-arrow.png') no-repeat 97% center;text-indent: 0.01px;text-overflow: "";padding: 5px; border: 1px solid #c3c3c3;}
select option:hover{border:0; box-shadow:none; background-color:transparent;outline: medium none;-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-o-transition: all 0.3s ease;-ms-transition: all 0.3s ease;transition: all 0.3s ease;}
select::-ms-expand {display:none;-webkit-transition: all 0.1s ease;-moz-transition: all 0.1s ease;-o-transition: all 0.1s ease;-ms-transition: all 0.1s ease;transition: all 0.1s ease;}
.ie select {display:none;-webkit-transition: all 0.1s ease;-moz-transition: all 0.1s ease;-o-transition: all 0.1s ease;-ms-transition: all 0.1s ease;transition: all 0.1s ease;}

/*Scroll*/
.nicescroll-rails > div {background-color: rgb(219, 40, 31)!important;transition: all 0.1s ease !important;width:8px!important;}
.nicescroll-rails-hr {width:45% !important; height:8px !important;background-color: rgb(219, 40, 31)!important;transition: all 0.1s ease !important;}

/*Table*/
.table{border:1px solid #bababa;margin-bottom:0;}
.table thead {background-color:#5c5c5c !important;color:#fff;}
.table thead a{color:#fff;}
.table tbody tr td{color:#292a2a;}
.table tbody tr td a{color:#dd2a21;}
.table tfoot{display:none;}
.table tbody tr .delete-link{cursor:pointer; color:#dd2a21;}
.table tbody tr i{color:#e42e23;}

/*Grid pagination*/
.pagination {width:100%;background-color:#f3f3f3; border:1px solid #c3c3c3;margin:0; padding:8px;border-radius:0;}
.pagination ul{float:right;margin-right: 10px;}
.pagination ul li {float:left;margin:0 1px;font-size:14px; padding-top:2px;}
.pagination select { width:53px !important;margin: 2px 0 0; background-color:#fff; height:21px; padding-left:2px;padding:0;}
.pagination input { background-color:#fff; height:20px; text-align:center; margin:0 5px;padding-right: 5px;max-width:50px;}
.pagination a {font-size:14px;color:#e42e23;padding:0 8px;}
.pagination .first{border-right:1px solid #b7b7b7;}
.pagination .last{border-left:1px solid #b7b7b7;}
.pagination span.selectedTab {background-color:#c3c3c3; padding: 1px 5px;}
.pagination span {padding: 5px;font-size:14px;}
.pagination ul li:nth-child(5) {border-right:0;}

/*Jquery PopUp*/
.fakewindowcontain .ui-widget-overlay{position:absolute}
.ui-helper-hidden{display:none}
.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}
.ui-helper-clearfix:after,.ui-helper-clearfix:before{content:"";display:table;border-collapse:collapse}
.ui-helper-clearfix:after{clear:both}
.ui-helper-clearfix{min-height:0}
.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}
.ui-front{z-index:100}.ui-state-disabled{cursor:default!important}
.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}
.ui-draggable-handle{-ms-touch-action:none;touch-action:none}
.ui-resizable{position:relative}
.ui-resizable-handle{position:absolute;font-size:.1px;display:block;-ms-touch-action:none;touch-action:none}
.ui-resizable-autohide .ui-resizable-handle,.ui-resizable-disabled .ui-resizable-handle{display:none}
.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0}
.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0}
.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%}
.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%}
.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}
.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}
.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}
.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}
.ui-dialog{overflow:hidden;position:absolute;top:0;left:0;padding:.2em;outline:0}
.ui-dialog .ui-dialog-titlebar{padding:.4em 1em;position:relative}
.ui-dialog .ui-dialog-title{float:left;margin:.1em 0;white-space:nowrap;width:90%;overflow:hidden;text-overflow:ellipsis;visibility:hidden;}
.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:20px;margin:-10px 0 0;padding:1px;height:20px}
.ui-dialog-titlebar-close .btn-text{text-indent:-9999px !important;visibility:hidden;}
.ui-dialog .ui-dialog-content{position:relative;border:0;padding:.5em 1em;background:0 0;overflow:auto}
.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0;background-image:none;margin-top:.5em;padding:.3em 1em .5em .4em}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right;}
.ui-dialog-buttonset button:nth-child(1){background-color:#dc2920;}
.ui-dialog-buttonset button:nth-child(2){background-color:#5c5c5c;}
.ui-dialog .ui-dialog-buttonpane button{margin:.5em .4em .5em 0;cursor:pointer; visibility:visible !important;}
.ui-dialog .ui-resizable-se{width:12px;height:12px;right:-5px;bottom:-5px;background-position:16px 16px}
.ui-draggable .ui-dialog-titlebar{cursor:move}
.ui-widget{font-family:Arial;font-size:1.1em}
.ui-widget .ui-widget{font-size:1em}
.ui-widget button,.ui-widget input,.ui-widget select,.ui-widget textarea{font-family:Arial;font-size:1em}
.ui-widget-content{border:1px solid #ddd;background:#eee;color:#333}
.ui-widget-content a{color:#333}
.ui-widget-header{border:1px solid #e78f08;background-color:#e42e23;color:#fff;font-weight:700}
.ui-widget-header a{color:#fff}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:0;background-color:transparent;font-weight:700;color:#fff;}
.ui-button .ui-button-text{text-indent:-9999px!important; visibility:hidden;}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#1c94c4;text-decoration:none}
.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #fed22f;background:#ffe45c;color:#363636}
.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#363636}
.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#b81900;color:#fff}
.ui-state-error a,.ui-state-error-text,.ui-widget-content .ui-state-error a,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error a,.ui-widget-header .ui-state-error-text{color:#fff}
.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:700}
.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:400}
.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}
.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}
.ui-widget-overlay{background:#666;opacity:.5;filter:Alpha(Opacity=50)}
.ui-widget-shadow{margin:-5px 0 0 -5px;padding:5px;background:#000;opacity:.2;filter:Alpha(Opacity=20);border-radius:5px}

/*Rich-Text Box CSS*/
.rich-text-box{width:100%; min-height:70px;}


/*Znode Icons*/
@font-face {
	font-family: 'znode-icons';
	src:url('../fonts/znode-icons.eot?m41t34');
	src:url('../fonts/znode-icons.eot?#iefixm41t34') format('embedded-opentype'),
		url('../fonts/znode-icons.woff?m41t34') format('woff'),
		url('../fonts/znode-icons.ttf?m41t34') format('truetype'),
		url('../fonts/znode-icons.svg?m41t34#znode-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
.f-ico{font-size:32px;}
.f-ico-m{font-size:35px;color:#fff;border:1px solid #c3c3c3; border-radius:30px;}
[class^="z-"], [class*=" z-"] {	font-family: 'znode-icons';speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1; 
-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
}
.z-dollar:before {content: "\f155";}
.z-key-rotation:before {content: "\e61e";}
.z-product-search-setting:before {content: "\e624";}
.z-rejection-messages:before {content: "\e62a";}
.z-rma-configuration:before {content: "\e62b";}
.z-rma-manager:before {content: "\e62c";}
.z-service-request:before {content: "\e62d";}
.z-store-locator:before {content: "\e631";}
.z-vendor-accounts:before {content: "\e632";}
.z-google-sitemap:before {content: "\f0e8";}
.z-support:before {content: "\f037";}
.z-personalization:before {content: "\e610";}
.z-gift-cards:before {content: "\e612";}
.z-customer-reviews:before {content: "\e613";}
.z-attribute-type:before {content: "\e614";}
.z-rate-review:before {content: "\e616";}
.z-import-export:before {content: "\e617";}
.z-seo-settings:before {content: "\e618";}
.z-add-on-type:before {content: "\e619";}
.z-facets:before {content: "\e61a";}
.z-affiliate-tracking:before {content: "\e61b";}
.z-brands:before {content: "\f005";}
.z-highlights:before {content: "\f006";}
.z-product-type:before {content: "\f03a";}
.z-question-circle:before {content: "\f059";}
.z-credit-card:before {content: "\f09d";}
.z-customers:before {content: "\f0c0";}
.z-view-orders:before {content: "\e9b8";}
.z-store-administrators:before {content: "\e9bc";}
.z-create-order:before {content: "\e92d";}
.z-managebanners:before {content: "\e60d";}
.z-managecontent:before {content: "\e60e";}
.z-managemessages:before {content: "\e60f";}
.z-key:before {content: "\f049";}
.z-advanced:before {content: "\e600";}
.z-catalog:before {content: "\e601";}
.z-category:before {content: "\e602";}
.z-dashboard:before {content: "\e603";}
.z-inventory:before {content: "\e604";}
.z-marketing:before {content: "\e605";}
.z-orders:before {content: "\e606";}
.z-product:before {content: "\e607";}
.z-reports:before {content: "\e608";}
.z-roles:before {content: "\e609";}
.z-setup:before {content: "\e60a";}
.z-store:before {content: "\e60b";}
.z-vendors:before {content: "\e60c";}
.z-hamburger:before {content: "\f0c9";}
.z-first:before {content: "\f0d9";}
.z-last:before {content: "\f0da";}
.z-truck:before {content: "\e9b0";}
.z-backward:before {content: "\ea1f";}
.z-forward:before {content: "\ea20";}

/*Layout Page CSS*/
.wrapper{min-height:100%;height: auto;}
header{position:fixed; top:0; left:0; z-index:9999;width:100%;}
.header {background-color:#e42e23; min-height:60px;}
.header-top-nav{margin-bottom:0;padding:20px 10px;}
.header-top-nav li {list-style:none;display:inline;color:#fff;}
.header-top-nav li a{color:#fff;padding:0 10px; text-decoration:none;vertical-align: text-bottom;}
.logo{max-height:58px;}
.main-wrapper {min-height:100%;height: auto; margin:60px 0;}
footer {position:fixed; bottom:0; left:0; z-index:9999;width:100%;}
.footer {background-color:#d2d2d2;}
.footer-logo{margin:2px 0;max-height:30px;}
.copyright{color:#6b6b6b;padding-top:5px;}
.login-error span{color:#fff!important;}
.field-validation-error {color:#e42e23;}

/* Toggle Styles */
#body {padding-left: 0;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
#body.toggled {padding-left: 185px;}
#sidebar-wrapper {z-index: 1000;position: fixed;left: 185px;width: 0;height: 100%;margin-left: -185px;overflow-y: hidden;background: #5c5c5c;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}

#body.toggled #sidebar-wrapper {width: 185px;}
#page-content-wrapper {width: 100%;position: absolute;}
#body.toggled #page-content-wrapper {position: absolute; margin-right: -185px;}
.nav-toggle {min-height:40px;background-color:#e3e3e3;}
.nav-toggle a{margin: 15px 0;color:#5c5c5c;line-height:40px;border:0px;outline: medium none;}
.nav-toggle a:focus,.nav-toggle a:hover{color:#000;border:0px;outline: medium none;}
.quick-links {color:#fff; text-align:center;line-height:20px;padding:5px 0;background:rgba(0,0,0,1.0);}
.quick-links a{text-align:center!important;font-size:26px!important;}
.sidebar-nav .quick-links a:hover{background:rgba(255,255,255,0) !important;}

/* Sidebar Styles */
.sidebar-nav {position: absolute; top: 0; width: 185px;margin: 0;padding: 0;list-style: none; overflow-y:auto;}
.sidebar-nav li {border-bottom:1px solid #fff;}
.sidebar-nav li a {display: block;text-decoration: none;color: #fff; text-align:left;outline:medium none;padding:5px;font-size:15px;font-weight:bold;}
.sidebar-nav li a span {line-height: 36px;vertical-align: top;padding:0 5px;}
.sidebar-nav li a:hover {text-decoration: none;color: #fff;background: rgba(232,49,37,1.0);}
.sidebar-nav li a:active,.sidebar-nav li a:focus {text-decoration: none;}
.sidebar-nav li ul{margin:0;padding:0;display:none;}
.sidebar-nav li ul li:first-child{border-top:1px solid #fff;}
.sidebar-nav li ul li a{text-align:left;font-size:13px;font-weight:normal;}
.sidebar-nav li ul li a i{padding:0 5px;}

/*Css class use for activated page css changes*/
.current-page{color:#ef6123 !important;}


/* DatePicker CSS*/
.datepicker{top:0;left:0;padding:4px;margin-top:1px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-transition: all 0s ease;-moz-transition: all 0s ease;-o-transition: all 0s ease;-ms-transition: all 0s ease;transition: all 0s ease;}
.datepicker:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-bottom-color:rgba(0,0,0,0.2);position:absolute;top:-7px;left:6px;}
.datepicker:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;position:absolute;top:-6px;left:7px;}
.datepicker>div{display:none;}
.datepicker table{width:100%;margin:0;}
.datepicker td,.datepicker th{text-align:center;width:20px;height:20px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.datepicker td.day:hover{background:#eee;cursor:pointer;}
.datepicker td.old,.datepicker td.new{color:#999;}
.datepicker td.active,.datepicker td.active:hover{background-color:#e83125;background-image:-moz-linear-gradient(top,#e83125,#f32d23);background-image:-ms-linear-gradient(top,#e83125,#f32d23);background-image:-webkit-gradient(linear,0 0,0 100%,from(#e83125),to(#f32d23));background-image:-webkit-linear-gradient(top,#e83125,#f32d23);background-image:-o-linear-gradient(top,#e83125,#f32d23);background-image:linear-gradient(top,#e83125,#f32d23);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc',endColorstr='#0044cc',GradientType=0);border-color:#04c #0044cc #002a80;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);}
.datepicker td.active:hover,.datepicker td.active:hover:hover,.datepicker td.active:active,.datepicker td.active:hover:active,.datepicker td.active.active,.datepicker td.active:hover.active,.datepicker td.active.disabled,.datepicker td.active:hover.disabled,.datepicker td.active[disabled],.datepicker td.active:hover[disabled]{background-color:#04c;}
.datepicker td.active:active,.datepicker td.active:hover:active,.datepicker td.active.active,.datepicker td.active:hover.active{background-color:#039 \9;}
.datepicker td span{display:block;width:47px;height:54px;line-height:54px;float:left;margin:2px;cursor:pointer;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.datepicker td span:hover{background:#eee;}
.datepicker td span.active{background-color:#006dcc;background-image:-moz-linear-gradient(top,#08c,#04c);background-image:-ms-linear-gradient(top,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(top,#08c,#04c);background-image:-o-linear-gradient(top,#08c,#04c);background-image:linear-gradient(top,#08c,#04c);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc',endColorstr='#0044cc',GradientType=0);border-color:#04c #0044cc #002a80;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);}
.datepicker td span.active:hover,.datepicker td span.active:active,.datepicker td span.active.active,.datepicker td span.active.disabled,.datepicker td span.active[disabled]{background-color:#04c;}
.datepicker td span.active:active,.datepicker td span.active.active{background-color:#039 \9;}
.datepicker td span.old{color:#999;}
.datepicker th.switch{width:145px;}
.datepicker thead tr:first-child th{cursor:pointer;}
.datepicker thead tr:first-child th:hover{background:#eee;}
.input-append.date .add-on i,.input-prepend.date .add-on i{display:block;cursor:pointer;width:16px;height:16px;}
.dropdown-menu.datepicker{max-width:220px;}


/*Login Page CSS*/
.login-wrapper {background: #ffffff; background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 26%, #dcdcdc 81%, #d7d7d7 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(26%,#f7f7f7), color-stop(81%,#dcdcdc), color-stop(100%,#d7d7d7)); background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 26%,#dcdcdc 81%,#d7d7d7 100%); background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 26%,#dcdcdc 81%,#d7d7d7 100%); background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 26%,#dcdcdc 81%,#d7d7d7 100%); background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 26%,#dcdcdc 81%,#d7d7d7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d7d7d7',GradientType=0 );}
#layout-account-login{padding: 14% 0 0;}
#layout-forgotpassword{padding: 14% 0 0;}
.login-container {background: url(themes/base/images/login-texture.png) repeat;border:1px solid #e83026; border-radius:10px;min-height:250px;}
.login-section {height:100%; min-height:100%;}
.login-container-footer{background-color:#e42e23;min-width:50px; border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding:10px;}
.login-logo {border-right:1px solid #b2322a;}
.login-logo img{margin:25% auto;}
.login-main {margin-top:7%;margin-bottom:3%;}
.login-title {font-size:34px; color:#fff;font-family:Arial; }
.btn-text-login {background-color:#000; height:40px; width:100%; padding:0 15px; line-height:32px; border:0; text-align:center;font-family:Arial; color:#fff; font-size:14px; text-transform: uppercase;}
.btn-text-forgotpass {background-color:#000; min-width:120px; padding:0 15px; line-height:32px; border:0; text-align:center;font-family:Arial; color:#fff; font-size:14px; text-transform: uppercase;}
.login-field input[type='text']{font-family:Arial;}
.login-field i {background-color:#737373;color:#fff;}
.login-remember {padding:10px 0}
.login-remember lable{color:#000;}
.login-form-forgotpassword, .login-form-forgotpassword:hover {color:#fff; text-decoration:none;}
.login-footer {height:40px; bottom:0;position:absolute;width:100%;}
.login-footer p{margin:0 auto; text-align:center;color:#737373;}

/*Home Page CSS*/
.home-page-container{padding: 3% 0 0;}
.home-page-container h2{color:#292a2a;font-size:30px;}
.quick-links-ul{padding:5% 0;}
.quick-links-ul li{display:inline-block; padding:0 2%;vertical-align:top;}
.quick-links-circle {background-color:#e3e3e3;width:250px;min-height:250px; border:12px solid #cccccc;cursor:pointer; padding-top:20%;}
.quick-links-circle:hover{background-color:#df2a20;}
.quick-links-circle:hover i,.quick-links-circle:hover h3{color:#fff;}
.quick-links-circle i{font-size:65px; color:#e42e23; margin:0 35%;}
.quick-links-circle h3{display:block; text-align:center; font-size:20px; color:#292a2a;}
.circle-details p{width:250px; padding-top:2%;text-align:justify;font-size:14px; color:#292a2a;}

/*Dashboard Page CSS*/
.dropdown-top{padding:5px 20px;}
.dropdown-top select,.dropdown-top select:hover {background-color:transparent !important;font-size:20px;border:0; box-shadow:none;outline: medium none;}
.dropdown-top select option:hover{padding:0 10px;border:0; box-shadow:none; background-color:transparent;outline: medium none;}
.search-top {padding:5px 20px; border-left:1px solid #c3c3c3;}
.search-top i{color:#e42e23;cursor:pointer;}
.search-top input[type='text']{min-width:350px;}

.dashboard-page-container{margin-top:2%;}
.alert-box {background-color:#feffc0; border:1px solid #bababa;min-height:260px;padding:15px;}
.alert-msg {margin-bottom:15px;}
.alert-msg ul{margin:0; padding:10px 0;}
.alert-msg ul li:before{content:'\e074';font-family:Glyphicons Halflings; font-size:14px;vertical-align:middle;line-height:38px;color:#3b3b3b}
.alert-msg ul li {border-bottom:1px solid #bababa;}
.alert-msg ul li a{color:#e42e23;}

.quick-statistics {background-color:#e5e5e5;padding:15px;min-height:260px;}
.quick-statistics .quick-title{color:#e42e23;}

.sales-container {padding-right:5px;padding-bottom:15px;}
.account-container{padding-left:5px;padding-bottom:15px;}
.sales-container p{font-size:18px;min-height:25px;}
.account-container p{font-size:12px;min-height:25px;}
.sales-box {background-color:#5c5c5c;margin:5px 0;}
.sales-box h4{color:#fff; text-align:center;}
.sales-box h5{color:#fff; text-align:center;}

.panel-group {min-height:330px;}
.panel-heading{padding:0;border-radius:0;}
.panel-heading h4{ padding: 10px 15px;cursor:pointer;background-color:#5c5c5c;color:#fff;}
.panel-heading .accordion-toggle:after {font-family: 'Glyphicons Halflings';content: "\2212";float: right;color: #fff;background-color:#e42e23;padding:10px;margin-top:-10px; margin-right:-15px;cursor:pointer;}
.panel-heading .accordion-toggle.collapsed:after {content: "\2b";}
.panel-body {border:1px solid #bababa;background-color:#f3f3f3;}
.panel-body ul{margin:0; padding:10px 0;min-height:170px; overflow-y:auto}
.panel-body ul li:before{content:'\e074';font-family:Glyphicons Halflings; font-size:14px;vertical-align:middle;line-height:38px;color:#3b3b3b}
.panel-body ul li {border-bottom:1px solid #bababa;}

.last-login {background-color:#f3f3f3;border:1px solid #bababa;min-height:260px;padding:15px;}
.last-login ul{margin:0; padding:0; min-height:190px; overflow-y:auto;}
.last-login ul li{margin-bottom:8px;float:left; width:100%;}
.last-login img{width:60px;height:60px;}
.last-login h5{font-size:14px; color:#e42e23;}
.last-login p{font-size:11px; color:#292a2a;margin:0;}
.last-login span{font-size:11px; color:#6b6b6b;}

/*Settup > Store Page CSS & Generalise Class*/
.title-container i{font-size:20px; color:#e42e23;padding:0 10px;border-right:1px solid #bababa;cursor:pointer; margin-right: 10px;}
.title-container p{margin:0;padding:16px 0;font-size:14px;}
.search-container{padding:15px;border-bottom:1px solid #dcdcdc;}
.list-container h3{margin:15px 0;}
.popover-content{background-color:#e42e23;color:#fff;border-radius:8px;}
.popover-content h3 {color:#fff}

/*Settup > Manage Stored Page CSS*/
.tab-container ul li a{min-width:120px;text-align:center; padding: 8px 15px;}
.tab-content{margin-top:2%;}
.tab-content label{float:left; font-size:14px;display:normal;font-weight:normal;}
.manage-stores-container .tab-container ul li a{min-width:120px;text-align:center; padding: 8px 15px;}
.manage-stores-container .tab-content{margin-top:2%;}
.manage-stores-container .form-group{float:left;width:100%;}
.manage-stores-container label{float:left; font-size:14px;display:normal;font-weight:normal;}
.border-right{border-right:1px solid #dcdcdc;}
.general-stores h5{font-weight:bold;}
.general-stores .upload-img{max-width:100%; max-height:100%;float:right;}
.general-stores .security-container{border-top:1px solid #dcdcdc; padding-top:20px;}
.general-stores select {width:100%}
.general-stores .store-info{margin-bottom:15px;}
.disable-msg{color:#b8b8b8;font-size:11px;}
.req-approval{margin-top:15px;}
.top-btn{margin:5px 0 15px 0;}


/*Inventory > Product Page CSS & Generalise Class*/
.product-search{padding:15px;border-bottom:1px solid #dcdcdc;}
.product-search label{float:left; font-size:14px;display:normal;font-weight:normal;line-height:26px;}
.product-search .product-group{padding-left:0px;padding-right:15px;padding-top:15px;}
.product-search .form-group{float:left;width:100%;}
.product-search .pull-right{padding-right:15px;}
.product-search select {width: 100%;}

.add-new-item{margin:0 0 20px 0;}
.add-new-item .item-group{padding-left:0px;padding-right:15px;padding-top:15px;}
.add-new-item .item-group h4{margin:15px 0;}
.add-new-item label{float:left; font-size:14px;display:normal;font-weight:normal;line-height:26px;}
.add-new-item .form-group{float:left; width:100%;}
.add-new-item select{width:100%;}
.border-bottom{border-bottom:1px solid #bababa;margin-bottom:30px; padding-bottom:25px;}
.top-shift{margin-top:20px;}
.left-shift{margin-right:15px;}
.sub{font-size:10px; color:#5c5c5c;float:left;}

/*Inventory > Brand Page CSS*/
.add-new-container{margin:20px 0;}
.add-new-container label{font-weight:normal; line-height: 26px;}
.add-new-container .form-group{float:left; width:100%;}
.add-new-container .pull-right{padding-right:15px;}
.add-new-container select{width:100%;}
.add-new-container h3{margin:0 0 20px 0;}

/*Inventory > Highlight Page CSS*/
.highlight-serach{padding:15px;}
.highlight-serach label{float:left; font-size:14px;display:normal;font-weight:normal;line-height:26px;}
.highlight-serach .highlight-group{padding-left:0px;padding-right:15px;}
.highlight-serach .highlight-group h3{margin:5px 0 15px 0;}
.highlight-serach .form-group{float:left;width:100%;}
.highlight-serach select {width: 100%;}

/*Media Query*/

@media(min-width:768px) {
html, body {font-family:14px;}
h1{font-size:26px;} 
h2{font-size:22px;}
h3{font-size:18px;}
h4{font-size:16px;}
/*Push Menu & Header*/
#body {padding-left: 150px;}
#body.toggled {padding-left: 0;}
#sidebar-wrapper {width: 150px;}
#body.toggled #sidebar-wrapper {width: 0;}
#page-content-wrapper {position: relative;}
#body.toggled #page-content-wrapper {position: relative; margin-right: 0;}
.sidebar-nav {width: 150px;}
.f-ico-m{font-size:30px;color:#fff;line-height: 34px;}
.logo {max-height: 45px;}
.header-top-nav {padding: 10px;}
.main-wrapper {margin: 45px 0px;}
.header {min-height: 45px;}
select{width:170px}
.btn-text {min-width:90px;}
.btn-text-forgotpass {min-width:90px;}
.dashboard-page-container{padding-left:0; padding-right:0;}
.dashboard-col{padding-left:15px;padding-right:15px;}
.quick-statistics {margin-top:15px;}
/*Home Page*/
.quick-links-ul li{padding:2%;}
.quick-links-circle {width:240px;min-height:240px; border:12px solid #cccccc;padding-top:20%;}
.quick-links-circle i{font-size:65px; margin:0 35%;}
.circle-details p{width:240px;font-size:13px;}
.quick-links-circle h3{font-size:20px;}

/*Settup > Manage Stored Page CSS*/
.manage-stores-container .tab-container ul li a{min-width:30px;padding: 8px 6px;}
.title-container i{border-right:0;}
.title-container p{padding:8px 0;}

/*Inventory > Product Page CSS & Generalise Class*/
.add-new-item .item-group{padding-left:0px;padding-right:15px;}

}
@media (min-width: 992px) {
html, body {font-family:14px;}
h1{font-size:24px;} 
h2{font-size:20px;}
h3{font-size:18px;}
h4{font-size:16px;}
/*Push Menu & Header*/
#body {padding-left: 155px;}
#sidebar-wrapper {width: 155px;}
.sidebar-nav {width: 155px;}
.sidebar-nav li a {font-size:12px;}
.f-ico-m{font-size:26px;color:#fff;line-height: 36px;}
.logo {max-height: 45px;}
.header-top-nav {padding: 10px;}
.main-wrapper {margin: 45px 0px;}
.header {min-height: 45px;}
select{width:170px}
.btn-text {min-width:120px;}
.btn-text-forgotpass {min-width:120px;}
.dashboard-page-container{padding-left:15px; padding-right:15px;}
.dashboard-col{padding-left:15px;padding-right:0;}
.sales-container p{font-size:16px;min-height:25px;}
.account-container p{font-size:11px;min-height:25px;}
.sidebar-nav li ul li a{font-size:12px;}
.sidebar-nav li ul li a i{padding:0 2px;}
.quick-statistics {margin-top:0;}
/*Home Page*/
.home-page-container{padding: 1% 0 0;}
.home-page-container h2{font-size:24px;}
.quick-links-ul li{padding:0.8%;}
.quick-links-circle {width:175px;min-height:175px; border:8px solid #cccccc;padding-top:20%;}
.quick-links-circle i{font-size:55px; margin:0 32%;}
.circle-details p{width:175px;padding:5px;font-size:13px;}
.quick-links-circle h3{font-size:18px;}

/*Settup > Manage Stored Page CSS*/
.manage-stores-container .tab-container ul li a{min-width:85px;padding: 8px 12px;}
.title-container i{border-right:1px solid #bababa;}
.title-container p{padding:16px 0;}

/*Inventory > Product Page CSS & Generalise Class*/
.add-new-item .item-group{padding-left:0px;padding-right:30px;}
}
@media (min-width: 1200px) {
html, body {font-family:14px;}
h1{font-size:30px;} 
h2{font-size:24px;}
h3{font-size:20px;}
h4{font-size:18px;}
/*Push Menu & Header*/
#body {padding-left: 185px;}
#sidebar-wrapper {width: 185px;}
.sidebar-nav {width: 185px;}
.sidebar-nav li a {font-size:15px;}
.f-ico-m{font-size:35px;color:#fff;}
.logo{max-height:50px;}
.header-top-nav{padding:14px 10px;}
.main-wrapper {margin:50px 0;}
.header {min-height:50px;}
select{width:200px}
.dashboard-col{padding-left:15px;padding-right:15px;}
.sales-container p{font-size:18px;min-height:25px;}
.account-container p{font-size:12px;min-height:25px;}
.sidebar-nav li ul li a{font-size:13px;}
.sidebar-nav li ul li a i{padding:0 5px;}
/*Home Page*/
.home-page-container{padding: 3% 0 0;}
.home-page-container h2{font-size:30px;}
.quick-links-ul li{padding:0 1%;}
.quick-links-circle {width:225px;min-height:225px; border:12px solid #cccccc;padding-top:20%;}
.quick-links-circle i{font-size:65px; margin:0 35%;}
.circle-details p{width:225px;padding:5px;font-size:14px;}
.quick-links-circle h3{font-size:20px;}
/*Settup > Manage Stored Page CSS*/
.manage-stores-container .tab-container ul li a{min-width:100px;padding: 8px 14px;}

/*Inventory > Product Page CSS & Generalise Class*/
.add-new-item .item-group{padding-left:0px;padding-right:15px;}

}
@media (min-width: 1300px) {
/*Home Page*/
.quick-links-ul li{padding:0 2%;}
.quick-links-circle {width:240px;min-height:240px; border:12px solid #cccccc;padding-top:20%;}
.circle-details p{width:240px;padding:5px;}
/*Settup > Manage Stored Page CSS*/
.manage-stores-container .tab-container ul li a{min-width:120px;padding: 8px 15px;}
}

