﻿@model Znode.Engine.MvcAdmin.ViewModels.PortalListViewModel
@using Resources;

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

@if (!Equals(Model, null) && Model.Portals.Count > 0)
{
    <div>
        @{

    WebGrid grid = new WebGrid(rowsPerPage: Model.RecordPerPage, ajaxUpdateContainerId: "grid-container");
    grid.Bind(source: Model.Portals, rowCount: Model.TotalResults, autoSortAndPage: false);

}
        <div id="grid">
    @grid.GetHtml(
         htmlAttributes: new { id = "grid", @class = "table" },
         headerStyle: "grid-header",
         columns: new[] {
            grid.Column(columnName: "PortalID", header: "ID"),
            grid.Column(header: @ZnodeResources.TitleStoreName, format: @<span> <span id="spanName_@item.StoreName">@item.StoreName</span></span>),
            grid.Column(header: @ZnodeResources.TitleBrandName, format: @<span> <span id="spanName_@item.CompanyName">@item.CompanyName</span></span>),
            grid.Column(header: @ZnodeResources.LabelAction, format: @<text> @Html.Raw(string.IsNullOrEmpty(item.DomainName) ? "<a href='#' id='Preview_@item.PortalID' class='edit'>" + @ZnodeResources.PreviewText + "</a>" : "<a href='http://" + @item.DomainName + "' id='Preview_@item.PortalID' target='_blank'>" + @ZnodeResources.PreviewText + "</a>")</text>),
            grid.Column(header: "",format:@<text>@Html.ActionLink(@ZnodeResources.ManageText, "Manage", new { @id = @item.PortalId })</text>),
                grid.Column(header: "",format:@<text> <a href="/Stores/Copy?portalId=@item.PortalID" id="Copy_@item.PortalID" style="display:block" class="copy">@ZnodeResources.CopyText</a></text>),
                grid.Column(header: "",format:@<text>@Html.Raw(!item.IsCurrentPortal?"<span class='delete-link' onclick='CommonHelper.BindDeleteConfirmDialog(\" " + ZnodeResources.ConfirmDeleteTitle + "\", \" " + ZnodeResources.ConfirmDeleteMessage + "\", \"/" + controllerName + "/" + ZnodeResources.LabelDelete + "/" + @item.PortalID + "\");'>" + ZnodeResources.LabelDelete + "</span>":"")</text>)
        }
    )
    @grid.CustomPager(Html)
    @Html.Hidden("dir", grid.SortDirection) @Html.Hidden("col", grid.SortColumn)
</div>
    </div>
}
else
{
    <div>@ZnodeResources.NoRecordFoundMessageText</div>
}