﻿@model Znode.Engine.MvcAdmin.ViewModels.DomainListViewModel
@using Resources;
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="col-sm-12">
    <div class="pull-right top-btn">
        <button type="button" class="btn-text red" onclick="javascript: location.href = '/Stores/AddUrl/'+@TempData["PortalId"];"> Add URL </button>
        <button type="button" class="btn-text grey" onclick="javascript: location.href = '/Stores/List/';">Cancel</button>
    </div>
</div>
<div class="col-sm-12">
    @if (!Equals(Model, null) && Model.Domains.Count > 0)
    {

        WebGrid grid = new WebGrid(rowsPerPage: 5, ajaxUpdateContainerId: "grid-container");
        grid.Bind(source: Model.Domains, rowCount: 5, autoSortAndPage: false);


        <div>
            @grid.GetHtml(
         htmlAttributes: new { id = "grid", @class = "table" },
         fillEmptyRows: false,
            mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",
            columns: new[] {
grid.Column(header: @ZnodeResources.TitleId,format: @<span> <span id="spanName_@item.DomainID">@item.DomainID</span></span>),
grid.Column(header: @ZnodeResources.TitleDomainName, format: @<span> <span id="spanName_@item.DomainName">@item.DomainName</span></span>),
grid.Column(header: @ZnodeResources.TitleUrlKey, format: @<span> <span id="spanName_@item.ApiKey">@item.ApiKey</span></span>),
grid.Column(header: @ZnodeResources.TitleIsActive, format: @<span> <span id="spanName_@item.IsActive">@item.IsActive</span></span>),
         grid.Column(header: @ZnodeResources.LabelAction,format:@<text> @Html.ActionLink(ZnodeResources.LabelEdit, ZnodeResources.LabelEdit, new { @id = @item.PortalID, @domainId = @item.DomainID }, new { @title = @ZnodeResources.LabelEdit })  </text>),
         grid.Column(header: "",format:@<text>@Html.Raw("<span class='delete-link' title='Delete' onclick='CommonHelper.BindDeleteConfirmDialog(\" " + ZnodeResources.ConfirmDeleteTitle + "\", \" " + ZnodeResources.ConfirmDeleteMessage + "\", \"/" + "Stores" + "/" + ZnodeResources.LabelDeleteDomain + "/" + @item.DomainID + "\");'>" + ZnodeResources.LabelDelete + "</span>")</text>)}
          )
            @grid.CustomPager(Html)
            @Html.Hidden("dir", grid.SortDirection) @Html.Hidden("col", grid.SortColumn)
        </div>

    }
    else
    {
        <div>@ZnodeResources.NoRecordFoundMessageText</div>
    }
</div>