﻿@model Znode.Engine.MvcAdmin.ViewModels.DomainViewModel
@{
    ViewBag.Title = "AddUrl";
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

@using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
{
    string isActiveStatus = "checked='checked'";
    if (Model.DomainName != null)
    {
        isActiveStatus = (!Equals(Model, null) && Model.IsActive) ? "checked='checked'" : string.Empty;
    }
    
    @Html.ValidationSummary(true)
    @Html.HiddenFor(moel => Model.PortalId)
    @Html.HiddenFor(moel => Model.DomainId)
    
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1>@ZnodeResources.HeaderAddNewURL</h1>
        </div>
        <div class="col-sm-5 add-new-container">
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.DomainName)
                    <p class="sub">Enter a fully qualified URL (example: http://mysite.com). Note that the "www" and any port number will be ignored.</p>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.DomainName, new { @placeholder = @ZnodeResources.PlaceHolderDomainName })
                    @Html.ValidationMessageFor(m => m.DomainName)
                </div>                
            </div>
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <label>
                        <input @isActiveStatus id="IsActive" name="IsActive" type="checkbox" value="true">
                        <span class="lbl padding-8">@ZnodeResources.LabelEnableUrl</span>
                        <input name="IsActive" type="hidden" value="false">
                    </label>
                </div>                
            </div>
            <div class="pull-right">
                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript: location.href = '/Stores/List';">@ZnodeResources.ButtonCancel</button>        
            </div>
        </div>
    </div>
    
}
