﻿@model Znode.Engine.MvcAdmin.ViewModels.PortalViewModel

@{
    ViewBag.Title = "Create a Store";
}

<h2>Create a Store</h2>

@using (Html.BeginForm("Create", "Stores", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
{
    <div class="col-sm-12 dashboard-page-container">
        <h4>Store Identity</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.CompanyName)
            @Html.TextBoxFor(m => m.CompanyName)
            @Html.ValidationMessageFor(m => m.CompanyName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.StoreName)
            @Html.TextBoxFor(m => m.StoreName)
            @Html.ValidationMessageFor(m => m.StoreName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CatalogId)
            @Html.DropDownListFor(m => m.CatalogId, Model.Catalogs, new { @id = "ddlCatalog" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ThemeId)
            @Html.DropDownListFor(m => m.ThemeId, Model.Themes, new { @id = "ddlTheme", @onchange = "Portal.BindCssList(ddlCSS,this)" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CSSId)
            @Html.DropDownListFor(m => m.CSSId, Model.CSS, new { @id = "ddlCSS" })
        </div>
        <div class="form-group hidden">
            @Html.LabelFor(m => m.LocaleId)
            @Html.DropDownListFor(m => m.LocaleId, Model.Locales, new { @id = "ddlLocale" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LogoPath)
            @Html.EditorFor(m => m.LogoPath)
        </div>
        <h4>Security</h4>
        <hr />
        <div class="form-group">
            <label>
                @Html.LabelFor(m => m.UseSsl)
                <input type="checkbox" id="@Model.UseSsl" name="@Model.UseSsl" value="@Model.UseSsl" />
                <span class="lbl padding-8"></span>
            </label>
        </div>
        <h4>Store Contact Information</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.AdminEmail)
            @Html.TextBoxFor(m => m.AdminEmail)
            @Html.ValidationMessageFor(m => m.AdminEmail)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SalesEmail)
            @Html.TextBoxFor(m => m.SalesEmail)
            @Html.ValidationMessageFor(m => m.SalesEmail)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CustomerServiceEmail)
            @Html.TextBoxFor(m => m.CustomerServiceEmail)
            @Html.ValidationMessageFor(m => m.CustomerServiceEmail)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SalesPhoneNumber)
            @Html.TextBoxFor(m => m.SalesPhoneNumber)
            @Html.ValidationMessageFor(m => m.SalesPhoneNumber)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CustomerServicePhoneNumber)
            @Html.TextBoxFor(m => m.CustomerServicePhoneNumber)
            @Html.ValidationMessageFor(m => m.CustomerServicePhoneNumber)
        </div>
        <h4>Default Settings</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.DefaultReviewStatus)
            @Html.DropDownListFor(m => m.DefaultReviewStatus, Model.DefaultReviewStates, new { @id = "ddlDefaultReviewStatus" })
        </div>
        <div>
            @Html.LabelFor(m => m.DefaultOrderStateId)
            @Html.DropDownListFor(m => m.DefaultOrderStateId, Model.OrderState, new { @id = "ddlOrderState" })
        </div>
        <div>
            <label>
                @Html.LabelFor(m => m.PersistentCartEnabled)
                <input type="checkbox" id="@Model.PersistentCartEnabled" name="@Model.PersistentCartEnabled" value="@Model.PersistentCartEnabled" />
                <span class="lbl padding-8"></span>
            </label>
        </div>
        <div>
            <label>
                @Html.LabelFor(m => m.EnableAddressValidation)
                <input type="checkbox" id="@Model.EnableAddressValidation" name="@Model.EnableAddressValidation" value="@Model.EnableAddressValidation" />
                <span class="lbl padding-8"></span>
            </label>
        </div>
        <div>
            <label>
                @Html.LabelFor(m => m.RequireValidatedAddress)
                <input type="checkbox" id="@Model.RequireValidatedAddress" name="@Model.RequireValidatedAddress" value="@Model.RequireValidatedAddress" />
                <span class="lbl padding-8"></span>
            </label>
        </div>
        <div>
            <label>
                @Html.LabelFor(m => m.EnableCustomerPricing)
                <input type="checkbox" id="@Model.EnableCustomerPricing" name="@Model.EnableCustomerPricing" value="@Model.EnableCustomerPricing" />
                <span class="lbl padding-8"></span>
            </label>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DefaultProductReviewStateId)
            @Html.DropDownListFor(m => m.DefaultProductReviewStateId, Model.ProductReviewState, new { @id = "ddlProductReviewState" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn-text red">Submit</button>
            <button type="button" class="btn-text grey">Cancel</button>
        </div>
    </div>


    @Scripts.Render("~/bundles/portal")

    <script>
        $j(document).ready(function () {
            Portal.BindCssList(ddlCSS, ddlTheme);
        })
    </script>

}

