﻿@model Znode.Engine.MvcAdmin.ViewModels.PortalListViewModel

<div id="grid-container">    
    <div class="col-sm-12 dashboard-page-container">

        @if (!Equals(@TempData["Notification"], null))
        {
            <div class='MessageBox alert alert-info'><p>@TempData["Notification"]</p></div>
        }
        @if (!Equals(@TempData["ErrorMessage"], null))
        {
            <div class='MessageBox alert alert-danger'><p>@TempData["Notification"]</p></div>
        }
      
        <div class="col-sm-12 title-container">
            <h1 class="left">
                @ZnodeResources.ManageStoresHeading
                <a data-toggle="popover" data-contentwrapper=".popover-content"><i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-original-title="Click Here"></i> </a>                            
            </h1>
            <p class="left">@ZnodeResources.StorefrontDescription</p>
        </div>
        <div class="col-sm-12 search-container">
            <div class="col-lg-6 col-md-8 col-sm-8 nopadding">
                @using (Ajax.BeginForm("List", "Stores", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div class="col-sm-5 nopadding">
                        @Html.TextBoxFor(m => m.SearchStore, new { @placeholder = ZnodeResources.SearchStoresHeader, @Name = "storename" })
                    </div>
                    <div class="col-sm-7 ClearBoth">
                        <button type="submit" name="Search" id="btnSearch" class="btn-text red" title="@ZnodeResources.ButtonSearch">@ZnodeResources.ButtonSearch</button>
                        <button type="reset" class="btn-text grey" title="@ZnodeResources.ButtonClear">@ZnodeResources.ButtonClear</button>                    
                        @*@Html.ActionLink("Clear", "List")*@
                    </div>
                }

            </div>
            <div class="col-lg-6 col-md-4 col-sm-4 nopadding">
                <button type="button" onclick="javascript: location.href = '/Stores/Create';" class="btn-text red pull-right" title="@ZnodeResources.ButtonAddNewStore">@ZnodeResources.ButtonAddNewStore</button>                
            </div>
        </div>
        <div class="col-sm-12 list-container">
            <h3>@ZnodeResources.StoreListHeader</h3>
            @Html.Partial("_List", Model)
        </div>

    </div>
</div>
<div class="popover-content hide">
    <h3>Help</h3>
    <p>You can create a new storefront or manage an existing one. To create a new storefront follow these steps:</p>
    <p>(1) Click the "Add New Store" button</p>
    <p>(2) Add one or more URLs to the store</p>
    <p>(3) Add at least one profile to use as the default anonymous profile</p>
    <p>(4) Add at least one profile to use as the default registered profile</p>
    <p>(5) Configure other store settings including SMTP, Currencies, Shipping and Analytics </p>
</div>

@*Script For PopOver Contain*@
<script>
    $(function () {
        $('[data-toggle="popover"]').popover({
            html: true,
            placement: 'bottom',
            content: function () {
                return $($(this).data('contentwrapper')).html();
            }
        });
    })
</script>

