﻿@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 stord-title">
        <h1 class="left">
            Manage Stores
        </h1>        
    </div>
    <div class="col-sm-12 nopadding">
        <button type="button" onclick="javascript: location.href = 'list';" class="btn-text red pull-right top-btn" title="Back">Back</button>
    </div>
    @using (Html.BeginForm())
    {
        <div class="col-sm-12 nopadding">
            <div class="manage-stores-container">
                <div class="tab-container">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="#panel-1" data-toggle="tab" class="tabs">@ZnodeResources.TabGeneral</a></li>
                        <li><a href="#panel-2" data-toggle="tab" class="tabs">@ZnodeResources.TabCatalog</a></li>
                        <li><a href="#panel-3" data-toggle="tab" class="tabs">@ZnodeResources.TabUrl</a></li>
                        <li><a href="#panel-4" data-toggle="tab" class="tabs">@ZnodeResources.TabProfile</a></li>
                        <li><a href="#panel-5" data-toggle="tab" class="tabs">@ZnodeResources.TabDisplay</a></li>
                        <li><a href="#panel-6" data-toggle="tab" class="tabs">@ZnodeResources.TabUnits</a></li>
                        <li><a href="#panel-7" data-toggle="tab" class="tabs">@ZnodeResources.TabContries</a></li>
                        <li><a href="#panel-8" data-toggle="tab" class="tabs">@ZnodeResources.TabShipping</a></li>
                        <li><a href="#panel-9" data-toggle="tab" class="tabs">@ZnodeResources.TabJavaScript</a></li>
                        <li><a href="#panel-10" data-toggle="tab" class="tabs">@ZnodeResources.TabSMTP</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="panel-1">
                            <div class="row general-stores">
                                <div class="col-lg-4 col-md-4 col-sm-12 border-right">
                                    <h3 class="title">Store Identity</h3>
                                    <div class="form-group">
                                        <div class="col-sm-3 nopadding">
                                            <label class="required">Store Name:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" placeholder="Store Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3 nopadding">
                                            <label class="required">Brand Name:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" placeholder="Brand Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <img src="~/Content/themes/base/images/upload-img.jpg" class="img-responsive upload-img" alt="Upload User Image" />
                                        </div>
                                        <div class="col-sm-6">
                                            <h5>Select an Option:</h5>
                                            <label>
                                                <input type="radio" name="select-option" />
                                                <span class="lbl padding-8"> Keep Current Image</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="select-option" />
                                                <span class="lbl padding-8"> Upload New Image</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group security-container">
                                        <h3 class="title">Security</h3>
                                        <label>
                                            <input type="checkbox" name="" value="true" />
                                            <span class="lbl padding-8"> Enable Secure Socket Layer (SSL) for this store </span>
                                        </label>
                                    </div>


                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-12 border-right">
                                    <h3 class="title">Store Contact Information</h3>
                                    <p class="store-info">The emails you specify will be used to send orders, alerts and other notifications. Use a comma to separate multiple emails.</p>
                                    <div class="form-group">
                                        <div class="col-sm-3 nopadding">
                                            <label class="required">Administrator Email:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" placeholder="Administrator Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3 nopadding">
                                            <label class="required">Sales Department Email:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" placeholder="Sales Department Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3 nopadding">
                                            <label class="required">Customer Service Email:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" placeholder="Customer Service Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3 nopadding">
                                            <label class="required">Sales Department Phone Number:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" placeholder="999 999 9999">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3 nopadding">
                                            <label class="required">Customer Service Phone Number:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" placeholder="999 999 9999">
                                        </div>
                                    </div>


                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <h3 class="title">Default Settings</h3>
                                    <div class="form-group">
                                        <div class="col-sm-3 nopadding">
                                            <label>Default Customer Review Status:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <select>
                                                <option>Publish Immediately</option>
                                                <option>Option-1</option>
                                                <option>Option-2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3 nopadding">
                                            <label>Default Order Status:</label>
                                            <p class="disable-msg">When a new order is placed, it will be automatically set to this status.</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <select>
                                                <option>Submitted</option>
                                                <option>Option-1</option>
                                                <option>Option-2</option>
                                            </select>
                                            <label class="req-approval">
                                                <input type="checkbox" name="" value="true" /><span class="lbl padding-8">Require manual approval of every order.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6 nopadding">
                                            <label>Include Taxes In Product Price:</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>
                                                <input type="checkbox" name="" value="true" /><span class="lbl padding-8"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6 nopadding">
                                            <label>Enable Persistent Cart:</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>
                                                <input type="checkbox" name="" value="true" /><span class="lbl padding-8"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6 nopadding">
                                            <label>Enable Address Validation:</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>
                                                <input type="checkbox" name="" value="true" /><span class="lbl padding-8"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6 nopadding">
                                            <label>Require Validated Address:</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>
                                                <input type="checkbox" name="" value="true" /><span class="lbl padding-8"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6 nopadding">
                                            <label>Enable Customer Based Pricing:</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>
                                                <input type="checkbox" name="" value="true" /><span class="lbl padding-8"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3 nopadding">
                                            <label>Default Product Review Status:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <select>
                                                <option>Pending Approval</option>
                                                <option>Option-1</option>
                                                <option>Option-2</option>
                                            </select>
                                            <p class="disable-msg">The status selected will appear when a product is added by a franchise or mall adminThe status selected will appear when a product is added by a franchise or mall admin</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="panel-2">
                            <div class="pull-right">
                                <button type="submit" class="btn-text red">Associate Catalog</button>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="panel-3">
                            @Html.Partial("_Url")
                        </div>

                        <div class="tab-pane fade" id="panel-4">
                            <h3 class="title">Panel-4</h3>
                        </div>

                        <div class="tab-pane fade" id="panel-5">
                            <h3 class="title">Panel-5</h3>
                        </div>

                        <div class="tab-pane fade" id="panel-6">
                            <h3 class="title">Panel-6</h3>
                        </div>

                        <div class="tab-pane fade" id="panel-7">
                            <h3 class="title">Panel-7</h3>
                        </div>

                        <div class="tab-pane fade" id="panel-8">
                            <h3 class="title">Panel-8</h3>
                        </div>

                        <div class="tab-pane fade" id="panel-9">
                            <h3 class="title">Panel-9</h3>
                        </div>

                        <div class="tab-pane fade" id="panel-10">
                            <h3 class="title">Panel-10</h3>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    }
</div>











    @*<h2>Manage</h2>

    @Html.ActionLink("Back", "List")


    @using (Html.BeginForm())
    {

        <div class="container main-wrapper">
            <div class="Tab-container">
                <ul id="myTab" class="nav nav-tabs">
                    <li><a href="#panel-1" data-toggle="tab" class="tabs">@ZnodeResources.TabGeneral</a></li>
                    <li><a href="#panel-2" data-toggle="tab" class="tabs">@ZnodeResources.TabCatalog</a></li>
                    <li class="active"><a href="#panel-3" data-toggle="tab" class="tabs">@ZnodeResources.TabUrl</a></li>
                    <li><a href="#panel-4" data-toggle="tab" class="tabs">@ZnodeResources.TabProfile</a></li>
                    <li><a href="#panel-5" data-toggle="tab" class="tabs">@ZnodeResources.TabDisplay</a></li>
                    <li><a href="#panel-6" data-toggle="tab" class="tabs">@ZnodeResources.TabUnits</a></li>
                    <li><a href="#panel-7" data-toggle="tab" class="tabs">@ZnodeResources.TabContries</a></li>
                    <li><a href="#panel-8" data-toggle="tab" class="tabs">@ZnodeResources.TabShipping</a></li>
                    <li><a href="#panel-9" data-toggle="tab" class="tabs">@ZnodeResources.TabJavaScript</a></li>
                    <li><a href="#panel-10" data-toggle="tab" class="tabs">@ZnodeResources.TabSMTP</a></li>
                </ul>
                <div id="tabContents" class="tab-content">
                    <!--Panels 1-->
                    <div class="tab-pane fade in active" id="panel-3">
                        @Html.Partial("_Url")
                    </div>
                    <!--Panels 2-->

                </div>
            </div>
        </div>

    }*@
