<%@ Control Language="C#" AutoEventWireup="true" Inherits="Znode.Engine.Demo.Controls_Default_Checkout_StepTracker" Codebehind="StepTracker.ascx.cs" %>
<span style="text-transform:uppercase;" class='<% =Step1Css%>'>1:
    <asp:Localize ID="Localize5" runat="server" meta:resourceKey="txtYourAddress"></asp:Localize></span>
<span style="text-transform:uppercase;" class='<% =Step2Css%>'>2:
    <asp:Localize ID="Localize1" runat="server" meta:resourceKey="txtOrderandPayment"></asp:Localize></span>

