﻿@model Znode.Engine.MvcAdmin.ViewModels.PromotionsListViewModel
@using Resources;

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div>
    @{
        WebGrid grid = new WebGrid(rowsPerPage: 5, ajaxUpdateContainerId: "grid-container");
        if (!Equals(Model, null) && !Equals(Model.Promotions, null))
        {
            grid.Bind(source: Model.Promotions, rowCount: Model.TotalResults, autoSortAndPage: false);
        }
    }

    @if (!Equals(Model, null) && !Equals(Model.Promotions, null))
    {

        <div id="grid">
            @grid.GetHtml(
                htmlAttributes: new { id = "promotionList", @class = "table" },
                headerStyle: "grid-header",
                columns: grid.Columns(
                grid.Column(header: "ID", format:@<span><span id="spanName_@item.PromotionId">@item.PromotionId</span></span>),
                grid.Column(header: "Promotion Name",format: @<span> <span id="spanName_@item.Name">@item.Name</span></span>),
                grid.Column(header: "Store Name",format: @<span> <span id="spanName_@item.Portal.StoreName">@item.Portal.StoreName</span></span>),
                grid.Column(header: "Profile",format: @<span> <span id="spanName_@item.Profile.Name">@item.Profile.Name</span></span>),
                grid.Column(header: "Amount",format: @<span> <span id="spanName_@item.Discount">@item.Discount</span></span>),
                grid.Column(header: "Discount Type",format: @<span> <span id="spanName_@item.PromotionType.Name">@item.PromotionType.Name</span></span>),
                grid.Column(header: "Display Order",format: @<span> <span id="spanName_@item.DisplayOrder">@item.DisplayOrder</span></span>),
                grid.Column(header: "Start Date",format: @<span> <span id="spanName_@item.StartDate">@item.StartDate.ToString("MM/dd/yyyy")</span></span>),
                grid.Column(header: "End Date",format: @<span> <span id="spanName_@item.EndDate">@item.EndDate.ToString("MM/dd/yyyy")</span></span>),
                grid.Column(header: "Coupon Code",format: @<span> <span id="spanName_@item.CouponCode">@item.CouponCode</span></span>),
                grid.Column(header:@ZnodeResources.LabelAction,format:@<text>@Html.ActionLink(ZnodeResources.LabelEdit, ZnodeResources.LabelEdit, new { PromotionId = item.promotionId }, new { @title = ZnodeResources.LabelEdit })</text>),
                grid.Column(header: "",format:@<text>@Html.Raw("<span title='" + ZnodeResources.LabelDelete + "' onclick='CommonHelper.BindDeleteConfirmDialog(\" " + ZnodeResources.ConfirmDeleteTitle + "\", \" " + ZnodeResources.ConfirmDeleteMessage + "\", \"/" + controllerName + "/" + ZnodeResources.LabelDelete + "/" + @item.PromotionId + "\");'>" + ZnodeResources.LabelDelete + "</span>")</text>)
                ))
            @grid.CustomPager(Html)
        </div>
    }
    else
    {
        <div>@ZnodeResources.NoRecordFoundMessageText</div>
    }
</div>
