﻿@model Znode.Engine.MvcAdmin.ViewModels.PromotionsViewModel       
@using Resources;

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<h1>@ZnodeResources.LabelSerachProduct</h1>
<div>
    <div class="form-group">
        @Html.Label(@ZnodeResources.LabelKeyword)
        @Html.TextBox("txtKeyword")
    </div>

    <div class="form-group">
        <button type="submit" name="Search" id="btnSearch" class="btn-text red">@ZnodeResources.ButtonSearch</button>
        <button type="reset" class="btn-text grey" title="Clear">@ZnodeResources.ButtonClear</button>
    </div>

    <h4>@ZnodeResources.LabelProductList</h4>
    <p>@ZnodeResources.TextProductList</p>

    @{
        WebGrid grid = new WebGrid(rowsPerPage: 5, ajaxUpdateContainerId: "grid-container");
        if (!Equals(Model, null) && !Equals(Model.ProductList.Products, null))
        {
            grid.Bind(source: Model.ProductList.Products, rowCount: Model.TotalResults, autoSortAndPage: false);
        }
    }

    @if (!Equals(Model, null) && !Equals(Model.ProductList.Products, null))
    {
        <div id="grid">
            @grid.GetHtml(
                htmlAttributes: new { id = "promotionProductList", @class = "table" },
                headerStyle: "grid-header",
                columns: grid.Columns(
                 grid.Column(header: "Product Name", format: (item) => new HtmlString("<a href='#' id='lnkProduct_" + @item.ProductId + "' onclick='Promotion.GetPromotionProductName(" + @item.ProductId + ")' ProductId='" + @item.ProductId + "' name='" + @item.Name + "' sku='" + @item.Sku + "'>" + @item.Name + "</a>")),                
                grid.Column(header: "Poduct Code",format: @<span> <span id="spanName_@item.ProductId">@item.ProductCode</span></span>),
                grid.Column(header: "Is Active",format: @<span> <span id="spanName_@item.ProductId">@item.IsActive</span></span>)
                ))
            @grid.CustomPager(Html)
        </div>
    }
    else
    {
        <div>@ZnodeResources.NoRecordFoundMessageText</div>
    }   
</div>