﻿@model Znode.Engine.MvcAdmin.ViewModels.PromotionsViewModel
@using Resources;

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

@using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
{
    <div class="form-group">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.PromotionTypeList)
        </div>
        <div class="col-sm-8">
            @Html.DropDownListFor(model => model.PromotionTypeId, Model.PromotionTypeList, new { @id = "ddlPromotionType", @onchange = "Promotion.GetPromotionType();" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.PortalList)
        </div>
        <div class="col-sm-8">
            @Html.DropDownListFor(model => model.PortalId, Model.PortalList, ZnodeResources.LabelAllPortals, new { @id = "ddlPortal" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.ProfileList)
        </div>
        <div class="col-sm-8">
            @Html.DropDownListFor(model => model.ProfileId, Model.ProfileList, ZnodeResources.LabelAllProfiles, new { @id = "ddlProfile" })
        </div>
    </div>
    <div class="form-group" id="discount-amount">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.Discount)
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.Discount)
            @Html.ValidationMessageFor(model => model.Discount, null, new { @id = "valDiscount" })
        </div>
    </div>
    <div class="form-group" id="discount-product">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.DiscountProduct)
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.DiscountProduct)
            @Html.ValidationMessageFor(model => model.DiscountProduct, null, new { @id = "valDiscountProduct" })

        </div>
    </div>
    <div class="form-group" id="product-sku">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.SKU)
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.SKU)
            @Html.ValidationMessageFor(model => model.SKU, null, new { @id = "valsku" })

        </div>
    </div>
    <div id="show_product" style="display:none">
        @Html.Partial("_productlist", Model)
    </div>
    <button id="btnProduct" type="button" onclick="Promotion.ShowProductListPopUp('#show_product');">product</button>

    <div class="form-group" id="require-product">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.RequireProduct)
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.RequireProduct)
            @Html.ValidationMessageFor(model => model.RequireProduct, null, new { @id = "valRequiredProduct" })
        </div>
        <button id="nxtbtnProduct" type="button" onclick="Promotion.ShowProductListPopUp('#show_product');">product</button>
    </div>
    <div class="form-group" id="manufacturer-list">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.ManufacturerList)
        </div>
        <div class="col-sm-8">
            @Html.DropDownListFor(model => model.ManufacturerId, Model.ManufacturerList, ZnodeResources.LabelAllBrands, new { @id = "ddlManufacturer" })
        </div>
    </div>
    <div class="form-group" id="catalog-list">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.CatalogList)
        </div>
        <div class="col-sm-8">
            @Html.DropDownListFor(model => model.CatalogId, Model.CatalogList, ZnodeResources.LabelAllCatalogs, new { @id = "ddlCatalog" })
        </div>
    </div>
    <div class="form-group" id="category-list">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.CategoryList)
        </div>
        <div class="col-sm-8">
            @Html.DropDownListFor(model => model.CategoryId, Model.CategoryList, ZnodeResources.LabelAllCategories, new { @id = "ddlCategory" })
        </div>
    </div>
    <div class="form-group" id="quantity-minimum">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.QuantityMinimum)
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.QuantityMinimum)
            @Html.ValidationMessageFor(model => model.QuantityMinimum, null, new { @id = "valQuantityMinimum" })
        </div>
    </div>
    <div class="form-group" id="discounted-product-quantity">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.DiscountedProductQuantity)
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.DiscountedProductQuantity)
        </div>
    </div>
    <div class="form-group" id="order-minimum">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.OrderMinimum)
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.OrderMinimum)
            @Html.ValidationMessageFor(model => model.OrderMinimum, null, new { @id = "valOrderMinimum" })
        </div>
    </div>
    <div class="form-group" id="lblChkBox">
        
        <div class="col-sm-8 col-sm-offset-4">
            <input id="EnableToCouponCode" name="EnableToCouponCode" type="checkbox" value="true" onchange="Promotion.ShowHideCouponInfo();">
            <span class="lbl padding-8">@ZnodeResources.LabelRequireCoupon</span>
            <input name="IsActive" type="hidden" value="false">
        </div>
    </div>
    <div class="form-group" id="coupon-code" style="display:none">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.CouponCode)
        </div>
        <div class="col-sm-8">
           @Html.TextBoxFor(model => model.CouponCode)
        @Html.ValidationMessageFor(model => model.CouponCode, null, new { @id = "valCouponCode" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.CouponQuantityAvailable)
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.CouponQuantityAvailable, new { @Value = 99 })
            @Html.ValidationMessageFor(model => model.CouponQuantityAvailable)
        </div>
    </div>
    <div class="form-group" id="coupon-message" style="display:none">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.PromotionMessage)
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.PromotionMessage)
        </div>
    </div>
    @Html.HiddenFor(model => model.RequiredProductId, new { @id = "hdnRequireProductId" })
    @Html.HiddenFor(model => model.DiscountedProductId, new { @id = "hdnDiscountedProductId" })
}