﻿@model Znode.Engine.MvcAdmin.ViewModels.PromotionsViewModel
@using Resources;

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @if (actionName.ToLower() == "Create".ToLower())
        {
            <h2>@ZnodeResources.HeaderAddNewPromotion</h2>
        }
        else
        {
            <h2>@ZnodeResources.HeaderEditPromotion @Model.Name</h2>
        }
        </div>
    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
    {
        <div class="col-sm-12 add-new-item">
            @Html.ValidationSummary(true)
            <div class="col-sm-12 col-md-6 col-lg-5 item-group">
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="col-sm-8">
                       @Html.TextBoxFor(model => model.Name)
                       @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.Description)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.Description)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                       @Html.LabelFor(model => model.StartDate)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.StartDate)
                        @Html.ValidationMessageFor(model => model.StartDate)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.EndDate)
                        <span class="sub">@ZnodeResources.LabelProductTypeDescription</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.EndDate)
                        @Html.ValidationMessageFor(model => model.EndDate, null, new { @id = "valEndDate" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                       @Html.LabelFor(model => model.PromoCode)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.PromoCode)
                        @Html.ValidationMessageFor(model => model.PromoCode)
                        <div id="divProductAttributes">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.DisplayOrder)
                    </div>
                    <div class="col-sm-8">
                       @Html.TextBoxFor(model => model.DisplayOrder)
                       @Html.ValidationMessageFor(model => model.DisplayOrder)
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-5 col-lg-offset-1 item-group">
                <div class="form-group">
                    @Html.Partial("_PromotionGroup")
                    @if (actionName.ToLower() == "Edit".ToLower())
                    {
                        @Html.HiddenFor(model => model.PromotionId)
                    }                    
                    <div class="pull-right left-shift">
                        <button type="submit" class="btn-text red" onclick="return Promotion.ValidateAttributes();"> @ZnodeResources.ButtonSubmitRequest</button>
                        <button type="button" class="btn-text grey" onclick="javascript: location.href = '/Promotion/List';">@ZnodeResources.ButtonCancel</button>
                    </div>
                </div>
            </div>
                                    
              
            </div>
    }
        </div>
        @Scripts.Render("~/bundle/Promotion")
