﻿@model Znode.Engine.MvcAdmin.ViewModels.PromotionsListViewModel
@using Resources;
@{
    ViewBag.Title = "PromotionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>@ZnodeResources.HeaderPromotionList</h1>
    </div>
    <div class="col-sm-12 search-container">
        <p class="left">@ZnodeResources.TextPromotions</p>
        <button type="submit" class="btn-text red pull-right" onclick="javascript: location.href ='/Promotion/Create';" title="@ZnodeResources.ButtonAddNewPromotion">@ZnodeResources.ButtonAddNewPromotion</button>
    </div>
    <div class="col-sm-12 product-search">
        <div class="col-lg-4 col-md-4 col-sm-12 product-group">
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    @Html.Label(@ZnodeResources.LabelName)
                </div>
                <div class="col-sm-8 col-lg-9">
                    @Html.TextBox("txtName")
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    @Html.Label(@ZnodeResources.LabelCouponCode)
                </div>
                <div class="col-sm-8 col-lg-9">
                    @Html.TextBox("txtCounponCode")
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 product-group">
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    @Html.Label(@ZnodeResources.LabelAmount)
                </div>
                <div class="col-sm-8 col-lg-9">
                    @Html.TextBox("txtAmount")
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    <label>Discount Type</label>
                </div>
                <div class="col-sm-8 col-lg-9">
                    <select>
                        <option>All</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 product-group">
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    @Html.Label(@ZnodeResources.LabelStartDate)
                </div>
                <div class="col-sm-8 col-lg-9">
                    @Html.TextBox("txtStartDate")
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    @Html.Label(@ZnodeResources.LabelEndDate)
                </div>
                <div class="col-sm-8 col-lg-9">
                    @Html.TextBox("txtEnddate")
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 product-group">
            <div class="pull-right">
                <button type="submit" name="Search" id="btnSearch" class="btn-text red" title="@ZnodeResources.ButtonSearch">@ZnodeResources.ButtonSearch</button>
                <button type="reset" name="Clear" id="btnClear" class="btn-text grey" title="@ZnodeResources.ButtonClear">@ZnodeResources.ButtonClear</button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 list-container">
        <h3>@ZnodeResources.SubHeaderGiftCardList</h3>
        <div id="grid">
            @Html.Partial("_List")
        </div>
    </div>
</div>
