﻿.OrderReceipt .Head{background-color: #854620; color:white; font-size: 1.5em; font-weight: bold; padding: .5em; border-bottom: solid 1px #81411C;}
.OrderReceipt .SubHead{color: #854620;font-weight: bold; font-size: 11px; padding-bottom:5px; }
.OrderReceipt .SubHead1{color: #854620;font-weight: bold; font-size: 11px; padding-bottom:5px; Position:Relative; top:-83px;}
.OrderReceipt .SubHeadText{Position:Relative; top:-83px;}
.OrderReceipt .ReceiptTable {font-family: Verdana, Helvetica, sans-serif; color: #333333;font-size: 10px;}
.OrderReceipt .Product {padding-left:5px;padding-right:5px;}
.OrderReceipt .ReceiptText {font-family: Verdana; color: #854620;font-size: 11px;}
.OrderReceipt .DetailsHeader {background-color:#854620; }
.OrderReceipt .DetailsHeader .ForeColor {color:white}
.OrderReceipt .Product table td { border:silver 1px solid; font-family: Verdana, Helvetica, sans-serif; color: #333333;font-size: 10px;}
.OrderReceipt .Feedback{color:#854620;}
.OrderReceipt .Border {font-family: Arial, Helvetica; font-size: 10px; text-align: left; color: #4F893F; border: solid 1px #854620;  margin-top:10px;}
.OrderReceipt .Spacer { margin-bottom:5px; }