﻿@using Znode.Engine.MvcAdmin.ViewModels
@using Resources;
@model ChangePasswordViewModel

@{

}
<div id="layout-account-changepassword" class="col-lg-12 col-md-12 col-sm-12 nopadding">
    <h1 class="location-title">@ZnodeResources.TitleChangePassword</h1>
    <div class="col-lg-6 col-md-6 col-sm-6 nopadding">
        <p>@ZnodeResources.SubTextChangePassword</p>

        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label for="reset_oldpassword">@ZnodeResources.ColumnCurrentPassword*</label>
                @Html.PasswordFor(m => m.OldPassword, new { @type = "password", @id = "reset_oldpassword" })
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
            <div class="form-group">
                <label for="reset_password">@ZnodeResources.ColumnNewPassword*</label>
                @ZnodeResources.ValidPassword
                @Html.PasswordFor(m => m.NewPassword, new { @type = "password", @id = "reset_password" })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <div class="form-group">
                <label for="reset_verify">@ZnodeResources.ColumnReTypeNewPassword*</label>
                @Html.PasswordFor(m => m.ReTypeNewPassword, new { @type = "password", @id = "reset_verify" })
                @Html.ValidationMessageFor(m => m.ReTypeNewPassword)
                @Html.HiddenFor(x => x.UserName)
            </div>
            <div class="form-group">
                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonResetPassword">@ZnodeResources.ButtonResetPassword</button>
                <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript: location.href = '/dashboard/dashboard';">@ZnodeResources.ButtonCancel</button>
            </div>
        }

    </div>
</div>
