﻿@using Znode.Engine.MvcAdmin.ViewModels
@using Resources;
@model AccountViewModel
@{
    Layout = "~/Views/Shared/_OuterPageLayout.cshtml";
}

<div id="layout-forgotpassword" class="col-lg-8 col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-2">
    <div class="col-sm-12 login-container">
        <div class="row login-main">
            <div class="col-sm-6 login-logo">
                <img src="~/Content/themes/base/images/multifront_logo.png" class="img-responsive" />
            </div>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <div class="col-sm-6">
                    <h3 class="login-title">@ZnodeResources.TextResetPassword</h3>
                    <p class="login-form-forgotpassword">@ZnodeResources.SubTextResetPassword</p>
                    <div class="form-group login-field left-inner-icon">
                        <i class="glyphicon glyphicon-user"></i>
                        @Html.TextBoxFor(m => m.UserName, new { @type = "text", @id = "forgot_username", @class = "form-input", @placeholder = @ZnodeResources.ColumnUsername })
                        <span class="login-error">@Html.ValidationMessageFor(m => m.UserName)</span>
                    </div>
                    <div class="form-group login-field left-inner-icon">
                        <i class="glyphicon glyphicon-envelope"></i>
                        @Html.TextBoxFor(m => m.EmailAddress, new { @type = "email", @id = "forgot_email", @class = "form-input-long", @placeholder = @ZnodeResources.ColumnEmailAddress })
                        <span class="login-error">@Html.ValidationMessageFor(m => m.EmailAddress)</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <input type="hidden" id="dynamic-userid" name="userid" value="" />
                    <button type="submit" class="btn-text-forgotpass" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                    <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript: location.href = 'Login';">@ZnodeResources.ButtonCancel</button>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-sm-12 login-container-footer">
                <img src="~/Content/themes/base/images/znode-logo-white.png" class="img-responsive" />
            </div>
        </div>
    </div>

</div>
