﻿@{

    Layout = "~/Views/Shared/_OuterPageLayout.cshtml";
}

<div id="layout-account-login" class="col-lg-8 col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-2">
    <div class="col-sm-12 login-container">
        <div class="row login-main">
            <div class="col-sm-6 login-logo">
                <img src="~/Content/themes/base/images/multifront_logo.png" class="img-responsive" />
            </div>
            <div class="col-sm-6">
                @Html.Partial("_LoginForm")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 login-container-footer">
                <img src="~/Content/themes/base/images/znode-logo-white.png" class="img-responsive" />
            </div>
        </div>
    </div>

    <div class="account-signup-container">


        @*<a href="/account/Signup/@(!string.IsNullOrEmpty(Request.QueryString["returnUrl"]) ? "?returnUrl=" + Request.QueryString["returnUrl"] : "")" class="account-signup-link arrow-right-before">@Resources.ZnodeResource.LinkTextGetAnAccount</a>*@
    </div>
</div>