﻿@using Resources;
@model Znode.Engine.MvcAdmin.ViewModels.ResetPasswordModel
@{
    Layout = "~/Views/Shared/_OuterPageLayout.cshtml";
}
<div id="layout-account-login" class="col-lg-8 col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-2">
    <div class="col-sm-12 login-container">
        <div class="row login-main">
            <div class="col-sm-6 login-logo">
                <img src="~/Content/themes/base/images/multifront_logo.png" class="img-responsive" />
            </div>
            <div class="col-sm-6">
                @using (Html.BeginForm())
                {
                <h3 class="login-title">@ZnodeResources.TitleAdminLogin</h3>                
                <div class="form-group login-field left-inner-icon">
                    <i class="glyphicon glyphicon-user"></i>
                    @Html.TextBoxFor(model => model.Username, new { @id = "admin_username", maxlength = "256", @placeholder = @ZnodeResources.ColumnUsername })
                    <span class="login-error">@Html.ValidationMessageFor(m => m.Username)</span>
                </div>
                <div class="form-group login-field left-inner-icon">
                    <i class="z-key"></i>
                    @Html.PasswordFor(model => model.Password, new { @id = "admin_password", @placeholder =@ZnodeResources.ColumnPassword })
                    <span class="login-error">@Html.ValidationMessageFor(m => m.Password)</span>
                </div>
                <div class="form-group login-field left-inner-icon">
                    <i class="z-key"></i>
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @id = "admin_confirmpassword", @placeholder = @ZnodeResources.ColumnReTypeNewPassword})
                    <span class="login-error">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
                </div>
                <div class="form-group login-field left-inner-icon">
                    <i class="glyphicon glyphicon-envelope"></i>
                    @Html.TextBoxFor(model => model.Email, new { @id = "admin_email", @placeholder = @ZnodeResources.ColumnEmailAddress })
                    <span class="login-error">@Html.ValidationMessageFor(m => m.Email)</span>
                </div>
                <div class="col-sm-12 nopadding"> 
                    <button type="submit" class="btn-text-forgotpass" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                    <button type="button" class="btn-text grey" onclick="javascript: location.href = 'Login';" title="@ZnodeResources.ButtonCancel">@ZnodeResources.ButtonCancel</button>
                </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 login-container-footer">
                <img src="~/Content/themes/base/images/znode-logo-white.png" class="img-responsive" />
            </div>
        </div>
    </div>
   
</div>

