﻿@using Znode.Engine.MvcAdmin.ViewModels
@model ChangePasswordViewModel
@using Resources;

@{
    Layout = "~/Views/Shared/_OuterPageLayout.cshtml";
}
<div id="layout-forgotpassword" class="col-lg-8 col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-2">
    <div class="col-sm-12 login-container">
        <div class="row login-main">
            <div class="col-sm-6 login-logo">
                <img src="~/Content/themes/base/images/multifront_logo.png" class="img-responsive" />
            </div>
            @using (Html.BeginForm())
            {
                <div class="col-sm-6">

                    <h3 class="login-title">@ZnodeResources.TextResetPassword</h3>
                    <p class="login-form-forgotpassword">@ZnodeResources.TextResetChangePassword</p>
                    <div class="form-group login-field left-inner-icon">
                        <i class="z-key"></i>
                        @Html.ValidationSummary(true)
                        @Html.PasswordFor(m => m.NewPassword, new { @type = "password", @id = "reset_password", @placeholder = @ZnodeResources.ColumnNewPassword })
                        <span class="login-error">@Html.ValidationMessageFor(m => m.NewPassword)</span>
                    </div>
                    <div class="form-group login-field left-inner-icon">
                        <i class="z-key"></i>
                        @Html.PasswordFor(m => m.ReTypeNewPassword, new { @type = "password", @id = "reset_verify", @placeholder = @ZnodeResources.ColumnReTypeNewPassword })
                        <span class="login-error">@Html.ValidationMessageFor(m => m.ReTypeNewPassword)</span>
                    </div>
                    @Html.HiddenFor(x => x.PasswordToken)
                    @Html.HiddenFor(x => x.UserName)
                </div>
                <div class="col-sm-6">
                    <button type="submit" class="btn-text-forgotpass" title="@ZnodeResources.ButtonResetPassword">@ZnodeResources.ButtonResetPassword</button>
                    <button type="button" class="btn-text grey" onclick="javascript: location.href = 'Login';" title="@ZnodeResources.ButtonCancel">@ZnodeResources.ButtonCancel</button>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-sm-12 login-container-footer">
                <img src="~/Content/themes/base/images/znode-logo-white.png" class="img-responsive" />
            </div>
        </div>
    </div>

</div>



@*<div id="layout-forgotpassword">
        <div class="location"><h1 class="location-title">@ZnodeResources.TextResetPassword</h1></div>
        <div class="container">
            <p>
                @ZnodeResources.TextResetChangePassword
            </p>
            @using (Html.BeginForm())
            {
                <dl>
                    @Html.ValidationSummary(true)
                    <dt><label for="reset_password">@ZnodeResources.ColumnNewPassword*</label></dt>
                    <dd class="form-helper">  @ZnodeResources.ValidPassword</dd>
                    <dd>@Html.PasswordFor(m => m.NewPassword, new { @type = "password", @id = "reset_password" })</dd>
                    <dd class="form-error">@Html.ValidationMessageFor(m => m.NewPassword)</dd>

                    <dt><label for="reset_verify">@ZnodeResources.ColumnReTypeNewPassword*</label></dt>
                    <dd>@Html.PasswordFor(m => m.ReTypeNewPassword, new { @type = "password", @id = "reset_verify" })</dd>
                    <dd class="form-error">@Html.ValidationMessageFor(m => m.ReTypeNewPassword)</dd>
                    @Html.HiddenFor(x => x.PasswordToken)
                    @Html.HiddenFor(x => x.UserName)
                </dl>
                <p>
                    <button type="submit" class="button button-primary">@ZnodeResources.ButtonResetPassword</button>
                    <button type="button" class="form-cancel" onclick="javascript: location.href = 'Login';">@ZnodeResources.ButtonCancel</button>
                </p>
            }
        </div>
    </div>*@