﻿@model Znode.Engine.MvcAdmin.ViewModels.ShippingOptionListViewModel
@using Resources;
@{
    WebGrid grid = new WebGrid(rowsPerPage: 5, ajaxUpdateContainerId: "grid-container");
    grid.Bind(source: Model.ShippingOptions, rowCount: Model.TotalResults, autoSortAndPage: false);
}
<div>
    @grid.GetHtml(
        htmlAttributes: new { id = "grid", @class = "table" },
        headerStyle: "grid-header",
        columns: grid.Columns(
        grid.Column("ShippingOptionId", header: "ID"),
        grid.Column(columnName: "ShippingType", header: "Shipping Type", format: @<span> <span id="spanName_@item.ShippingType.Name">@item.ShippingType.Name</span></span>),
        grid.Column(header: "Shipping Code",format: @<span> <span id="spanName_@item.ShippingCode">@item.ShippingCode</span></span>),
        grid.Column(header: "Description",format: @<span> <span id="spanName_@item.Description">@item.Description</span></span>),
        grid.Column(header: "Profile",format: @<span> <span id="spanName_@item.ProfileId">@item.ProfileId</span></span>),
        grid.Column(header: "Country Code",format: @<span> <span id="spanName_@item.CountryCode">@item.CountryCode</span></span>),
        grid.Column(header: "Handling Charges",format: @<span> <span id="spanName_@item.HandlingCharge">@item.HandlingCharge</span></span>),
        grid.Column(header: "Display Order",format: @<span> <span id="spanName_@item.DisplayOrder">@item.DisplayOrder</span></span>),
        grid.Column(header: "Enabled",format: @<span> <span id="spanName_@item.IsActive">@item.IsActive</span></span>),
        grid.Column(header: "Action",format:@<text> <a href="#" id="View_@item.ShippingOptionId" class="edit">View</a></text>),
        grid.Column(header: "",format:@<text> <a href="#" id="Edit_@item.ShippingOptionId" class="edit">Edit</a></text>),
        grid.Column(header: "",format:@<text> <a href='#' id='Delete_" + item.ShippingOptionId + "' class='delete'>Delete</a></text>)
          ))
    @grid.CustomPager(Html)
    @Html.Hidden("dir", grid.SortDirection) @Html.Hidden("col", grid.SortColumn)
</div>

