﻿@model Znode.Engine.MvcAdmin.ViewModels.ShippingOptionListViewModel

@{
    ViewBag.Title = "ShippingOptionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="grid-container">    
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 stord-title">
            <h1 class="left">
                @ZnodeResources.ShippingOptionHeading            
        </h1>        
    </div>
    <div class="col-sm-12 stord-search">
        <div class="col-sm-12 nopadding">
            <p class="left">@ZnodeResources.ShippingOptionDescription</p>
            <button type="submit" id="" class="btn-text red pull-right" title="ADD NEW SHIPPING OPTION">Add New Shipping Option</button>            
        </div>
    </div>
    <div class="col-sm-12 stord-list">
        <h3>@ZnodeResources.HeadingShippingOptionList</h3>
        @Html.Partial("_List", Model)
    </div>

</div>
</div>