﻿@model Znode.Engine.MvcAdmin.ViewModels.ManageBannerViewModel
@using Resources

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

@{
    if (Model.IsEditMode)
    {
        <h2>@string.Format(ZnodeResources.TitleManageBanner,Model.Key)</h2>
    }
    else
    {
        <h2>@ZnodeResources.TitleCreateBanner</h2>
    }
}

@using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
{
    <div class="col-sm-6">
        @Html.ValidationSummary(true)
        @Html.Label("ddlPortalList", ZnodeResources.LabelSelectStore)
        @Html.DropDownListFor(model => model.PortalID, Model.Portal, new { @id = "ddlPortalList" })
        <br />

        @Html.Label("", ZnodeResources.LabelLocation)

        @if (!(Equals(Model, null)) && Model.BannerKeys.Count > 0)
        {
            @Html.DropDownListFor(m => m.Key, Model.BannerKeys, new { @id = "ddlBannerKeys", @Onclick = "Banner.DisplayMessageKeyTextBox(); return false;" })
            @Html.TextBoxFor(model => model.MessageKey, new { @id = "txtMessagekey", @style = "display:None;" })
            <button type="button" id="btnBannerMessageKey" class="btn-text red" style="display:none;" onclick="Banner.ClearSelection(); return false;">@ZnodeResources.ButtonCancel</button>
            @Html.ValidationMessageFor(m => m.MessageKey)
        }
        else
        {
            @Html.TextBoxFor(model => model.MessageKey, new { @id = "txtMessagekey" })
            @Html.ValidationMessageFor(m => m.MessageKey)
        }
       <br />
        @Html.Label("txtSeoUrl", ZnodeResources.LabelSeoPageUrl)
        @Html.TextBoxFor(model => model.PageSEOName, new { @id="txtSeoUrl"})
        @Html.ValidationMessageFor(m => m.PageSEOName)

        @Html.Label("txtDescription", ZnodeResources.LabelDescription)
        @Html.TextBoxFor(model => model.Description, new { @id = "txtDescription" })
        @Html.ValidationMessageFor(m => m.Description)

        @Html.Label("txtBannerContent", ZnodeResources.LabelBannerContent)
        @Html.EditorFor(model => model.Value, new { @id = "txtBannerContent" })
        @Html.ValidationMessageFor(m => m.Value)
        @Html.HiddenFor(m => m.Key, new {@id="hdnMessageKey" })
        @Html.HiddenFor(m=>m.MessageID)
        <button type="submit" class="btn-text red"> @ZnodeResources.ButtonSubmitRequest</button>
        <button type="button" class="btn-text red">@Html.ActionLink("Cancel", "List")</button>
       
    </div>
}
<script src="~/Scripts/CustomScripts/Banner.js"></script>