﻿@model Znode.Engine.MvcAdmin.ViewModels.ManageMessageListViewModel
@using Resources
<div>
    <div>
        @Html.ActionLink("Add Banner", "Create", "ManageBanner")
    </div>

    <h1>@ZnodeResources.HeaderManageBanner</h1>
    <p>@ZnodeResources.DescriptionManageBanner</p>
</div>

<div>
    <h4>@ZnodeResources.SubHeaderSearchBanner</h4>
    @Html.LabelFor(model => model.Message)
    @Html.TextBoxFor(model => model.Message)

    @Html.LabelFor(model => model.StoreName)
    @Html.DropDownList("Type", new SelectList(Model.Portal, "PortalId", "StoreName"), "All Stores", new { @id = "ddlPortalList" })

    <div class="ClearBoth">
        <input type="button" name="Clear" value=@ZnodeResources.ButtonClear id="btnClear" class=" cancelbutton" />
        <input type="submit" name="Search" value=@ZnodeResources.ButtonSubmitRequest id="btnSearch" class="submitbutton" />
    </div>
</div>
<div>
    <h4 class="GridTitle">
        @ZnodeResources.SubHeaderAvailableCustomBanner
    </h4>

</div>
<div class="dataList">
    @Html.Partial("_List")
</div>


