<%@ Control Language="C#" AutoEventWireup="true" EnableViewState="false" Inherits="Znode.Engine.Demo.Controls_Default_CustomMessage_CustomMessage" Codebehind="CustomMessage.ascx.cs" %>
<asp:Label id="lblMsg" runat="server"></asp:Label> 