﻿@model Znode.Engine.MvcAdmin.ViewModels.ManufacturersListViewModel
@using Resources

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

@if (!Equals(Model, null) && Model.Manufacturers.Count > 0)
{
    <div>
        @{

    WebGrid grid = new WebGrid(rowsPerPage: Model.RecordPerPage, ajaxUpdateContainerId: "grid-container");
    grid.Bind(source: Model.Manufacturers, rowCount: Model.TotalResults, autoSortAndPage: false);

        }
        <div id="grid">
            @grid.GetHtml(
            htmlAttributes: new { id = "manufacturersList", @class = "table" },
            fillEmptyRows: false,
            mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",
            columns: new[] {
                grid.Column(header: @ZnodeResources.TitleManufacturerID,format: @<span> <span id="spanName_@item.ManufacturerId">@item.ManufacturerId</span></span>),
                grid.Column(header: @ZnodeResources.TitleManufacturerName,format: @<span> <span id="spanName_@item.Name">@item.Name</span></span>),
                grid.Column(header: @ZnodeResources.TitleManufacturerIsActive,format: @<span> <span id="spanName_@item.IsActive">@item.IsActive</span></span>),
                grid.Column(header: @ZnodeResources.LabelAction,format:@<text>@Html.ActionLink(ZnodeResources.LabelEdit, ZnodeResources.LabelEdit, new { @id = @item.ManufacturerID })  </text>),
                grid.Column(header: "",format:@<text>@Html.Raw("<span onclick='CommonHelper.BindDeleteConfirmDialog(\" " + ZnodeResources.ConfirmDeleteTitle + "\", \" " + ZnodeResources.ConfirmDeleteMessage + "\", \"/" + controllerName + "/" + ZnodeResources.LabelDelete + "/" + @item.ManufacturerId + "\");'>" + ZnodeResources.LabelDelete + "</span>")</text>)
                }
   )
            @grid.CustomPager(Html)
            @Html.Hidden("dir", grid.SortDirection) @Html.Hidden("col", grid.SortColumn)
        </div>
    </div>
}
else
{
    <div>@ZnodeResources.NoRecordFoundMessageText</div>
}