﻿@model Znode.Engine.MvcAdmin.ViewModels.ManufacturersViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleStoreManagement;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            if (actionName.ToLower().Equals("create"))
            {
                <h1 class="left">@ZnodeResources.SubHeaderAddNewAttributeType</h1>
            }
            else
            {
                <h1 class="left">@ZnodeResources.SubHeaderEditAttributeType</h1>
            }
        }
    </div>
    
    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
    {

        <div class="col-sm-5 add-new-container">
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="col-sm-3 nopadding">
                    @Html.LabelFor(model => model.Name, new { @class = "Required" })
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Name, new { @maxlength = 50 })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>                                
            </div>
            <div class="form-group">
                <div class="col-sm-3 nopadding">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="col-sm-9">
                    @Html.TextAreaFor(model => model.Description)
                </div>                               
            </div>
            <div class="form-group">
                <div class="col-sm-3 nopadding">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>                                 
            </div>
            <div class="form-group">
                <div class="col-sm-3 nopadding">
                    @Html.LabelFor(model => model.IsActive)
                </div>
                <div class="col-sm-9">
                    @*@Html.CheckBox("IsActive", new { @checked = Model == null ? true : Model.IsActive })*@
                    <input type="checkbox" value="true" name="IsActive" id="IsActive" data-val-required="The Is Active? field is required." data-val="true" checked="True">
                    <span class="lbl padding-8"></span>
                    <input type="hidden" value="false" name="IsActive">
                </div>                                               
            </div>

            @if (actionName.ToLower().Equals("edit"))
            {
                @Html.HiddenFor(model => model.ManufacturerId)
            }
            <div class="pull-right">
                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest "> @ZnodeResources.ButtonSubmitRequest</button>
                <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript: location.href = '/Manufacturers/List';">@ZnodeResources.ButtonCancel</button>
            </div>
        </div>
    }
</div>
