﻿@model Znode.Engine.MvcAdmin.ViewModels.ManufacturersListViewModel
@using Resources

@{
    ViewBag.Title = ZnodeResources.HeaderManufacturer;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    string completeUrl = '/' + controllerName + '/' + actionName;
}
<div class="id=" grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">
                @ZnodeResources.HeaderManufacturer
                <a data-toggle="popover" data-contentwrapper=".popover-content"><i class="glyphicon glyphicon-question-sign"></i> </a>
            </h1>
            <p class="left">@ZnodeResources.ManufacturerSubMessage</p>
        </div>
        <div class="col-sm-12 search-container">
            <div class="col-lg-6 col-md-6 col-sm-8 nopadding">
                @using (Ajax.BeginForm(actionName, controllerName, new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div class="col-sm-5 nopadding">
                        @Html.TextBox("name")
                    </div>
                    <div class="col-sm-7 ClearBoth">
                        <button type="submit" name="Search" id="btnSearch" class="btn-text red" title="@ZnodeResources.ButtonSearch">@ZnodeResources.ButtonSearch</button>
                        <button type="reset" id="btnClear" class="btn-text grey" title="@ZnodeResources.ButtonClear">@ZnodeResources.ButtonClear</button>
                    </div>
                }
            </div>
            <div class="col-lg-6 col-md-6 col-sm-4 nopadding">
                <button class="btn-text red pull-right" title="ADD BRAND" onclick="javascript:location.href='@Url.Content("Create")'">Add Brand</button>
            </div>
        </div>
        <div class="col-sm-12 list-container">
            <h3>@ZnodeResources.ManufacturerSearch</h3>
            <div>
                @Html.Partial("_List", Model)
            </div>
        </div>
    </div>
</div>