<%@ Control Language="C#" AutoEventWireup="true" EnableViewState="false" Inherits="Znode.Engine.MallAdmin.Controls_CustomMessage" Codebehind="CustomMessage.ascx.cs" %>
<asp:Label id="lblMsg" runat="server"></asp:Label> 