<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="Znode.Engine.MallAdmin.Controls_ShoppingCartProduct_ProductTitle" Codebehind="ProductPrice.ascx.cs" %>
    <asp:Localize ID="Localize5" runat="server" Text="Price: "></asp:Localize>:
    <asp:Label ID="Price" runat="server" EnableViewState="false" ></asp:Label>
