@model Znode.Framework.Api.HelpPage.Models.HelpPageApiModel

@{
    var description = Model.ApiDescription;
    ViewBag.Title = description.HttpMethod.Method + " " + description.RelativePath;
}

<div id="body">
    <section class="clear-fix">
        @Html.DisplayFor(m => Model)
    </section>
</div>
