@using System.Web.Http.Description
@using System.Collections.ObjectModel
@model Collection<ApiDescription>

@{
    // Group APIs by controller
    var apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor.ControllerName);
	var endpointsCount = apiGroups.Sum(@group => @group.Count());
}

<script type="text/javascript">
	$(document).ready(function() {
		$("#api-groups").change(function() {
			window.location = "#" + $("#api-groups").val();
		});
	});
</script>

<div id="body">
	<section class="api-groups-meta clear-fix">
		<table>
			<tr>
				<th align="center">Groups</th>
				<th align="center">Endpoints</th>
				<th>Jump to...</th>
			</tr>
			<tr>
				<td align="center">@apiGroups.Count</td>
				<td align="center">@endpointsCount</td>
				<td>
					<select id="api-groups">
						<option value=""></option>
						@foreach (var group in apiGroups)
						{
							<option value="@group.Key">@group.Key</option>
						}
					</select>
				</td>
			</tr>
		</table>
	</section>

	<section class="clear-fix">
		@foreach (var group in apiGroups)
		{
			@Html.DisplayFor(m => group, "ApiGroup")
		}
	</section>
</div>
