﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Themes/Standard/content.master" AutoEventWireup="true" CodeBehind="View.aspx.cs" Inherits="Znode.Engine.Common.Znode.Engine.Admin.Secure.Help.View" %>
<asp:Content ID="Content1" ContentPlaceHolderID="uxMainContent" runat="server">
<h1><asp:Label ID="lblerror" runat="server" ></asp:Label></h1>
</asp:Content>
