﻿/***********************************************************/
/*	ZNode Multifront Stylesheet
/*	Copyright 2004-2010, www.znode.com, All Rights Reserved.
/***********************************************************/

/**************************************************/
/* GLOBAL                                  
/**************************************************/
Body {font-family: Arial,Helvetica,sans-serif; font-size:12px;color:#000000;text-align:left;margin:auto;padding:auto;padding-left:5px;padding-right:5px;}

/***************************************************/
/* COMMON STYLES 
/***************************************************/
.Title {background-color:#0073BB;font-size:12px;font-weight:bold;text-align:left;color:#ffffff;padding:5px;text-transform:capitalize;}
.Borderbottom {border:1px solid #858586;}
.Error { font-weight: bold; color: #ff0000; font-size: 12px; margin-bottom: 5px; margin-top: 5px; }
a:link {color:#3F64DF; text-decoration: underline;}
a:Visited {color:#3F64DF; text-decoration: underline;}
a:Hover {color:#3F64DF; text-decoration: underline;}

a.Button 
{
    color: #f2f2f2;background-color:#53B53A; 
    font-style:normal;font-weight: bold;font-size: 7pt;
    display:inline-block;
    text-transform: uppercase;
    padding:5px 10px 5px 10px;
    vertical-align:middle;text-align:center;text-decoration:none;    
}

/**************************************************/
/* Header 
/**************************************************/
.Header {display:inline-block;width:100%;margin-bottom:10px;}
.Header .Logo {float:left;margin-top:5px;}
.Header .SiteLinks {text-align:right;padding-top:40px;}
.Header .SiteLinks .Link {font-family:Arial;font-size:12px;color:#3F64DF;margin-left:5px;text-decoration:underline;}

/*********************/
/* Footer 
/*********************/
.Footer {text-align:center;margin-bottom:20px;margin-top:10px;}
.Footer .FooterLinks {font-family:Arial;font-size:12px;color:#3F64DF;margin-left:15px;text-decoration:underline;}

/**************************************************/
/*  SPECIALS PAGE (FEATURED)                                
/**************************************************/
#Specials { text-align: left;}
#Specials .Title {}
#Specials .SpecialItem {margin-top:5px; margin-bottom:5px;display:inline-block;}
#Specials .SpecialItem .LeftContent {float:left; margin-right:10px;width:100px;display:inline-block;}
#Specials .SpecialItem .Image {text-align:center;}
#Specials .SpecialItem .RightContent {margin-left:110px;}
#Specials .SpecialItem .DetailLink {font-family:Arial;font-weight:bold;color:#3F64DF;font-size:12px;height:auto;}
#Specials .SpecialItem .ShortDescription {font-size:12px;text-align:left;font-family:Arial;font-weight:normal;margin-top:5px;margin-right:5px;margin-bottom:5px;width:auto;}
#Specials .SpecialItem .Price {font-weight: bold; font-size:12px;color: #A00C0C; text-align:left;}
#Specials .SpecialItem .RegularPrice { font-weight: normal;color: #666666; text-decoration: line-through; }
#Specials .SpecialItem .CallForPrice { margin-bottom: 5px; }

/****************************************************/
/* CATEGORY LIST PAGE
/****************************************************/
#CategoryList { text-align: left;margin:0px auto 20px auto;}
#CategoryList .CategoryLink {font-family:Arial;font-weight:bold;color:#3F64DF;font-size:12px;height:auto;display:inline-block;width:auto;margin:10px;}
#CategoryList .SubCategory { text-align: left;margin-top:10px}
#SubCategoryList .CategoryLink {font-family:Arial;font-weight:bold;color:#3F64DF;font-size:12px;height:auto;display:inline-block;width:auto;margin:10px;}

/**************************************************/
/*  PRODUCT LIST
/**************************************************/
#ProductList { text-align: left;}
#ProductList .Title {}
#ProductList .ProductListItem {margin-top:5px; margin-bottom:5px;display:inline-block;}
#ProductList .ProductListItem .LeftContent {float:left; margin-right:10px;width:100px;display:inline-block;}
#ProductList .ProductListItem .Image {text-align:center;}
#ProductList .ProductListItem .RightContent {margin-left:110px;}
#ProductList .ProductListItem .DetailLink {font-family:Arial;font-weight:bold;color:#3F64DF;font-size:12px;height:auto;}
#ProductList .ProductListItem .ShortDescription {font-size:12px;text-align:left;font-family:Arial;font-weight:normal;margin-top:5px;margin-right:5px;margin-bottom:5px;}
#ProductList .ProductListItem .Price {font-weight: bold; font-size:12px;color: #A00C0C; text-align:left;}
#ProductList .ProductListItem .RegularPrice { font-weight: bold;color: #666666; text-decoration: line-through; }
#ProductList .ProductListItem .CallForPrice { margin-bottom: 5px; }


/****************************************************/
/* PRODUCT PAGE
/****************************************************/
#Product {text-align:left;}
#Product .Title {}
#Product .LeftContent {float:left;margin-right:10px;margin-bottom:10px; width:150px;display:inline-block;}
#Product .RightContent {margin-left:160px;}
#Product .Image {text-align:center;margin-top:10px;}
#Product .RightContent .ProductTitle {color:#0073BB;font-size:18px;font-weight:bold;text-align:left;margin:10px auto 5px auto;}
#Product .RightContent .Description {font-size:12px;font-weight:normal;text-align:left;margin:5px auto 10px auto;}
#Product .RightContent .PriceContent {margin-top:5px;margin-left:2px;}
#Product .RightContent .Price {font-weight:bold;font-size: 15px;color: #A00C0C;text-align:left;}
#Product .RightContent .SalePrice {font-weight:bold;font-size: 15px;color: #A00C0C; text-align:left;}
#Product .RightContent .RegularPrice {font-weight: bold;color: #666666; text-decoration: line-through; }
#Product .RightContent .StockMsg {margin-top:5px;color:#60B234;}
#Product .RightContent #Attributes {padding:10px auto 10px auto;}
#Product .RightContent #Add-Ons {margin:10px auto 10px auto;}
#Product .RightContent .AddToCartButton {margin:10px auto 10px auto;}

/****************************************************/
/* CONTENT PAGE
/****************************************************/
#ContentPage {}
#ContentPage .Title {}
#ContentPage .HTMLContent {margin:20px 10px 20px 10px;font-size:12px;font-weight:normal;text-align:left;color:#000000;}

/**************************************************/
/* SHOPPING CART                                 
/**************************************************/
.ShoppingCart {margin-bottom: 10px;background-color: white;font-family:Arial;color:#000000;}
#ie7css .ShoppingCart .CheckoutBox {margin-top:-5px;}
.ShoppingCart .CheckoutBox {margin-top:5px;vertical-align:middle; font-family:Arial; text-align: center; background-color: white; }
.ShoppingCart .Grid {font-family:12px;color:#000000;}
.ShoppingCart .Grid .Header{color:#000000;font-family:Arial; background-color: white; text-transform:uppercase; border-bottom: solid 1px #C0C0C0; font-weight: normal; font-size: 12px;}
.ShoppingCart .Grid .Row {font-weight: normal;font-size: 12px;background-color:white;border-bottom:solid 1px #DFDFDF; border-collapse:inherit;color:#000000;}
.ShoppingCart .Grid .Quantity { width: 60px; height: 25px; font-size: 15px; } 
.ShoppingCart .Grid .AlternatingRow {border-bottom:solid 1px #DFDFDF;margin-top:5px; font-weight: normal; font-size: 12px; background-color: #F5F5F5; padding-top: 20px;padding-bottom: 20px;}
.ShoppingCart .Grid .Row .RemoveItem, .ShoppingCart .Grid .AlternatingRow .RemoveItem{padding-left:10px;}
.ShoppingCart .Grid .ProductName{ font-size: 12px; font-weight:normal; font-family:Arial;color:#000000;}
.ShoppingCart .Grid .Description { font-size: 12px; font-family: verdana; padding-top: 5px; }
.ShoppingCart .Update { font-weight: normal; margin-top: 5px; }
.ShoppingCart .Quantity { height: 15px; }
.ShoppingCart .TotalContent {text-align:right;margin-right:5px; font-size: 12px;padding-top: 5px;font-weight:bold;color:#000000; }
.ShoppingCart .TotalContent .Total {font-weight:bold;font-size: 15px;color:#000000;}
.ShoppingCart .TableContainer .TotalBox {width:100%}
.ShoppingCart .TableContainer .TotalBox .FieldValue{text-align:right; color:#000000; width:80px; padding-right:5px;}

/**************************************************/
/* FORMS                                         
/**************************************************/
.Form {margin-bottom:10px;font-family:Arial;color:#000000;}
.Form .Title {padding:5px 0px 0px 10px; font-weight:bold; height: 24px; font-size:16px; background-color:#EAEBEB;}
.FormTitle { font-weight: bold; font-size: 14px; color: #7C7C7C; background-color: #EAEBEB; padding-right: 10px; padding-left: 10px; padding-bottom: 5px; padding-top: 5px; border-bottom: #b4b4b4 0px solid; }
.Form .Search { background-color: #f1f1f1; padding-right: 10px; padding-left: 10px; padding-bottom: 20px; padding-top: 10px; border-right: #b5b4b5 1px solid; border-top: #b5b4b5 1px solid; border-left: #b5b4b5 1px solid; border-bottom: #b5b4b5 1px solid; margin-top: 5px; margin-bottom: 5px; }
.Form .Asterix { color: red; }
.Form .HeaderStyle {color: #0073BB;margin-top:10px;margin-bottom:10px; font-weight:bold;}
.Form .Row { padding-bottom: 10px; color: #7C7C7C;}
.Form .FieldStyle {text-align:right; display: block; white-space: nowrap; white-space: nowrap; font-size: 12px; font-weight: bold; color: #4b4b4b; padding-right: 10px; padding-top:6px; }
.Form .PaymentFieldStyle {display: block;font-size: 12px; font-weight: bold; color: #4b4b4b;margin-bottom:5px;}
.Form .ValueStyle {display:block; font-size: 1px; font-weight: normal; padding-bottom: 2px; padding-top: 2px; }
.Form .ValueField {padding-bottom:2px;padding-top:3px;color:#000000;}
.Form .SuccessMsg {color: Green; font-size: 13px;}
.Form .BackLink {color:#333333;font-size: 11px;text-decoration:underline;}
.Form .TextField {width:155px;margin-left:5px;}
.Form .HintStyle { font-size: 10px; font-weight: normal; color: #333333; padding-left: 10px; border-right: #3399cc 1px solid; padding-right: 10px; border-top: #3399cc 1px solid; padding-bottom: 5px; border-left: #3399cc 1px solid; padding-top: 5px; border-bottom: #3399cc 1px solid; background-color: #ffffcc; margin-left: 10px; margin-top: 5px; margin-bottom: 5px; }
.Form .ChangePassword { margin-top:10px; margin-right:5px; border:none; height:19px; width:101px;}
.Form .EditContact { margin-top:10px; margin-right:5px; border:none; height:19px; width:101px;}
.Form .ForgetLink {margin-top:10px;}
.Form .RememberMe {padding-bottom:5px;}
.Form .Rightalign {padding-left:7px;margin-bottom:30px;}
.Form .LeftContent {float:left;width:100px; white-space:normal;vertical-align:middle;}
.Form .ReviewLeftContent {float:left;}
.Form .ShoppingTotalContent {display:inline-block;text-align:right;width:60px;color:#000000;}
.Form .TotalAmount {font-size: 15px;font-weight:bold;color:#000000;display:inline-block;text-align:right;width:60px;margin-top:5px;}
.Form .Total {text-align:right;font-weight:bold;font-size: 15px;color:Black;width:60px;}
.Form .RightContent {float:right;}
.Form .CouponContent {float:left; margin-top:10px; position:relative; vertical-align:middle;text-align:left;}
.Form .Clear {clear:both;}

/**************************************************/
/* FORMS                                         
/**************************************************/
.FormView {margin-left:5px;font-family:Arial; }
.FormView .FieldStyle 
 {     
   width:100px;clear:both;display:inline-block; float:left; white-space: nowrap; font-size:12px; font-weight:bold; color: #404040;margin-right:5px; 
 }
.FormView .ValueStyle { float:left; font-size: 8pt; display:inline-block; font-weight: normal; margin-bottom: 10px;}
.FormView .HeaderStyle { color: #0073BB;font-weight:bold;}
.FormView .Row { margin-bottom: 5px; padding-bottom: 5px; margin-top:2px; }
.FormView .LeftContent {float:left;width:100px; white-space:normal;vertical-align:top;}
.FormView .Clear {clear:both;}
.FormView .RightContent {float:right;}
.FormView .Button {text-decoration:none;}

/**************************************************/
/* CHECKOUT                                 
/**************************************************/
.Checkout { text-align: left;margin:5px;}
.Checkout h1{}
.Checkout .Overview { font-size: 11px; color: black; padding-bottom: 20px; }
.Checkout .Or { font-weight: bold; font-size: 16px; color: #0099cc; font-family: arial; padding-right: 10px; padding-left: 10px; }
.Checkout .Steps { text-align: left; height: 25px; }
.Checkout .Steps .Passive { font-weight: bold; font-size: 11px; color: silver; margin-right: 10px; }
.Checkout .Steps .Active { font-weight: bold; font-size: 11px; color: #4F893F; margin-right: 10px;}
.Checkout .Review {color:#313131; margin-left:0px; text-align:left;}
.Checkout .NextButton { }
.Checkout .BackLink { margin-top:50px; }


/**************************************************/
/* ORDER RECEIPT STYLE
/**************************************************/
.MobileAppReceiptText {font-family:Arial;font-size:12px;color:#000000;}
.OrderReceipt {font-family:Arial;}
.OrderReceipt .Head{background-color: #C4E2B1; color:#4F893F; font-size: 1.5em; font-weight: bold; padding: .5em; border-bottom: solid 1px #4E883D;}
.OrderReceipt .SubHead{color: #4F893F;font-weight: bold; font-size: 12px; padding-bottom:5px; }
.OrderReceipt .SubHead1{color: #4F893F;font-weight: bold; font-size: 12px; padding-bottom:5px; Position:Relative; top:-83px;}
.OrderReceipt .SubHeadText{Position:Relative; top:-83px;}
.OrderReceipt .ReceiptTable {color: #333333;font-size: 12px;}
.OrderReceipt .ReceiptText {color: #333333;font-size: 12px;}
.OrderReceipt .Product {}
.OrderReceipt .DetailsHeader {background-color:#C4E2B1}
.OrderReceipt .DetailsHeader .ForeColor {color:#333333;}
.OrderReceipt .Product table td { border:silver 1px solid; color: #333333;font-size: 12px;}
.OrderReceipt .Feedback{color:#323232;}
.OrderReceipt .Border {font-size: 12px; text-align: left; color: #4F893F; border: solid 1px #4F893F; margin-top:10px;}
.OrderReceipt .Spacer { margin-bottom:5px; }
.OrderReceipt .Border .FeedBackLink a:link { font-size:11px; color: #333333; text-decoration: none;}
.OrderReceipt .Border .FeedBackLink a:visited { font-size:11px; color: #333333; text-decoration: none;}
.OrderReceipt .Border .FeedBackLink a:hover { font-size:11px; color: #666666; text-decoration: none;}
.OrderReceipt .Border .FeedBackLink a img{ border:none; }                         