<%@ Page Language="C#" MasterPageFile="~/FranchiseAdmin/Themes/Standard/content.master"  ValidateRequest="false" AutoEventWireup="True" Inherits="Znode.Engine.FranchiseAdmin.Secure.Inventory.Products.ProductSearch" Title="Untitled Page" Codebehind="ProductSearch.aspx.cs" %>
<asp:Content ID="Content1" ContentPlaceHolderID="uxMainContent" Runat="Server">
</asp:Content>

