﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Znode.Engine.Demo.Controls_Default_Category_PagingLinks" Codebehind="PagingLinks.ascx.cs" %>

<asp:PlaceHolder ID="uxGridPaging" runat="server"></asp:PlaceHolder>