﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductSearchSettingsViewModel
@using Resources;
@{
    ViewBag.Title = "ProductSearchSetting";
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();

}

@using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
{
    <h3>@ZnodeResources.TitleCategoryLevelSettings</h3>
    <h5>@ZnodeResources.SubTextCategoryLevelSettings</h5>
    <div>
    </div>
}