﻿
@model Znode.Engine.MvcAdmin.ViewModels.ProductLevelSearchSettingViewModel
@using Resources;
@{
    ViewBag.Title = "ProductSearchSetting";
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();

}

@using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
{
    <h3>@ZnodeResources.TitleProductLevelSettings</h3>
    <h5>@ZnodeResources.SubTextProductLevelSettings</h5>
    <div>
        <h3>@ZnodeResources.TitleSearchProducts</h3>

        <ul>
            <li>
                @Html.Label("txtProductName", ZnodeResources.)
                @Html.TextBox("txtProductName", new { @id = "txtProductName" })
            </li>
            <li>
                @Html.Label("txtProductNumber", ZnodeResources.FacetGroupName)
                @Html.TextBox("txtProductNumber", new { @id = "txtProductNumber" })
            </li>
            <li>
                @Html.Label("txtProductSku", ZnodeResources.FacetGroupName)
                @Html.TextBox("txtProductSku", new { @id = "txtProductSku" })
            </li>
            <li>
                @Html.Label("ddlCatalogs", ZnodeResources.FacetGroupName)
                @Html.DropDownListFor(m => m.CatalogId, Model.Catalogs, new { @id = "ddlCatalogs" })
            </li>
            <li>
                @Html.Label("ddlBrands", ZnodeResources.FacetGroupName)
                @Html.DropDownListFor(m => m.BrandId,Model.Brands, new { @id = "ddlBrands" })
            </li>
            <li>
                @Html.Label("ddlProductTypes", ZnodeResources.FacetGroupName)
                @Html.DropDownListFor(m => m.ProductTypeId,Model.ProductTypes, new { @id = "ddlProductTypes" })
            </li>
            <li>
                @Html.Label("ddlProductCategories", ZnodeResources.FacetGroupName)
                @Html.DropDownListFor(m => m.ProductCategoryId,Model.ProductCatagories, new { @id = "ddlProductCategories" })
            </li>
        </ul>
        <div class="ClearBoth">
            <input type="button" name="Clear" value="@ZnodeResources.ButtonClearRequest" id="btnClear" class=" cancelbutton" />
            <input type="submit" name="Search" value="@ZnodeResources.ButtonSearchFacetGroups" id="btnSearch" class="submitbutton" />
        </div>



    </div>
}