﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductSearchSettingsViewModel
@using Resources;
@{
    ViewBag.Title = "ProductSearchSetting";
}


<h2>@ZnodeResources.HeaderProductSearchSettings</h2>

<h5>@ZnodeResources.SubHeaderProductSearchSettings</h5>

<!--Main-Wrapper-->
<div class="container main-wrapper">
    <div class="Tab-container">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#panel-1" data-toggle="tab" class="tabs">@ZnodeResources.TabHeaderProductLevel</a></li>
            <li><a href="#panel-2" data-toggle="tab" class="tabs">@ZnodeResources.TabHeaderCategoryLevel</a></li>
            <li><a href="#panel-3" data-toggle="tab" class="tabs">@ZnodeResources.TabHeaderFieldLevel</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <!--Panels 1-->
            <div class="tab-pane fade in active" id="panel-1">
                @*@Html.Partial("_ProductLevelSearchSettings", Model.ProductLevelSettings)*@
            </div>
            <!--Panels 2-->
            <div class="tab-pane fade " id="panel-2">
                @*@Html.Partial("_CategoryLevelSearchSettings")*@
            </div>
            <!--Panels 3-->
            <div class="tab-pane fade" id="panel-3">
                @*@Html.Partial("_FieldLevelSearchSettings")*@
            </div>
        </div>
    </div>
</div>