<%@ Page Language="C#" AutoEventWireup="True" MasterPageFile="~/Themes/Standard/edit.master" ValidateRequest="false" Inherits="Znode.Engine.Admin.Secure.Orders.CustomerManagement.Customers.AddProfile" Codebehind="AddProfile.aspx.cs" %>
<%@ Register Src="~/Controls/Default/Accounts/Profile.ascx" TagName="Profile" TagPrefix="ZNode" %>
<%@ Register TagPrefix="ZNode" TagName="Spacer" Src="~/Controls/Default/spacer.ascx" %>
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="uxMainContent">
    <ZNode:Profile ID="uxProfile" runat="server" RoleName = "" />
</asp:Content>

