﻿@model Znode.Engine.MvcAdmin.ViewModels.ManageMessageListViewModel
@using Resources
<div>
    @{
        string controllerName = ViewContext.RouteData.Values["controller"].ToString();
        var grid = new WebGrid(rowsPerPage: 5);
        grid.Bind(Model.ManageMessage);
        grid.Pager(WebGridPagerModes.NextPrevious);
    }

    @if (!Equals(Model, null) && !Equals(Model.ManageMessage, null))
    {
        <div id="grid">
            @grid.GetHtml(
                                            htmlAttributes: new { id = "grid", @class = "table" },
                                            fillEmptyRows: false,
                                            mode: WebGridPagerModes.All,
                                            firstText: "<< First",
                                            previousText: "< Prev",
                                            nextText: "Next >",
                                            lastText: "Last >>",
                                            columns: new[] {
                                            grid.Column(header:@ZnodeResources.LabelMessage,format: @<span> <span id="spanName_@item.Description">@item.Description</span></span>),
                                            grid.Column(header:@ZnodeResources.TitleLocation,format: @<span> <span id="spanName_@item.MessageKey">@item.MessageKey</span></span>),
                                            grid.Column(header:@ZnodeResources.LabelStoreName,format: @<span> <span id="spanName_@item.PortalName">@item.PortalName</span></span>),
                                            grid.Column(header:@ZnodeResources.LabelAction,format:@<text>@Html.ActionLink(ZnodeResources.LabelEdit, ZnodeResources.LabelEdit,new { MessageConfigId = item.messageConfigId }) </text>),                                           
                                            grid.Column(header: "",format:@<text>@Html.Raw("<span class='delete-link', onclick='CommonHelper.BindDeleteConfirmDialog(\" " + ZnodeResources.ConfirmDeleteTitle + "\", \" " + ZnodeResources.ConfirmDeleteMessage + "\", \"/" + controllerName + "/" + ZnodeResources.LabelDelete + "/" + @item.messageConfigId + "\");'>" + ZnodeResources.LabelDelete + "</span>")</text>)
                                        })
            @grid.CustomPager(Html)
        </div>
    }
    else
    {
        <span>No Records Found.</span>
    }
</div>
