﻿@model Znode.Engine.MvcAdmin.ViewModels.ManageMessageViewModel
@using Resources

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}


<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            if (actionName.ToLower() == "Create".ToLower())
            {
                <h1>Add Message</h1>
            }
            else
            {
                <h1>Edit Message-@Model.Description</h1>

            }
        }
    </div> 
    <div class="col-sm-5 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
        {
            @Html.Hidden("configid", Model.MessageConfigId)
            @Html.Hidden("localeid", Model.LocaleId)
            @Html.Hidden("messageTypeId", Model.MessageTypeId)
            @Html.Hidden("EditportalId",Model.PortalId)
        <div class="form-group">
            @if (actionName.ToLower() == "Create".ToLower())
            {
                <div class="col-sm-3 nopadding">
                    @Html.LabelFor(model => model.MessageKey)
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.MessageKey)
                    @Html.ValidationMessageFor(m => m.MessageKey)
                </div>                              
            }
            else
            {
                <div class="col-sm-3 nopadding">
                    @Html.LabelFor(model => model.MessageKey)
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.MessageKey, new { disabled = "disabled", @readonly = "readonly"})
                    @Html.ValidationMessageFor(m => m.MessageKey)
                </div>                                
            }
           
        </div>
        <div class="form-group">
            <div class="col-sm-3 nopadding">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.Description)
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
        <div class="form-group">
            @if (actionName.ToLower() == "Create".ToLower())
            {
                <div class="col-sm-3 nopadding">
                    @Html.LabelFor(model => model.StoreName)
                </div>
                <div class="col-sm-9">
                    @Html.DropDownListFor(model => model.PortalId, new SelectList(Model.Portal, "PortalId", "StoreName"), "All Stores", new { @id = "ddlPortalList" })
                    @Html.ValidationMessageFor(m => m.StoreName)
                </div>                                
            }
            else
            {
                <div class="col-sm-3 nopadding">
                    @Html.LabelFor(model => model.StoreName)
                </div>
                <div class="col-sm-9">
                    @Html.DropDownListFor(model => model.PortalId, new SelectList(Model.Portal, "PortalId", "StoreName"), "All Stores", new { @id = "ddlPortalList", disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.StoreName)
                </div>                                
            }            
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                @Html.TextAreaFor(model => model.Value)
                @Html.ValidationMessageFor(m => m.Value)
            </div>
        </div>
        <div class="pull-right">
            <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest"> @ZnodeResources.ButtonSubmitRequest</button>
            <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript: location.href = 'List';">@ZnodeResources.ButtonCancel</button>
        </div>
        }
    </div> 
</div>