﻿@model Znode.Engine.MvcAdmin.ViewModels.ManageMessageViewModel
@using Resources
@using (Html.BeginForm())
{
    <div>
        <h2>@ZnodeResources.HeaderPleaseConfirm</h2>
        <br />

        <span>Please confirm if you want to delete the product review titled "<b>@Model.Description</b>". This change cannot be undone.</span>
    </div>
    <div class="ClearBoth">
        <button type="submit" class="button button-primary">@ZnodeResources.ButtonSubmitRequest</button>
        <button type="button" class="form-cancel" onclick="javascript: location.href = '/ManageMessage/List';">@Resources.ZnodeResources.ButtonCancel</button>
    </div>
}

