﻿@model Znode.Engine.MvcAdmin.ViewModels.ManageMessageListViewModel
@using Resources

<div class="col-sm-12 dashboard-page-container">    
    <div class="col-sm-12 title-container">
            <h1 class="left">
                @ZnodeResources.HeaderManageMessages            
            </h1>            
    </div>
    <div class="col-sm-12 search-container">
        <p class="left">@ZnodeResources.DescriptionManageMessages</p>
        <button class="btn-text red pull-right" title="@ZnodeResources.LinkAddMessage" onclick="javascript:location.href='@Url.Content("Create")'">@ZnodeResources.LinkAddMessage</button>        
    </div> 
    <div class="col-sm-12 product-search">
        <h3>@ZnodeResources.SubHeaderSearchMessages</h3>
        <div class="col-lg-4 col-md-4 col-sm-12 product-group">
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    @Html.LabelFor(model => model.Message)
                </div>
                <div class="col-sm-8 col-lg-9">
                    @Html.TextBoxFor(model => model.Message)
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 product-group">
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    @Html.LabelFor(model => model.StoreName)
                </div>
                <div class="col-sm-8 col-lg-9">
                    @Html.DropDownList("Type", new SelectList(Model.Portal, "PortalId", "StoreName"), "All Stores", new { @id = "ddlPortalList" })
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 product-group">            
            <button type="submit" name="Search" title="@ZnodeResources.ButtonSearch" id="btnSearch" class="btn-text red">@ZnodeResources.ButtonSearch</button>
            <button type="reset" name="Clear" title="@ZnodeResources.ButtonClear" id="btnClear" class="btn-text grey">@ZnodeResources.ButtonClear</button>
        </div>
    </div>
    <div class="col-sm-12 list-container">
        <h3>@ZnodeResources.SubHeaderAvailableCustomMessages</h3>
        @Html.Partial("_List")
    </div>

</div>


