﻿@model Znode.Engine.MvcAdmin.ViewModels.ReviewItemViewModel
@using Resources;
@{
    ViewBag.Title = "ChangeReviewStatus";
}

@using (Html.BeginForm())
{
    <div>
        @ZnodeResources.ChangeReviewStatusReviewTitleText @Model.Subject
        <br />
        @ZnodeResources.ChangeReviewStatusHeaderDescription
        <br />
        @Html.DropDownListFor(m => m.Status, Model.GetReviewStatus, new { @id = "ddlreviewstatus" })
    </div>
    <div class="ClearBoth">
        <button type="submit" class="button button-primary">@ZnodeResources.ButtonSubmitRequest</button>
        <button type="button" class="form-cancel" onclick="javascript: location.href = '/Review/List';">@ZnodeResources.ButtonCancel</button>
    </div>
}

