﻿@model Znode.Engine.MvcAdmin.ViewModels.ReviewItemViewModel
@using Resources;
@{
    ViewBag.Title = "DeleteReview";
}

@using (Html.BeginForm())
{
    <div>
        <h2>@ZnodeResources.DeleteReviewHeader</h2>
        <br />
        <span>@string.Format(ZnodeResources.DeleteReviewHeaderDescription, Model.Subject)</span>
</div>
    <div class="ClearBoth">
        <button type="submit" class="button button-primary">@ZnodeResources.ButtonSubmitRequest</button>
        <button type="button" class="form-cancel" onclick="javascript: location.href = '/Review/List';">@ZnodeResources.ButtonCancel</button>
    </div>
}

