﻿@model Znode.Engine.MvcAdmin.ViewModels.ReviewItemViewModel
@using Resources;
@{
    ViewBag.Title = "EditReview";
}

@using (Html.BeginForm())
{
    <div class="form-group">
        <h1>@string.Format(ZnodeResources.EditReviewHeader,Model.Subject)</h1>
        <br />
        @Html.Label("ddlreviewstatus", ZnodeResources.ReviewStatus)
        @Html.DropDownListFor(m => m.Status, Model.GetReviewStatus, new { @id = "ddlreviewstatus" })

        <br />
        @Html.Label("txtProductName", ZnodeResources.ReviewProductName)
        @Html.TextBoxFor(m => m.Product.Name, new { @readonly = true, @id="txtProductName" })

        <br />
        @Html.Label("txtSubject", ZnodeResources.ReviewHeadLine)
        @Html.TextBoxFor(m => m.Subject, new { @id = "txtSubject" })
        @Html.ValidationMessageFor(m => m.Subject)

        <br />
        @Html.Label("txtComments", ZnodeResources.ReviewComments)
        @Html.TextAreaFor(m => m.Comments, new { @id = "txtComments"})
        @Html.ValidationMessageFor(m => m.Comments)

        <br />
        @Html.Label("txtUser", ZnodeResources.ReviewUserName)
        @Html.TextBoxFor(m => m.CreateUser, new { @id = "txtUser", maxlength = 100 })
        @Html.ValidationMessageFor(m => m.CreateUser)

        <br />
        @Html.Label("txtLocation", ZnodeResources.ReviewUserLocation)
        @Html.TextBoxFor(m => m.UserLocation, new { @id = "txtLocation", maxlength = 100 })
        @Html.ValidationMessageFor(m => m.UserLocation)

        <br />
        @Html.Label("ddlReviewRating", ZnodeResources.ReviewRating)
        @Html.DropDownListFor(m => m.Rating, Model.GetReviewRatings, new { @id = "ddlReviewRating" })

        <br />
        @Html.Label("txtdate", ZnodeResources.ReviewDate)
        @Html.TextBoxFor(m => m.CreateDate, new { @readonly = true, @id = "txtdate" })

        @Html.HiddenFor(m => m.ProductId)
        @Html.HiddenFor(m => m.AccountId)
        @Html.HiddenFor(m => m.ReviewId)
    </div>
    <div class="ClearBoth">
        <button type="submit" class="button button-primary">@ZnodeResources.ButtonSubmitRequest</button>
        <button type="button" class="form-cancel" onclick="javascript: location.href = '/Review/List';">@ZnodeResources.ButtonCancel</button>
    </div>
}
