﻿@model Znode.Engine.MvcAdmin.ViewModels.ReviewViewModel
@using Resources;
@{
    ViewBag.Title = "CustomerReviews";      
}
@using (Html.BeginForm())
{
    <div class="Content">
        <div style="text-align: left;">
            <div class="LandingPage">

                <div>
                    <div>
                        <div class="LeftFloat" style="width: 70%; text-align: left">
                            <h1 class="LeftFloat">
                                @ZnodeResources.CustomerReviewHeader
                            </h1>
                        </div>

                        <div class="ClearBoth">
                            <p>
                                @ZnodeResources.CustomerReviewHeaderDescription
                            </p>
                        </div>

                        <!-- Search product panel -->
                        <div>


                            <h4 class="SubTitle">
                                @ZnodeResources.CustomerReviewSubHeader
                            </h4>
                            <div class="SearchForm">
                                <div class="RowStyle">
                                    <div class="ItemStyle">
                                       <ul>
                                           <li>
                                               @ZnodeResources.CustomerReviewTitle
                                               <input name="reviewTitle" type="text" id="txtreviewtitle">
                                           </li>
                                           <li>
                                               @ZnodeResources.CustomerReviewUserName
                                               <input name="nickName" type="text" id="txtnickname">
                                           </li>
                                           <li>
                                               @ZnodeResources.CustomerReviewProductName
                                               <input name="productName" type="text" id="txtproductname">
                                           </li>
                                           <li>
                                               @ZnodeResources.CustomerReviewStatus
                                               @Html.DropDownList("reviewStatus",new List<SelectListItem>
                                                 {
                                                      new SelectListItem{ Text="All", Value = "0" },
                                                    new SelectListItem{ Text="Active", Value = "A" },
                                                    new SelectListItem{ Text="InActive", Value = "I" },
                                                     new SelectListItem{ Text="New", Value = "N" }
                                                 }, new { @id = "ddlreviewstatus" })
                                               
                                           </li>
                                       </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="ClearBoth">
                                <input type="button" name="Clear" value="Clear" id="btnClear" class=" cancelbutton" />
                                <input type="submit" name="Search" value="Search" id="btnSearch" class="submitbutton" />
                            </div>


                        </div>
                        <br>

                        <div>
                            <span id="ErrorMessage" class="Error"></span>
                        </div>
                        <br>

                        <h4 class="GridTitle">
                            @ZnodeResources.CustomerProductReviewListText
                        </h4>
                       <div>
                           @Html.Partial("_Review", Model)
                       </div>

                        <div>
                            <br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

 
