<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/Home/home.ascx" TagName="Home" TagPrefix="ZNode" %>
<%@ Register Src="~/Controls/Default/CustomMessage/CustomMessage.ascx" TagName="CustomMessage" TagPrefix="ZNode" %>
<%--<%@ Register Src="~/Controls/Default/common/HomeQuickSearch.ascx" TagName="QuickSearch" TagPrefix="ZNode" %>--%>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
	<!-- Scripts - BEGIN -->
	<script language="javascript" type="text/javascript" src="js/mootools/mootools-1.2.1-core.js"></script>
	<script language="javascript" type="text/javascript" src="js/mootools/mootools-1.2-more.js"></script>
	<script language="javascript" type="text/javascript" src="js/mootools/SlideItMoo-1.1.js"></script>
	<!-- Scripts - END  -->
	
   <div id="HomepageStyle">
        <div class="HomeQuickSearch">
           <%-- <ZNode:QuickSearch ID="QuickSearch" runat="server"></ZNode:QuickSearch>--%>

        </div>
        
        <div class="HomeSpecialsBG">
            <span class="PromoSpecialText"><ZNode:CustomMessage ID="HomeCustomMessage5" MessageKey="StoreSpecials" runat="server" /></span>
        </div>   
        
        <div class="HomePagePromo">
            <div id="SlideItMoo_banners_outer">
                <div id="SlideItMoo_banners_inner">
                    <div id="SlideItMoo_banners_items">
                        <ZNode:CustomMessage ID="HomeCustomMessage1" MessageKey="HomePagePromo" runat="server" />
                    </div>
                </div>
            </div>
        </div>
        
        <div class="HomePagePromoRightTop">
            <ZNode:CustomMessage ID="HomeCustomMessage2" MessageKey="HomePagePromoRightTop" runat="server" />
        </div>
        
        <div class="HomePagePromoRightBottom">
            <ZNode:CustomMessage ID="HomeCustomMessage3" MessageKey="HomePagePromoRightBottom" runat="server" />
        </div>    
        
        <div><ZNode:Home ID="uxHome" runat="server" Visible="true"/></div>    
   </div>
</asp:Content>
