﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels

@model ProductViewModel

@if (Model.AddOns != null && Model.AddOns.Any())
{
    <div class="product-addons">
        <h4 class="section-header">Add-on options</h4>
        <dl>
            @* Dropdown options *@
            @foreach (var addon in Model.AddOns.Where(x => x.AddOnValues.Any()))
            {
                if (addon.DisplayType == MvcDemoConstants.AddonDisplayTypeDropDown)
                {
                    <dt>
                        <label for="AddOn-@addon.AddOnId">@addon.Title</label></dt>
                    <dd>
                        @(addon.OptionalIndicator ? Html.DropDownList("AddonId_" + addon.AddOnId, new SelectList(addon.AddOnValues, "AddOnValueId", "AddOnValueText"), "Select " + addon.Title, new {@id = "AddOn-" + addon.AddOnId, @class = "AddOn", @name = "AddonValueId"}) : Html.DropDownList("AddonId_" + addon.AddOnId, new SelectList(addon.AddOnValues, "AddOnValueId", "AddOnValueText", addon.SelectedAddOnValue[0]), new {@id = "AddOn-" + addon.AddOnId, @class = "AddOn", @name = "AddonValueId"}))
                    </dd>
                }

                if (addon.DisplayType == MvcDemoConstants.AddonDisplayTypeRadioButton)
                {
                    <dt>@addon.Title</dt>
                    <dd class="styled-input">
                        @foreach (var addonValues in addon.AddOnValues)
                        {
                            <input type="radio" id="AddOnValue-@addonValues.AddOnValueId" name="AddOnValue" value="@addonValues.AddOnValueId" class="AddOn" @((!addon.OptionalIndicator && addon.SelectedAddOnValue.Contains(addonValues.AddOnValueId)) ? "checked=checked" : "") />
                            <label for="AddOnValue-@addonValues.AddOnValueId">@addonValues.Name (+@addonValues.AddOnFinalPrice.ToString("C"))</label>    
                        }
                    </dd>
                }

                if (addon.DisplayType == MvcDemoConstants.AddonDisplayTypeCheckBox)
                {
                    <dt>@addon.Title</dt>
                    <dd class="styled-input">
                        @foreach (var addonValues in addon.AddOnValues)
                        {
                            <input type="checkbox" id="AddOn-@addonValues.AddOnValueId" name="AddOnValueId_@addonValues.AddOnValueId" value="@addonValues.AddOnValueId" class="AddOn" @((!addon.OptionalIndicator && addon.SelectedAddOnValue.Contains(addonValues.AddOnValueId)) ? "checked=checked" : "") />
                            <label for="AddOn-@addonValues.AddOnValueId">@addonValues.Name (+@addonValues.AddOnFinalPrice.ToString("C"))</label>    
                        }
                    </dd>
                }

            }
        </dl>
    </div>
}
