﻿ @using System.Collections.ObjectModel
@using Znode.Engine.MvcDemo.ViewModels
@model List<BundleDisplayViewModel>

<div class="product-bundles">
    <div class="notice">Included free with purchase:</div>
    <ul>
     @{
         foreach (var p in Model)
         {
            <li class="bundle-item">
                <div class="bundle-item-image"><img src="@p.ImageSmallPath" alt="@p.Name" /></div>
                <h3 class="bundle-item-title">@p.Name</h3>
            </li>
         }
     }
    </ul>
</div>