﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@model ProductViewModel


<div class="product-tile">
    <a href="@Url.GetProductUrl(Model.SeoPageName, Model.ProductId.ToString())">
	    <div class="image">
            <img id="@Model.ProductId" src="@Model.ImageMediumPath" data-src="@Model.ImageMediumPath" alt="@Model.ImageAltTag" />
        </div>
    </a>
    <a href="@Url.GetProductUrl(Model.SeoPageName, Model.ProductId.ToString())">
	    <div class="info">

	        @if (Model.IsCallForPricing)
	        {
	            <div class="price">@Resources.ZnodeResource.TextCallForPricing</div>
	        }
	        else
	        {
	            <div class="price">
	               @if (Model.Price != @Model.ProductPrice)
	                {
	                <span class="cut-price">@Model.Price.ToString("C")</span>
	                }
                    @Model.ProductPrice.ToString("c")
	            </div>
	        }
		    <h2 class="title">@WebUtility.HtmlDecode(Model.Name)</h2>           
	    </div>
    </a>

</div>
