﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@model ProductViewModel


<div class="product-tile">
    <div class="product-img-view">
    <a href="@Url.GetProductUrl(Model.SeoPageName, Model.ProductId.ToString())">
	    <div class="image">
            <img id="@Model.ProductId" src="/Images/t.gif" data-src="@Model.ImageMediumPath" alt="@Model.ImageAltTag" />
        </div>
    </a>
    @if (Model.SwatchImages != null && Model.SwatchImages.Any())
    { 
        <div class="swatch-img-label">
                    <span>@Resources.ZnodeResource.TextSwatchOnCategoryPage</span>
                </div>
        <div class="swatch-img-container">                
        <ul id="alt-images" class="swatch-img">
            @foreach (var image in Model.SwatchImages)
            {
                <li>
                    <img src="@image.ImageSmallThumbnailPath"  class="SwatchImage" alt="@image.ImageAltTag" data-imgid="@Model.ProductId" title="@image.ImageAltTag" data-mediumsrc="@image.ImageMediumPath" />
                </li>
            }             
        </ul>
	    </div>
    }
        </div>
    <a href="@Url.GetProductUrl(Model.SeoPageName, Model.ProductId.ToString())">
	    <div class="info">
            <h2 class="title">@WebUtility.HtmlDecode(Model.Name)</h2>
	        @if (Model.IsCallForPricing)
	        {
	            <div class="price">@Resources.ZnodeResource.TextCallForPricing</div>
	        }
	        else
	        {
	            <div class="price">
	               @if (Model.Price != @Model.ProductPrice)
	                {
	                <span class="cut-price">@Model.Price.ToString("C")</span>
	                }
                    @Model.ProductPrice.ToString("c")
	            </div>
	        }
		    
            <div class="product-rating">
                @Html.Partial("_StarRating", Model.Rating)
                @{
                    int totalreviews = 0;

                    if (Model.ProductReviews != null && Model.ProductReviews.Items.Any())
                    {
                        totalreviews = Model.ProductReviews.Items.Count();
                    }
                }
                (@totalreviews) <a href="@Url.GetProductUrl(Model.SeoPageName, Model.ProductId.ToString())#product-content" id="jumpto-readreviews-productTile">@Resources.ZnodeResource.LinkTextReadReviews</a>
            </div>
	    </div>
    </a>

</div>


