﻿@using System.Collections.ObjectModel
@using Znode.Engine.MvcDemo.ViewModels
@model Collection<ProductViewModel>


<ul class="product-grid grid-view" id="view-option">
     @{
         foreach (var p in Model)
         {
             <li>
                 @Html.Partial("../Product/_ProductTile",p)
             </li>
         }
     }
</ul>



