﻿@using System.Collections.ObjectModel
@using Znode.Engine.MvcDemo.ViewModels
@model Collection<ProductViewModel>

@if (Model != null && Model.Any())
{
    <ul class="product-grid flexisel-product-slider">
        @{
    foreach (var p in Model)
    {
            <li>
                @Html.Partial("../Product/_ProductList", p)
            </li>
    }
        }
    </ul>
}
