﻿	@model Znode.Engine.MvcDemo.ViewModels.ReviewItemViewModel
<dl class="product-review">
    <dt class="review-title">
        @Html.Partial("_StarRating", Model.Rating)
        @Model.Subject
    </dt>
    <dd class="review-meta">@string.Format(Resources.ZnodeResource.ReviewCreateTime, Model.CreateUser, Model.UserLocation, Model.Duration)</dd>
    <dd class="review-body">
        @Model.Comments
    </dd>
</dl>