﻿@model Znode.Engine.MvcDemo.ViewModels.ReviewViewModel
<div id="layout-allreviews">
    <div class="search-title location">
        <h1 class="location-title">Reviews</h1>
    </div>
    <div class="container-narrow">
        <h2 class="review-productname">@Model.Items.FirstOrDefault().Product.Name</h2>
        <p>
             @Html.ActionLink(Resources.ZnodeResource.SubTitleProductReview,"Details", new { @id = @Model.Items.First().ProductId }, new { @class="tinyfade arrow-left-before"})
        </p>
        <p>
            @Html.ActionLink(Resources.ZnodeResource.LinkTextWriteReview,"Writereview","Product",new {id = @Model.Items.First().ProductId, name=@Model.Items.First().Product.Name}, new { @class="button button-small"})
        </p>

        @for (int i = 0; i < Model.Items.Count; i++)
        {
            @Html.Partial("_ReviewRow", Model.Items[i])
        }
    </div>
</div>
       