﻿
@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@model BundleDetailsViewModel

<div id="layout-bundlesettings" class="product-meta" data-id="@Model.SelectedProductId">
    <div class="location">
        <h1 class="location-title">Included with purchase</h1>
    </div>

    <div class="container">
        <h2>@WebUtility.HtmlDecode(@Model.ProductName)</h2>
        <p>
            The items listed below are included with your purchase. 
            Please select options for each item to add everything to your cart.
        </p>
        <form class="form" id="bundleform" method="post" action="/Product/ContinueToCart">
            <input type="hidden" id="dynamic-productId" name="SelectedProductId" value="@Model.SelectedProductId" />
            <input type="hidden" id="dynamic-sku" name="SelectedSku" value="@Model.SelectedSku" />
            <input type="hidden" id="dynamic-quanity" name="SelectedQuantity" value="@Model.SelectedQuantity"/>
            <input type="hidden" id="dynamic-attributes" name="SelectedAttributesIds" value="@Model.SelectedAttributesIds"/>
            <input type="hidden" id="dynamic-addons" name="SelectedAddOnValueIds" value="@Model.SelectedAddOnValueIds"/>           
            <input type="hidden" id="dynamic-productName" name="ProductName" value="@Model.ProductName" />
            @Html.EditorFor(bundle => Model.Bundles)
            <p>
                <button type="submit" class="button button-action" @(Model.Bundles.Any(x => x.ShowAddToCart == false) ? "disabled=disabled" : "")>Continue to cart</button>
                <a href="/product/details/@Model.SelectedProductId" class="form-cancel">Back to product</a>
            </p>
            <input type="hidden" id="dynamic-bundle-attributeId" name="SelectedBundleAttributeId" />
            <input type="hidden" id="dynamic-bundle-ProductId" name="SelectedBundleProductId" />
        </form>
    </div>
</div>
