﻿@using System.Web.UI.WebControls
@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@model ProductViewModel

@{
    ViewBag.Description = Model.SeoDescription;
    ViewBag.Keywords = Model.SeoKeywords;    
}

<div id="layout-product" class="product-meta" data-id="@Model.ProductId">
    <div class="container">
        <h1 class="product-name small-only">@WebUtility.HtmlDecode(Model.Name)</h1>
        <div class="product-images">
            <div class="simpleLens-gallery-container" id="demo-1">
                <div class="simpleLens-container">
                    <div class="simpleLens-big-image-container">
                        <a id="product-lens-image" class="simpleLens-lens-image" data-lens-image="@Model.ImageLargePath">
                            <img id="product-image" src="/Images/t.gif" data-src="@Model.ImageMediumPath" alt="@Model.ImageAltTag"  class="simpleLens-big-image" />
                        </a>
                    </div>
                </div>
            </div>
            @if (Model.SwatchImages != null && Model.SwatchImages.Any())
            { 
                <div class="swatch-img-label-details">
                    <span>@Resources.ZnodeResource.TextSwatchOnDetailPage</span>
                </div>
                <div class="swatch-img-container-details">
                    <ul class="swatch-img">
                        @foreach (var image in Model.SwatchImages)
                        {
                            <li>
                                <img src="@image.ImageSmallThumbnailPath"  class="SwatchImage" alt="@image.ImageAltTag" title="@image.ImageAltTag" data-largesrc="@image.ImageLargePath" data-mediumsrc="@image.ImageMediumPath" />
                            </li>
                        }
                    </ul>
                </div>
                
            }

            @if (Model.Images != null && Model.Images.Any())
            {

                <div class="product-altimages">
                    <a href="#" data-toggle="#alt-images" class="toggle"><span>@Resources.ZnodeResource.LinkTextMoreProductImages</span></a>

                    <ul id="alt-images">
                        @foreach (var image in Model.Images)
                        {
                            <li>
                                <a href="@image.ImageLargePath" data-lightbox="enlarge" title="@image.Name">
                                    <img src="/Images/t.gif" data-src="@image.ImageSmallPath" alt="@image.ImageAltTag" /></a>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
        <div class="product-overview">
            <h1 class="product-name notsmall">@WebUtility.HtmlDecode(Model.Name)</h1>
            @if (!Model.IsCallForPricing)
            {
                <h2 class="product-price small-only">@Model.ProductPrice.ToString("C")
                    @if (Model.Price != @Model.ProductPrice)
                    {
                        <span class="cut-price">@Model.Price.ToString("C")</span>
                    }
                </h2>
            }
            <div class="product-rating">
                @Html.Partial("_StarRating", Model.Rating)
                @{
                    int totalreviews = 0;

                    if (Model.ProductReviews != null && Model.ProductReviews.Items.Any())
                    {
                        totalreviews = Model.ProductReviews.Items.Count();
                    }
                }
                (@totalreviews) <a href="#product-content" id="jumpto-readreviews">@Resources.ZnodeResource.LinkTextReadReviews</a>
            </div>

            @if (!string.IsNullOrEmpty(Model.VendorName))
            {
                <span>Vendor: </span>
                <a href="mailto:@Model.VendorEmail">@Html.DisplayFor(x => x.VendorName)</a>                
            }
            <button type="button" data-id="@Model.ProductId" class="button button-wishlist small-only">@Resources.ZnodeResource.ButtonAddToWishlist</button>

            <div class="product-short-description">@Html.Raw(Model.ShortDescription)</div>
            <div class="product-description">@Html.Raw(Model.Description)</div>
            @if (!Model.IsCallForPricing)
            {
                <h2 class="product-price notsmall">@Model.ProductPrice.ToString("C")
                    @if (Model.Price != @Model.ProductPrice)
                    {
                        <span class="cut-price">@Model.Price.ToString("C")</span>
                    }
                </h2>
            }

            @{if (!string.IsNullOrEmpty(Model.BundleItemsIds))
              {
                  Html.RenderAction("GetBundleDisplay", "Product", new { ids = Model.BundleItemsIds });
              }
            }

            <div class="product-status">
                <ul>
                    <li>@Html.Raw(Model.InventoryMessage)</li>
                    <li>@Resources.ZnodeResource.TextShipsWithIn24hours</li>
                    <li>@Resources.ZnodeResource.TextQualifyFreeShipping</li>
                </ul>
            </div>
            <div id="product-socialsharing" class="hide">
                @Html.Partial("_SocialSharing")
            </div>
            <a href="/search?category=@WebUtility.UrlEncode(Model.CategoryName)" class="product-breadcrumb arrow-right-after">@Resources.ZnodeResource.LinkSeeMore @Model.CategoryName</a>
        </div>
    </div>
    <div class="product-details">
        <div class="container">
            <div class="product-options">
                <form id="addtocart-form" method="post" action="/Product/AddToCart">
                    <input type="hidden" id="dynamic-productId" name="productId" value="@Model.ProductId" />
                    <input type="hidden" id="dynamic-productName" name="ProductName" value="@Model.Name" />
                    <input type="hidden" id="dynamic-sku" name="sku" value="@Model.Sku" />
                    <input type="hidden" id="dynamic-price" value="@Model.Price"/>
                    <input type="hidden" id="dynamic-bundleItemsIds" name="bundleItemsIds" value="@Model.BundleItemsIds"/>
                    @if (Model.AddOns != null && Model.AddOns.Any())
                    {
                        <input type="hidden" id="dynamic-addonvalueid" name="AddOnValueIds" value="@string.Join(",", Model.AddOns.Where(x => x.SelectedAddOnValue != null).SelectMany(x => x.SelectedAddOnValue))"/>    
                    }

                    <div class="product-variations">
                        <span id="dynamic-product-variations">
                            @{ Html.RenderPartial("_attributes"); }
                        </span>
                        <span id="dynamic-product-addons">
                            @Html.Partial("_Addons")
                        </span>
                    </div>
                    <div class="product-tocart">
                        @if (!Model.IsCallForPricing)
                        {
                            <h3 class="price">
                                <div>@Resources.ZnodeResource.ColumnYourPrice</div>
                                @if (Model.Price == Model.OriginalPrice)
                                {
                                    <span class="dynamic-product-price">@Model.ProductPrice.ToString("C")</span>    
                                }
                                else
                                {
                                    <span class="dynamic-product-price">@Model.OriginalPrice.ToString("C")</span>    
                                }
                            </h3>
                        }

                        <button type="submit" class="button button-action" id="button-addtocart" @(!Model.ShowAddToCart ? "disabled=disabled" : "")>@Resources.ZnodeResource.ButtonAddToCart</button>

                        <button type="button" data-id="@Model.ProductId" class="button button-wishlist">@Resources.ZnodeResource.ButtonAddToWishlist</button>
                    </div>
                </form>
            </div>
            <div id="product-content" class="product-content">
                <ul class="tabs">
                    <li><a href="#" data-toggle="#product-longdetail-container" data-reset=".tabs .toggle" data-hide=".tab-content" class="toggle active">@Resources.ZnodeResource.TextProductDetails</a></li>
                    <li><a href="#" id="tab-specifications" data-toggle="#product-specification-container" data-reset=".tabs .toggle" data-hide=".tab-content" class="toggle">@Resources.ZnodeResource.TextProductSpecifications</a></li>
                    <li><a href="#" id="tab-reviews" data-toggle="#product-review-container" data-reset=".tabs .toggle" data-hide=".tab-content" class="toggle">@Resources.ZnodeResource.TextCustomerReviews</a></li>
                </ul>
                <h4 class="small-only"><a href="#" class="toggle" data-toggle="#product-longdetail-container">@Resources.ZnodeResource.TextProductDetails</a></h4>
                <div id="product-longdetail-container" class="tab-content">
                    <div class="sku">@Model.ProductNumber</div>
                    @Html.Raw(@WebUtility.HtmlDecode(@Model.Description))
                </div>
                <h4 class="small-only"><a href="#" data-toggle="#product-specification-container" class="toggle">@Resources.ZnodeResource.TextProductSpecifications</a></h4>
                <div id="product-specification-container" class="tab-content">
                    @Html.Raw(@WebUtility.HtmlDecode(@Model.ProductSpecification))
                </div>
                <h4 class="small-only"><a href="#" data-toggle="#product-review-container" class="toggle">@Resources.ZnodeResource.TextCustomerReviews</a></h4>
                <div id="product-review-container" class="tab-content" style="display: none;">
                    <a href="/Product/writereview?id=@Model.ProductId&name=@Model.Name" id="button-writeReview" class="button button-small">@Resources.ZnodeResource.LinkTextWriteReview</a>
                    @{
                        int reviewsCount = 0;
                        if (Model.ProductReviews != null)
                        {
                            reviewsCount = totalreviews > MvcDemoConstants.ProductReviewCount ? MvcDemoConstants.ProductReviewCount : totalreviews;

                            for (int i = 0; i < reviewsCount; i++)
                            {
                        @Html.Partial("_ReviewRow", Model.ProductReviews.Items[i])
                            }
                            if (Model.ProductReviews.Items.Count > MvcDemoConstants.ProductReviewCount)
                            {
                        <p class="text-center">
                            @Html.ActionLink(string.Format(Resources.ZnodeResource.LinkTextMoreReview, Model.ProductReviews.Items.Count - MvcDemoConstants.ProductReviewCount), "Allreviews", "Product", new { id = @Model.ProductId }, new { @class = "underline" })
                        </p>
                            }
                        }
                    }

                </div>
            </div>
        </div>
    </div>
    <div id="recent-view-products" class="container">
        <span class="recent-view-items"></span>
    </div>
    <div class="product-extras">
        <div class="container">

            @* Bought togther, max 2 items *@
            @{if (!string.IsNullOrEmpty(Model.FBTProductsIds))
              {
                <div id="fbt-products" class="lazycontent" data-params='{"ids":"@Model.FBTProductsIds","accountid":@ViewBag.AccountId}' data-append="#fbt-products">
                    <h4>@Resources.ZnodeResource.TextCustomersAlsoBought</h4>
                </div>                        
              }
            }


            @* You might like, any number (display max 5) *@
            @{if (!string.IsNullOrEmpty(Model.YMALProductsIds))
              {
                <div id="yml-products" class="lazycontent" data-params='{"ids":"@Model.YMALProductsIds","accountid":@ViewBag.AccountId}' data-append="#yml-products">
                    <h4>@Resources.ZnodeResource.TextRecommendedProducts</h4>
                </div>
              }
            }


        </div>
    </div>
</div>
@Html.Hidden("hdnRecentViewTitle", @Resources.ZnodeResource.TextRecentViewProducts)
<script id="tmpl-wishliststatus" type="text/template">
    <div class="wishlist-status {{style}}"><a href="{{link}}">{{message}}</a></div>
</script>
