﻿@using System.Collections.ObjectModel
@using Znode.Engine.Api.Models
@model Collection<ProductModel>


    <div>
        @{
	        foreach (var p in Model)
	        {
	            <p>@p.ToJson()</p>
            <p>@p.Name</p>
            
	        }
        }
    </div>