﻿@using Znode.Engine.MvcDemo.ViewModels
@model ReviewItemViewModel

<div id="layout-writereview">
	<div class="location"><h1 class="location-title">@Resources.ZnodeResource.TitleProductReview</h1></div>
	<div class="container-narrow">
	    <p>
	        @Html.ActionLink(Resources.ZnodeResource.SubTitleProductReview,"Details", new { @id = Model.ProductId }, new {@class="tinyfade arrow-left-before"})
	    </p>
	    
        <form method="POST" action="/Product/Writereview/@Model.ProductId" class="form">
	        @Html.ValidationSummary(true)
            <dl>
                <dt>@Resources.ZnodeResource.ColumnReviewFor</dt>
                <dd>@Model.Product.Name</dd>
                
                <dt>@Resources.ZnodeResource.ColumnRating</dt>
                   <dd class="star-rating setrating">
                    <label for="set-rating1" class="star1 full" data-stars="1"></label>
                    <label for="set-rating2" class="star2 @(Model.Rating >= 2 ? "full" : "empty")" data-stars="2"></label>
                    <label for="set-rating3" class="star3 @(Model.Rating >= 3 ? "full" : "empty")" data-stars="3"></label>
                    <label for="set-rating4" class="star4 @(Model.Rating >= 4 ? "full" : "empty")" data-stars="4"></label>
                    <label for="set-rating5" class="star5 @(Model.Rating >= 5 ? "full" : "empty")" data-stars="5"></label>
                     @{
                        for (int i = 1; i <= 5; i++)
                        {
                           <input type="radio" name="Rating" id="@("set-rating"+i)" value="@i" @(Model.Rating >= i ? "checked" : "") />
                        }
                    }
                </dd>
                <dd class="form-error">@Html.ValidationMessageFor(m => m.Rating)</dd>

                <dt><label for="review_subject">@Resources.ZnodeResource.ColumnReviewHeadline</label></dt>
                <dd>@Html.TextBoxFor(m => m.Subject, new { @id ="review_subject", @class="form-input-long" })</dd>
                <dd class="form-error">@Html.ValidationMessageFor(m => m.Subject)</dd>
                
                <dt><label for="review_text">@Resources.ZnodeResource.ColumnReview</label></dt>
                <dd>@Html.TextAreaFor(m => m.Comments, new { @id = "review_text", rows = "8", cols = "45" })</dd>
                <dd class="form-error">@Html.ValidationMessageFor(m => m.Comments)</dd>
                
                <dt><label for="review_name">@Resources.ZnodeResource.ColumnReviewName</label></dt>
                <dd>@Html.TextBoxFor(m => m.CreateUser, new { @id = "review_name"})</dd>
                <dd class="form-error">@Html.ValidationMessageFor(m => m.CreateUser)</dd>
                
                <dt><label for="review_location">@Resources.ZnodeResource.ColumnReviewLocation</label></dt>
                <dd>@Html.TextBoxFor(m => m.UserLocation, new { @id = "review_location"})</dd>
                <dd class="form-error">@Html.ValidationMessageFor(m => m.UserLocation)</dd>
            </dl>
            <p>
               @Resources.ZnodeResource.TextReviews
            </p>
            <p>
                <button type="submit" class="button button-primary">@Resources.ZnodeResource.ButtonSubmitReview</button>
                <a href="/Product/@Model.Product.SeoPageName/@Model.ProductId" class="form-cancel">@Resources.ZnodeResource.ButtonCancel</a>    
            </p>
            <input type="hidden" name="name" id="name" value="@Model.Product.Name" />
	    </form>
	</div>
</div>
        
