﻿<%@ Page Title="" Language="C#" MasterPageFile="~/FranchiseAdmin/Themes/Standard/login.master" AutoEventWireup="true"    %>
<%@ Register src="~/FranchiseAdmin/Controls/default/Register.ascx" tagname="Register" tagprefix="ZNode" %>

<asp:Content ID="Content1" ContentPlaceHolderID="uxMainContent" Runat="Server">
 <ZNode:Register ID="uxRegister" runat="server" />
</asp:Content>

