﻿.OrderReceipt .Head{background-color: #C4E2B1; color:#4F893F; font-size: 1.5em; font-weight: bold; padding: .5em; border-bottom: solid 1px #4E883D;}
.OrderReceipt .SubHead{color: #4F893F;font-weight: bold; font-size: 11px; padding-bottom:5px; }
.OrderReceipt .SubHead1{color: #4F893F;font-weight: bold; font-size: 11px; padding-bottom:5px; }
.OrderReceipt .SubHeadText{ }
.OrderReceipt .ReceiptTable {font-family: Verdana, Helvetica, sans-serif; color: #333333;font-size: 10px;}
.OrderReceipt .ReceiptText {font-family: Verdana; color: #333333;font-size: 11px;}
.OrderReceipt .Product {padding-left:5px;padding-right:5px;}
.OrderReceipt .DetailsHeader {background-color:#C4E2B1}
.OrderReceipt .DetailsHeader .ForeColor {color:#333333;}
.OrderReceipt .Product table td { border:silver 1px solid; font-family: Verdana, Helvetica, sans-serif; color: #333333;font-size: 10px;}
.OrderReceipt .Feedback{color:#323232;}
.OrderReceipt .Border {font-family: Arial, Helvetica; font-size: 10px; text-align: left; color: #4F893F; border: solid 1px #4F893F; margin-top:10px;}
.OrderReceipt .Spacer { margin-bottom:5px; }
.OrderReceipt .FeedBackLink a:link { font-size:11px; color: #333333; text-decoration: none;   }
.OrderReceipt .FeedBackLink a:visited { font-size:11px; color: #333333; text-decoration: none;   }
.OrderReceipt .FeedBackLink a:hover { font-size:11px; color: #666666; text-decoration: none;   }
.OrderReceipt .FeedBackLink a img{ border:none; }

.product-print-holder {margin-top:5px;}
.product-print-holder input[type=image] {margin-left:85px;}
.order-print-holder {float: right !important;margin-top: 0 !important;display: block;}
.order-print-holder a {margin-right:10px !important;}


@media print {

    .NoPrint, .FooterPane, .button, .MenuPane, .BackgroundMiddle, .BottomImage, #LeftColumn {
        display: none !important;
    }

    body {
        font-size: 19px;
    }

    #ProductDetail .Description, #ProductDetail #Tab .Features {
        font-size: 14px;
    }

    #ProductDetail #RelatedTabs .RelatedProductTabStyle .ajax__tab_tab {
        font-size: 15px;
    }

    #ProductDetail .Tabs {
        margin-top: 56px;
    }

    #ProductDetail #DetailPageLink {
        margin-top: 61px;
    }
}