<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="Znode.Engine.Demo.Controls_Default_Product_ProductTitle" Codebehind="ProductPrice.ascx.cs" %>
   <%-- <asp:Localize ID="Localize5" runat="server" meta:resourceKey="txtPrice"></asp:Localize>:--%>
    <asp:Label ID="Price" runat="server" EnableViewState="false" meta:resourcekey="PriceResource1" CssClass="Price"></asp:Label>
