<%@ Control Language="C#" AutoEventWireup="true" Inherits="Znode.Engine.Demo.Controls_Default_Product_ProductAttributes" Codebehind="ProductAttributes.ascx.cs" %>
<div id="Attributes">
    <asp:Panel ID="pnlOptions" runat="server" Visible="true">
        <asp:PlaceHolder runat="server" ID="ControlPlaceHolder"></asp:PlaceHolder>
    </asp:Panel>
</div>