﻿@{
   
    Layout = "~/Views/Shared/_OuterPageLayout.cshtml";
}

<div id="layout-account-login" class="container-narrow">
	<div class="account-login-container">
		@Html.Partial("_LoginForm")
	</div>
	<div class="account-signup-container">
		
		
	    @*<a href="/account/Signup/@(!string.IsNullOrEmpty(Request.QueryString["returnUrl"]) ? "?returnUrl=" + Request.QueryString["returnUrl"] : "")" class="account-signup-link arrow-right-before">@Resources.ZnodeResource.LinkTextGetAnAccount</a>*@
	</div>
</div>