﻿@using System.Collections.ObjectModel
@using Znode.Engine.MvcDemo.ViewModels

@model Collection<SearchCategoryViewModel>
<div class="list-group">
    <h4 class="list-group-title-background">More Categories</h4>
    <ul class="filter-list">
        @foreach (var category in Model)
        {
            <li>
                <a href="@category.Categoryurl" runat="server" >@category.Name<sup>( @category.Count)</sup></a>
            </li>
        }
    </ul>
</div>
