﻿@using Znode.Engine.MvcDemo.ViewModels

@model  FacetViewModel
<div class="list-group">
    <h4 class="list-group-title-background">@Model.AttributeName</h4>
    <ul class="filter-list">
        @foreach (var facetValue in Model.AttributeValues)
        {
            <li>
                <a href="/@facetValue.RefineByUrl" runat="server">@Html.Raw(@facetValue.AttributeValue) <sup>( @facetValue.FacetCount)</sup></a>
            </li>
        }
    </ul>
</div>
