﻿@using Microsoft.Ajax.Utilities
@using Znode.Engine.MvcDemo
@using Znode.Engine.MvcDemo.ViewModels

@model KeywordSearchViewModel

<div id="layout-search">
    <div class="search-title location">
        <h1 class="location-title">@(!string.IsNullOrEmpty(Model.Category) ? Model.Category : "Search")</h1>
    </div>
    <div class="container">

        @* Friendly description variants *@
        <div class="search-filterdescription">
            Found @Model.TotalProducts products
                    
                @if (!string.IsNullOrEmpty(Model.SearchTerm))
                {
                    <span>matching <strong>"@Model.SearchTerm"</strong></span>
                }
            @if (!string.IsNullOrEmpty(Model.Category))
            {
                <span>in <strong>@Model.Category </strong></span>
            }

            @if (Model.SelectedFacets.Any())
            {
                <span>that are </span>
                foreach (var selectedFacet in Model.SelectedFacets)
                {
                    foreach (var facetValue in selectedFacet.AttributeValues)
                    {
                <strong>@WebUtility.HtmlDecode(facetValue.AttributeValue)</strong>
                        if (facetValue != Model.SelectedFacets.SelectMany(x => x.AttributeValues).Last())
                        {
                <span>and</span>
                        }
                    }
                }
            }

            <div class="view-opt">
                <span>@Resources.ZnodeResource.ProductViewMode &nbsp;</span>
                <a href="javascript:void(0);" class="productview grid-view-opt-active" title="Grid View"></a>
                    
                <a href="javascript:void(0);" class="productview list-view-opt" title="List View"></a>
                    
                <a href="javascript:void(0);" class="productview text-view-opt" title="Text View"></a>
                    
            </div>

        </div>
        <div class="search-info">
            <nav class="search-appliedfilters">
                @*Applied facets, each with a link that will remove itself from the query. Facets should not include keywords or category names, only facet filters*@
                <ul>
                    @foreach (var selectedFacet in Model.SelectedFacets)
                    {
                        foreach (var facetValue in selectedFacet.AttributeValues)
                        {
                        <li><a href="@facetValue.RefineByUrl" runat="server">@WebUtility.HtmlDecode(selectedFacet.AttributeName + " / " + facetValue.AttributeValue)</a></li>
                        }
                    }
                </ul>
            </nav>
            <div class="search-sorting notsmall">
                @if (Model.Categories != null && Model.Categories.Any())
                {
                    @Html.Partial("_SearchSort", new ViewDataDictionary(new { Id = "Sort1" }))
                }
            </div>

        </div>

        <div class="search-rail">
            <nav class="search-filters">
                <h3 class="section-header" id="toggle-filters"><a href="#" class="toggle" data-toggle="#search-filterlist">Narrow results</a></h3>
                <div id="search-filterlist">
                    @if (Model.Categories != null && Model.Categories.Any())
                    {
                        @Html.Partial("_CategoryList", Model.Categories)


                        foreach (var facet in Model.Facets)
                        {
                        @Html.Partial("_FacetList", facet)
                        }
                    }
                </div>
            </nav>
        </div>

        <div class="search-results">
            <div class="search-sorting small-only">
                @if (Model.Categories != null && Model.Categories.Any())
                {
                    @Html.Partial("_SearchSort", new ViewDataDictionary(new { Id = "Sort2" }))
                }
            </div>
            @if (Model.Categories != null && Model.Categories.Any())
            {
                @Html.Partial("../Product/_ProductGrid", Model.Products)
              
                <div class="search-pagination">
                    <ul>
                        <li class="search-more-nav"><a href="@Model.PreviousPageurl" class="button">Prev</a></li>
                        <li class="search-more-pages notsmall">@Model.OldPageNumber of @Model.TotalPages</li>
                        <li class="search-more-nav"><a href="@Model.NextPageUrl" class="button">Next</a></li>
                    </ul>
                    <div class="search-more-pages small-only">@Model.OldPageNumber of @Model.TotalPages</div>
                </div>
            }

@*to show recently view item list*@
            <div id="category-recent-product">
                <h4>@Resources.ZnodeResource.TextRecentViewProducts</h4>
                <span class="recent-view-items"></span>
            </div>
        </div>
    </div>
</div>

