﻿@model Znode.Engine.MvcAdmin.Models.GridPagerModel

@{
    Layout = null;
}

<html>
<head>
    <title></title>
</head>

<body>
    <div class="pagination clearFix">
        <div class="paginationContent clearFix">
            <div class="ShowPerPage left">
                <span> Show </span>@Html.DropDownListFor(ob => ob.PageSize, Model.PageSizeOptions, new { id = "pageSizeList" })<span> Per Page </span>
            </div>
            <div class="PageLimit right">
                <a id="first" href="#" class="first" data-original-title="First" data-placement="bottom" data-toggle="tooltip"><i class="z-backward"></i></a>
                <a id="previousPage" href="#" class="Previous" data-original-title="Backward" data-placement="bottom" data-toggle="tooltip"><i class="z-first"></i></a>
                <span> Page </span>
                @Html.TextBox("pagerTxt", null, new { @class = "PageNum", autocomplete = "off" })
                <span class="LowerCase">/ @Model.PageCount&nbsp;</span>
                <a id="nextPage" href="#" class="Next" data-original-title="Forward" data-placement="bottom" data-toggle="tooltip"><i class="z-last"></i></a>
                <a id="last" href="#" class="last" data-original-title="Last" data-placement="bottom" data-toggle="tooltip"><i class="z-forward"></i></a>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    var PageIndex = parseInt('@Model.PageIndex');
    var PageCount = parseInt('@Model.PageCount');
    var PageSize = '@Model.PageSize';
    var RecordPerPageFieldName = '@Model.RecordPerPageFieldName';
    var PageFieldName = '@Model.PageFieldName';
    var Sort = '@Model.Sort';
    var SortDir = '@Model.SortDir';
    var SortFieldName = '@Model.SortFieldName';
    var SortDirFieldName = '@Model.SortDirFieldName';
</script>

@Scripts.Render("~/bundle/GridPagerJs")




