﻿@using Znode.Engine.MvcAdmin.Extensions
@using Znode.Plugin
@using Znode.Plugin.Framework
@{
    if (!String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = ViewBag.Title;
    }
    else
    {
        ViewBag.Title = Resources.ZnodeResources.TextStoreName;
    }
}

@{
    IEnumerable<IAdminPlugin> modules = PluginManager<IAdminPlugin>.Current.GetPlugins();
    Func<string, IAdminPlugin> getModule = name => PluginManager<IAdminPlugin>.Current.GetPlugin(name);

    var pluginConfiguratorModule = getModule("PluginConfigurator");
    //var testPluginModule = getModule("PluginTest.Plugins.TestPlugin");
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/themes/base/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  
    <script src="~/Scripts/jquery-1.10.2.js"></script>
  
</head>

<body id="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" class="@ViewContext.RouteData.Values["Action"]" data-controller="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" data-view="@ViewContext.RouteData.Values["Action"].ToString().FirstCharToUpper()" onload="CommonHelper.LoadLayout(); ">

   

    <section class="wrapper">
        <!--Header-->
        <header>
            <div class="container-fluid header">
                <div class="left">
                    <a href=""><img src="~/Content/themes/base/images/multifront_logo.png" alt="Multifront Dashboard" class="img-responsive logo" /></a>
                </div>
                <div class="right">                    
                        <section id="login">
                            @Html.Partial("_LoginPartial")
                        </section>
                    </div>
                </div>                
        </header>
        <!--End Of Header-->
        <!--Main Wrapper-->                
            <section class="main-wrapper" id="body">
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav nav">
                        <li class="quick-links">
                            <a href="/Dashboard/dashboard" title="Home"><i class="glyphicon glyphicon-home"></i></a>
                        </li>
                        <li>                            
                            <a href="/Dashboard/dashboard" title="Dashboard"><i class="f-ico-m z-dashboard"></i><span>Dashboard</span></a>
                        </li>
                        <li>                            
                            <a href="javascript:void();" title="Setup" class="sub-menu"><i class="f-ico-m z-setup"></i><span>Setup</span></a>
                            <ul>
                                <li><a href="/Stores/List" title="Store"><i class="z-store"></i>Store</a></li>
                                <li><a href="/Catalog/List" title="Catalog"><i class="z-catalog"></i>Catalog</a></li>
                                <li><a href="/test/index" title="Categories"><i class="z-category"></i>Categories</a></li>
                                <li><a href="/Payment/List" title="Payment"><i class="glyphicon glyphicon-credit-card"></i>Payment</a></li>
                                <li><a href="/Shipping/List" title="Shipping"><i class="z-truck"></i>Shipping</a></li>
                                <li><a href="/test/index" title="Taxes"><i class="glyphicon glyphicon-usd"></i>Taxes</a></li>
                                <li><a href="/ManageMessage/List" title="Manage Messages"><i class="z-managemessages"></i>Manage Messages</a></li>
                                <li><a href="/ManageBanner/List" title="Manage Banners"><i class="z-managebanners"></i>Manage Banners</a></li>
                                <li><a href="/test/index" title="Manage Content Pages"><i class="z-managecontent"></i>Manage Content Pages</a></li>
                                @{
                                    if (pluginConfiguratorModule != null)
                                    {
                                        <li>@Html.ActionLink(pluginConfiguratorModule.Title, "Index", pluginConfiguratorModule.EntryControllerName)</li>
                                    }
                                }
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void();" title="Inventory" class="sub-menu"><i class="f-ico-m z-inventory"></i><span>Inventory</span></a>
                            <ul>
                                <li><a href="/Product/List" title="Products"><i class="z-product"></i>Products</a></li>
                                <li><a href="/test/index" title="Products"><i class="z-import-export"></i>Import/Export Data</a></li>
                                <li><a href="/Manufacturers/List" title="Brands"><i class="z-brands"></i>Brands</a></li>
                                <li><a href="/ProductType/List" title="Product Types"><i class="z-product-type"></i>Product Types</a></li>
                                <li><a href="/AttributeTypes/List" title="Attribute Types"><i class="z-attribute-type"></i>Attribute Types</a></li>
                                <li><a href="/test/index" title="Add-Ons Types"><i class="z-add-on-type"></i>Add-Ons Types</a></li>
                                <li><a href="/Highlight/List" title="Highlight"><i class="z-highlights"></i>Highlight</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void();" title="Marketing" class="sub-menu"><i class="f-ico-m z-marketing"></i><span>Marketing</span></a>
                            <ul>
                                <li><a href="/Promotion/List"><i class="z-store"></i>Promotions and Coupons</a></li>
                                <li><a href="/GiftCard/List"><i class="z-gift-cards"></i>Gift Cards</a></li> 
                                <li><a href="/Review/List"><i class="z-customer-reviews"></i>Customer Reviews</a></li>
                                <li><a href="/Facet/List"><i class="z-facets"></i>Facets</a></li>
                                <li><a href="/ProductSearchSettings/ProductSearchSetting"><i class="z-store"></i>Product Search Settings</a></li>
                                <li><a href="/test/index"><i class="z-personalization"></i>Personalization</a></li>
                                <li><a href="/test/index"><i class="z-seo-settings"></i>SEO Settings</a></li>
                                <li><a href="/test/index"><i class="z-attribute-type"></i>Affiliate Tracking</a></li>
                                <li><a href="/test/index"><i class="z-google-sitemap"></i>Google Site Map</a></li>
                                <li><a href="/test/index"><i class="z-store-locator"></i>Store Locator</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void();" title="Orders" class="sub-menu"><i class="f-ico-m z-orders"></i><span>Orders</span></a>
                            <ul>
                                <li><a href="/test/index"><i class="z-view-orders"></i>View Orders</a></li>
                                <li><a href="/test/index"><i class="z-create-order"></i>Create an Order</a></li>
                                <li><a href="/test/index"><i class="z-managebanners"></i>Profiles</a></li>
                                <li><a href="/test/index"><i class="z-customers"></i>Customers</a></li>
                                <li><a href="/test/index"><i class="z-service-request"></i>Service Request</a></li>
                                <li><a href="/test/index"><i class="z-rma-configuration"></i>RMA Configuration</a></li>
                                <li><a href="/test/index"><i class="z-rma-manager"></i>RMA Manager</a></li>
                                <li><a href="/test/index"><i class="z-support"></i>Suppliers</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void();" title="Vendors" class="sub-menu"><i class="f-ico-m z-vendors"></i><span>Vendors</span></a>
                            <ul>
                                <li><a href="/test/index"><i class="z-store"></i>Vendor Products</a></li>
                                <li><a href="/test/index"><i class="z-vendor-accounts"></i>Vendor Accounts</a></li>
                                <li><a href="/Franchise/FranchiseList"><i class="z-store"></i>Franchise Administrators</a></li>
                                <li><a href="/test/index"><i class="z-rejection-messages"></i>Rejection Messages</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void();" title="Reports"><i class="f-ico-m z-reports"></i><span>Reports</span></a>
                        </li>
                        <li>
                            <a href="javascript:void();" title="Advanced" class="sub-menu"><i class="f-ico-m z-advanced"></i><span>Advanced</span></a>
                            <ul>
                                <li><a href="/test/index"><i class="z-store-administrators"></i>Store Administrators</a></li>
                                <li><a href="/test/index"><i class="z-key-rotation"></i>Key Rotation</a></li>
                                <li><a href="/test/index"><i class="z-store"></i>Provider Engine</a></li>
                                <li><a href="/test/index"><i class="z-store"></i>Manage Search Index</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <div id="page-content-wrapper">                   
                    <div class="container-fluid">                        
                    <div class="MessageBoxContainer" id="MessageBoxContainerId" data-message="@TempData[MvcAdminConstants.Notifications]"></div>
                    @{
                        TempData.Remove(MvcAdminConstants.Notifications);
                    }
                        <div class="row">                            
                            <div class="col-lg-12 col-md-12 col-sm-12 nav-toggle">
                                <a href="#menu-toggle" id="menu-toggle" data-toggle="tooltip" data-placement="right" data-original-title="Toggle Navigation"><i class="z-hamburger"></i></a>
                            </div>                            
                                @RenderSection("featured", required: false)                                
                                @RenderBody()                                
                            </div>
                        </div>
                    </div>
            </section>
            <!--End Of Main Wrapper-->        
    </section>
                <!--Footer-->
                <footer>
                    <div class="container-fluid">
                        <div class="row footer">
                <div class="col-sm-5 col-md-6">
                    <img src="~/Content/themes/base/images/znode_logo_small.png" alt="Znode" class="img-responsive footer-logo left" />
                                </div>
                <div class="col-sm-7 col-md-6">
                    <p class="right copyright">Powered by Znode Copyright 2015,Znode Inc, All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </footer>
                <!--End Of Footer-->
    
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundle/CustomJs")
    @RenderSection("scripts", required: false)
</body>
</html>
