﻿@model Znode.Engine.MvcAdmin.ViewModels.LoginViewModel
@using Resources;


@using (Html.BeginForm()) 
{
    string rememberMeStatus =(!Equals(Model,null) && Model.RememberMe)? "checked='checked'" :string.Empty;
    <h3 class="login-title">@ZnodeResources.TitleAdminLogin</h3>
    <div class="form-group login-field left-inner-icon">
        <i class="glyphicon glyphicon-user"></i>
        @Html.TextBoxFor(model => model.Username, new { @id = "login_username", @placeholder = ZnodeResources.ColumnUsername })
        <span class="login-error">@Html.ValidationMessageFor(m => m.Username)</span>
    </div>
    <div class="form-group login-field left-inner-icon">
        <i class="z-key"></i>
        @Html.PasswordFor(model => model.Password, new { @id = "login_password", @placeholder = ZnodeResources.ColumnPassword })
        <span class="login-error">@Html.ValidationMessageFor(m => m.Password)</span>
    </div>
    <button type="submit" class="btn-text-login">@ZnodeResources.ButtonLogin</button>
    <div class="col-sm-12 nopadding login-remember">
        <div class="left">
            <label>                
                <input @rememberMeStatus  data-val="true" data-val-required="The RememberMe field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true">
                <span class="lbl padding-8">@ZnodeResources.CheckBoxTextLoginRemember</span>
                <input name="RememberMe" type="hidden" value="false">                
            </label>
        </div>
        <a href="/account/forgotpassword" class="login-form-forgotpassword right">@ZnodeResources.LinkTextForgetPassword</a>
    </div>
}
