﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <ul class="header-top-nav">
        <li><i class="glyphicon glyphicon-user"></i><a href="#">Hello @User.Identity.GetUserName()!</a></li>
        <li><i class="glyphicon glyphicon-cog"></i>@Html.ActionLink("Account", "ChangePassword", "Account", routeValues: null, htmlAttributes: new { id = "userAccount" })</li>
        <li><i class="glyphicon glyphicon-log-out"></i><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="header-top-nav">
        @*<li><i class="glyphicon glyphicon-user"></i>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li><i class="glyphicon glyphicon-log-out"></i>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
