<%@ Control Language="C#" AutoEventWireup="True"
    Inherits="Znode.Engine.Admin.Controls.Default.Product.ProductTitle" CodeBehind="ProductPrice.ascx.cs" %>
<asp:Localize ID="Localize5" runat="server" Text="Price: "></asp:Localize>:
    <asp:Label ID="Price" runat="server" EnableViewState="false"></asp:Label>
