<%@ Control Language="C#" AutoEventWireup="True" Inherits="Znode.Engine.FranchiseAdmin.Secure.Orders.OrderManagement.CreateOrder.Confirm" Codebehind="Confirm.ascx.cs" %>

<div><% = ReceiptTemplate%></div>