﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@model CartItemViewModel
<ul class="cart-item">
    <li class="cart-item-info">
        <div class="cart-item-image">
            <a href="@Url.GetProductUrl(Model.Product.SeoPageName, Model.Product.ProductId.ToString())">
                <img src="@Model.Product.ImageLargePath" alt="@WebUtility.HtmlDecode(Model.Product.Name)" /></a>
        </div>
        <div class="cart-item-details">
            <a href="@Url.GetProductUrl(Model.Product.SeoPageName, Model.Product.ProductId.ToString())" class="cart-item-title">@WebUtility.HtmlDecode(Model.Product.Name)</a>
            <div class="cart-item-description">@Html.Raw(@Model.Description)</div>
            @using (Html.BeginForm("RemoveItem", "Checkout", FormMethod.Post))
            {
                @Html.Hidden("guid", @Model.ExternalId)
                @Html.Hidden("quantity", @Model.Quantity)
                <a href="#" class="cart-item-remove">@Resources.ZnodeResource.LinkTextRemoveItem</a>
            }
            <a href="/cart" class="cart-item-edit">@Resources.ZnodeResource.LinkTextEditCart</a>
            @if (Model.InsufficientQuantity)
            {
                <div class="status-outofstock">@Resources.ZnodeResource.ErrorOutofStock</div>
            }
        </div>
    </li>
    <li class="cart-item-options">
        <ul>

            <li class="cart-item-quantity">
                @using (Html.BeginForm("UpdateQuantity", "Checkout", FormMethod.Post))
                {
                    <span class="label">@Resources.ZnodeResource.ColumnTitleQuantity</span>
                    <span class="quantity">@Model.Quantity</span> 
                    <select name="Quantity" id="Quantity" class="cartQuantity">
                        @for (int quantity = @Model.Product.MinQuantity; quantity <= @Model.Product.MaxQuantity; quantity++)
                        {
                            <option @(quantity == 1 ? "selected" : "")>@quantity</option>
                        }
                    </select>
                    @Html.Hidden("guid", @Model.ExternalId)
                }
            </li>


            <li class="cart-item-total">
                <span class="label">Ship To</span>
                <span class="shipto"></span>
                <select name="ShipTo" id="ShipTo" class="shipTo">
                    @foreach (var adr in Model.Addresses)
                    {
                        if (adr != null)
                        {
                            
                        <option value=@adr.AddressId  @(adr.IsDefaultShipping == true ? "selected" : "")>@adr.Name</option>
                        }
                    }

                </select>
                @Html.Hidden("guid", @Model.ExternalId)
                @Html.Hidden("product", @Model.ProductId)
                @Html.Hidden("slno", "")
                @Html.Hidden("itemguid", "")


            </li>
        </ul>
    </li>
</ul>


