﻿@using Znode.Engine.MvcDemo.ViewModels
@model ReviewOrderViewModel
<div class="cart-products cart-table container">
    <p>
        @Resources.ZnodeResource.TextCheckoutReview
    </p>

    <div class="checkout-totals-shippingto">
        <div class="address">
            <div style="width: 400px;">
                @Html.Partial("_DisplayAddress", Model.ShippingAddress)
            </div>

            @*<div style="float: right; margin-top: -90px;">
                @using (@Html.BeginForm("CalculateShipping", "Checkout", FormMethod.Post))
                {
                    @Html.Hidden("cartIndex", @Model.OrderViewModelIndex)
                    <select name="shipping" id="shipping" class="multipleShippingOption">
                        @foreach (var option in Model.ShippingOptionList.ShippingOptions)
                        {
                            <option value="@option.ShippingId">@WebUtility.HtmlDecode(option.ShippingDescription)</option>

                        }
                    </select>
                }
            </div>*@
        </div>
    </div>
    <h4 class="section-header-color">@Resources.ZnodeResource.SubTitleItemsOrdered</h4>
    @foreach (var cartItem in Model.ShoppingCart.Items)
    {
        @Html.Partial("~/Views/Cart/_CartRow.cshtml", cartItem)
    }

</div>
<div class="cart-summary container" style="margin-top: -32px;">

    <div class="cart-total" style="float: right;">
        <h4 class="section-header-color small-only">@Resources.ZnodeResource.ColumnOrderTotal</h4>
        <dl class="cart-total-table total-table">
            <dt>@Resources.ZnodeResource.ColumnSubTotal</dt>
            <dd>@Convert.ToDecimal(Model.ShoppingCart.SubTotal).ToString("C")</dd>
            <dt>@Resources.ZnodeResource.ColumnDiscounts</dt>
            <dd id="dynamic-discount-amount">@Model.ShoppingCart.Discount.ToString("C")</dd>


            @if (Model.ShoppingCart.TaxCost > 0)
            {
                <dt>@Resources.ZnodeResource.ColumnTax</dt>
                <dd>@Model.ShoppingCart.TaxCost.ToString("C")</dd>
            }

            @if (Model.ShoppingCart.ShippingCost > 0)
            {
               @* Only show during cart review, after shipping info is provided *@
                <dt>@Resources.ZnodeResource.ColumnShipping</dt>
                <dd>@Model.ShoppingCart.ShippingCost.ToString("C")</dd>
            }


        </dl>

    </div>
</div>



