﻿@*
    Partial for purchase order payment option
*@
<form id="payment-po" class="form payment-method grid-m-9">
    <h3 class="section-header-background notsmall">@Resources.ZnodeResource.TitlePurchaseOrder</h3>
    <dl>
        <dt><label>@Resources.ZnodeResource.ColumnPONumber</label></dt>
        <dd><input type="text" class="form-input-long" /></dd>
    </dl>
    <p>
		<button type="submit" class="button button-action">@Resources.ZnodeResource.TextCompletePurchase</button>
	</p>
                
</form>
