﻿@model Znode.Engine.MvcDemo.ViewModels.PaymentOptionViewModel
@*
    Partial for paypal payment option
*@

@if (Model != null)
{
    <form id="payment-paypal" action="/checkout/paypal" method="POST" class="form payment-method grid-m-9">
        <h3 class="section-header-background notsmall">PayPal</h3>

        @* Paypal code below *@
        <p>
            <button type="submit"><img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" /></button>
        </p>
    

        <p class="tinyfade">
            *You will be taken to Paypal's web site to complete your purchase. 
        </p>
        <input type="hidden" value="@Model.PaymentTypeId" name="PaymentTypeId"/>
        <input type="hidden" value="@Model.PaymentName" name="PaymentName"/>
        <input type="hidden" value="@Model.PaymentOptionId" name="PaymentOptionId"/>
    </form>
}