﻿@*
    Partial for gift card payment form
*@

<form id="payment-giftcard" method="post" action="/Checkout/Cod" class="payment-method grid-m-9">
    <h3 class="section-header-background notsmall">@Resources.ZnodeResource.TitleGiftCard</h3>
    <div id="giftcard-action"></div>
	<div id="giftcard-initial" class="form">
		<dl>
			<dt><label for="giftcard_number">@Resources.ZnodeResource.ColumnGiftCardNumber</label></dt>
			<dd><input type="text" id="giftcard_number" name="giftcard" class="form-input" /></dd>
			<dd class="form-error"></dd>
		</dl>
		<p>
			<button type="button" class="giftcard-apply button button-action">@Resources.ZnodeResource.ButtonApplyGiftCard</button>
		</p>
	</div>
</form>


<script type="text/template" id="tmpl-giftcard-continue">
    <dl class="total-table">
        <dt>@Resources.ZnodeResource.ColumnAmountAapplied</dt>
        <dd>{{applied}}</dd>
    
        <dt>@Resources.ZnodeResource.ColumnGiftCardBalance</dt>
        <dd>{{balance}}</dd>
    
        <dt class="total">@Resources.ZnodeResource.ColumnOrderTotal</dt>
        <dd class="total">{{total}}</dd>
    </dl>
	<div class="giftcard-applyagain form">
		<dl>
			<dt><label for="giftcard_again">Use another gift card?</label></dt>
			<dd>
				<input type="text" id="giftcard_again" name="giftcard" class="form-input" />
				<button type="button" class="giftcard-apply button">@Resources.ZnodeResource.ButtonApplyGiftCard</button>
			</dd>
			<dd class="form-error"></dd>
		</dl>
	</div>
    <p>
        <a href="#" class="button button-primary close-giftcard">@Resources.ZnodeResource.LinkTextPayRemainingBalance</a>
    </p>

</script>
<script type="text/template" id="tmpl-giftcard-finish">
        <dl class="total-table">
            <dt>@Resources.ZnodeResource.ColumnAmountAapplied</dt>
            <dd>{{applied}}</dd>
    
            <dt>@Resources.ZnodeResource.ColumnGiftCardBalance</dt>
            <dd>{{balance}}</dd>
    
            <dt class="total">@Resources.ZnodeResource.ColumnOrderTotal</dt>
            <dd class="total">{{total}}</dd>
        </dl>
        <p>
            <button type="submit" class="button button-action">@Resources.ZnodeResource.TextCompletePurchase</button>
        </p>

</script>
