﻿@model Znode.Engine.MvcDemo.ViewModels.PaymentOptionViewModel
@*
    Partial for credit card payment form
*@
@if (Model != null)
{
    <form id="payment-creditcard" action="/checkout/creditcard" method="POST" class="form payment-method grid-m-9">
        <h3 class="section-header-background notsmall">@Resources.ZnodeResource.TitleCreditCard</h3>
        <dl>
            <dt><label>@Resources.ZnodeResource.ColumnCreditCardName</label></dt>
            <dd>@Html.TextBoxFor(x => x.CreditCardModel.CardHolderName, new { @class = "form-input-long" })</dd>
            <dd class="form-error">@Html.ValidationMessageFor(x => x.CreditCardModel.CardHolderName)</dd>

            <dt><label>@Resources.ZnodeResource.ColumnCreditCardNumber</label></dt>
            <dd>@Html.TextBoxFor(x => x.CreditCardModel.CardNumber, new { @class = "form-input-long" })</dd>
            <dd class="form-error">@Html.ValidationMessageFor(x => x.CreditCardModel.CardNumber)</dd>

            <dt><label>@Resources.ZnodeResource.ColumnCreditCardExpirationDate</label></dt>
            <dd class="cc-expiration grid-row">@Html.DropDownListFor(x => x.CreditCardModel.CardExpirationMonth, Model.CreditCardModel.Month)
            @Html.DropDownListFor(x => x.CreditCardModel.CardExpirationYear, Model.CreditCardModel.Year)</dd>
            <dt><label>@Resources.ZnodeResource.ColumnCreditCardSecurityNumber</label></dt>
            <dd class="form-helper">@Resources.ZnodeResource.HintTextCreditCardSecurityNumber</dd>
            <dd>@Html.TextBoxFor(x => x.CreditCardModel.CardSecurityCode, new { @class = "form-input-short" })</dd>
            <dd class="form-error">@Html.ValidationMessageFor(x => x.CreditCardModel.CardSecurityCode)</dd>
        </dl>
        <p>
            <button type="submit" class="button button-action">@Resources.ZnodeResource.TextCompletePurchase</button>
        </p>
        <p>
            @Resources.ZnodeResource.TextCreditCardCharge
        </p>
        <input type="hidden" value="@Model.PaymentTypeId" name="PaymentTypeId"/>
        <input type="hidden" value="@Model.PaymentName" name="PaymentName"/>
        <input type="hidden" value="@Model.PaymentOptionId" name="PaymentOptionId"/>
    </form>
}