﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@{
    ViewBag.HideEmail = true;
    ViewBag.IsAddAddress = true;
}
@model AddressViewModel

<div id="layout-checkout-addaddress">
    <div class="location">
        <h1 class="location-title">@Resources.ZnodeResource.TitleAddAddress</h1>
    </div>
    <div class="checkout-step">
        <h2 class="checkout-step-title">@(ViewBag.IsShipping ? Resources.ZnodeResource.SubTitleCheckout1of4 : Resources.ZnodeResource.SubTitleCheckout3of4)</h2>
    </div>
    <div class="container">
        <a href="#backtocheckout" class="account-gohome">@Resources.ZnodeResource.ButtonCancel</a>
        <form class="form" method="POST" action="">
            @Html.Partial("_EditAddress", Model)

            <p class="styled-input">
                <input type="checkbox" id="asdefault_shipping" name="IsDefaultShipping" value="true" @(Model.IsDefaultShipping ? "checked='checked'" : "") /><label for="asdefault_shipping">@Resources.ZnodeResource.CheckBoxTextShippingAddress</label>
            </p>
            <p class="styled-input">
                <input type="checkbox" id="asdefault_billing" name="IsDefaultBilling" value="true" @(Model.IsDefaultBilling ? "checked='checked'" : "")/><label for="asdefault_billing">@Resources.ZnodeResource.CheckBoxTextBillingAddress</label>
            </p>
            <p>
                <button type="submit" class="button button-action">@Resources.ZnodeResource.ButtonSaveChanges</button>

                @{
                    string returnurl = Request.QueryString["returnURL"].ToString();
                    if (returnurl.ToLower().Equals(MvcDemoConstants.RouteMultipleShipto.ToLower()))
                    {
                    <a href="@(MvcDemoConstants.RouteMultipleShipto)" class="form-cancel">@Resources.ZnodeResource.ButtonCancel</a>
                    }
                    else
                    {
                    <a href="@((ViewBag.IsShipping != null && ViewBag.IsShipping) ? MvcDemoConstants.RouteGuestCheckoutShipping : MvcDemoConstants.RouteBillingAddress)" class="form-cancel">@Resources.ZnodeResource.ButtonCancel</a>
                    }
                }


            </p>
        </form>
    </div>
</div>

