﻿@*
The payment method menu options should only display if there is more than a single payment
option enabled for the store. If there's only one, it should be displayed at load without
any other options.
*@

@using Znode.Engine.MvcDemo.ViewModels
@model Znode.Engine.MvcDemo.ViewModels.PaymentsViewModel

<div id="layout-checkout-payment">
    <div class="location">
        <h1 class="location-title">@Resources.ZnodeResource.TitlePayment</h1>
    </div>
    <div class="checkout-step">
        <h2 class="checkout-step-title">@Resources.ZnodeResource.SubTitleCheckout4of4</h2>
    </div>
    <div class="container-narrow">
        <h3 class="payment-total">
            @Resources.ZnodeResource.ColumnTotalPaymentDue <span id="dynamic-total">@Model.Cart.ShoppingCart.Total.GetValueOrDefault(0).ToString("C")</span>
        </h3>
        <div style="color: red;">@Html.ValidationSummary(true)</div>
        <div class="payment-address-active grid-row">
            <div class="payment-address grid-row grid-m-6 grid-l-4">
                @if (Model.IsMultipleShipping.Equals(true))
                {
                    <h4>You are shipping to Multiple Addresses</h4>
                    using (@Html.BeginForm("ViewMultipleshipto", "Checkout", FormMethod.Post))
                    {
                    <a href="#" class="view-multi-address-cart">View</a>
                    }
                }
                else
                {
                    <h4>@Resources.ZnodeResource.ColumnSelectedShippingAddress</h4>                
                    @Html.Partial("_DisplayAddress", Model.ShippingAddress)
                
                    <h4>@Resources.ZnodeResource.ColumnShippingMethod</h4>
                    @WebUtility.HtmlDecode(Model.Cart.ShippingOption.ShippingDescription) 
                }
            </div>
            <div class="payment-address grid-row grid-m-6 grid-l-4">
                <h4>@Resources.ZnodeResource.ColumnSelectedBillingAddress</h4>
                @Html.Partial("_DisplayAddress", Model.BillingAddress)
            </div>

        </div>
        <div id="payment-container" class="grid-row">
            @* The payment menu should only appear if there is more than one payment method defined by the store *@
            <h4 class="section-header">@Resources.ZnodeResource.SubTitleSelectPaymentMethod</h4>
            <div id="payment-methods" class="grid-m-3">
                <ul>
                    @if (Model.PaymentOptions.Any(x => x.PaymentTypeId == (int)EnumPaymentType.CreditCard))
                    {
                        <li>
                            <a href="#" data-toggle="payment-creditcard" class="">Credit card</a>
                        </li>
                    }
@* @if (Model.PaymentOptions.Any(x => x.PaymentTypeId == (int)EnumPaymentType.PurchaseOrder))
                    {
                        <li>
                            <a href="#" data-toggle="payment-po" class="">Purchase order</a>
                        </li>
                    }*@
                    @if (Model.PaymentOptions.Any(x => x.PaymentTypeId == (int)EnumPaymentType.COD))
                    {
                        <li>
                            <a href="#" data-toggle="payment-cod" class="">Cash on delivery</a>
                        </li>
                    }
@*  @if (Model.PaymentOptions.Any(x => x.PaymentTypeId == (int)EnumPaymentType.GoogleCheckout))
                    {
                        <li>
                            <a href="#" data-toggle="payment-google" class="">Google Checkout</a>
                        </li>
                    }*@
                    @if (Model.PaymentOptions.Any(x => x.PaymentTypeId == (int)EnumPaymentType.PaypalExpressCheckout))
                    {
                        <li>
                            <a href="#" data-toggle="payment-paypal" class="">Paypal</a>
                        </li>
                    }

                    <li>
                        <a href="#" data-toggle="payment-giftcard" class="">Gift card</a>
                    </li>
                </ul>
            </div>
            @* Include the partials for defined payment methods, include in markup no matter what *@
            @if (Model.PaymentOptions.Any(x => x.PaymentTypeId == (int)EnumPaymentType.CreditCard))
            {
                @Html.Partial("_PaymentCreditCard", Model.PaymentOptions.FirstOrDefault(x => x.PaymentTypeId == (int)EnumPaymentType.CreditCard)) @* Credit card *@
            }
@*if (Model.PaymentOptions.Any(x => x.PaymentTypeId == (int) EnumPaymentType.PurchaseOrder))
            {
                @Html.Partial("_PaymentPO") @* Purchase order
            }*@
            @if (Model.PaymentOptions.Any(x => x.PaymentTypeId == (int)EnumPaymentType.COD))
            {
                @Html.Partial("_PaymentCOD", Model.PaymentOptions.FirstOrDefault(x => x.PaymentTypeId == (int)EnumPaymentType.COD)) @* COD *@
            }
            @if (Model.PaymentOptions.Any(x => x.PaymentTypeId == (int)EnumPaymentType.PaypalExpressCheckout))
            {
                @Html.Partial("_PaymentPaypal", Model.PaymentOptions.FirstOrDefault(x => x.PaymentTypeId == (int)EnumPaymentType.PaypalExpressCheckout)) @* Purchase order *@
            }

            @Html.Partial("_PaymentGiftCard") @* Purchase order *@
        </div>
    </div>
</div>
@if (ViewBag.DefaultPayment != null)
{
    <input type="hidden" id="defaultpayment" value="payment-@ViewBag.DefaultPayment"/>
}


<script>
    $(document).ready(function () {
        App.Cart.init();
    })
</script>
