﻿@model  Znode.Engine.MvcDemo.ViewModels.ShippingBillingAddressViewModel


<div id="layout-checkout-newshipping">
    <div class="location">
        <h1 class="location-title">@Resources.ZnodeResource.TitleAddresses</h1>
    </div>
    <div class="checkout-step">
        <h2 class="checkout-step-title">@Resources.ZnodeResource.SubTitleCheckout1of4</h2>
    </div>
    <div class="container-narrow">
       @* <p>
            @string.Format(Resources.ZnodeResource.TextGuestShipping, Resources.ZnodeResource.TextShipped)
        </p>*@
      

        <form class="form" method="POST" action="/Checkout/Shipping">
            <div class="edit-address-container">
            <h3 class="section-header">@Resources.ZnodeResource.TitleShippingAddress</h3>
            @Html.EditorFor(ob => ob.ShippingAddressModel, "_ShippingBillingAddress")
                 <dl class="edit-address-email">
                    <dt>
                        <label for="address_email">@Resources.ZnodeResource.ColumnEmailAddress*</label></dt>
                    <dd class="form-helper">@Resources.ZnodeResource.RequiredBillingAddressEmail</dd>
                    <dd>@Html.TextBoxFor(m => m.EmailAddress, new { @type = "email", @id = "address_email", @class = "form-input-long" })</dd>
                    <dd class="form-error">@Html.ValidationMessageFor(m => m.EmailAddress)</dd>
                </dl>
                
                <p class="styled-input">
                    <input id="billingSameAsShippingAddress" name="BillingAddressModel.UseSameAsShippingAddress" type="checkbox" value="true"  @(Model.BillingAddressModel.UseSameAsShippingAddress? "checked=checked" : "") >
                    <label for="billingSameAsShippingAddress">Billing address is same as shipping</label>  
                    <input name="BillingAddressModel.UseSameAsShippingAddress" type="hidden" value="false">  
                </p>
                 <p>
                    <button type="submit" class="button button-action">@Resources.ZnodeResource.ButtonNextStep</button>
                    <a href="/Cart" class="form-cancel">@Resources.ZnodeResource.ButtonCancel</a>
                </p>
            </div>

            <div class="useshipping styled-input">              

                <div id="billingaddressform">

                    <h3 class="section-header">@Resources.ZnodeResource.TitleBillingAddress</h3>

                    @Html.EditorFor(ob => ob.BillingAddressModel, "_ShippingBillingAddress")

                </div>               

            </div>


        </form>
    </div>

</div>
