﻿@using Znode.Engine.MvcDemo.ViewModels

@model AccountViewModel

@{
    var shippingAddress = Model.ShippingAddress;
    var billingAddress = Model.BillingAddress;
}

<div id="layout-checkout-newshipping">
    <div class="location">
        <h1 class="location-title">@Resources.ZnodeResource.TitleAddresses</h1>
    </div>
    <div class="checkout-step">
        <h2 class="checkout-step-title">@Resources.ZnodeResource.SubTitleCheckout1of4</h2>
    </div>
    <div class="container-narrow" id="checkoutAddressContainer">
        <form action="/Checkout/@Resources.ZnodeResource.ColumnShipping" class="form" method="POST">
            @Html.ValidationSummary(true)

            <div class="edit-address-container">
                <h3 class="section-header">Shipping address</h3>
                @if (shippingAddress != null)
                {
              
                    <div class="checkout-newshipping-default-address checkout-newshipping-address styled-input">
                        <h4>@string.Format(Resources.ZnodeResource.TitleDefaultAddress, Resources.ZnodeResource.ColumnShipping.ToLower())</h4>
                        <input type="radio" name="ShippingAddressId" id="shipto-@shippingAddress.AddressId" value="@shippingAddress.AddressId" checked="checked" />
                        <label for="shipto-@shippingAddress.AddressId">
                            @Html.Partial("_DisplayAddress", shippingAddress ?? new AddressViewModel())
                        </label>
                    </div>
                
               
                
                
                    if (Model.Addresses.Where(x => x.AddressId != shippingAddress.AddressId).ToList().Any())
                    {
                        if (Model.IsValidToMultipleShip)
                        {
                         <a href="../Checkout/Multipleshipto" class="checkout-newshipping-multiship">@Resources.ZnodeResource.LinkShipMultipleAddress</a>
                        }
                    }

                    if (Model.Addresses.Where(x => x.AddressId != shippingAddress.AddressId).ToList().Any())
                    {
                    <div class="checkout-newshipping-locations">
                        <h4>@Resources.ZnodeResource.TitleMoreAddress</h4>
                        <ul class="styled-input">
                            @foreach (var address in Model.Addresses.Where(x => x.AddressId != shippingAddress.AddressId).ToList())
                            {
                                <li>
                                    <input type="radio" name="ShippingAddressId" id="shipto-@address.AddressId" value="@address.AddressId"/>
                                    <label for="shipto-@address.AddressId">
                                        @Html.Partial("_DisplayAddress", address ?? new AddressViewModel())
                                    </label>
                                </li>
                            }
                        </ul>
                    </div>

                    }
                }
                <a href="/checkout/AddNewAddress?returnURL=@(WebUtility.UrlEncode(Request.Url.PathAndQuery))" class="action-cancel checkout-newshipping-multiship">@Resources.ZnodeResource.LinkAddNewAddress</a>

                <dl class="edit-address-email">
                    <dt>
                        <label for="address_email">@Resources.ZnodeResource.ColumnEmailAddress*</label></dt>
                    <dd class="form-helper">@Resources.ZnodeResource.RequiredBillingAddressEmail</dd>
                    <dd>@Html.TextBoxFor(m => m.EmailAddress, new { @type = "email", @id = "address_email", @class = "form-input-long", @readonly = "readonly" })</dd>
                    <dd class="form-error">@Html.ValidationMessageFor(m => m.EmailAddress)</dd>
                </dl>


                <button type="submit" class="button button-action">@Resources.ZnodeResource.ButtonNextStep</button>
                <a href="/Cart" class="form-cancel">@Resources.ZnodeResource.ButtonCancel</a>

            </div>


            <div class="useshipping">
                <h3 class="section-header">Billing address</h3>

                @if (billingAddress != null)
                {
                
                    <div class="checkout-newshipping-default-address checkout-newshipping-address styled-input">
                        <h4>@string.Format(Resources.ZnodeResource.TitleDefaultAddress, Resources.ZnodeResource.ColumnBilling.ToLower())</h4>
                        <input type="radio" name="BillingAddressId" id="billto-@billingAddress.AddressId" value="@billingAddress.AddressId" checked="checked" />
                        <label for="billto-@billingAddress.AddressId">
                            @Html.Partial("_DisplayAddress", billingAddress ?? new AddressViewModel())
                        </label>
                    </div>
                
                               
                    if (Model.Addresses.Where(x => x.AddressId != billingAddress.AddressId).ToList().Any())
                    {
                    <div class="checkout-newshipping-locations billing-more-add">
                        <h4>@Resources.ZnodeResource.TitleMoreAddress</h4>
                        <ul class="styled-input">
                            @foreach (var address in Model.Addresses.Where(x => x.AddressId != billingAddress.AddressId).ToList())
                            {
                                <li>
                                    <input type="radio" name="BillingAddressId" id="billto-@address.AddressId" value="@address.AddressId"/>
                                    <label for="billto-@address.AddressId">
                                        @Html.Partial("_DisplayAddress", address ?? new AddressViewModel())
                                    </label>
                                </li>
                            }
                        </ul>
                    </div>
                    }

                }
                <a href="/checkout/AddNewAddress?returnURL=@(WebUtility.UrlEncode(Request.Url.PathAndQuery))" class="action-cancel checkout-newshipping-multiship">@Resources.ZnodeResource.LinkAddNewAddress</a>
            </div>

        </form>
    </div>

</div>
