﻿@using Znode.Engine.MvcDemo.ViewModels
@model ShippingOptionListViewModel

<div id="layout-checkout-shipsingle">
    <div class="location">
        <h1 class="location-title">@Resources.ZnodeResource.TitleShippingMethod</h1>
    </div>
    <div class="checkout-step">
        <h2 class="checkout-step-title">@Resources.ZnodeResource.SubTitleCheckout2of4</h2>
    </div>
    <div class="container-narrow">
        <p>
            @Resources.ZnodeResource.TextYourOrderShipped
        </p>


        @if (Request.QueryString.Count > 0)
        {
            <form method="GET" action="/Checkout/Review?multipleshipto=@true" class="shipping-methods grid-m-6">
                @Html.Hidden("isMultipleShip", "true")
                <h4>@Resources.ZnodeResource.TitleSelectMethod</h4>
                <ul>
                    @foreach (var option in Model.ShippingOptions)
                    {
                        <li class="styled-input">
                            <input type="radio" id="@option.ShippingCode.Replace(" ", "_")" name="ShippingOptions" value="@option.ShippingId" @(Model.ShippingOptions.First().ShippingId == option.ShippingId ? "checked=checked" : "") />
                            @Html.Label(WebUtility.HtmlDecode(option.ShippingDescription), new { @for = option.ShippingCode.Replace(" ", "_") })
                        </li>
                    }
                </ul>
                <p>
                    <button type="submit" class="button button-action">@Resources.ZnodeResource.ButtonNextStep</button>
                </p>
            </form>
        }
        else
        {

            <form method="GET" action="/Checkout/Review?multipleshipto=@false" class="shipping-methods grid-m-6">
                @Html.Hidden("isMultipleShip", "false")
                 <h4>@Resources.ZnodeResource.TitleSelectMethod</h4>
                <ul>
                    @foreach (var option in Model.ShippingOptions)
                    {
                        <li class="styled-input">
                            <input type="radio" id="@option.ShippingCode.Replace(" ", "_")" name="ShippingOptions" value="@option.ShippingId" @(Model.ShippingOptions.First().ShippingId == option.ShippingId ? "checked=checked" : "") />
                            @Html.Label(WebUtility.HtmlDecode(option.ShippingDescription), new { @for = option.ShippingCode.Replace(" ", "_") })
                        </li>
                    }
                </ul>
                <p>
                    <button type="submit" class="button button-action">@Resources.ZnodeResource.ButtonNextStep</button>
                </p>
            </form>
        }
        <div class="shipping-address grid-m-6">
            <h4>@Resources.ZnodeResource.TitleShippingTo</h4>
            @Html.Partial("_DisplayAddress", Model.ShippingAddress)
        </div>
    </div>
</div>
