﻿@using Znode.Engine.MvcDemo.ViewModels
@{
    ViewBag.CheckoutLogin = 1;
}

<div id="layout-checkout-login" class="container-narrow">
	<div class="checkout-login-options">
		<ul>
			<li><a href="/Checkout/CheckoutGuestShipping" class="checkout-login-asguest">@Resources.ZnodeResource.LinkTextGuestCheckout</a></li>
			<li><a href="./signup" class="checkout-login-asnew">@Resources.ZnodeResource.LinkTextRegisterAccount</a></li>
			<li><a href="#" class="checkout-login-asuser">@Resources.ZnodeResource.LinkTextExistingCustomer</a></li>
		</ul>
	</div>
	<div class="checkout-login-user">
		@Html.Partial("_LoginForm")
	</div>
</div>