﻿@using Znode.Engine.MvcDemo.ViewModels
@model ReviewOrderViewModel
<div id="layout-cart" class="cart-totals">
    <div class="location">
        <h1 class="location-title">@Resources.ZnodeResource.SubTitleReviewOrder</h1>
    </div>
    <div class="checkout-step">
        <h2 class="checkout-step-title">@Resources.ZnodeResource.SubTitleCheckout3of4</h2>
    </div>
    <div class="cart-products cart-table container">
        <p>
            @Resources.ZnodeResource.TextCheckoutReview 
        </p>
        <div class="checkout-totals-shippingto">
            <h4 class="section-header-color">@WebUtility.HtmlDecode(Model.ShippingOption.ShippingDescription) to:</h4>
            <div class="address">
                @Html.Partial("_DisplayAddress", Model.ShippingAddress)
            </div>
        </div>
        <h4 class="section-header-color">@Resources.ZnodeResource.SubTitleItemsOrdered</h4>

        @foreach (var cartItem in Model.ShoppingCart.Items)
        {
            @Html.Partial("../Cart/_CartRow", cartItem)
        }

    </div>
    <div class="cart-summary container">
        <div class="cart-promocode">
            <h4>@Resources.ZnodeResource.TitleAppliedPromoCode</h4>
            @Html.Partial("../Cart/_PromoCodes",Model.ShoppingCart)
            <p>
                <a href="/cart" class="underline">@Resources.ZnodeResource.LinkTextPromoCode</a>
            </p>
        </div>
        <div class="cart-total">
            <h4 class="section-header-color small-only">@Resources.ZnodeResource.ColumnOrderTotal</h4>
             @Html.Partial("../Cart/_TotalTable", Model.ShoppingCart)


             <a href="/checkout/Payment" class="button cart-checkout-button button-action">@Resources.ZnodeResource.ButtonContinue</a>

            <a href="/cart" class="button cart-checkout-button">@Resources.ZnodeResource.ButtonEditCart</a>
        </div>
    </div>

</div>
