﻿@using Znode.Engine.MvcDemo.ViewModels
@model OrderViewModel
@{
    ViewBag.Title = "CheckoutReceipt";
}

<div id="layout-checkout-receipt">
    <div class="location">
        <h1 class="location-title">@Resources.ZnodeResource.SubTitleReceipt</h1>
    </div>
    <div class="container">
        @if (Model != null)
        {
            <p>
                Thank you for your purchase, your order number is <strong>#@Model.OrderId</strong>
            </p>
            <p>
                An email receipt has been sent to <strong>@Model.EmailId</strong>, please keep this email for your records.    
            </p>
            if (User.Identity.IsAuthenticated)
             {
                <p>
                    You can also look up any past purchase through your account order history.
                </p>
             }
            <p>
                <a href="/" class="button">Continue shopping</a>    
            </p>
        }
        else
        {
            <h3>@Resources.ZnodeResource.ErrorUnablePlaceOrder</h3>
        }
        
    </div>
</div>


@*
<div id="layout-checkout-receipt">
    <div class="location">
        <h1 class="location-title">@Resources.ZnodeResource.SubTitleReceipt</h1>
    </div>
    @if (Model != null)
    {
        <div>@Html.Raw(@Model)</div>
    }
    else
    {
        <div>@Resources.ZnodeResource.ErrorUnablePlaceOrder</div>
    }
</div>
*@
