﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Receipt for order #123455 | Business name </title>
        <style>body,h1,h2,h3,h4,h5 { padding:0;margin:0; }</style>
	</head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    	<center>
        <div id="frame" style="font-family:arial;">
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background-color:#FAFAFA;">
            	<tr>
                	<td align="center" valign="top">

                    	<table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#fff;">
                        	<tr>
                            	<td valign="top">
                                    <!-- Header -->
                                	<table border="0" cellpadding="10" cellspacing="0" width="600">
                                        <tr>
                                            <td valign="top">
                                                <h2>Order #123456 on 12/12/2013</h2>
                                                <h3 style="color:#666">Business name</h3>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
                                    <!-- Customer info -->
                                	<table border="0" cellpadding="10" cellspacing="0" width="600" style="border-top:solid 2px #333;font-size:13px;">
                                    	<tr>
                                            <td valign="top" width="24%">
                                                <h4>Details:</h4>
                                                Order: 123456<br />
                                                Account: 123456<br />
                                                Payment: Credit card
                                            </td>
                                            <td valign="top" width="33%">
                                            	<h4>Billed to:</h4>
										        @Model.Name<br />
											    @Model.FirstName @Model.LastName<br />
											    @Model.StreetAddress1<br />
                                                @Model.StreetAddress2<br />
											    @Model.City, @Model.StateCode @Model.PostalCode<br />
                                                @Model.Email
                                                
                                            </td>
                                            <td valign="top" width="33%">
                                				<h4>Shipping to:</h4>
                                				@Model.Name<br />
                                                @Model.FirstName @Model.LastName<br />
                                                @Model.StreetAddress1<br />
                                                @Model.StreetAddress2<br />
                                                @Model.City, @Model.StateCode @Model.PostalCode
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top" style="padding-top:20px">
                                    <!-- Order list -->
                                	<table border="0" cellpadding="10" cellspacing="0" width="600" style="border-bottom:solid 2px #333">
                                    	<tr>
                                            <td valign="top" style="background-color:#333;color:#fff;" width="60%">
                                                Item
                                            </td>
                                            <td valign="top" style="background-color:#333;color:#fff;" width="10%">
                                                Qty
                                            </td>
                                            <td valign="top" align="right" style="background-color:#333;color:#fff;" width="15%">
                                                Price
                                            </td>
                                            <td valign="top" align="right" style="background-color:#333;color:#fff;" width="15%">
                                                Total
                                            </td>
                                        </tr>
                                        <!-- Item row -->
                                        <tr>
                                            
                                            <td valign="top" style="border-bottom:solid 1px #ccc;border-right:solid 1px #ccc">
                                                Foobag table
                                            </td>
                                            <td valign="top" style="border-bottom:solid 1px #ccc;border-right:solid 1px #ccc">
                                                2
                                            </td>
                                            <td valign="top" align="right" style="border-bottom:solid 1px #ccc;border-right:solid 1px #ccc">
                                                4.00
                                            </td>
                                            <td valign="top" align="right" style="border-bottom:solid 1px #ccc;border-right:solid 1px #ccc">
                                                8.00
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                            	<td align="center" valign="top">
                                    <!-- Support and totals -->
                                	<table border="0" cellpadding="10" cellspacing="0" width="600">
                                    	<tr>
                                        	<td valign="top" width="65%">
                                                <p>Thank you message</p>

                                                <div style="font-size:12px;">
                                                    
                                                </div>
                                            </td>
                                            <td valign="top" width="35%">
                                               
                                                <!-- Totals -->
                                            	<table border="0" cellpadding="5" cellspacing="0" width="100%">
			                                    	<tr>
			                                        	<td valign="top" width="50%">
			                                                Subtotal
			                                            </td>
			                                            <td valign="top" align="right" width="50%">
			                                                $20.00
			                                            </td>
			                                        </tr>
                                                    <tr>
                                                        <td valign="top" width="50%">
                                                            Discounts
                                                        </td>
                                                        <td valign="top" align="right" width="50%">
                                                            $20.00
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" width="50%">
                                                            Tax
                                                        </td>
                                                        <td valign="top" align="right" width="50%">
                                                            $20.00
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" width="50%">
                                                            Shipping
                                                        </td>
                                                        <td valign="top" align="right" width="50%">
                                                            $20.00
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" width="50%" style="border-top:solid 1px #333">
                                                            <b>Total</b>
                                                        </td>
                                                        <td valign="top" align="right" width="50%" style="border-top:solid 1px #333">
                                                            <b>$20.00</b>
                                                        </td>
                                                    </tr>
			                                    </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="center" style="padding:10px 0;border-top:solid 1px #999;color:#999;font-size:12px;">
                                    Problems? Contact support@mystore.com or call 1-800-123-1234
                                </td>
                            </tr>
                        </table>
                        <br />
                    </td>
                </tr>
            </table>
        </div>
        </center>
    </body>
</html>