﻿@using Znode.Engine.MvcDemo.ViewModels
@model CartViewModel
<div class="cart-friendlytotal location">
    <h1 class="location-title">@Resources.ZnodeResource.TitleMultipleAddressCart</h1>
    <span style="float: right; margin-top: -38px; margin-right: 20px;">
        <a href="/checkout/AddNewAddress?returnURL=@(WebUtility.UrlEncode(Request.Url.PathAndQuery))" class="action-cancel">@Resources.ZnodeResource.LinkAddNewAddress</a>
    </span>
</div>
<div id="layout-cart">
    @if (Model.Items.Any())
    {
        <div class="cart-products cart-table container-narrow">
            @foreach (var cartItem in Model.Items)
            {
                for (int i = 0; i < cartItem.Quantity; i++)
                {
                    cartItem.Addresses = Model.Addresses.ToList();
                @Html.Partial("_MultipleAddressCartRow", cartItem)
                }

            }
        </div>
        
    }
    else
    {
        <div class="cart-summary container">
            <p class="text-center">@Resources.ZnodeResource.ErrorNoCartItemsFound</p>
        </div>

    }
    <div style="float: right; margin-right: 400px; margin-bottom: 50px;">
        <button type="submit" id="submitMultipleShipping" value="Continue">Continue</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        App.Cart.init();
    })
</script>
