﻿@using Znode.Engine.MvcDemo.ViewModels
@model ReviewOrderListViewModel

<div id="layout-cart" class="cart-totals">
    <div class="location">
        <h1 class="location-title">@Resources.ZnodeResource.SubTitleReviewOrder</h1>
    </div>
    <div class="checkout-step">
        <h2 class="checkout-step-title">@Resources.ZnodeResource.SubTitleCheckout3of4</h2>
    </div>
    @foreach (var orderItem in Model.ReviewOrderList)
    {
        @Html.Partial("_MultipleCheckoutReviewRow", orderItem)
    }

    <div class="cart-summary container">

        <div class="cart-total" style="float: right;">
            <h4 class="section-header-color small-only">@Resources.ZnodeResource.ColumnOrderTotal</h4>
            <dl class="cart-total-table total-table">
                <dt class="total">@Resources.ZnodeResource.ColumnOrderTotal</dt>

                @{
                    decimal total = 0;
                    foreach (var orderItem in Model.ReviewOrderList)
                    {
                        total += Convert.ToDecimal((orderItem.ShoppingCart.Total));
                    }
                }
                <dd class="total" id="dynamic-order-total">@Convert.ToDecimal(total).ToString("C")</dd>

            </dl>
            <a href="/checkout/Payment" class="button cart-checkout-button button-action">@Resources.ZnodeResource.ButtonContinue</a>
            <a href="/cart" class="button cart-checkout-button">@Resources.ZnodeResource.ButtonEditCart</a>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        App.Cart.init();
    })
</script>
