﻿
@{
    ViewBag.Title = "Dashboard";
}

<div class="col-sm-12">
    <div class="home-page-container">
        <h2>Let's Start...</h2>

        <div class="col-sm-12 col-md-12 col-lg-11 col-lg-offset-1 ">
            <div class="col-sm-6 col-md-3">
                <ul class="quick-links-ul">
                    <li>
                        <a href="#" title="Create Store">
                            <div class="img-circle img-responsive quick-links-circle">
                                <i class="z-store"></i><h3>Create Store</h3>
                            </div>
                        </a>
                        <div class="circle-details">
                            <p>Set up stores, associate a catalog, and create URLs to access the store.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <ul class="quick-links-ul">
                    <li>
                        <a href="#" title="Create Catalog">
                            <div class="img-circle img-responsive quick-links-circle">
                                <i class="z-catalog"></i><h3>Create Catalog</h3>
                            </div>
                        </a>
                        <div class="circle-details">
                            <p>Catalogs are groupings of selected categories that you want to display in your store (example: Summer Catalog).</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <ul class="quick-links-ul">
                    <li>
                        <a href="#" title="Create Category">
                            <div class="img-circle img-responsive quick-links-circle">
                                <i class="z-category"></i><h3>Create Category</h3>
                            </div>
                        </a>
                        <div class="circle-details">
                            <p>Categories are hierarchical groupings of products in your catalog (example: Apparel, Electronics, etc).</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <ul class="quick-links-ul">
                    <li>
                        <a href="#" title="Add Product">
                            <div class="img-circle img-responsive quick-links-circle">
                                <i class="z-product"></i><h3>Add Product</h3>
                            </div>
                        </a>
                        <div class="circle-details">
                            <p>Add or manage products and inventory in your store.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="col-sm-10 col-sm-offset-1 dashboard-page-container">
    <div class="col-sm-12 col-md-6 alert-box">
        <h3>Alerts</h3>
        <div class="col-sm-12 alert-msg nopadding">
            <ul>
                <li> 8 products have low inventory Manage Inventory</li>                
                <li> 8 products have low inventory Manage Inventory </li>
            </ul>
            <button type="submit" class="btn-text-full red" title="VIEW ALL">View All</button>
        </div>
    </div>
    <div class="col-sm-12 col-md-5 col-md-offset-1 quick-statistics">
        <h3 class="quick-title">Quick Statistics</h3>
        <div class="col-sm-12 quick-container nopadding">
            <div class="col-sm-6 sales-container nopadding">
                <p>$22,823.34</p>
                <div class="col-sm-12 sales-box">
                    <h4>152</h4>
                    <h5>Total Sales YTD</h5>
                </div>
            </div>
            <div class="col-sm-6 account-container nopadding">
                <p>Total Sales YTD</p>
                <div class="col-sm-12 sales-box">
                    <h4>152</h4>
                    <h5>Accounts Created YTD</h5>
                </div>
            </div>
            <button type="submit" class="btn-text-full red" title="RUN REPORTS">Run Reports</button>
        </div>
    </div>
</div>


@*Required this code in fetural case.
    
    <div class="col-sm-12 dashboard-page-container">

    <div class="col-lg-9 col-md-8 col-sm-7 nopadding">
        <div class="col-sm-12 nopadding">
            <div class="pull-left">
                <select>
                    <option>Life Time Sales</option>
                    <option>Option-1</option>
                    <option>Option-2</option>
                </select>
            </div>
            <div class="pull-right">
                <select>
                    <option>Bar Chart</option>
                    <option>Option-1</option>
                    <option>Option-2</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-5 dashboard-col">
        <div class="col-sm-12 alert-box">
            <h3>Alerts</h3>
            <div class="col-sm-12 alert-msg nopadding">
                <ul>
                    <li> 8 products have low inventory Manage Inventory</li>
                    <li> Create and manage multiple storefronts for your business <a href="#">Click Here</a></li>
                    <li> 8 products have low inventory Manage Inventory </li>
                </ul>
                <button type="submit" class="btn-text-full red">View All</button>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 quick-statistics">
            <h3 class="quick-title">Quick Statistics</h3>
            <div class="col-sm-12 quick-container nopadding">
                <div class="col-sm-6 sales-container nopadding">
                    <p>$22,823.34</p>
                    <div class="col-sm-12 sales-box">
                        <h4>152</h4>
                        <h5>Total Sales YTD</h5>
                    </div>
                </div>
                <div class="col-sm-6 account-container nopadding">
                    <p>Total Sales YTD</p>
                    <div class="col-sm-12 sales-box">
                        <h4>152</h4>
                        <h5>Accounts Created YTD</h5>
                    </div>
                </div>
                <button type="submit" class="btn-text-full red">Run Reports</button>
            </div>            
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 dashboard-col">
        <div class="col-sm-12 nopadding">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><a><span>My Favorites</span></a></h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul>
                                    <li> 8 products have low inventory Manage Inventory</li>
                                    <li> Create and manage multiple storefronts for your business <a href="#">Click Here</a></li>
                                    <li> 8 products have low inventory Manage Inventory </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><a><span>Quick Statistics</span></a></h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li> 8 products have low inventory Manage Inventory</li>
                                    <li> Create and manage multiple storefronts for your business <a href="#">Click Here</a></li>
                                    <li> 8 products have low inventory Manage Inventory </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><a><span>Order Data</span></a></h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li> 8 products have low inventory Manage Inventory</li>
                                    <li> Create and manage multiple storefronts for your business <a href="#">Click Here</a></li>
                                    <li> 8 products have low inventory Manage Inventory </li>
                                </ul>
                            </div>
                         </div>
                    </div>
                </div>
        </div>
        <div class="col-sm-12 last-login">
                <h3>Last Logged in Users</h3>
            <div class="col-sm-12 nopadding">
                <ul>
                    <li>
                        <div class="col-sm-2 nopadding">
                            <img src="~/Content/themes/base/images/login-user.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-10">
                            <h5>User Name</h5>
                            <p>Administrator</p>
                            <span>Last Logged In: 04/20/2015 8:40PM</span>
                        </div>
                    </li>
                    <li>
                        <div class="col-sm-2 nopadding">
                            <img src="~/Content/themes/base/images/login-user.jpg" class="img-responsive" />
                        </div>
                        <div class="col-sm-10">
                            <h5>User Name</h5>
                            <p>Administrator</p>
                            <span>Last Logged In: 04/20/2015 8:40PM</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>*@